Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

realtek: rtl931x: Switch LED init to dev_* message helper
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl930x: Clean up LED set initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl930x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl931x: Cleanup LED set initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Add support for active-low LEDs
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

udebug: update to Git HEAD (2025-08-17)
  package/libs/udebug/Makefile
Labels: core packages

udebug: update to Git HEAD (2025-08-24)
  package/libs/udebug/Makefile
Labels: core packages

udebug: update to Git HEAD (2025-08-15)
  package/libs/udebug/Makefile
Labels: core packages

kernel: bump 6.12 to 6.12.41
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0521-mm-vmscan-Maintain-TLB-coherency-in-LRU-code.patch
  target/linux/generic/backport-6.12/410-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.12/410-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.12/410-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.12/410-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.12/410-05-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.12/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.12
Labels: target/bcm27xx, kernel

kernel: bump 6.12 to 6.12.42
  target/linux/ath79/patches-6.12/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.12/950-0196-staging-fbtft-Add-support-for-display-variants.patch
  target/linux/bcm27xx/patches-6.12/950-0330-pps-Compatibility-hack-should-be-X86-specific.patch
  target/linux/generic/backport-6.12/612-12-v6.17-net-dsa-b53-fix-unicast-multicast-flooding-on-BCM5325.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.12/621-proc-fix-missing-pde_set_flags.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/650-net-pppoe-implement-GRO-support.patch
  target/linux/generic/pending-6.12/655-increase_skb_pad.patch
  target/linux/generic/pending-6.12/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.12/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
Labels: target/ath79, target/bcm27xx, target/ipq40xx, kernel

generic/config-6.12: add new option
  target/linux/generic/config-6.12
Labels: kernel

realtek: rtl93xx: Trap LLDP management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: dsa: Fix prefix for trapping functions
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: rtl931x: Register support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl930x: Add support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

include: make APK .list files even more reproducible
  include/package-pack.mk
Labels: build/scripts/tools

rockchip: refresh dts for Radxa ROCK 5A
  target/linux/rockchip/patches-6.12/025-v6.13-arm64-dts-rockchip-Split-up-RK3588-s-PCIe-pinctrls.patch
  target/linux/rockchip/patches-6.12/403-01-v6.13-arm64-dts-rockchip-add-and-enable-gpu-node-for-Radxa.patch
  target/linux/rockchip/patches-6.12/403-02-v6.13-arm64-dts-rockchip-Enable-HDMI0-on-rock-5a.patch
  target/linux/rockchip/patches-6.12/403-03-v6.13-arm64-dts-rockchip-adapt-regulator-nodenames-to-pref.patch
  target/linux/rockchip/patches-6.12/403-90-arm64-dts-rockchip-Update-LED-properties-for-Radxa-Rock-5A.patch
  target/linux/rockchip/patches-6.12/403-91-arm64-dts-rockchip-lower-mmc-speed-for-Radxa-Rock-5A.patch
  target/linux/rockchip/patches-6.12/403-98-arm64-dts-rockchip-Revert-dts-for-Radxa-ROCK-5A.patch
Labels: target/rockchip

generic: 6.12: backport gated-fixed-clk driver
  target/linux/generic/backport-6.12/801-01-v6.13-dt-bindings-clocks-add-binding-for-gated-fixed-clock.patch
  target/linux/generic/backport-6.12/801-02-v6.13-clk-clk-gpio-update-documentation-for-gpio-gate-cloc.patch
  target/linux/generic/backport-6.12/801-03-v6.13-clk-clk-gpio-use-dev_err_probe-for-gpio-get-failure.patch
  target/linux/generic/backport-6.12/801-04-v6.13-clk-clk-gpio-add-driver-for-gated-fixed-clocks.patch
Labels: kernel

rockchip: refresh/add dtses for Radxa ROCK 5B/5B+/5T
  target/linux/rockchip/patches-6.12/118-arm64-dts-rockchip-Update-LED-properties-for-Radxa-Ro.patch
  target/linux/rockchip/patches-6.12/119-arm64-dts-rockchip-lower-mmc-speed-for-Radxa-Rock-5B.patch
  target/linux/rockchip/patches-6.12/404-01-v6.13-arm64-dts-rockchip-Switch-to-hp-det-gpios.patch
  target/linux/rockchip/patches-6.12/404-02-v6.13-arm64-dts-rockchip-Enable-HDMI0-on-rock-5b.patch
  target/linux/rockchip/patches-6.12/404-03-v6.13-arm64-dts-rockchip-adapt-regulator-nodenames-to-pref.patch
  target/linux/rockchip/patches-6.12/404-04-v6.13-arm64-dts-rockchip-rename-rfkill-label-for-Radxa-ROC.patch
  target/linux/rockchip/patches-6.12/404-05-v6.15-arm64-dts-rockchip-Fix-label-name-of-hdptxphy-for-RK.patch
  target/linux/rockchip/patches-6.12/404-06-v6.15-arm64-dts-rockchip-Enable-HDMI1-on-rock-5b.patch
  target/linux/rockchip/patches-6.12/404-07-v6.15-arm64-dts-rockchip-Enable-HDMI-audio-outputs-for-Roc.patch
  target/linux/rockchip/patches-6.12/404-08-v6.15-arm64-dts-rockchip-Add-GPU-power-domain-regulator-de.patch
  target/linux/rockchip/patches-6.12/404-09-v6.15-arm64-dts-rockchip-Enable-HDMI-receiver-on-rock-5b.patch
  target/linux/rockchip/patches-6.12/404-10-v6.16-arm64-dts-rockchip-Add-vcc-supply-to-SPI-flash-on-rk.patch
  target/linux/rockchip/patches-6.12/404-11-v6.16-arm64-dts-rockchip-move-rock-5b-to-include-file.patch
  target/linux/rockchip/patches-6.12/404-12-v6.16-arm64-dts-rockchip-add-Rock-5B.patch
  target/linux/rockchip/patches-6.12/404-13-v6.17-arm64-dts-rockchip-rename-rk3588-rock-5b.dtsi.patch
  target/linux/rockchip/patches-6.12/404-14-v6.17-arm64-dts-rockchip-move-common-ROCK-5B-nodes-into-ow.patch
  target/linux/rockchip/patches-6.12/404-15-v6.17-arm64-dts-rockchip-add-ROCK-5T-device-tree.patch
  target/linux/rockchip/patches-6.12/404-16-v6.17-arm64-dts-rockchip-fix-USB-on-RADXA-ROCK-5T.patch
  target/linux/rockchip/patches-6.12/404-17-v6.17-arm64-dts-rockchip-fix-second-M.2-slot-on-ROCK-5T.patch
  target/linux/rockchip/patches-6.12/404-90-arm64-dts-rockchip-Update-LED-properties-for-Radxa-ROCK-5B.patch
  target/linux/rockchip/patches-6.12/404-98-arm64-dts-rockchip-Revert-dts-for-Radxa-ROCK-5B-5BP-5T.patch
  target/linux/rockchip/patches-6.12/404-99-arm64-dts-rockchip-Makefile-Add-Radxa-ROCK-5BP-5T.patch
Labels: target/rockchip

rockchip: add dts for Radxa ROCK 5C/5C Lite
  target/linux/rockchip/patches-6.12/406-01-v6.13-arm64-dts-rockchip-add-Radxa-ROCK-5C.patch
  target/linux/rockchip/patches-6.12/406-02-v6.15-arm64-dts-rockchip-Add-finer-grained-PWM-states-for-.patch
  target/linux/rockchip/patches-6.12/406-03-v6.15-arm64-dts-rockchip-Enable-automatic-fan-control-on-R.patch
  target/linux/rockchip/patches-6.12/406-04-v6.15-arm64-dts-rockchip-switch-Rock-5C-to-PMIC-based-TSHU.patch
  target/linux/rockchip/patches-6.12/406-90-arm64-dts-rockchip-Update-LED-properties-for-Radxa-ROCK-5C.patch
  target/linux/rockchip/patches-6.12/406-98-arm64-dts-rockchip-Revert-dts-for-Radxa-ROCK-5C.patch
  target/linux/rockchip/patches-6.12/406-99-arm64-dts-rockchip-Makefile-Add-Radxa-ROCK-5C.patch
Labels: target/rockchip

uboot-rockchip: add support for Rockchip RK3582
  package/boot/uboot-rockchip/patches/110-rockchip-Add-initial-RK3582-support.patch
  package/boot/uboot-rockchip/patches/111-rockchip-rk3588-generic-Enable-support-for-RK3582.patch
  package/boot/uboot-rockchip/patches/112-rockchip-rk3588s-rock-5c-Add-support-for-ROCK-5C-Lit.patch
Labels: target/rockchip, core packages

rockchip: add dts for Radxa E52C
  target/linux/rockchip/patches-6.12/407-01-v6.14-arm64-dts-rockchip-Add-Radxa-E52C.patch
  target/linux/rockchip/patches-6.12/407-90-arm64-dts-rockchip-Update-LED-properties-for-Radxa-E52C.patch
  target/linux/rockchip/patches-6.12/407-99-arm64-dts-rockchip-Makefile-Add-Radxa-E52C.patch
Labels: target/rockchip

uboot-rockchip: prepare for Rockchip RK3582
  package/boot/uboot-rockchip/Makefile
Labels: target/rockchip, core packages

rockchip: refresh dts for Radxa ROCK 5 ITX/ITX+
  target/linux/rockchip/patches-6.12/405-01-v6.13-arm64-dts-rockchip-Switch-to-hp-det-gpios.patch
  target/linux/rockchip/patches-6.12/405-02-v6.13-arm64-dts-rockchip-fix-the-pcie-refclock-oscillator-.patch
  target/linux/rockchip/patches-6.12/405-03-v6.14-arm64-dts-rockchip-slow-down-emmc-freq-for-rock-5-it.patch
  target/linux/rockchip/patches-6.12/405-90-arm64-dts-rockchip-Update-LED-properties-for-Radxa-ROCK-5-.patch
Labels: target/rockchip

rockchip: add HATs/M.2 E key module support for Radxa ROCK 5A
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

rockchip: add support for Radxa ROCK 5T
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

rockchip: add support for Radxa ROCK 5C/5C Lite
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

rockchip: add M.2 M/E key modules support for Radxa ROCK 5B
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

rockchip: add support for Radxa ROCK 5 ITX/ITX+
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

rockchip: add support for Radxa ROCK 5B+
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

rockchip: add support for Radxa E52C
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/01_leds
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

Use the GitHub repository as the default feed url
  feeds.conf.default
Labels: none

Use the GitHub repository as the default feed url
  feeds.conf.default
Labels: none

mediatek: Add support for Acer Predator Connect W6x Ubootmod
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-acer_predator-w6x.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-stock.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

qualcommax: migrate wifi configuration (ath10k) device paths for 6.12 kernel
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/qualcommax

hostapd: update to Git HEAD (2025-08-26)
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/010-mesh-Allow-DFS-channels-to-be-selected-if-dfs-is-ena.patch
  package/network/services/hostapd/patches/011-mesh-use-deterministic-channel-on-channel-switch.patch
  package/network/services/hostapd/patches/021-fix-sta-add-after-previous-connection.patch
  package/network/services/hostapd/patches/030-Revert-nl80211-Accept-a-global-nl80211-event-to-a-br.patch
  package/network/services/hostapd/patches/051-nl80211-add-extra-ies-only-if-allowed-by-driver.patch
  package/network/services/hostapd/patches/140-tests-Makefile-make-run-tests-with-CONFIG_TLS.patch
  package/network/services/hostapd/patches/200-multicall.patch
  package/network/services/hostapd/patches/211-ctrl-make-WNM_AP-functions-dependant-on-CONFIG_AP.patch
  package/network/services/hostapd/patches/252-disable_ctrl_iface_mib.patch
  package/network/services/hostapd/patches/301-mesh-noscan.patch
  package/network/services/hostapd/patches/310-rescan_immediately.patch
  package/network/services/hostapd/patches/341-mesh-ctrl-iface-channel-switch.patch
  package/network/services/hostapd/patches/370-preserve_radio_mask.patch
  package/network/services/hostapd/patches/460-wpa_supplicant-add-new-config-params-to-be-used-with.patch
  package/network/services/hostapd/patches/463-add-mcast_rate-to-11s.patch
  package/network/services/hostapd/patches/464-fix-mesh-obss-check.patch
  package/network/services/hostapd/patches/600-ubus_support.patch
  package/network/services/hostapd/patches/601-ucode_support.patch
  package/network/services/hostapd/patches/730-ft_iface.patch
  package/network/services/hostapd/patches/740-snoop_iface.patch
  package/network/services/hostapd/patches/760-dynamic_own_ip.patch
  package/network/services/hostapd/patches/763-radius-wispr.patch
  package/network/services/hostapd/patches/780-Implement-APuP-Access-Point-Micro-Peering.patch
  package/network/services/hostapd/patches/803-hostapd-fix-80211be-build.patch
Labels: core packages

hostapd: fix wds ap on single-wiphy devices
  package/network/services/hostapd/patches/060-nl80211-fix-reporting-spurious-frame-events.patch
Labels: core packages

ath79: qcn5502: use led-sources for WMAC
  target/linux/ath79/dts/qcn5502_asus_rt-ac59u.dtsi
  target/linux/ath79/dts/qcn5502_tplink_archer-a9-v6.dts
Labels: target/ath79

mt76: update to Git HEAD (2025-08-27)
  package/kernel/mt76/Makefile
Labels: core packages
