Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

self-notes otg
  SideBar/otg-notes.txt
Labels: none

added board info on led page
  target/linux/rockchip/armv8/base-files/etc/board.d/01_leds
Labels: target/rockchip

more config tweaks
  SideBar/13july2025Diff.config
  SideBar/13july2025Full.config
Labels: none

mediatek: filogic: add Teltonika RUTC50 support
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981a-teltonika-rutc50.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

qualcommax: Add support for Wallys DR5018
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

qualcommax: add led bindings to Wallys DR5018
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
Labels: target/qualcommax, kernel

qualcommax: add gpio & input bindings to Wallys DR5018
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
Labels: target/qualcommax, kernel

tweaking mic codec
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

typo removal
  target/linux/rockchip/armv8/base-files/etc/board.d/01_leds
Labels: target/rockchip

config
  SideBar/13july2025Diff-with-audio-framebuff.config
  SideBar/13july2025Full-with-audioFrameBuff.config
Labels: none

qualcommax: move my boards nss bindings to a custom file (for include)
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-nss.dtsi
Labels: target/qualcommax, kernel

qualcommax: fixup copyrights to the correct companies
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-nss.dtsi
Labels: target/qualcommax, kernel

scripts: add decode dtb bytes script
  scripts/decode-dtb-bytes.sh
Labels: build/scripts/tools

adding bluetooth pin lines
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

patch sync, kernel to uboot
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
Labels: target/rockchip, core packages

Fix the missing dependecy of 'mqqtled'
  package/python3-netifaces/Makefile
Labels: core packages

scripts: decode-dtb-bytes.sh: add howto for showcase
  scripts/decode-dtb-bytes.sh
Labels: build/scripts/tools

qualcommax: remove more defines in wallys dr5018 dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
Labels: target/qualcommax, kernel

qualcommax: add Wallys DR5018 leds (01_leds)
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/01_leds
Labels: target/qualcommax

qualcommax: Fixup 'thermal-zones' and decode dtb strings
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
Labels: target/qualcommax, kernel

ucode: update ubus/uloop exception handling patches
  package/utils/ucode/Makefile
  package/utils/ucode/patches/100-vm-export-function-for-converting-exception-to-ucode.patch
  package/utils/ucode/patches/101-uloop-add-guard-function.patch
  package/utils/ucode/patches/102-ubus-add-guard-function.patch
Labels: core packages

prereq-build: add support for python3.13
  include/prereq-build.mk
Labels: build/scripts/tools

qualcommax: update config-default for ipq50xx
  target/linux/qualcommax/ipq50xx/config-default
Labels: target/qualcommax, kernel

qualcommax: ipq50xx: add a few init.d scripts
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/gpio_switch
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/led
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/qca-nss-drv
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/qca-nss-ecm
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/qca-nss-pbuf
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/skb_recycler
Labels: target/qualcommax

mwan3: add usb0 configuration if enabled/plugged
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/iface/99-mwan3-usb0
Labels: target/qualcommax

projectsmirrors: add kernel mirrors tsinghua
  scripts/projectsmirrors.json
Labels: build/scripts/tools

qualcommax: add some binaries for ipq50xx
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/ecm_dump.sh
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/nss_stats
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/quectel-mbim-proxy
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/quectel-qmi-proxy
Labels: target/qualcommax

ucode: update ubus/uloop exception handling patches
  package/utils/ucode/Makefile
  package/utils/ucode/patches/100-vm-export-function-for-converting-exception-to-ucode.patch
  package/utils/ucode/patches/101-uloop-add-guard-function.patch
  package/utils/ucode/patches/102-ubus-add-guard-function.patch
Labels: core packages

qualcommax: add 'Config-ipq' menuconfig (if qualcommax is defined)
  Config.in
  config/Config-ipq.in
Labels: none

qualcommax: add skbrecyvler files to net
  target/linux/qualcommax/files/net/core/skbuff_debug.c
  target/linux/qualcommax/files/net/core/skbuff_debug.h
  target/linux/qualcommax/files/net/core/skbuff_notifier.c
  target/linux/qualcommax/files/net/core/skbuff_notifier.h
  target/linux/qualcommax/files/net/core/skbuff_recycle.c
  target/linux/qualcommax/files/net/core/skbuff_recycle.h
Labels: target/qualcommax, kernel

Update README
  README
Labels: none

mediatek: add support for Arcadyan WG620443(-TC)
  package/base-files/files/lib/functions/system.sh
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-arcadyan-wg620443.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

qoriq: refresh 6.12 kernel config files
  target/linux/qoriq/config-6.12
Labels: target/qoriq, kernel

qoriq: enable 6.12 testing kernel
  target/linux/qoriq/Makefile
Labels: target/qoriq

kernel/qoriq: Restore kernel files for v6.6
  target/linux/qoriq/config-6.6
Labels: target/qoriq, kernel

kernel/qoriq: Create kernel files for v6.12 (from v6.6)
  target/linux/qoriq/config-6.12
Labels: target/qoriq, kernel

intel-microcode: create early load microcode image
  package/firmware/intel-microcode/Makefile
Labels: core packages

intel-microcode: split into 32/64-bit
  package/firmware/intel-microcode/Makefile
Labels: core packages

preinit: delete lateloading hook
  target/linux/x86/base-files/lib/preinit/02_load_x86_ucode
Labels: target/x86

x86: grow size of kernel partition see WARNING
  config/Config-images.in
Labels: none
