Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

omap: update kernel 6.12 config
  target/linux/omap/config-6.12
Labels: target/omap, kernel

omap: enable 6.12 testing kernel
  target/linux/omap/Makefile
Labels: target/omap

omap: update kernel 6.6 config
  target/linux/omap/config-6.6
Labels: target/omap, kernel

bcm53xx: add support for ASUS RT-AC3200 and RT-AC5300
  package/utils/nvram/Makefile
  package/utils/nvram/files/nvram-bcm53xx.init
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages

file move
  SideBar/ConfigArchive/10July2025-Diffconfig.config
  SideBar/ConfigArchive/10July2025-FullConfig.config
  SideBar/ConfigArchive/1June2025-1942-diffconfig.config
  SideBar/ConfigArchive/1June2025-1942-fullconfig.config
  SideBar/ConfigArchive/20June2025-Dffconfig.config
  SideBar/ConfigArchive/3June2025-DiffConfig.config
  SideBar/ConfigArchive/3June2025-fullConfig.config
  SideBar/ConfigArchive/7June-lastFullConfig.config
  SideBar/ConfigArchive/7June2025-diffconfig.config
  SideBar/ConfigArchive/7June2025-fullconfig.config
  SideBar/ConfigArchive/8July2025-DiffConfig-later.config
  SideBar/ConfigArchive/8July2025-DiffConfig-laterlater.config
  SideBar/ConfigArchive/8July2025-DiffConfig.config
  SideBar/ConfigArchive/8July2025-FullConfig-later.config
  SideBar/ConfigArchive/8July2025-FullConfig-laterlater.conf
  SideBar/ConfigArchive/8July2025-FullConfig.config
  SideBar/ConfigArchive/9July2025-Diffconfig.config
  SideBar/ConfigArchive/9July2025-FullConfig.config
  SideBar/ConfigArchive/config.config.20June2025
  SideBar/ConfigArchive/config.diffconfig.20June2025
Labels: none

added new test configs
  SideBar/13july2025Diff.config
  SideBar/13july2025Full.config
Labels: none

Update feeds.conf.default
  feeds.conf.default
Labels: none

Update feeds.conf.default
  feeds.conf.default
Labels: none

manual merge of dts file
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

updated configs
  SideBar/13july2025Diff.config
  SideBar/13july2025Full.config
Labels: none

Create siflower
  target/linux/siflower
Labels: none

generic: 6.12: add new config symbols
  target/linux/armsr/config-6.12
  target/linux/generic/config-6.12
  target/linux/imx/config-6.12
  target/linux/mediatek/filogic/config-6.12
  target/linux/mediatek/mt7622/config-6.12
  target/linux/mvebu/config-6.12
  target/linux/qualcommax/config-6.12
  target/linux/qualcommbe/config-6.12
  target/linux/rockchip/armv8/config-6.12
  target/linux/stm32/stm32mp1/config-6.12
  target/linux/sunxi/config-6.12
Labels: target/armsr, target/imx, target/qualcommax, target/qualcommbe, target/mediatek, target/mvebu, target/rockchip, target/stm32, target/sunxi, kernel

qualcommbe: remove useless cpu erratum
  target/linux/qualcommbe/config-6.12
Labels: target/qualcommbe, kernel

qualcommax: remove useless cpu erratum
  target/linux/qualcommax/config-6.12
Labels: target/qualcommax, kernel

ltq-*-app: correctly report downstream band borders
  package/network/config/ltq-adsl-app/Makefile
  package/network/config/ltq-vdsl-vr11-app/Makefile
  package/network/config/ltq-vdsl-vr9-app/Makefile
  package/network/config/ltq-vdsl-vr9-app/src/src/dsl_cpe_ubus.c
Labels: core packages

patch typo
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

kernel: bump 5.15 to 5.15.187
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0070-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0161-drm-v3d-Clock-V3D-down-when-not-in-use.patch
  target/linux/bcm27xx/patches-5.15/950-0173-drm-v3d-Delete-pm_runtime-support.patch
  target/linux/bcm27xx/patches-5.15/950-0179-drm-v3d-Plug-dma_fence-leak.patch
  target/linux/bcm27xx/patches-5.15/950-0184-v3d_gem-Kick-the-clock-so-firmware-knows-we-are-usin.patch
  target/linux/generic/hack-5.15/726-net-eth-dpaa2-eth-do-not-hold-rtnl_lock.patch
  target/linux/mediatek/patches-5.15/330-snand-mtk-bmt-support.patch
  target/linux/x86/config-5.15
Labels: target/bcm27xx, target/mediatek, target/x86, kernel, build/scripts/tools

kernel: bump 5.15 to 5.15.186
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0067-fbdev-add-FBIOCOPYAREA-ioctl.patch
  target/linux/bcm27xx/patches-5.15/950-0099-hid-Reduce-default-mouse-polling-interval-to-60Hz.patch
  target/linux/bcm27xx/patches-5.15/950-0119-media-tc358743-Increase-FIFO-level-to-374.patch
  target/linux/bcm27xx/patches-5.15/950-0120-media-tc358743-fix-connected-active-CSI-2-lane-repor.patch
  target/linux/bcm27xx/patches-5.15/950-0121-media-tc358743-Add-support-for-972Mbit-s-link-freq.patch
  target/linux/bcm27xx/patches-5.15/950-0122-media-tc358743-Check-I2C-succeeded-during-probe.patch
  target/linux/bcm27xx/patches-5.15/950-0128-media-tc358743-Return-an-appropriate-colorspace-from.patch
  target/linux/bcm27xx/patches-5.15/950-0153-usbhid-call-usb_fixup_endpoint-after-mangling-interv.patch
  target/linux/bcm27xx/patches-5.15/950-0201-media-videodev2.h-Add-a-format-for-column-YUV4-2-0-m.patch
  target/linux/bcm27xx/patches-5.15/950-0211-media-uapi-v4l2-core-Add-sensor-ancillary-data-V4L2-.patch
  target/linux/bcm27xx/patches-5.15/950-0219-media-uapi-v4l2-core-Add-ISP-statistics-output-V4L2-.patch
  target/linux/bcm27xx/patches-5.15/950-0226-media-i2c-tc358743-Fix-fallthrough-warning.patch
  target/linux/bcm27xx/patches-5.15/950-0260-media-Add-a-pixel-format-for-MIPI-packed-12bit-luma-.patch
  target/linux/bcm27xx/patches-5.15/950-0261-media-Add-a-pixel-format-for-MIPI-packed-14bit-luma-.patch
  target/linux/bcm27xx/patches-5.15/950-0278-media-i2c-tc358743-Only-allow-supported-pixel-fmts-i.patch
  target/linux/bcm27xx/patches-5.15/950-0371-clk-raspberrypi-Also-support-HEVC-clock.patch
  target/linux/bcm27xx/patches-5.15/950-0455-media-i2c-tc358743-Fix-compiler-warning.patch
  target/linux/bcm27xx/patches-5.15/950-0464-videodev2.h-add-V4L2_CTRL_FLAG_DYNAMIC_ARRAY.patch
  target/linux/bcm27xx/patches-5.15/950-0548-clk-raspberrypi-Support-VEC-clock.patch
  target/linux/bcm27xx/patches-5.15/950-0591-clk-bcm-rpi-Add-the-BCM283x-pixel-clock.patch
  target/linux/bcm27xx/patches-5.15/950-0858-clk-bcm-rpi-Add-variant-structure.patch
  target/linux/bcm27xx/patches-5.15/950-0859-clk-bcm-rpi-Set-a-default-minimum-rate.patch
  target/linux/bcm27xx/patches-5.15/950-0880-Revert-fbdev-Fix-unregistering-of-framebuffers-witho.patch
  target/linux/bcm27xx/patches-5.15/950-0881-Revert-fbdev-Hot-unplug-firmware-fb-devices-on-force.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/532-jffs2_eofdetect.patch
  target/linux/ipq806x/patches-5.15/119-v6.0-02-ARM-dts-qcom-add-rpmcc-missing-clocks-for-apq-ipq806.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/ramips/patches-5.15/810-uvc-add-iPassion-iP2970-support.patch
  target/linux/realtek/patches-5.15/800-net-mdio-support-hardware-assisted-indirect-access.patch
Labels: target/ath79, target/bcm27xx, target/ipq806x, target/ramips, target/realtek, kernel, build/scripts/tools

Delete target/linux/siflower
  target/linux/siflower
Labels: none

Create 22
  target/linux/siflower/22
Labels: target/siflower

Delete target/linux/siflower/22
  target/linux/siflower/22
Labels: target/siflower

Create zhangshi
  target/linux/siflower/zhangshi
Labels: target/siflower

Add files via upload
  target/linux/siflower/base-files/bin/date_output.sh
  target/linux/siflower/base-files/bin/memtester
  target/linux/siflower/base-files/bin/memtester-multi.sh
  target/linux/siflower/base-files/bin/storage_test.sh
  target/linux/siflower/base-files/etc/atetools/ate_cmd
  target/linux/siflower/base-files/etc/atetools/ate_init
  target/linux/siflower/base-files/etc/atetools/ate_init_server
  target/linux/siflower/base-files/etc/atetools/ate_init_server.sh
  target/linux/siflower/base-files/etc/atetools/ate_server
  target/linux/siflower/base-files/etc/atetools/gain_offset.txt
  target/linux/siflower/base-files/etc/atetools/power_save.txt
  target/linux/siflower/base-files/etc/atetools/power_save_ant1.txt
  target/linux/siflower/base-files/etc/atetools/power_save_ant2.txt
  target/linux/siflower/base-files/etc/atetools/sfwifi_ate
  target/linux/siflower/base-files/etc/config/style
  target/linux/siflower/base-files/etc/rc.local
  target/linux/siflower/base-files/usr/bin/ate_cmd
  target/linux/siflower/base-files/usr/bin/ate_init
  target/linux/siflower/base-files/usr/bin/ate_init_server
  target/linux/siflower/base-files/usr/bin/ate_init_server.sh
  target/linux/siflower/base-files/usr/bin/ate_server
  target/linux/siflower/base-files/usr/bin/hnat_enable.sh
  target/linux/siflower/base-files/usr/bin/hnat_read.sh
  target/linux/siflower/base-files/usr/bin/power_save.txt
  target/linux/siflower/base-files/usr/bin/power_save_ant1.txt
  target/linux/siflower/base-files/usr/bin/power_save_ant2.txt
  target/linux/siflower/base-files/usr/bin/sfwifi_ate
Labels: target/siflower

Delete target/linux/siflower/zhangshi
  target/linux/siflower/zhangshi
Labels: target/siflower

Add files via upload
  target/linux/siflower/Makefile
  target/linux/siflower/image/Makefile
  target/linux/siflower/image/nand.mk
  target/linux/siflower/image/sign_image/keys/dev.crt
  target/linux/siflower/image/sign_image/keys/dev.key
  target/linux/siflower/image/sign_image/mkimage
  target/linux/siflower/image/sign_image/readme
  target/linux/siflower/image/sign_image/sign.its
  target/linux/siflower/image/sign_image/sign.sh
  target/linux/siflower/sf16a18_evb_v5_fullmask_def.config
  target/linux/siflower/sf19a28_ac28_fullmask_def.config
  target/linux/siflower/sf19a28_evb_demo_fullmask_def.config
  target/linux/siflower/sf19a28_evb_fullmask_def.config
  target/linux/siflower/sf19a28_gl_sf1200_fullmask_def.config
  target/linux/siflower/sf19a28_gl_sf1200_fullmask_rel.config
  target/linux/siflower/sf19a28_gl_sft1200_fullmask_def.config
  target/linux/siflower/sf19a28_nf_fullmask_def.config
  target/linux/siflower/sf19a28_rep_fullmask_def.config
Labels: target/siflower

Add files via upload
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/bin/config_check.sh
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/bin/sf_reset.sh
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/board.d/01_network
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/board.d/99-default_network
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/config/basic_setting
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/config/btn_ctrl_cfg
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/config/ddns
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/config/fstab
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/config/sicloud
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/config/siwifi
  target/linux/siflower/sf16a18-fullmask/base-files-SF16A18-EVB-V5/etc/routerkey
  target/linux/siflower/sf16a18-fullmask/config-4.14
  target/linux/siflower/sf16a18-fullmask/config-4.14_evb_v5
  target/linux/siflower/sf16a18-fullmask/profiles/sf16a18-evb-v2.mk
  target/linux/siflower/sf16a18-fullmask/profiles/sf16a18-evb-v5.mk
  target/linux/siflower/sf16a18-fullmask/target.mk
Labels: target/siflower, kernel

opensbi: update tarball hash compressed by the zstd 1.5.7
  package/boot/opensbi/Makefile
Labels: target/d1, target/sifiveu, core packages

uboot-tools: envtools: ipq95xx: use common function
  package/boot/uboot-tools/uboot-envtools/files/qualcommbe_ipq95xx
Labels: core packages

putting in led drophtroew value
  target/linux/rockchip/armv8/base-files/etc/board.d/01_leds
Labels: target/rockchip

realtek: rtl931x: fix setting number of leds per port
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

uboot-mediatek: add USB bootmenu for Zyxel EX5601
  package/boot/uboot-mediatek/patches/439-add-zyxel_ex5601-t0.patch
Labels: target/mediatek, core packages

synced kernel and uboot patches
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
Labels: target/rockchip, core packages

mediatek: filogic: mt7986: fix SPI driving for NAND and increase to 52MHz on ZyXEL EX5601
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
Labels: target/mediatek

uboot-tegra: disable mkeficapsule build
  package/boot/uboot-tegra/Makefile
Labels: target/tegra, core packages

mediatek: add support for ipTIME AX3000SM
  target/linux/mediatek/dts/mt7981b-iptime-ax3000sm.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: make tty count for 8250 configurable
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

mediatek: filogic: D-Link M30/M60: include initramfs in recovery
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

hostapd: explicitly initialize wpabuf->flags to 0 in wpabuf_alloc() This avoids warnings such as: warning: 'free' called on pointer '_36' with nonzero offset 32 [-Wfree-nonheap-object]
  package/network/services/hostapd/patches/260-fix-wpabuf-free.patch
Labels: core packages

overriding dts for usb xhci 0 and 1 regarding otg
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

updated configs
  SideBar/13july2025Diff.config
  SideBar/13july2025Full.config
Labels: none

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
