Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

uboot-mvebu: update to version 2025.07
  package/boot/uboot-mvebu/Makefile
  package/boot/uboot-mvebu/patches/102-arm-mvebu-add-support-for-MikroTik-RB5009UG-S-IN.patch
Labels: target/mvebu, core packages

qualcommax: ipq807x: add EMC2305 fan controller support for Xiaomi AX9000
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax9000.dts
  target/linux/qualcommax/image/ipq807x.mk
Labels: target/qualcommax, kernel

Revert "kernel: bump 6.12 to 6.12.40"
  target/linux/bcm27xx/patches-6.12/950-0054-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0325-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.12/950-0758-mmc-bcm2835-Add-downstream-overclocking-support.patch
  target/linux/generic/hack-6.12/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/630-packet_socket_type.patch
  target/linux/generic/pending-6.12/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.12/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.12/680-net-fix-TCP-UDP-fraglist-GRO.patch
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/generic/pending-6.12/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
  target/linux/ramips/patches-6.12/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.12/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, target/ramips, target/realtek, kernel

Revert "kernel: bump 6.6 to 6.6.100"
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

kernel: nvmem: replace u-boot-env endianness workaround with accepted fix
  target/linux/generic/backport-6.12/825-v6.16-nvmem-u-boot-env-remove-crc32-endianness-conversion.patch
  target/linux/generic/backport-6.6/825-v6.16-nvmem-u-boot-env-remove-crc32-endianness-conversion.patch
  target/linux/generic/pending-6.12/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
  target/linux/generic/pending-6.6/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
Labels: kernel

kernel: bump 6.6 to 6.6.100
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

kernel: move accepted net offload patch to backports
  target/linux/generic/backport-6.12/680-v6.16-net-fix-TCP-UDP-fraglist-GRO.patch
Labels: kernel

realtek: rtl930x: enable SMP
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

mediatek: add kernel cmdline replacement hack
  target/linux/mediatek/patches-6.12/902-arm64-cmdline-replacement.patch
Labels: target/mediatek

mediatek: filogic: add support for ipTIME AX3000M
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-iptime-ax3000m.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: bump 6.12 to 6.12.40
  target/linux/bcm27xx/patches-6.12/950-0054-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0325-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.12/950-0758-mmc-bcm2835-Add-downstream-overclocking-support.patch
  target/linux/generic/backport-6.12/680-v6.16-net-fix-TCP-UDP-fraglist-GRO.patch
  target/linux/generic/backport-6.12/825-v6.16-nvmem-u-boot-env-remove-crc32-endianness-conversion.patch
  target/linux/generic/hack-6.12/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/630-packet_socket_type.patch
  target/linux/generic/pending-6.12/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.12/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/ramips/patches-6.12/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.12/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, target/ramips, target/realtek, kernel

tools: gnulib: do not cache C standard option test results
  tools/gnulib/patches/190-stdc-m4-no-cache.patch
Labels: build/scripts/tools

realtek: mdio: RTL838x: create new SerDes phy register layout
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

kernel: kmod-fs-nfs-v4: use legacy client tracking
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

mediatek: filogic: build initramfs.trx for ASUS RT-AX59U
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ipset: update to 7.24
  package/network/utils/ipset/Makefile
Labels: core packages

Add kmod-sfc-siena for support of SolarFlare SFC5000/6000 series chipsets
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

build: stricter hash validation on download
  include/download.mk
Labels: build/scripts/tools

netifd: update to Git HEAD (2025-08-02)
  package/network/config/netifd/Makefile
  package/network/config/netifd/files/lib/netifd/main.uc
  package/network/config/netifd/files/lib/netifd/utils.uc
  package/network/config/wifi-scripts/files/lib/netifd/wireless-device.uc
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
Labels: core packages

wifi-scripts: ucode: add MLO interface support
  package/network/config/wifi-scripts/files-ucode/lib/netifd/wireless/mac80211.sh
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/hostapd.uc
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
  package/network/config/wifi-scripts/files/usr/share/hostap/common.uc
Labels: core packages

hostapd: fix bss config reload while in DFS state
  package/network/services/hostapd/src/src/ap/ucode.c
Labels: core packages

hostapd: add support for MLO interfaces in ucode
  package/network/config/wifi-scripts/files/usr/share/hostap/common.uc
  package/network/services/hostapd/files/hostapd.uc
  package/network/services/hostapd/patches/190-hostapd-Fix-hostapd-crash-if-setup-a-iface-with-.patch
  package/network/services/hostapd/patches/191-hostapd-add-support-for-specifying-the-link-id-in-th.patch
  package/network/services/hostapd/patches/300-noscan.patch
  package/network/services/hostapd/patches/600-ubus_support.patch
  package/network/services/hostapd/patches/601-ucode_support.patch
  package/network/services/hostapd/patches/701-reload_config_inline.patch
  package/network/services/hostapd/patches/720-iface_max_num_sta.patch
  package/network/services/hostapd/patches/770-radius_server.patch
  package/network/services/hostapd/patches/780-Implement-APuP-Access-Point-Micro-Peering.patch
  package/network/services/hostapd/src/src/ap/ucode.c
Labels: core packages

hostapd: maintain ucode hostapd.bss list per interface
  package/network/services/hostapd/files/hostapd.uc
  package/network/services/hostapd/src/src/ap/ucode.c
Labels: core packages

hostapd: remove unnecessary ucv_gc calls
  package/network/services/hostapd/src/src/ap/ucode.c
  package/network/services/hostapd/src/src/utils/ucode.c
  package/network/services/hostapd/src/wpa_supplicant/ucode.c
Labels: core packages

wifi-scripts: ucode: fix ssid handling
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/common.uc
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
Labels: core packages

ramips: mt7620: dwr92x: add 464xlat pkg
  target/linux/ramips/image/mt7620.mk
Labels: target/ramips

kernel: bump 6.6 to 6.6.101
  target/linux/generic/backport-6.6/413-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.6/413-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.6/413-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.6/413-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.6/414-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.6/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.6
Labels: kernel

realtek: RTL839x: reorganize mdio functions and SerDes register layout
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl839x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

build: do not set disk signature in PMBR of GPT
  scripts/gen_image_generic.sh
Labels: build/scripts/tools

tools: gnulib: do not cache C standard option test results
  tools/gnulib/patches/190-stdc-m4-no-cache.patch
Labels: build/scripts/tools

tools: firmware-utils: update to Git HEAD (2025-08-03)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

kernel: improve pppoe performance
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.6/624-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/pending-6.12/650-net-pppoe-implement-GRO-support.patch
  target/linux/generic/pending-6.6/650-net-pppoe-implement-GRO-support.patch
Labels: kernel

netifd: update to Git HEAD (2025-08-03)
  package/network/config/netifd/Makefile
Labels: core packages

hostapd: add missing MLO check on ucode bss stop
  package/network/services/hostapd/src/src/ap/ucode.c
Labels: core packages

mediatek: filogic: add support for Cudy WR3000P v1
  target/linux/mediatek/dts/mt7981b-cudy-wr3000p-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: add NILFS2 fs module
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

realtek: Zyxel GS1900-48 dts fixes
  target/linux/realtek/dts/rtl8393_zyxel_gs1900-48.dts
Labels: target/realtek

uboot-envtools: gs1900-48: set fw_env/sys.config
  package/boot/uboot-tools/uboot-envtools/files/realtek
Labels: core packages

ipq40xx: Refresh kernel patches
  target/linux/ipq40xx/patches-6.12/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/ipq40xx/patches-6.6/999-atm-mpoa-intel-dsl-phy-support.patch
Labels: target/ipq40xx

ipq-wifi: Add entry for Xiaomi AIoT AC2350
  package/firmware/ipq-wifi/Makefile
Labels: core packages
