Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

ipq40xx: rename patchset and kernel configs to 6.12
  target/linux/ipq40xx/config-6.12
  target/linux/ipq40xx/patches-6.12/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.12/100-ARM-dts-qcom-ipq4019-add-label-to-SCM.patch
  target/linux/ipq40xx/patches-6.12/104-clk-fix-apss-cpu-overclocking.patch
  target/linux/ipq40xx/patches-6.12/301-arm-compressed-add-appended-DTB-section.patch
  target/linux/ipq40xx/patches-6.12/302-arm-compressed-set-ipq40xx-watchdog-to-allow-boot.patch
  target/linux/ipq40xx/patches-6.12/400-mmc-sdhci-sdhci-msm-use-sdhci_set_clock-instead-of-s.patch
  target/linux/ipq40xx/patches-6.12/401-mmc-sdhci-msm-comment-unused-sdhci_msm_set_clock.patch
  target/linux/ipq40xx/patches-6.12/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.12/444-mtd-nand-rawnand-add-support-for-Toshiba-TC58NVG0S3H.patch
  target/linux/ipq40xx/patches-6.12/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.12/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
  target/linux/ipq40xx/patches-6.12/703-net-qualcomm-ipqess-release-IRQ-s-on-network-device-.patch
  target/linux/ipq40xx/patches-6.12/704-net-qualcomm-ipqess-enable-threaded-NAPI-by-default.patch
  target/linux/ipq40xx/patches-6.12/705-ARM-dts-qcom-ipq4019-Add-description-for-the-IPQESS-.patch
  target/linux/ipq40xx/patches-6.12/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
  target/linux/ipq40xx/patches-6.12/707-arm-dts-ipq4019-add-switch-node.patch
  target/linux/ipq40xx/patches-6.12/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
  target/linux/ipq40xx/patches-6.12/710-arm-dts-ipq4019-QCA807x-properties.patch
  target/linux/ipq40xx/patches-6.12/711-net-qualcomm-ipqess-fix-TX-timeout-errors.patch
  target/linux/ipq40xx/patches-6.12/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq40xx/patches-6.12/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
  target/linux/ipq40xx/patches-6.12/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
  target/linux/ipq40xx/patches-6.12/999-atm-mpoa-intel-dsl-phy-support.patch
Labels: target/ipq40xx, kernel

ipq40xx: restore kernel 6.6 config files and patches
  target/linux/ipq40xx/config-6.6
  target/linux/ipq40xx/patches-6.6/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.6/100-ARM-dts-qcom-ipq4019-add-label-to-SCM.patch
  target/linux/ipq40xx/patches-6.6/104-clk-fix-apss-cpu-overclocking.patch
  target/linux/ipq40xx/patches-6.6/301-arm-compressed-add-appended-DTB-section.patch
  target/linux/ipq40xx/patches-6.6/302-arm-compressed-set-ipq40xx-watchdog-to-allow-boot.patch
  target/linux/ipq40xx/patches-6.6/400-mmc-sdhci-sdhci-msm-use-sdhci_set_clock-instead-of-s.patch
  target/linux/ipq40xx/patches-6.6/401-mmc-sdhci-msm-comment-unused-sdhci_msm_set_clock.patch
  target/linux/ipq40xx/patches-6.6/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.6/444-mtd-nand-rawnand-add-support-for-Toshiba-TC58NVG0S3H.patch
  target/linux/ipq40xx/patches-6.6/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.6/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
  target/linux/ipq40xx/patches-6.6/703-net-qualcomm-ipqess-release-IRQ-s-on-network-device-.patch
  target/linux/ipq40xx/patches-6.6/704-net-qualcomm-ipqess-enable-threaded-NAPI-by-default.patch
  target/linux/ipq40xx/patches-6.6/705-ARM-dts-qcom-ipq4019-Add-description-for-the-IPQESS-.patch
  target/linux/ipq40xx/patches-6.6/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
  target/linux/ipq40xx/patches-6.6/707-arm-dts-ipq4019-add-switch-node.patch
  target/linux/ipq40xx/patches-6.6/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
  target/linux/ipq40xx/patches-6.6/710-arm-dts-ipq4019-QCA807x-properties.patch
  target/linux/ipq40xx/patches-6.6/711-net-qualcomm-ipqess-fix-TX-timeout-errors.patch
  target/linux/ipq40xx/patches-6.6/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq40xx/patches-6.6/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
  target/linux/ipq40xx/patches-6.6/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
  target/linux/ipq40xx/patches-6.6/999-atm-mpoa-intel-dsl-phy-support.patch
Labels: target/ipq40xx, kernel

ipq40xx: qca8k-ipq4019: add missing header platform_device.h
  target/linux/ipq40xx/patches-6.6/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
Labels: target/ipq40xx

ipq40xx: ipqess: remove explicit phylink_generic_validate() references
  target/linux/ipq40xx/patches-6.6/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.6/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
  target/linux/ipq40xx/patches-6.6/704-net-qualcomm-ipqess-enable-threaded-NAPI-by-default.patch
Labels: target/ipq40xx

ipq40xx: gcc-ipq4019: mark qcom_find_freq_close() function as static
  target/linux/ipq40xx/patches-6.6/104-clk-fix-apss-cpu-overclocking.patch
Labels: target/ipq40xx

ipq40xx: refresh 6.12 kernel patches
  target/linux/ipq40xx/patches-6.12/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.12/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.12/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.12/705-ARM-dts-qcom-ipq4019-Add-description-for-the-IPQESS-.patch
  target/linux/ipq40xx/patches-6.12/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
  target/linux/ipq40xx/patches-6.12/707-arm-dts-ipq4019-add-switch-node.patch
  target/linux/ipq40xx/patches-6.12/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
  target/linux/ipq40xx/patches-6.12/710-arm-dts-ipq4019-QCA807x-properties.patch
  target/linux/ipq40xx/patches-6.12/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq40xx/patches-6.12/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
  target/linux/ipq40xx/patches-6.12/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
Labels: target/ipq40xx

ipq40xx: dts: fix dtc warnings for MikroTik hAP ac3 LTE6
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3-lte6-kit.dts
Labels: target/ipq40xx

ipq40xx: dts: fix incorrect PCIe bus number
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-wtr-m2133hp.dts
Labels: target/ipq40xx

ipq40xx: dts: compatibility changes for 6.12 kernel
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-a62.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-ea8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-eap2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-1200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-3000.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-gl-b2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-habanero-dvk.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lbr20.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lhgg-60ad.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-map-ac2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf18a.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf289f.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mr8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-orbi.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-pa2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-r619ac.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-rt-ac42u.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-wtr-m2133hp.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-xx8300.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-aruba-glenmorangie.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-insect-common.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq40x9-dr40x9.dts
Labels: target/ipq40xx

ipq40xx: migrate wifi configuration device paths for 6.12 kernel
  target/linux/ipq40xx/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/ipq40xx

ipq40xx: tag_oob/ipqess: update DSA APIs
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.12/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
Labels: target/ipq40xx

ipq40xx: add PCIe bridge node reference label for ipq4019.dtsi
  target/linux/ipq40xx/patches-6.12/712-ARM-dts-qcom-ipq4019-add-reference-label-for-PCIe.patch
Labels: target/ipq40xx

ipq40xx: dts: correct PCIe device node name
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-a62.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-ea8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-eap2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-3000.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-gl-b2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lbr20.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lhgg-60ad.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-map-ac2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf18a.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf289f.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mr8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-orbi.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-pa2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-rt-ac42u.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-insect-common.dtsi
Labels: target/ipq40xx

ipq40xx: refresh 6.12 kernel config files
  target/linux/ipq40xx/config-6.12
Labels: target/ipq40xx, kernel

ipq40xx: enable 6.12 testing kernel
  target/linux/ipq40xx/Makefile
Labels: target/ipq40xx

kernel: bump 5.15 to 5.15.189
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.15/950-0166-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-5.15/950-0500-net-phy-lan87xx-Allow-more-time-for-link-detect.patch
  target/linux/bcm27xx/patches-5.15/950-0600-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.15/950-0605-xhci-refactor-out-TRBS_PER_SEGMENT-define-in-runtime.patch
  target/linux/bcm27xx/patches-5.15/950-0606-usb-xhci-add-VLI_TRB_CACHE_BUG-quirk.patch
  target/linux/bcm27xx/patches-5.15/950-0700-net-phy-lan87xx-Decrease-phy-polling-rate.patch
  target/linux/bcm27xx/patches-5.15/950-0717-usb-xhci-add-a-quirk-for-Superspeed-bulk-OUT-transfe.patch
  target/linux/generic/backport-5.15/300-v5.18-pinctrl-qcom-Return--EINVAL-for-setting-affinity-if-no-IRQ-parent.patch
Labels: target/bcm27xx, kernel, build/scripts/tools

mbedtls: Apply configuration in Configure instead of Prepare
  package/libs/mbedtls/Makefile
Labels: core packages

kirkwood: add kmod-ata-ahci as default to ix4-200d
  target/linux/kirkwood/image/Makefile
Labels: target/kirkwood

uboot-envtools: add support for Gateworks venice
  package/boot/uboot-envtools/files/imx_cortexa53
Labels: core packages

armsr: use kernel 6.12 by default
  target/linux/armsr/Makefile
Labels: target/armsr

armsr: drop 6.6 support
  target/linux/armsr/armv7/config-6.6
  target/linux/armsr/armv8/config-6.6
  target/linux/armsr/config-6.6
  target/linux/armsr/patches-6.6/300-printk-always-setup-default-consoles.patch
Labels: target/armsr, kernel

busybox: bump PKG_RELEASE
  package/utils/busybox/Makefile
Labels: core packages

policycoreutils: bump PKG_RELEASE
  package/utils/policycoreutils/Makefile
Labels: core packages

uhttpd: bump PKG_RELEASE
  package/network/services/uhttpd/Makefile
Labels: core packages

libpcap: bump PKG_RELEASE
  package/libs/libpcap/Makefile
Labels: core packages

rpcd: bump PKG_RELEASE
  package/system/rpcd/Makefile
Labels: core packages

dropbear: bump PKG_RELEASE
  package/network/services/dropbear/Makefile
Labels: core packages

ppp: bump PKG_RELEASE
  package/network/services/ppp/Makefile
Labels: core packages

toolchain: bump PKG_RELEASE
  package/libs/toolchain/Makefile
Labels: core packages

kernel: bump 6.6 to 6.6.99
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.6/950-1366-drm-Increase-plane_mask-to-64bit.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/mediatek/patches-6.6/806-v6.9-pwm-mediatek-add-support-for-MT7988.patch
Labels: target/bcm27xx, target/mediatek, kernel, build/scripts/tools

mac80211: fix led-pin usage
  package/kernel/mac80211/patches/ath9k/341-wifi-ath9k-obtain-system-gpios.patch
  package/kernel/mac80211/patches/ath9k/356-Revert-ath9k-interpret-requested-txpower-in-EIRP-dom.patch
  package/kernel/mac80211/patches/ath9k/365-ath9k-adjust-tx-power-reduction-for-US-regulatory-do.patch
  package/kernel/mac80211/patches/ath9k/513-ath9k_add_pci_ids.patch
  package/kernel/mac80211/patches/ath9k/542-ath9k_debugfs_diag.patch
Labels: core packages

ath9k: add back previous DT compatible strings for ahb
  package/kernel/mac80211/patches/ath9k/553-ath9k-ahb_of_compat.patch
Labels: core packages

mac80211: fix rt2x00 build error on 6.12
  package/kernel/mac80211/patches/rt2x00/110-wifi-rt2x00-fix-remove-callback-type-mismatch.patch
Labels: core packages

mac80211: fix unaligned.h header location for 6.12 kernel
  package/kernel/mac80211/patches/build/120-backport-fix-unaligned.h-header-location.patch
Labels: core packages

mac80211: rt2x00: fix build warnings on 6.12 kernel
  package/kernel/mac80211/patches/rt2x00/602-01-wifi-rt2x00-Add-support-for-loading-EEPROM-from-user.patch
  package/kernel/mac80211/patches/rt2x00/994-rt2x00-import-support-for-external-LNA-on-MT7620.patch
Labels: core packages

mac80211: ath9k: fix refclock typo
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
Labels: core packages

ath10k-ct: update to version 6.14
  package/kernel/ath10k-ct/Makefile
  package/kernel/ath10k-ct/patches/001-patch-version.patch
  package/kernel/ath10k-ct/patches/002-ath10k-6.10-remove-unsupported-feature.patch
  package/kernel/ath10k-ct/patches/003-ath10k-ct-make-it-compatible-with-the-old-LTS-kernel.patch
  package/kernel/ath10k-ct/patches/004-Revert-wifi-ath10k-Use-iommu_paging_domain_alloc.patch
  package/kernel/ath10k-ct/patches/010-api_update.patch
  package/kernel/ath10k-ct/patches/201-wifi-ath10k-add-LED-and-GPIO-controlling-support-for.patch
  package/kernel/ath10k-ct/patches/202-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/ath10k-ct/patches/300-fix-fortify-checking-error.patch
  package/kernel/ath10k-ct/patches/960-0010-ath10k-limit-htt-rx-ring-size.patch
  package/kernel/ath10k-ct/patches/960-0011-ath10k-limit-pci-buffer-size.patch
  package/kernel/ath10k-ct/patches/988-ath10k-always-use-mac80211-loss-detection.patch
Labels: core packages

mac80211: ath9k: replace qca,led-sources
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-951ui-2hnd.dts
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
Labels: target/ath79, target/mpc85xx, kernel, core packages

generic: backport secs_to_jiffies
  target/linux/generic/backport-6.6/330-v6.13-jiffies-Define-secs_to_jiffies.patch
  target/linux/generic/backport-6.6/331-v6.14-jiffies-Cast-to-unsigned-long-in-secs_to_jiffies-con.patch
Labels: kernel

mac80211: ath12k: support fetching regdb from board-2.bin
  package/kernel/mac80211/patches/ath12k/002-wifi-ath12k-Fetch-regdb.bin-file-from-board-2.bin.patch
Labels: core packages

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
