Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

tools/elfutils: backport version 0.192 portability patches
  tools/elfutils/patches/095-src-unused-variable.patch
  tools/elfutils/patches/096-lib-config_h.patch
  tools/elfutils/patches/097-libcpu-config_h.patch
  tools/elfutils/patches/098-libdw-maintainer-clean.patch
  tools/elfutils/patches/099-remove-unlocked-stdio.patch
  tools/elfutils/patches/100-portability.patch
  tools/elfutils/patches/101-shared-conditional.patch
  tools/elfutils/patches/110-objects-manifest.patch
Labels: build/scripts/tools

tools/elfutils: add maintainer-clean to clean target
  tools/Makefile
  tools/elfutils/Makefile
Labels: build/scripts/tools

tools/elfutils: update MIPS support patches
  tools/elfutils/patches/010-backport-mips-support-reloc.patch
  tools/elfutils/patches/011-backport-mips-support-strip.patch
  tools/elfutils/patches/012-backport-mips-support-readelf.patch
  tools/elfutils/patches/013-backport-mips-support-elflint.patch
  tools/elfutils/patches/014-backport-mips-support-stack.patch
  tools/elfutils/patches/015-backport-mips-support-regs.patch
Labels: build/scripts/tools

tools/elfutils: update to 0.192
  tools/elfutils/Makefile
  tools/elfutils/patches/000-backport-iquote-include.patch
  tools/elfutils/patches/010-backport-mips-support-reloc.patch
  tools/elfutils/patches/012-backport-mips-support-readelf.patch
  tools/elfutils/patches/013-backport-mips-support-elflint.patch
  tools/elfutils/patches/014-backport-mips-support-stack.patch
  tools/elfutils/patches/015-backport-mips-support-regs.patch
  tools/elfutils/patches/095-src-unused-variable.patch
  tools/elfutils/patches/096-lib-config_h.patch
  tools/elfutils/patches/097-libcpu-config_h.patch
  tools/elfutils/patches/098-libdw-maintainer-clean.patch
  tools/elfutils/patches/099-remove-unlocked-stdio.patch
  tools/elfutils/patches/100-portability.patch
  tools/elfutils/patches/101-shared-conditional.patch
  tools/elfutils/patches/110-objects-manifest.patch
Labels: build/scripts/tools

tools/elfutils: enable parallel building
  tools/elfutils/Makefile
Labels: build/scripts/tools

nftables: remove usage of autoreconf
  package/network/utils/nftables/Makefile
Labels: core packages

tools/gnulib: update to branch stable-202501
  tools/gnulib/Makefile
  tools/gnulib/patches/000-bootstrap.patch
  tools/gnulib/patches/010-autoconf-version.patch
  tools/gnulib/patches/150-portable-tdestroy.patch
  tools/gnulib/patches/160-flag-reallocarray.patch
  tools/gnulib/patches/200-force-disable-after-configure.patch
  tools/gnulib/patches/320-modules-fallocate-posix.patch
  tools/gnulib/patches/500-acl-function-name.patch
Labels: build/scripts/tools

uboot-at91: update to linux4microchip-2025.04
  package/boot/uboot-at91/Makefile
Labels: target/at91, core packages

ucode: update to Git HEAD (2025-07-18)
  package/utils/ucode/Makefile
  package/utils/ucode/patches/010-ubus-fix-refcount-issue-in-uc_ubus_object_notify.patch
  package/utils/ucode/patches/100-vm-export-function-for-converting-exception-to-ucode.patch
  package/utils/ucode/patches/101-uloop-add-guard-function.patch
  package/utils/ucode/patches/102-ubus-add-guard-function.patch
Labels: core packages

wifi-scripts: ucode: add support for iwinfo nl80211 phyname
  package/network/config/wifi-scripts/files-ucode/lib/netifd/wireless/mac80211.sh
  package/network/config/wifi-scripts/files-ucode/usr/bin/iwinfo
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/utils.uc
Labels: core packages

mediatek: switch to Linux 6.12 by default
  target/linux/mediatek/Makefile
Labels: target/mediatek

Update 02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

lantiq: fix timer driver build warnings
  target/linux/lantiq/patches-6.6/0008-MIPS-lantiq-backport-old-timer-code.patch
Labels: target/lantiq

lantiq: misc build warning fixes for upstream codes
  target/linux/lantiq/patches-6.6/0102-01-MIPS-lantiq-xway-mark-ltq_ar9_sys_hz-as-static.patch
  target/linux/lantiq/patches-6.6/0102-02-MIPS-lantiq-xway-mark-dma_init-as-static.patch
  target/linux/lantiq/patches-6.6/0102-03-MIPS-lantiq-xway-mark-dcdc_init-as-static.patch
  target/linux/lantiq/patches-6.6/0102-04-MIPS-lantiq-irq-fix-misc-missing-prototypes-warnings.patch
  target/linux/lantiq/patches-6.6/0102-05-MIPS-lantiq-xway-add-prototype-for-ltq_get_cp1_base.patch
  target/linux/lantiq/patches-6.6/0102-06-MIPS-pci-lantiq-marks-pcibios_init-as-static.patch
  target/linux/lantiq/patches-6.6/0102-07-MIPS-lantiq-falcon-fix-misc-missing-prototypes-warni.patch
  target/linux/lantiq/patches-6.6/0102-08-MIPS-lantiq-falcon-sysctrl-remove-unused-falcon_trig.patch
  target/linux/lantiq/patches-6.6/0102-09-MIPS-lantiq-falcon-sysctrl-add-missing-header-prom.h.patch
  target/linux/lantiq/patches-6.6/0102-10-MIPS-lantiq-falcon-sysctrl-fix-request-memory-check-.patch
  target/linux/lantiq/patches-6.6/0102-11-MIPS-lantiq-xway-gptu-mark-gptu_init-as-static.patch
  target/linux/lantiq/patches-6.6/0102-12-MIPS-vpe-mt-mark-vpe_free-and-vpe_stop-as-static.patch
  target/linux/lantiq/patches-6.6/0102-13-MIPS-vpe-mt-drop-unused-functions-vpe_alloc-and-vpe_.patch
  target/linux/lantiq/patches-6.6/0102-14-pinctrl-xway-mark-xway_pinconf_group_set-as-static.patch
  target/linux/lantiq/patches-6.6/0102-15-pinctrl-falcon-mark-pinctrl_falcon_init-as-static.patch
  target/linux/lantiq/patches-6.6/0102-16-spi-falcon-mark-falcon_sflash_xfer-as-static.patch
  target/linux/lantiq/patches-6.6/0152-lantiq-VPE.patch
Labels: target/lantiq

lantiq: fix pcie driver build warnings
  target/linux/lantiq/patches-6.6/0151-lantiq-ifxmips_pcie-use-of.patch
Labels: target/lantiq

lantiq: fix eeprom driver build warnings:
  target/linux/lantiq/patches-6.6/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
Labels: target/lantiq

lantiq: fix vmmc driver build warnings
  target/linux/lantiq/patches-6.6/0200-MIPS-lantiq-xway-vmmc-use-platform_get_irq-to-get-ir.patch
Labels: target/lantiq

lantiq: refresh 6.12 kernel config files
  target/linux/lantiq/config-6.12
Labels: target/lantiq, kernel

lantiq: refresh kernel symbol configs
  target/linux/lantiq/ase/config-6.6
  target/linux/lantiq/config-6.6
  target/linux/lantiq/xrx200/config-6.6
  target/linux/lantiq/xrx200_legacy/config-6.6
Labels: target/lantiq, kernel

lantiq: enable 6.12 testing kernel
  target/linux/lantiq/Makefile
Labels: target/lantiq

lantiq: add the missing function pointer ltq_pci_plat_dev_init
  target/linux/lantiq/patches-6.12/035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
Labels: target/lantiq

lantiq: lantiq-flash: platform driver .remove_new conversion
  target/linux/lantiq/patches-6.12/160-owrt-lantiq-multiple-flash.patch
Labels: target/lantiq

lantiq: remove upstreamed patches from 6.12 kernel patchset
  target/linux/lantiq/patches-6.12/026-v6.12-net-ethernet-lantiq_etop-remove-unused-variable.patch
  target/linux/lantiq/patches-6.12/027-v6.11-net-ethernet-lantiq_etop-remove-redundant-device-nam.patch
  target/linux/lantiq/patches-6.12/050-v6.11-usb-dwc2-add-support-for-other-Lantiq-SoCs.patch
  target/linux/lantiq/patches-6.12/051-v6.11-MIPS-lantiq-improve-USB-initialization.patch
  target/linux/lantiq/patches-6.12/731-v6.11-dt-bindings-net-dsa-lantiq-gswip-convert-to-YAML-schema.patch
  target/linux/lantiq/patches-6.12/732-v6.11-net-dsa-lantiq_gswip-Only-allow-phy-mode-internal-on-the-CPU-port.patch
  target/linux/lantiq/patches-6.12/733-v6.11-net-dsa-lantiq_gswip-add-terminating-n-where-missing.patch
  target/linux/lantiq/patches-6.12/734-v6.11-net-dsa-lantiq_gswip-Use-dev_err_probe-where-appropr.patch
  target/linux/lantiq/patches-6.12/735-v6.11-net-dsa-lantiq_gswip-Don-t-manually-call-gswip_port_.patch
  target/linux/lantiq/patches-6.12/736-v6.11-net-dsa-lantiq_gswip-do-also-enable-or-disable-cpu-p.patch
  target/linux/lantiq/patches-6.12/737-v6.11-net-dsa-lantiq_gswip-Use-dsa_is_cpu_port-in-gswip_po.patch
  target/linux/lantiq/patches-6.12/738-v6.11-net-dsa-lantiq_gswip-Change-literal-6-to-ETH_ALEN.patch
  target/linux/lantiq/patches-6.12/739-v6.11-net-dsa-lantiq_gswip-Consistently-use-macros-for-the.patch
  target/linux/lantiq/patches-6.12/740-v6.11-net-dsa-lantiq_gswip-Remove-dead-code-from-gswip_add_single_port_br.patch
  target/linux/lantiq/patches-6.12/741-v6.11-net-dsa-lantiq_gswip-Update-comments-in-gswip_port_vlan.patch
  target/linux/lantiq/patches-6.12/742-v6.11-net-dsa-lantiq_gswip-Improve-error-message-in-gswip_.patch
Labels: target/lantiq

lantiq: fix i2c driver compatibility issue on 6.12 kernel
  target/linux/lantiq/patches-6.12/031-I2C-MIPS-lantiq-add-FALC-ON-i2c-bus-master.patch
Labels: target/lantiq

lantiq: refresh 6.12 kernel patches
  target/linux/lantiq/patches-6.12/001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/lantiq/patches-6.12/018-MTD-nand-lots-of-xrx200-fixes.patch
  target/linux/lantiq/patches-6.12/028-NET-lantiq-various-etop-fixes.patch
  target/linux/lantiq/patches-6.12/031-I2C-MIPS-lantiq-add-FALC-ON-i2c-bus-master.patch
  target/linux/lantiq/patches-6.12/152-lantiq-VPE.patch
  target/linux/lantiq/patches-6.12/160-owrt-lantiq-multiple-flash.patch
  target/linux/lantiq/patches-6.12/400-mtd-rawnand-xway-don-t-yield-while-holding-spinlock.patch
Labels: target/lantiq

mediatek: filogic: add SD card support to GatoNetworks GDSP
  target/linux/mediatek/dts/mt7981b-gatonetworks-gdsp-gps.dtso
  target/linux/mediatek/dts/mt7981b-gatonetworks-gdsp-sd-boot.dtso
  target/linux/mediatek/dts/mt7981b-gatonetworks-gdsp-sd.dtso
  target/linux/mediatek/dts/mt7981b-gatonetworks-gdsp.dts
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

uboot-mediatek: GatoNetworks GDSP support fixes and updates
  package/boot/uboot-mediatek/patches/458-add-GatoNetworks-GDSP.patch
Labels: target/mediatek, core packages

uboot-mediatek: add support for GL.iNet GL-MT2500
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/464-add-GL.iNet-GL-MT2500-Brume2.patch
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

ramips: add support for SIM SIMAX1800U
  target/linux/ramips/dts/mt7621_haier-sim_wr1800k.dtsi
  target/linux/ramips/dts/mt7621_sim_simax1800t.dts
  target/linux/ramips/dts/mt7621_sim_simax1800u.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

uboot-envtools: ramips: add env config for SIM SIMAX1800U
  package/boot/uboot-tools/uboot-envtools/files/ramips
Labels: core packages

rockchip: Add support LinkStar H68k (rk3568).
  target/linux/rockchip/patches-6.12/005-linkstar-makefile-patch.patch
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
  target/linux/rockchip/patches-6.12/037-rk3568-linkstar-yaml-add.patch
Labels: target/rockchip

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: bump release to 2.91
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/0003-Handle-DS-queries-to-auth-zones.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

at91bootstrap: update at91bootstrap v4 targets to v4.0.11
  package/boot/at91bootstrap/Makefile
Labels: target/at91, core packages

revised patch to fix it
  target/linux/rockchip/patches-6.12/037-rk3568-linkstar-yaml-add.patch
Labels: target/rockchip

equalized boot and kernel patches
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
Labels: target/rockchip, core packages

tools/gnulib: backport patches for gettext
  tools/gnulib/patches/640-mem-hash-map.patch
  tools/gnulib/patches/645-next-prime.patch
  tools/gnulib/patches/646-hashcode-string.patch
  tools/gnulib/patches/647-hashkey-string.patch
  tools/gnulib/patches/650-package-version.patch
  tools/gnulib/patches/651-package-version-simplify.patch
  tools/gnulib/patches/652-package-version-simplify-further.patch
  tools/gnulib/patches/653-package-version-warning.patch
  tools/gnulib/patches/660-version-stamp.patch
  tools/gnulib/patches/689-vc-mtime.patch
  tools/gnulib/patches/755-clean-temp-hashkey.patch
  tools/gnulib/patches/795-string-desc-rename-functions.patch
  tools/gnulib/patches/796-vc-mtime-less-read.patch
  tools/gnulib/patches/797-vc-mtime-add-api.patch
  tools/gnulib/patches/798-vc-mtime-add-api.patch
  tools/gnulib/patches/799-vc-mtime-old-git.patch
  tools/gnulib/patches/900-str_startswith-module.patch
  tools/gnulib/patches/901-str_endswith-module.patch
Labels: build/scripts/tools

gnulib-l10n: add package
  package/libs/gnulib-l10n/Makefile
Labels: core packages

tools/automake: update to 1.18
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
  tools/automake/patches/100-aclocal-skip-not-existing-directories.patch
  tools/automake/patches/101-do-not-require-files.patch
  tools/automake/patches/300-output-TRUE-cond-first.patch
  tools/automake/patches/310-maintainer-clean-built_sources.patch
Labels: build/scripts/tools

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
