Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

gettext-full: update to 0.24.1
  package/libs/gettext-full/Makefile
  package/libs/gettext-full/patches/200-libunistring-missing-link.patch
Labels: core packages

realtek: simplify RTL8218B/RTL8214Fx detection
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

qualcommax: ipq807x: use label MAC to set addresses for wireless interfaces
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
Labels: target/qualcommax

qualcommax: ipq807x: use ascii-env driver for Linksys MX devices
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-mx8500.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-homewrk.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200v1.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200v2.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4300.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4x00.dtsi
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
Labels: target/qualcommax, kernel

qualcommax: ipq807x: add support for Linksys HomeWRK
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-homewrk.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

mac80211: ath10k: add channel 177 for 5 GHz band
  package/kernel/mac80211/patches/ath10k/991-ath10k-add-channel-177-for-5-GHz-band.patch
Labels: core packages

ath11k-firmware: use new board file for QCN9074
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

realtek: avoid interrupt storm on mass packet receive
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

apm821xx: refresh 6.12 patches
  target/linux/apm821xx/patches-6.12/300-fix-atheros-nics-on-apm82181.patch
  target/linux/apm821xx/patches-6.12/301-fix-memory-map-wndr4700.patch
  target/linux/apm821xx/patches-6.12/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
Labels: target/apm821xx

apm821xx: refresh 6.12 kernel config
  target/linux/apm821xx/config-6.12
  target/linux/apm821xx/sata/config-default
Labels: target/apm821xx, kernel

apm821xx: restore 6.6 kernel config/patches
  target/linux/apm821xx/config-6.6
  target/linux/apm821xx/patches-6.6/201-add-amcc-apollo3g-support.patch
  target/linux/apm821xx/patches-6.6/300-fix-atheros-nics-on-apm82181.patch
  target/linux/apm821xx/patches-6.6/301-fix-memory-map-wndr4700.patch
  target/linux/apm821xx/patches-6.6/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
Labels: target/apm821xx, kernel

apm821xx: enable kernel 6.12
  target/linux/apm821xx/Makefile
Labels: target/apm821xx

apm821xx: rename kernel config/patches to 6.12
  target/linux/apm821xx/config-6.12
  target/linux/apm821xx/patches-6.12/201-add-amcc-apollo3g-support.patch
  target/linux/apm821xx/patches-6.12/300-fix-atheros-nics-on-apm82181.patch
  target/linux/apm821xx/patches-6.12/301-fix-memory-map-wndr4700.patch
  target/linux/apm821xx/patches-6.12/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
Labels: target/apm821xx, kernel

projectsmirrors: drop ftp.kddilabs.jp
  scripts/projectsmirrors.json
Labels: build/scripts/tools

hwmon: Corsair Commander Pro support
  package/kernel/linux/modules/hwmon.mk
Labels: kernel, core packages

uboot-envtools: fix meraki mr24 definition
  package/boot/uboot-tools/uboot-envtools/files/apm821xx
Labels: core packages

apm821xx: wndr4700: fix uboot-env
  target/linux/apm821xx/dts/netgear-wndr4700.dts
Labels: target/apm821xx

uboot-envtools: fix meraki mx60 definition
  package/boot/uboot-tools/uboot-envtools/files/apm821xx
Labels: core packages

apm821xx: mybooklive: fix ubootenv probe
  target/linux/apm821xx/dts/wd-mybooklive.dts
Labels: target/apm821xx

apm821xx: meraki-mr24: fix ubootenv definitions
  target/linux/apm821xx/dts/meraki-mr24.dts
Labels: target/apm821xx

apm821xx: disable NVMEM_U_BOOT_ENV
  target/linux/apm821xx/config-6.12
  target/linux/apm821xx/config-6.6
Labels: target/apm821xx, kernel

apm821xx: meraki-mx60: fix ubootenv definitions
  target/linux/apm821xx/dts/meraki-mx60.dts
Labels: target/apm821xx

Update mt7981b-nradio-c8-668gl.dts
  target/linux/mediatek/dts/mt7981b-nradio-c8-668gl.dts
Labels: target/mediatek

Update 02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

Update 11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

Update 10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/mediatek

resolving step 2
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

kernel: add missing dependency on kmod-drm to kmod-i2c-hid
  package/kernel/linux/modules/i2c.mk
Labels: kernel, core packages

kernel: modules: input: add modules for PS/2 mouse support
  package/kernel/linux/modules/input.mk
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
Labels: kernel, core packages

uboot-mediatek: update to v2025.07
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/100-04-env-add-support-for-generic-MTD-device.patch
  package/boot/uboot-mediatek/patches/100-08-common-board_r-add-support-to-initialize-NMBM-after-.patch
  package/boot/uboot-mediatek/patches/100-09-cmd-add-nmbm-command.patch
  package/boot/uboot-mediatek/patches/100-11-env-add-support-for-NMBM-upper-MTD-layer.patch
  package/boot/uboot-mediatek/patches/100-13-cmd-add-a-new-command-for-NAND-flash-debugging.patch
  package/boot/uboot-mediatek/patches/100-14-mtd-spi-nor-add-support-to-read-flash-unique-ID.patch
  package/boot/uboot-mediatek/patches/100-15-cmd-sf-add-support-to-read-flash-unique-ID.patch
  package/boot/uboot-mediatek/patches/100-20-board-mt7981-add-reference-board-using-new-spi-nand-.patch
  package/boot/uboot-mediatek/patches/100-21-mtd-spi-nor-add-more-flash-ids.patch
  package/boot/uboot-mediatek/patches/100-23-mmc-mtk-sd-add-support-to-display-verbose-error-log.patch
  package/boot/uboot-mediatek/patches/100-26-env-ubi-add-support-to-create-environment-volume-if-.patch
  package/boot/uboot-mediatek/patches/101-03-mtd-spinand-fix-support-for-FORESEE.patch
  package/boot/uboot-mediatek/patches/130-fix-mkimage-host-build.patch
  package/boot/uboot-mediatek/patches/220-cmd-env-readmem.patch
  package/boot/uboot-mediatek/patches/250-fix-mmc-erase-timeout.patch
  package/boot/uboot-mediatek/patches/280-image-fdt-save-name-of-FIT-configuration-in-chosen-node.patch
  package/boot/uboot-mediatek/patches/301-mt7622-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/410-add-linksys-e8450.patch
  package/boot/uboot-mediatek/patches/412-add-ubnt-unifi-6-lr.patch
  package/boot/uboot-mediatek/patches/420-add-support-for-RAVPower-RP-WD009.patch
  package/boot/uboot-mediatek/patches/452-add-xiaomi-redmi-ax6s.patch
  package/boot/uboot-mediatek/patches/457-initialized-the-watchdog-subsystem-later.patch
Labels: target/mediatek, core packages

uboot-mediatek: fix mt7622 rfb1 build
  package/boot/uboot-mediatek/patches/408-arm-mediatek-add-back-mt7622-LK-image-header.patch
Labels: target/mediatek, core packages

arm-trusted-firmware-mediatek: update to new release 20250711
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/arm-trusted-firmware-mediatek/patches/0004-mediatek-snfi-fix-return-code-when-reading.patch
Labels: target/mediatek, core packages

uboot-mediatek: drop build without OpenSSL fix
  package/boot/uboot-mediatek/patches/130-fix-mkimage-host-build.patch
Labels: target/mediatek, core packages

uboot-mediatek: support getting legacy uImage size
  package/boot/uboot-mediatek/patches/200-cmd-add-imsz-and-imszb.patch
Labels: target/mediatek, core packages

mediatek: stage mt7622/mt7629 rfb u-boot images to bin folder
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/image/mt7629.mk
Labels: target/mediatek

kernel: bump 5.15 to 5.15.188
  include/kernel-5.15
Labels: build/scripts/tools

Add Fibocom L716 support
  .github/workflows/build.yml
Labels: GitHub/CI

Add Fibocom L716 device tree and profile
  target/linux/ramips/dts/mt7628an_tplink_tl-mr6400-v5-fibocom.dts
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips

qualcommax: fix ipq-ax6000 compiler warnings
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax6000.dts
Labels: target/qualcommax, kernel

qualcommax: add Wallys DR5018 + nss dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-dr5018.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-nss.dtsi
  target/linux/qualcommax/files/net/core/skbuff_debug.c
  target/linux/qualcommax/files/net/core/skbuff_debug.h
  target/linux/qualcommax/files/net/core/skbuff_notifier.c
  target/linux/qualcommax/files/net/core/skbuff_notifier.h
  target/linux/qualcommax/files/net/core/skbuff_recycle.c
  target/linux/qualcommax/files/net/core/skbuff_recycle.h
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/iface/99-mwan3-usb0
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/gpio_switch
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/led
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/skb_recycler
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/ecm_dump.sh
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/nss_stats
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/quectel-mbim-proxy
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/quectel-qmi-proxy
  target/linux/qualcommax/ipq50xx/config-default
  target/linux/qualcommax/patches-6.12/0712-net-phy-qcom-at803x-add-qualcomm-ipq5018-internal-phy-support.patch
Labels: target/qualcommax, kernel
