Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

tools: automake: fix MAINTAINERCLEANFILES warnings
  tools/automake/patches/310-maintainer-clean-built_sources.patch
Labels: build/scripts/tools

tools/expat: fix compilation with ccache
  tools/expat/Makefile
Labels: build/scripts/tools

tools/util-linux: fix libuuid linking
  tools/util-linux/patches/110-move-libpthread-to-libs.patch
Labels: build/scripts/tools

mediatek: filogic: Add support for Wavlink WL-WN551X3
  target/linux/mediatek/dts/mt7981b-wavlink-wl-3port-128nand-common.dtsi
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn551x3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

toolchain: glibc: Update glibc 2.41 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain

wifi-scripts: ucode: set default wildcard mac for wifi-station
  package/network/config/wifi-scripts/files-ucode/lib/netifd/wireless/mac80211.sh
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-station.json
Labels: core packages

mediatek: Ruijie RG-X60 Pro: Fix LAN port status light
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
Labels: target/mediatek

realtek: rtl931x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

mediatek: filogic: D-Link M30: add OpenWrt partition layout
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-dlink-aquila-pro-ai-m30-a1-ubootmod.dts
  target/linux/mediatek/dts/mt7981b-dlink-aquila-pro-ai-m30-a1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

realtek: rtl931x: Fix USXGMII, 10G-BaseR and 1000-BaseX initialization
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

TODO: realtek: rtl931x: read link status from rtl9310 serdes correctly
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: rtl931x: Fix probing of SerDes
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: convert RTL838x toolchain to 24kc
  target/linux/realtek/patches-6.12/308-tune-switch-4kec.patch
  target/linux/realtek/rtl838x/target.mk
Labels: target/realtek

tools: util-linux: refresh patches
  tools/util-linux/patches/110-move-libpthread-to-libs.patch
Labels: build/scripts/tools

realtek: Zyxel GS1900-48 dts fixes
  target/linux/realtek/dts/rtl8393_zyxel_gs1900-48.dts
Labels: target/realtek

realtek: rtl931x: Fix SDS field modifications
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: rtl931x: Support enable/disable SMI Polling for SerDes ports
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

octeon: copy 6.6 patches to 6.12
  target/linux/octeon/patches-6.12/100-mips_image_cmdline_hack.patch
  target/linux/octeon/patches-6.12/100-ubnt_edgerouter2_support.patch
  target/linux/octeon/patches-6.12/110-er200-ethernet_probe_order.patch
  target/linux/octeon/patches-6.12/120-cmdline-hack.patch
  target/linux/octeon/patches-6.12/130-add_itus_support.patch
  target/linux/octeon/patches-6.12/150-ubnt_usg_support.patch
  target/linux/octeon/patches-6.12/400-ubnt_dts_pruning.patch
  target/linux/octeon/patches-6.12/700-allocate_interface_by_label.patch
  target/linux/octeon/patches-6.12/701-honor_sgmii_node_device_tree_status.patch
  target/linux/octeon/patches-6.12/702-qca833x-force-pcs-reset.patch
Labels: target/octeon

octeon: add Linux 6.12 as testing kernel
  target/linux/octeon/Makefile
Labels: target/octeon

octeon: refresh 6.12 patches
  target/linux/octeon/patches-6.12/100-mips_image_cmdline_hack.patch
Labels: target/octeon

octeon: fix command line hack for Linux 6.12
  target/linux/octeon/patches-6.12/120-cmdline-hack.patch
Labels: target/octeon

octeon: add Linux 6.12 kconfig
  target/linux/octeon/config-6.12
Labels: target/octeon, kernel

gs1900-48: set fw_env/sys.config
  package/boot/uboot-tools/uboot-envtools/files/realtek
Labels: core packages

kernel: Fix setsockopt(SO_ATTACH_FILTER) failed on kernel 6.12
  target/linux/generic/hack-6.12/299-bpf-Fall-back-to-the-interpreter-if-possible.patch
Labels: kernel

realtek: rtl931x: Fix VLAN tagging and untagging
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

tools: bison: do not install or uninstall macros
  tools/bison/Makefile
Labels: build/scripts/tools

realtek: backport NAND driver for RTL93xx
  target/linux/realtek/patches-6.12/001-v6.13-spi-mem-add-realtek-nand-controller.patch
  target/linux/realtek/patches-6.12/002-v6.13-spi-mem-rtl-snand-correctly-handle-dma-transfers.patch
  target/linux/realtek/rtl838x/config-6.12
  target/linux/realtek/rtl839x/config-6.12
  target/linux/realtek/rtl930x/config-6.12
  target/linux/realtek/rtl931x/config-6.12
Labels: target/realtek, kernel

realtek: add NAND hardware description to RTL93xx
  target/linux/realtek/dts/rtl930x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

qualcommax: cleanup device tree for GL-B3000
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-gl-b3000.dts
Labels: target/qualcommax, kernel

build: use --no-print-directory for dumping subtargets
  include/target.mk
Labels: build/scripts/tools

qualcommax: ipq6018: remove unused reserved memory
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-512m.dtsi
Labels: target/qualcommax, kernel

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: bump release to 2.91
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/0003-Handle-DS-queries-to-auth-zones.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

tools: cmake: update to 4.0.3
  tools/cmake/Makefile
  tools/cmake/patches/100-no-testing.patch
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/160-disable_xcode_generator.patch
Labels: build/scripts/tools

tools: lz4: update to 1.10.0
  tools/lz4/Makefile
Labels: build/scripts/tools

tools/util-linux: build with meson
  tools/util-linux/Makefile
  tools/util-linux/patches/010-meson-curses.patch
  tools/util-linux/patches/110-meson-fix-a-bug-in-posixipc_libs-configuration.patch
  tools/util-linux/patches/110-move-libpthread-to-libs.patch
Labels: build/scripts/tools

bcm53xx: add Tenda AC9 switch workaround
  target/linux/bcm53xx/patches-5.4/701-b53-add-Tenda-AC9-switch-reset-workaround.patch
Labels: target/bcm53xx

dropbear: fix typos in path configuration
  package/network/services/dropbear/Makefile
Labels: core packages

dropbear: fix FTBFS when CONFIG_DROPBEAR_SVR_PUBKEY_OPTIONS is not enabled
  package/network/services/dropbear/patches/051-fix-pubkey-options.patch
Labels: core packages

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
