Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

realtek: rtl930x: convert Hasivo S1100W to lzma only.
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

mediatek: TP-Link Archer AX80v1: add OpenWrt U-Boot (UBI) layout
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-tplink-archer-ax80-v1-common.dtsi
  target/linux/mediatek/dts/mt7986a-tplink-archer-ax80-v1-ubi.dts
  target/linux/mediatek/dts/mt7986a-tplink-archer-ax80-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

uboot-mediatek: add TP-Link Archer AX80v1 support
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/464-add-tplink-archer-ax80-v1.patch
Labels: target/mediatek, core packages

kernel: add kmod-input-matrix-keypad package
  package/kernel/linux/modules/input.mk
Labels: kernel, core packages

ramips: add support for Qding QC202
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7628an_qding_qc202.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips, core packages

Revert "kernel: bump 6.12 to 6.12.40"
  target/linux/bcm27xx/patches-6.12/950-0054-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0325-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.12/950-0758-mmc-bcm2835-Add-downstream-overclocking-support.patch
  target/linux/generic/hack-6.12/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/630-packet_socket_type.patch
  target/linux/generic/pending-6.12/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.12/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.12/680-net-fix-TCP-UDP-fraglist-GRO.patch
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/generic/pending-6.12/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
  target/linux/ramips/patches-6.12/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.12/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, target/ramips, target/realtek, kernel

kernel: nvmem: replace u-boot-env endianness workaround with accepted fix
  target/linux/generic/backport-6.12/825-v6.16-nvmem-u-boot-env-remove-crc32-endianness-conversion.patch
  target/linux/generic/backport-6.6/825-v6.16-nvmem-u-boot-env-remove-crc32-endianness-conversion.patch
  target/linux/generic/pending-6.12/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
  target/linux/generic/pending-6.6/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
Labels: kernel

Revert "kernel: bump 6.6 to 6.6.100"
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

kernel: move accepted net offload patch to backports
  target/linux/generic/backport-6.12/680-v6.16-net-fix-TCP-UDP-fraglist-GRO.patch
Labels: kernel

kernel: bump 6.6 to 6.6.100
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

kernel: bump 6.12 to 6.12.40
  target/linux/bcm27xx/patches-6.12/950-0054-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0325-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.12/950-0758-mmc-bcm2835-Add-downstream-overclocking-support.patch
  target/linux/generic/backport-6.12/680-v6.16-net-fix-TCP-UDP-fraglist-GRO.patch
  target/linux/generic/backport-6.12/825-v6.16-nvmem-u-boot-env-remove-crc32-endianness-conversion.patch
  target/linux/generic/hack-6.12/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/630-packet_socket_type.patch
  target/linux/generic/pending-6.12/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.12/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/ramips/patches-6.12/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.12/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, target/ramips, target/realtek, kernel

realtek: rtl93xx: Enable port based isolation
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

sunxi: change target to use FIT kernel images
  package/boot/uboot-sunxi/uEnv-a64.txt
  package/boot/uboot-sunxi/uEnv-default.txt
  package/boot/uboot-sunxi/uEnv-h6.txt
  package/boot/uboot-sunxi/uEnv-h616.txt
  package/boot/uboot-sunxi/uEnv-pangolin.txt
  target/linux/sunxi/image/Makefile
  target/linux/sunxi/image/cortexa53.mk
  target/linux/sunxi/image/cortexa7.mk
  target/linux/sunxi/image/cortexa8.mk
Labels: target/sunxi, core packages

sunxi: enable ramdisk feature
  target/linux/sunxi/Makefile
Labels: target/sunxi

images: move append-teltonika-metadata to image-commands.mk This metadata can be used for Teltonika devices for all targets.
  include/image-commands.mk
  target/linux/ath79/image/generic.mk
  target/linux/ipq40xx/image/generic.mk
  target/linux/ramips/image/mt76x8.mk
Labels: target/ath79, target/ipq40xx, target/ramips, build/scripts/tools

mediatek: filogic: add Teltonika RUTC50 support
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981a-teltonika-rutc50.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

realtek: rtl93xx: Add support for port based mirroring
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

siflower: sf21: fix usb_vbus for Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

siflower: sf21: fix M.2 power on Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

prereq-build: add clang support
  include/prereq-build.mk
Labels: build/scripts/tools

kernel/modules: add MCP342x I2C ADCs kernel module support
  package/kernel/linux/modules/iio.mk
Labels: kernel, core packages

lantiq: use nvmem for bthomehub v5a
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_bt_homehub-v5a.dts
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
  target/linux/lantiq/xrx200/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/lantiq/xrx200/base-files/etc/hotplug.d/firmware/12-ath9k-eeprom
  target/linux/lantiq/xrx200/config-6.12
Labels: target/lantiq, kernel

ltq-ptm: add NVMEM MAC support
  package/kernel/lantiq/ltq-ptm/Makefile
  package/kernel/lantiq/ltq-ptm/src/ifxmips_ptm_vdsl.c
Labels: target/lantiq, core packages

kernel: bump 6.12 to 6.12.41
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0521-mm-vmscan-Maintain-TLB-coherency-in-LRU-code.patch
  target/linux/generic/backport-6.12/410-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.12/410-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.12/410-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.12/410-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.12/410-05-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.12/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.12
Labels: target/bcm27xx, kernel

ramips: CREALITY BOX WB01
  target/linux/ramips/dts/mt7628an_creality_wb-01.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: ethernet: ralink: mtu change while interface is down
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: mt7620 enable jumbo frames
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.h
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/soc_mt7620.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix offload with incompatible dsa tag
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix MT7620A_GDMA regs
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.h
Labels: target/ramips, kernel

ramips: ethernet: ralink: add disable-mac-learn
  target/linux/ramips/files/drivers/net/ethernet/ralink/mt7530.c
Labels: target/ramips, kernel

realtek: add NAND targets for RTL93xx
  target/linux/realtek/Makefile
  target/linux/realtek/image/rtl930x_nand.mk
  target/linux/realtek/image/rtl931x_nand.mk
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl930x_nand/target.mk
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
  target/linux/realtek/rtl931x_nand/target.mk
Labels: target/realtek, kernel

gettext-full: force-enable stdalign.h support
  package/libs/gettext-full/Makefile
Labels: core packages

siflower: sf21: fix usb_vbus for Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

siflower: sf21: fix M.2 power on Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

qualcommax: ipq807x: add support for TCL LINKHUB HH500V
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/config-6.12
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-hh500v.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/init.d/modem
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/tcl.sh
Labels: target/qualcommax, kernel, core packages

lantiq: replace patches with upstream version
  target/linux/lantiq/patches-6.12/102-01-v6.17-MIPS-lantiq-xway-mark-dma_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-02-v6.17-0002-MIPS-pci-lantiq-marks-pcibios_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-03-v6.17-MIPS-lantiq-xway-mark-dcdc_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-04-v6.17-MIPS-lantiq-irq-fix-misc-missing-prototypes-warnings.patch
  target/linux/lantiq/patches-6.12/102-05-v6.17-MIPS-lantiq-xway-mark-ltq_ar9_sys_hz-as-static.patch
  target/linux/lantiq/patches-6.12/102-06-v6.17-MIPS-lantiq-xway-gptu-mark-gptu_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-07-v6.17-MIPS-lantiq-xway-add-prototype-for-ltq_get_cp1_base.patch
  target/linux/lantiq/patches-6.12/102-08-v6.17-MIPS-lantiq-falcon-fix-misc-missing-prototypes-warni.patch
  target/linux/lantiq/patches-6.12/102-09-v6.17-MIPS-lantiq-falcon-sysctrl-remove-unused-falcon_trig.patch
  target/linux/lantiq/patches-6.12/102-10-v6.17-MIPS-lantiq-falcon-sysctrl-add-missing-header-prom.h.patch
  target/linux/lantiq/patches-6.12/102-11-v6.17-MIPS-lantiq-falcon-sysctrl-fix-request-memory-check-.patch
  target/linux/lantiq/patches-6.12/102-12-MIPS-vpe-mt-mark-vpe_free-and-vpe_stop-as-static.patch
  target/linux/lantiq/patches-6.12/102-12-v6.17-MIPS-vpe-mt-add-missing-prototypes-for-vpe_-alloc-st.patch
  target/linux/lantiq/patches-6.12/102-13-MIPS-vpe-mt-drop-unused-functions-vpe_alloc-and-vpe_.patch
  target/linux/lantiq/patches-6.12/102-14-pinctrl-xway-mark-xway_pinconf_group_set-as-static.patch
  target/linux/lantiq/patches-6.12/102-14-v6.17-pinctrl-xway-statify-xway_pinconf_group_set.patch
  target/linux/lantiq/patches-6.12/102-15-v6.17-pinctrl-falcon-mark-pinctrl_falcon_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-16-v6.17-spi-falcon-mark-falcon_sflash_xfer-as-static.patch
  target/linux/lantiq/patches-6.12/152-lantiq-VPE.patch
Labels: target/lantiq

realtek: use consistent definition in DTS for SFP(+) ports
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12.dts
  target/linux/realtek/dts/rtl9302_zyxel_xgs1250-12.dts
  target/linux/realtek/dts/rtl9303_tplink_tl-st1008f_v2.dts
  target/linux/realtek/dts/rtl9303_vimin_vm-s100-0800ms.dts
  target/linux/realtek/dts/rtl9303_xikestor_sks8300-8x.dts
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

kernel: Add kmod-sfc-siena for Solarflare SFN5000/6000 series NICs
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

x86: add board mapping for Sophos XG 210r3
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

procd: update to Git HEAD (2025-08-07)
  package/system/procd/Makefile
Labels: core packages
