Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

realtek: XGS1210-12: convert RTL8226 PHYs to 2500base-x
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12.dts
Labels: target/realtek

ramips: mt7621: set mac address in dts for DBDC
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/dts/mt7621_dlink_dap-x1860-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-853-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dxx-1xx0-x1.dtsi
  target/linux/ramips/dts/mt7621_glinet_gl-mt1300.dts
  target/linux/ramips/dts/mt7621_keenetic_kn-1910.dts
  target/linux/ramips/dts/mt7621_mercusys_mr70x-v1.dts
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me2-sfp.dts
  target/linux/ramips/dts/mt7621_totolink_x5000r.dts
  target/linux/ramips/dts/mt7621_tplink_archer-ax23-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap613-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap615-wall-v1.dts
  target/linux/ramips/dts/mt7621_tplink_ex220-v1.dts
  target/linux/ramips/dts/mt7621_z-router_zr-2660.dts
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

ath79: wd,mynet-nxxx: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: enable CONFIG_NVMEM_LAYOUT_ASCII_ENV
  target/linux/ath79/config-6.12
Labels: target/ath79, kernel

ath79: wd,mynet-nxxx: use ascii nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: mynet-wifi-rangeextender: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-wifi-rangeextender.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/config-default
  target/linux/ath79/image/generic.mk
Labels: target/ath79, kernel

ath79: sitecom,wlrx100: use nvmem
  target/linux/ath79/dts/ar1022_sitecom_wlr-7100.dts
  target/linux/ath79/dts/qca9558_sitecom_wlr-8100.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: ws-ap3705i: use nvmem
  target/linux/ath79/dts/ar9344_enterasys_ws-ap3705i.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dir-8x5: use nvmem
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: iodata: extract calibration with nvmem
  target/linux/ath79/dts/ar1022_iodata_wn-ag300dgr.dts
  target/linux/ath79/dts/qca9557_iodata_wn-ac-dgr.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: userspace cal to nvmem
  target/linux/ath79/dts/ar7161_buffalo_wzr-hp-ag300h.dtsi
  target/linux/ath79/dts/ar7161_meraki_mr16.dts
  target/linux/ath79/dts/ar7240_buffalo_whr-g301n.dts
  target/linux/ath79/dts/ar7240_engenius_enh202-v1.dts
  target/linux/ath79/dts/ar7240_netgear_wnr1000-v2.dts
  target/linux/ath79/dts/ar7240_netgear_wnr612-v2.dtsi
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_ubnt_bullet-m-ar7240.dts
  target/linux/ath79/dts/ar7241_netgear_wnr2000-v3.dts
  target/linux/ath79/dts/ar7241_tplink.dtsi
  target/linux/ath79/dts/ar7241_tplink_tl-mr3220-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-mr3420-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr841-v7.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr842n-v1.dts
  target/linux/ath79/dts/ar7241_ubnt_airrouter.dts
  target/linux/ath79/dts/ar7241_ubnt_bullet-m-ar7241.dts
  target/linux/ath79/dts/ar7241_ubnt_nanobridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-loco-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_picostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_powerbridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_rocket-m.dts
  target/linux/ath79/dts/ar7242_buffalo_wzr-hp-g450h.dts
  target/linux/ath79/dts/ar7242_engenius_eap350-v1.dts
  target/linux/ath79/dts/ar7242_engenius_ecb350-v1.dts
  target/linux/ath79/dts/ar7242_meraki_mr12.dts
  target/linux/ath79/dts/ar724x_ubnt_xm.dtsi
  target/linux/ath79/dts/qca9531_asus_rp-ac51.dts
  target/linux/ath79/dts/qca9563_asus_pl-ac56.dts
  target/linux/ath79/dts/qca9563_asus_rp-ac66.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: dir-505: use nvmem
  target/linux/ath79/dts/ar9330_dlink_dir-505.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: engenius,eXXX: use nvmem
  target/linux/ath79/dts/qca9557_engenius_esr1200.dts
  target/linux/ath79/dts/qca9558_engenius_epg5000.dts
  target/linux/ath79/dts/qca9558_engenius_esr1750.dts
  target/linux/ath79/dts/qca9558_engenius_esr900.dts
  target/linux/ath79/dts/qca955x_senao_router-dual.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: ecb1xxx: use nvmem
  target/linux/ath79/dts/qca955x_engenius_ecb1xxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: ews511ap: use nvmewm
  target/linux/ath79/dts/qca9531_engenius_ews511ap.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: engenius: remove userspace label mac
  target/linux/ath79/dts/ar9341_engenius_eap300-v2.dts
  target/linux/ath79/dts/ar9341_engenius_ens202ext-v1.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: replace various mtd_get_mac_text
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ac.dts
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ni.dts
  target/linux/ath79/dts/qca9531_dlink_dch-g020-a1.dts
  target/linux/ath79/dts/qca9533_dlink_dap-13xx.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: iodata: set ath9k LED pin
  target/linux/ath79/dts/ar1022_iodata_wn-ag300dgr.dts
  target/linux/ath79/dts/qca9557_iodata_wn-ac-dgr.dtsi
Labels: target/ath79

ath79: alfa: remove label mac override
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: dir-842: use nvmem
  target/linux/ath79/dts/qca9563_dlink_dir-842-c.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: tew-673gru: use nvmem
  target/linux/ath79/dts/ar7161_trendnet_tew-673gru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: ws-ap3805i: use nvmem
  target/linux/ath79/dts/qca9557_extreme-networks_ws-ap3805i.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

mac80211: ath5k: remove ath79 bugfix
  package/kernel/mac80211/patches/ath5k/201-ath5k-WAR-for-AR71xx-PCI-bug.patch
Labels: core packages

ramips: e390ax: remove redundant 02_network MACs
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/dts/mt7621_dlink_dir-853-a1.dts
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

ath79: compex_wpj531: remove wrong wifi device
  target/linux/ath79/dts/qca9531_compex_wpj531-16m.dts
Labels: target/ath79

kernel: kmod-fs-nfs: add several feature and kmods
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

sysfsutils: fix typo in placeholder
  package/libs/sysfsutils/files/local.conf
Labels: core packages

dnsmasq: add append_conf_file() to dnsmasq.init
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: add append_conf_file() to dnsmasq.init
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

ath79: iodata: set ath9k LED pin
  target/linux/ath79/dts/ar1022_iodata_wn-ag300dgr.dts
  target/linux/ath79/dts/qca9557_iodata_wn-ac-dgr.dtsi
Labels: target/ath79

ath79: iodata: extract calibration with nvmem
  target/linux/ath79/dts/ar1022_iodata_wn-ag300dgr.dts
  target/linux/ath79/dts/qca9557_iodata_wn-ac-dgr.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

mold: Update to 2.40.4
  tools/mold/Makefile
Labels: build/scripts/tools

mold: Update to 2.40.4
  tools/mold/Makefile
Labels: build/scripts/tools

ath79: dir-825-c1: set LED pin properly
  target/linux/ath79/dts/ar9344_dlink_dir-825-c1.dts
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
Labels: target/ath79

ath79: wb2000: use led-sources for ath9k
  target/linux/ath79/dts/ar9344_winchannel_wb2000.dts
Labels: target/ath79

ath79: compex_wpj531: remove wrong wifi device
  target/linux/ath79/dts/qca9531_compex_wpj531-16m.dts
Labels: target/ath79

treewide: fix compatible string for ath10k
  target/linux/ath79/dts/qca9531_tplink_archer-d50-v1.dts
  target/linux/ath79/dts/qca9531_tplink_tl-wr902ac-v1.dts
  target/linux/ath79/dts/qca9557_ruckus_r500.dts
  target/linux/ath79/dts/qca9558_nec_aterm.dtsi
  target/linux/ath79/dts/qca9558_nec_wg2200hp.dts
  target/linux/ath79/dts/qca9563_kuwfi_n650.dts
  target/linux/ath79/dts/qca9563_nec_wg1200cr.dts
  target/linux/ath79/dts/qca9563_yuncore_xd4200.dtsi
  target/linux/ath79/dts/qcn5502_tplink_archer-a9-v6.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf18a.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-d7800.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500v2.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
Labels: target/ath79, target/ipq40xx, target/ipq806x

ipq-wifi: update to Git HEAD (2025-08-25)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

kernel: bump 6.12 to 6.12.42
  target/linux/ath79/patches-6.12/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.12/950-0196-staging-fbtft-Add-support-for-display-variants.patch
  target/linux/bcm27xx/patches-6.12/950-0330-pps-Compatibility-hack-should-be-X86-specific.patch
  target/linux/generic/backport-6.12/612-12-v6.17-net-dsa-b53-fix-unicast-multicast-flooding-on-BCM5325.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/650-net-pppoe-implement-GRO-support.patch
  target/linux/generic/pending-6.12/655-increase_skb_pad.patch
  target/linux/generic/pending-6.12/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.12/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
Labels: target/ath79, target/bcm27xx, target/ipq40xx, kernel
