Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

ath79: add calibtation variant for TP-Link Archer C60 v1
  target/linux/ath79/dts/qca9561_tplink_archer-c60-v1.dts
  target/linux/ath79/image/generic-tp-link.mk
Labels: target/ath79

uboot-sunxi: randomize ethaddr on Olimex A20 boards
  package/boot/uboot-sunxi/patches/260-sunxi-a20-random-ethaddr-on-olinuxino-micro.patch
Labels: target/sunxi, core packages

sunxi: enable at24 support
  target/linux/sunxi/config-6.12
  target/linux/sunxi/cortexa53/config-6.12
Labels: target/sunxi, kernel

bcm2712: add kmod-r8169 and kmod-usb-net-rtl8152
  target/linux/bcm27xx/image/Makefile
Labels: target/bcm27xx

loongarch64: switch to Linux 6.12 by default
  target/linux/loongarch64/Makefile
Labels: target/loongarch64

mac80211: use https instead of http
  package/kernel/mac80211/Makefile
Labels: core packages

ramips: ethernet: ralink: mtu change while interface is down
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix offload with incompatible dsa tag
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix MT7620A_GDMA regs
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.h
Labels: target/ramips, kernel

ramips: ethernet: ralink: mt7620 enable jumbo frames
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.h
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/soc_mt7620.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: add disable-mac-learn
  target/linux/ramips/files/drivers/net/ethernet/ralink/mt7530.c
Labels: target/ramips, kernel

scripts/download.pl: use reasonable timeout and retry parameters
  scripts/download.pl
Labels: build/scripts/tools

ppp: add reqprefix norelease ac_mac
  package/network/services/ppp/files/lib/netifd/ppp6-up
  package/network/services/ppp/files/ppp.sh
Labels: core packages

kernel: improve mtk_eth_soc performance
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/pending-6.12/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.12/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.12/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.12/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/generic/pending-6.6/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.6/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.6/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.6/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.6/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.6/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.6/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.12/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.12/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.12/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.12/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
  target/linux/generic/pending-6.6/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.6/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.6/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.6/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.6/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
Labels: kernel

ramips: add TP-Link Archer C5 v4 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: add TP-Link EC220-G5 v2 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_ec220-g5-v2-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

uboot-mediatek: update Airoha EN8811H driver
  package/boot/uboot-mediatek/patches/160-net-phy-add-support-for-Airoha-ethernet-PHY-driver.patch
  package/boot/uboot-mediatek/patches/442-add-bpi-r3-mini.patch
Labels: target/mediatek, core packages

target: use SCAN_DIR when generating index for external feed
  include/target.mk
Labels: build/scripts/tools

mt76: update to Git HEAD (2025-09-09)
  package/kernel/mt76/Makefile
  target/linux/generic/backport-6.12/731-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/generic/backport-6.6/752-31-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/mediatek/patches-6.12/944-net-ethernet-mtk_wed-move-dlm-a-dedicated-dts-node.patch
Labels: target/mediatek, kernel, core packages

mediatek: Add support for Acer Predator Connect W6x Ubootmod
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-acer_predator-w6x.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-stock.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

dnsmasq: bump release to 2.91
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/0003-Handle-DS-queries-to-auth-zones.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

mediatek: CMCC RAX3000M: add RAX3000Me as alt model
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: add support for FudanMicro FM25S01A SPI-NAND
  target/linux/airoha/patches-6.6/901-snand-mtk-bmt-support.patch
  target/linux/generic/backport-6.6/419-v6.17-mtd-spinand-add-support-for-FudanMicro-FM25S01A.patch
  target/linux/generic/pending-6.6/410-mtd-spinand-set-bitflip_threshold-to-75-of-ECC-strength.patch
  target/linux/generic/pending-6.6/487-mtd-spinand-Add-support-for-Etron-EM73D044VCx.patch
  target/linux/mediatek/patches-6.6/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.6/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.6/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.6/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.6/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/airoha, target/mediatek, kernel

rockchip: increase the number of serial ports for rk35xx
  target/linux/rockchip/armv8/config-6.6
Labels: target/rockchip, kernel

rockchip: reorder hwRNG patches
  target/linux/rockchip/patches-6.6/030-12-v6.15-dt-bindings-reset-Add-SCMI-reset-IDs-for-RK3588.patch
  target/linux/rockchip/patches-6.6/030-13-v6.15-dt-bindings-rng-add-binding-for-Rockchip-RK3588-RNG.patch
  target/linux/rockchip/patches-6.6/030-14-v6.15-dt-bindings-rng-rockchip-rk3588-rng-Drop-unnecessary.patch
  target/linux/rockchip/patches-6.6/033-01-v6.12-hwrng-rockchip-rst-is-used-only-during-probe.patch
  target/linux/rockchip/patches-6.6/033-02-v6.12-hwrng-rockchip-handle-devm_pm_runtime_enable-errors.patch
  target/linux/rockchip/patches-6.6/033-03-v6.15-hwrng-rockchip-store-dev-pointer-in-driver-struct.patch
  target/linux/rockchip/patches-6.6/033-04-v6.15-hwrng-rockchip-eliminate-some-unnecessary-dereferenc.patch
  target/linux/rockchip/patches-6.6/033-05-v6.15-hwrng-rockchip-add-support-for-rk3588-s-standalone-T.patch
  target/linux/rockchip/patches-6.6/050-28-v6.15-arm64-dts-rockchip-Add-rng-node-to-RK3588.patch
  target/linux/rockchip/patches-6.6/050-29-v6.15-arm64-dts-rockchip-change-rng-reset-id-back-to-its-c.patch
Labels: target/rockchip

rockchip: backport GATE_LINK support for RK3588
  target/linux/rockchip/patches-6.6/030-15-v6.14-clk-rockchip-support-clocks-registered-late.patch
  target/linux/rockchip/patches-6.6/030-16-v6.14-clk-rockchip-rk3588-register-GATE_LINK-later.patch
  target/linux/rockchip/patches-6.6/030-17-v6.14-clk-rockchip-expose-rockchip_clk_set_lookup.patch
  target/linux/rockchip/patches-6.6/030-18-v6.14-clk-rockchip-implement-linked-gate-clock-support.patch
  target/linux/rockchip/patches-6.6/030-19-v6.14-clk-rockchip-rk3588-drop-RK3588_LINKED_CLK.patch
  target/linux/rockchip/patches-6.6/030-20-v6.14-clk-rockchip-rk3588-make-refclko25m_ethX-critical.patch
  target/linux/rockchip/patches-6.6/030-21-v6.15-clk-rockchip-rk3568-mark-hclk_vi-as-critical.patch
  target/linux/rockchip/patches-6.6/030-22-v6.16-clk-rockchip-rk3588-Add-PLL-rate-for-1500-MHz.patch
  target/linux/rockchip/patches-6.6/030-23-v6.16-clk-rockchip-Drop-empty-init-callback-for-rk3588-PLL-type.patch
Labels: target/rockchip

package/libs/elfutils: fix license
  package/libs/elfutils/Makefile
Labels: core packages

package/libs/gettext-full: fix license
  package/libs/gettext-full/Makefile
Labels: core packages

lantiq: adapt upstream commit to some dts files
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/amazonse.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube.dtsi
Labels: target/lantiq, kernel

mediatek: filogic: use NVMEM for EEPROM/precal on NWA50AX Pro
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
Labels: target/mediatek

mediatek: filogic: use NVMEM for wifi macaddr on NWA50AX Pro
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

kernel: backport patch to allow bpf fallback to interpreter
  target/linux/generic/backport-6.12/630-v6.17-bpf-Allow-fall-back-to-interpreter-for-programs-with.patch
Labels: kernel

base-files: modernize sysctl init script
  package/base-files/files/etc/init.d/sysctl
Labels: core packages

mediatek: filogic: add support Netcore NX30V2/N30PRO/W7/GW3001
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/461-add-netcore-pb7583.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-netcore-common.dtsi
  target/linux/mediatek/dts/mt7981b-netcore-pb7583.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: kmod-dsa-ks8995: Backport DSA patches
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.12/783-01-v6.18-net-dsa-Move-KS8995-to-the-DSA-subsystem.patch
  target/linux/generic/backport-6.12/783-02-v6.18-net-dsa-ks8995-Add-proper-RESET-delay.patch
  target/linux/generic/backport-6.12/783-03-v6.18-net-dsa-ks8995-Delete-sysfs-register-access.patch
  target/linux/generic/backport-6.12/783-04-v6.18-net-dsa-ks8995-Add-basic-switch-set-up.patch
  target/linux/generic/hack-6.12/735-net-phy-realtek-rtl8261n.patch
  target/linux/mediatek/patches-6.12/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.12/737-net-dsa-add-Airoha-AN8855.patch
  target/linux/realtek/patches-6.12/718-net-dsa-add-support-for-rtl838x-switch.patch
  target/linux/realtek/patches-6.12/720-add-rtl-phy.patch
Labels: target/mediatek, target/realtek, kernel, core packages

mt76: mt7996: Add external eeprom support
  package/kernel/mt76/patches/0001-mt76-mt7996-Add-external-eeprom-support.patch
Labels: core packages

realtek: cleanup mach include
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
Labels: target/realtek

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
