Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

tools: liblzo: set CMAKE_POLICY_VERSION to 3.5 to fix configuration errors
  tools/liblzo/Makefile
Labels: build/scripts/tools

tools: firmware-utils: update to Git HEAD (2025-08-03)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

tools: cmake: update to 4.0.3
  tools/cmake/Makefile
  tools/cmake/patches/100-no-testing.patch
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/160-disable_xcode_generator.patch
Labels: build/scripts/tools

nilfs-utils: add userspace utilities for NILFS2
  package/utils/nilfs-utils/Makefile
Labels: core packages

wifi-scripts: fix handling hotplug-added wireless vifs
  package/network/config/wifi-scripts/files/lib/netifd/wireless-device.uc
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
Labels: core packages

wifi-scripts: fix setup of vifs on multi-radio devices
  package/network/config/wifi-scripts/files/lib/netifd/wireless-device.uc
Labels: core packages

wifi-scripts: ucode: remove leftover debug comment
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
Labels: core packages

wifi-scripts: ucode: enforce MFP for SAE connections
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
Labels: core packages

ath10k-ct: update to version 6.14
  package/kernel/ath10k-ct/Makefile
  package/kernel/ath10k-ct/patches/001-patch-version.patch
  package/kernel/ath10k-ct/patches/002-ath10k-6.10-remove-unsupported-feature.patch
  package/kernel/ath10k-ct/patches/003-ath10k-ct-make-it-compatible-with-the-old-LTS-kernel.patch
  package/kernel/ath10k-ct/patches/004-Revert-wifi-ath10k-Use-iommu_paging_domain_alloc.patch
  package/kernel/ath10k-ct/patches/010-api_update.patch
  package/kernel/ath10k-ct/patches/201-wifi-ath10k-add-LED-and-GPIO-controlling-support-for.patch
  package/kernel/ath10k-ct/patches/202-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/ath10k-ct/patches/300-fix-fortify-checking-error.patch
  package/kernel/ath10k-ct/patches/960-0010-ath10k-limit-htt-rx-ring-size.patch
  package/kernel/ath10k-ct/patches/960-0011-ath10k-limit-pci-buffer-size.patch
  package/kernel/ath10k-ct/patches/988-ath10k-always-use-mac80211-loss-detection.patch
Labels: core packages

mac80211: Fix tracing backport
  package/kernel/mac80211/patches/build/140-trace_backport.patch
Labels: core packages

mac80211: fix issues with including linux/acpi_amd_wbrf.h on newer kernels
  package/kernel/mac80211/patches/build/110-backport-include-fix-linux-acpi_amd_wbrf.h-inclusion.patch
Labels: core packages

mac80211: ath11k: fix remapped ce access on 64-bit OS
  package/kernel/mac80211/patches/ath11k/910-ath11k-fix-remapped-ce-accessing-issue-on-64bit-OS.patch
Labels: core packages

mac80211: ath11k: add support for QCN6122 wifi
  package/kernel/mac80211/patches/ath11k/920-wifi-ath11k-add-hw-params-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/921-wifi-ath11k-add-hal-regs-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/922-wifi-ath11k-add-hw-ring-mask-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/923-wifi-ath11k-update-hif_and-pci_ops-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/924-wifi-ath11k-add-multipd-support-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/925-wifi-ath11k-add-QCN6122-device-support.patch
  package/kernel/mac80211/patches/ath11k/931-wifi-ath11k-Support-to-assign-m3-dump-memory.patch
  target/linux/qualcommax/patches-6.6/0820-dt-bindings-net-wireless-ath11k-add-bindings-for-QCN6122.patch
Labels: target/qualcommax, core packages

mac80211: ath11k: Support setting bdf-addr and caldb-addr via DT
  package/kernel/mac80211/patches/ath11k/201-wifi-ath11k-Support-setting-bdf-addr-and-caldb-addr-.patch
Labels: core packages

mac80211: ath11k: poll reo status ring for IPQ5018
  package/kernel/mac80211/patches/ath11k/932-wifi-ath11k-poll-reo-status-ipq5018.patch
Labels: core packages

mac80211: ath9k: clean up gpiochip
  package/kernel/mac80211/patches/ath9k/548-ath9k_enable_gpio_chip.patch
  package/kernel/mac80211/patches/ath9k/549-ath9k_enable_gpio_buttons.patch
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
Labels: core packages

mac80211: ath9k: remove platform leds
  package/kernel/mac80211/patches/ath9k/531-ath9k_extra_platform_leds.patch
  package/kernel/mac80211/patches/ath9k/547-ath9k_led_defstate_fix.patch
  package/kernel/mac80211/patches/ath9k/548-ath9k_enable_gpio_chip.patch
  package/kernel/mac80211/patches/ath9k/549-ath9k_enable_gpio_buttons.patch
  target/linux/generic/files/include/linux/ath9k_platform.h
Labels: kernel, core packages

mac80211: ath9k: remove gpio buttons support
  package/kernel/mac80211/patches/ath9k/549-ath9k_enable_gpio_buttons.patch
  target/linux/generic/files/include/linux/ath9k_platform.h
Labels: kernel, core packages

mac80211: fix led-pin usage
  package/kernel/mac80211/patches/ath9k/341-wifi-ath9k-obtain-system-gpios.patch
  package/kernel/mac80211/patches/ath9k/356-Revert-ath9k-interpret-requested-txpower-in-EIRP-dom.patch
  package/kernel/mac80211/patches/ath9k/365-ath9k-adjust-tx-power-reduction-for-US-regulatory-do.patch
  package/kernel/mac80211/patches/ath9k/513-ath9k_add_pci_ids.patch
  package/kernel/mac80211/patches/ath9k/542-ath9k_debugfs_diag.patch
Labels: core packages

mac80211: ath9k: simplify probe with devm
  package/kernel/mac80211/patches/ath9k/509-ath9k-use-devm-for-irq-and-ioremap-resource.patch
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
Labels: core packages

mac80211: backport API change for sta rate control update
  package/kernel/ath10k-ct/patches/003-ath10k-ct-make-it-compatible-with-the-old-LTS-kernel.patch
  package/kernel/mac80211/patches/ath10k/930-ath10k_add_tpt_led_trigger.patch
  package/kernel/mac80211/patches/ath10k/975-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/mac80211/patches/ath10k/988-ath10k-always-use-mac80211-loss-detection.patch
  package/kernel/mac80211/patches/ath11k/201-wifi-ath11k-Support-setting-bdf-addr-and-caldb-addr-.patch
  package/kernel/mac80211/patches/ath11k/923-wifi-ath11k-update-hif_and-pci_ops-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/924-wifi-ath11k-add-multipd-support-for-QCN6122.patch
  package/kernel/mac80211/patches/ath11k/932-wifi-ath11k-poll-reo-status-ipq5018.patch
  package/kernel/mac80211/patches/ath12k/001-wifi-ath12k-add-11d-scan-offload-support-and-handle-country-code-for-WCN7850.patch
  package/kernel/mac80211/patches/subsys/306-wifi-mac80211-call-rate_control_rate_update-for-link.patch
  package/kernel/mac80211/patches/subsys/334-wifi-cfg80211-pass-net_device-to-.set_monitor_channel.patch
  package/kernel/mt76/patches/100-api_update.patch
Labels: core packages

mac80211: ath12k: support fetching regdb from board-2.bin
  package/kernel/mac80211/patches/ath12k/002-wifi-ath12k-Fetch-regdb.bin-file-from-board-2.bin.patch
Labels: core packages

mac80211: ath12k: add patches for 160MHz support
  package/kernel/mac80211/patches/ath12k/104-1-wifi-ath12k-push-HE-MU-MIMO-params-to-hardware.patch
  package/kernel/mac80211/patches/ath12k/104-2-wifi-ath12k-push-EHT-MU-MIMO-params-to-hardware.patch
  package/kernel/mac80211/patches/ath12k/104-3-wifi-ath12k-move-HE-MCS-mapper-to-a-separate-function.patch
  package/kernel/mac80211/patches/ath12k/104-4-wifi-ath12k-generate-rx-and-tx-mcs-maps-for-supported-HE-mcs.patch
  package/kernel/mac80211/patches/ath12k/104-5-wifi-ath12k-fix-TX-and-RX-MCS-rate-configurations-in-HE-mode.patch
  package/kernel/mac80211/patches/ath12k/104-6-wifi-ath12k-add-support-for-setting-fixed-HE-rate-GI-LTF.patch
  package/kernel/mac80211/patches/ath12k/104-7-wifi-ath12k-clean-up-80P80-support.patch
  package/kernel/mac80211/patches/ath12k/104-8-wifi-ath12k-add-support-for-160-MHz-bandwidth.patch
  package/kernel/mac80211/patches/ath12k/104-9-wifi-ath12k-add-extended-NSS-bandwidth-support-for-160-MHz.patch
Labels: core packages

mac80211: ath12k: fix wideband operation on QCN9274
  package/kernel/mac80211/patches/ath12k/102-wifi-ath12k-limit-WMI_SCAN_CHAN_LIST_CMDID-arg.patch
  package/kernel/mac80211/patches/ath12k/103-wifi-ath12k-fix-5GHz-operation-on-wideband-QCN.patch
Labels: core packages

mac80211: refresh patches
  package/kernel/mac80211/patches/ath11k/932-wifi-ath11k-poll-reo-status-ipq5018.patch
  package/kernel/mac80211/patches/ath12k/103-wifi-ath12k-fix-5GHz-operation-on-wideband-QCN.patch
  package/kernel/mac80211/patches/ath12k/104-1-wifi-ath12k-push-HE-MU-MIMO-params-to-hardware.patch
  package/kernel/mac80211/patches/ath12k/104-3-wifi-ath12k-move-HE-MCS-mapper-to-a-separate-function.patch
  package/kernel/mac80211/patches/ath12k/104-4-wifi-ath12k-generate-rx-and-tx-mcs-maps-for-supported-HE-mcs.patch
  package/kernel/mac80211/patches/ath12k/104-6-wifi-ath12k-add-support-for-setting-fixed-HE-rate-GI-LTF.patch
  package/kernel/mac80211/patches/ath12k/104-7-wifi-ath12k-clean-up-80P80-support.patch
  package/kernel/mac80211/patches/ath12k/104-8-wifi-ath12k-add-support-for-160-MHz-bandwidth.patch
  package/kernel/mac80211/patches/ath12k/104-9-wifi-ath12k-add-extended-NSS-bandwidth-support-for-160-MHz.patch
Labels: core packages

mac80211: ath9k: remove wrong devm for request_irq
  package/kernel/mac80211/patches/ath9k/509-ath9k-use-devm-for-irq-and-ioremap-resource.patch
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
Labels: core packages

mac80211: ath12k: fix regdb parsing for 6GHz
  package/kernel/mac80211/patches/ath12k/003-wifi-ath12k-fix-handling-of-6-GHz-rules.patch
Labels: core packages

mac80211: rt2x00: fix build warnings on 6.12 kernel
  package/kernel/mac80211/patches/rt2x00/602-01-wifi-rt2x00-Add-support-for-loading-EEPROM-from-user.patch
  package/kernel/mac80211/patches/rt2x00/994-rt2x00-import-support-for-external-LNA-on-MT7620.patch
Labels: core packages

mac80211: ath9k: fix missing prototypes warnings
  package/kernel/mac80211/patches/ath9k/551-ath9k_ubnt_uap_plus_hsr.patch
Labels: core packages

mac80211: fix unaligned.h header location for 6.12 kernel
  package/kernel/mac80211/patches/build/120-backport-fix-unaligned.h-header-location.patch
Labels: core packages

mac80211: rt2x00: use remove_new
  package/kernel/mac80211/patches/rt2x00/997-rt2x00-change-remove-to-remove_new.patch
Labels: core packages

mac80211: ath9k: replace qca,led-sources
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-951ui-2hnd.dts
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
Labels: target/ath79, target/mpc85xx, kernel, core packages

mac80211: move OF stuff to ath9k_of_init
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
  package/kernel/mac80211/patches/ath9k/553-ath9k_of_gpio_mask.patch
Labels: core packages

mac80211: allow scanning operating on DFS channels
  package/kernel/mac80211/patches/subsys/350-mac80211-allow-scanning-while-on-radar-channel.patch
Labels: core packages

mac80211: ath9k: avoid a double reset
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
Labels: core packages

mac80211: ath9k: fix refclock typo
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
Labels: core packages

wifi: ath11k: disable coldboot calibration for ipq5018 and qcn6122
  package/kernel/mac80211/patches/ath11k/0907-wifi-ath11k-disable-coldboot-calibration-for-ipq5018.patch
  package/kernel/mac80211/patches/ath11k/920-wifi-ath11k-add-hw-params-for-QCN6122.patch
Labels: core packages

generic: backport secs_to_jiffies
  target/linux/generic/backport-6.6/330-v6.13-jiffies-Define-secs_to_jiffies.patch
  target/linux/generic/backport-6.6/331-v6.14-jiffies-Cast-to-unsigned-long-in-secs_to_jiffies-con.patch
Labels: kernel

wifi: ath11k: increase max ATH11K_QMI_CALDB_SIZE macro
  package/kernel/mac80211/patches/ath11k/920-wifi-ath11k-add-hw-params-for-QCN6122.patch
Labels: core packages

generic: 6.6: backport devm_clk_get_optional_enabled_with_rate
  target/linux/generic/backport-6.6/920-v6.12-clk-provide-devm_clk_get_optional_enabled_with_rate.patch
Labels: kernel
