Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

linux-firmware: amd: create early load ucode image
  package/firmware/linux-firmware/amd.mk
Labels: core packages

x86 and x86/64: config-6.12 disable microcode late loading
  target/linux/x86/64/config-6.12
  target/linux/x86/config-6.12
Labels: target/x86, kernel

x86: add microcode entries to grub config
  target/linux/x86/image/grub-efi.cfg
  target/linux/x86/image/grub-iso.cfg
  target/linux/x86/image/grub-pc.cfg
Labels: target/x86

realtek: power off SerDes when link down
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

config variation kernel for drm
  target/linux/rockchip/armv8/config-6.12
Labels: target/rockchip, kernel

treewide: simplify kernel version number comparisons
  target/linux/armsr/base-files/etc/board.d/03_gpio_switches
  target/linux/armsr/base-files/etc/uci-defaults/05-migrate-ten64-gpio
  target/linux/bmips/bcm63268/base-files/etc/board.d/03_gpio_switches
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/armsr, target/bmips, target/qualcommax

base-files: introduce a function to get kernel version number
  package/base-files/files/lib/functions/system.sh
Labels: core packages

rockchip: add RK3588 Hardware Random Number Generator
  target/linux/rockchip/patches-6.12/057-03-v6.15-dt-bindings-reset-Add-SCMI-reset-IDs-for-RK3588.patch
  target/linux/rockchip/patches-6.12/057-04-v6.15-dt-bindings-rng-add-binding-for-Rockchip-RK3588-RNG.patch
  target/linux/rockchip/patches-6.12/057-05-v6.15-dt-bindings-rng-rockchip-rk3588-rng-Drop-unnecessary.patch
  target/linux/rockchip/patches-6.12/057-06-v6.15-hwrng-rockchip-store-dev-pointer-in-driver-struct.patch
  target/linux/rockchip/patches-6.12/057-07-v6.15-hwrng-rockchip-eliminate-some-unnecessary-dereferenc.patch
  target/linux/rockchip/patches-6.12/057-08-v6.15-hwrng-rockchip-add-support-for-rk3588-s-standalone-T.patch
  target/linux/rockchip/patches-6.12/057-09-v6.15-arm64-dts-rockchip-Add-rng-node-to-RK3588.patch
  target/linux/rockchip/patches-6.12/057-10-v6.15-arm64-dts-rockchip-change-rng-reset-id-back-to-its-c.patch
Labels: target/rockchip

malta: use kernel 6.12 by default
  target/linux/malta/Makefile
Labels: target/malta

malta: drop 6.6 support
  target/linux/malta/config-6.6
Labels: target/malta, kernel

x86: enable built-in driver for MMC/SDHCI
  target/linux/x86/config-6.12
Labels: target/x86, kernel

Revert "config variation kernel for drm"
  target/linux/rockchip/armv8/config-6.12
Labels: target/rockchip, kernel

rockchip: Fix yt8521s reset on NanoPi R2C
  target/linux/rockchip/patches-6.6/104-arm64-rockchip-nanopi-r2c-fix-yt8521s-reset.patch
Labels: target/rockchip

mediatek: build rtl8367s_gsw as a kernel module
  target/linux/mediatek/modules.mk
Labels: target/mediatek

build: invalidate package info when SCAN_DEPS files deleted
  include/scan.mk
Labels: build/scripts/tools

base-files: remove ftp user and group
  package/base-files/files/etc/group
  package/base-files/files/etc/passwd
  package/base-files/files/etc/shadow
Labels: core packages

build: ipkg-remove: fix source name / package confusion, optimize
  scripts/ipkg-remove
Labels: build/scripts/tools

build: fix ipkg-remove: add support for removing apk files
  include/feeds.mk
  include/package-pack.mk
  scripts/ipkg-remove
Labels: build/scripts/tools

kernel/kirkwood: Create kernel files for v6.12 (from v6.6)
  target/linux/kirkwood/config-6.12
  target/linux/kirkwood/patches-6.12/100-ib62x0.patch
  target/linux/kirkwood/patches-6.12/101-iconnect.patch
  target/linux/kirkwood/patches-6.12/102-dockstar.patch
  target/linux/kirkwood/patches-6.12/103-iomega-ix2-200.patch
  target/linux/kirkwood/patches-6.12/105-linksys-viper-dts.patch
  target/linux/kirkwood/patches-6.12/106-goflexnet.patch
  target/linux/kirkwood/patches-6.12/107-01-zyxel-nsa3x0-common-nand-partitions.patch
  target/linux/kirkwood/patches-6.12/107-03-nsa325.patch
  target/linux/kirkwood/patches-6.12/109-pogoplug_v4.patch
  target/linux/kirkwood/patches-6.12/110-pogo_e02.patch
  target/linux/kirkwood/patches-6.12/111-l-50.patch
  target/linux/kirkwood/patches-6.12/112-sheevaplug.patch
  target/linux/kirkwood/patches-6.12/113-readynas_duo_v2.patch
  target/linux/kirkwood/patches-6.12/114-ctera-c-200-v1.patch
  target/linux/kirkwood/patches-6.12/115-nsa310s.patch
  target/linux/kirkwood/patches-6.12/116-4i-edge-200.patch
  target/linux/kirkwood/patches-6.12/117-netgear_stora.patch
  target/linux/kirkwood/patches-6.12/118-dns-320l.patch
  target/linux/kirkwood/patches-6.12/201-enable-sata-port-specific-led-triggers.patch
  target/linux/kirkwood/patches-6.12/202-linksys-find-active-root.patch
  target/linux/kirkwood/patches-6.12/203-blackarmor-nas220.patch
Labels: target/kirkwood, kernel

kirkwood: move files-6.6 to files
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-dns320l.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-e4200-v2.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-ea3500.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-ea4500.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-goflexhome.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-ix4-200d.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-nas1.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-nsa310b.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-on100.dts
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-stora.dts
Labels: target/kirkwood, kernel

kernel/kirkwood: Restore kernel files for v6.6
  target/linux/kirkwood/config-6.6
  target/linux/kirkwood/patches-6.6/100-ib62x0.patch
  target/linux/kirkwood/patches-6.6/101-iconnect.patch
  target/linux/kirkwood/patches-6.6/102-dockstar.patch
  target/linux/kirkwood/patches-6.6/103-iomega-ix2-200.patch
  target/linux/kirkwood/patches-6.6/105-linksys-viper-dts.patch
  target/linux/kirkwood/patches-6.6/106-goflexnet.patch
  target/linux/kirkwood/patches-6.6/107-01-zyxel-nsa3x0-common-nand-partitions.patch
  target/linux/kirkwood/patches-6.6/107-03-nsa325.patch
  target/linux/kirkwood/patches-6.6/109-pogoplug_v4.patch
  target/linux/kirkwood/patches-6.6/110-pogo_e02.patch
  target/linux/kirkwood/patches-6.6/111-l-50.patch
  target/linux/kirkwood/patches-6.6/112-sheevaplug.patch
  target/linux/kirkwood/patches-6.6/113-readynas_duo_v2.patch
  target/linux/kirkwood/patches-6.6/114-ctera-c-200-v1.patch
  target/linux/kirkwood/patches-6.6/115-nsa310s.patch
  target/linux/kirkwood/patches-6.6/116-4i-edge-200.patch
  target/linux/kirkwood/patches-6.6/117-netgear_stora.patch
  target/linux/kirkwood/patches-6.6/118-dns-320l.patch
  target/linux/kirkwood/patches-6.6/201-enable-sata-port-specific-led-triggers.patch
  target/linux/kirkwood/patches-6.6/202-linksys-find-active-root.patch
  target/linux/kirkwood/patches-6.6/203-blackarmor-nas220.patch
Labels: target/kirkwood, kernel

kirkwood: kernel: 6.12: refresh patches
  target/linux/kirkwood/patches-6.12/100-ib62x0.patch
  target/linux/kirkwood/patches-6.12/101-iconnect.patch
  target/linux/kirkwood/patches-6.12/102-dockstar.patch
  target/linux/kirkwood/patches-6.12/103-iomega-ix2-200.patch
  target/linux/kirkwood/patches-6.12/105-linksys-viper-dts.patch
  target/linux/kirkwood/patches-6.12/106-goflexnet.patch
  target/linux/kirkwood/patches-6.12/107-01-zyxel-nsa3x0-common-nand-partitions.patch
  target/linux/kirkwood/patches-6.12/107-03-nsa325.patch
  target/linux/kirkwood/patches-6.12/109-pogoplug_v4.patch
  target/linux/kirkwood/patches-6.12/110-pogo_e02.patch
  target/linux/kirkwood/patches-6.12/111-l-50.patch
  target/linux/kirkwood/patches-6.12/112-sheevaplug.patch
  target/linux/kirkwood/patches-6.12/115-nsa310s.patch
  target/linux/kirkwood/patches-6.12/202-linksys-find-active-root.patch
  target/linux/kirkwood/patches-6.12/203-blackarmor-nas220.patch
Labels: target/kirkwood

kirkwood: add 6.12 as testing kernel
  target/linux/kirkwood/Makefile
Labels: target/kirkwood

kirkwood: 6.12: refresh kernel config
  target/linux/kirkwood/config-6.12
Labels: target/kirkwood, kernel

uhttpd: update to Git HEAD (2025-07-06)
  package/network/services/uhttpd/Makefile
Labels: core packages

qualcommax: ipq50xx: update qcn6122 caldata offset of yuncore ax830
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
Labels: target/qualcommax

ramips: h3x,tx180x: use nvmem for uboot-env
  target/linux/ramips/dts/mt7621_h3c_tx180x.dtsi
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: iptime,t5004: use nvmem for ubootenv
  target/linux/ramips/dts/mt7621_iptime_t5004.dts
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: edimax,rx21s: use nvmem for ethaddr
  target/linux/ramips/dts/mt7621_edimax_rx21s.dtsi
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: comfast,cf-e390ax to nvmem mac
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

apm821xx: rename pciex to pcie
  target/linux/apm821xx/dts/apm82181.dtsi
Labels: target/apm821xx

apm821xx: fix pcie node numbers
  target/linux/apm821xx/dts/meraki-mr24.dts
  target/linux/apm821xx/dts/meraki-mx60.dts
  target/linux/apm821xx/dts/netgear-wndap620.dts
  target/linux/apm821xx/dts/netgear-wndap660.dts
  target/linux/apm821xx/dts/netgear-wndr4700.dts
Labels: target/apm821xx

mac80211: fix "failed to flush transmit queue" errors
  package/kernel/mac80211/patches/subsys/410-mac80211-Revert-flush-queues-on-STA-removal.patch
Labels: core packages

mediatek: Ruijie RG-X60 Pro: add OpenWrt U-Boot layout
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/464-add-ruijie-rg-x60-pro.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

mediatek: add support for Mercusys MR85X
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-mercusys-mr85x.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

realtek: dsa: relax capability checks for 2.5G modes
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

mediatek: add Huasifei WH3000 Pro support
  target/linux/mediatek/dts/mt7981b-huasifei-wh3000-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: bump 6.6 to 6.6.98
  target/linux/airoha/patches-6.6/901-snand-mtk-bmt-support.patch
  target/linux/generic/kernel-6.6
Labels: target/airoha, kernel

kernel: bump 6.12 to 6.12.38
  target/linux/generic/kernel-6.12
Labels: kernel

bcm53xx: add Device Tree support for ASUS RT-AC3200 (BCM4709) and RT-AC5300 (BCM47094)
  package/utils/nvram/Makefile
  package/utils/nvram/files/nvram-bcm53xx.init
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages
