Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

generic/config-6.12: add new option
  target/linux/generic/config-6.12
Labels: kernel

kernel: bump 6.12 to 6.12.41
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0521-mm-vmscan-Maintain-TLB-coherency-in-LRU-code.patch
  target/linux/generic/backport-6.12/410-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.12/410-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.12/410-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.12/410-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.12/410-05-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.12/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.12
Labels: target/bcm27xx, kernel

realtek: convert access to RTL931x analog serdes pages
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

Update leds-group-virtualcolor.c
  package/kernel/leds-group-virtualcolor/src/leds-group-virtualcolor.c
Labels: core packages

bcm53xx: add Device Tree support for ASUS RT-AC3200 (BCM4709) and RT-AC5300 (BCM47094)
  package/utils/nvram/Makefile
  package/utils/nvram/files/04-nvram-firstboot
  package/utils/nvram/files/nvram-bcm53xx.init
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages

realtek: Introduce Plasma Cloud sysupgrade helper
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
Labels: target/realtek

realtek: rtl930x: Add support for Plasma Cloud PSX8 Switch
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_common.dtsi
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

realtek: rtl930x: Add support for Plasma Cloud PSX10 Switch
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx10.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

wifi-scripts: fix mac address addition logic
  package/network/config/wifi-scripts/files/usr/share/hostap/common.uc
Labels: core packages

realtek: rtl930x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl931x: Switch LED init to dev_* message helper
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Add support for active-low LEDs
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Cleanup LED set initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl930x: Clean up LED set initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl930x: Fix out-of-bounds check in LED set configuration
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

mediatek: Add support for Acer Predator Connect W6x Ubootmod
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-acer_predator-w6x.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-stock.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: ramips: mt7621: enable PSTORE and UIMAGE_FIT_BLK
  target/linux/ramips/mt7621/config-6.12
Labels: target/ramips, kernel

mediatek: filogic: add support for Zbtlink ZBT-Z8802BE
  target/linux/mediatek/dts/mt7988d-zbtlink-zbt-z8802be.dts
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mediatek: dts: use dt-bindings documented bias type for UniFi 6 Plus
  target/linux/mediatek/dts/mt7981a-ubnt-unifi-6-plus.dts
Labels: target/mediatek

uboot-mediatek: remove wmcpu_emi dts node leftovers
  package/boot/uboot-mediatek/patches/436-add-glinet-mt6000.patch
Labels: target/mediatek, core packages

ipq40xx: add support for Cisco Meraki Z3
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/board.d/03_gpio_switches
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-wired-qca-common.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-z3.dts
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ramips: Add Support Wavlink WS-WN572HP3 A-V1.4
  target/linux/ramips/dts/mt7621_wavlink_ws-wn572hp3-a-v1-4.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

ipq40xx: add support for Cisco Meraki Go GX20
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/board.d/03_gpio_switches
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-gx20.dts
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ipq40xx: add support for Cisco Meraki MR30H
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-mr30h.dts
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ramips: Add Support Wavlink WS-WN572HP3 A-V1.4
  target/linux/ramips/dts/mt7621_wavlink_ws-wn572hp3-a-v1-4.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

uboot-mediatek: add Ubiquiti EdgeRouter X
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/467-add-Ubiquiti-EdgeRouter-X.patch
Labels: target/mediatek, core packages

ramips: add Ubiquiti EdgeRouter X (FIT)
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_ubnt_edgerouter-x-fit.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/board.d/03_gpio_switches
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips, core packages

ath79: tl-wdr4900-v2: set ath9k led-pin
  target/linux/ath79/dts/qca9558_tplink_tl-wdr4900-v2.dts
Labels: target/ath79

ath79: tplink_tl-wdrxxxx: use led-sources for ath9k
  target/linux/ath79/dts/ar9344_tplink_tl-wdr3500-v1.dts
  target/linux/ath79/dts/ar9344_tplink_tl-wdr4300.dtsi
  target/linux/ath79/dts/ar9344_tplink_tl-wdrxxxx.dtsi
Labels: target/ath79

ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: araknis_an-300-ap-i-n: use led-sources
  target/linux/ath79/dts/ar9344_araknis_an-300-ap-i-n.dts
Labels: target/ath79

qualcommax: ipq50xx: Add support for Yuncore AX850
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax850.dts
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

wifi-scripts: ucode: fix random mac address
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/iface.uc
Labels: core packages

wifi-scripts: fix reload handling with random macaddr
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/iface.uc
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
  package/network/services/hostapd/files/hostapd.uc
Labels: core packages

hostapd: fix link address of secondary MLO interfaces
  package/network/services/hostapd/patches/601-ucode_support.patch
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

wifi-scripts: fix reload handling with random macaddr
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
  package/network/services/hostapd/files/hostapd.uc
Labels: core packages

dnsmasq: add function call to append_conf_file() in dnsmasq.init
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

include: make APK .list files even more reproducible
  include/package-pack.mk
Labels: build/scripts/tools

realtek: rtl930x: Fix out-of-bounds check in LED set configuration
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
