Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

kernel: bump 5.15 to 5.15.186
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0067-fbdev-add-FBIOCOPYAREA-ioctl.patch
  target/linux/bcm27xx/patches-5.15/950-0099-hid-Reduce-default-mouse-polling-interval-to-60Hz.patch
  target/linux/bcm27xx/patches-5.15/950-0119-media-tc358743-Increase-FIFO-level-to-374.patch
  target/linux/bcm27xx/patches-5.15/950-0120-media-tc358743-fix-connected-active-CSI-2-lane-repor.patch
  target/linux/bcm27xx/patches-5.15/950-0121-media-tc358743-Add-support-for-972Mbit-s-link-freq.patch
  target/linux/bcm27xx/patches-5.15/950-0122-media-tc358743-Check-I2C-succeeded-during-probe.patch
  target/linux/bcm27xx/patches-5.15/950-0128-media-tc358743-Return-an-appropriate-colorspace-from.patch
  target/linux/bcm27xx/patches-5.15/950-0153-usbhid-call-usb_fixup_endpoint-after-mangling-interv.patch
  target/linux/bcm27xx/patches-5.15/950-0201-media-videodev2.h-Add-a-format-for-column-YUV4-2-0-m.patch
  target/linux/bcm27xx/patches-5.15/950-0211-media-uapi-v4l2-core-Add-sensor-ancillary-data-V4L2-.patch
  target/linux/bcm27xx/patches-5.15/950-0219-media-uapi-v4l2-core-Add-ISP-statistics-output-V4L2-.patch
  target/linux/bcm27xx/patches-5.15/950-0226-media-i2c-tc358743-Fix-fallthrough-warning.patch
  target/linux/bcm27xx/patches-5.15/950-0260-media-Add-a-pixel-format-for-MIPI-packed-12bit-luma-.patch
  target/linux/bcm27xx/patches-5.15/950-0261-media-Add-a-pixel-format-for-MIPI-packed-14bit-luma-.patch
  target/linux/bcm27xx/patches-5.15/950-0278-media-i2c-tc358743-Only-allow-supported-pixel-fmts-i.patch
  target/linux/bcm27xx/patches-5.15/950-0371-clk-raspberrypi-Also-support-HEVC-clock.patch
  target/linux/bcm27xx/patches-5.15/950-0455-media-i2c-tc358743-Fix-compiler-warning.patch
  target/linux/bcm27xx/patches-5.15/950-0464-videodev2.h-add-V4L2_CTRL_FLAG_DYNAMIC_ARRAY.patch
  target/linux/bcm27xx/patches-5.15/950-0548-clk-raspberrypi-Support-VEC-clock.patch
  target/linux/bcm27xx/patches-5.15/950-0591-clk-bcm-rpi-Add-the-BCM283x-pixel-clock.patch
  target/linux/bcm27xx/patches-5.15/950-0858-clk-bcm-rpi-Add-variant-structure.patch
  target/linux/bcm27xx/patches-5.15/950-0859-clk-bcm-rpi-Set-a-default-minimum-rate.patch
  target/linux/bcm27xx/patches-5.15/950-0880-Revert-fbdev-Fix-unregistering-of-framebuffers-witho.patch
  target/linux/bcm27xx/patches-5.15/950-0881-Revert-fbdev-Hot-unplug-firmware-fb-devices-on-force.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/532-jffs2_eofdetect.patch
  target/linux/ipq806x/patches-5.15/119-v6.0-02-ARM-dts-qcom-add-rpmcc-missing-clocks-for-apq-ipq806.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/ramips/patches-5.15/810-uvc-add-iPassion-iP2970-support.patch
  target/linux/realtek/patches-5.15/800-net-mdio-support-hardware-assisted-indirect-access.patch
Labels: target/ath79, target/bcm27xx, target/ipq806x, target/ramips, target/realtek, kernel, build/scripts/tools

kernel: bump 5.15 to 5.15.187
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0070-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0161-drm-v3d-Clock-V3D-down-when-not-in-use.patch
  target/linux/bcm27xx/patches-5.15/950-0173-drm-v3d-Delete-pm_runtime-support.patch
  target/linux/bcm27xx/patches-5.15/950-0179-drm-v3d-Plug-dma_fence-leak.patch
  target/linux/bcm27xx/patches-5.15/950-0184-v3d_gem-Kick-the-clock-so-firmware-knows-we-are-usin.patch
  target/linux/generic/hack-5.15/726-net-eth-dpaa2-eth-do-not-hold-rtnl_lock.patch
  target/linux/mediatek/patches-5.15/330-snand-mtk-bmt-support.patch
  target/linux/x86/config-5.15
Labels: target/bcm27xx, target/mediatek, target/x86, kernel, build/scripts/tools

wifi-scripts: correctly set basic-rates with wpa_supplicant
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

mediatek: filogic: add support for ipTIME AX3000Q
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

ramips: set packet steering to all CPUs as default on mt7621
  target/linux/ramips/mt7621/base-files/etc/uci-defaults/01_enable_packet_steering
Labels: target/ramips

realtek: enhance RTL930x SerDes/PLL/CMU interoperability
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: avoid interrupt storm on mass packet receive
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

dropbear: bump to 2025.88
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/patches/050-dropbear-multihop-fix.patch
  package/network/services/dropbear/patches/100-pubkey_path.patch
  package/network/services/dropbear/patches/140-disable_assert.patch
  package/network/services/dropbear/patches/160-lto-jobserver.patch
  package/network/services/dropbear/patches/910-signkey-fix-use-of-rsa-sha2-256-pubkeys.patch
Labels: core packages

dropbear: simplify rebuild on config changes
  package/network/services/dropbear/Makefile
Labels: core packages

dropbear: disable RSA-SHA1 by default
  package/network/services/dropbear/Config.in
Labels: core packages

dropbear: refactor configuration
  package/network/services/dropbear/Config.in
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/files/dropbear.init
Labels: core packages

kernel: bump 6.6 to 6.6.96
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0106-Add-support-for-all-the-downstream-rpi-sound-card-dr.patch
  target/linux/generic/pending-6.6/650-Revert-ipv6-save-dontfrag-in-cork.patch
  target/linux/x86/patches-6.6/103-pcengines_apu6_platform.patch
Labels: target/bcm27xx, target/x86, kernel, build/scripts/tools

bcm53xx: add support for ASUS RT-AC3200 and RT-AC5300
  package/utils/nvram/Makefile
  package/utils/nvram/files/nvram-bcm53xx.init
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages

kernel: bump 6.6 to 6.6.97
  include/kernel-6.6
  target/linux/airoha/patches-6.6/901-snand-mtk-bmt-support.patch
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0092-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0133-lan78xx-Debounce-link-events-to-minimize-poll-storm.patch
  target/linux/bcm27xx/patches-6.6/950-0167-drm-v3d-Clock-V3D-down-when-not-in-use.patch
  target/linux/bcm27xx/patches-6.6/950-0188-v3d_gem-Kick-the-clock-so-firmware-knows-we-are-usin.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-0464-drm-v3d-New-debugfs-end-points-to-query-GPU-usage-st.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-0514-sdhci-Add-SD-Express-hook.patch
  target/linux/bcm27xx/patches-6.6/950-0535-i2c-designware-Add-SMBUS-quick-command-support.patch
  target/linux/bcm27xx/patches-6.6/950-0555-drm-v3d-fix-up-register-addresses-for-V3D-7.x.patch
  target/linux/bcm27xx/patches-6.6/950-0716-drivers-mmc-sdhci-add-SPURIOUS_INT_RESP-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-1116-mmc-sdhci-extend-maximum-ADMA-transfer-length-to-4Mi.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.6/950-1260-drivers-mmc-disable-write-caching-on-Samsung-2023-mo.patch
  target/linux/bcm27xx/patches-6.6/950-1333-mmc-quirks-disable-cache-on-more-known-bad-Sandisk-c.patch
  target/linux/bcm27xx/patches-6.6/950-1336-mmc-quirks-add-MMC_QUIRK_BROKEN_ERASE-for-Phison-Int.patch
  target/linux/bcm27xx/patches-6.6/950-1396-i2c-designware-Add-support-for-bus-clear-feature.patch
  target/linux/bcm27xx/patches-6.6/950-1507-mmc-set-MMC_QUIRK_KNOWN_WORKING_SD_CQ-on-Raspberry-P.patch
  target/linux/bcm27xx/patches-6.6/950-1553-drm-v3d-Associate-a-V3D-tech-revision-to-all-support.patch
  target/linux/bcm27xx/patches-6.6/950-1555-drm-v3d-Use-V3D_SMS-registers-for-power-on-off-and-r.patch
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.6/001-powerpc-kernel-Fix-pcc_save_regs-inclusion.patch
  target/linux/generic/backport-6.6/0080-v6.9-smp-Avoid-setup_max_cpus_namespace_collision_shadowing.patch
  target/linux/generic/backport-6.6/792-v6.16-igc-enable-HW-vlan-tag-insertion-stripping-by-defaul.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/mediatek/patches-6.6/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.6/960-asus-hack-u-boot-ignore-mtdparts.patch
  target/linux/ramips/patches-6.6/831-mmc-mtk-sd-initialize-pad-delay-and-drive-strength.patch
  target/linux/starfive/patches-6.6/0109-usb-xhci-To-improve-performance-usb-using-lowmem-for.patch
  target/linux/starfive/patches-6.6/0110-usb-xhci-using-dma_alloc_noncoherent-to-alloc-low-me.patch
  target/linux/x86/config-6.6
Labels: target/airoha, target/bcm27xx, target/bcm53xx, target/mediatek, target/ramips, target/starfive, target/x86, kernel, build/scripts/tools

toolchain: glibc: update to 2.41
  toolchain/glibc/common.mk
  toolchain/glibc/patches/050-Revert-Disallow-use-of-DES-encryption-functions-in-n.patch
Labels: toolchain

scripts/ext-toolchain: adjust with recent glibc
  scripts/ext-toolchain.sh
Labels: build/scripts/tools

libpcap: adjust with glibc and libcrypt-compat
  package/libs/libpcap/Makefile
Labels: core packages

toolchain: glibc: Update glibc 2.41 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain

toolchain: adjust with recent glibc
  package/libs/toolchain/Makefile
Labels: core packages

dropbear: adjust with glibc and libcrypt-compat
  package/network/services/dropbear/Makefile
Labels: core packages

rpcd: adjust with glibc and libcrypt-compat
  package/system/rpcd/Makefile
Labels: core packages

ppp: adjust with glibc and libcrypt-compat
  package/network/services/ppp/Makefile
Labels: core packages

busybox: adjust with glibc and libcrypt-compat
  package/utils/busybox/Makefile
Labels: core packages

policycoreutils: adjust with glibc and libcrypt-compat
  package/utils/policycoreutils/Makefile
Labels: core packages

uhttpd: adjust with glibc and libcrypt-compat
  package/network/services/uhttpd/Makefile
Labels: core packages

octeon: copy 6.6 patches to 6.12
  target/linux/octeon/patches-6.12/100-mips_image_cmdline_hack.patch
  target/linux/octeon/patches-6.12/100-ubnt_edgerouter2_support.patch
  target/linux/octeon/patches-6.12/110-er200-ethernet_probe_order.patch
  target/linux/octeon/patches-6.12/120-cmdline-hack.patch
  target/linux/octeon/patches-6.12/130-add_itus_support.patch
  target/linux/octeon/patches-6.12/150-ubnt_usg_support.patch
  target/linux/octeon/patches-6.12/700-allocate_interface_by_label.patch
  target/linux/octeon/patches-6.12/701-honor_sgmii_node_device_tree_status.patch
  target/linux/octeon/patches-6.12/702-qca833x-force-pcs-reset.patch
Labels: target/octeon

octeon: refresh 6.12 patches
  target/linux/octeon/patches-6.12/100-mips_image_cmdline_hack.patch
Labels: target/octeon

octeon: fix command line hack for Linux 6.12
  target/linux/octeon/patches-6.12/120-cmdline-hack.patch
Labels: target/octeon

octeon: add Linux 6.12 kconfig
  target/linux/octeon/config-6.12
Labels: target/octeon, kernel

octeon: add Linux 6.12 as testing kernel
  target/linux/octeon/Makefile
Labels: target/octeon

realtek - adding support for plasmacloud psx8 and psx10 swithes.
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx10.dts
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dts
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dtsi
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

rtl930x: Fix ledset configuration and add ability to force portmask.
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

rtl930x: Extend kernel commandline from bootloader for dualboot.
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

octeon: ubnt-*: Add device specific DTS pruning
  target/linux/octeon/patches-6.6/400-ubnt_dts_pruning.patch
Labels: target/octeon

octeon: ubnt-*: Add device specific DTS pruning
  target/linux/octeon/patches-5.15/400-ubnt_dts_pruning.patch
Labels: target/octeon

dnsmasq: bump release to 2.91
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/0003-Handle-DS-queries-to-auth-zones.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

realtek: simplify RTL8218B/RTL8214Fx detection
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek
