Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

ath79: ecb1xxx: use nvmem
  target/linux/ath79/dts/qca955x_engenius_ecb1xxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: tew-673gru: use nvmem
  target/linux/ath79/dts/ar7161_trendnet_tew-673gru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: ws-ap3805i: use nvmem
  target/linux/ath79/dts/qca9557_extreme-networks_ws-ap3805i.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: ws-ap3705i: use nvmem
  target/linux/ath79/dts/ar9344_enterasys_ws-ap3705i.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: dir-842: use nvmem
  target/linux/ath79/dts/qca9563_dlink_dir-842-c.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dir-505: use nvmem
  target/linux/ath79/dts/ar9330_dlink_dir-505.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: engenius: remove userspace label mac
  target/linux/ath79/dts/ar9341_engenius_eap300-v2.dts
  target/linux/ath79/dts/ar9341_engenius_ens202ext-v1.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: trendnet,tew-823dru: use nvmem
  target/linux/ath79/dts/qca9558_trendnet_tew-823dru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: engenius,eXXX: use nvmem
  target/linux/ath79/dts/qca9557_engenius_esr1200.dts
  target/linux/ath79/dts/qca9558_engenius_epg5000.dts
  target/linux/ath79/dts/qca9558_engenius_esr1750.dts
  target/linux/ath79/dts/qca9558_engenius_esr900.dts
  target/linux/ath79/dts/qca955x_senao_router-dual.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: dir-8x5: use nvmem
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: replace various mtd_get_mac_text
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ac.dts
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ni.dts
  target/linux/ath79/dts/qca9531_dlink_dch-g020-a1.dts
  target/linux/ath79/dts/qca9533_dlink_dap-13xx.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: alfa: remove label mac override
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: userspace cal to nvmem
  target/linux/ath79/dts/ar7161_buffalo_wzr-hp-ag300h.dtsi
  target/linux/ath79/dts/ar7161_meraki_mr16.dts
  target/linux/ath79/dts/ar7240_buffalo_whr-g301n.dts
  target/linux/ath79/dts/ar7240_engenius_enh202-v1.dts
  target/linux/ath79/dts/ar7240_netgear_wnr1000-v2.dts
  target/linux/ath79/dts/ar7240_netgear_wnr612-v2.dtsi
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_ubnt_bullet-m-ar7240.dts
  target/linux/ath79/dts/ar7241_netgear_wnr2000-v3.dts
  target/linux/ath79/dts/ar7241_tplink.dtsi
  target/linux/ath79/dts/ar7241_tplink_tl-mr3220-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-mr3420-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr841-v7.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr842n-v1.dts
  target/linux/ath79/dts/ar7241_ubnt_airrouter.dts
  target/linux/ath79/dts/ar7241_ubnt_bullet-m-ar7241.dts
  target/linux/ath79/dts/ar7241_ubnt_nanobridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-loco-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_picostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_powerbridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_rocket-m.dts
  target/linux/ath79/dts/ar7242_buffalo_wzr-hp-g450h.dts
  target/linux/ath79/dts/ar7242_engenius_eap350-v1.dts
  target/linux/ath79/dts/ar7242_engenius_ecb350-v1.dts
  target/linux/ath79/dts/ar7242_meraki_mr12.dts
  target/linux/ath79/dts/ar724x_ubnt_xm.dtsi
  target/linux/ath79/dts/qca9531_asus_rp-ac51.dts
  target/linux/ath79/dts/qca9563_asus_pl-ac56.dts
  target/linux/ath79/dts/qca9563_asus_rp-ac66.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: sitecom,wlrx100: use nvmem
  target/linux/ath79/dts/ar1022_sitecom_wlr-7100.dts
  target/linux/ath79/dts/qca9558_sitecom_wlr-8100.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: mynet-wifi-rangeextender: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-wifi-rangeextender.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/config-default
  target/linux/ath79/image/generic.mk
Labels: target/ath79, kernel

ath79: ews511ap: use nvmewm
  target/linux/ath79/dts/qca9531_engenius_ews511ap.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

mt7621: zyxel nwa-ax: set mac address in dts
  target/linux/ramips/dts/mt7621_zyxel_nwa-ax.dtsi
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

realtek: create central DTS macro include
  target/linux/realtek/dts/macros.dtsi
  target/linux/realtek/dts/rtl838x.dtsi
  target/linux/realtek/dts/rtl839x.dtsi
  target/linux/realtek/dts/rtl930x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

wifi-scripts: iface should be optional in wifi-vlan definition
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
Labels: core packages

realtek: cleanup documentation
  target/linux/realtek/files-6.12/Documentation/devicetree/bindings/realtek,otto-timer.yaml
Labels: target/realtek

realtek: rtl8231-aux: add RTL931x support
  target/linux/realtek/patches-6.12/723-net-mdio-Add-Realtek-Otto-auxiliary-controller.patch
Labels: target/realtek

realtek: add rtl8231-aux to rtl931x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

realtek: add RTL8231 driver configuration to kernel build
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
Labels: target/realtek, kernel

mediatek: add CMCC RAX3000Me support
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/447-add-cmcc_rax3000me.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m-emmc.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m-nand.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000me-nousb.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000me.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

arm-trusted-firmware-mediatek: add support for FMSH SPI-NAND
  package/boot/arm-trusted-firmware-mediatek/patches/0010-add-support-for-fmsh-spi-nand.patch
Labels: target/mediatek, core packages

kernel: add support for FM25S01A SPI-NAND
  target/linux/generic/pending-6.12/489-mtd-spinand-add-support-for-FudanMicro-FM25S01A.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/mediatek, kernel

uboot-mediatek: add support for FM25S01A SPI-NAND
  package/boot/uboot-mediatek/patches/100-20-mtd-spi-nand-add-support-for-FudanMicro-chips.patch
Labels: target/mediatek, core packages

wifi-scripts: iface should be optional in wifi-vlan definition
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
Labels: core packages

wifi-scripts: ucode: fix setting supported/basic rates in config
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/hostapd.uc
Labels: core packages

mt76: update to Git HEAD (2025-08-14)
  package/kernel/mt76/Makefile
Labels: core packages

uboot-mediatek: add support for FudanMicro FM25S01A
  package/boot/uboot-mediatek/patches/110-mtd-spi-nand-add-support-for-FudanMicro-FM25S01A.patch
Labels: target/mediatek, core packages

uci: update to Git HEAD (2025-08-14)
  package/system/uci/Makefile
Labels: core packages

netifd: update to Git HEAD (2025-08-14)
  package/network/config/netifd/Makefile
Labels: core packages

kernel: mediatek: add support for FudanMicro FM25S01A
  target/linux/mediatek/patches-6.12/341-mtd-spinand-add-FudanMicro-FM25S01A.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/mediatek

wifi-scripts: Avoid syslog message variable data does not exist
  package/network/config/wifi-scripts/files/lib/netifd/wireless-device.uc
Labels: core packages

ath79: add extended AR9344 reset sequence
  target/linux/ath79/patches-5.15/101-reset-ath79-reset-ETH-switch-for-AR9344.patch
Labels: target/ath79

wifi-scripts: Avoid syslog message variable data does not exist
  package/network/config/wifi-scripts/files/lib/netifd/wireless-device.uc
Labels: core packages

grub2: provide grub modules to boot an iso image
  package/boot/grub2/Makefile
Labels: core packages

kernel/modules: add BQ32000 I2C RTC kernel module support
  package/kernel/linux/modules/rtc.mk
Labels: kernel, core packages
