Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

mediatek: include leds/common.h header
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
Labels: target/mediatek

mediatek: add support for AsiaRF AP7622-WH1
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
  target/linux/mediatek/image/mt7622.mk
Labels: target/mediatek

mediatek: Fix led node
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
Labels: target/mediatek

mediatek: use nvmem framework for eeprom.
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
Labels: target/mediatek

ath79: tiny: tplink: add nvmem and fix
  target/linux/ath79/dts/ar7241_tplink.dtsi
  target/linux/ath79/dts/ar7241_tplink_tl-mr3220-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-mr3420-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr841-v7.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

wifi-scripts: ucode: fix dynamic_vlan value handling
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-iface.json
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
Labels: core packages

wifi-scripts: ucode: set default wildcard mac for wifi-station
  package/network/config/wifi-scripts/files-ucode/lib/netifd/wireless/mac80211.sh
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-station.json
Labels: core packages

wifi-scripts: ucode: print unknown ssid as unknown
  package/network/config/wifi-scripts/files-ucode/usr/bin/iwinfo
Labels: core packages

kernel: Fix kernel regression in local-broadcast routes
  target/linux/generic/backport-6.12/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
Labels: kernel

airoha: backport trivial fixes for pinctrl and ethernet driver
  target/linux/airoha/patches-6.6/051-v6.15-pinctrl-airoha-fix-wrong-PHY-LED-mapping-and-PHY2-LE.patch
  target/linux/airoha/patches-6.6/087-v6.17-pinctrl-airoha-Fix-return-value-in-pinconf-callbacks.patch
  target/linux/airoha/patches-6.6/089-v6.14-net-airoha-Fix-channel-configuration-for-ETS-Qdisc.patch
  target/linux/airoha/patches-6.6/113-net-airoha-Fix-channel-configuration-for-ETS-Qdisc.patch
Labels: target/airoha

airoha: add NPU and reserved memory node for AN7581
  target/linux/airoha/dts/an7581.dtsi
Labels: target/airoha

realtek: fix model for TP-Link TL-ST1008F v2.0
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/etc/uci-defaults/99_fwenv-store-ethaddr
  target/linux/realtek/dts/rtl9303_tplink_tl-st1008f-v2.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

uqmi: update to latest HEAD
  package/network/utils/uqmi/Makefile
Labels: core packages

firmware: Add support for Aeonsemi AS21xxx firmware
  package/firmware/linux-firmware/aeonsemi.mk
Labels: core packages

mac80211: iwlwifi fix BE200 probe
  package/kernel/mac80211/intel.mk
Labels: core packages

realtek: rtl931x: Readd MAC_L2_GLOBAL_CTRL2 pinmux
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

linux-firmware: intel: kick BE200 wifi firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

firmware: Add support for Airoha EN7581 NPU firmware
  package/firmware/linux-firmware/airoha.mk
Labels: core packages

realtek: rtl931x: Add LED Sync configuration
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

realtek: rtl931x: Fix unsafe MAC_L2_GLOBAL_CTRL2 access
  target/linux/realtek/dts/rtl931x.dtsi
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

airoha: backport patch adding support for AN7581 Ethernet PHY
  target/linux/airoha/patches-6.6/060-v6.16-02-net-phy-mediatek-add-Airoha-PHY-ID-to-SoC-driver.patch
Labels: target/airoha

arm-trusted-firmware-rockchip: Update to 2.12.6
  package/boot/arm-trusted-firmware-rockchip/Makefile
Labels: target/rockchip, core packages

generic: reintroduce Mediatek PHY patch to backport directory
  target/linux/generic/backport-6.6/741-v6.13-01-net-phy-mediatek-ge-soc-Fix-coding-style.patch
  target/linux/generic/backport-6.6/741-v6.13-02-net-phy-mediatek-ge-soc-Shrink-line-wrapping-to-80-c.patch
  target/linux/generic/backport-6.6/741-v6.13-03-net-phy-mediatek-ge-soc-Propagate-error-code-correct.patch
  target/linux/generic/backport-6.6/742-v6.13-net-phy-mediatek-Re-organize-MediaTek-ethernet-phy-d.patch
  target/linux/generic/backport-6.6/743-v6.13-net-phy-mediatek-Move-LED-helper-functions-into-mtk-.patch
  target/linux/generic/backport-6.6/744-v6.13-net-phy-mediatek-Integrate-read-write-page-helper-fu.patch
  target/linux/generic/backport-6.6/745-v6.13-net-phy-mediatek-add-MT7530-MT7531-s-PHY-ID-macros.patch
  target/linux/generic/backport-6.6/746-v6.15-01-net-phy-mediatek-Change-to-more-meaningful-macros.patch
  target/linux/generic/backport-6.6/746-v6.15-02-net-phy-mediatek-Add-token-ring-access-helper-functi.patch
  target/linux/generic/backport-6.6/746-v6.15-03-net-phy-mediatek-Add-token-ring-set-bit-operation-su.patch
  target/linux/generic/backport-6.6/746-v6.15-04-net-phy-mediatek-Add-token-ring-clear-bit-operation-.patch
  target/linux/generic/backport-6.6/746-v6.15-05-net-phy-mediatek-Move-some-macros-to-phy-lib-for-lat.patch
  target/linux/generic/backport-6.6/747-v6.16-01-net-phy-mediatek-permit-to-compile-test-GE-SOC-PHY-d.patch
  target/linux/generic/backport-6.6/781-24-v6.14-net-phy-move-realtek-PHY-driver-to-its-own-subdirect.patch
  target/linux/generic/hack-6.6/735-net-phy-realtek-rtl8261n.patch
  target/linux/generic/hack-6.6/766-net-phy-mediatek-ge-add-LED-configuration-interface.patch
Labels: kernel

realtek: rtl930x: Define GPIO_SEL_CTRL pinmux node
  target/linux/realtek/dts/rtl930x.dtsi
Labels: target/realtek

generic: backport support for Aeonsemi AS21xxx PHY
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.12/782-01-v6.16-net-phy-pass-PHY-driver-to-.match_phy_device-OP.patch
  target/linux/generic/backport-6.12/782-04-v6.16-net-phy-introduce-genphy_match_phy_device.patch
  target/linux/generic/backport-6.12/782-05-v6.16-net-phy-Add-support-for-Aeonsemi-AS21xxx-PHYs.patch
  target/linux/generic/backport-6.6/782-01-v6.16-net-phy-pass-PHY-driver-to-.match_phy_device-OP.patch
  target/linux/generic/backport-6.6/782-04-v6.16-net-phy-introduce-genphy_match_phy_device.patch
  target/linux/generic/backport-6.6/782-05-v6.16-net-phy-Add-support-for-Aeonsemi-AS21xxx-PHYs.patch
  target/linux/generic/backport-6.6/798-v6.10-01-net-phy-air_en8811h-Add-the-Airoha-EN8811H-PHY-drive.patch
  target/linux/generic/backport-6.6/832-v6.7-net-phy-amd-Support-the-Altima-AMI101L.patch
  target/linux/generic/backport-6.6/835-v6.9-net-phy-add-support-for-PHY-LEDs-polarity-modes.patch
  target/linux/generic/backport-6.6/841-v6.13-net-phy-support-active-high-property-for-PHY-LEDs.patch
  target/linux/generic/backport-6.6/895-01-v6.8-net-phy-add-possible-interfaces.patch
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.12/700-swconfig_switch_drivers.patch
  target/linux/generic/hack-6.12/735-net-phy-realtek-rtl8261n.patch
  target/linux/generic/hack-6.6/700-swconfig_switch_drivers.patch
  target/linux/generic/hack-6.6/735-net-phy-realtek-rtl8261n.patch
  target/linux/generic/pending-6.12/703-phy-add-detach-callback-to-struct-phy_driver.patch
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.12/741-net-phy-broadcom-update-dependency-condition.patch
  target/linux/generic/pending-6.6/703-phy-add-detach-callback-to-struct-phy_driver.patch
  target/linux/generic/pending-6.6/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.6/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.6/741-net-phy-broadcom-update-dependency-condition.patch
  target/linux/mediatek/patches-6.12/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.12/734-net-phy-add-Airoha-EN8801SC-PHY.patch
  target/linux/mediatek/patches-6.12/737-net-dsa-add-Airoha-AN8855.patch
  target/linux/mediatek/patches-6.12/739-net-add-negotiation-of-in-band-capabilities.patch
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/patches-6.12/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/realtek/patches-6.12/720-add-rtl-phy.patch
  target/linux/siflower/patches-6.6/001-net-phy-c45-add-genphy_c45_pma_read_ext_abilities-fu.patch
  target/linux/siflower/patches-6.6/019-net-phy-add-support-for-Siflower-SF23P1211-SF23P1240.patch
Labels: target/mediatek, target/realtek, target/siflower, kernel, core packages

airoha: replace thermal patch with upstream version
  target/linux/airoha/patches-6.6/049-01-v6.16-thermal-drivers-Add-support-for-Airoha-EN7581-therma.patch
  target/linux/airoha/patches-6.6/049-02-v6.16-thermal-drivers-airoha-Fix-spelling-mistake.patch
  target/linux/airoha/patches-6.6/101-01-thermal-of-Add-devm_thermal_of_zone_register_with_pa.patch
Labels: target/airoha

uboot-rockchip: Update to 2025.07
  package/boot/uboot-rockchip/Makefile
Labels: target/rockchip, core packages

mac80211: iwlwifi: Add DRIVER_11BE_SUPPORT
  package/kernel/mac80211/intel.mk
Labels: core packages

mac80211: Refresh patches
  package/kernel/mac80211/patches/rt2x00/602-04-wifi-rt2x00-Support-EEPROM-swap-binding.patch
  package/kernel/mac80211/patches/rt2x00/602-05-wifi-rt2x00-support-loading-eeprom-from-NVMEM-cells.patch
Labels: core packages

ramips: fix wrong CRLF line-ending
  target/linux/ramips/dts/mt7621_arcadyan_we410443.dts
  target/linux/ramips/patches-6.12/900-pci-rt2880-static-pcibios_init.patch
Labels: target/ramips

realtek: Rename ZyXEL XGS1210-12 to XGS1210-12 a1
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12-a1.dts
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12-common.dtsi
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

mt76: update to Git HEAD (2025-09-04)
  package/kernel/mt76/Makefile
  target/linux/generic/backport-6.12/731-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/generic/backport-6.6/752-31-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/mediatek/patches-6.12/944-net-ethernet-mtk_wed-move-dlm-a-dedicated-dts-node.patch
Labels: target/mediatek, kernel, core packages

realtek: rt-loader: memory library enhancements
  target/linux/realtek/image/rt-loader/include/memory.h
  target/linux/realtek/image/rt-loader/src/memory.c
Labels: target/realtek

kernel: improve mtk_eth_soc performance
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/pending-6.12/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.12/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.12/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.12/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/generic/pending-6.6/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.6/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.6/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.6/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.6/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.6/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.6/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

realtek: RTL93xx: do not drop packets in software
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

kernel: update and move net bridge patch to backport folder
  target/linux/generic/backport-6.12/625-v6.16-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/backport-6.6/625-v6.16-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.12/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.6/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.6/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.6/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
Labels: kernel

realtek: drop obsolete kernel patches
  target/linux/realtek/patches-6.12/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/realtek/patches-6.12/708-drivers-net-phy-eee-support-for-rtl838x.patch
Labels: target/realtek

kernel: add quirk for two SFP+ transceivers
  target/linux/generic/backport-6.6/786-v6.10-net-sfp-add-quirk-for-another-multigig-RollBall-tran.patch
  target/linux/generic/pending-6.12/750-net-sfp-add-quirk-for-FlyPro-10Gbase-T-module.patch
  target/linux/generic/pending-6.6/750-net-sfp-add-quirk-for-FlyPro-10Gbase-T-module.patch
  target/linux/realtek/patches-6.12/714-net-phy-sfp-add-support-for-SMBus.patch
Labels: target/realtek, kernel

realtek: make NAPI polling thread safe
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

mac80211: Fix compilation of iwlwifi driver
  package/kernel/mac80211/patches/build/020-intel-mld-compile.patch
Labels: core packages
