Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

build: call ipkg-remove using xargs if #args>=512
  include/package-pack.mk
Labels: build/scripts/tools

tools: firmware-utils: update to Git HEAD (2025-07-24)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

realtek: actually enable 2500Base-X
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

kernel: bump 6.6 to 6.6.100
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

kernel: bump 6.12 to 6.12.40
  target/linux/bcm27xx/patches-6.12/950-0054-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0325-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.12/950-0758-mmc-bcm2835-Add-downstream-overclocking-support.patch
  target/linux/generic/hack-6.12/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/630-packet_socket_type.patch
  target/linux/generic/pending-6.12/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.12/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.12/680-net-fix-TCP-UDP-fraglist-GRO.patch
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/generic/pending-6.12/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
  target/linux/ramips/patches-6.12/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.12/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, target/ramips, target/realtek, kernel

projectsmirrors: remove some GNOME mirrors
  scripts/projectsmirrors.json
Labels: build/scripts/tools

projectsmirrors: update Apache mirror apache.cs.utah.edu
  scripts/projectsmirrors.json
Labels: build/scripts/tools

projectsmirrors: remove kernel mirror ftp.riken.jp
  scripts/projectsmirrors.json
Labels: build/scripts/tools

kernel: kmod-hwmon-max6642: Depend on kernel 6.6
  package/kernel/linux/modules/hwmon.mk
Labels: kernel, core packages

kernel: kmod-md-multipath: Depend on kernel 6.6
  package/kernel/linux/modules/block.mk
Labels: kernel, core packages

kernel: kmod-lib-parman: Mark hidden
  package/kernel/linux/modules/lib.mk
Labels: kernel, core packages

kernel: kmod-lib-objagg: Mark hidden
  package/kernel/linux/modules/lib.mk
Labels: kernel, core packages

kernel: kmod-ledtrig-audio: Depend on kernel 6.6
  package/kernel/linux/modules/leds.mk
  package/kernel/linux/modules/sound.mk
Labels: kernel, core packages

kernel: kmod-crypto-engine: Mark hidden
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

kernel: kmod-phy-bcm7xxx: Add driver
  package/kernel/linux/modules/netdevices.mk
  target/linux/armsr/modules.mk
Labels: target/armsr, kernel, core packages

kernel: kmod-sched-act-ipt: Depend on kernel 6.6
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages

kernel: kmod-drm-buddy: Mark hidden
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

kernel: kmod-fs-nfs-v4: Package nfs_layout*.ko files
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

kernel: kmod-dsa-notag: Add driver
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

kernel: kmod-ag71xx: Depend on ath79 only
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

kernel: kmod-backlight-pwm/kmod-hwmon-pwmfan: Depend on PWM_SUPPORT
  package/kernel/linux/modules/hwmon.mk
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

kernel: kmod-industrialio-backend: Mark hidden
  package/kernel/linux/modules/iio.mk
Labels: kernel, core packages

kernel: kmod-drm-display-helper: Mark hidden
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

kernel: kmod-pinctrl-mcp23s08: Depend on PINCTRL
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

kernel: kmod-video-cpia2: Remove driver
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

kernel: kmod-crypto-lib-aescfb: Mark hidden
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

kernel: kmod-video-fwnode: Mark hidden
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

kernel: kmod-video-async: Mark hidden
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

bcm27xx: Make kernel modules depend on target
  target/linux/bcm27xx/modules/video.mk
Labels: target/bcm27xx

x86: Activate CONFIG_DRM_ACCEL
  target/linux/generic/config-6.12
  target/linux/x86/64/config-6.12
Labels: target/x86, kernel

kernel: Reorder kernel configuration
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/qualcommbe/ipq95xx/config-default
Labels: target/qualcommbe, kernel

armsr: Make kernel modules depend on target
  target/linux/armsr/modules.mk
Labels: target/armsr

apm821xx: kmod-ata-dwc: Make kernel module depend on target
  target/linux/apm821xx/modules.mk
Labels: target/apm821xx

hostapd: Include DS parameter set element in 5GHz
  package/network/services/hostapd/patches/750-include-DS-parameter-set-element-in-5-GHz.patch
  package/network/services/hostapd/patches/762-AP-don-t-ignore-probe-requests-with-invalid-DSSS-par.patch
Labels: core packages

mac80211: fix "failed to flush transmit queue" errors
  package/kernel/mac80211/patches/subsys/410-mac80211-Revert-flush-queues-on-STA-removal.patch
Labels: core packages

realtek: dsa: enhance pcs_get_state() for RTL83xx
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

mac80211: ath: improve ath10k "failed to flush transmit queue" errors
  package/kernel/mac80211/patches/ath10k/989-improve_ath10k_flush_queue_mechanism.patch
Labels: core packages

tools/automake: update to 1.17
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
  tools/automake/patches/100-aclocal-skip-not-existing-directories.patch
  tools/automake/patches/101-do-not-require-files.patch
  tools/automake/patches/200-other-V-values-for-verbosity.patch
Labels: build/scripts/tools

tools/bc: let getopt() prototype be defined normally
  tools/bc/patches/000-getopt-prototype.patch
Labels: build/scripts/tools

tools/bc: remove useless patch
  tools/bc/patches/002-fix-libmath.patch
Labels: build/scripts/tools
