Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

apm821xx: refresh 6.12 kernel config
  target/linux/apm821xx/config-6.12
  target/linux/apm821xx/sata/config-default
Labels: target/apm821xx, kernel

ramips: add support for TP-Link EX220 v2
  target/linux/ramips/dts/mt7621_tplink_ex220-v2.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

ath79: ubnt-amplifi-hd: Add 2nd USB bus (integrated ath3k bluetooth)
  target/linux/ath79/dts/qca9563_ubnt_amplifi-router-hd.dts
Labels: target/ath79

bcm27xx/rockchip/x86: increase rootfs size to 448 MiB
  config/Config-images.in
Labels: none

ramips: add support for Wavlink WL-WN570HA2
  target/linux/ramips/dts/mt7628an_wavlink_wl-wn570ha2.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
Labels: target/ramips

mediatek: add support for Zyxel NWA90AX PRO
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

loongarch64: Create kernel files for v6.12 (from v6.6)
  target/linux/loongarch64/config-6.12
Labels: target/loongarch64, kernel

loongarch64: Restore kernel files for v6.6
  target/linux/loongarch64/config-6.6
Labels: target/loongarch64, kernel

loongarch64: add 6.12 as testing kernel
  target/linux/generic/config-6.12
  target/linux/loongarch64/Makefile
  target/linux/loongarch64/config-6.12
Labels: target/loongarch64, kernel

kernel: Fix boot of amrsr target in qemu
  target/linux/generic/pending-6.12/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
  target/linux/generic/pending-6.6/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
Labels: kernel

spidev-test: Add license
  package/utils/spidev_test/Makefile
Labels: core packages

kexec-tools: Add license
  package/boot/kexec-tools/Makefile
Labels: core packages

nettle: Fix PKG_LICENSE_FILES
  package/libs/nettle/Makefile
Labels: core packages

util-linux: Update licenses
  package/utils/util-linux/Makefile
Labels: core packages

toolchain: glibc: update to 2.41
  toolchain/glibc/common.mk
  toolchain/glibc/patches/050-Revert-Disallow-use-of-DES-encryption-functions-in-n.patch
Labels: toolchain

toolchain: glibc: Update glibc 2.41 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain

toolchain: adjust with recent glibc
  package/libs/toolchain/Makefile
Labels: core packages

libpcap: adjust with glibc and libcrypt-compat
  package/libs/libpcap/Makefile
Labels: core packages

rpcd: adjust with glibc and libcrypt-compat
  package/system/rpcd/Makefile
Labels: core packages

policycoreutils: adjust with glibc and libcrypt-compat
  package/utils/policycoreutils/Makefile
Labels: core packages

scripts/ext-toolchain: adjust with recent glibc
  scripts/ext-toolchain.sh
Labels: build/scripts/tools

ppp: adjust with glibc and libcrypt-compat
  package/network/services/ppp/Makefile
Labels: core packages

uhttpd: adjust with glibc and libcrypt-compat
  package/network/services/uhttpd/Makefile
Labels: core packages

dropbear: adjust with glibc and libcrypt-compat
  package/network/services/dropbear/Makefile
Labels: core packages

busybox: adjust with glibc and libcrypt-compat
  package/utils/busybox/Makefile
Labels: core packages

mediatek: add CMCC RAX3000Me support
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/471-add-cmcc_rax3000me.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m-emmc.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m-nand.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000me-nousb.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000me.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

tegra: bring back workaround for spurious interrupts
  target/linux/tegra/patches-6.6/100-serial8250-on-tegra-hsuart-recover-from-spurious-interrupts-due-to-tegra2-silicon-bug.patch
Labels: target/tegra

uboot-tegra: bump version to 2025.04
  package/boot/uboot-tegra/Makefile
Labels: target/tegra, core packages

generic: 6.12: add few DRM symbols
  target/linux/generic/config-6.12
Labels: kernel

kernel/tegra: Create kernel files for v6.12 (from v6.6)
  target/linux/tegra/config-6.12
  target/linux/tegra/patches-6.12/100-serial8250-on-tegra-hsuart-recover-from-spurious-interrupts-due-to-tegra2-silicon-bug.patch
  target/linux/tegra/patches-6.12/101-ARM-dtc-tegra-enable-front-panel-leds-in-TrimSlice.patch
Labels: target/tegra, kernel

kernel/tegra: Restore kernel files for v6.6
  target/linux/tegra/config-6.6
  target/linux/tegra/patches-6.6/100-serial8250-on-tegra-hsuart-recover-from-spurious-interrupts-due-to-tegra2-silicon-bug.patch
  target/linux/tegra/patches-6.6/101-ARM-dtc-tegra-enable-front-panel-leds-in-TrimSlice.patch
Labels: target/tegra, kernel

tegra: 6.12: refresh config and drop upstreamed patch
  target/linux/tegra/config-6.12
  target/linux/tegra/patches-6.12/100-serial8250-on-tegra-hsuart-recover-from-spurious-interrupts-due-to-tegra2-silicon-bug.patch
  target/linux/tegra/patches-6.12/101-ARM-dtc-tegra-enable-front-panel-leds-in-TrimSlice.patch
Labels: target/tegra, kernel

tegra: add 6.12 as testing kernel
  target/linux/tegra/Makefile
  target/linux/tegra/base-files/etc/uci-defaults/04_led_migration
Labels: target/tegra

kernel: modules: package userspace consumer regulator
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

ath79: add support for Dell SonicPoint ACi APL27-0B1
  package/boot/uboot-tools/uboot-envtools/files/ath79
  target/linux/ath79/dts/qca9550_dell_apl26-0ae.dts
  target/linux/ath79/dts/qca9550_dell_apl27-0b1.dts
  target/linux/ath79/dts/qca9550_dell_apl2x.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: target/ath79, core packages

qualcommax: cleanup device tree for GL-B3000
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-gl-b3000.dts
Labels: target/qualcommax, kernel

generic: 6.12: add new config symbols
  target/linux/generic/config-6.12
Labels: kernel

kernel/omap: Create kernel files for v6.12 (from v6.6)
  target/linux/omap/config-6.12
  target/linux/omap/patches-6.12/900-use-cpsw-ethernet-driver.patch
Labels: target/omap, kernel

omap: refresh kernel 6.12 patches
  target/linux/omap/patches-6.12/900-use-cpsw-ethernet-driver.patch
Labels: target/omap

kernel/omap: Restore kernel files for v6.6
  target/linux/omap/config-6.6
  target/linux/omap/patches-6.6/900-use-cpsw-ethernet-driver.patch
Labels: target/omap, kernel
