Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

ath10k-ct: partially revert removal of 003 patch
  package/kernel/ath10k-ct/patches/003-ath10k-ct-make-it-compatible-with-the-old-LTS-kernel.patch
Labels: core packages

mac80211: fix rt2x00 build error on 6.12
  package/kernel/mac80211/patches/rt2x00/110-wifi-rt2x00-fix-remove-callback-type-mismatch.patch
Labels: core packages

ath9k: add back previous DT compatible strings for ahb
  package/kernel/mac80211/patches/ath9k/553-ath9k-ahb_of_compat.patch
Labels: core packages

bcm2712: add kmod-r8169 and kmod-usb-net-rtl8152
  target/linux/bcm27xx/image/Makefile
Labels: target/bcm27xx

realtek: RTL839x: reorganize mdio functions and SerDes register layout
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl839x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

wifi-scripts: fix handling changes to the wifi device disabled flag
  package/network/config/wifi-scripts/files/lib/netifd/wireless-device.uc
Labels: core packages

wifi-scripts: make wifi/utils.uc available in the legacy scripts variant
  package/network/config/wifi-scripts/files/usr/share/ucode/wifi/utils.uc
Labels: core packages

hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

wifi-scripts: add support for passing wifi-device settings via procd
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
Labels: core packages

wifi-scripts: set rsn_overriding for client mode interfaces
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
Labels: core packages

mediatek: add kernel cmdline replacement hack
  target/linux/mediatek/patches-6.12/902-arm64-cmdline-replacement.patch
Labels: target/mediatek

mediatek: filogic: add support for ipTIME AX3000M
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-iptime-ax3000m.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: modules to run OpenWRT VM in LXD or incus
  target/linux/armsr/Makefile
  target/linux/armsr/armv8/config-6.12
  target/linux/armsr/config-6.12
  target/linux/x86/64/config-6.12
  target/linux/x86/config-6.12
Labels: target/armsr, target/x86, kernel

realtek: rtl930x: enable SMP
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

realtek: rtl93xx: Revamp ethtool phy statistics to support rtl93xx
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

tools: lz4: update to 1.10.0
  tools/lz4/Makefile
Labels: build/scripts/tools

realtek: rtl931x: Disable callbacks for l3 hw routing
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: rtl930x: Disable L3 offloading
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl931x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Fix USXGMII, 10G-BaseR and 1000-BaseX initialization
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: rtl931x: read link status from rtl9310 serdes correctly
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: rtl931x: Fix probing of SerDes
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: rtl931x: Fix l2 fdb entry handling
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

mediatek: add support for Airpi AP3000M
  target/linux/mediatek/dts/mt7981b-airpi-ap3000m.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

lantiq: switch to kernel 6.12
  target/linux/lantiq/Makefile
Labels: target/lantiq

ead: replace legacy RETSIGTYPE with void in signal handler
  package/network/services/ead/src/tinysrp/t_getpass.c
Labels: core packages

x86: add Minisforum MS-A2 Mini PC
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

realtek: rtl930x: move serdes functions over to mdio bus
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

procd: procd.sh: remove invalid exec in procd_lock
  package/system/procd/Makefile
  package/system/procd/files/procd.sh
Labels: core packages

realtek: RTL838x harden ethernet driver against fuzzying
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

realtek: use lzma recipe for TP-Link TL-ST1008F v2.0
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

mac80211: backport upstream fixes
  package/kernel/mac80211/patches/subsys/330-wifi-mac80211-Do-not-schedule-stopped-TXQs.patch
  package/kernel/mac80211/patches/subsys/331-wifi-mac80211-Don-t-call-fq_flow_idx-for-management-.patch
  package/kernel/mac80211/patches/subsys/332-wifi-mac80211-Check-802.11-encaps-offloading-in-ieee.patch
  package/kernel/mac80211/patches/subsys/333-Reapply-wifi-mac80211-Update-skb-s-control-block-key.patch
Labels: core packages

mac80211: estimate expected throughput if not provided by driver/rc
  package/kernel/mac80211/patches/subsys/360-mac80211-factor-out-part-of-ieee80211_calc_expected_.patch
  package/kernel/mac80211/patches/subsys/361-mac80211-estimate-expected-throughput-if-not-provide.patch
Labels: core packages

generic: 6.12: backport aw9523 fix can_sleep flag for GPIO chip
  target/linux/generic/backport-6.12/813-v6.16-pinctrl-aw9523-fix-can_sleep-flag-for-GPIO-chip.patch
Labels: kernel

netifd: update to Git HEAD (2025-08-06)
  package/network/config/netifd/Makefile
Labels: core packages

realtek: RTL930x: reorganize mdio functions and SerDes register layout
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

realtek: extend SoC information
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/arch/mips/rtl838x/prom.c
Labels: target/realtek

realtek: move and clean up CHIP_INFO register definitions
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: simplify SoC detection
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/arch/mips/rtl838x/prom.c
Labels: target/realtek
