Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

rockchip: add Lunzn FastRhino R66S support
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.12/133-arm64-dts-rockchip-Update-LED-properties-for-Lunzn-Fastrh.patch
Labels: target/rockchip

uboot-envtools: use ubootenv_add_mtd function
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
Labels: core packages

odhcpd: update to Git HEAD (2025-08-26)
  package/network/services/odhcpd/Makefile
Labels: core packages

econet: Add new target TP-Link Archer VR1200v (v2)
  target/linux/econet/dts/en751221_tplink_archer-vr1200v-v2.dts
  target/linux/econet/image/Makefile
Labels: none

kernel: Add new platform EcoNet MIPS
  target/linux/econet/Makefile
  target/linux/econet/dts/en751221.dtsi
  target/linux/econet/en751221/config-6.12
  target/linux/econet/en751221/profiles/00-default.mk
  target/linux/econet/en751221/target.mk
  target/linux/econet/files/drivers/mtd/nand/en75_bmt.c
  target/linux/econet/image/Makefile
  target/linux/econet/patches-6.12/001-v6.16-dt-bindings-interrupt-controller-Add-EcoNet-EN751221.patch
  target/linux/econet/patches-6.12/002-v6.16-irqchip-Add-EcoNet-EN751221-INTC.patch
  target/linux/econet/patches-6.12/003-v6.16-dt-bindings-vendor-prefixes-Add-EcoNet.patch
  target/linux/econet/patches-6.12/004-v6.16-dt-bindings-timer-Add-EcoNet-EN751221-HPT-CPU-Timer.patch
  target/linux/econet/patches-6.12/005-v6.16-clocksource-drivers-Add-EcoNet-Timer-HPT-driver.patch
  target/linux/econet/patches-6.12/006-v6.16-dt-bindings-mips-Add-EcoNet-platform-binding.patch
  target/linux/econet/patches-6.12/007-v6.16-mips-Add-EcoNet-MIPS-platform-support.patch
  target/linux/econet/patches-6.12/008-v6.16-dt-bindings-vendor-prefixes-Add-SmartFiber.patch
  target/linux/econet/patches-6.12/009-v6.16-mips-dts-Add-EcoNet-DTS-with-EN751221-and-SmartFiber.patch
  target/linux/econet/patches-6.12/010-v6.16-MAINTAINERS-Add-entry-for-newly-added-EcoNet-platfor.patch
  target/linux/econet/patches-6.12/011-v6.16-mips-econet-Fix-incorrect-Kconfig-dependencies.patch
  target/linux/econet/patches-6.12/300-spi-Add-support-for-the-Airoha-EN7523-SoC-SPI-contro.patch
  target/linux/econet/patches-6.12/301-spi-Airoha-adapt-to-support-en75-mips.patch
  target/linux/econet/patches-6.12/901-nand-enable-en75-bbt.patch
  target/linux/econet/patches-6.12/902-snand-mtk-bmt-support.patch
Labels: kernel

econet: Add new target SmartFiber XP8421-B
  target/linux/econet/base-files/sbin/en75_chboot
  target/linux/econet/dts/en751221_smartfiber_xp8421-b.dts
  target/linux/econet/image/Makefile
  target/linux/econet/image/tclinux-trx.sh
Labels: none

ath79: add nvmem handling for AR9285 devices
  target/linux/ath79/dts/ar7240_netgear_wnr1000-v2.dts
  target/linux/ath79/dts/ar7240_netgear_wnr612-v2.dtsi
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wa.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wa701nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa730re-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa801nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa830re-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa901nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wr740n-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr740n-v3.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr741-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr743nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr841-v5.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr941-v4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: fix calibration size for AR9285
  target/linux/ath79/dts/ar7240_openmesh_om2p-v1.dts
Labels: target/ath79

ath79: ws-ap3705i: use nvmem
  target/linux/ath79/dts/ar9344_enterasys_ws-ap3705i.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: ws-ap3805i: use nvmem
  target/linux/ath79/dts/qca9557_extreme-networks_ws-ap3805i.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: engenius,eXXX: use nvmem
  target/linux/ath79/dts/qca9557_engenius_esr1200.dts
  target/linux/ath79/dts/qca9558_engenius_epg5000.dts
  target/linux/ath79/dts/qca9558_engenius_esr1750.dts
  target/linux/ath79/dts/qca9558_engenius_esr900.dts
  target/linux/ath79/dts/qca955x_senao_router-dual.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: tew-673gru: use nvmem
  target/linux/ath79/dts/ar7161_trendnet_tew-673gru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: enable CONFIG_NVMEM_LAYOUT_ASCII_ENV
  target/linux/ath79/config-6.12
Labels: target/ath79, kernel

ath79: wd,mynet-nxxx: use ascii nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: engenius: remove userspace label mac
  target/linux/ath79/dts/ar9341_engenius_eap300-v2.dts
  target/linux/ath79/dts/ar9341_engenius_ens202ext-v1.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: wd,mynet-nxxx: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dir-842: use nvmem
  target/linux/ath79/dts/qca9563_dlink_dir-842-c.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: ecb1xxx: use nvmem
  target/linux/ath79/dts/qca955x_engenius_ecb1xxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: ews511ap: use nvmewm
  target/linux/ath79/dts/qca9531_engenius_ews511ap.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: replace various mtd_get_mac_text
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ac.dts
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ni.dts
  target/linux/ath79/dts/qca9531_dlink_dch-g020-a1.dts
  target/linux/ath79/dts/qca9533_dlink_dap-13xx.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: mynet-wifi-rangeextender: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-wifi-rangeextender.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/config-default
  target/linux/ath79/image/generic.mk
Labels: target/ath79, kernel

ath79: alfa: remove label mac override
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: sitecom,wlrx100: use nvmem
  target/linux/ath79/dts/ar1022_sitecom_wlr-7100.dts
  target/linux/ath79/dts/qca9558_sitecom_wlr-8100.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: dir-8x5: use nvmem
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: dir-505: use nvmem
  target/linux/ath79/dts/ar9330_dlink_dir-505.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: userspace cal to nvmem
  target/linux/ath79/dts/ar7161_buffalo_wzr-hp-ag300h.dtsi
  target/linux/ath79/dts/ar7161_meraki_mr16.dts
  target/linux/ath79/dts/ar7240_buffalo_whr-g301n.dts
  target/linux/ath79/dts/ar7240_engenius_enh202-v1.dts
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_ubnt_bullet-m-ar7240.dts
  target/linux/ath79/dts/ar7241_netgear_wnr2000-v3.dts
  target/linux/ath79/dts/ar7241_tplink.dtsi
  target/linux/ath79/dts/ar7241_tplink_tl-mr3220-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-mr3420-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr841-v7.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr842n-v1.dts
  target/linux/ath79/dts/ar7241_ubnt_airrouter.dts
  target/linux/ath79/dts/ar7241_ubnt_bullet-m-ar7241.dts
  target/linux/ath79/dts/ar7241_ubnt_nanobridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-loco-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_picostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_powerbridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_rocket-m.dts
  target/linux/ath79/dts/ar7242_buffalo_wzr-hp-g450h.dts
  target/linux/ath79/dts/ar7242_engenius_eap350-v1.dts
  target/linux/ath79/dts/ar7242_engenius_ecb350-v1.dts
  target/linux/ath79/dts/ar7242_meraki_mr12.dts
  target/linux/ath79/dts/ar724x_ubnt_xm.dtsi
  target/linux/ath79/dts/qca9531_asus_rp-ac51.dts
  target/linux/ath79/dts/qca9563_asus_pl-ac56.dts
  target/linux/ath79/dts/qca9563_asus_rp-ac66.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: whr-g301n: remove custon wifi LED
  target/linux/ath79/dts/ar7240_buffalo_whr-g301n.dts
Labels: target/ath79

ath79: whr-g301n: use nvmem for eeprom
  target/linux/ath79/dts/ar7240_buffalo_whr-g301n.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ramips: add support for AsiaRF AP7621-004 Rev. 3
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

ramips: Fix dts compatible to match target.
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

ramips: Remove duplicate definitons in dts.
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
Labels: target/ramips

ramips: Fix microSD socket to be non removable.
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
Labels: target/ramips

ramips: Fix partition to support uboot-envtools
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
Labels: target/ramips, core packages

ramips: Add uboot-envtools back
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

ramips: Add device package kmod-mmc-mtk.
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

mediatek: Fix led node
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
Labels: target/mediatek

mediatek: Add uboot-tools support for ap7622-wh1
  package/boot/uboot-tools/uboot-envtools/files/mediatek_mt7622
Labels: core packages

mediatek: Remove unnecessary naming and comment.
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
Labels: target/mediatek

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
