Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

commenting out the other rtl8125 2.5gbether
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

commenting out more pcie3 parts as test
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

another dts test commenting out part of pcie
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

moved pci in dts, enabled sata0
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

disabled sata0 due to interference with wifi card on pcie2.0
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

found a couple references online to the board, noting
  SideBar/note-tech-site.txt
Labels: none

realtek: add support for plasma cloud - psx28/esx28
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/base-files/usr/bin/set_boot_partition
  target/linux/realtek/dts/rtl9312_plasmacloud_esx28.dts
  target/linux/realtek/dts/rtl9312_plasmacloud_psx28.dts
  target/linux/realtek/dts/rtl9312_plasmacloud_psx28.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
  target/linux/realtek/image/rtl931x.mk
Labels: target/realtek, core packages

rtl93xx: i2c: Fix i2c multi byte read and add support for BLOCK transfers
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek

RTL931X: Fixing initialization of RTL9312 SoC.
  target/linux/realtek/files-6.12/arch/mips/rtl838x/prom.c
Labels: target/realtek

RTL931x: Add GPIO access register definition for RTL931X SoC.
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
Labels: target/realtek

RTL931X: Improve SFP support for 10G-BX and LX modules.
  target/linux/realtek/patches-6.12/805-Improve-SFP-support-for-10G-BX-and-LX-modules.patch
Labels: target/realtek

RTL931X: Fixing SoC probe for RTL931X SoCs.
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

RTL931X: Additional support for RTL931X Soc.
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

RTL931X: Fixing sysupgrade procedure.
  target/linux/realtek/rtl931x/config-6.12
Labels: target/realtek, kernel

rtl8224: Add initial probing support for rtl8224
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

rtl931x: Improve traffic_get/set/enable/disable functions
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

RTL931X: Disable callbacks for l3 hw routing for rtl9310.
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

rtl9310: read link status from rtl9310 serdes correctly
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

rtl931x: Fixing serdes initialization.
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

rtl931x: Fixing chip init function.
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

rtl931x: Fixing missing function pointers.
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

minor typo fix
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

rtl931x: Fixing VLAN tagging and untagging.
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

trying a sata0 on/off test
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

dropbear: bump to 2025.88
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/patches/050-dropbear-multihop-fix.patch
  package/network/services/dropbear/patches/100-pubkey_path.patch
  package/network/services/dropbear/patches/140-disable_assert.patch
  package/network/services/dropbear/patches/160-lto-jobserver.patch
  package/network/services/dropbear/patches/910-signkey-fix-use-of-rsa-sha2-256-pubkeys.patch
Labels: core packages

dropbear: refactor configuration
  package/network/services/dropbear/Config.in
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/files/dropbear.init
Labels: core packages

dropbear: disable RSA-SHA1 by default
  package/network/services/dropbear/Config.in
Labels: core packages

dropbear: simplify rebuild on config changes
  package/network/services/dropbear/Makefile
Labels: core packages

adding new config test with devmem
  SideBar/8July2025-DiffConfig.config
  SideBar/8July2025-FullConfig.config
Labels: none

renamed 036 patch, disabled comb 1 &2
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

added special linkstar bootscript to try out pci=realloc
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/image/linkstar-h68k.bootscript
Labels: target/rockchip

tweaked config a bit for devmem, modified dts patch to turn back on all three multi-phys. Also tweaked some usb stuff
  SideBar/8July2025-DiffConfig-later.config
  SideBar/8July2025-FullConfig-later.config
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

more config variants, turned on sata2
  SideBar/8July2025-DiffConfig-laterlater.config
  SideBar/8July2025-FullConfig-laterlater.conf
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

changed dts pcie2 range back to rk356x.dtsi default
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

xcrypt: work-around broken use of VARIANT with BUILDONLY
  package/libs/xcrypt/Makefile
  package/libs/xcrypt/libcrypt-compat/Makefile
  package/libs/xcrypt/libxcrypt-common.mk
  package/libs/xcrypt/libxcrypt/Makefile
Labels: core packages

ncurses: Add -std=gnu17 to CFLAGS to avoid a GCC15 error when building with glibc
  package/libs/ncurses/Makefile
Labels: core packages

ncurses: update to 6.5
  package/libs/ncurses/Makefile
  package/libs/ncurses/patches/101-ncurses-5.6-20080628-kbs.patch
Labels: core packages

octeon: ubnt-*: Add device specific DTS pruning
  target/linux/octeon/patches-6.6/400-ubnt_dts_pruning.patch
Labels: target/octeon

Revert "ncurses: update to 6.5"
  package/libs/ncurses/Makefile
  package/libs/ncurses/patches/101-ncurses-5.6-20080628-kbs.patch
Labels: core packages

hostapd: ignore comment lines for hash comparison
  package/network/services/hostapd/files/hostapd.uc
Labels: core packages

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
