Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

realtek: add support for Hasivo S1100W-8XGT-SE switch
  target/linux/realtek/dts/rtl9303_hasivo_s1100w-8xgt-se.dts
  target/linux/realtek/image/rtl930x.mk
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

tools: libressl: update to 4.1.0
  tools/libressl/Makefile
Labels: build/scripts/tools

kernel: bump 6.6 to 6.6.100
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0087-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0466-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/ramips/patches-6.6/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.6/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, target/ramips, target/realtek, kernel, build/scripts/tools

busybox: fix login applet on selinux
  package/utils/busybox/patches/600-loginutils-login.c-libselinux-get_default_context-ex.patch
Labels: core packages

wireless-regdb: Update to version 2025.07.10
  package/firmware/wireless-regdb/Makefile
Labels: core packages

toolchain: glibc: Update glibc 2.38 to recent HEAD
  toolchain/glibc/common.mk
  toolchain/glibc/patches/200-add-dl-search-paths.patch
Labels: toolchain

libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages

build: fix CMake generator for non-Ninja builds
  include/cmake.mk
Labels: build/scripts/tools

wireless-regdb: Update to version 2025.07.10
  package/firmware/wireless-regdb/Makefile
Labels: core packages

toolchain: glibc: Update glibc 2.37 to recent HEAD
  toolchain/glibc/common.mk
  toolchain/glibc/patches/200-add-dl-search-paths.patch
Labels: toolchain

tools: mtools: update to 4.0.49
  tools/mtools/Makefile
Labels: build/scripts/tools

tools: pkgconf: update to 2.5.1
  tools/pkgconf/Makefile
Labels: build/scripts/tools

apm821xx: correct layout of u-boot-env for meraki mx60
  package/boot/uboot-tools/uboot-envtools/files/apm821xx
  target/linux/apm821xx/dts/meraki-mx60.dts
Labels: target/apm821xx, core packages

mediatek: Ruijie RG-X60 Pro: add OpenWrt U-Boot layout
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-ruijie-rg-x60-pro.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

qualcommax: ipq50xx: fix tsens node status to enable thermal sensor
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax830.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-gl-b3000.dts
Labels: target/qualcommax, kernel

toolchain: binutils: add version 2.45
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.45/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.45/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.45/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

toolchain: binutils: default to 2.44 and drop 2.40
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.40/001-PR-30569-always-call-elf_backend_size_dynamic_sectio.patch
  toolchain/binutils/patches/2.40/002-PR-30569-delete-_bfd_mips_elf_early_size_sections.patch
  toolchain/binutils/patches/2.40/005-libctf-update-regexp-to-allow-makeinfo-to-build-docu.patch
  toolchain/binutils/patches/2.40/007-Fix-version-number-snafu-in-some-configuration-files.patch
  toolchain/binutils/patches/2.40/010-toplevel-Makefile.def-add-install-strip-dependency-o.patch
  toolchain/binutils/patches/2.40/018-gprofng-PR29521-docs-man-pages-are-not-in-the-releas.patch
  toolchain/binutils/patches/2.40/020-gprofng-PR30043-libgprofng.so.-are-installed-to-a-wr.patch
  toolchain/binutils/patches/2.40/026-RISC-V-make-C-extension-JAL-available-again-for-32-b.patch
  toolchain/binutils/patches/2.40/034-bpf-fix-error-conversion-from-long-unsigned-int-to-u.patch
  toolchain/binutils/patches/2.40/035-Pass-JANSSON_LIBS-and-ZSTD_LIBS-to-ld-bootstrap-boot.patch
  toolchain/binutils/patches/2.40/036-Regen-config-files.patch
  toolchain/binutils/patches/2.40/040-configure-remove-dependencies-on-gmp-and-mpfr-when-g.patch
  toolchain/binutils/patches/2.40/046-gas-correct-symbol-name-comparison-in-.startof.-.siz.patch
  toolchain/binutils/patches/2.40/050-PR-32372-opcodes-fix-std-gnu23-compatibility-wrt-static_asser.patch
  toolchain/binutils/patches/2.40/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.40/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.40/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

uboot-mediatek: move Asus ZenWiFi BT8 env file to defenvs directory
  package/boot/uboot-mediatek/patches/461-add-asus-zenwifi-bt8.patch
Labels: target/mediatek, core packages

uboot-mediatek: fix FORESEE Flash build warning
  package/boot/uboot-mediatek/patches/101-01-mtd-spinand-add-support-for-FORESEE-F35SQA002G.patch
  package/boot/uboot-mediatek/patches/101-02-mtd-spinand-add-support-for-FORESEE-F35SQA001G.patch
Labels: target/mediatek, core packages

uboot-mediatek: convert env in mtd to upstream implementation
  package/boot/uboot-mediatek/patches/107-configs-add-useful-options-to-mt7981-rfb.patch
  package/boot/uboot-mediatek/patches/412-add-ubnt-unifi-6-lr.patch
  package/boot/uboot-mediatek/patches/421-zbtlink_zbt-wg3526-16m.patch
  package/boot/uboot-mediatek/patches/430-add-bpi-r3.patch
  package/boot/uboot-mediatek/patches/458-add-GatoNetworks-GDSP.patch
Labels: target/mediatek, core packages

uboot-mediatek: fix various environment errors on u-boot v2025.07
  package/boot/uboot-mediatek/patches/006-env-Fix-possible-out-of-bound-access-in-env_do_env_s.patch
  package/boot/uboot-mediatek/patches/130-01-env-mtd-add-the-missing-put_mtd_device.patch
  package/boot/uboot-mediatek/patches/130-02-env-mtd-initialize-saved_buf-pointer.patch
Labels: target/mediatek, core packages

realtek: rtl930x: Add support for Plasma Cloud PSX8 Switch
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dts
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dtsi
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

ltq-*-app: correctly report downstream band borders
  package/network/config/ltq-adsl-app/Makefile
  package/network/config/ltq-vdsl-vr11-app/Makefile
  package/network/config/ltq-vdsl-vr9-app/Makefile
  package/network/config/ltq-vdsl-vr9-app/src/src/dsl_cpe_ubus.c
Labels: core packages

tegra: bring back workaround for spurious interrupts
  target/linux/tegra/patches-6.6/100-serial8250-on-tegra-hsuart-recover-from-spurious-interrupts-due-to-tegra2-silicon-bug.patch
Labels: target/tegra

kernel: Fix boot of amrsr target in qemu
  target/linux/generic/pending-6.6/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
Labels: kernel

uhttpd: update to Git HEAD (2025-07-06)
  package/network/services/uhttpd/Makefile
Labels: core packages

realtek: add support for Vimin VM-S100-0800MS
  target/linux/realtek/dts/rtl9303_vimin_vm-s100-0800ms.dts
  target/linux/realtek/image/Makefile
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

qualcommax: fix minor Xiaomi AX6000 dts compiler warning
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax6000.dts
Labels: target/qualcommax, kernel

ipq40xx: add support for Cisco Meraki Z3
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/board.d/03_gpio_switches
  target/linux/ipq40xx/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-wired-qca-common.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-z3.dts
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ipq40xx: add support for Cisco Meraki Go GX20
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/board.d/03_gpio_switches
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-gx20.dts
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ipq40xx: add support for Cisco Meraki MR30H
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-mr30h.dts
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

realtek: rtl93xx: Add support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: identify SFP ports early on to avoid parsing DT everytime
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

realtek: rtl931x: Set fixed speed for SFP based on isSFP port property
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: rtl93xx: Add learning and flooding enable/disable
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl930x: Fetch link status for all ports in switch IRQ
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl93xx: Do not use media register to get link status
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: rtl931x: Fix link status get not fetching correct status
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

build: do not set disk signature in PMBR of GPT
  scripts/gen_image_generic.sh
Labels: build/scripts/tools

mediatek: filogic: D-Link M30/M60: include initramfs in recovery
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek
