Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

ath10k-ct-firmware: update wave2 chip firmware to latest beta version
  package/firmware/ath10k-ct-firmware/Makefile
Labels: core packages

ath10k-ct-firmware: update qca988X firmware to latest beta version
  package/firmware/ath10k-ct-firmware/Makefile
Labels: core packages

udebug: update to Git HEAD (2025-08-24)
  package/libs/udebug/Makefile
Labels: core packages

generic: backport upstream v6.18 Realtek PHY patch
  target/linux/generic/backport-6.12/781-28-v6.18-net-phy-realtek-convert-RTL8226-CG-to-c45-only.patch
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-03-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-6.12/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
Labels: kernel

generic: backport upstream v6.18 Realtek PHY patch
  target/linux/generic/backport-6.12/781-29-v6.18-net-phy-realtek-enable-serdes-option-mode-for-RTL8226-CG.patch
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-02-net-phy-realtek-disable-SGMII-in-band-AN-for-2-5G-PHYs.patch
  target/linux/generic/pending-6.12/720-03-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-6.12/720-04-net-phy-realtek-setup-aldps.patch
  target/linux/generic/pending-6.12/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-07-net-phy-realtek-mark-existing-MMDs-as-present.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.12/720-09-net-phy-realtek-disable-MDIO-broadcast.patch
Labels: kernel

comgt: add ncm support for Fibocom FG621-EA modem
  package/network/utils/comgt/files/ncm.json
Labels: core packages

mediatek: dts: remove mt7531 switch reset delay time properties
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dts
  target/linux/mediatek/dts/mt7986a-acer-w6-common.dtsi
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax4200.dts
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
Labels: target/mediatek

mediatek: dts: increase mt7986 ATF reserved memory to 256 kiB
  target/linux/mediatek/patches-6.12/199-arm64-dts-mediatek-mt7986-increase-ATF-reserved-memo.patch
Labels: target/mediatek

mediatek: dts: remove some useless spaces
  target/linux/mediatek/dts/mt7981b-snr-snr-cpe-ax2.dts
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn551x3.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax-v2.dts
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
Labels: target/mediatek

mediatek: dts: mt7981: add back #address-cells and #size-cells to eth node
  target/linux/mediatek/patches-6.12/117-complete-mt7981b-dtsi.patch
Labels: target/mediatek

uboot-mediatek: adjust the reserved memory regions
  package/boot/uboot-mediatek/patches/103-01-mt7622-enable-pstore.patch
  package/boot/uboot-mediatek/patches/103-02-mt7981-enable-pstore.patch
  package/boot/uboot-mediatek/patches/103-03-mt7986-enable-pstore.patch
  package/boot/uboot-mediatek/patches/103-04-mt7988-enable-pstore.patch
Labels: target/mediatek, core packages

mediatek: dts: fix some minor dtc warnings
  target/linux/mediatek/dts/mt7981b-gatonetworks-gdsp-sd-boot.dtso
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/dts/mt7981b-iptime-ax3000sm.dts
  target/linux/mediatek/dts/mt7981b-snr-snr-cpe-ax2.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax-v2.dts
  target/linux/mediatek/patches-6.12/188-arm64-dts-mediatek-add-MT7988A-reference-board-devic.patch
Labels: target/mediatek

mediatek: Add support for model C of already existing device zbt-z8103ax
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8103ax-c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ramips: CREALITY BOX WB01
  target/linux/ramips/dts/mt7628an_creality_wb-01.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

realtek: allow different serdes patch sequences
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: add 2500base-x patch sequence.
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

mediatek: Huasifei WH3000 Pro wifi fix
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ath79: dts: remove SPI num-cs property
  target/linux/ath79/dts/ar9331_hiwifi_hc6361.dts
  target/linux/ath79/dts/qca9531_teltonika_rut300.dts
  target/linux/ath79/dts/qca9563_tplink_deco-m4r-v1.dts
  target/linux/ath79/dts/qca9563_tplink_deco-s4-v2.dts
Labels: target/ath79

ipq806x: dts: fix SPI chip select GPIO polarity
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-e8350-v1.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-onhub.dtsi
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-nbg6817.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

mbedtls: Expose MBEDTLS_KEY_EXCHANGE_ECJPAKE_ENABLED config option
  package/libs/mbedtls/Config.in
  package/libs/mbedtls/Makefile
Labels: core packages

ath79: fix LED GPIOs for COMFAST CF-EW71 v2
  target/linux/ath79/dts/qca9531_comfast_cf-ew71-v2.dts
Labels: target/ath79

kernel: Remove patch for fixed bug
  target/linux/generic/pending-6.6/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
Labels: kernel

kernel: add backport to fix broken PHY LEDs
  target/linux/generic/backport-6.6/847-v6.17-Revert-leds-trigger-netdev-Configure-LED-blink-inter.patch
Labels: kernel

ltq-adsl-mei: check status register before reading mailbox messages
  package/kernel/lantiq/ltq-adsl-mei/src/drv_mei_cpe.c
Labels: target/lantiq, core packages

ca-certificates: Update to 20250419
  package/system/ca-certificates/Makefile
Labels: core packages

ramips: fix TP-Link mr600 radio partition offset
  target/linux/ramips/dts/mt7621_tplink_mr600-v2-eu.dts
Labels: target/ramips

mediatek: Remove modules.builtin file
  target/linux/mediatek/files/drivers/net/phy/rtk/modules.builtin
Labels: target/mediatek, kernel

Note inspiration for this script to give credit where it's due
  scripts/kernel_bump.sh
Labels: build/scripts/tools

mediatek: dts: remove useless SPI cs-gpios property
  target/linux/mediatek/dts/mt7981a-comfast-cf-e393ax.dts
  target/linux/mediatek/dts/mt7981a-edgecore-eap111.dts
  target/linux/mediatek/dts/mt7981b-openwrt-one.dts
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/dts/mt7986a-zyxel-ex5700-telenor.dts
  target/linux/mediatek/files-6.12/arch/arm64/boot/dts/mediatek/mt7981-rfb.dts
  target/linux/mediatek/files-6.12/arch/arm64/boot/dts/mediatek/mt7986a-rfb.dtsi
Labels: target/mediatek

qualcommax: dts: remove useless SPI cs-gpios property
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-301w.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-haze.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-nbg7815.dts
Labels: target/qualcommax, kernel

mediatek: filogic: support WAVLINK WL-WN586X3 Rev B
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn586x3b.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

Update mt7622.mk
  target/linux/mediatek/image/mt7622.mk
Labels: target/mediatek

ramips: zyxel wsm20: set mac address in dts
  target/linux/ramips/dts/mt7621_zyxel_wsm20.dts
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

ath79: trendnet,tew-823dru: use nvmem
  target/linux/ath79/dts/qca9558_trendnet_tew-823dru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: db120: use led-sources for ath9k
  target/linux/ath79/dts/ar9344_atheros_db120.dts
Labels: target/ath79

images: move append-teltonika-metadata to image-commands.mk
  include/image-commands.mk
  target/linux/ath79/image/generic.mk
  target/linux/ipq40xx/image/generic.mk
  target/linux/ramips/image/mt76x8.mk
Labels: target/ath79, target/ipq40xx, target/ramips, build/scripts/tools

mediatek: filogic: add Teltonika RUTC50 support
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981a-teltonika-rutc50.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: add NILFS2 fs module
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

nilfs-utils: add userspace utilities for NILFS2
  package/utils/nilfs-utils/Makefile
Labels: core packages

mediatek: remove the aquantia kmod from filogic mediatek platforms
  target/linux/mediatek/filogic/target.mk
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek
