Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

realtek: i2c: rtl9300: Implement I2C block read and write
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek

realtek: i2c: rtl9300: Add missing count byte for SMBus Block Ops
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek

netifd: add missing dependencies
  package/network/config/netifd/Makefile
Labels: core packages

openssl: update to 3.5.2
  package/libs/openssl/Makefile
Labels: core packages

qualcommax: migrate wifi configuration (ath10k) device paths for 6.12 kernel
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/qualcommax

rpcd: update to Git HEAD (2025-08-09)
  package/system/rpcd/Makefile
Labels: core packages

rpcd: backport ucode fix
  package/system/rpcd/patches/100-ucode-adjust-for-new-ext-resource-type.patch
Labels: core packages

mac80211: fix division by zero in expected throughput estimation
  package/kernel/mac80211/patches/subsys/361-mac80211-estimate-expected-throughput-if-not-provide.patch
Labels: core packages

Ipq40xx: force usb2 for rbx50 targets
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ipset: update to 7.24
  package/network/utils/ipset/Makefile
Labels: core packages

ipq40xx: force usb2 for rbx50 targets
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

udhcpc: use iproute2 to handle routes
  package/network/config/netifd/files/usr/share/udhcpc/default.script
Labels: core packages

build: add CROSS_COMPILE variable
  include/package-defaults.mk
Labels: build/scripts/tools

libcap: cleanup Makefile
  package/libs/libcap/Makefile
Labels: core packages

Specific changes for Xiaomi AX3000T
  package/base-files/files/etc/diag.sh
  package/network/config/firewall4/patches/010-dpi-fix.patch
Labels: core packages

ath79: add calibtation variant and ipq-wifi package for Xiaomi AIoT AC2350
  target/linux/ath79/dts/qca9563_xiaomi_aiot-ac2350.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

octeon: fix command line hack for Linux 6.12
  target/linux/octeon/patches-6.12/120-cmdline-hack.patch
Labels: target/octeon

octeon: refresh 6.12 patches
  target/linux/octeon/patches-6.12/100-mips_image_cmdline_hack.patch
Labels: target/octeon

octeon: copy 6.6 patches to 6.12
  target/linux/octeon/patches-6.12/100-mips_image_cmdline_hack.patch
  target/linux/octeon/patches-6.12/100-ubnt_edgerouter2_support.patch
  target/linux/octeon/patches-6.12/110-er200-ethernet_probe_order.patch
  target/linux/octeon/patches-6.12/120-cmdline-hack.patch
  target/linux/octeon/patches-6.12/130-add_itus_support.patch
  target/linux/octeon/patches-6.12/150-ubnt_usg_support.patch
  target/linux/octeon/patches-6.12/400-ubnt_dts_pruning.patch
  target/linux/octeon/patches-6.12/700-allocate_interface_by_label.patch
  target/linux/octeon/patches-6.12/701-honor_sgmii_node_device_tree_status.patch
  target/linux/octeon/patches-6.12/702-qca833x-force-pcs-reset.patch
Labels: target/octeon

octeon: add Linux 6.12 kconfig
  target/linux/octeon/config-6.12
Labels: target/octeon, kernel

octeon: add Linux 6.12 as testing kernel
  target/linux/octeon/Makefile
Labels: target/octeon

octeon: fix octeon build with CONFIG_KERNEL_WERROR
  target/linux/octeon/patches-6.12/000-fix-octeon-kernel-build.patch
  target/linux/octeon/patches-6.12/130-add_itus_support.patch
  target/linux/octeon/patches-6.12/150-ubnt_usg_support.patch
  target/linux/octeon/patches-6.12/400-ubnt_dts_pruning.patch
Labels: target/octeon

bcm47xx: 6:12: refresh patches
  target/linux/bcm47xx/config-6.12
  target/linux/bcm47xx/patches-6.12/159-cpu_fixes.patch
  target/linux/bcm47xx/patches-6.12/280-activate_ssb_support_in_usb.patch
  target/linux/bcm47xx/patches-6.12/400-mtd-bcm47xxpart-get-nvram.patch
  target/linux/bcm47xx/patches-6.12/791-tg3-no-pci-sleep.patch
  target/linux/bcm47xx/patches-6.12/831-old_gpio_wdt.patch
Labels: target/bcm47xx, kernel

kernel: b53: 6.12: fix no previous prototype error
  target/linux/generic/files/drivers/net/phy/b53/b53_common.c
  target/linux/generic/files/drivers/net/phy/b53/b53_mdio.c
  target/linux/generic/files/drivers/net/phy/b53/b53_phy_fixup.c
Labels: kernel

bcm47xx: 6.12: fix no previous prototype error
  target/linux/bcm47xx/patches-6.12/980-no-previous-prototype-fixes.patch
Labels: target/bcm47xx

wifi-scripts: ucode: fix unencrypted sta connection
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
Labels: core packages

odhcp6c: change dhcpv6.sh config option "ifaceid" to "ip6ifaceid"
  package/network/ipv6/odhcp6c/files/dhcpv6.sh
Labels: core packages

odhcp6c: add migration script for ifaceid -> ip6ifaceid change
  package/network/ipv6/odhcp6c/Makefile
  package/network/ipv6/odhcp6c/files/odhcp6c.defaults
Labels: core packages

gcc: 15.x: update to 15.2
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-15.x/910-mbsd_multi.patch
Labels: toolchain

realtek: add NAND targets for RTL93xx
  target/linux/realtek/Makefile
  target/linux/realtek/image/rtl930x_nand.mk
  target/linux/realtek/image/rtl931x_nand.mk
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl930x_nand/target.mk
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
  target/linux/realtek/rtl931x_nand/target.mk
Labels: target/realtek, kernel

realtek: RTL930x: reorganize mdio functions and SerDes register layout
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

openssl: update to 3.5.2
  package/libs/openssl/Makefile
Labels: core packages

generic: 6.12: re-enable zram compression algorithms
  target/linux/generic/config-6.12
Labels: kernel

x86: add Minisforum MS-A2 Mini PC
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

realtek: rtl931x: Don't use RTL8xx port flooding initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: rtl931x: Add missing rma_bpdu_fld_pmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

mediatek: dts: increase mt7986 ATF reserved memory to 256 kiB
  target/linux/mediatek/patches-6.12/199-arm64-dts-mediatek-mt7986-increase-ATF-reserved-memo.patch
Labels: target/mediatek

mediatek: dts: remove some useless spaces
  target/linux/mediatek/dts/mt7981b-snr-snr-cpe-ax2.dts
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn551x3.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax-v2.dts
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
Labels: target/mediatek

mediatek: dts: mt7981: add back #address-cells and #size-cells to eth node
  target/linux/mediatek/patches-6.12/117-complete-mt7981b-dtsi.patch
Labels: target/mediatek

mediatek: dts: fix some minor dtc warnings
  target/linux/mediatek/dts/mt7981b-gatonetworks-gdsp-sd-boot.dtso
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/dts/mt7981b-iptime-ax3000sm.dts
  target/linux/mediatek/dts/mt7981b-snr-snr-cpe-ax2.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax-v2.dts
  target/linux/mediatek/patches-6.12/188-arm64-dts-mediatek-add-MT7988A-reference-board-devic.patch
Labels: target/mediatek
