Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

mediatek: stage mt7622/mt7629 rfb u-boot images to bin folder
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/image/mt7629.mk
Labels: target/mediatek

kernel: fix rtl8261n driver for realtek
  target/linux/generic/files/drivers/net/phy/rtl8261n/phy_patch.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phy.c
Labels: kernel

kernel: support RTL8264 in rtl8261n driver
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phy.c
Labels: kernel

generic: 6.12: add new config symbols
  target/linux/armsr/config-6.12
  target/linux/generic/config-6.12
  target/linux/imx/config-6.12
  target/linux/mediatek/filogic/config-6.12
  target/linux/mediatek/mt7622/config-6.12
  target/linux/mvebu/config-6.12
  target/linux/qualcommax/config-6.12
  target/linux/qualcommbe/config-6.12
  target/linux/rockchip/armv8/config-6.12
  target/linux/stm32/stm32mp1/config-6.12
  target/linux/sunxi/config-6.12
Labels: target/armsr, target/imx, target/qualcommax, target/qualcommbe, target/mediatek, target/mvebu, target/rockchip, target/stm32, target/sunxi, kernel

qualcommax: remove useless cpu erratum
  target/linux/qualcommax/config-6.12
Labels: target/qualcommax, kernel

qualcommbe: remove useless cpu erratum
  target/linux/qualcommbe/config-6.12
Labels: target/qualcommbe, kernel

scripts/download.pl: read file natively
  scripts/download.pl
Labels: build/scripts/tools

DO NOT MERGE: ci: single-kernel: test drive workflow from pull request
  .github/workflows/single-kernel.yml
Labels: GitHub/CI

ci: add single-kernel smoke test
  .github/workflows/single-kernel.yml
Labels: GitHub/CI

DO NOT MERGE: scripts/download.pl: make it broken intentionally
  scripts/download.pl
Labels: build/scripts/tools

realtek: add support for Hasivo S1100W-8XGT-SE switch
  target/linux/realtek/dts/rtl9303_hasivo_s1100w-8xgt-se.dts
  target/linux/realtek/image/rtl930x.mk
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

ath79: revert wmac node names
  target/linux/ath79/dts/ar9132.dtsi
  target/linux/ath79/dts/ar9330.dtsi
  target/linux/ath79/dts/ar934x.dtsi
  target/linux/ath79/dts/qca953x.dtsi
  target/linux/ath79/dts/qca955x.dtsi
  target/linux/ath79/dts/qca956x.dtsi
Labels: target/ath79

uboot-mediatek: support getting legacy uImage size
  package/boot/uboot-mediatek/patches/200-cmd-add-imsz-and-imszb.patch
Labels: target/mediatek, core packages

uhhtpd: Fix LuCI 403 errors
  package/network/services/uhttpd/patches/0001-client-Allow-sending-content-in-DONE-state.patch
Labels: core packages

uhttpd: update to Git HEAD (2025-04-06)
  package/network/services/uhttpd/Makefile
Labels: core packages

linux-firmware: update to 20250708
  package/firmware/linux-firmware/Makefile
Labels: core packages

mbedtls: Re-prepare when configuration changes
  package/libs/mbedtls/Makefile
Labels: core packages

tweaking warning removals
  SideBar/note-pcie2.txt
  SideBar/rockchip-bindings-note.txt
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

adding couple of lines to pcie2 dts
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

mediatek: switch to Linux 6.12 by default
  target/linux/mediatek/Makefile
Labels: target/mediatek

harmonized dts patches from kernel to uboot
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip, core packages

added more items to custom feeds list
  package/system/apk/files/customfeeds.list
Labels: core packages

building everything, as openwrt system is having issues right now
  SideBar/9July2025-Diffconfig.config
  SideBar/9July2025-FullConfig.config
Labels: none

added more packages to build
  SideBar/9July2025-Diffconfig.config
  SideBar/9July2025-FullConfig.config
Labels: none

restarted make menu
  SideBar/9July2025-Diffconfig.config
  SideBar/9July2025-FullConfig.config
Labels: none

tools/bc: override SUBDIRS variable with Makefile
  tools/bc/Makefile
  tools/bc/patches/001-no_doc.patch
Labels: build/scripts/tools

tools/bc: remove useless patch
  tools/bc/patches/002-fix-libmath.patch
Labels: build/scripts/tools

tools/bc: let getopt() prototype be defined normally
  tools/bc/patches/000-getopt-prototype.patch
Labels: build/scripts/tools

tools/automake: hardcode portable location for Perl
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
Labels: build/scripts/tools

tools/automake: update to 1.17
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
  tools/automake/patches/100-aclocal-skip-not-existing-directories.patch
  tools/automake/patches/101-do-not-require-files.patch
  tools/automake/patches/200-other-V-values-for-verbosity.patch
Labels: build/scripts/tools

tools/gnulib: use exact directory copy for install
  tools/gnulib/Makefile
  tools/gnulib/patches/021-python-main.patch
Labels: build/scripts/tools

tools/gnulib: update to branch stable-202407
  tools/gnulib/Makefile
  tools/gnulib/patches/000-bootstrap.patch
  tools/gnulib/patches/010-autoconf-version.patch
  tools/gnulib/patches/020-python-version.patch
  tools/gnulib/patches/021-python-main.patch
  tools/gnulib/patches/150-portable-tdestroy.patch
  tools/gnulib/patches/160-flag-reallocarray.patch
  tools/gnulib/patches/200-force-disable-after-configure.patch
  tools/gnulib/patches/320-modules-fallocate-posix.patch
  tools/gnulib/patches/500-acl-function-name.patch
Labels: build/scripts/tools

tools/util-linux: include macOS system uuid header
  tools/util-linux/patches/102-macos-uuid-next.patch
Labels: build/scripts/tools

tools/libtool: add maintainer-clean to clean target
  tools/libtool/Makefile
Labels: build/scripts/tools

tools/libtool: remove parallel building
  tools/libtool/Makefile
Labels: build/scripts/tools

tools/gnulib: use git archive as download source
  tools/gnulib/Makefile
Labels: build/scripts/tools

download: add support for gitweb snapshots
  scripts/download.pl
Labels: build/scripts/tools

tools/automake: do not delete Makefile in clean targets
  tools/automake/patches/999-clean-am.patch
Labels: build/scripts/tools

tools/automake: control all cleaning with clean variables
  tools/automake/patches/300-output-TRUE-cond-first.patch
  tools/automake/patches/310-maintainer-clean-built_sources.patch
Labels: build/scripts/tools

tools/coreutils: disable uninstall target
  tools/coreutils/Makefile
Labels: build/scripts/tools

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
