Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

mt76: update to Git HEAD (2025-09-04)
  package/kernel/mt76/Makefile
  target/linux/generic/backport-6.12/731-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/generic/backport-6.6/752-31-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/mediatek/patches-6.12/944-net-ethernet-mtk_wed-move-dlm-a-dedicated-dts-node.patch
Labels: target/mediatek, kernel, core packages

kernel: improve mtk_eth_soc performance
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/pending-6.12/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.12/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.12/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.12/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/generic/pending-6.6/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.6/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.6/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.6/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.6/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.6/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.6/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

Revert "mt76: update to Git HEAD (2025-09-04)"
  package/kernel/mt76/Makefile
  target/linux/generic/backport-6.12/731-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/generic/backport-6.6/752-31-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/mediatek/patches-6.12/944-net-ethernet-mtk_wed-move-dlm-a-dedicated-dts-node.patch
Labels: target/mediatek, kernel, core packages

kernel: update and move net bridge patch to backport folder
  target/linux/generic/backport-6.12/625-v6.16-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/backport-6.6/625-v6.16-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.12/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.6/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.6/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.6/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
Labels: kernel

rockchip: Add support for Radxa ROCK 4C+
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.6/129-rock-4c-plus-add-led-aliases-and-stop-heartbeat.patch
Labels: target/rockchip, core packages

rockchip: Add Realtek RTL8821CU support for the Radxa ROCK Pi E v3
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

rockchip: Add support for Radxa ROCK 4SE
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.6/130-rock-4se-add-led-aliases-and-stop-heartbeat.patch
Labels: target/rockchip, core packages

lantiq: Fix VPE kernel patch
  target/linux/lantiq/patches-6.6/0152-lantiq-VPE.patch
Labels: target/lantiq

octeon: ubnt-*: Add device specific DTS pruning
  target/linux/octeon/patches-6.6/400-ubnt_dts_pruning.patch
Labels: target/octeon

rampis: add support for AsiaRF AP7621-004 Rev. 3
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

kernel: bump 6.6 to 6.6.104
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.6/771-v6.7-01-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/kernel-6.6
Labels: kernel

mediatek: filogic: add support for Cudy WR3000P v1
  target/linux/mediatek/dts/mt7981b-cudy-wr3000p-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ipq806x: fix dtc warnings for Linksys E8350 V1
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-e8350-v1.dts
Labels: target/ipq806x

ipq806x: refresh kernel symbol configs
  target/linux/ipq806x/config-6.6
Labels: target/ipq806x, kernel

ipq806x: refresh 6.12 kernel patches
  target/linux/ipq806x/patches-6.12/107-10-ARM-dts-qcom-add-saw-for-l2-cache-and-kraitcc-for.patch
  target/linux/ipq806x/patches-6.12/108-01-ARM-dts-qcom-fix-wrong-nad_pins-definition-for-ipq80.patch
  target/linux/ipq806x/patches-6.12/108-02-ARM-dts-qcom-add-MDIO-dedicated-controller-node-for-.patch
  target/linux/ipq806x/patches-6.12/114-02-ARM-dts-qcom-add-krait-cache-compatible-for-ipq806x-.patch
  target/linux/ipq806x/patches-6.12/115-02-ARM-dts-qcom-add-fab-scaling-node-for-ipq806x.patch
  target/linux/ipq806x/patches-6.12/122-01-clk-qcom-krait-cc-handle-qsb-clock-defined-in-DTS.patch
  target/linux/ipq806x/patches-6.12/122-02-clk-qcom-krait-cc-register-REAL-qsb-fixed-clock.patch
  target/linux/ipq806x/patches-6.12/122-03-clk-qcom-krait-cc-drop-pr_info-and-use-dev_info.patch
  target/linux/ipq806x/patches-6.12/122-04-clk-qcom-krait-cc-rework-mux-reset-logic-and-reset-h.patch
  target/linux/ipq806x/patches-6.12/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq806x/patches-6.12/900-arm-add-cmdline-override.patch
  target/linux/ipq806x/patches-6.12/901-02-ARM-decompressor-add-option-to-ignore-MEM-ATAGs.patch
  target/linux/ipq806x/patches-6.12/901-mtd-spi-nor-n25q064a-wp.patch
  target/linux/ipq806x/patches-6.12/902-ARM-decompressor-support-for-ATAGs-rootblock-parsing.patch
Labels: target/ipq806x

ipq806x: refresh 6.12 kernel config files
  target/linux/ipq806x/config-6.12
Labels: target/ipq806x, kernel

ipq806x: fix build errors on 6.12 kernel
  target/linux/ipq806x/patches-6.12/114-01-devfreq-qcom-Add-L2-Krait-Cache-devfreq-scaling-driv.patch
  target/linux/ipq806x/patches-6.12/115-01-devfreq-add-ipq806x-fabric-scaling-driver.patch
  target/linux/ipq806x/patches-6.12/900-arm-add-cmdline-override.patch
Labels: target/ipq806x

ipq806x: add PCIe bridge node reference labels for ipq8064.dtsi
  target/linux/ipq806x/patches-6.12/700-ARM-dts-qcom-ipq8064-add-reference-labels-for-PCIe-b.patch
Labels: target/ipq806x

ipq806x: dts: fix 6.12 kernel pinmux conflicts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ap161.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-onhub.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wpq864.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nbg6817.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

ipq806x: dts: reuse default PCIe bridge nodes
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-d7800.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-eax500.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-g10.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-cryptid-common.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

ipq806x: dts: rework PCIe nodes for Chromium OnHub
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-onhub.dtsi
Labels: target/ipq806x

ipq806x: dts: correct PCIe device node name
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-d7800.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-g10.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-cryptid-common.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

ipq806x: dts: fix incorrect PCIe bus number
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-eax500.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
Labels: target/ipq806x

ipq806x: migrate wifi configuration device paths for 6.12 kernel
  target/linux/ipq806x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/ipq806x

ipq806x: enable 6.12 testing kernel
  target/linux/ipq806x/Makefile
Labels: target/ipq806x

kernel: PCI/IOV: Add missing PCI rescan-remove locking
  target/linux/ipq806x/patches-6.12/001-01-PCI-IOV-Add-missing-PCI-rescan-remove-locking-when-e.patch
  target/linux/ipq806x/patches-6.12/001-02-PCI-Add-lockdep-assertion-in-pci_stop_and_remove_bus.patch
Labels: target/ipq806x

realtek: drop RTL8226/RTL8221B downstream PHY driver
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

realtek: drop obsolete kernel patches
  target/linux/realtek/patches-6.12/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/realtek/patches-6.12/708-drivers-net-phy-eee-support-for-rtl838x.patch
Labels: target/realtek

add suport for Cudy C200P
  mt7621.mk
  mt7621_cudy_c200p.dts
Labels: none

kernel: add quirk for two SFP+ transceivers
  target/linux/generic/backport-6.6/786-v6.10-net-sfp-add-quirk-for-another-multigig-RollBall-tran.patch
  target/linux/generic/pending-6.12/750-net-sfp-add-quirk-for-FlyPro-10Gbase-T-module.patch
  target/linux/generic/pending-6.6/750-net-sfp-add-quirk-for-FlyPro-10Gbase-T-module.patch
  target/linux/realtek/patches-6.12/714-net-phy-sfp-add-support-for-SMBus.patch
Labels: target/realtek, kernel

realtek: RTL93xx: Make use of correct ring size counters
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: make NAPI polling thread safe
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

realtek: RTL93xx: do not drop packets in software
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: early ethernet probe in dsa setup
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: carve out mdio bus from ethernet driver
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/mdio/mdio-realtek-otto.c
  target/linux/realtek/patches-6.12/806-add-mdio-driver.patch
  target/linux/realtek/rtl838x/config-6.12
  target/linux/realtek/rtl839x/config-6.12
  target/linux/realtek/rtl930x/config-6.12
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
Labels: target/realtek, kernel

treewide: dts: fix spi-gpio chip select GPIO polarity
  target/linux/ath79/dts/ar7242_ubnt_sw.dtsi
  target/linux/ath79/dts/qca9531_tplink_tl-mr3420-v3.dts
  target/linux/ath79/dts/qca9558_ubnt_nanobeam-ac-xc.dts
  target/linux/ath79/dts/qca9561_tplink_archer-c25-v1.dts
  target/linux/ath79/dts/qca9561_tplink_archer-c5x.dtsi
  target/linux/ath79/dts/qca9563_tplink_archer-c7-v4.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-rutx50.dts
  target/linux/ramips/dts/mt7628an_teltonika_rut9xx.dtsi
Labels: target/ath79, target/ipq40xx, target/ramips

qualcommbe: Add basic support for IPQ54xx RDP466 and RDP487
  target/linux/qualcommbe/Makefile
  target/linux/qualcommbe/image/ipq54xx.mk
  target/linux/qualcommbe/ipq54xx/base-files/etc/board.d/02_network
  target/linux/qualcommbe/ipq54xx/base-files/lib/upgrade/platform.sh
  target/linux/qualcommbe/ipq54xx/config-default
  target/linux/qualcommbe/ipq54xx/target.mk
Labels: target/qualcommbe, kernel

ipq54xx: Add pinctrl, clk and basic boot support
  target/linux/qualcommbe/patches-6.12/0402-v6.12-dt-bindings-clock-Add-Qualcomm-IPQ5424-GCC-binding.patch
  target/linux/qualcommbe/patches-6.12/0403-v6.12-clk-qcom-add-Global-Clock-controller-GCC-driver-for-.patch
  target/linux/qualcommbe/patches-6.12/0404-v6.12-dt-bindings-qcom-Add-ipq5424-boards.patch
  target/linux/qualcommbe/patches-6.12/0405-v6.12-arm64-dts-qcom-add-IPQ5424-SoC-and-rdp466-board-supp.patch
  target/linux/qualcommbe/patches-6.12/0406-v6.12-pinctrl-qcom-Introduce-IPQ5424-TLMM-driver.patch
  target/linux/qualcommbe/patches-6.12/0407-v6.13-pinctrl-qcom-ipq5424-split-spi0-pin-group.patch
  target/linux/qualcommbe/patches-6.12/0408-v6.13-clk-qcom-remove-unused-data-from-gcc-ipq5424.c.patch
  target/linux/qualcommbe/patches-6.12/0409-v6.13-clk-qcom-ipq5424-remove-apss_dbg-clock.patch
  target/linux/qualcommbe/patches-6.12/0410-v6.13-clk-qcom-ipq5424-add-gcc_xo_clk.patch
  target/linux/qualcommbe/patches-6.12/0411-v6.13-clk-qcom-ipq5424-Use-icc-clk-for-enabling-NoC-relate.patch
  target/linux/qualcommbe/patches-6.12/0412-v6.14-clk-qcom-ipq5424-fix-software-and-hardware-flow-cont.patch
  target/linux/qualcommbe/patches-6.12/0413-v6.14-drivers-clk-qcom-ipq5424-fix-the-freq-table-of-sdcc1.patch
  target/linux/qualcommbe/patches-6.12/0414-v6.13-dt-bindings-interconnect-Add-Qualcomm-IPQ5424-suppor.patch
  target/linux/qualcommbe/patches-6.12/0415-v6.13-dt-bindings-clock-qcom-gcc-ipq5424-add-gcc_xo_clk-ma.patch
  target/linux/qualcommbe/patches-6.12/0416-v6.12-arm64-dts-qcom-ipq5424-Add-smem-and-tcsr_mutex-nodes.patch
  target/linux/qualcommbe/patches-6.12/0417-v6.13-arm64-dts-qcom-ipq5424-Add-watchdog-node.patch
  target/linux/qualcommbe/patches-6.12/0418-v6.13-arm64-dts-qcom-ipq5424-add-spi-nodes.patch
  target/linux/qualcommbe/patches-6.12/0419-v6.13-arm64-dts-qcom-ipq5424-add-TRNG-node.patch
  target/linux/qualcommbe/patches-6.12/0420-v6.13-arm64-dts-qcom-ipq5424-Add-LLCC-system-cache-control.patch
  target/linux/qualcommbe/patches-6.12/0421-v6.13-arm64-dts-qcom-ipq5424-Add-USB-controller-and-phy-no.patch
  target/linux/qualcommbe/patches-6.12/0422-v6.13-arm64-dts-qcom-ipq5424-add-scm-node.patch
  target/linux/qualcommbe/patches-6.12/0423-v6.13-arm64-dts-qcom-ipq5424-enable-the-download-mode-supp.patch
Labels: target/qualcommbe

qualcommbe: ipq5424: Add PCIe PHYs controller support
  target/linux/qualcommbe/patches-6.12/0424-arm64-dts-qcom-ipq5424-Add-PCIe-PHYs-and-controller-nodes.patch
  target/linux/qualcommbe/patches-6.12/0425-arm64-dts-qcom-ipq5424-Enable-PCIe-PHYs-and-controllers.patch
Labels: target/qualcommbe

qualcommbe: ipq5424: Add basic support for RDP487
  target/linux/qualcommbe/patches-6.12/0426-arm64-dts-qcom-add-IPQ5424-rdp487-board-support.patch
Labels: target/qualcommbe
