Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

qualcommax: ipq60xx: add JDCloud RE-SS-01 support
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6000-re-ss-01.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

ipq-wifi: add support for qca9988 board file type
  package/firmware/ipq-wifi/Makefile
Labels: core packages

qualcommax: ipq50xx: Add support for Yuncore AX850
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax850.dts
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.12/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.12/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.12/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.12/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
  target/linux/generic/pending-6.6/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.6/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.6/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.6/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.6/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
Labels: kernel

kernel: fix Mediatek queue size patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
Labels: kernel

kernel: fix Mediatek queue size patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
Labels: kernel

realtek: add support for XikeStor SKS8310-8X
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/dts/rtl9303_xikestor_sks8310-8x.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

wifi-scripts: ucode: add extra RSN override for MLO
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/iface.uc
Labels: core packages

mediatek: filogic: support WAVLINK WL-WN586X3 Rev B
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn586x3b.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mvebu: use upstream DTS for Methode eDPU
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-eDPU.dts
Labels: target/mvebu, kernel

mvebu: use upstream DTS for Globalscale ESPRESSObin Ultra
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-espressobin-ultra.dts
  target/linux/mvebu/patches-6.12/321-arm64-dts-marvell-reorder-ethernet-aliases-for-ESPRE.patch
Labels: target/mvebu, kernel

mvebu: move DTS diff into a patch for Methode uDPU
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dtsi
  target/linux/mvebu/patches-6.12/322-arm64-dts-marvell-specity-phy-mode-2500base-x-for-Me.patch
Labels: target/mvebu, kernel

mvebu: use upstream DTS for GL.iNet GL-MV1000
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-gl-mv1000.dts
  target/linux/mvebu/patches-6.12/323-arm64-dts-marvell-update-LED-and-partition-labels-fo.patch
Labels: target/mvebu, kernel

mvebu: use upstream DTS for Globalscale MOCHAbin
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-7040-mochabin.dts
  target/linux/mvebu/patches-6.12/324-arm64-dts-marvell-use-u-boot-part-label-for-Globalsc.patch
Labels: target/mvebu, kernel

mvebu: use upstream DTS for Ctera C200-V2
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-370-c200-v2.dts
  target/linux/mvebu/patches-6.12/325-arm-dts-marvell-add-LED-aliases-and-USB-ports-to-Cte.patch
Labels: target/mvebu, kernel

udebug: update to Git HEAD (2025-08-15)
  package/libs/udebug/Makefile
Labels: core packages

realtek: register ethernet device after NAPI context init
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

wifi-scripts: ucode: remove reference to legacy drivers
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-device.json
Labels: core packages

wifi-scripts: ucode: add support for scan_list
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-device.json
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
Labels: core packages

kernel: bump 6.12 to 6.12.41
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0521-mm-vmscan-Maintain-TLB-coherency-in-LRU-code.patch
  target/linux/generic/backport-6.12/410-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.12/410-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.12/410-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.12/410-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.12/410-05-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.12/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.12
Labels: target/bcm27xx, kernel

kernel: bump 6.12 to 6.12.42
  target/linux/ath79/patches-6.12/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.12/950-0196-staging-fbtft-Add-support-for-display-variants.patch
  target/linux/bcm27xx/patches-6.12/950-0330-pps-Compatibility-hack-should-be-X86-specific.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/650-net-pppoe-implement-GRO-support.patch
  target/linux/generic/pending-6.12/655-increase_skb_pad.patch
  target/linux/generic/pending-6.12/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.12/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
Labels: target/ath79, target/bcm27xx, target/ipq40xx, kernel

generic/config-6.12: add new option
  target/linux/generic/config-6.12
Labels: kernel

ipq40xx: switch to kernel 6.12
  target/linux/ipq40xx/Makefile
Labels: target/ipq40xx

OpenWrt v23.05.6: adjust config defaults
  feeds.conf.default
  include/version.mk
  package/base-files/image-config.in
  version
  version.date
Labels: core packages, build/scripts/tools

OpenWrt v23.05.6: revert to branch defaults
  feeds.conf.default
  include/version.mk
  package/base-files/image-config.in
  version
  version.date
Labels: core packages, build/scripts/tools

ipset: update to 7.24
  package/network/utils/ipset/Makefile
Labels: core packages

ramips: fix TP-Link mr600 radio partition offset
  target/linux/ramips/dts/mt7621_tplink_mr600-v2-eu.dts
Labels: target/ramips

realtek: RTL93xx: ECC engine driver
  target/linux/realtek/files-6.12/Documentation/devicetree/bindings/mtd/realtek,nand-ecc-engine.yaml
  target/linux/realtek/files-6.12/drivers/mtd/nand/ecc-realtek.c
  target/linux/realtek/patches-6.12/808-add-realtek-ecc.patch
  target/linux/realtek/rtl838x/config-6.12
  target/linux/realtek/rtl839x/config-6.12
  target/linux/realtek/rtl930x/config-6.12
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
Labels: target/realtek, kernel

realtek: RTL930x/RTL931x led_set defines, and led-sync pin configuration
  target/linux/realtek/dts/rtl930x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

prereq-build.mk: optionally symlink pigz
  include/prereq-build.mk
Labels: build/scripts/tools

include/image.mk: use pigz if present on host
  include/image.mk
Labels: build/scripts/tools

image-commands.mk: use pigz for gzip compression
  include/image-commands.mk
Labels: build/scripts/tools

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: bump release to 2.91
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/0003-Handle-DS-queries-to-auth-zones.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

dnsmasq: fix start if dhcp-range is not correct
  package/base-files/files/bin/ipcalc.sh
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

dnsmasq: prevent upstream resolution of addresses
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

bmips: b53: enable bcm63268 internal PHYs
  target/linux/bmips/dts/bcm63268.dtsi
  target/linux/bmips/patches-6.12/111-net-dsa-b53-ephy-gphy-power-control.patch
Labels: target/bmips

tools/7z: update to 25.01
  tools/7z/Makefile
Labels: build/scripts/tools

udebug: update to Git HEAD (2025-08-17)
  package/libs/udebug/Makefile
Labels: core packages

ipq40xx: switch to kernel 6.12
  target/linux/ipq40xx/Makefile
Labels: target/ipq40xx

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
