Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

mt76: update to Git HEAD (2025-08-27)
  package/kernel/mt76/Makefile
  package/kernel/mt76/patches/100-api_compat.patch
Labels: core packages

build: Add compatibility with uutils' coreutils
  include/prereq-build.mk
Labels: build/scripts/tools

qualcommax: ipq50xx: backport upstreamed patches for adding ipq5018 GE PHY support
  target/linux/qualcommax/patches-6.12/0056-v6.17-clk-qcom-gcc-ipq5018-fix-GE-PHY-reset.patch
  target/linux/qualcommax/patches-6.12/0057-v6.17-net-phy-qcom-at803x-Add-Qualcomm-IPQ5018-Internal-PHY-support.patch
  target/linux/qualcommax/patches-6.12/0058-v6.18-arm64-dts-qcom-ipq5018-Add-MDIO-buses.patch
  target/linux/qualcommax/patches-6.12/0059-v6.18-arm64-dts-qcom-ipq5018-Add-GE-PHY-to-internal-mdio-bus.patch
  target/linux/qualcommax/patches-6.12/0306-arm64-dts-qcom-ipq5018-Add-PWM-node.patch
  target/linux/qualcommax/patches-6.12/0324-arm64-dts-qcom-ipq5018-Add-crypto-nodes.patch
  target/linux/qualcommax/patches-6.12/0337-arm64-dts-qcom-ipq5018-Add-PRNG-node.patch
  target/linux/qualcommax/patches-6.12/0339-arm64-dts-qcom-ipq5018-Add-QUP1-UART2-node.patch
  target/linux/qualcommax/patches-6.12/0340-arm64-dts-qcom-ipq5018-Add-QUP3-I2C-node.patch
  target/linux/qualcommax/patches-6.12/0421-arm64-dts-qcom-ipq5018-Add-SPI-nand-node.patch
  target/linux/qualcommax/patches-6.12/0704-arm64-dts-qcom-ipq5018-Add-ethernet-cmn-node.patch
Labels: target/qualcommax

qualcommax: ipq50xx: backport upstreamed patch for adding ipq5018 tsens node
  target/linux/qualcommax/patches-6.12/0054-v6.18-arm64-dts-qcom-ipq5018-Add-tsens-node.patch
  target/linux/qualcommax/patches-6.12/0180-arm64-dts-qcom-ipq5018-Remove-tsens-v1-fallback-compatible.patch
  target/linux/qualcommax/patches-6.12/0306-arm64-dts-qcom-ipq5018-Add-PWM-node.patch
  target/linux/qualcommax/patches-6.12/0324-arm64-dts-qcom-ipq5018-Add-crypto-nodes.patch
  target/linux/qualcommax/patches-6.12/0337-arm64-dts-qcom-ipq5018-Add-PRNG-node.patch
  target/linux/qualcommax/patches-6.12/0339-arm64-dts-qcom-ipq5018-Add-QUP1-UART2-node.patch
  target/linux/qualcommax/patches-6.12/0340-arm64-dts-qcom-ipq5018-Add-QUP3-I2C-node.patch
  target/linux/qualcommax/patches-6.12/0421-arm64-dts-qcom-ipq5018-Add-SPI-nand-node.patch
  target/linux/qualcommax/patches-6.12/0704-arm64-dts-qcom-ipq5018-Add-ethernet-cmn-node.patch
  target/linux/qualcommax/patches-6.12/0713-arm64-dts-qcom-ipq5018-add-mdio-buses.patch
  target/linux/qualcommax/patches-6.12/0714-arm64-dts-qcom-ipq5018-add-ge-phy-to-internal-mdio-bus.patch
  target/linux/qualcommax/patches-6.12/0715-arm64-dts-qcom-ipq5018-add-vendor-compatible-to-mdio-node.patch
  target/linux/qualcommax/patches-6.12/0816-arm64-dts-qcom-ipq5018-add-wifi-support.patch
  target/linux/qualcommax/patches-6.12/0817-arm64-dts-qcom-ipq5018-add-tz_apps-reserved-memory-region.patch
Labels: target/qualcommax

qualcommax: ipq50xx: backport upstreamed patch for adding ipq5018 crypto node
  target/linux/qualcommax/patches-6.12/0062-v6.18-arm64-dts-qcom-ipq5018-Add-crypto-nodes.patch
  target/linux/qualcommax/patches-6.12/0306-arm64-dts-qcom-ipq5018-Add-PWM-node.patch
  target/linux/qualcommax/patches-6.12/0324-arm64-dts-qcom-ipq5018-Add-crypto-nodes.patch
  target/linux/qualcommax/patches-6.12/0339-arm64-dts-qcom-ipq5018-Add-QUP1-UART2-node.patch
  target/linux/qualcommax/patches-6.12/0340-arm64-dts-qcom-ipq5018-Add-QUP3-I2C-node.patch
  target/linux/qualcommax/patches-6.12/0816-arm64-dts-qcom-ipq5018-add-wifi-support.patch
Labels: target/qualcommax

qualcommax: ipq50xx: backport upstreamed patch for adding ipq5018 SPI nand support
  target/linux/qualcommax/patches-6.12/0060-v6.18-arm64-dts-qcom-ipq5018-Add-SPI-nand-support.patch
  target/linux/qualcommax/patches-6.12/0340-arm64-dts-qcom-ipq5018-Add-QUP3-I2C-node.patch
  target/linux/qualcommax/patches-6.12/0421-arm64-dts-qcom-ipq5018-Add-SPI-nand-node.patch
  target/linux/qualcommax/patches-6.12/0816-arm64-dts-qcom-ipq5018-add-wifi-support.patch
Labels: target/qualcommax

qualcommax: ipq50xx: backport upstreamed patch for adding ipq5018 PRNG node
  target/linux/qualcommax/patches-6.12/0061-v6.18-arm64-dts-qcom-ipq5018-add-PRNG-node.patch
  target/linux/qualcommax/patches-6.12/0306-arm64-dts-qcom-ipq5018-Add-PWM-node.patch
  target/linux/qualcommax/patches-6.12/0324-arm64-dts-qcom-ipq5018-Add-crypto-nodes.patch
  target/linux/qualcommax/patches-6.12/0337-arm64-dts-qcom-ipq5018-Add-PRNG-node.patch
Labels: target/qualcommax

mac80211: extend connection monitoring for MLO
  package/kernel/mac80211/patches/subsys/340-wifi-mac80211-Add-link-iteration-macro-for-link-data.patch
  package/kernel/mac80211/patches/subsys/341-wifi-mac80211-extend-beacon-monitoring-for-MLO.patch
  package/kernel/mac80211/patches/subsys/342-wifi-mac80211-extend-connection-monitoring-for-MLO.patch
  package/kernel/mac80211/patches/subsys/343-wifi-mac80211-Make-CONNECTION_MONITOR-optional-for-M.patch
  package/kernel/mac80211/patches/subsys/350-mac80211-allow-scanning-while-on-radar-channel.patch
  package/kernel/mac80211/patches/subsys/360-mac80211-factor-out-part-of-ieee80211_calc_expected_.patch
Labels: core packages

mac80211: extend connection monitoring for MLO
  package/kernel/mac80211/patches/subsys/350-wifi-mac80211-Add-link-iteration-macro-for-link-data.patch
  package/kernel/mac80211/patches/subsys/351-wifi-mac80211-extend-beacon-monitoring-for-MLO.patch
  package/kernel/mac80211/patches/subsys/352-wifi-mac80211-extend-connection-monitoring-for-MLO.patch
  package/kernel/mac80211/patches/subsys/353-wifi-mac80211-Make-CONNECTION_MONITOR-optional-for-M.patch
Labels: core packages

mediatek: filogic: add support for Zbtlink ZBT-Z8802BE
  target/linux/mediatek/dts/mt7988d-zbtlink-zbt-z8802be.dts
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mediatek: Add support for DLink M32 with merged kernel1 and kernel2 partitions for more storage
  package/boot/uboot-tools/uboot-envtools/files/mediatek_mt7622
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-m32-a1-large.dts
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
  target/linux/mediatek/mt7622/base-files/lib/upgrade/platform.sh
Labels: target/mediatek, core packages

realtek: correct whitespace in hp dts files
  target/linux/realtek/dts/rtl8393_hpe_1920-48g-poe.dts
  target/linux/realtek/dts/rtl8393_hpe_1920-48g.dts
Labels: target/realtek

ath79: ar9344: use led-sources for ath9k
  target/linux/ath79/dts/ar9344_alfa-network_n5q.dts
  target/linux/ath79/dts/ar9344_comfast_cf-e120a-v3.dts
  target/linux/ath79/dts/ar9344_devolo_dlan_wifi.dtsi
  target/linux/ath79/dts/ar9344_enterasys_ws-ap3705i.dts
  target/linux/ath79/dts/ar9344_fortinet_fap-221-b.dts
  target/linux/ath79/dts/ar9344_huawei_ap6010dn.dts
  target/linux/ath79/dts/ar9344_longdata_aps256.dts
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-2011uias-2hnd.dts
  target/linux/ath79/dts/ar9344_netgear_r6100.dts
  target/linux/ath79/dts/ar9344_netgear_wndr.dtsi
  target/linux/ath79/dts/ar9344_ocedo_raccoon.dts
  target/linux/ath79/dts/ar9344_pcs_cap324.dts
  target/linux/ath79/dts/ar9344_pcs_cr5000.dts
  target/linux/ath79/dts/ar9344_qxwlan_e750x.dtsi
  target/linux/ath79/dts/ar9344_samsung_wam250.dts
  target/linux/ath79/dts/ar9344_senao_ap-dual.dtsi
  target/linux/ath79/dts/ar9344_tplink_tl-wr841hp-v2.dts
  target/linux/ath79/dts/ar9344_watchguard_ap100.dts
  target/linux/ath79/dts/ar9344_watchguard_ap200.dts
  target/linux/ath79/dts/ar9344_zbtlink_zbt-wd323.dts
Labels: target/ath79

include/image.mk: use pigz or gzip
  include/image.mk
Labels: build/scripts/tools

treewide: use GZIPCMD to select gzip or pigz
  package/Makefile
  target/imagebuilder/files/Makefile
  target/linux/apm821xx/image/Makefile
  target/linux/ath79/image/lzma-loader/Makefile
  target/linux/bcm47xx/image/Makefile
  target/linux/bcm47xx/image/lzma-loader/src/Makefile
  target/linux/lantiq/image/lzma-loader/Makefile
  target/linux/layerscape/image/Makefile
  target/linux/malta/image/Makefile
  target/linux/mvebu/image/Makefile
  target/linux/ramips/image/lzma-loader/Makefile
Labels: target/apm821xx, target/ath79, target/bcm47xx, target/lantiq, target/layerscape, target/malta, target/mvebu, target/ramips, target/imagebuilder, core packages

prereq-build.mk: add check for pigz
  include/prereq-build.mk
Labels: build/scripts/tools

Config-images.in: add option for pigz compression
  config/Config-images.in
Labels: none

image-commands.mk: use pigz or gzip
  include/image-commands.mk
Labels: build/scripts/tools

mediatek: Ruijie RG-X60 Pro: add OpenWrt U-Boot layout
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-ruijie-rg-x60-pro.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

wifi-scripts: allow configuring per-radio macaddr in shared/mlo wifi-iface
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
Labels: core packages

qualcommax: ipq50xx: backport upstreamed patches for adding ipq5018 CMN PLL support
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax6000.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax830.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-gl-b3000.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-mx-base.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-wn-dax3000gr.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-wrc-x3000gs2.dts
  target/linux/qualcommax/patches-6.12/0063-v6.14-clk-qcom-Add-CMN-PLL-clock-controller-driver-for-IPQ-SoC.patch
  target/linux/qualcommax/patches-6.12/0064-v6.17-clk-qcom-cmnpll-Add-IPQ5424-SoC-support.patch
  target/linux/qualcommax/patches-6.12/0065-v6.17-dt-bindings-clock-qcom-Add-CMN-PLL-support-for-IPQ5018-SoC.patch
  target/linux/qualcommax/patches-6.12/0066-v6.17-clk-qcom-ipq-cmn-pll-Add-IPQ5018-SoC-support.patch
  target/linux/qualcommax/patches-6.12/0067-v6.18-arm64-dts-ipq5018-Add-CMN-PLL-node.patch
  target/linux/qualcommax/patches-6.12/0068-v6.18-arm64-dts-qcom-Update-IPQ5018-xo_board_clk-to-use-fixed-factor-clock.patch
  target/linux/qualcommax/patches-6.12/0306-arm64-dts-qcom-ipq5018-Add-PWM-node.patch
  target/linux/qualcommax/patches-6.12/0339-arm64-dts-qcom-ipq5018-Add-QUP1-UART2-node.patch
  target/linux/qualcommax/patches-6.12/0340-arm64-dts-qcom-ipq5018-Add-QUP3-I2C-node.patch
  target/linux/qualcommax/patches-6.12/0701-dt-bindings-clock-qcom-Add-CMN-PLL-clock-controller-.patch
  target/linux/qualcommax/patches-6.12/0702-clk-qcom-Add-CMN-PLL-clock-controller-driver-for-IPQ.patch
  target/linux/qualcommax/patches-6.12/0703-clk-qcom-cmn-pll-add-IPQ5018-support.patch
  target/linux/qualcommax/patches-6.12/0704-arm64-dts-qcom-ipq5018-Add-ethernet-cmn-node.patch
  target/linux/qualcommax/patches-6.12/0715-arm64-dts-qcom-ipq5018-add-vendor-compatible-to-mdio-node.patch
  target/linux/qualcommax/patches-6.12/0816-arm64-dts-qcom-ipq5018-add-wifi-support.patch
  target/linux/qualcommax/patches-6.12/0817-arm64-dts-qcom-ipq5018-add-tz_apps-reserved-memory-region.patch
Labels: target/qualcommax, kernel

mediatek: add support for ipTIME AX7800M-6E
  target/linux/mediatek/dts/mt7986a-iptime-ax7800m-6e.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ath79: add calibtation variant for Xiaomi AIoT AC2350
  target/linux/ath79/dts/qca9563_xiaomi_aiot-ac2350.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

ipq-wifi: add entry for Xiaomi AIoT AC2350
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq54xx: Add pinctrl, clk and basic boot support
  target/linux/qualcommbe/patches-6.12/0402-v6.12-dt-bindings-clock-Add-Qualcomm-IPQ5424-GCC-binding.patch
  target/linux/qualcommbe/patches-6.12/0403-v6.12-clk-qcom-add-Global-Clock-controller-GCC-driver-for-.patch
  target/linux/qualcommbe/patches-6.12/0404-v6.12-dt-bindings-qcom-Add-ipq5424-boards.patch
  target/linux/qualcommbe/patches-6.12/0405-v6.12-arm64-dts-qcom-add-IPQ5424-SoC-and-rdp466-board-supp.patch
  target/linux/qualcommbe/patches-6.12/0406-v6.12-pinctrl-qcom-Introduce-IPQ5424-TLMM-driver.patch
  target/linux/qualcommbe/patches-6.12/0407-v6.13-pinctrl-qcom-ipq5424-split-spi0-pin-group.patch
  target/linux/qualcommbe/patches-6.12/0408-v6.13-clk-qcom-remove-unused-data-from-gcc-ipq5424.c.patch
  target/linux/qualcommbe/patches-6.12/0409-v6.13-clk-qcom-ipq5424-remove-apss_dbg-clock.patch
  target/linux/qualcommbe/patches-6.12/0410-v6.13-clk-qcom-ipq5424-add-gcc_xo_clk.patch
  target/linux/qualcommbe/patches-6.12/0411-v6.13-clk-qcom-ipq5424-Use-icc-clk-for-enabling-NoC-relate.patch
  target/linux/qualcommbe/patches-6.12/0412-v6.14-clk-qcom-ipq5424-fix-software-and-hardware-flow-cont.patch
  target/linux/qualcommbe/patches-6.12/0413-v6.14-drivers-clk-qcom-ipq5424-fix-the-freq-table-of-sdcc1.patch
  target/linux/qualcommbe/patches-6.12/0414-v6.13-dt-bindings-interconnect-Add-Qualcomm-IPQ5424-suppor.patch
  target/linux/qualcommbe/patches-6.12/0415-v6.13-dt-bindings-clock-qcom-gcc-ipq5424-add-gcc_xo_clk-ma.patch
  target/linux/qualcommbe/patches-6.12/0416-v6.12-arm64-dts-qcom-ipq5424-Add-smem-and-tcsr_mutex-nodes.patch
  target/linux/qualcommbe/patches-6.12/0417-v6.13-arm64-dts-qcom-ipq5424-Add-watchdog-node.patch
  target/linux/qualcommbe/patches-6.12/0418-v6.13-arm64-dts-qcom-ipq5424-add-spi-nodes.patch
  target/linux/qualcommbe/patches-6.12/0419-v6.13-arm64-dts-qcom-ipq5424-add-TRNG-node.patch
  target/linux/qualcommbe/patches-6.12/0420-v6.13-arm64-dts-qcom-ipq5424-Add-LLCC-system-cache-control.patch
  target/linux/qualcommbe/patches-6.12/0421-v6.13-arm64-dts-qcom-ipq5424-Add-USB-controller-and-phy-no.patch
  target/linux/qualcommbe/patches-6.12/0422-v6.13-arm64-dts-qcom-ipq5424-add-scm-node.patch
  target/linux/qualcommbe/patches-6.12/0423-v6.13-arm64-dts-qcom-ipq5424-enable-the-download-mode-supp.patch
Labels: target/qualcommbe

qualcommbe: Add basic support for IPQ54xx RDP466 and RDP487
  target/linux/qualcommbe/Makefile
  target/linux/qualcommbe/image/ipq54xx.mk
  target/linux/qualcommbe/ipq54xx/base-files/etc/board.d/02_network
  target/linux/qualcommbe/ipq54xx/base-files/lib/upgrade/platform.sh
  target/linux/qualcommbe/ipq54xx/config-default
  target/linux/qualcommbe/ipq54xx/target.mk
Labels: target/qualcommbe, kernel

qualcommbe: ipq5424: Add PCIe PHYs controller support
  target/linux/qualcommbe/patches-6.12/0424-arm64-dts-qcom-ipq5424-Add-PCIe-PHYs-and-controller-nodes.patch
  target/linux/qualcommbe/patches-6.12/0425-arm64-dts-qcom-ipq5424-Enable-PCIe-PHYs-and-controllers.patch
Labels: target/qualcommbe

qualcommbe: ipq5424: Add basic support for RDP487
  target/linux/qualcommbe/patches-6.12/0426-arm64-dts-qcom-add-IPQ5424-rdp487-board-support.patch
Labels: target/qualcommbe

realtek: RTL93xx: ECC engine driver
  target/linux/realtek/files-6.12/Documentation/devicetree/bindings/mtd/realtek,nand-ecc-engine.yaml
  target/linux/realtek/files-6.12/drivers/mtd/nand/ecc-realtek.c
  target/linux/realtek/patches-6.12/808-add-realtek-ecc.patch
  target/linux/realtek/rtl838x/config-6.12
  target/linux/realtek/rtl839x/config-6.12
  target/linux/realtek/rtl930x/config-6.12
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
Labels: target/realtek, kernel

realtek: avoid interrupt storm on mass packet receive
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

realtek: fix stall after restart of otto timer
  target/linux/realtek/patches-6.6/304-timer-otto-fix-stall-after-restart.patch
Labels: target/realtek

realtek: Fix nvmem support for ethernet device
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: Introduce Plasma Cloud sysupgrade helper
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot_plasmacloud.sh
Labels: target/realtek

realtek: rtl930x: Add support for Plasma Cloud PSX10 Switch
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot_plasmacloud.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx10.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

realtek: rtl930x: Add support for Plasma Cloud PSX8 Switch
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot_plasmacloud.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_common.dtsi
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

realtek: rtl930x: Enable parsing of u-boot nvmem layouts
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

kernel: bump 6.6 to 6.6.102
  target/linux/generic/backport-6.6/621-proc-fix-missing-pde_set_flags.patch
  target/linux/generic/backport-6.6/624-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.6/770-v6.7-net-introduce-napi_is_scheduled-helper.patch
  target/linux/generic/hack-6.6/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.6/904-debloat_dma_buf.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/650-net-pppoe-implement-GRO-support.patch
  target/linux/generic/pending-6.6/655-increase_skb_pad.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: kernel

kernel: bump 6.6 to 6.6.101
  target/linux/generic/backport-6.6/413-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.6/413-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.6/413-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.6/413-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.6/414-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.6/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.6
Labels: kernel

kernel: bump 6.6 to 6.6.101
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0184-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.6/950-0185-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.6/950-0190-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.6/950-0191-staging-vchiq-Use-the-old-dma-controller-for-OF-conf.patch
  target/linux/bcm27xx/patches-6.6/950-0194-staging-vchiq_arm-Give-vchiq-children-DT-nodes.patch
  target/linux/bcm27xx/patches-6.6/950-0209-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.6/950-1411-staging-vchiq_arm-Add-36-bit-address-support.patch
  target/linux/bcm27xx/patches-6.6/950-1412-staging-vchiq_arm-children-inherit-DMA-config.patch
  target/linux/generic/hack-6.6/259-regmap_dynamic.patch
Labels: target/bcm27xx, kernel, build/scripts/tools

kernel: bump 6.6 to 6.6.102
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0243-staging-fbtft-Add-support-for-display-variants.patch
  target/linux/bcm27xx/patches-6.6/950-0472-pps-Compatibility-hack-should-be-X86-specific.patch
  target/linux/generic/backport-6.6/621-proc-fix-missing-pde_set_flags.patch
  target/linux/generic/backport-6.6/770-v6.7-net-introduce-napi_is_scheduled-helper.patch
  target/linux/generic/hack-6.6/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.6/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.6/655-increase_skb_pad.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
Labels: target/ath79, target/bcm27xx, target/ipq40xx, kernel, build/scripts/tools

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
