Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

dropbear: fix missing depends for sntrup761x25519-sha512
  package/network/services/dropbear/patches/052-fix-missing-depends-for-sntrup761x25519-sha512.patch
Labels: core packages

ramips: add support for Mercury KM08-708H
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_mercury_km08-708h.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
Labels: target/ramips, core packages

efw1115 updated openwrt maintainers list
  meta.yaml
Labels: none

mediatek: filogic: Add support for Wavlink WL-WN551X3
  target/linux/mediatek/dts/mt7981b-wavlink-wl-3port-128nand-common.dtsi
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn551x3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

qualcommax: ipq50xx: Add support for Yuncore AX850
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-ax850.dts
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

realtek: rtl93xx: Add learning and flooding enable/disable
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

gcc: 15.x: update to 15.2
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-15.x/910-mbsd_multi.patch
Labels: toolchain

mediatek: remove loglevel in bootargs
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01.dtsi
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8103ax.dts
  target/linux/mediatek/dts/mt7988a-smartrg-mt-stuart.dtsi
  target/linux/mediatek/patches-6.12/188-arm64-dts-mediatek-add-MT7988A-reference-board-devic.patch
  target/linux/mediatek/patches-6.12/189-arm64-dts-mediatek-mt7988a-complete-bpi-r4.patch
Labels: target/mediatek

realtek: rtl93xx: Add support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: dsa: rename tagged_ports to member_ports
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl839x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

dropbear: fix missing depends for sntrup761x25519-sha512
  package/network/services/dropbear/patches/052-fix-missing-depends-for-sntrup761x25519-sha512.patch
Labels: core packages

kernel: usb: kmod-usb-dwc3: add gadget and dual-role modes support
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: fix dependencies for kmod-usb-roles package
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: gadget drivers do not depend on usb host support
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: fix dependencies for kmod-cdns3 and kmod-cdns
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: add kmod-usb-common package
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

mediatek: add support for CreatLentem CLT-R30B1
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-112m.dts
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-common.dtsi
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ramips: add support for Hongdian H7920 v40
  target/linux/ramips/dts/mt7628an_hongdian_h7920-v40.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/etc/board.d/03_gpio_switches
Labels: target/ramips

realtek: switch Zyxel GS1900 initramfs recipe to rt-loader
  target/linux/realtek/image/common.mk
Labels: target/realtek

realtek: rtl930x: Add support for Plasma Cloud PSX8 Switch
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dts
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dtsi
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

realtek: rtl930x: Add support for Plasma Cloud PSX10 Switch
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx10.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

wifi-scripts: add modular wps button handler scripts
  package/network/config/wifi-scripts/files/etc/rc.button/wps
  package/network/config/wifi-scripts/files/etc/rc.wps/40-wps_ap
  package/network/config/wifi-scripts/files/etc/rc.wps/50-wps_sta
  package/network/services/hostapd/Makefile
Labels: core packages

ipset: update to 7.24
  package/network/utils/ipset/Makefile
Labels: core packages

ramips: add support for Hongdian H7920 v40
  target/linux/ramips/dts/mt7628an_hongdian_h7920-v40.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/etc/board.d/03_gpio_switches
Labels: target/ramips

dropbear: disable login recording with musl libc
  package/network/services/dropbear/Config.in
  package/network/services/dropbear/Makefile
Labels: core packages

siflower: riscv64: fix unaligned access for 64bit data
  target/linux/generic/pending-6.6/352-riscv-introduce-ioremap_wc-pgprot_val.patch
  target/linux/siflower/patches-6.6/021-set_pgprot_dmacoherent_to_pgprot_writecombine.patch
Labels: target/siflower, kernel

lantiq: xrx200 set soc version
  target/linux/lantiq/image/Makefile
  target/linux/lantiq/image/tp-link.mk
  target/linux/lantiq/image/vr9.mk
Labels: target/lantiq

lantiq-gphy-firmware: add firmware for xrx300 and xrx330
  package/firmware/lantiq/lantiq-gphy-firmware/Makefile
  package/firmware/lantiq/lantiq-gphy-firmware/files/ltq_fw_PHY11G_IP_1v5_xRx3xx_A21_R8434.bin
  package/firmware/lantiq/lantiq-gphy-firmware/files/ltq_fw_PHY22F_IP_1v5_xRx3xx_A21_RC434.bin
Labels: target/lantiq, core packages

Add support for sae_password_file in hostapd.sh
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

realtek: rtl93xx: Add support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

bzip2: override target configure variables
  package/utils/bzip2/Makefile
Labels: core packages

bzip2: cleanup Makefile
  package/utils/bzip2/Makefile
Labels: core packages

lantiq: add support for D-Link DWR-966
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/xrx330.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/xrx330_dlink_dwr-966.dts
  target/linux/lantiq/image/Makefile
  target/linux/lantiq/image/xrx330.mk
  target/linux/lantiq/xrx200/base-files/etc/board.d/01_leds
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
  target/linux/lantiq/xrx200/base-files/etc/board.d/05_compat-version
  target/linux/lantiq/xrx200/base-files/lib/upgrade/platform.sh
Labels: target/lantiq, kernel

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
  target/linux/generic/pending-6.6/861-net-dsa-realtek-openwrt.patch
Labels: kernel

ramips: add TP-Link Archer C5 v4 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: add TP-Link EC220-G5 v2 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_ec220-g5-v2-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

linux-firmware: update to 20250808
  package/firmware/linux-firmware/Makefile
Labels: core packages

openssl: update to 3.5.2
  package/libs/openssl/Makefile
Labels: core packages

realtek: i2c: rtl9300: Fix out-of-bounds bug in rtl9300_i2c_smbus_xfer
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek

realtek: i2c: rtl9300: Fix multi-byte I2C write
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek
