Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

kernel: Fix boot of amrsr target in qemu
  target/linux/generic/pending-6.12/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
  target/linux/generic/pending-6.6/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
Labels: kernel

arm-trusted-firmware-mediatek: update to new release 20250711
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/arm-trusted-firmware-mediatek/patches/0004-mediatek-snfi-fix-return-code-when-reading.patch
Labels: target/mediatek, core packages

tools/7z: update to 25.00
  tools/7z/Makefile
  tools/7z/patches/7-zip-musl.patch
Labels: build/scripts/tools

bcm2712: add kmod-r8169 and kmod-usb-net-rtl8152
  target/linux/bcm27xx/image/Makefile
Labels: target/bcm27xx

CI: add runtime tests in qemu
  .github/workflows/test.yml
Labels: GitHub/CI

generic: dsa: Use str_enable_disable-like helpers
  target/linux/generic/backport-6.12/912-v6.14-dsa-Use-str_enable_disable-like-helpers.patch
  target/linux/generic/backport-6.6/912-v6.14-dsa-Use-str_enable_disable-like-helpers.patch
Labels: kernel

uboot-tools: update to v2025.07
  package/boot/uboot-tools/Makefile
  package/boot/uboot-tools/patches/003-tools-dumpimage-fix-tools-compile.patch
  package/boot/uboot-tools/patches/010-image-fit-sig-skip-in-tools-build-if-key-is-missing.patch
  package/boot/uboot-tools/patches/011-tools-fit_check_sign-make-key-optional.patch
  package/boot/uboot-tools/patches/012-tools-fit_check_sign-no-libcrypto.patch
  package/boot/uboot-tools/patches/013-tools-fit_check_sign-all-image-types.patch
  package/boot/uboot-tools/patches/014-tools-fit_check_sign-no-decompress.patch
Labels: core packages

kernel: bump 6.6 to 6.6.97
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.6/001-powerpc-kernel-Fix-pcc_save_regs-inclusion.patch
  target/linux/generic/backport-6.6/0080-v6.9-smp-Avoid-setup_max_cpus_namespace_collision_shadowing.patch
  target/linux/generic/backport-6.6/792-v6.16-igc-enable-HW-vlan-tag-insertion-stripping-by-defaul.patch
  target/linux/generic/backport-6.6/806-01-v6.10-xhci-pci-Use-PCI_VENDOR_ID_RENESAS.patch
  target/linux/generic/backport-6.6/806-03-v6.12-xhci-pci-Make-xhci-pci-renesas-a-proper-modular-driver.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/mediatek/patches-6.6/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.6/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/bcm53xx, target/mediatek, kernel

kernel: bump 6.6 to 6.6.96
  target/linux/airoha/patches-6.6/048-06-v6.15-net-dsa-mt7530-Enable-Rx-sptag-for-EN7581-SoC.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/650-Revert-ipv6-save-dontfrag-in-cork.patch
Labels: target/airoha, kernel

kernel: bump 6.12 to 6.12.36
  target/linux/bcm27xx/patches-6.12/950-0073-ASoC-Add-support-for-all-the-downstream-rpi-sound-ca.patch
  target/linux/generic/backport-6.12/780-01-v6.13-r8169-remove-original-workaround-for-RTL8125-broken-.patch
  target/linux/generic/backport-6.12/780-02-v6.13-r8169-enable-SG-TSO-on-selected-chip-versions-per-de.patch
  target/linux/generic/backport-6.12/780-03-v6.13-r8169-implement-additional-ethtool-stats-ops.patch
  target/linux/generic/backport-6.12/780-04-v6.13-r8169-don-t-take-RTNL-lock-in-rtl_task.patch
  target/linux/generic/backport-6.12/780-05-v6.13-replace-custom-flag-with-disable_work-et-al.patch
  target/linux/generic/backport-6.12/780-07-v6.13-r8169-remove-rtl_dash_loop_wait_high-low.patch
  target/linux/generic/backport-6.12/780-09-v6.13-r8169-add-support-for-RTL8125D.patch
  target/linux/generic/backport-6.12/781-01-v6.13-net-phy-realtek-read-duplex-and-gbit-master-from-PHY.patch
  target/linux/generic/backport-6.12/781-02-v6.13-net-phy-realtek-change-order-of-calls-in-C22-read_st.patch
  target/linux/generic/backport-6.12/781-03-v6.13-net-phy-realtek-clear-1000Base-T-link-partner-advert.patch
  target/linux/generic/backport-6.12/781-04-v6.13-net-phy-realtek-merge-the-drivers-for-internal-NBase.patch
  target/linux/generic/backport-6.12/781-05-v6.13-net-phy-realtek-add-RTL8125D-internal-PHY.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/imx/patches-6.12/506-6.16-PCI-imx6-Skip-link-up-workaround-for-newer-platforms.patch
  target/linux/imx/patches-6.12/506-pending-PCI-imx6-Remove-apps_reset-toggle-in-_core_reset-function.patch
  target/linux/starfive/patches-6.12/1011-net-stmmac-use-GFP_DMA32.patch
Labels: target/bcm27xx, target/imx, target/starfive, kernel

kernel: package modules for I2C HID devices
  package/kernel/linux/modules/i2c.mk
Labels: kernel, core packages

kernel: package hid-alps module
  package/kernel/linux/modules/input.mk
Labels: kernel, core packages

kernel: modules: input: add modules for PS/2 mouse support
  package/kernel/linux/modules/input.mk
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
Labels: kernel, core packages

x86: enable built-in driver for MMC/SDHCI
  target/linux/x86/config-6.12
Labels: target/x86, kernel

bcm27xx/rockchip: increase rootfs size to 448 MiB
  config/Config-images.in
Labels: none

libxml2: fix building with glibc and NLS
  package/libs/libxml2/Makefile
Labels: core packages

libxml2: updte to 2.14.4
  package/libs/libxml2/Makefile
Labels: core packages

wg620443: fix: checkpatch warnings
  target/linux/mediatek/dts/mt7986a-arcadyan-wg620443.dts
Labels: target/mediatek

wg620443: add support for Arcadyan WG620443
  package/base-files/files/lib/functions/system.sh
  target/linux/mediatek/dts/mt7986a-arcadyan-wg620443.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

wg620443: migrate ubootenv config into package, remove unnecessary led config
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-arcadyan-wg620443.dts
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
Labels: target/mediatek, core packages

wg620443: add missing interrupt controller to dts
  target/linux/mediatek/dts/mt7986a-arcadyan-wg620443.dts
Labels: target/mediatek

wg620443: remove unused phy
  target/linux/mediatek/dts/mt7986a-arcadyan-wg620443.dts
Labels: target/mediatek

mediatek: add Huasifei WH3000 Pro support
  target/linux/mediatek/dts/mt7981b-huasifei-wh3000-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ramips: ethernet: ralink: add disable-mac-learn
  target/linux/ramips/files/drivers/net/ethernet/ralink/mt7530.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix offload with incompatible dsa tag
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix MT7620A_GDMA regs
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.h
Labels: target/ramips, kernel

kernel: modules: netdevices: improve Realtek DSA driver (WIP)
  target/linux/generic/backport-6.12/912-v6.14-dsa-Use-str_enable_disable-like-helpers.patch
  target/linux/generic/backport-6.6/911-v6.13-2-net-dsa-realtek-Use-for_each_child_of_node_scoped.patch
  target/linux/generic/backport-6.6/911-v6.13-3-net-dsa-realtek-rtl8365mb-Make-use-of-irq_get_trigge.patch
  target/linux/generic/backport-6.6/911-v6.13-4-net-dsa-realtek-rtl8366rb-Make-use-of-irq_get_trigge.patch
  target/linux/generic/backport-6.6/912-v6.14-dsa-Use-str_enable_disable-like-helpers.patch
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
  target/linux/generic/pending-6.6/861-net-dsa-realtek-openwrt.patch
Labels: kernel

generic: Alvin WIP
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
  target/linux/generic/pending-6.6/861-net-dsa-realtek-openwrt.patch
Labels: kernel

ramips: convert TP-Link Archer C5 v4 (rtl8367s) to DSA (WIP)
  README.md
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: ethernet: ralink: mt7620 enable jumbo frames
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.h
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/soc_mt7620.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: mtu change while interface is down
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

mediatek: allow mounting ubifs by its device and partition name
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
Labels: target/mediatek

mediatek: filogic: add support for TP-Link Festa FR365
  target/linux/mediatek/dts/mt7981b-tplink-fr365v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mediatek: filogic: add support for WAVLINK WL-WN586X3 Rev B
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn586x3b.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

uboot-envtools: add support for Gateworks venice
  package/boot/uboot-tools/uboot-envtools/files/imx_cortexa53
Labels: core packages

generic: dsa: backport upstream realtek patches
  target/linux/generic/backport-6.6/911-v6.13-2-net-dsa-realtek-Use-for_each_child_of_node_scoped.patch
  target/linux/generic/backport-6.6/911-v6.13-3-net-dsa-realtek-rtl8365mb-Make-use-of-irq_get_trigge.patch
  target/linux/generic/backport-6.6/911-v6.13-4-net-dsa-realtek-rtl8366rb-Make-use-of-irq_get_trigge.patch
Labels: kernel

apm821xx: rename kernel config/patches to 6.12
  target/linux/apm821xx/config-6.12
  target/linux/apm821xx/patches-6.12/201-add-amcc-apollo3g-support.patch
  target/linux/apm821xx/patches-6.12/300-fix-atheros-nics-on-apm82181.patch
  target/linux/apm821xx/patches-6.12/301-fix-memory-map-wndr4700.patch
  target/linux/apm821xx/patches-6.12/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
Labels: target/apm821xx, kernel

apm821xx: restore 6.6 kernel config/patches
  target/linux/apm821xx/config-6.6
  target/linux/apm821xx/patches-6.6/201-add-amcc-apollo3g-support.patch
  target/linux/apm821xx/patches-6.6/300-fix-atheros-nics-on-apm82181.patch
  target/linux/apm821xx/patches-6.6/301-fix-memory-map-wndr4700.patch
  target/linux/apm821xx/patches-6.6/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
Labels: target/apm821xx, kernel

apm821xx: refresh 6.12 patches
  target/linux/apm821xx/patches-6.12/300-fix-atheros-nics-on-apm82181.patch
  target/linux/apm821xx/patches-6.12/301-fix-memory-map-wndr4700.patch
  target/linux/apm821xx/patches-6.12/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
Labels: target/apm821xx

apm821xx: enable kernel 6.12
  target/linux/apm821xx/Makefile
Labels: target/apm821xx
