Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

airoha: replace PCIe patch with upstream version
  target/linux/airoha/dts/an7581.dtsi
  target/linux/airoha/patches-6.6/042-01-v6.14-PCI-mediatek-gen3-Rely-on-clk_bulk_prepare_enable-in.patch
  target/linux/airoha/patches-6.6/042-02-v6.14-PCI-mediatek-gen3-Move-reset-assert-callbacks-in-.po.patch
  target/linux/airoha/patches-6.6/042-03-v6.14-PCI-mediatek-gen3-Add-comment-about-initialization-o.patch
  target/linux/airoha/patches-6.6/042-04-v6.14-PCI-mediatek-gen3-Move-reset-delay-in-mtk_pcie_en758.patch
  target/linux/airoha/patches-6.6/042-05-v6.14-PCI-mediatek-gen3-Rely-on-msleep-in-mtk_pcie_en7581_.patch
  target/linux/airoha/patches-6.6/042-06-v6.14-PCI-mediatek-gen3-Avoid-PCIe-resetting-via-PERST-for.patch
  target/linux/airoha/patches-6.6/043-v6.15-PCI-mediatek-gen3-Remove-leftover-mac_reset-assert-f.patch
  target/linux/airoha/patches-6.6/044-v6.15-PCI-mediatek-gen3-Configure-PBUS_CSR-registers-for-E.patch
  target/linux/airoha/patches-6.6/407-PCI-mediatek-gen3-Configure-PBUS_CSR-registers-for-E.patch
  target/linux/airoha/patches-6.6/408-PCI-mediatek-gen3-Remove-mac_reset-assert-leftover-f.patch
Labels: target/airoha

airoha: backport minor fixes for ethernet driver
  target/linux/airoha/patches-6.6/045-v6.14-net-airoha-Fix-wrong-GDM4-register-definition.patch
  target/linux/airoha/patches-6.6/046-v6.15-net-airoha-Fix-TSO-support-for-header-cloned-skbs.patch
  target/linux/airoha/patches-6.6/047-v6.13-net-airoha-Reset-BQL-stopping-the-netdevice.patch
Labels: target/airoha

airoha: backport upstream patch for Flow Offload support for AN7581
  target/linux/airoha/an7581/config-6.6
  target/linux/airoha/patches-6.6/045-v6.14-net-airoha-Fix-wrong-GDM4-register-definition.patch
  target/linux/airoha/patches-6.6/046-v6.15-net-airoha-Fix-TSO-support-for-header-cloned-skbs.patch
  target/linux/airoha/patches-6.6/047-v6.13-net-airoha-Reset-BQL-stopping-the-netdevice.patch
  target/linux/airoha/patches-6.6/048-01-v6.15-net-airoha-Move-airoha_eth-driver-in-a-dedicated-fol.patch
  target/linux/airoha/patches-6.6/048-02-v6.15-net-airoha-Move-definitions-in-airoha_eth.h.patch
  target/linux/airoha/patches-6.6/048-03-v6.15-net-airoha-Move-reg-write-utility-routines-in-airoha.patch
  target/linux/airoha/patches-6.6/048-04-v6.15-net-airoha-Move-register-definitions-in-airoha_regs..patch
  target/linux/airoha/patches-6.6/048-05-v6.15-net-airoha-Move-DSA-tag-in-DMA-descriptor.patch
  target/linux/airoha/patches-6.6/048-06-v6.15-net-dsa-mt7530-Enable-Rx-sptag-for-EN7581-SoC.patch
  target/linux/airoha/patches-6.6/048-07-v6.15-net-airoha-Enable-support-for-multiple-net_devices.patch
  target/linux/airoha/patches-6.6/048-08-v6.15-net-airoha-Move-REG_GDM_FWD_CFG-initialization-in-ai.patch
  target/linux/airoha/patches-6.6/048-09-v6.15-net-airoha-Rename-airoha_set_gdm_port_fwd_cfg-in-air.patch
  target/linux/airoha/patches-6.6/048-12-v6.15-net-airoha-Introduce-Airoha-NPU-support.patch
  target/linux/airoha/patches-6.6/048-13-v6.15-net-airoha-Introduce-flowtable-offload-support.patch
  target/linux/airoha/patches-6.6/048-14-v6.15-net-airoha-Add-loopback-support-for-GDM2.patch
  target/linux/airoha/patches-6.6/048-15-v6.15-net-airoha-Introduce-PPE-debugfs-support.patch
  target/linux/airoha/patches-6.6/113-net-airoha-Fix-channel-configuration-for-ETS-Qdisc.patch
Labels: target/airoha, kernel

generic: backport support for Aeonsemi AS21xxx PHY
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.12/782-01-v6.16-net-phy-pass-PHY-driver-to-.match_phy_device-OP.patch
  target/linux/generic/backport-6.12/782-04-v6.16-net-phy-introduce-genphy_match_phy_device.patch
  target/linux/generic/backport-6.12/782-05-v6.16-net-phy-Add-support-for-Aeonsemi-AS21xxx-PHYs.patch
  target/linux/generic/backport-6.6/782-01-v6.16-net-phy-pass-PHY-driver-to-.match_phy_device-OP.patch
  target/linux/generic/backport-6.6/782-04-v6.16-net-phy-introduce-genphy_match_phy_device.patch
  target/linux/generic/backport-6.6/782-05-v6.16-net-phy-Add-support-for-Aeonsemi-AS21xxx-PHYs.patch
  target/linux/generic/backport-6.6/798-v6.10-01-net-phy-air_en8811h-Add-the-Airoha-EN8811H-PHY-drive.patch
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
Labels: kernel, core packages

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.12/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.12/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.12/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.12/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
  target/linux/generic/pending-6.6/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.6/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.6/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.6/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.6/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
Labels: kernel

mac80211: remove rt2x00_platform_data
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/rt2x00/601-rt2x00-introduce-rt2x00_platform_h.patch
  package/kernel/mac80211/patches/rt2x00/602-01-wifi-rt2x00-Add-support-for-loading-EEPROM-from-user.patch
  package/kernel/mac80211/patches/rt2x00/602-02-wifi-rt2x00-Add-option-to-pass-EEPROM-file-name-from.patch
  package/kernel/mac80211/patches/rt2x00/602-03-wifi-rt2x00-Add-support-for-loading-EEPROM-from-MTD.patch
  package/kernel/mac80211/patches/rt2x00/602-04-wifi-rt2x00-Support-EEPROM-swap-binding.patch
  package/kernel/mac80211/patches/rt2x00/602-05-wifi-rt2x00-support-loading-eeprom-from-NVMEM-cells.patch
  package/kernel/mac80211/patches/rt2x00/603-wifi-rt2x00-Add-support-for-loading-EEPROM-from-devicetree-embedded-data.patch
  package/kernel/mac80211/patches/rt2x00/606-rt2x00-allow_disabling_bands_through_platform_data.patch
  package/kernel/mac80211/patches/rt2x00/607-rt2x00-add_platform_data_mac_addr.patch
  package/kernel/mac80211/patches/rt2x00/608-rt2x00-allow_disabling_bands_through_dts.patch
  package/kernel/mac80211/patches/rt2x00/611-rt2x00-add-AP+STA-support.patch
  package/kernel/mac80211/patches/rt2x00/994-rt2x00-import-support-for-external-LNA-on-MT7620.patch
  target/linux/generic/files/include/linux/rt2x00_platform.h
Labels: kernel, core packages

x86: 64: add additional SAS / HBA card support
  target/linux/x86/64/config-6.12
Labels: target/x86, kernel

zram-swap: allow setting algorithm parameters
  package/system/zram-swap/Makefile
  package/system/zram-swap/files/zram.init
Labels: core packages

tools: lzop: add patch bumping minimum CMake version to 3.5
  tools/lzop/patches/002-bump-minimum-cmake-version.patch
Labels: build/scripts/tools

tools: firmware-utils: update to Git HEAD (2025-08-03)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

Huasifei WH3000 Pro wifi fix
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

realtek: phy: late phy package patching
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

realtek: simplify RTL8214FC handling
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: phy: drop use of mdio package functions
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: phy: add RTL8214x/RTL8218x patch helper
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

sunxi: add F1C100 (arm926ej-s) support
  package/boot/uboot-sunxi/Makefile
  package/boot/uboot-sunxi/patches/260-sunxi-add-USB-support-and-PopStick-support.patch
  package/boot/uboot-sunxi/patches/261-sunxi-add-popstick-defconfig.patch
  target/linux/sunxi/Makefile
  target/linux/sunxi/arm926ejs/config-6.12
  target/linux/sunxi/arm926ejs/target.mk
  target/linux/sunxi/config-6.12
  target/linux/sunxi/cortexa7/config-6.12
  target/linux/sunxi/cortexa8/config-6.12
  target/linux/sunxi/image/arm926ejs.mk
  target/linux/sunxi/patches-6.12/460-f1c100s-sram-driver.patch
  target/linux/sunxi/patches-6.12/461-f1c100s-watchdog-compat.patch
Labels: target/sunxi, kernel, core packages

realtek: rtl931x: Fix unsafe MAC_L2_GLOBAL_CTRL2 access
  target/linux/realtek/dts/rtl931x.dtsi
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

tools: cmake: update to 4.0.3
  tools/cmake/Makefile
  tools/cmake/patches/100-no-testing.patch
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/160-disable_xcode_generator.patch
Labels: build/scripts/tools

tools: liblzo: add patch bumping minimum CMake version to 3.5
  tools/liblzo/patches/002-bump-minimum-cmake-version.patch
Labels: build/scripts/tools

ath79: remove 6.6 kernel patches and configs
  target/linux/ath79/config-6.6
  target/linux/ath79/patches-6.6/001-v6.11-gpio-ath79-convert-to-dynamic-GPIO-base-allocation.patch
  target/linux/ath79/patches-6.6/100-reset-ath79-read-back-reset-register.patch
  target/linux/ath79/patches-6.6/101-reset-ath79-reset-ETH-switch-for-AR9344.patch
  target/linux/ath79/patches-6.6/300-irqchip-irq-ath79-intc-add-irq-cascade-driver-for-QC.patch
  target/linux/ath79/patches-6.6/301-irqchip-irq-ath79-cpu-drop-OF-init-helper.patch
  target/linux/ath79/patches-6.6/310-dt-bindings-PCI-qcom-ar7100-adds-binding-doc.patch
  target/linux/ath79/patches-6.6/311-MIPS-pci-ar71xx-convert-to-OF.patch
  target/linux/ath79/patches-6.6/312-dt-bindings-PCI-qcom-ar7240-adds-binding-doc.patch
  target/linux/ath79/patches-6.6/313-MIPS-pci-ar724x-convert-to-OF.patch
  target/linux/ath79/patches-6.6/314-MIPS-ath79-remove-irq-code-from-pci.patch
  target/linux/ath79/patches-6.6/315-MIPS-pci-ar724x-add-QCA9550-reset-sequence.patch
  target/linux/ath79/patches-6.6/316-MIPS-ath79-swizzle-pci-address-for-ar71xx.patch
  target/linux/ath79/patches-6.6/317-MIPS-pci-ar724x-clear-power-down-of-pll-on-AR934x.patch
  target/linux/ath79/patches-6.6/318-MIPS-pci-ar724x-deassert-the-reset-of-PCIe-endpoint.patch
  target/linux/ath79/patches-6.6/330-missing-registers.patch
  target/linux/ath79/patches-6.6/331-MIPS-ath79-add-missing-QCA955x-GMAC-registers.patch
  target/linux/ath79/patches-6.6/332-ath79-sgmii-config.patch
  target/linux/ath79/patches-6.6/340-register_gpio_driver_earlier.patch
  target/linux/ath79/patches-6.6/341-wifi-ath9k-obtain-system-gpios.patch
  target/linux/ath79/patches-6.6/350-MIPS-ath79-ath9k-exports.patch
  target/linux/ath79/patches-6.6/351-MIPS-ath79-common-exports.patch
  target/linux/ath79/patches-6.6/360-MIPS-ath79-export-UART1-reference-clock.patch
  target/linux/ath79/patches-6.6/370-MIPS-ath79-sanitize-symbols.patch
  target/linux/ath79/patches-6.6/400-mtd-nor-support-mtd-name-from-device-tree.patch
  target/linux/ath79/patches-6.6/410-mtd-cybertan-trx-parser.patch
  target/linux/ath79/patches-6.6/430-mtd-ar934x-nand-driver.patch
  target/linux/ath79/patches-6.6/700-phy-add-ath79-usb-phys.patch
  target/linux/ath79/patches-6.6/701-usb-add-more-OF-quirk-properties.patch
  target/linux/ath79/patches-6.6/710-net-use-downstream-ag71xx.patch
  target/linux/ath79/patches-6.6/720-mdio_bitbang_ignore_ta_value.patch
  target/linux/ath79/patches-6.6/721-phy-mdio-bitbang-prevent-rescheduling-during-command.patch
  target/linux/ath79/patches-6.6/730-ar8216-make-reg-access-atomic.patch
  target/linux/ath79/patches-6.6/800-leds-add-reset-controller-based-driver.patch
  target/linux/ath79/patches-6.6/810-ath79-ignore-the-abused-interrupt-map-on-pcie-node.patch
  target/linux/ath79/patches-6.6/820-mfd-syscon-support-skip-reset-control-for-syscon-devices.patch
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/ath79/patches-6.6/910-mikrotik-rb4xx.patch
  target/linux/ath79/patches-6.6/911-mikrotik-rb91x.patch
Labels: target/ath79, kernel

ath79: switch default kernel to 6.12
  target/linux/ath79/Makefile
Labels: target/ath79

tools/squashfs4: update to 4.7.2
  tools/squashfs4/Makefile
  tools/squashfs4/patches/001-thread-add-the-missing-pthread.h-header.patch
  tools/squashfs4/patches/002-print_pager-add-missing-includes.patch
Labels: build/scripts/tools

toolchain: gcc: update GCC13 to 13.4
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-13.x/010-documentation.patch
  toolchain/gcc/patches-13.x/230-musl_libssp.patch
  toolchain/gcc/patches-13.x/300-mips_Os_cpu_rtx_cost_model.patch
  toolchain/gcc/patches-13.x/920-specs_nonfatal_getenv.patch
Labels: toolchain

CI: DROP ME!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  toolchain/gcc/Config.version
Labels: toolchain

prereq-build: add clang support
  include/prereq-build.mk
Labels: build/scripts/tools

lantiq: more conversions to nvmem
  target/linux/lantiq/ase/base-files/etc/board.d/02_network
  target/linux/lantiq/config-6.12
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/amazonse_allnet_all0333cj.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_bt_homehub-v3a.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_netgear_dgn3500.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_alphanetworks_asl56026.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vg3503j.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_buffalo_wbmr-300hpd.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_lantiq_easy80920-nand.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_lantiq_easy80920-nor.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_lantiq_easy80920.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_netgear_dm200.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-f1.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-f3.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-fx.dtsi
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
  target/linux/lantiq/xrx200_legacy/base-files/etc/board.d/02_network
  target/linux/lantiq/xway/base-files/etc/board.d/02_network
  target/linux/lantiq/xway/base-files/etc/hotplug.d/firmware/12-ath9k-eeprom
Labels: target/lantiq, kernel

kirkwood: allow overriding mac address with nvmem
  target/linux/kirkwood/patches-6.6/300-nvmem.patch
Labels: target/kirkwood

kirkwood: use nvmem for mac
  target/linux/kirkwood/base-files/etc/board.d/02_network
  target/linux/kirkwood/base-files/lib/preinit/07_set_iface_mac
  target/linux/kirkwood/files/arch/arm/boot/dts/marvell/kirkwood-nas1.dts
Labels: target/kirkwood, kernel

qualcommax: ipq60xx: add JDCloud RE-CS-02 support
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-re-cs-02.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-re-cs.dtsi
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

qualcommax: ipq60xx: add JDCloud RE-CS-07 support
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-re-cs-07.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel

mediatek: add support for Mercusys MR85X
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-mercusys-mr85x.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
Labels: kernel

kernel: modules: netdevices: Add SGMII and HSGMII support for rtl8365mb
  target/linux/generic/pending-6.12/862-net-dsa-realtek-add-sgmii-amd-hsgmii-support-for-rtl8365mb.patch
Labels: kernel

mediatek: ethernet: fix offload with incompatible dsa tag
  target/linux/mediatek/patches-6.12/739-net-fix-mediatek-offload-with-incompatible-dsa-tag.patch
Labels: target/mediatek

realtek: RTL930x led_set count error message tidy up + dev_ print fixups
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: RTL930x/RTL931x led_set defines
  target/linux/realtek/dts/macros.dtsi
Labels: target/realtek

airoha: drop unsupported fit image option with-initrd
  target/linux/airoha/image/Makefile
Labels: target/airoha

ramips: drop unsupported fit image option with-initrd
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

CI: packages: exclude the paths of uboot-envtools scripts
  .github/workflows/packages.yml
Labels: GitHub/CI

CI: kernel: remove non-existent paths
  .github/workflows/kernel.yml
Labels: GitHub/CI
