Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

arm-trusted-firmware-mediatek: add FudanMicro manufacturer
  package/boot/arm-trusted-firmware-mediatek/patches/0004-mediatek-snfi-add-FudanMicro-manufacturer.patch
Labels: target/mediatek, core packages

uboot-mediatek: CMCC RAX3000M: add Airoha AN8855 switch support
  package/boot/uboot-mediatek/patches/437-add-cmcc_rax3000m.patch
Labels: target/mediatek, core packages

uboot-mediatek: CMCC RAX3000M: add ddr3 build
  package/boot/uboot-mediatek/Makefile
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

uboot-mediatek: add support for FudanMicro FM25S01A
  package/boot/uboot-mediatek/patches/110-mtd-spi-nand-add-support-for-FudanMicro-FM25S01A.patch
Labels: target/mediatek, core packages

kernel/qoriq: Create kernel files for v6.12 (from v6.6)
  target/linux/qoriq/config-6.12
Labels: target/qoriq, kernel

kernel/qoriq: Restore kernel files for v6.6
  target/linux/qoriq/config-6.6
Labels: target/qoriq, kernel

qoriq: enable 6.12 testing kernel
  target/linux/qoriq/Makefile
Labels: target/qoriq

qoriq: refresh 6.12 kernel config files
  target/linux/qoriq/config-6.12
Labels: target/qoriq, kernel

kernel: add support for FudanMicro FM25S01A
  target/linux/generic/pending-6.12/489-mtd-spinand-add-FudanMicro-FM25S01A.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/mediatek, kernel

mediatek: CMCC RAX3000M: add RAX3000Me as alt model
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

rpcd: update to openwrt-24.10 HEAD
  package/system/rpcd/Makefile
  package/system/rpcd/patches/100-ucode-adjust-for-new-ext-resource-type.patch
Labels: core packages

realtek: RTL838x: remove artifical mdio delays
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

kernel: Add new platform EcoNet MIPS
  target/linux/econet/Makefile
  target/linux/econet/dts/en751221.dtsi
  target/linux/econet/en751221/config-6.12
  target/linux/econet/en751221/profiles/00-default.mk
  target/linux/econet/en751221/target.mk
  target/linux/econet/files/drivers/mtd/nand/en75_bmt.c
  target/linux/econet/image/Makefile
  target/linux/econet/patches-6.12/001-v6.16-dt-bindings-interrupt-controller-Add-EcoNet-EN751221.patch
  target/linux/econet/patches-6.12/002-v6.16-irqchip-Add-EcoNet-EN751221-INTC.patch
  target/linux/econet/patches-6.12/003-v6.16-dt-bindings-vendor-prefixes-Add-EcoNet.patch
  target/linux/econet/patches-6.12/004-v6.16-dt-bindings-timer-Add-EcoNet-EN751221-HPT-CPU-Timer.patch
  target/linux/econet/patches-6.12/005-v6.16-clocksource-drivers-Add-EcoNet-Timer-HPT-driver.patch
  target/linux/econet/patches-6.12/006-v6.16-dt-bindings-mips-Add-EcoNet-platform-binding.patch
  target/linux/econet/patches-6.12/007-v6.16-mips-Add-EcoNet-MIPS-platform-support.patch
  target/linux/econet/patches-6.12/008-v6.16-dt-bindings-vendor-prefixes-Add-SmartFiber.patch
  target/linux/econet/patches-6.12/009-v6.16-mips-dts-Add-EcoNet-DTS-with-EN751221-and-SmartFiber.patch
  target/linux/econet/patches-6.12/010-v6.16-MAINTAINERS-Add-entry-for-newly-added-EcoNet-platfor.patch
  target/linux/econet/patches-6.12/011-v6.16-mips-econet-Fix-incorrect-Kconfig-dependencies.patch
  target/linux/econet/patches-6.12/300-spi-Add-support-for-the-Airoha-EN7523-SoC-SPI-contro.patch
  target/linux/econet/patches-6.12/301-spi-Airoha-adapt-to-support-en75-mips.patch
  target/linux/econet/patches-6.12/901-nand-enable-en75-bbt.patch
  target/linux/econet/patches-6.12/902-snand-mtk-bmt-support.patch
Labels: kernel

econet: Add new target SmartFiber XP8421-B
  target/linux/econet/base-files/sbin/en75_chboot
  target/linux/econet/dts/en751221_smartfiber_xp8421-b.dts
  target/linux/econet/image/Makefile
  target/linux/econet/image/tclinux-trx.sh
Labels: none

rockchip: refresh and reorder patches
  target/linux/rockchip/patches-6.12/001-01-v6.13-arm64-dts-rockchip-Add-FriendlyARM-NanoPi-R3S-board.patch
  target/linux/rockchip/patches-6.12/001-02-v6.13-arm64-dts-rockchip-fix-model-name-for-FriendlyElec-NanoPi.patch
  target/linux/rockchip/patches-6.12/001-03-v1.13-arm64-dts-rockchip-replace-deprecated-snps-reset-props-fo.patch
  target/linux/rockchip/patches-6.12/001-04-v6.13-arm64-dts-rockchip-sort-props-in-pmu_io_domains-node-for.patch
  target/linux/rockchip/patches-6.12/001-05-v6.13-arm64-dts-rockchip-enable-eMMC-HS200-mode-for-NanoPi-R3S.patch
  target/linux/rockchip/patches-6.12/001-06-v6.13-arm64-dts-rockchip-reorder-mmc-aliases-for-NanoPi-R3S.patch
  target/linux/rockchip/patches-6.12/002-01-v6.15-arm64-dts-rockchip-rk356x-Add-MSI-controller-node.patch
  target/linux/rockchip/patches-6.12/002-02-v6.15-arm64-dts-rockchip-rk356x-Move-PCIe-MSI-to-use-GIC.patch
  target/linux/rockchip/patches-6.12/002-03-v6.16-arm64-dts-rockchip-Move-rk3568-PCIe3-MSI-to-use-GIC-.patch
  target/linux/rockchip/patches-6.12/003-v6.13-arm64-dts-rockchip-enable-USB3-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.12/004-01-v6.15-arm64-dts-rockchip-Add-rng-node-to-RK3588.patch
  target/linux/rockchip/patches-6.12/004-02-v6.15-arm64-dts-rockchip-change-rng-reset-id-back-to-its-c.patch
  target/linux/rockchip/patches-6.12/020-01-v6.13-irqchip-gic-v3-its-Share-ITS-tables-with-a-non-trust.patch
  target/linux/rockchip/patches-6.12/020-02-v6.13-irqchip-gic-v3-its-Fix-over-allocation-in-itt_alloc.patch
  target/linux/rockchip/patches-6.12/020-03-v6.15-irqchip-gic-v3-Add-Rockchip-3568002-erratum-workaround.patch
  target/linux/rockchip/patches-6.12/021-01-v6.15-dt-bindings-reset-Add-SCMI-reset-IDs-for-RK3588.patch
  target/linux/rockchip/patches-6.12/021-02-v6.15-dt-bindings-rng-add-binding-for-Rockchip-RK3588-RNG.patch
  target/linux/rockchip/patches-6.12/021-03-v6.15-dt-bindings-rng-rockchip-rk3588-rng-Drop-unnecessary.patch
  target/linux/rockchip/patches-6.12/021-04-v6.15-hwrng-rockchip-store-dev-pointer-in-driver-struct.patch
  target/linux/rockchip/patches-6.12/021-05-v6.15-hwrng-rockchip-eliminate-some-unnecessary-dereferenc.patch
  target/linux/rockchip/patches-6.12/021-06-v6.15-hwrng-rockchip-add-support-for-rk3588-s-standalone-T.patch
  target/linux/rockchip/patches-6.12/121-arm64-dts-rockchip-lower-mmc-speed-for-nanopc-t6.patch
  target/linux/rockchip/patches-6.12/127-arm64-dts-rockchip-rk3566-Nanopi-R3S-update-LED.patch
  target/linux/rockchip/patches-6.12/128-rock-4c-plus-add-led-aliases-and-stop-heartbeat.patch
  target/linux/rockchip/patches-6.12/129-rock-4se-add-led-aliases-and-stop-heartbeat.patch
  target/linux/rockchip/patches-6.12/131-arm64-dts-rockchip-rk3588-fix-A3A444-nanopc-t6.patch
Labels: target/rockchip

rockchip: backport GATE_LINK support for RK3588
  target/linux/rockchip/patches-6.12/022-01-v6.14-clk-rockchip-support-clocks-registered-late.patch
  target/linux/rockchip/patches-6.12/022-02-v6.14-clk-rockchip-rk3588-register-GATE_LINK-later.patch
  target/linux/rockchip/patches-6.12/022-03-v6.14-clk-rockchip-expose-rockchip_clk_set_lookup.patch
  target/linux/rockchip/patches-6.12/022-04-v6.14-clk-rockchip-implement-linked-gate-clock-support.patch
  target/linux/rockchip/patches-6.12/022-05-v6.14-clk-rockchip-rk3588-drop-RK3588_LINKED_CLK.patch
  target/linux/rockchip/patches-6.12/022-06-v6.14-clk-rockchip-rk3588-make-refclko25m_ethX-critical.patch
  target/linux/rockchip/patches-6.12/022-07-v6.15-clk-rockchip-rk3568-mark-hclk_vi-as-critical.patch
  target/linux/rockchip/patches-6.12/022-08-v6.16-clk-rockchip-rk3588-Add-PLL-rate-for-1500-MHz.patch
  target/linux/rockchip/patches-6.12/022-09-v6.16-clk-rockchip-Drop-empty-init-callback-for-rk3588-PLL-type.patch
Labels: target/rockchip

econet: Add new target TP-Link Archer VR1200v (v2)
  target/linux/econet/dts/en751221_tplink_archer-vr1200v-v2.dts
  target/linux/econet/image/Makefile
Labels: none

bcm53xx: add device tree for ASUS RT-AC5300
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx

package/nvram: add ASUS RT-AC3200 defaults and firstboot init
  package/utils/nvram/Makefile
  package/utils/nvram/files/04-nvram-firstboot
  package/utils/nvram/files/nvram-bcm53xx.init
Labels: core packages

bcm53xx: add device tree for ASUS RT-AC3200
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
Labels: target/bcm53xx

bcm53xx: refine device packages for ASUS RT-AC3200/RT-AC5300
  package/utils/nvram/files/04-nvram-firstboot
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages

arm-trusted-firmware-mediatek: add support for FMSH SPI-NAND
  package/boot/arm-trusted-firmware-mediatek/patches/0010-add-support-for-fmsh-spi-nand.patch
Labels: target/mediatek, core packages

uboot-mediatek: add support for FM25S01A SPI-NAND
  package/boot/uboot-mediatek/patches/100-20-mtd-spi-nand-add-support-for-FudanMicro-chips.patch
Labels: target/mediatek, core packages

kernel: add support for FM25S01A SPI-NAND
  target/linux/airoha/patches-6.6/901-snand-mtk-bmt-support.patch
  target/linux/generic/backport-6.12/401-v6.17-mtd-spinand-add-support-for-FudanMicro-FM25S01A.patch
  target/linux/generic/backport-6.6/419-v6.17-mtd-spinand-add-support-for-FudanMicro-FM25S01A.patch
  target/linux/generic/pending-6.12/487-mtd-spinand-Add-support-for-Etron-EM73D044VCx.patch
  target/linux/generic/pending-6.6/487-mtd-spinand-Add-support-for-Etron-EM73D044VCx.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/airoha, target/mediatek, kernel

mediatek: add CMCC RAX3000Me support
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/447-add-cmcc_rax3000me.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m-emmc.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m-nand.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000me-nousb.dtso
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000me.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

doc: linting of readme
  README.md
Labels: none

bridger: update to Git HEAD (2025-09-01)
  package/network/services/bridger/Makefile
Labels: core packages

kernel: Fix kernel regression in local-broadcast routes
  target/linux/generic/backport-6.12/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
Labels: kernel

rpcd: update to git openwrt-24.10 branch HEAD
  package/system/rpcd/Makefile
  package/system/rpcd/patches/100-ucode-adjust-for-new-ext-resource-type.patch
Labels: core packages

rockchip: fix eMMC corruption on NanoPC-T6 with A3A444 chips
  target/linux/rockchip/patches-6.6/121-arm64-dts-rockchip-lower-mmc-speed-for-nanopc-t6.patch
Labels: target/rockchip

wifi-scripts: ucode: print unknown ssid as unknown
  package/network/config/wifi-scripts/files-ucode/usr/bin/iwinfo
Labels: core packages

wifi-scripts: ucode: fix dynamic_vlan value handling
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-iface.json
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
Labels: core packages

realtek: convert access to RTL931x "digital 2" serdes pages
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: convert access to RTL931x "digital 1" serdes pages
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: adapt RTl931x "digital 2" serdes page calculation
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: convert access to RTL931x "even CMU" serdes pages
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

apm821xx: rename pciex to pcie
  target/linux/apm821xx/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
  target/linux/apm821xx/dts/apm82181.dtsi
Labels: target/apm821xx

apm821xx: fix pcie node numbers
  target/linux/apm821xx/dts/meraki-mr24.dts
  target/linux/apm821xx/dts/meraki-mx60.dts
  target/linux/apm821xx/dts/netgear-wndap620.dts
  target/linux/apm821xx/dts/netgear-wndap660.dts
  target/linux/apm821xx/dts/netgear-wndr4700.dts
Labels: target/apm821xx

mediatek: filogic: Totolink X6000R fixed lan ports & leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

mediatek: filogic: Totolink X6000R fixed lan ports & leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
