Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

mpc85xx: tl-wdr4900: add back 5ghz LED
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
Labels: target/mpc85xx, kernel

wifi-scripts: ucode: get the phy capabilities for the correct band
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/hostapd.uc
Labels: core packages

build: allow to skip stricter hash validation
  include/download.mk
Labels: build/scripts/tools

realtek: backport upstream RTL9300 I2C driver
  target/linux/realtek/patches-6.12/003-v6.13-01-dt-bindings-i2c-Add-Realtek-RTL-I2C-Controller.patch
  target/linux/realtek/patches-6.12/003-v6.13-02-i2c-Add-driver-for-the-RTL9300-I2C-controller.patch
  target/linux/realtek/patches-6.12/004-v6.16-dt-bindings-i2c-realtek-rtl9301-Fix-missing-reg-cons.patch
  target/linux/realtek/patches-6.12/100-01-i2c-rtl9300-Fix-out-of-bounds-bug-in-rtl9300_i2c_smb.patch
  target/linux/realtek/patches-6.12/100-02-i2c-rtl9300-Fix-multi-byte-I2C-write.patch
  target/linux/realtek/patches-6.12/100-03-i2c-rtl9300-Increase-timeout-for-transfer-polling.patch
  target/linux/realtek/patches-6.12/100-04-i2c-rtl9300-Add-missing-count-byte-for-SMBus-Block-O.patch
  target/linux/realtek/patches-6.12/100-05-i2c-rtl9300-Implement-I2C-block-read-and-write.patch
  target/linux/realtek/patches-6.12/101-01-i2c-rtl9300-use-regmap-fields-and-API-for-registe.patch
  target/linux/realtek/patches-6.12/101-02-i2c-rtl9300-fix-channel-number-bound-check.patch
  target/linux/realtek/patches-6.12/101-03-dt-bindings-i2c-realtek-rtl9301-i2c-fix-wording-a.patch
  target/linux/realtek/patches-6.12/101-04-i2c-rtl9300-rename-internal-sda_pin-to-sda_num.patch
  target/linux/realtek/patches-6.12/101-05-i2c-rtl9300-check-if-xfer-length-is-valid.patch
  target/linux/realtek/patches-6.12/101-06-i2c-rtl9300-remove-SMBus-Quick-operation-support.patch
  target/linux/realtek/patches-6.12/101-07-i2c-rtl9300-move-setting-SCL-frequency-to-config_.patch
  target/linux/realtek/patches-6.12/101-08-i2c-rtl9300-do-not-set-read-mode-on-every-transfe.patch
  target/linux/realtek/patches-6.12/101-09-i2c-rtl9300-separate-xfer-configuration-and-execu.patch
  target/linux/realtek/patches-6.12/101-10-dt-bindings-i2c-realtek-rtl9301-i2c-extend-for-RT.patch
  target/linux/realtek/patches-6.12/101-11-i2c-rtl9300-add-support-for-RTL9310-I2C-controlle.patch
Labels: target/realtek

realtek: drop downstream rtl93xx i2c driver
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.h
  target/linux/realtek/files-6.12/drivers/i2c/muxes/i2c-mux-rtl9300.c
  target/linux/realtek/patches-6.12/310-add-i2c-rtl9300-support.patch
  target/linux/realtek/patches-6.12/311-add-i2c-mux-rtl9300-support.patch
Labels: target/realtek

realtek: adapt devices to backported i2c driver
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12.dts
  target/linux/realtek/dts/rtl9302_zyxel_xgs1250-12.dts
  target/linux/realtek/dts/rtl9303_tplink_tl-st1008f_v2.dts
  target/linux/realtek/dts/rtl9303_vimin_vm-s100-0800ms.dts
  target/linux/realtek/dts/rtl9303_xikestor_sks8300-8x.dts
  target/linux/realtek/dts/rtl930x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

at91: enable testing kernel 6.12
  target/linux/at91/Makefile
Labels: target/at91

at91: Create kernel files for v6.12 (from v6.6)
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sam9x
  target/linux/at91/sam9x/config-6.12
Labels: target/at91, kernel

at91: add missing KConfig for sam9x sama5
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

at91: Restore kernel files for v6.6
  target/linux/at91/sam9x/config-6.6
  target/linux/at91/sama5/config-6.6
  target/linux/at91/sama7/config-6.6
Labels: target/at91, kernel

at91: refresh kernel-config sama7
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sama5
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

fman-ucode: Bump to lf-6.12.20-2.0.0
  package/firmware/layerscape/fman-ucode/Makefile
Labels: target/layerscape, core packages

ls-ddr-phy: bump to lf-6.12.20-2.0.0
  package/firmware/layerscape/ls-ddr-phy/Makefile
Labels: target/layerscape, core packages

ls-rcw: Bump to lf-6.12.20-2.0.0
  package/firmware/layerscape/ls-rcw/Makefile
Labels: target/layerscape, core packages

ppfe-firmware: Bump to lf-6.12.20-2.0.0
  package/firmware/layerscape/ppfe-firmware/Makefile
Labels: target/layerscape, core packages

uboot-layerscape: bump to lf-6.12.20-2.0.0
  package/boot/uboot-layerscape/Makefile
  package/boot/uboot-layerscape/patches/0900-layerscape-adjust-LS1021A-IOT-config-for-OpenWrt.patch
Labels: target/layerscape, core packages

mediatek: add support for ipTIME AX7800M-6E
  target/linux/mediatek/dts/mt7986a-iptime-ax7800m-6e.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel/layerscape: Create kernel files for v6.12 (from v6.6)
  target/linux/layerscape/armv7/config-6.12
  target/linux/layerscape/armv8_64b/config-6.12
  target/linux/layerscape/patches-6.12/302-arm64-dts-ls1012a-update-with-ppfe-support.patch
  target/linux/layerscape/patches-6.12/303-arm64-dts-ls1012a-frdm-workaround-by-updating-qspi-f.patch
  target/linux/layerscape/patches-6.12/304-arm64-dts-ls1012a-rdb-workaround-by-updating-qspi-fl.patch
  target/linux/layerscape/patches-6.12/305-arm64-dts-ls1046a-rdb-Update-qspi-spi-rx-bus-width-t.patch
  target/linux/layerscape/patches-6.12/400-LF-20-3-mtd-spi-nor-Use-1-bit-mode-of-spansion-s25fs.patch
  target/linux/layerscape/patches-6.12/701-staging-add-fsl_ppfe-driver.patch
  target/linux/layerscape/patches-6.12/702-phy-Add-2.5G-SGMII-interface-mode.patch
  target/linux/layerscape/patches-6.12/703-layerscape-6.1-fix-compilation-warning-for-fsl-ppfe-.patch
Labels: target/layerscape, kernel

layerscape: kernel: 6.12: refresh patches
  target/linux/layerscape/patches-6.12/400-LF-20-3-mtd-spi-nor-Use-1-bit-mode-of-spansion-s25fs.patch
  target/linux/layerscape/patches-6.12/701-staging-add-fsl_ppfe-driver.patch
  target/linux/layerscape/patches-6.12/702-phy-Add-2.5G-SGMII-interface-mode.patch
  target/linux/layerscape/patches-6.12/703-layerscape-6.12-fix-compilation-warning-for-fsl-ppfe-.patch
Labels: target/layerscape

kernel/layerscape: Restore kernel files for v6.6
  target/linux/layerscape/armv7/config-6.6
  target/linux/layerscape/armv8_64b/config-6.6
  target/linux/layerscape/patches-6.6/302-arm64-dts-ls1012a-update-with-ppfe-support.patch
  target/linux/layerscape/patches-6.6/303-arm64-dts-ls1012a-frdm-workaround-by-updating-qspi-f.patch
  target/linux/layerscape/patches-6.6/304-arm64-dts-ls1012a-rdb-workaround-by-updating-qspi-fl.patch
  target/linux/layerscape/patches-6.6/305-arm64-dts-ls1046a-rdb-Update-qspi-spi-rx-bus-width-t.patch
  target/linux/layerscape/patches-6.6/400-LF-20-3-mtd-spi-nor-Use-1-bit-mode-of-spansion-s25fs.patch
  target/linux/layerscape/patches-6.6/701-staging-add-fsl_ppfe-driver.patch
  target/linux/layerscape/patches-6.6/702-phy-Add-2.5G-SGMII-interface-mode.patch
  target/linux/layerscape/patches-6.6/703-layerscape-6.1-fix-compilation-warning-for-fsl-ppfe-.patch
Labels: target/layerscape, kernel

tfa-layerscape: Bump to lf-6.12.20-2.0.0
  package/boot/tfa-layerscape/Makefile
  package/boot/tfa-layerscape/patches/001-fiptool-hostbuild-fixes.patch
  package/boot/tfa-layerscape/patches/003-plat-nxp-tools-fix-create_pbl-and-byte_swap-host-bui.patch
Labels: target/layerscape, core packages

layerscape: 6.12: refresh kernel config
  target/linux/layerscape/armv7/config-6.12
  target/linux/layerscape/armv8_64b/config-6.12
Labels: target/layerscape, kernel

layerscape: add 6.12 testing kernel
  target/linux/layerscape/Makefile
Labels: target/layerscape

mt76: update to Git HEAD (2025-08-13)
  package/kernel/mt76/Makefile
Labels: core packages

mt76: update to Git HEAD (2025-08-13)
  package/kernel/mt76/Makefile
  package/kernel/mt76/patches/100-api_compat.patch
  package/kernel/mt76/patches/200-wifi_mt76_mt7915_mcu_increase_eeprom_command_timeout.patch
  package/kernel/mt76/patches/201-wifi_mt76_mt7915_mcu_lower_default_timeout.patch
  package/kernel/mt76/patches/202-wifi_mt76_mt7915_mcu_re-init_MCU_before_loading_FW.patch
Labels: core packages

x86: enable recent MITIGATION options
  target/linux/x86/64/config-6.12
  target/linux/x86/config-6.12
Labels: target/x86, kernel

ramips: fix WAN port assignment for Cudy R700
  target/linux/ramips/dts/mt7621_cudy_r700.dts
Labels: target/ramips

uboot-mediatek: CMCC RAX3000: add Airoha AN8855 switch support
  package/boot/uboot-mediatek/patches/437-add-cmcc_rax3000m.patch
Labels: target/mediatek, core packages

uboot-mediatek: CMCC RAX3000: add ddr3 build
  package/boot/uboot-mediatek/Makefile
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

arm-trusted-firmware-mediatek: add FudanMicro manufacturer
  package/boot/arm-trusted-firmware-mediatek/patches/0004-mediatek-snfi-add-FudanMicro-manufacturer.patch
Labels: target/mediatek, core packages

lantiq-gphy-firmware: add firmware for xrx300 and xrx330
  package/firmware/lantiq/lantiq-gphy-firmware/Makefile
  package/firmware/lantiq/lantiq-gphy-firmware/files/ltq_fw_PHY11G_IP_1v5_xRx3xx_A21_R8434.bin
  package/firmware/lantiq/lantiq-gphy-firmware/files/ltq_fw_PHY22F_IP_1v5_xRx3xx_A21_RC434.bin
Labels: target/lantiq, core packages

lantiq: xrx200 set soc version
  target/linux/lantiq/image/Makefile
  target/linux/lantiq/image/tp-link.mk
  target/linux/lantiq/image/vr9.mk
Labels: target/lantiq

lantiq: add support for D-Link DWR-966
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/xrx330.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/xrx330_dlink_dwr-966.dts
  target/linux/lantiq/image/Makefile
  target/linux/lantiq/image/xrx330.mk
  target/linux/lantiq/xrx200/base-files/etc/board.d/01_leds
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
  target/linux/lantiq/xrx200/base-files/etc/board.d/05_compat-version
  target/linux/lantiq/xrx200/base-files/lib/upgrade/platform.sh
Labels: target/lantiq, kernel

ath79: iodata: set ath9k LED pin
  target/linux/ath79/dts/ar1022_iodata_wn-ag300dgr.dts
  target/linux/ath79/dts/qca9557_iodata_wn-ac-dgr.dtsi
Labels: target/ath79

ath79: enable CONFIG_NVMEM_LAYOUT_ASCII_ENV
  target/linux/ath79/config-6.12
  target/linux/ath79/config-6.6
Labels: target/ath79, kernel

ath79: iodata: extract calibration with nvmem
  target/linux/ath79/dts/ar1022_iodata_wn-ag300dgr.dts
  target/linux/ath79/dts/qca9557_iodata_wn-ac-dgr.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: wd,mynet-nxxx: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: wd,mynet-nxxx: use ascii nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79
