Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

kernel: r8168: add missing flags
  package/kernel/r8168/Makefile
Labels: core packages

ramips: switched TP-Link RE305 v1 to new partition layout
  target/linux/ramips/dts/mt7628an_tplink_re305-v1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/05_compat-version
Labels: target/ramips

realtek: RTL93xx: ECC engine driver
  target/linux/realtek/files-6.12/Documentation/devicetree/bindings/mtd/realtek,nand-ecc-engine.yaml
  target/linux/realtek/files-6.12/drivers/mtd/nand/ecc-realtek.c
  target/linux/realtek/patches-6.12/808-add-realtek-ecc.patch
  target/linux/realtek/rtl838x/config-6.12
  target/linux/realtek/rtl839x/config-6.12
  target/linux/realtek/rtl930x/config-6.12
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
Labels: target/realtek, kernel

Add files via upload
  01_leds
  04_led_migration
  mt7621.mk
  mt7621_dlink_dir-2660-a2.dts
  platform.sh
Labels: none

mediatek: filogic: Totolink X6000R fixed lan ports & leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
Labels: target/mediatek

mediatek: filogic: add Teltonika RUTC50 support
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

Fix mac address, leds, wifi
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

fixed wan port
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
Labels: target/mediatek

fixed wan port
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
Labels: target/mediatek

Revert "Fix mac address, leds, wifi"
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

fix mac address & leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ramips: mt7621: set mac address in dts for DBDC
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/dts/mt7621_dlink_dap-x1860-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-853-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dxx-1xx0-x1.dtsi
  target/linux/ramips/dts/mt7621_glinet_gl-mt1300.dts
  target/linux/ramips/dts/mt7621_keenetic_kn-1910.dts
  target/linux/ramips/dts/mt7621_mercusys_mr70x-v1.dts
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me2-sfp.dts
  target/linux/ramips/dts/mt7621_totolink_x5000r.dts
  target/linux/ramips/dts/mt7621_tplink_archer-ax23-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap613-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap615-wall-v1.dts
  target/linux/ramips/dts/mt7621_tplink_ex220-v1.dts
  target/linux/ramips/dts/mt7621_z-router_zr-2660.dts
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

ramips: e390ax: remove redundant 02_network MACs
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

mediatek: filogic: use NVMEM for EEPROM/precal on NWA50AX Pro
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
Labels: target/mediatek

mediatek: filogic: use NVMEM for wifi macaddr on NWA50AX Pro
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

mediatek: filogic: Zyxel EX5601-T0 dts cleanup
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-stock.dts
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-ubootmod.dts
Labels: target/mediatek

mediatek: filogic: fix fip partition size for Zyxel EX5601-T0
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-ubootmod.dts
Labels: target/mediatek

mediatek: filogic: fix 5G MAC address for Zyxel EX5601
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

mediatek: filogic: Add label wan and cpu for Zyxel EX5601-T0
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

mediatek: Add support for Acer Predator Connect W6x
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mediatek: Add support for Acer Predator Connect W6x Ubootmod
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-acer_predator-w6x.patch
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-stock.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

uboot-mediatek: add Zyxel WX5600-T0 with uboot custom partition This access point is a ‘friend’ of the T56 supplied by Odido but with DDR3 RAM and with two Ethernet 2.5 (GPY211)
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/461-add-zyzel-wx5600-t0.patch
Labels: target/mediatek, core packages

mediatek: filogic: add support for NRadio C8-668GL
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-nradio-c8-668gl.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

realtek: add support for XikeStor SKS8300-8T
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/dts/rtl9303_xikestor_sks8300-8t.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

bcm27xx: Add padding after writing rootfs to image.
  target/linux/bcm27xx/image/gen_rpi_sdcard_img.sh
Labels: target/bcm27xx

package/system/ca-certificates: add certificate minification option
  package/system/ca-certificates/Makefile
  package/system/ca-certificates/files/minifycert.py
Labels: core packages

kernel: r8168: add missing flags
  package/kernel/r8168/Makefile
Labels: core packages

kernel: r8168: add missing flags
  package/kernel/r8168/Makefile
Labels: core packages

ramips: add support for Zbtlink ZBT-WG108
  target/linux/ramips/dts/mt7621_zbtlink_zbt-wg108.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

mediatek: add Zyxel WX5600-T0 with uboot custom partition This access point is a ‘friend’ of the T56 supplied by Odido but with DDR3 RAM and with two Ethernet 2.5 (GPY211)
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7986b-zyxel-wx5600-t0-ubootmod.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

mt76: backport mt7981 pre-calibration fix
  package/kernel/mt76/patches/200-mt7915_fix_precal_mt7981.patch
Labels: core packages

ramips: add support for D-Link DIR-2660 A2
  target/linux/ramips/dts/mt7621_dlink_dir-2660-a2.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/uci-defaults/04_led_migration
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

rkbin: bump to latest git HEAD
  package/boot/rkbin/Makefile
  package/boot/uboot-rockchip/Makefile
Labels: target/rockchip, core packages

rkbin: rename tpl-only target
  package/boot/rkbin/Makefile
  package/boot/uboot-rockchip/Makefile
Labels: target/rockchip, core packages

kernel: bump 6.12 to 6.12.46
  target/linux/bcm27xx/patches-6.12/950-0347-net-macb-Also-set-DMA-coherent-mask.patch
  target/linux/bcm27xx/patches-6.12/950-0565-net-macb-Add-support-for-Raspberry-Pi-RP1-ethernet-c.patch
  target/linux/generic/backport-6.12/600-01-v6.14-net-dsa-add-hook-to-determine-whether-EEE-is-support.patch
  target/linux/generic/backport-6.12/600-02-v6.14-net-dsa-provide-implementation-of-.support_eee.patch
  target/linux/generic/backport-6.12/610-02-v6.14-net-dsa-b53-bcm_sf2-implement-.support_eee-method.patch
  target/linux/generic/backport-6.12/610-03-v6.15-net-dsa-b53-mdio-add-support-for-BCM53101.patch
  target/linux/generic/backport-6.12/610-04-v6.16-net-dsa-b53-implement-setting-ageing-time.patch
  target/linux/generic/backport-6.12/610-05-v6.16-net-dsa-b53-do-not-enable-EEE-on-bcm63xx.patch
  target/linux/generic/backport-6.12/621-proc-fix-missing-pde_set_flags.patch
  target/linux/generic/backport-6.12/630-v6.17-bpf-Allow-fall-back-to-interpreter-for-programs-with.patch
  target/linux/generic/backport-6.12/721-01-v6.15-net-ethernet-mediatek-add-EEE-support.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/454-block-add-support-for-notifications.patch
  target/linux/generic/pending-6.12/655-increase_skb_pad.patch
  target/linux/generic/pending-6.12/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.12/732-01-net-ethernet-mtk_eth_soc-work-around-issue-with-send.patch
  target/linux/generic/pending-6.12/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.12/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.12/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/qualcommax/patches-6.12/0812-soc-qcom-mdt_loader-support-MPD.patch
Labels: target/bcm27xx, target/ipq40xx, target/qualcommax, kernel

x86: config: add CONFIG_MITIGATION_VMSCAPE=y
  target/linux/x86/config-6.12
Labels: target/x86, kernel

kernel: bump 6.12 to 6.12.47
  target/linux/generic/kernel-6.12
Labels: kernel

libxml2: correct PKG_LICENSE_FILES
  package/libs/libxml2/Makefile
Labels: core packages

openssl: correct PKG_LICENSE_FILES
  package/libs/openssl/Makefile
Labels: core packages

uboot-rockchip: add Fastrhino R66S support
  package/boot/uboot-rockchip/Makefile
  package/boot/uboot-rockchip/patches/100-board-rockchip-add-Lunzn-FastRhino-R66S.patch
  package/boot/uboot-rockchip/patches/111-rockchip-rk3588-generic-Enable-support-for-RK3582.patch
Labels: target/rockchip, core packages
