Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

at91: enable testing kernel 6.12
  target/linux/at91/Makefile
Labels: target/at91

at91: Restore kernel files for v6.6
  target/linux/at91/sam9x/config-6.6
  target/linux/at91/sama5/config-6.6
  target/linux/at91/sama7/config-6.6
Labels: target/at91, kernel

at91: refresh kernel-config sama5
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sama7
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

at91: add missing KConfig for sam9x sama5
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sam9x
  target/linux/at91/sam9x/config-6.12
Labels: target/at91, kernel

at91: Create kernel files for v6.12 (from v6.6)
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

tools: automake: update to 1.18.1
  tools/automake/Makefile
Labels: build/scripts/tools

image: also show GRUB options for EROFS
  config/Config-images.in
Labels: none

selinux-policy: update version to v2.8.2
  package/system/selinux-policy/Makefile
Labels: core packages

busybox: fix login applet on selinux
  package/utils/busybox/patches/600-loginutils-login.c-libselinux-get_default_context-ex.patch
Labels: core packages

ramips: mt76x8: add support for Wodesys WD-R1208U
  target/linux/ramips/dts/mt7628an_wodesys_wd-r1208u.dts
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips

libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages

mpc85xx: HPE MSM460 add HPE MSM430 alias
  target/linux/mpc85xx/image/p1020.mk
Labels: target/mpc85xx

kernel: kmod-drm-imx-hdmi: Fix kmod-drm-display-helper dependency
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

gemini: Remove kmod-md-multipath dependency
  target/linux/gemini/image/Makefile
Labels: target/gemini

kernel: kmod-crypto-lib-aescfb: Remove package
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

mpc85xx: HPE MSM460 add HPE MSM430 alias
  target/linux/mpc85xx/image/p1020.mk
Labels: target/mpc85xx

Update ramips
  package/boot/uboot-tools/uboot-envtools/files/ramips
Labels: core packages

Create mt7621_mercury_km08-708h.dts
  target/linux/ramips/dts/mt7621_mercury_km08-708h.dts
Labels: target/ramips

Update 01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
Labels: target/ramips

Update 02_network
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

Update 10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

Update mt7621.mk
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

Update platform.sh
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

realtek: mdio: rtl93xx: point phy read/writes to SerDes fiber page
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: fix ethtool stats for RTL839x and RTL930x
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: use more specific APIs for ethtool stats where possible
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
Labels: target/realtek

realtek: implement polling for hardware counters
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
Labels: target/realtek

realtek: implement get_stats64
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
Labels: target/realtek

mediatek: add factory image for ipTIME AX3000SM
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mbedtls: Expose MBEDTLS_KEY_EXCHANGE_ECJPAKE_ENABLED config option
  package/libs/mbedtls/Config.in
  package/libs/mbedtls/Makefile
Labels: core packages

tools: fakeroot: update to 1.37.1.2
  tools/fakeroot/Makefile
Labels: build/scripts/tools

base-files: find_mmc_part: Silence error when no MMC exists
  package/base-files/files/lib/functions.sh
Labels: core packages

tools: bash: update to 5.3
  tools/bash/Makefile
Labels: build/scripts/tools

tools: bash: update to 5.3
  tools/bash/Makefile
Labels: build/scripts/tools

apm821xx: fix sata config
  target/linux/apm821xx/sata/config-default
Labels: target/apm821xx, kernel

apm821xx: run through kernel_oldconfig
  target/linux/apm821xx/config-6.12
Labels: target/apm821xx, kernel

apm821xx: sata: refresh config
  target/linux/apm821xx/sata/config-default
Labels: target/apm821xx, kernel

kernel: mtdsplit_h3c_vfs: return 0 for non-fatal errors
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_h3c_vfs.c
Labels: kernel

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
