Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

CI: packages: exclude the paths of ATF and u-boot packages
  .github/workflows/packages.yml
Labels: GitHub/CI

CI: packages: exclude the paths of base-files scripts
  .github/workflows/packages.yml
Labels: GitHub/CI

kernel: bump 6.6 to 6.6.102
  target/linux/generic/backport-6.6/413-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.6/413-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.6/413-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.6/413-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.6/414-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/backport-6.6/624-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.6/770-v6.7-net-introduce-napi_is_scheduled-helper.patch
  target/linux/generic/hack-6.6/259-regmap_dynamic.patch
  target/linux/generic/hack-6.6/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.6/904-debloat_dma_buf.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/650-net-pppoe-implement-GRO-support.patch
  target/linux/generic/pending-6.6/655-increase_skb_pad.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: kernel

generic: backport some flow offload helper patch
  target/linux/generic/backport-6.6/703-v6.10-flow_offload-add-control-flag-checking-helpers.patch
  target/linux/generic/backport-6.6/704-v6.12-ipv6-Add-ipv6_addr_-cpu_to_be32-be32_to_cpu-helpers.patch
Labels: kernel

realtek: rtl93xx: Trap LLDP management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: rtl930x: Add support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl931x: Register support for trapping management frames
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

qualcommax: ipq807x: add support for Zyxel NWA210AX
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  package/utils/zyxel-bootconfig-ipq807x/Makefile
  package/utils/zyxel-bootconfig-ipq807x/files/95_apply_bootconfig
  package/utils/zyxel-bootconfig-ipq807x/files/zyxel-bootconfig-ipq807x
  scripts/mkits-zyxel-fit-ipq807x.sh
  target/linux/qualcommax/config-6.12
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-nwa210ax.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages, build/scripts/tools

ramips: add support for Hongdian H7920 v40
  target/linux/ramips/dts/mt7628an_hongdian_h7920-v40.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/etc/board.d/03_gpio_switches
Labels: target/ramips

mediatek: filogic: D-Link M30/M60: include initramfs in recovery
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mediatek: add support for OpenFi 6C
  target/linux/mediatek/dts/mt7981b-openfi-6c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ipq40xx: dts: reduce the maximum SPI clock frequency to 24MHz
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-cap-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ens620ext.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ex61x0v2.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-hap-ac2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-nbg6617.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-rt-ac58u.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-sxtsq-5-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wac510.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-ac.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3.dts
Labels: target/ipq40xx

include: make APK .list files reproducible
  include/package-pack.mk
Labels: build/scripts/tools

include: make APK .list files reproducible
  include/package-pack.mk
Labels: build/scripts/tools

include: always set macro-prefix-map for reproducibility
  rules.mk
Labels: none

realtek: rt-loader: memory library enhancements
  target/linux/realtek/image/rt-loader/include/memory.h
  target/linux/realtek/image/rt-loader/src/memory.c
Labels: target/realtek

uboot-layerscape: do not build efimkcapsule tool
  package/boot/uboot-layerscape/Makefile
Labels: target/layerscape, core packages

realtek: rt-loader: add ROM uImage lookup (aka standalone)
  target/linux/realtek/image/rt-loader/Makefile
  target/linux/realtek/image/rt-loader/include/globals.h
  target/linux/realtek/image/rt-loader/src/main.c
  target/linux/realtek/image/rt-loader/src/startup.S
Labels: target/realtek

toolchain/binutils: export ZSTD_CFLAGS/LIBS to fix non-Linux build
  toolchain/binutils/Makefile
Labels: toolchain

mediatek: Add support for DLink M32 with merged kernel1 and kernel2 partitions for more storage Signed-off-by: Dan T. <daniyo27@gmail.com>
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-m32-a1-large.dts
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
Labels: target/mediatek

imagebuilder: limit IB build to only selected profiles
  include/image.mk
  target/imagebuilder/Config.in
Labels: target/imagebuilder, build/scripts/tools

omap: refresh kernel 6.12 patches
  target/linux/omap/patches-6.12/900-use-cpsw-ethernet-driver.patch
Labels: target/omap

kernel/omap: Restore kernel files for v6.6
  target/linux/omap/config-6.6
  target/linux/omap/patches-6.6/900-use-cpsw-ethernet-driver.patch
Labels: target/omap, kernel

kernel/omap: Create kernel files for v6.12 (from v6.6)
  target/linux/omap/config-6.12
  target/linux/omap/patches-6.12/900-use-cpsw-ethernet-driver.patch
Labels: target/omap, kernel

omap: update kernel 6.12 config
  target/linux/omap/config-6.12
Labels: target/omap, kernel

omap: update kernel 6.6 config
  target/linux/omap/config-6.6
Labels: target/omap, kernel

generic: 6.12: add new config symbols
  target/linux/generic/config-6.12
Labels: kernel

omap: enable 6.12 testing kernel
  target/linux/omap/Makefile
Labels: target/omap

mediatek: filogic: add support for Zbtlink ZBT-Z8802BE
  target/linux/mediatek/dts/mt7988d-zbtlink-zbt-z8802be.dts
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ipq40xx: do not build EnGenius EAP1300 and ENS620EXT by default
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

ramips: fix TP-Link mr600 radio partition offset
  target/linux/ramips/dts/mt7621_tplink_mr600-v2-eu.dts
Labels: target/ramips

dropbear: fix missing depends for sntrup761x25519-sha512
  package/network/services/dropbear/patches/052-fix-missing-depends-for-sntrup761x25519-sha512.patch
Labels: core packages

dropbear: disable login recording with musl libc
  package/network/services/dropbear/Config.in
  package/network/services/dropbear/Makefile
Labels: core packages

dropbear: don't limit channel window to 500MB
  package/network/services/dropbear/patches/053-Don-t-limit-channel-window-to-500MB.patch
Labels: core packages

realtek: add support for XikeStor SKS8310-8X
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/dts/rtl9303_xikestor_sks8310-8x.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

kernel: Remove patch for fixed bug
  target/linux/generic/pending-6.6/802-nvmem-u-boot-env-align-endianness-of-crc32-values.patch
Labels: kernel

Following the great work and help of @mrnuke
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq60xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-eap620hd-v2.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq60xx/base-files/lib/preinit/09_mount_factory_data
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax, kernel, core packages

mediatek: Add support for Acer Predator Connect W6x
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

realtek: rtl93xx: fix incorrect destination port selection
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

ath10k-ct-firmware: update to latest stable firmware 2021.11.08
  package/firmware/ath10k-ct-firmware/Makefile
Labels: core packages

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
