Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

image: only calculate EROFS_PCLUSTERSIZE when needed
  include/image.mk
Labels: build/scripts/tools

mac80211: fix rt2x00 build error on 6.12
  package/kernel/mac80211/patches/rt2x00/110-wifi-rt2x00-fix-remove-callback-type-mismatch.patch
Labels: core packages

odhcp6c: change dhcpv6.sh config option "ifaceid" to "ip6ifaceid"
  package/network/ipv6/odhcp6c/files/dhcpv6.sh
Labels: core packages

uboot-mediatek: backport mtk_eth fixes from u-boot next
  package/boot/uboot-mediatek/patches/060-01-clk-mediatek-mt7629-fix-parent-clock-of-some-top-clo.patch
  package/boot/uboot-mediatek/patches/060-02-arm-dts-mt7629-fix-sgmii-clock-selection-for-etherne.patch
  package/boot/uboot-mediatek/patches/060-03-net-mediatek-use-correct-register-field-for-SGMII-sp.patch
  package/boot/uboot-mediatek/patches/060-04-net-mediatek-correct-register-name-of-ethsys-syscfg1.patch
  package/boot/uboot-mediatek/patches/060-05-net-mediatek-fix-sgmii-selection-for-mt7622.patch
  package/boot/uboot-mediatek/patches/060-06-net-mediatek-fix-gmac2-usability-for-mt7629.patch
  package/boot/uboot-mediatek/patches/060-07-net-mediatek-add-support-for-10GBASE-R.patch
  package/boot/uboot-mediatek/patches/060-08-net-mediatek-make-sgmii-usxgmii-optional.patch
  package/boot/uboot-mediatek/patches/060-09-net-mediatek-don-t-enable-GDMA-cpu-bridge-unconditio.patch
  package/boot/uboot-mediatek/patches/060-10-net-mediatek-fix-usability-with-wget-command.patch
  package/boot/uboot-mediatek/patches/061-01-net-mediatek-split-ethernet-switch-code-from-mtk_eth.patch
  package/boot/uboot-mediatek/patches/061-02-net-mediatek-add-support-for-MediaTek-MT7987-SoC.patch
  package/boot/uboot-mediatek/patches/061-03-net-mediatek-add-support-for-Airoha-AN8855-ethernet-.patch
Labels: target/mediatek, core packages

uboot-mediatek: enable auto switch chip detect for Xiaomi AX3000T
  package/boot/uboot-mediatek/patches/440-add-xiaomi_mi-router-ax3000t.patch
Labels: target/mediatek, core packages

kernel: bump 6.6 to 6.6.95
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0092-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0518-net-macb-Also-set-DMA-coherent-mask.patch
  target/linux/bcm27xx/patches-6.6/950-0678-fbdev-Allow-client-to-request-a-particular-dev-fbN-n.patch
  target/linux/bcm27xx/patches-6.6/950-0980-drivers-mmc-add-SD-support-for-Command-Queueing.patch
  target/linux/bcm27xx/patches-6.6/950-0983-drivers-mmc-preallocate-a-block-for-SD-extension-reg.patch
  target/linux/bcm27xx/patches-6.6/950-0994-drivers-mmc-export-SD-extension-register-read-write-.patch
  target/linux/bcm27xx/patches-6.6/950-0995-drivers-mmc-be-more-cautious-when-manipulating-Comma.patch
  target/linux/bcm27xx/patches-6.6/950-0996-drivers-mmc-add-debugfs-entries-for-SD-extension-reg.patch
  target/linux/bcm27xx/patches-6.6/950-0997-drivers-mmc-handle-1024-byte-SD-General-Info-lengths.patch
  target/linux/bcm27xx/patches-6.6/950-1167-mmc-restrict-posted-write-counts-for-SD-cards-in-CQ-.patch
  target/linux/bcm27xx/patches-6.6/950-1168-fixup-mmc-restrict-posted-write-counts-for-SD-cards-.patch
  target/linux/bcm27xx/patches-6.6/950-1260-drivers-mmc-disable-write-caching-on-Samsung-2023-mo.patch
  target/linux/bcm27xx/patches-6.6/950-1333-mmc-quirks-disable-cache-on-more-known-bad-Sandisk-c.patch
  target/linux/bcm27xx/patches-6.6/950-1336-mmc-quirks-add-MMC_QUIRK_BROKEN_ERASE-for-Phison-Int.patch
  target/linux/bcm27xx/patches-6.6/950-1506-mmc-sd-filter-card-CQ-support-based-on-an-allow-list.patch
  target/linux/bcm27xx/patches-6.6/950-1507-mmc-set-MMC_QUIRK_KNOWN_WORKING_SD_CQ-on-Raspberry-P.patch
  target/linux/bcm27xx/patches-6.6/950-1508-mmc-use-downstream-DT-property-to-modify-CQE-and-or-.patch
  target/linux/gemini/patches-6.6/0005-net-ethernet-cortina-Use-TSO-also-on-common-TCP.patch
  target/linux/gemini/patches-6.6/0008-net-ethernet-cortina-Implement-.set_pauseparam.patch
  target/linux/generic/backport-6.6/602-v6.10-net-Use-backlog-NAPI-to-clean-up-the-defer_list.patch
  target/linux/generic/backport-6.6/700-v6.10-net-create-a-dummy-net_device-allocator.patch
  target/linux/generic/backport-6.6/850-v6.8-bus-mhi-host-Add-a-separate-timeout-parameter-for-wa.patch
  target/linux/generic/backport-6.6/853-v6.10-bus-mhi-host-Add-mhi_power_down_keep_dev-API-to-supp.patch
  target/linux/generic/hack-6.6/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/pending-6.6/532-jffs2_eofdetect.patch
  target/linux/mvebu/patches-6.6/0003-v6.16-pinctrl-armada-37xx-propagate-error-from-armada_37xx.patch
  target/linux/mvebu/patches-6.6/0004-v6.16-pinctrl-armada-37xx-propagate-error-from-armada_37xx.patch
  target/linux/mvebu/patches-6.6/0005-v6.16-pinctrl-armada-37xx-propagate-error-from-armada_37xx.patch
  target/linux/mvebu/patches-6.6/0006-v6.16-pinctrl-armada-37xx-propagate-error-from-armada_37xx.patch
  target/linux/mvebu/patches-6.6/0007-v6.16-pinctrl-armada-37xx-propagate-error-from-armada_37xx.patch
  target/linux/ramips/patches-6.6/810-uvc-add-iPassion-iP2970-support.patch
Labels: target/ath79, target/bcm27xx, target/gemini, target/mvebu, target/ramips, kernel, build/scripts/tools

mt76: fix system recovery routine for MT7915
  package/kernel/mt76/patches/200-wifi_mt76_mt7915_mcu_increase_eeprom_command_timeout.patch
  package/kernel/mt76/patches/201-wifi_mt76_mt7915_mcu_lower_default_timeout.patch
  package/kernel/mt76/patches/202-wifi_mt76_mt7915_mcu_re-init_MCU_before_loading_FW.patch
Labels: core packages

rockchip: backport PCIe MSI fixes for RK356x SoC
  target/linux/rockchip/armv8/config-6.6
  target/linux/rockchip/patches-6.6/020-v6.13-irqchip-gic-v3-its-Share-ITS-tables-with-a-non-trust.patch
  target/linux/rockchip/patches-6.6/021-v6.13-irqchip-gic-v3-its-Fix-over-allocation-in-itt_alloc.patch
  target/linux/rockchip/patches-6.6/022-v6.15-irqchip-gic-v3-Add-Rockchip-3568002-erratum-workaround.patch
  target/linux/rockchip/patches-6.6/023-01-v6.15-arm64-dts-rockchip-rk356x-Add-MSI-controller-node.patch
  target/linux/rockchip/patches-6.6/023-02-v6.15-arm64-dts-rockchip-rk356x-Move-PCIe-MSI-to-use-GIC.patch
  target/linux/rockchip/patches-6.6/024-v6.16-arm64-dts-rockchip-Move-rk3568-PCIe3-MSI-to-use-GIC-.patch
Labels: target/rockchip, kernel

rockchip: armv8: Refresh kernel config
  target/linux/rockchip/armv8/config-6.6
Labels: target/rockchip, kernel

rockchip: replace RK356x RNG patch with upstream
  target/linux/rockchip/patches-6.6/016-v6.12-hwrng-rockchip-add-hwrng-driver-for-Rockchip-RK3568-.patch
  target/linux/rockchip/patches-6.6/017-v6.12-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
  target/linux/rockchip/patches-6.6/018-v6.12-arm64-dts-rockchip-drop-obsolete-reset-names-from-rk.patch
  target/linux/rockchip/patches-6.6/019-v6.13-arm64-dts-rockchip-add-reset-names-for-combphy-on-rk.patch
Labels: target/rockchip

mediatek: add ubootmod layout for cudy tr3000 v1
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/445-add-cudy_tr3000-v1.patch
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1-ubootmod.dts
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1.dts
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

mediatek: spinand: force update_cache_variants to use reset for Foresee NAND
  target/linux/mediatek/patches-6.6/411-mtd-spinand-fix-support-for-FORESEE.patch
Labels: target/mediatek

hostapd: revert a broken upstream patch that was breaking multi-band operation
  package/network/services/hostapd/patches/030-Revert-nl80211-Accept-a-global-nl80211-event-to-a-br.patch
  package/network/services/hostapd/patches/350-nl80211_del_beacon_bss.patch
  package/network/services/hostapd/patches/370-preserve_radio_mask.patch
  package/network/services/hostapd/patches/463-add-mcast_rate-to-11s.patch
  package/network/services/hostapd/patches/601-ucode_support.patch
  package/network/services/hostapd/patches/740-snoop_iface.patch
  package/network/services/hostapd/patches/780-Implement-APuP-Access-Point-Micro-Peering.patch
Labels: core packages

ath9k: add back previous DT compatible strings for ahb
  package/kernel/mac80211/patches/ath9k/553-ath9k-ahb_of_compat.patch
Labels: core packages

ucode: fix an issue in exception handling improvement for ubus/uloop
  package/utils/ucode/patches/102-ubus-add-exception_handler_set-function.patch
Labels: core packages

uboot-mediatek: backport mtk_eth fixes from u-boot next
  package/boot/uboot-mediatek/patches/060-01-clk-mediatek-mt7629-fix-parent-clock-of-some-top-clo.patch
  package/boot/uboot-mediatek/patches/060-02-arm-dts-mt7629-fix-sgmii-clock-selection-for-etherne.patch
  package/boot/uboot-mediatek/patches/060-03-net-mediatek-use-correct-register-field-for-SGMII-sp.patch
  package/boot/uboot-mediatek/patches/060-04-net-mediatek-correct-register-name-of-ethsys-syscfg1.patch
  package/boot/uboot-mediatek/patches/060-05-net-mediatek-fix-sgmii-selection-for-mt7622.patch
  package/boot/uboot-mediatek/patches/060-06-net-mediatek-fix-gmac2-usability-for-mt7629.patch
  package/boot/uboot-mediatek/patches/060-07-net-mediatek-add-support-for-10GBASE-R.patch
  package/boot/uboot-mediatek/patches/060-08-net-mediatek-make-sgmii-usxgmii-optional.patch
  package/boot/uboot-mediatek/patches/060-09-net-mediatek-don-t-enable-GDMA-cpu-bridge-unconditio.patch
  package/boot/uboot-mediatek/patches/060-10-net-mediatek-fix-usability-with-wget-command.patch
  package/boot/uboot-mediatek/patches/061-01-net-mediatek-split-ethernet-switch-code-from-mtk_eth.patch
  package/boot/uboot-mediatek/patches/061-02-net-mediatek-add-support-for-MediaTek-MT7987-SoC.patch
  package/boot/uboot-mediatek/patches/061-03-net-mediatek-add-support-for-Airoha-AN8855-ethernet-.patch
Labels: target/mediatek, core packages

uboot-mediatek: enable auto switch chip detect for Xiaomi AX3000T
  package/boot/uboot-mediatek/patches/440-add-xiaomi_mi-router-ax3000t.patch
Labels: target/mediatek, core packages

uboot-mediatek: port patches for FORESEE NAND support
  package/boot/uboot-mediatek/patches/101-01-mtd-spinand-add-support-for-FORESEE-F35SQA002G.patch
  package/boot/uboot-mediatek/patches/101-02-mtd-spinand-add-support-for-FORESEE-F35SQA001G.patch
Labels: target/mediatek, core packages

uboot-mediatek: force update_cache_variants to use reset for Foresee NAND
  package/boot/uboot-mediatek/patches/101-03-mtd-spinand-fix-support-for-FORESEE.patch
Labels: target/mediatek, core packages

odhcp6c: add migration script for ifaceid -> ip6ifaceid change
  package/network/ipv6/odhcp6c/Makefile
  package/network/ipv6/odhcp6c/files/odhcp6c.defaults
Labels: core packages

readline: update to 8.3
  package/libs/readline/Makefile
  package/libs/readline/patches/010-ncursesw-first.patch
Labels: core packages

prepign for update
  SideBar/20June2025-Dffconfig.config
  SideBar/config.config.20June2025
  SideBar/config.diffconfig.20June2025
Labels: none

hostapd: enable CONFIG_OCV when 802.11be support is enabled
  package/network/services/hostapd/Makefile
Labels: core packages

kernel: backport GCC15 fix for powerpc
  target/linux/apm821xx/patches-6.6/900-powerpc-bootwrapper-force-gzip-as-mkimage-s-compress.patch
  target/linux/generic/backport-6.12/220-v6.16-powerpc-boot-fix-build-with-gcc-15.patch
  target/linux/generic/backport-6.6/220-v6.16-powerpc-boot-fix-build-with-gcc-15.patch
  target/linux/mpc85xx/patches-6.6/010-powerpc-add-compressed-zImage-for-mpc85xx.patch
  target/linux/mpc85xx/patches-6.6/100-powerpc-85xx-tl-wdr4900-v1-support.patch
  target/linux/mpc85xx/patches-6.6/101-powerpc-85xx-hiveap-330-support.patch
  target/linux/mpc85xx/patches-6.6/106-powerpc-85xx-ws-ap3710i-support.patch
  target/linux/mpc85xx/patches-6.6/107-powerpc-85xx-add-ws-ap3825i-support.patch
  target/linux/mpc85xx/patches-6.6/109-powerpc-85xx-add-ws-ap3715i-support.patch
  target/linux/mpc85xx/patches-6.6/110-powerpc-85xx-br200-wp-support.patch
  target/linux/mpc85xx/patches-6.6/900-powerpc-bootwrapper-disable-uImage-generation.patch
Labels: target/apm821xx, target/mpc85xx, kernel

mac80211: fix wmac node names
  package/kernel/mac80211/patches/ath9k/553-ath9k-ahb_of_compat.patch
  package/network/config/wifi-scripts/files-ucode/usr/share/wifi_devices.json
  target/linux/ath79/dts/ar9132.dtsi
  target/linux/ath79/dts/ar9330.dtsi
  target/linux/ath79/dts/ar934x.dtsi
  target/linux/ath79/dts/qca953x.dtsi
  target/linux/ath79/dts/qca955x.dtsi
  target/linux/ath79/dts/qca956x.dtsi
Labels: target/ath79, core packages

Fix led LAN/WAN
  target/linux/mediatek/patches-6.12/999-revert-configure-led-blink-interval-for-hw-offload.patch
Labels: target/mediatek

moved for kernel 6.12
  target/linux/rockchip/patches-6.12/005-linkstar-makefile-patch.patch
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
  target/linux/rockchip/patches-6.6/401-arm64-devtree-bindings-rockchip-amendYaml.patch
  target/linux/rockchip/patches-6.6/402-rockchip-add-otp-nvmem-support-rk3562-rk3568-part1.patch
  target/linux/rockchip/patches-6.6/403-rockchip-add-otp-nvmem-support-rk3562-rk3568-part2.patch
  target/linux/rockchip/patches-6.6/404-rockchip-add-otp-nvmem-support-rk3562-rk3568-part3.patch
Labels: target/rockchip

mt76: update to Git HEAD (2025-07-07)
  package/kernel/mt76/Makefile
  package/kernel/mt76/patches/001-wifi-mt76-convert-platform-driver-.remove-to-.remove.patch
  package/kernel/mt76/patches/002-wifi-mt76-replace-strlcpy-with-strscpy.patch
  package/kernel/mt76/patches/003-wifi-mt76-link_id.patch
Labels: core packages

ramips: use kernel 6.12 by default
  target/linux/ramips/Makefile
Labels: target/ramips

ramips: update drivers to be compatible with kernel 6.12 and above
  target/linux/ramips/files/drivers/net/ethernet/ralink/esw_rt3050.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

nftables: update to 1.1.3
  package/network/utils/nftables/Makefile
Labels: core packages

libnftnl: update to 1.2.9
  package/libs/libnftnl/Makefile
Labels: core packages

trying a variation
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-minimal.patch
Labels: target/rockchip

mac80211: remove kmod-ath dependency from ath11k
  package/kernel/mac80211/ath.mk
Labels: core packages

tools/mkimage: update to v2025.07
  tools/mkimage/Makefile
  tools/mkimage/patches/030-allow-to-use-different-magic.patch
  tools/mkimage/patches/095-tools-disable-TOOLS_FIT_FULL_CHECK.patch
Labels: build/scripts/tools

ath79: enable USB by default on hAP ac
  target/linux/ath79/dts/qca9558_mikrotik_routerboard-96x.dtsi
Labels: target/ath79

mold: Update to 2.40.1
  tools/mold/Makefile
Labels: build/scripts/tools

toolchain: gcc: 15: fix build error with glibc for aarch64 targets
  toolchain/gcc/patches-15.x/830-aarch64-libatomic.patch
  toolchain/gcc/patches-15.x/980-fix-build-error-with-Xcode-16.3.patch
Labels: toolchain

uboot-mediatek: fix mt7622 rfb1 build
  package/boot/uboot-mediatek/patches/408-arm-mediatek-add-back-mt7622-LK-image-header.patch
Labels: target/mediatek, core packages

uboot-mediatek: update to v2025.07
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/100-04-env-add-support-for-generic-MTD-device.patch
  package/boot/uboot-mediatek/patches/100-08-common-board_r-add-support-to-initialize-NMBM-after-.patch
  package/boot/uboot-mediatek/patches/100-09-cmd-add-nmbm-command.patch
  package/boot/uboot-mediatek/patches/100-11-env-add-support-for-NMBM-upper-MTD-layer.patch
  package/boot/uboot-mediatek/patches/100-13-cmd-add-a-new-command-for-NAND-flash-debugging.patch
  package/boot/uboot-mediatek/patches/100-14-mtd-spi-nor-add-support-to-read-flash-unique-ID.patch
  package/boot/uboot-mediatek/patches/100-15-cmd-sf-add-support-to-read-flash-unique-ID.patch
  package/boot/uboot-mediatek/patches/100-20-board-mt7981-add-reference-board-using-new-spi-nand-.patch
  package/boot/uboot-mediatek/patches/100-21-mtd-spi-nor-add-more-flash-ids.patch
  package/boot/uboot-mediatek/patches/100-23-mmc-mtk-sd-add-support-to-display-verbose-error-log.patch
  package/boot/uboot-mediatek/patches/100-26-env-ubi-add-support-to-create-environment-volume-if-.patch
  package/boot/uboot-mediatek/patches/101-03-mtd-spinand-fix-support-for-FORESEE.patch
  package/boot/uboot-mediatek/patches/130-fix-mkimage-host-build.patch
  package/boot/uboot-mediatek/patches/220-cmd-env-readmem.patch
  package/boot/uboot-mediatek/patches/250-fix-mmc-erase-timeout.patch
  package/boot/uboot-mediatek/patches/280-image-fdt-save-name-of-FIT-configuration-in-chosen-node.patch
  package/boot/uboot-mediatek/patches/301-mt7622-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/410-add-linksys-e8450.patch
  package/boot/uboot-mediatek/patches/412-add-ubnt-unifi-6-lr.patch
  package/boot/uboot-mediatek/patches/420-add-support-for-RAVPower-RP-WD009.patch
  package/boot/uboot-mediatek/patches/452-add-xiaomi-redmi-ax6s.patch
  package/boot/uboot-mediatek/patches/457-initialized-the-watchdog-subsystem-later.patch
Labels: target/mediatek, core packages
