Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

DTS: add CreatLentem CLT-R30B1 files
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-112m.dts
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-common.dtsi
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1.dts
Labels: target/mediatek

Add CreatLentem CLT-R30B1
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

platform.sh: add CreatLentem CLT-R30B1
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
Labels: target/mediatek

02_network: add CreatLentem CLT-R30B1
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

filogic.mk: update device variants
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: package hid-alps module
  package/kernel/linux/modules/input.mk
Labels: kernel, core packages

kernel: package modules for I2C HID devices
  package/kernel/linux/modules/i2c.mk
Labels: kernel, core packages

x86: modules: add packages for Intel LPSS drivers
  target/linux/x86/modules.mk
Labels: target/x86

dt cleanups
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

Writing a potential production .config
  SideBar/16July2025-DiffConfig-DevelBranch-normal.config
  SideBar/16July2025-FullConfig-DevelBranch-normal.config
Labels: none

moving notes subdir out of tree
  SideBar/13july2025Diff-with-audio-framebuff.config
  SideBar/13july2025Diff.config
  SideBar/13july2025Full-with-audioFrameBuff.config
  SideBar/13july2025Full.config
  SideBar/16July2025-DiffConfig-DevelBranch-normal.config
  SideBar/16July2025-FullConfig-DevelBranch-normal.config
  SideBar/ConfigArchive/10July2025-Diffconfig.config
  SideBar/ConfigArchive/10July2025-FullConfig.config
  SideBar/ConfigArchive/1June2025-1942-diffconfig.config
  SideBar/ConfigArchive/1June2025-1942-fullconfig.config
  SideBar/ConfigArchive/20June2025-Dffconfig.config
  SideBar/ConfigArchive/3June2025-DiffConfig.config
  SideBar/ConfigArchive/3June2025-fullConfig.config
  SideBar/ConfigArchive/7June-lastFullConfig.config
  SideBar/ConfigArchive/7June2025-diffconfig.config
  SideBar/ConfigArchive/7June2025-fullconfig.config
  SideBar/ConfigArchive/8July2025-DiffConfig-later.config
  SideBar/ConfigArchive/8July2025-DiffConfig-laterlater.config
  SideBar/ConfigArchive/8July2025-DiffConfig.config
  SideBar/ConfigArchive/8July2025-FullConfig-later.config
  SideBar/ConfigArchive/8July2025-FullConfig-laterlater.conf
  SideBar/ConfigArchive/8July2025-FullConfig.config
  SideBar/ConfigArchive/9July2025-Diffconfig.config
  SideBar/ConfigArchive/9July2025-FullConfig.config
  SideBar/ConfigArchive/config.config.20June2025
  SideBar/ConfigArchive/config.diffconfig.20June2025
  SideBar/UseNotes.md
  SideBar/note-pcie2.txt
  SideBar/note-tech-site.txt
  SideBar/otg-notes.txt
  SideBar/rockchip-bindings-note.txt
Labels: none

equalized uboot and kernel patch for dts
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
Labels: target/rockchip, core packages

removing self-comments for PR
  .github/LinkStar-H68k-1432v1-HRPLDI-v1.md
  .github/README.md
  .github/SerialConsole.md
  package/system/apk/files/customfeeds.list
Labels: core packages, GitHub/CI

matching std feeds list
  package/system/apk/files/customfeeds.list
Labels: core packages

fixed email address
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip, core packages

fixed editing error
  package/boot/uboot-rockchip/patches/098-arm-dts-upstream-rockchip-linkstar.patch
Labels: target/rockchip, core packages

reduced boot delay
  package/boot/uboot-rockchip/patches/222-add-support-Linkstar-defconfig.patch
Labels: target/rockchip, core packages

Adding signoff Signed-off-by: Erik Beck <xunil@tahomasoft.com>
  package/boot/uboot-rockchip/patches/222-add-support-Linkstar-defconfig.patch
Labels: target/rockchip, core packages

Change boot wait, add signoff
  package/boot/uboot-rockchip/patches/222-add-support-Linkstar-defconfig.patch
Labels: target/rockchip, core packages

mediatek: TP-Link Archer AX80v1: add OpenWrt U-Boot (UBI) layout
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-tplink-archer-ax80-v1-common.dtsi
  target/linux/mediatek/dts/mt7986a-tplink-archer-ax80-v1-ubi.dts
  target/linux/mediatek/dts/mt7986a-tplink-archer-ax80-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

uboot-mediatek: add TP-Link Archer AX80v1 support
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/464-add-tplink-archer-ax80-v1.patch
Labels: target/mediatek, core packages

ramips: EAP615-Wall v1: fix bootloop by reducing LZMA dictionary
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

mediatek: filogic: increase nand flash speed on Redmi AX6000
  target/linux/mediatek/dts/mt7986a-xiaomi-redmi-router-ax6000.dtsi
Labels: target/mediatek

build: ipkg-remove: fix source name / package confusion, optimize
  scripts/ipkg-remove
Labels: build/scripts/tools

ubus: update to Git HEAD (2025-07-02)
  package/system/ubus/Makefile
Labels: core packages

build: ipkg-remove: fix source name / package confusion, optimize
  scripts/ipkg-remove
Labels: build/scripts/tools

Update mt7628an_unielec_u7628-01.dtsi
  target/linux/ramips/dts/mt7628an_unielec_u7628-01.dtsi
Labels: target/ramips

x86: modules: fix wrong Kconfig symbol
  target/linux/x86/modules.mk
Labels: target/x86

ath79: Untag vlans to cpu ports on devices with two cpu ports by default
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/nand/base-files/etc/board.d/02_network
Labels: target/ath79

mediatek: add rtl8367s HSGMII support for rtl8365mb driver
  target/linux/mediatek/filogic/base-files/lib/firmware/rtl_switch/rtl8367s-sgmii.bin
  target/linux/mediatek/patches-6.6/738-net-dsa-add-rtl8367s-hsgmii-support.patch
Labels: target/mediatek

mediatek: ethernet: fix offloading with incompatible dsa tag
  target/linux/mediatek/patches-6.6/739-net-fix-mediatek-offload-with-incompatible-dsa-tag.patch
Labels: target/mediatek

mediatek: add support for Mercusys MR85X
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-mercusys-mr85x.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

[24.10] ath79: Untag vlans to cpu ports on devices with two cpu ports by default
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/nand/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: POC for DT-based expansion-friendly fw
  target/linux/ath79/dts/tplink_classic_flash_layout.dtsi
  target/linux/generic/files/include/dt-bindings/mtd/partitions/constants.h
Labels: target/ath79, kernel

ath79: Apply expansion-friendly flash layout to tl-wdr4900-v2
  target/linux/ath79/dts/qca9558_tplink_tl-wdr4900-v2.dts
Labels: target/ath79

ath79: Apply expansion-friendly flash layout to ar9344 tl-WDRxxxx
  target/linux/ath79/dts/ar9344_tplink_tl-wdrxxxx.dtsi
Labels: target/ath79

ath79: Apply expansion-friendly flash layout to Archer C7 series
  target/linux/ath79/dts/qca9558_tplink_archer-c.dtsi
  target/linux/ath79/dts/qca9558_tplink_archer-c5-v1.dts
  target/linux/ath79/dts/qca9558_tplink_archer-c7-v1.dts
  target/linux/ath79/dts/qca9558_tplink_archer-c7-v2.dts
Labels: target/ath79

ath79: Apply expansion-friendly flash layout to tl-wr2543
  target/linux/ath79/dts/ar7242_tplink_tl-wr2543-v1.dts
Labels: target/ath79

rockchip: Add support LinkStar H68k (rk3568).
  target/linux/rockchip/patches-6.12/005-linkstar-makefile-patch.patch
  target/linux/rockchip/patches-6.12/036-arm64-dts-rockchip-linkstar-1432v1_2-support.patch
Labels: target/rockchip

kernel: bump 6.6 to 6.6.97
  include/kernel-6.6
  target/linux/airoha/patches-6.6/901-snand-mtk-bmt-support.patch
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0092-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0133-lan78xx-Debounce-link-events-to-minimize-poll-storm.patch
  target/linux/bcm27xx/patches-6.6/950-0167-drm-v3d-Clock-V3D-down-when-not-in-use.patch
  target/linux/bcm27xx/patches-6.6/950-0188-v3d_gem-Kick-the-clock-so-firmware-knows-we-are-usin.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-0464-drm-v3d-New-debugfs-end-points-to-query-GPU-usage-st.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-0514-sdhci-Add-SD-Express-hook.patch
  target/linux/bcm27xx/patches-6.6/950-0535-i2c-designware-Add-SMBUS-quick-command-support.patch
  target/linux/bcm27xx/patches-6.6/950-0555-drm-v3d-fix-up-register-addresses-for-V3D-7.x.patch
  target/linux/bcm27xx/patches-6.6/950-0716-drivers-mmc-sdhci-add-SPURIOUS_INT_RESP-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-1116-mmc-sdhci-extend-maximum-ADMA-transfer-length-to-4Mi.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.6/950-1260-drivers-mmc-disable-write-caching-on-Samsung-2023-mo.patch
  target/linux/bcm27xx/patches-6.6/950-1333-mmc-quirks-disable-cache-on-more-known-bad-Sandisk-c.patch
  target/linux/bcm27xx/patches-6.6/950-1336-mmc-quirks-add-MMC_QUIRK_BROKEN_ERASE-for-Phison-Int.patch
  target/linux/bcm27xx/patches-6.6/950-1396-i2c-designware-Add-support-for-bus-clear-feature.patch
  target/linux/bcm27xx/patches-6.6/950-1507-mmc-set-MMC_QUIRK_KNOWN_WORKING_SD_CQ-on-Raspberry-P.patch
  target/linux/bcm27xx/patches-6.6/950-1553-drm-v3d-Associate-a-V3D-tech-revision-to-all-support.patch
  target/linux/bcm27xx/patches-6.6/950-1555-drm-v3d-Use-V3D_SMS-registers-for-power-on-off-and-r.patch
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.6/001-powerpc-kernel-Fix-pcc_save_regs-inclusion.patch
  target/linux/generic/backport-6.6/0080-v6.9-smp-Avoid-setup_max_cpus_namespace_collision_shadowing.patch
  target/linux/generic/backport-6.6/792-v6.16-igc-enable-HW-vlan-tag-insertion-stripping-by-defaul.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/mediatek/patches-6.6/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.6/960-asus-hack-u-boot-ignore-mtdparts.patch
  target/linux/ramips/patches-6.6/831-mmc-mtk-sd-initialize-pad-delay-and-drive-strength.patch
  target/linux/starfive/patches-6.6/0109-usb-xhci-To-improve-performance-usb-using-lowmem-for.patch
  target/linux/starfive/patches-6.6/0110-usb-xhci-using-dma_alloc_noncoherent-to-alloc-low-me.patch
  target/linux/x86/config-6.6
Labels: target/airoha, target/bcm27xx, target/bcm53xx, target/mediatek, target/ramips, target/starfive, target/x86, kernel, build/scripts/tools
