Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

qualcommax: remove Quectel scripts, on board by standard
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/quectel-mbim-proxy
  target/linux/qualcommax/ipq50xx/base-files/usr/bin/quectel-qmi-proxy
Labels: target/qualcommax

remove unrelated script (mistake)
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/iface/99-mwan3-usb0
Labels: target/qualcommax

generic: add mstc-boot mtdsplit parser
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/files/drivers/mtd/mtdsplit/Kconfig
  target/linux/generic/files/drivers/mtd/mtdsplit/Makefile
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_mstc_boot.c
Labels: kernel

mediatek: filogic: enable mstc-boot mtdsplit parser
  target/linux/mediatek/filogic/config-6.12
Labels: target/mediatek, kernel

mediatek: add support for ELECOM WRC-X3000GS3
  target/linux/mediatek/dts/mt7981b-elecom-wrc-x3000gs3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/lib/upgrade/elecom.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: bump 6.6 to 6.6.99
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/kernel-6.6
Labels: kernel

kernel: bump 6.12 to 6.12.39
  target/linux/bcm27xx/patches-6.12/950-0132-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.12/950-0345-irqchip-irq-bcm2712-mip-Support-for-2712-s-MIP.patch
  target/linux/bcm27xx/patches-6.12/950-0528-drm-Increase-plane_mask-to-64bit.patch
  target/linux/bcm27xx/patches-6.12/950-0901-irqchip-Add-Broadcom-bcm2712-MSI-X-interrupt-control.patch
  target/linux/bmips/patches-6.12/100-irqchip-add-support-for-bcm6345-style-external-inter.patch
  target/linux/bmips/patches-6.12/202-mips-bmips-tweak-Kconfig-options.patch
  target/linux/generic/backport-6.12/720-09-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/hack-6.12/902-debloat_proc.patch
  target/linux/generic/hack-6.12/904-debloat_dma_buf.patch
  target/linux/generic/kernel-6.12
  target/linux/qualcommax/patches-6.12/0712-net-phy-qcom-at803x-add-qualcomm-ipq5018-internal-phy-support.patch
Labels: target/bcm27xx, target/bmips, target/qualcommax, kernel

libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages

ca-certificates: Update to 20250419
  package/system/ca-certificates/Makefile
Labels: core packages

uboot-mediatek: backport filogic clk driver fix
  package/boot/uboot-mediatek/patches/005-clk-mediatek-add-dummy-clk-enable-disable-ops-for-ap.patch
Labels: target/mediatek, core packages

uboot-mediatek: refresh patches
  package/boot/uboot-mediatek/patches/457-initialized-the-watchdog-subsystem-later.patch
Labels: target/mediatek, core packages

kernel: modules: i2c: package i2c-mux-pinctrl
  package/kernel/linux/modules/i2c.mk
Labels: kernel, core packages

targets: add PINCTRL_SUPPORT auto-feature
  include/target.mk
  scripts/target-metadata.pl
  target/Config.in
Labels: build/scripts/tools

targets: add USES_PM auto-feature
  include/target.mk
  scripts/target-metadata.pl
  target/Config.in
Labels: build/scripts/tools

kernel: modules: video: individually package simple-panel.ko
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

kernel: modules: video: package driver for TC358762
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

bcm27xx: package modules for official 7" touchscreen TFT display
  target/linux/bcm27xx/modules/video.mk
Labels: target/bcm27xx

CI: packages: exclude the paths of ATF and u-boot packages
  .github/workflows/packages.yml
Labels: GitHub/CI

CI: kernel: remove non-existent paths
  .github/workflows/kernel.yml
Labels: GitHub/CI

CI: packages: exclude the paths of uboot-envtools scripts
  .github/workflows/packages.yml
Labels: GitHub/CI

CI: packages: exclude the paths of base-files scripts
  .github/workflows/packages.yml
Labels: GitHub/CI

kernel/qoriq: Restore kernel files for v6.6
  target/linux/qoriq/config-6.6
Labels: target/qoriq, kernel

kernel/qoriq: Create kernel files for v6.12 (from v6.6)
  target/linux/qoriq/config-6.12
Labels: target/qoriq, kernel

qoriq: enable 6.12 testing kernel
  target/linux/qoriq/Makefile
Labels: target/qoriq

qoriq: refresh 6.12 kernel config files
  target/linux/qoriq/config-6.12
Labels: target/qoriq, kernel

ipq806x: fix dtc warnings for Linksys E8350 V1
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-e8350-v1.dts
Labels: target/ipq806x

ipq806x: refresh kernel symbol configs
  target/linux/ipq806x/config-6.6
Labels: target/ipq806x, kernel

ipq806x: dts: correct PCIe device node name
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-d7800.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-g10.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-cryptid-common.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

ipq806x: refresh 6.12 kernel config files
  target/linux/ipq806x/config-6.12
Labels: target/ipq806x, kernel

ipq806x: dts: fix 6.12 kernel pinmux conflicts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ap161.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-onhub.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wpq864.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nbg6817.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

ipq806x: dts: rework PCIe nodes for Chromium OnHub
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-onhub.dtsi
Labels: target/ipq806x

ipq806x: refresh 6.12 kernel patches
  target/linux/ipq806x/patches-6.12/107-10-ARM-dts-qcom-add-saw-for-l2-cache-and-kraitcc-for.patch
  target/linux/ipq806x/patches-6.12/108-01-ARM-dts-qcom-fix-wrong-nad_pins-definition-for-ipq80.patch
  target/linux/ipq806x/patches-6.12/108-02-ARM-dts-qcom-add-MDIO-dedicated-controller-node-for-.patch
  target/linux/ipq806x/patches-6.12/114-02-ARM-dts-qcom-add-krait-cache-compatible-for-ipq806x-.patch
  target/linux/ipq806x/patches-6.12/115-02-ARM-dts-qcom-add-fab-scaling-node-for-ipq806x.patch
  target/linux/ipq806x/patches-6.12/122-01-clk-qcom-krait-cc-handle-qsb-clock-defined-in-DTS.patch
  target/linux/ipq806x/patches-6.12/122-02-clk-qcom-krait-cc-register-REAL-qsb-fixed-clock.patch
  target/linux/ipq806x/patches-6.12/122-03-clk-qcom-krait-cc-drop-pr_info-and-use-dev_info.patch
  target/linux/ipq806x/patches-6.12/122-04-clk-qcom-krait-cc-rework-mux-reset-logic-and-reset-h.patch
  target/linux/ipq806x/patches-6.12/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq806x/patches-6.12/900-arm-add-cmdline-override.patch
  target/linux/ipq806x/patches-6.12/901-02-ARM-decompressor-add-option-to-ignore-MEM-ATAGs.patch
  target/linux/ipq806x/patches-6.12/901-mtd-spi-nor-n25q064a-wp.patch
  target/linux/ipq806x/patches-6.12/902-ARM-decompressor-support-for-ATAGs-rootblock-parsing.patch
Labels: target/ipq806x

ipq806x: dts: reuse default PCIe bridge nodes
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8062-wg2600hp3.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200-c2600.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-d7800.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-eax500.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-g10.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-cryptid-common.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

ipq806x: add PCIe bridge node reference labels for ipq8064.dtsi
  target/linux/ipq806x/patches-6.12/700-ARM-dts-qcom-ipq8064-add-reference-labels-for-PCIe-b.patch
Labels: target/ipq806x

ipq806x: fix build errors on 6.12 kernel
  target/linux/ipq806x/patches-6.12/114-01-devfreq-qcom-Add-L2-Krait-Cache-devfreq-scaling-driv.patch
  target/linux/ipq806x/patches-6.12/115-01-devfreq-add-ipq806x-fabric-scaling-driver.patch
  target/linux/ipq806x/patches-6.12/900-arm-add-cmdline-override.patch
Labels: target/ipq806x

ipq806x: enable 6.12 testing kernel
  target/linux/ipq806x/Makefile
Labels: target/ipq806x

ipq806x: migrate wifi configuration device paths for 6.12 kernel
  target/linux/ipq806x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/ipq806x

ipq806x: dts: fix incorrect PCIe bus number
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-eax500.dtsi
  target/linux/ipq806x/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
Labels: target/ipq806x

ipq40xx: refresh kernel symbol configs
  target/linux/ipq40xx/config-6.6
  target/linux/ipq40xx/generic/config-default
  target/linux/ipq40xx/mikrotik/config-default
Labels: target/ipq40xx, kernel

ipq40xx: dts: fix led-controller node name for Netgear LBR20
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-lbr20.dts
Labels: target/ipq40xx

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
