Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

mac80211: add support for MLD AP client probing
  package/kernel/mac80211/patches/subsys/370-wifi-mac80211-add-MLO-support-to-ieee80211_probe_cli.patch
Labels: core packages

armsr: add patch (hack) to enable all "default" consoles
  target/linux/armsr/patches-6.6/300-printk-always-setup-default-consoles.patch
Labels: target/armsr

armsr: remove 'console=tty1' from kernel command line
  target/linux/armsr/image/Makefile
Labels: target/armsr

realtek: hpe 1920 48g poe: add mode button, led
  target/linux/realtek/dts/rtl8393_hpe_1920-48g-poe.dts
Labels: target/realtek

realtek: rt-loader: add ROM uImage lookup (aka standalone)
  target/linux/realtek/image/rt-loader/Makefile
  target/linux/realtek/image/rt-loader/include/globals.h
  target/linux/realtek/image/rt-loader/src/main.c
  target/linux/realtek/image/rt-loader/src/startup.S
Labels: target/realtek

realtek: rt-loader: memory library enhancements
  target/linux/realtek/image/rt-loader/include/memory.h
  target/linux/realtek/image/rt-loader/src/memory.c
Labels: target/realtek

at91: refresh kernel-config sama7
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

at91: Create kernel files for v6.12 (from v6.6)
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

at91: add missing KConfig for sam9x sama5
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

at91: enable testing kernel 6.12
  target/linux/at91/Makefile
Labels: target/at91

at91: Restore kernel files for v6.6
  target/linux/at91/sam9x/config-6.6
  target/linux/at91/sama5/config-6.6
  target/linux/at91/sama7/config-6.6
Labels: target/at91, kernel

at91: refresh kernel-config sam9x
  target/linux/at91/sam9x/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sama5
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

kernel: update pending patch 642 to upstream version
  target/linux/generic/pending-6.12/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.6/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.6/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
Labels: kernel

x86/64: enable some performance related options
  target/linux/x86/64/config-6.12
Labels: target/x86, kernel

wifi-scripts: default to sae_pwe=2 in client mode
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

wifi-scripts: ucode: unconditionally call hostapd/supplicant setup
  package/network/config/wifi-scripts/files-ucode/lib/netifd/wireless/mac80211.sh
Labels: core packages

Update Config.in
  package/network/services/lldpd/Config.in
Labels: core packages

wifi-scripts: ucode: add missing fields to spec
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-device.json
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-iface.json
Labels: core packages

mpc85xx: copy config and patches
  target/linux/mpc85xx/config-6.12
  target/linux/mpc85xx/patches-6.12/001-powerpc-85xx-add-gpio-keys-to-of-match-table.patch
  target/linux/mpc85xx/patches-6.12/010-powerpc-add-compressed-zImage-for-mpc85xx.patch
  target/linux/mpc85xx/patches-6.12/100-powerpc-85xx-tl-wdr4900-v1-support.patch
  target/linux/mpc85xx/patches-6.12/101-powerpc-85xx-hiveap-330-support.patch
  target/linux/mpc85xx/patches-6.12/102-powerpc-add-cmdline-override.patch
  target/linux/mpc85xx/patches-6.12/103-powerpc-85xx-red-15w-rev1.patch
  target/linux/mpc85xx/patches-6.12/104-powerpc-mpc85xx-change-P2020RDB-dts-file-for-OpenWRT.patch
  target/linux/mpc85xx/patches-6.12/105-powerpc-85xx-panda-support.patch
  target/linux/mpc85xx/patches-6.12/106-powerpc-85xx-ws-ap3710i-support.patch
  target/linux/mpc85xx/patches-6.12/107-powerpc-85xx-add-ws-ap3825i-support.patch
  target/linux/mpc85xx/patches-6.12/108-powerpc-85xx-firebox-t10-support.patch.patch
  target/linux/mpc85xx/patches-6.12/109-powerpc-85xx-add-ws-ap3715i-support.patch
  target/linux/mpc85xx/patches-6.12/110-powerpc-85xx-br200-wp-support.patch
  target/linux/mpc85xx/patches-6.12/111-powerpc-85xx-hpe-msm-support.patch
  target/linux/mpc85xx/patches-6.12/150-arch-powerpc-simpleboot-prevent-overwrite-of-CPU1-sp.patch
  target/linux/mpc85xx/patches-6.12/900-powerpc-bootwrapper-disable-uImage-generation.patch
Labels: target/mpc85xx, kernel

mpc85xx: use strscpy instead of strlcpy
  target/linux/mpc85xx/patches-6.12/102-powerpc-add-cmdline-override.patch
Labels: target/mpc85xx

mpc85xx: introduce 6.12 testing kernel
  target/linux/mpc85xx/Makefile
Labels: target/mpc85xx

mpc85xx: refresh kernel 6.12 patches
  target/linux/mpc85xx/patches-6.12/010-powerpc-add-compressed-zImage-for-mpc85xx.patch
  target/linux/mpc85xx/patches-6.12/100-powerpc-85xx-tl-wdr4900-v1-support.patch
  target/linux/mpc85xx/patches-6.12/101-powerpc-85xx-hiveap-330-support.patch
  target/linux/mpc85xx/patches-6.12/102-powerpc-add-cmdline-override.patch
  target/linux/mpc85xx/patches-6.12/106-powerpc-85xx-ws-ap3710i-support.patch
  target/linux/mpc85xx/patches-6.12/107-powerpc-85xx-add-ws-ap3825i-support.patch
  target/linux/mpc85xx/patches-6.12/109-powerpc-85xx-add-ws-ap3715i-support.patch
  target/linux/mpc85xx/patches-6.12/110-powerpc-85xx-br200-wp-support.patch
  target/linux/mpc85xx/patches-6.12/900-powerpc-bootwrapper-disable-uImage-generation.patch
Labels: target/mpc85xx

mpc85xx: refresh kernel config
  target/linux/mpc85xx/config-6.12
Labels: target/mpc85xx, kernel

ipq-wifi: update to Git HEAD (2025-08-25)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: add entry for Xiaomi AIoT AC2350
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ath79: add calibtation variant for Xiaomi AIoT AC2350
  target/linux/ath79/dts/qca9563_xiaomi_aiot-ac2350.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

uboot-mediatek: CMCC RAX3000M: add Airoha AN8855 switch support
  package/boot/uboot-mediatek/patches/437-add-cmcc_rax3000m.patch
Labels: target/mediatek, core packages

uboot-mediatek: CMCC RAX3000M: add ddr3 build
  package/boot/uboot-mediatek/Makefile
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

arm-trusted-firmware-mediatek: add FudanMicro manufacturer
  package/boot/arm-trusted-firmware-mediatek/patches/0004-mediatek-snfi-add-FudanMicro-manufacturer.patch
Labels: target/mediatek, core packages

uboot-mediatek: add support for FudanMicro FM25S01A
  package/boot/uboot-mediatek/patches/110-mtd-spi-nand-add-support-for-FudanMicro-FM25S01A.patch
Labels: target/mediatek, core packages

kernel: add support for FudanMicro FM25S01A
  target/linux/generic/pending-6.12/489-mtd-spinand-add-FudanMicro-FM25S01A.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
Labels: target/mediatek, kernel

mediatek: CMCC RAX3000M: add RAX3000Me as alt model
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

realtek: phy: drop use of mdio package functions
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: phy: late phy package patching
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

realtek: phy: add RTL8214x/RTL8218x patch helper
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: simplify RTL8214FC handling
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

lantiq: more conversions to nvmem
  target/linux/lantiq/ase/base-files/etc/board.d/02_network
  target/linux/lantiq/config-6.12
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/amazonse_allnet_all0333cj.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_bt_homehub-v3a.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_netgear_dgn3500.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_alphanetworks_asl56026.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vg3503j.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_buffalo_wbmr-300hpd.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_lantiq_easy80920-nand.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_lantiq_easy80920-nor.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_lantiq_easy80920.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_netgear_dm200.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-f1.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-f3.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-fx.dtsi
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
  target/linux/lantiq/xrx200_legacy/base-files/etc/board.d/02_network
  target/linux/lantiq/xway/base-files/etc/board.d/02_network
  target/linux/lantiq/xway/base-files/etc/hotplug.d/firmware/12-ath9k-eeprom
Labels: target/lantiq, kernel

generic: backport upstream v6.18 Realtek PHY patch
  target/linux/generic/backport-6.12/781-29-v6.18-net-phy-realtek-enable-serdes-option-mode-for-RTL8226-CG.patch
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-02-net-phy-realtek-disable-SGMII-in-band-AN-for-2-5G-PHYs.patch
  target/linux/generic/pending-6.12/720-03-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-6.12/720-04-net-phy-realtek-setup-aldps.patch
  target/linux/generic/pending-6.12/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-07-net-phy-realtek-mark-existing-MMDs-as-present.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.12/720-09-net-phy-realtek-disable-MDIO-broadcast.patch
Labels: kernel

generic: backport upstream v6.18 Realtek PHY patch
  target/linux/generic/backport-6.12/781-28-v6.18-net-phy-realtek-convert-RTL8226-CG-to-c45-only.patch
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-03-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-6.12/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
Labels: kernel
