Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

bcm53xx: refine device packages for ASUS RT-AC3200/RT-AC5300
  package/utils/nvram/files/04-nvram-firstboot
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages

realtek: drop RTL8226/RTL8221B downstream PHY driver
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

realtek: drop obsolete kernel patches
  target/linux/realtek/patches-6.12/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/realtek/patches-6.12/708-drivers-net-phy-eee-support-for-rtl838x.patch
Labels: target/realtek

wifi-scripts: ucode: fix starting without wpa_supplicant or hostapd
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/hostapd.uc
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/supplicant.uc
Labels: core packages

realtek: zyxel gs1900-24: use all 128M ram
  target/linux/realtek/dts/rtl8382_zyxel_gs1900-24-v1.dts
Labels: target/realtek

realtek: Rename ZyXEL XGS1210-12 to XGS1210-12 v1
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12-common.dtsi
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12-v1.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

ltq-ptm: add NVMEM MAC support for ADSL
  package/kernel/lantiq/ltq-ptm/Makefile
  package/kernel/lantiq/ltq-ptm/src/ifxmips_ptm_adsl.c
Labels: target/lantiq, core packages

realtek: use common dtsi for gs1900-24
  target/linux/realtek/dts/rtl8382_zyxel_gs1900-24-v1.dts
  target/linux/realtek/dts/rtl8382_zyxel_gs1900-24.dtsi
Labels: target/realtek

realtek: add gs1900-24 v2 device definition
  target/linux/realtek/dts/rtl8382_zyxel_gs1900-24-v2.dts
  target/linux/realtek/image/rtl838x.mk
Labels: target/realtek

realtek: drop read-only on u-boot-env for 838x zyxel 1900
  target/linux/realtek/dts/rtl8380_zyxel_gs1900.dtsi
Labels: target/realtek

pcre2: bump to 10.46
  package/libs/pcre2/Makefile
Labels: core packages

kernel: bump 6.12 to 6.12.44
  target/linux/bcm27xx/patches-6.12/950-0124-usb-add-plumbing-for-updating-interrupt-endpoint-int.patch
  target/linux/bcm27xx/patches-6.12/950-0125-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-6.12/950-0335-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.12/950-0364-drm-Add-RP1-DSI-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0480-media-pisp_be-Re-introduce-multi-context-support.patch
  target/linux/bcm27xx/patches-6.12/950-0950-usb-xhci-default-to-Intel-scheme-for-calculating-U1-.patch
  target/linux/generic/backport-6.12/220-v6.16-powerpc-boot-fix-build-with-gcc-15.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.12/720-09-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/100-compiler.h-only-include-asm-rwonce.h-for-kernel-code.patch
  target/linux/generic/pending-6.12/487-mtd-spinand-Add-support-for-Etron-EM73D044VCx.patch
  target/linux/generic/pending-6.12/736-04-net-ethernet-mediatek-fix-ppe-flow-accounting-for-L2.patch
  target/linux/generic/pending-6.12/790-bus-mhi-core-add-SBL-state-callback.patch
  target/linux/imx/patches-6.12/506-6.16-PCI-imx6-Skip-link-up-workaround-for-newer-platforms.patch
  target/linux/imx/patches-6.12/506-pending-PCI-imx6-Remove-apps_reset-toggle-in-_core_reset-function.patch
  target/linux/ipq40xx/patches-6.12/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/mediatek/patches-6.12/121-hack-spi-nand-1b-bbm.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/410-bt-mtk-serial-fix.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
  target/linux/qualcommax/patches-6.12/0812-soc-qcom-mdt_loader-support-MPD.patch
  target/linux/starfive/patches-6.12/0009-uart-8250-Add-dw-auto-flow-ctrl-support.patch
Labels: target/bcm27xx, target/imx, target/ipq40xx, target/qualcommax, target/mediatek, target/starfive, kernel

realtek: correct whitespace in hp dts files
  target/linux/realtek/dts/rtl8393_hpe_1920-48g-poe.dts
  target/linux/realtek/dts/rtl8393_hpe_1920-48g.dts
Labels: target/realtek

mediatek: backport patches fixing thermal on MT7988
  target/linux/mediatek/patches-6.12/051-v6.17-thermal-drivers-mediatek-lvts_thermal-Change-lvts-co.patch
  target/linux/mediatek/patches-6.12/052-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-lvts-comma.patch
  target/linux/mediatek/patches-6.12/053-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-lvt.patch
Labels: target/mediatek

udhcpc: use iproute2 to handle routes
  package/network/config/netifd/files/usr/share/udhcpc/default.script
Labels: core packages

starfive: add GPIO LEDs to VF1 and VF2
  target/linux/starfive/image/Makefile
  target/linux/starfive/patches-6.12/1023-riscv-dts-starfive-visionfive2-add-SYSLED-support.patch
  target/linux/starfive/patches-6.12/1024-riscv-dts-starfive-visionfive2-add-LED-aliases-and-s.patch
Labels: target/starfive

starfive: add ubootenv support
  package/boot/uboot-tools/uboot-envtools/files/starfive
  target/linux/starfive/image/Makefile
Labels: target/starfive, core packages

starfive: visionfive2: add CMA entry into board DTS
  target/linux/starfive/patches-6.12/1025-riscv-dts-starfive-visionfive2-add-dma-pool-entry.patch
Labels: target/starfive

starfive: rework target into separate subtargets
  target/linux/starfive/Makefile
  target/linux/starfive/config-6.12
  target/linux/starfive/image/Makefile
  target/linux/starfive/image/jh7100.mk
  target/linux/starfive/image/jh7110.mk
  target/linux/starfive/jh7100/config-6.12
  target/linux/starfive/jh7100/target.mk
  target/linux/starfive/jh7110/config-6.12
  target/linux/starfive/jh7110/target.mk
Labels: target/starfive, kernel

starfive: add uEnv script on VF2 boards
  target/linux/starfive/image/Makefile
  target/linux/starfive/image/jh7110-vf2-uenv.txt
Labels: target/starfive

rockchip: increase the number of serial ports for rk35xx
  target/linux/rockchip/armv8/config-6.12
Labels: target/rockchip, kernel

armsr: add patch (hack) to enable all "default" consoles
  target/linux/armsr/patches-6.6/300-printk-always-setup-default-consoles.patch
Labels: target/armsr

armsr: remove 'console=tty1' from kernel command line
  target/linux/armsr/image/Makefile
Labels: target/armsr

ipq-wifi: update to Git HEAD (2025-06-11)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: update to Git HEAD (2025-06-13)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: add BDF for IgniteNet SS-W2-AC2600
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: update to Git HEAD (2025-06-23)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: update to Git HEAD (2025-08-12)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: update to Git HEAD (2025-08-25)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ipq-wifi: add entry for Xiaomi AIoT AC2350
  package/firmware/ipq-wifi/Makefile
Labels: core packages

ath79: add calibtation variant for Xiaomi AIoT AC2350
  target/linux/ath79/dts/qca9563_xiaomi_aiot-ac2350.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

realtek: avoid interrupt storm on mass packet receive
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

realtek: fix stall after restart of otto timer
  target/linux/realtek/patches-6.6/304-timer-otto-fix-stall-after-restart.patch
Labels: target/realtek

tools: firmware-utils: update to Git HEAD (2025-08-03)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

tools: firmware-utils: update to Git HEAD (2025-07-24)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

treewide: add const to struct of_device_id
  package/kernel/gpio-button-hotplug/src/gpio-button-hotplug.c
  target/linux/generic/hack-6.12/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/hack-6.6/800-GPIO-add-named-gpio-exports.patch
  target/linux/lantiq/patches-6.12/035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
  target/linux/qualcommax/patches-6.12/0900-power-Add-Qualcomm-APM.patch
  target/linux/qualcommax/patches-6.12/0901-regulator-add-Qualcomm-CPR-regulators.patch
Labels: target/qualcommax, target/lantiq, kernel, core packages

kernel: mtk_eth_soc: fix tx vlan tag for llc packets
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

kernel: mtk_eth_soc: fix tx vlan tag for llc packets
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

perf: set NO_JEVENTS=1 to fix build
  package/devel/perf/Makefile
Labels: core packages

perf: fix disabling BUILD_BPF_SKEL
  package/devel/perf/Makefile
Labels: core packages
