Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

tools: libtool: always install all auxillary files
  tools/libtool/patches/001-always-install-aux.patch
Labels: build/scripts/tools

bzip2: override target configure variables
  package/utils/bzip2/Makefile
Labels: core packages

build: add CROSS_COMPILE variable
  include/package-defaults.mk
Labels: build/scripts/tools

ead: add libbsd as build dependency
  package/network/services/ead/Makefile
Labels: core packages

ead: add include path for libpcap dependency
  package/network/services/ead/Makefile
Labels: core packages

ead: add PIC to compilation flags
  package/network/services/ead/Makefile
Labels: core packages

libcap: cleanup Makefile
  package/libs/libcap/Makefile
Labels: core packages

ead: force older C standard for compilation
  package/network/services/ead/Makefile
Labels: core packages

ead: add libmd as build dependency
  package/network/services/ead/Makefile
Labels: core packages

ead: override configure variables
  package/network/services/ead/Makefile
Labels: core packages

kernel: modules: add boot flag to e1000e driver
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

kernel: modules: add Mellanox Spectrum hotplug renaming script
  package/kernel/linux/files/hotplug-mlxsw-spectrum-port-names.sh
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

base-files: add ucidef_set_interface_netdev_range function
  package/base-files/files/lib/functions/uci-defaults.sh
Labels: core packages

x86: rename and configure Mellanox Spectrum interfaces
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

images: move append-teltonika-metadata to image-commands.mk
  include/image-commands.mk
  target/linux/ath79/image/generic.mk
  target/linux/ipq40xx/image/generic.mk
  target/linux/ramips/image/mt76x8.mk
Labels: target/ath79, target/ipq40xx, target/ramips, build/scripts/tools

mediatek: filogic: add Teltonika RUTC50 support
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981a-teltonika-rutc50.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

qualcommax: ipq6018 rework nss_port5 clock to multiple conf
  target/linux/qualcommax/patches-6.12/0151-arm64-qcom-ipq6018-nss_port5.patch
  target/linux/qualcommax/patches-6.12/0904-clk-qcom-ipq6018-workaround-networking-clock-parenti.patch
Labels: target/qualcommax

tools: libtool: always install all auxillary files
  tools/libtool/patches/001-always-install-aux.patch
Labels: build/scripts/tools

tools: gnulib: always use std-gnu23 module
  tools/gnulib/patches/195-c99-use-std-gnu23.patch
Labels: build/scripts/tools

gettext-full: force compiling target in C23 standard
  package/libs/gettext-full/Makefile
Labels: core packages

gettext-full: remove usage of autoreconf
  package/libs/gettext-full/Makefile
Labels: core packages

uboot-sunxi: randomize ethaddr on Olimex A20 boards
  package/boot/uboot-sunxi/patches/260-sunxi-a20-random-ethaddr-on-olinuxino-micro.patch
Labels: target/sunxi, core packages

sunxi: enable at24 support
  target/linux/sunxi/config-6.12
  target/linux/sunxi/cortexa53/config-6.12
Labels: target/sunxi, kernel

sunxi: enable ramdisk feature
  target/linux/sunxi/Makefile
Labels: target/sunxi

sunxi: change target to use FIT kernel images
  package/boot/uboot-sunxi/uEnv-a64.txt
  package/boot/uboot-sunxi/uEnv-default.txt
  package/boot/uboot-sunxi/uEnv-h6.txt
  package/boot/uboot-sunxi/uEnv-h616.txt
  package/boot/uboot-sunxi/uEnv-pangolin.txt
  target/linux/sunxi/image/Makefile
  target/linux/sunxi/image/cortexa53.mk
  target/linux/sunxi/image/cortexa7.mk
  target/linux/sunxi/image/cortexa8.mk
Labels: target/sunxi, core packages

sunxi: change target to use FIT kernel images
  package/boot/uboot-sunxi/uEnv-a64.txt
  package/boot/uboot-sunxi/uEnv-default.txt
  package/boot/uboot-sunxi/uEnv-h6.txt
  package/boot/uboot-sunxi/uEnv-h616.txt
  package/boot/uboot-sunxi/uEnv-pangolin.txt
  target/linux/sunxi/image/Makefile
  target/linux/sunxi/image/cortexa53.mk
  target/linux/sunxi/image/cortexa7.mk
  target/linux/sunxi/image/cortexa8.mk
Labels: target/sunxi, core packages

tools: gnulib: always use std-gnu23 module
  tools/gnulib/patches/195-c99-use-std-gnu23.patch
Labels: build/scripts/tools

gettext-full: force compiling target in C23 standard
  package/libs/gettext-full/Makefile
Labels: core packages

sunxi: enable ramdisk feature
  target/linux/sunxi/Makefile
Labels: target/sunxi

tools: libtool: always install all auxillary files
  tools/libtool/patches/001-always-install-aux.patch
Labels: build/scripts/tools

gettext-full: remove usage of autoreconf
  package/libs/gettext-full/Makefile
Labels: core packages

ipq-wifi: update to Git HEAD (2025-08-12)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

toolchain: gcc: update GCC 12 to 12.5.0
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-12.x/110-Fix-MIPS-PR-84790.patch
  toolchain/gcc/patches-12.x/230-musl_libssp.patch
  toolchain/gcc/patches-12.x/300-mips_Os_cpu_rtx_cost_model.patch
  toolchain/gcc/patches-12.x/700-RISCV-Inline-subword-atomic-ops.patch
  toolchain/gcc/patches-12.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-12.x/910-mbsd_multi.patch
  toolchain/gcc/patches-12.x/920-specs_nonfatal_getenv.patch
  toolchain/gcc/patches-12.x/970-macos_arm64-building-fix.patch
  toolchain/gcc/patches-12.x/980-fix-build-error-with-Xcode-16.3.patch
Labels: toolchain

kernel: Add additional net scheduler fix
  target/linux/generic/backport-5.15/895-v6.15-0005-sch_htb-make-htb_deactivate-idempotent.patch
Labels: kernel

procd: update to Git HEAD (2025-08-12)
  package/network/config/wifi-scripts/files/lib/netifd/wireless.uc
  package/system/procd/Makefile
Labels: core packages

kernel: modules to run OpenWRT VM in LXD or incus
  target/linux/armsr/Makefile
  target/linux/armsr/armv8/config-6.12
  target/linux/armsr/config-6.12
  target/linux/x86/64/config-6.12
  target/linux/x86/config-6.12
Labels: target/armsr, target/x86, kernel

netifd: update to Git HEAD (2025-08-12)
  package/network/config/netifd/Makefile
Labels: core packages

mediatek: Add support for Acer Predator Connect W6x
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dts
  target/linux/mediatek/dts/mt7986a-acer-w6-common.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ath79: add extended AR9344 reset sequence
  target/linux/ath79/patches-5.10/101-reset-ath79-reset-ETH-switch-for-AR9344.patch
Labels: target/ath79

mpc85xx: tl-wdr4900: add back 5ghz LED
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
Labels: target/mpc85xx, kernel

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
