Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

kernel: bump 6.6 to 6.6.101
  target/linux/generic/backport-6.6/413-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.6/413-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.6/413-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.6/413-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.6/414-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.6/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.6
Labels: kernel

realtek: rtl93xx: Do not use media register to get link status
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: dsa: enhance pcs_get_state() for RTL93xx
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: rtl930x: Fetch link status for all ports in switch IRQ
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl931x: Fix link status get not fetching correct status
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

dropbear: fix typos in path configuration
  package/network/services/dropbear/Makefile
Labels: core packages

dropbear: fix FTBFS when CONFIG_DROPBEAR_SVR_PUBKEY_OPTIONS is not enabled
  package/network/services/dropbear/patches/051-fix-pubkey-options.patch
Labels: core packages

dropbear: relax path permission checks for authorized keys
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/patches/050-dropbear-multihop-fix.patch
  package/network/services/dropbear/patches/100-pubkey_path.patch
Labels: core packages

kernel: Add kmod-w1-slave-ds2438
  package/kernel/linux/modules/w1.mk
Labels: kernel, core packages

realtek: dsa: rtl83xx: flush scheduled work on removal
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

ath79: fix LED GPIOs for COMFAST CF-EW71 v2
  target/linux/ath79/dts/qca9531_comfast_cf-ew71-v2.dts
Labels: target/ath79

ramips: add support for SIM SIMAX1800U
  target/linux/ramips/dts/mt7621_haier-sim_wr1800k.dtsi
  target/linux/ramips/dts/mt7621_sim_simax1800t.dts
  target/linux/ramips/dts/mt7621_sim_simax1800u.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

uboot-envtools: ramips: add env config for SIM SIMAX1800U
  package/boot/uboot-tools/uboot-envtools/files/ramips
Labels: core packages

mediatek: add support for OpenFi 6C
  target/linux/mediatek/dts/mt7981b-openfi-6c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

realtek: rtl931x: Fix VLAN tagging and untagging
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl93xx: Add GPIO access register definitions
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
Labels: target/realtek

realtek: rtl931x: Sync family parameters with RTL930x
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

realtek: rtl931x: Add smi_poll_ctrl
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Fix size of TRK_MBR_CTRL group block
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

ramips: mt76x8: add support for Wodesys WD-R1208U
  target/linux/ramips/dts/mt7628an_wodesys_wd-r1208u.dts
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips

mpc85xx: HPE MSM460 add HPE MSM430 alias
  target/linux/mpc85xx/image/p1020.mk
Labels: target/mpc85xx

kernel: backport fixes missing in stable
  target/linux/generic/backport-5.15/895-v6.15-0001-sch_htb-make-htb_qlen_notify-idempotent.patch
  target/linux/generic/backport-5.15/895-v6.15-0002-sch_drr-make-drr_qlen_notify-idempotent.patch
  target/linux/generic/backport-5.15/895-v6.15-0003-sch_hfsc-make-hfsc_qlen_notify-idempotent.patch
  target/linux/generic/backport-5.15/895-v6.15-0004-sch_qfq-make-qfq_qlen_notify-idempotent.patch
Labels: kernel

realtek: rtl931x: Don't use RTL8xx port flooding initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: rtl931x: Add missing rma_bpdu_fld_pmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

strace: update to 6.15
  package/devel/strace/Makefile
Labels: core packages

realtek: rtl930x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

kernel: kmod-fs-nfs: add several feature and kmods
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

mediatek: filogic: add support for Zbtlink ZBT-Z8802BE
  target/linux/mediatek/dts/mt7988d-zbtlink-zbt-z8802be.dts
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

mediatek: filogic: add support for Zbtlink ZBT-Z8802BE
  target/linux/mediatek/dts/mt7988d-zbtlink-zbt-z8802be.dts
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel/bcm47xx: Restore kernel files for v6.6
  target/linux/bcm47xx/config-6.6
  target/linux/bcm47xx/patches-6.6/159-cpu_fixes.patch
  target/linux/bcm47xx/patches-6.6/209-b44-register-adm-switch.patch
  target/linux/bcm47xx/patches-6.6/210-b44_phy_fix.patch
  target/linux/bcm47xx/patches-6.6/280-activate_ssb_support_in_usb.patch
  target/linux/bcm47xx/patches-6.6/400-mtd-bcm47xxpart-get-nvram.patch
  target/linux/bcm47xx/patches-6.6/700-net-bgmac-connect-to-PHY-even-if-it-is-BGMAC_PHY_NOR.patch
  target/linux/bcm47xx/patches-6.6/791-tg3-no-pci-sleep.patch
  target/linux/bcm47xx/patches-6.6/800-bcma-add-table-of-serial-flashes-with-smaller-blocks.patch
  target/linux/bcm47xx/patches-6.6/820-wgt634u-nvram-fix.patch
  target/linux/bcm47xx/patches-6.6/830-huawei_e970_support.patch
  target/linux/bcm47xx/patches-6.6/831-old_gpio_wdt.patch
  target/linux/bcm47xx/patches-6.6/900-ssb-reject-PCI-writes-setting-CardBus-bridge-resourc.patch
  target/linux/bcm47xx/patches-6.6/940-bcm47xx-yenta.patch
  target/linux/bcm47xx/patches-6.6/976-ssb_increase_pci_delay.patch
Labels: target/bcm47xx, kernel

bcm47xx: 6.12: fix no previous prototype error
  target/linux/bcm47xx/patches-6.12/980-no-previous-prototype-fixes.patch
Labels: target/bcm47xx

bcm47xx: 6:12: refresh patches
  target/linux/bcm47xx/config-6.12
  target/linux/bcm47xx/patches-6.12/159-cpu_fixes.patch
  target/linux/bcm47xx/patches-6.12/280-activate_ssb_support_in_usb.patch
  target/linux/bcm47xx/patches-6.12/400-mtd-bcm47xxpart-get-nvram.patch
  target/linux/bcm47xx/patches-6.12/831-old_gpio_wdt.patch
Labels: target/bcm47xx, kernel

bcm47xx: enable 6.12 testing kernel
  target/linux/bcm47xx/Makefile
Labels: target/bcm47xx

kernel: b53: 6.12: fix no previous prototype error
  target/linux/generic/files/drivers/net/phy/b53/b53_common.c
  target/linux/generic/files/drivers/net/phy/b53/b53_mdio.c
  target/linux/generic/files/drivers/net/phy/b53/b53_phy_fixup.c
Labels: kernel

kernel/bcm47xx: Create kernel files for v6.12 (from v6.6)
  target/linux/bcm47xx/config-6.12
  target/linux/bcm47xx/patches-6.12/159-cpu_fixes.patch
  target/linux/bcm47xx/patches-6.12/209-b44-register-adm-switch.patch
  target/linux/bcm47xx/patches-6.12/210-b44_phy_fix.patch
  target/linux/bcm47xx/patches-6.12/280-activate_ssb_support_in_usb.patch
  target/linux/bcm47xx/patches-6.12/400-mtd-bcm47xxpart-get-nvram.patch
  target/linux/bcm47xx/patches-6.12/700-net-bgmac-connect-to-PHY-even-if-it-is-BGMAC_PHY_NOR.patch
  target/linux/bcm47xx/patches-6.12/791-tg3-no-pci-sleep.patch
  target/linux/bcm47xx/patches-6.12/800-bcma-add-table-of-serial-flashes-with-smaller-blocks.patch
  target/linux/bcm47xx/patches-6.12/820-wgt634u-nvram-fix.patch
  target/linux/bcm47xx/patches-6.12/830-huawei_e970_support.patch
  target/linux/bcm47xx/patches-6.12/831-old_gpio_wdt.patch
  target/linux/bcm47xx/patches-6.12/900-ssb-reject-PCI-writes-setting-CardBus-bridge-resourc.patch
  target/linux/bcm47xx/patches-6.12/940-bcm47xx-yenta.patch
  target/linux/bcm47xx/patches-6.12/976-ssb_increase_pci_delay.patch
Labels: target/bcm47xx, kernel

mediatek: Ruijie RG-X60 Pro: add OpenWrt U-Boot layout
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/465-add-ruijie-rg-x60-pro.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro-ubootmod.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

build: do not override common configure environment variables
  include/package-defaults.mk
Labels: build/scripts/tools

tools: gnulib: always use std-gnu23 module
  tools/gnulib/patches/195-c99-use-std-gnu23.patch
Labels: build/scripts/tools

tools: libtool: always install all auxillary files
  tools/libtool/patches/001-always-install-aux.patch
Labels: build/scripts/tools

gettext-full: remove usage of autoreconf
  package/libs/gettext-full/Makefile
Labels: core packages
