Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

tools/coreutils: add maintainer-clean to clean target
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools/coreutils: replace symlinks to build prerequisites
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools/coreutils: update to 9.6
  tools/coreutils/Makefile
  tools/coreutils/patches/000-bootstrap.patch
Labels: build/scripts/tools

tools/coreutils: do not require gperf or gettext
  tools/coreutils/patches/000-bootstrap.patch
Labels: build/scripts/tools

tools/coreutils: use automake during bootstrap
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools: require coreutils to build findutils
  tools/Makefile
Labels: build/scripts/tools

tools/coreutils: provide the rmdir utility
  tools/coreutils/Makefile
Labels: build/scripts/tools

prereq: add support for creating relative symlinks
  include/prereq.mk
Labels: build/scripts/tools

tools: build coreutils for development targets
  tools/Makefile
Labels: build/scripts/tools

tools: require coreutils to build elfutils
  tools/Makefile
Labels: build/scripts/tools

prereq: prefer existing built coreutils as symlink target
  include/prereq-build.mk
Labels: build/scripts/tools

tools/elfutils: backport version 0.192 portability patches
  tools/elfutils/patches/095-src-unused-variable.patch
  tools/elfutils/patches/096-lib-config_h.patch
  tools/elfutils/patches/097-libcpu-config_h.patch
  tools/elfutils/patches/098-libdw-maintainer-clean.patch
  tools/elfutils/patches/099-remove-unlocked-stdio.patch
  tools/elfutils/patches/100-portability.patch
  tools/elfutils/patches/101-shared-conditional.patch
  tools/elfutils/patches/110-objects-manifest.patch
Labels: build/scripts/tools

tools: require coreutils to build util-linux
  tools/Makefile
Labels: build/scripts/tools

tools/elfutils: add maintainer-clean to clean target
  tools/Makefile
  tools/elfutils/Makefile
Labels: build/scripts/tools

tools/automake: do not delete libtool in clean targets
  tools/automake/patches/999-clean-am.patch
Labels: build/scripts/tools

tools/elfutils: update MIPS support patches
  tools/elfutils/patches/010-backport-mips-support-reloc.patch
  tools/elfutils/patches/011-backport-mips-support-strip.patch
  tools/elfutils/patches/012-backport-mips-support-readelf.patch
  tools/elfutils/patches/013-backport-mips-support-elflint.patch
  tools/elfutils/patches/014-backport-mips-support-stack.patch
  tools/elfutils/patches/015-backport-mips-support-regs.patch
Labels: build/scripts/tools

tools/elfutils: replace dependency hack with upstream include fix
  tools/elfutils/Makefile
  tools/elfutils/patches/000-backport-iquote-include.patch
  tools/elfutils/patches/001-fix-backport-iquote-include.patch
  tools/elfutils/patches/100-portability.patch
Labels: build/scripts/tools

tools/gnulib: update to stable-202501
  tools/gnulib/Makefile
  tools/gnulib/patches/000-bootstrap.patch
  tools/gnulib/patches/010-autoconf-version.patch
  tools/gnulib/patches/150-portable-tdestroy.patch
  tools/gnulib/patches/160-flag-reallocarray.patch
  tools/gnulib/patches/200-force-disable-after-configure.patch
  tools/gnulib/patches/320-modules-fallocate-posix.patch
  tools/gnulib/patches/500-acl-function-name.patch
Labels: build/scripts/tools

nftables: remove usage of autoreconf
  package/network/utils/nftables/Makefile
Labels: core packages

tools/elfutils: update to 0.192
  tools/elfutils/Makefile
  tools/elfutils/patches/000-backport-iquote-include.patch
  tools/elfutils/patches/010-backport-mips-support-reloc.patch
  tools/elfutils/patches/012-backport-mips-support-readelf.patch
  tools/elfutils/patches/013-backport-mips-support-elflint.patch
  tools/elfutils/patches/014-backport-mips-support-stack.patch
  tools/elfutils/patches/015-backport-mips-support-regs.patch
  tools/elfutils/patches/095-src-unused-variable.patch
  tools/elfutils/patches/096-lib-config_h.patch
  tools/elfutils/patches/097-libcpu-config_h.patch
  tools/elfutils/patches/098-libdw-maintainer-clean.patch
  tools/elfutils/patches/099-remove-unlocked-stdio.patch
  tools/elfutils/patches/100-portability.patch
  tools/elfutils/patches/101-shared-conditional.patch
  tools/elfutils/patches/110-objects-manifest.patch
Labels: build/scripts/tools

tools/elfutils: enable parallel building
  tools/elfutils/Makefile
Labels: build/scripts/tools

tools/gnulib: backport patches for gettext
  tools/gnulib/patches/640-mem-hash-map.patch
  tools/gnulib/patches/645-next-prime.patch
  tools/gnulib/patches/646-hashcode-string.patch
  tools/gnulib/patches/647-hashkey-string.patch
  tools/gnulib/patches/650-package-version.patch
  tools/gnulib/patches/651-package-version-simplify.patch
  tools/gnulib/patches/652-package-version-simplify-further.patch
  tools/gnulib/patches/653-package-version-warning.patch
  tools/gnulib/patches/660-version-stamp.patch
  tools/gnulib/patches/689-vc-mtime.patch
  tools/gnulib/patches/755-clean-temp-hashkey.patch
  tools/gnulib/patches/795-string-desc-rename-functions.patch
  tools/gnulib/patches/796-vc-mtime-less-read.patch
  tools/gnulib/patches/797-vc-mtime-add-api.patch
  tools/gnulib/patches/798-vc-mtime-add-api.patch
  tools/gnulib/patches/799-vc-mtime-old-git.patch
  tools/gnulib/patches/900-str_startswith-module.patch
  tools/gnulib/patches/901-str_endswith-module.patch
Labels: build/scripts/tools

tools/automake: update to 1.18
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
  tools/automake/patches/100-aclocal-skip-not-existing-directories.patch
  tools/automake/patches/101-do-not-require-files.patch
  tools/automake/patches/300-output-TRUE-cond-first.patch
  tools/automake/patches/310-maintainer-clean-built_sources.patch
Labels: build/scripts/tools

gnulib-l10n: add package
  package/libs/gnulib-l10n/Makefile
Labels: core packages

gettext-full: update to 0.24.1
  package/libs/gettext-full/Makefile
  package/libs/gettext-full/patches/200-libunistring-missing-link.patch
Labels: core packages

uboot-mediatek: add Zyxel WX5600-T0 with uboot custom partition This access point is a ‘friend’ of the T56 supplied by Odido but with DDR3 RAM and with two Ethernet 2.5 (GPY211)
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/461-add-zyzel-wx5600-t0.patch
Labels: target/mediatek, core packages

mediatek: add Zyxel WX5600-T0 with uboot custom partition This access point is a ‘friend’ of the T56 supplied by Odido but with DDR3 RAM and with two Ethernet 2.5 (GPY211)
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7986b-zyxel-wx5600-t0-ubootmod.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

cli: add json data type
  package/utils/cli/files/usr/share/ucode/cli/types.uc
Labels: core packages

unetd: update to Git HEAD (2025-07-05)
  package/network/services/unetd/Makefile
  package/network/services/unetd/files/unet.uc
Labels: core packages

at91bootstrap: update at91bootstrap v4 targets to v4.0.11
  package/boot/at91bootstrap/Makefile
Labels: target/at91, core packages

uboot-mediatek: drop build without OpenSSL fix
  package/boot/uboot-mediatek/patches/130-fix-mkimage-host-build.patch
Labels: target/mediatek, core packages

opensbi: update tarball hash compressed by the zstd 1.5.7
  package/boot/opensbi/Makefile
Labels: target/d1, target/sifiveu, core packages

removed unbuildable kernel mod, changed custom feeds
  SideBar/10July2025-Diffconfig.config
  SideBar/10July2025-FullConfig.config
  package/system/apk/files/customfeeds.list
Labels: core packages

more menuconfig stuff
  SideBar/10July2025-Diffconfig.config
  SideBar/10July2025-FullConfig.config
Labels: none

more menuconfig stuff again
  SideBar/10July2025-Diffconfig.config
  SideBar/10July2025-FullConfig.config
Labels: none

more config tweaks
  SideBar/10July2025-Diffconfig.config
  SideBar/10July2025-FullConfig.config
Labels: none

kernel: bump 6.12 to 6.12.36
  target/linux/generic/backport-6.12/780-01-v6.13-r8169-remove-original-workaround-for-RTL8125-broken-.patch
  target/linux/generic/backport-6.12/780-02-v6.13-r8169-enable-SG-TSO-on-selected-chip-versions-per-de.patch
  target/linux/generic/backport-6.12/780-03-v6.13-r8169-implement-additional-ethtool-stats-ops.patch
  target/linux/generic/backport-6.12/780-04-v6.13-r8169-don-t-take-RTNL-lock-in-rtl_task.patch
  target/linux/generic/backport-6.12/780-05-v6.13-replace-custom-flag-with-disable_work-et-al.patch
  target/linux/generic/backport-6.12/780-07-v6.13-r8169-remove-rtl_dash_loop_wait_high-low.patch
  target/linux/generic/backport-6.12/780-09-v6.13-r8169-add-support-for-RTL8125D.patch
  target/linux/generic/backport-6.12/781-01-v6.13-net-phy-realtek-read-duplex-and-gbit-master-from-PHY.patch
  target/linux/generic/backport-6.12/781-02-v6.13-net-phy-realtek-change-order-of-calls-in-C22-read_st.patch
  target/linux/generic/backport-6.12/781-03-v6.13-net-phy-realtek-clear-1000Base-T-link-partner-advert.patch
  target/linux/generic/backport-6.12/781-04-v6.13-net-phy-realtek-merge-the-drivers-for-internal-NBase.patch
  target/linux/generic/backport-6.12/781-05-v6.13-net-phy-realtek-add-RTL8125D-internal-PHY.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

perf: disable shellcheck
  package/devel/perf/Makefile
Labels: core packages

perf: disable BUILD_BPF_SKEL
  package/devel/perf/Makefile
Labels: core packages

mediatek: add support for Cudy TR3000 256MB v1 flash version
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-256mb-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek
