Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

uboot-mediatek: CMCC RAX3000M: add ddr3 build
  package/boot/uboot-mediatek/Makefile
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

rockchip: add support for Radxa ROCK 5 ITX/ITX+
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

mediatek: filogic: fix 5G MAC address for Zyxel EX5601
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

mac80211: use https instead of http
  package/kernel/mac80211/Makefile
Labels: core packages

bcm2712: add kmod-r8169 and kmod-usb-net-rtl8152
  target/linux/bcm27xx/image/Makefile
Labels: target/bcm27xx

ramips: e390ax: remove redundant 02_network MACs
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

mediatek: filogic: Add label wan and cpu for Zyxel EX5601-T0
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

sunxi: enable at24 support
  target/linux/sunxi/config-6.12
  target/linux/sunxi/cortexa53/config-6.12
Labels: target/sunxi, kernel

kernel: r8168: add missing flags
  package/kernel/r8168/Makefile
Labels: core packages

kernel: backport patch to allow bpf fallback to interpreter
  target/linux/generic/backport-6.12/630-v6.17-bpf-Allow-fall-back-to-interpreter-for-programs-with.patch
Labels: kernel

ramips: switched TP-Link RE305 v1 to new partition layout
  target/linux/ramips/dts/mt7628an_tplink_re305-v1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/05_compat-version
Labels: target/ramips

airoha: backport upstream fixes for pinctrl PHY LED and MDIO
  target/linux/airoha/patches-6.6/091-01-v6.18-pinctrl-airoha-fix-wrong-PHY-LED-mux-value-for-LED1-.patch
  target/linux/airoha/patches-6.6/091-02-v6.18-pinctrl-airoha-fix-wrong-MDIO-function-bitmaks.patch
Labels: target/airoha

mediatek: filogic: use NVMEM for EEPROM/precal on NWA50AX Pro
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
Labels: target/mediatek

rockchip: increase the number of serial ports for rk35xx
  target/linux/rockchip/armv8/config-6.12
Labels: target/rockchip, kernel

mediatek: filogic: Zyxel EX5601-T0 dts cleanup
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-stock.dts
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-ubootmod.dts
Labels: target/mediatek

mediatek: filogic: fix fip partition size for Zyxel EX5601-T0
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-ubootmod.dts
Labels: target/mediatek

kernel: improve mtk_eth_soc performance
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/pending-6.12/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.12/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.12/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.12/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/generic/pending-6.6/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.6/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.6/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.6/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.6/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.6/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.6/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

ramips: mt7621: set mac address in dts for DBDC
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/dts/mt7621_dlink_dap-x1860-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-853-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dxx-1xx0-x1.dtsi
  target/linux/ramips/dts/mt7621_glinet_gl-mt1300.dts
  target/linux/ramips/dts/mt7621_keenetic_kn-1910.dts
  target/linux/ramips/dts/mt7621_mercusys_mr70x-v1.dts
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me2-sfp.dts
  target/linux/ramips/dts/mt7621_totolink_x5000r.dts
  target/linux/ramips/dts/mt7621_tplink_archer-ax23-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap613-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap615-wall-v1.dts
  target/linux/ramips/dts/mt7621_tplink_ex220-v1.dts
  target/linux/ramips/dts/mt7621_z-router_zr-2660.dts
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

mediatek: filogic: use NVMEM for wifi macaddr on NWA50AX Pro
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

loongarch64: switch to Linux 6.12 by default
  target/linux/loongarch64/Makefile
Labels: target/loongarch64

mt76: update to Git HEAD (2025-09-09)
  package/kernel/mt76/Makefile
  target/linux/generic/backport-6.12/731-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/generic/backport-6.6/752-31-v6.18-net-mediatek-wed-Introduce-MT7992-WED-support-to-MT7.patch
  target/linux/mediatek/patches-6.12/944-net-ethernet-mtk_wed-move-dlm-a-dedicated-dts-node.patch
Labels: target/mediatek, kernel, core packages

uboot-sunxi: randomize ethaddr on Olimex A20 boards
  package/boot/uboot-sunxi/patches/260-sunxi-a20-random-ethaddr-on-olinuxino-micro.patch
Labels: target/sunxi, core packages

realtek: cleanup mach include
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
Labels: target/realtek

libxml2: correct PKG_LICENSE_FILES
  package/libs/libxml2/Makefile
Labels: core packages

uboot-rockchip: add Fastrhino R66S support
  package/boot/uboot-rockchip/Makefile
  package/boot/uboot-rockchip/patches/100-board-rockchip-add-Lunzn-FastRhino-R66S.patch
  package/boot/uboot-rockchip/patches/111-rockchip-rk3588-generic-Enable-support-for-RK3582.patch
Labels: target/rockchip, core packages

econet: Add new target TP-Link Archer VR1200v (v2)
  target/linux/econet/dts/en751221_tplink_archer-vr1200v-v2.dts
  target/linux/econet/image/Makefile
Labels: none

econet: Add new target SmartFiber XP8421-B
  target/linux/econet/base-files/sbin/en75_chboot
  target/linux/econet/dts/en751221_smartfiber_xp8421-b.dts
  target/linux/econet/image/Makefile
  target/linux/econet/image/tclinux-trx.sh
Labels: none

rockchip: add Lunzn FastRhino R66S support
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.12/133-arm64-dts-rockchip-Update-LED-properties-for-Lunzn-Fastrh.patch
Labels: target/rockchip

rkbin: rename tpl-only target
  package/boot/rkbin/Makefile
  package/boot/uboot-rockchip/Makefile
Labels: target/rockchip, core packages

ath79: add nvmem handling for AR9285 devices
  target/linux/ath79/dts/ar7240_netgear_wnr1000-v2.dts
  target/linux/ath79/dts/ar7240_netgear_wnr612-v2.dtsi
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wa.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wa701nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa730re-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa801nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa830re-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa901nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wr740n-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr740n-v3.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr741-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr743nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr841-v5.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr941-v4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

rkbin: bump to latest git HEAD
  package/boot/rkbin/Makefile
  package/boot/uboot-rockchip/Makefile
Labels: target/rockchip, core packages

uboot-envtools: use ubootenv_add_mtd function
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
Labels: core packages

openssl: correct PKG_LICENSE_FILES
  package/libs/openssl/Makefile
Labels: core packages

kernel: Add new platform EcoNet MIPS
  target/linux/econet/Makefile
  target/linux/econet/dts/en751221.dtsi
  target/linux/econet/en751221/config-6.12
  target/linux/econet/en751221/profiles/00-default.mk
  target/linux/econet/en751221/target.mk
  target/linux/econet/files/drivers/mtd/nand/en75_bmt.c
  target/linux/econet/image/Makefile
  target/linux/econet/patches-6.12/001-v6.16-dt-bindings-interrupt-controller-Add-EcoNet-EN751221.patch
  target/linux/econet/patches-6.12/002-v6.16-irqchip-Add-EcoNet-EN751221-INTC.patch
  target/linux/econet/patches-6.12/003-v6.16-dt-bindings-vendor-prefixes-Add-EcoNet.patch
  target/linux/econet/patches-6.12/004-v6.16-dt-bindings-timer-Add-EcoNet-EN751221-HPT-CPU-Timer.patch
  target/linux/econet/patches-6.12/005-v6.16-clocksource-drivers-Add-EcoNet-Timer-HPT-driver.patch
  target/linux/econet/patches-6.12/006-v6.16-dt-bindings-mips-Add-EcoNet-platform-binding.patch
  target/linux/econet/patches-6.12/007-v6.16-mips-Add-EcoNet-MIPS-platform-support.patch
  target/linux/econet/patches-6.12/008-v6.16-dt-bindings-vendor-prefixes-Add-SmartFiber.patch
  target/linux/econet/patches-6.12/009-v6.16-mips-dts-Add-EcoNet-DTS-with-EN751221-and-SmartFiber.patch
  target/linux/econet/patches-6.12/010-v6.16-MAINTAINERS-Add-entry-for-newly-added-EcoNet-platfor.patch
  target/linux/econet/patches-6.12/011-v6.16-mips-econet-Fix-incorrect-Kconfig-dependencies.patch
  target/linux/econet/patches-6.12/300-spi-Add-support-for-the-Airoha-EN7523-SoC-SPI-contro.patch
  target/linux/econet/patches-6.12/301-spi-Airoha-adapt-to-support-en75-mips.patch
  target/linux/econet/patches-6.12/901-nand-enable-en75-bbt.patch
  target/linux/econet/patches-6.12/902-snand-mtk-bmt-support.patch
Labels: kernel

ath79: fix calibration size for AR9285
  target/linux/ath79/dts/ar7240_openmesh_om2p-v1.dts
Labels: target/ath79

mediatek: filogic: Add support for Totolink X6000R
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

mediatek: filogic: Totolink X6000R fixed lan ports & leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

mediatek: filogic: Totolink X6000R fixed lan ports & leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
Labels: target/mediatek

fixed wan port
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

fixed wan port
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek
