Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

qualcommbe: ipq95xx: Update PCS & PPE & QCA8084 drivers
  target/linux/qualcommbe/patches-6.12/0501-driver-net-pcs-Update-IPQ9574-PCS-driver.patch
  target/linux/qualcommbe/patches-6.12/0502-bitfield-Add-FIELD_MODIFY-helper.patch
  target/linux/qualcommbe/patches-6.12/0503-driver-net-qualcomm-Update-IPQ9574-PPE-driver.patch
  target/linux/qualcommbe/patches-6.12/0504-arm64-dts-ipq9574-Update-the-IPQ9574-RDP433-DTS.patch
  target/linux/qualcommbe/patches-6.12/0505-arm64-dts-qcom-ipq9574-Fix-l2-regulator-min-max-volt.patch
  target/linux/qualcommbe/patches-6.12/0506-arm64-dts-qcom-Update-PCS-nodes-for-ipq9570-kiwi-dvk.patch
  target/linux/qualcommbe/patches-6.12/0507-driver-net-phy-Update-QCA8084-PHY-driver.patch
  target/linux/qualcommbe/patches-6.12/0508-net-phy-Add-phy_package_remove_once-helper.patch
  target/linux/qualcommbe/patches-6.12/0509-net-phy-qca808x-Add-QCA8084-SerDes-probe-and-remove-.patch
  target/linux/qualcommbe/patches-6.12/0510-net-phy-qca808x-Add-QCA8084-SerDes-init-function.patch
  target/linux/qualcommbe/patches-6.12/0511-net-phy-qca808x-Add-QCA8084-SerDes-speed-config.patch
  target/linux/qualcommbe/patches-6.12/0512-arm64-dts-Add-RDP453-DTS.patch
Labels: target/qualcommbe

qualcommbe: ipq54xx: Add initial support for RDP466 Ethernet function
  target/linux/qualcommbe/patches-6.12/0601-dt-bindings-clock-qcom-Add-CMN-PLL-support-for-IPQ54.patch
  target/linux/qualcommbe/patches-6.12/0602-clk-qcom-cmnpll-Add-IPQ5424-SoC-support.patch
  target/linux/qualcommbe/patches-6.12/0603-arm64-dts-qcom-ipq5424-Add-CMN-PLL-node.patch
  target/linux/qualcommbe/patches-6.12/0604-arm64-dts-qcom-Update-IPQ5424-xo_board-to-use-fixed-.patch
  target/linux/qualcommbe/patches-6.12/0605-dt-bindings-net-pcs-Add-PCS-support-for-Qualcomm-IPQ.patch
  target/linux/qualcommbe/patches-6.12/0606-net-pcs-Add-PCS-driver-support-for-Qualcomm-IPQ5424-.patch
  target/linux/qualcommbe/patches-6.12/0607-clk-qcom-gcc-ipq5424-Correct-the-icc_first_node_id.patch
  target/linux/qualcommbe/patches-6.12/0608-dt-bindings-interconnect-Add-Qualcomm-IPQ5424-NSSNOC.patch
  target/linux/qualcommbe/patches-6.12/0609-clk-qcom-gcc-ipq5424-Enable-NSS-NoC-clocks-to-use-ic.patch
  target/linux/qualcommbe/patches-6.12/0610-dt-bindings-clock-gcc-ipq5424-Add-definition-for-GPL.patch
  target/linux/qualcommbe/patches-6.12/0611-clk-qcom-gcc-ipq5424-Add-gpll0_out_aux-clock.patch
  target/linux/qualcommbe/patches-6.12/0612-dt-bindings-clock-Add-required-interconnect-cells-pr.patch
  target/linux/qualcommbe/patches-6.12/0613-dt-bindings-clock-qcom-Add-NSS-clock-controller-for-.patch
  target/linux/qualcommbe/patches-6.12/0614-clk-qcom-Add-NSS-clock-controller-driver-for-IPQ5424.patch
  target/linux/qualcommbe/patches-6.12/0615-arm64-dts-qcom-ipq5424-Add-NSS-clock-controller-node.patch
  target/linux/qualcommbe/patches-6.12/0616-dt-bindings-net-Add-IPQ5424-PPE-support.patch
  target/linux/qualcommbe/patches-6.12/0617-driver-net-qcom-Add-IPQ5424-PPE-platform-support.patch
  target/linux/qualcommbe/patches-6.12/0618-driver-net-qualcomm-Add-IPQ5424-specific-PPE-configs.patch
  target/linux/qualcommbe/patches-6.12/0619-arm64-dts-qcom-ipq5424-Add-PCS-device-tree-support.patch
  target/linux/qualcommbe/patches-6.12/0620-arm64-dts-qcom-Add-IPQ5424-PPE-node.patch
  target/linux/qualcommbe/patches-6.12/0621-arm64-dts-ipq5424-Add-MDIO-node.patch
  target/linux/qualcommbe/patches-6.12/0622-arm64-dts-qcom-Add-IPQ5424-RDP466-port-node.patch
  target/linux/qualcommbe/patches-6.12/0623-dt-bindings-net-Add-IPQ5424-PPE-EDMA-support.patch
  target/linux/qualcommbe/patches-6.12/0624-net-ethernet-qualcomm-Add-EDMA-support-for-QCOM-IPQ5.patch
  target/linux/qualcommbe/patches-6.12/0625-arm64-dts-qcom-Add-EDMA-node-for-IPQ5424.patch
  target/linux/qualcommbe/patches-6.12/0626-dt-bindings-net-Document-Qualcomm-QCA8386-PCS-device.patch
  target/linux/qualcommbe/patches-6.12/0627-net-pcs-Add-QCA8386-PCS-module.patch
  target/linux/qualcommbe/patches-6.12/0628-dt-bindings-net-dsa-qca8k-add-qca8386-support.patch
  target/linux/qualcommbe/patches-6.12/0629-net-dsa-qca8k-support-qca8386-regiser-access-functio.patch
  target/linux/qualcommbe/patches-6.12/0630-net-dsa-qca8k-support-qca8386-specific-config.patch
  target/linux/qualcommbe/patches-6.12/0631-net-dsa-qca8k-Parse-qca8386-clock-and-reset.patch
  target/linux/qualcommbe/patches-6.12/0632-net-dsa-qca8k-Add-QCA8386-PCS-support.patch
  target/linux/qualcommbe/patches-6.12/0633-arm64-dts-qcom-Add-QCA8084-PHY-package-node.patch
  target/linux/qualcommbe/patches-6.12/0634-arm64-dts-qcom-Add-QCA8386-switch-node.patch
  target/linux/qualcommbe/patches-6.12/0635-arm64-dts-qcom-Update-edma-reset-name.patch
  target/linux/qualcommbe/patches-6.12/0636-driver-net-phy-Add-QCA81XX-support.patch
Labels: target/qualcommbe

qualcommbe: ipq54xx: Enable RDP487 Ethernet function
  target/linux/qualcommbe/patches-6.12/0637-arm64-dts-ipq5424-rdp487-Add-Ethernet-related-DTS-no.patch
Labels: target/qualcommbe

qualcommbe: ipq95xx: Update the default configs
  target/linux/qualcommbe/ipq95xx/config-default
Labels: target/qualcommbe, kernel

Revert "kernel: improve mtk_eth_soc performance"
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/pending-6.12/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.12/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.12/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.12/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
  target/linux/generic/pending-6.6/732-02-net-ethernet-mtk_eth_soc-set-NETIF_F_ALL_TSO.patch
  target/linux/generic/pending-6.6/732-03-net-ethernet-mtk_eth_soc-optimize-dma-ring-address-i.patch
  target/linux/generic/pending-6.6/732-04-net-ethernet-mtk_eth_soc-shrink-struct-mtk_tx_buf.patch
  target/linux/generic/pending-6.6/732-05-net-ethernet-mtk_eth_soc-add-support-for-sending-fra.patch
  target/linux/generic/pending-6.6/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.6/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.6/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.6/742-net-ethernet-mtk_eth_soc-fix-tx-vlan-tag-for-llc-pac.patch
Labels: kernel

ramips: fix wrong CRLF line-ending
  target/linux/ramips/dts/mt7621_arcadyan_we410443.dts
  target/linux/ramips/patches-6.12/900-pci-rt2880-static-pcibios_init.patch
Labels: target/ramips

mediatek: filogic: add support for ipTIME AX3000M
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-iptime-ax3000m.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

kernel: bump 6.12 to 6.12.45
  target/linux/bcm27xx/patches-6.12/950-0132-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.12/950-0347-net-macb-Also-set-DMA-coherent-mask.patch
  target/linux/bcm27xx/patches-6.12/950-0356-pinctrl-Add-rp1-driver.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.12/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.12/720-09-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/kernel-6.12
  target/linux/mediatek/patches-6.12/051-v6.17-thermal-drivers-mediatek-lvts_thermal-Change-lvts-co.patch
  target/linux/mediatek/patches-6.12/052-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-lvts-comma.patch
  target/linux/mediatek/patches-6.12/053-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-lvt.patch
  target/linux/qualcommbe/patches-6.12/0010-v6.14-net-phy-add-phy_inband_caps.patch
  target/linux/starfive/patches-6.12/1011-net-stmmac-use-GFP_DMA32.patch
Labels: target/bcm27xx, target/qualcommbe, target/mediatek, target/starfive, kernel

lantiq: adapt upstream commit to some dts files
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/amazonse.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube.dtsi
Labels: target/lantiq, kernel

kernel: leds: triggers for LAN and WLAN
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.12/820-ledtrig-net-modules.patch
  target/linux/generic/hack-6.6/820-ledtrig-net-modules.patch
Labels: kernel

bcm27xx: refresh patches
  target/linux/bcm27xx/patches-6.12/950-0189-leds-Add-the-actpwr-trigger.patch
Labels: target/bcm27xx

mediatek: add support for AsiaRF AP7622-WH1
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
  target/linux/mediatek/image/mt7622.mk
Labels: target/mediatek

wifi-scripts: allow sae_password_file to be configured
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.12/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.12/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.12/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.12/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
  target/linux/generic/pending-6.6/861-01-bitfield-add-field-width.patch
  target/linux/generic/pending-6.6/861-02-net-dsa-realtek-rtl8365mb-table-access-functions.patch
  target/linux/generic/pending-6.6/861-03-net-dsa-realtek-rtl8365mb-add-vlan-support.patch
  target/linux/generic/pending-6.6/861-04-net-dsa-realtek-rtl8365mb-forwarding-offload.patch
  target/linux/generic/pending-6.6/861-05-net-dsa-realtek-rtl8365mb-initialize-VLAN-at-setup.patch
Labels: kernel

x86/64: enable some performance related options
  target/linux/x86/64/config-6.12
Labels: target/x86, kernel

ramips: add support for Zbtlink ZBT-WG108
  target/linux/ramips/dts/mt7621_zbtlink_zbt-wg108.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

wifi-scripts: ucode: add SAE support for wifi-station and PPSK
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-iface.json
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
Labels: core packages

mediatek: filogic: add Keenetic Sprinter (KN-3711) support
  target/linux/mediatek/dts/mt7981b-keenetic-kn-3711.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

sun6i_csi: add kernel module This is adding SUN6I-CSI driver for AllWinner platform
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

uboot-envtools: use ubootenv_add_mtd function
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
Labels: core packages

mpc85xx: copy config and patches
  target/linux/mpc85xx/config-6.12
  target/linux/mpc85xx/patches-6.12/001-powerpc-85xx-add-gpio-keys-to-of-match-table.patch
  target/linux/mpc85xx/patches-6.12/010-powerpc-add-compressed-zImage-for-mpc85xx.patch
  target/linux/mpc85xx/patches-6.12/100-powerpc-85xx-tl-wdr4900-v1-support.patch
  target/linux/mpc85xx/patches-6.12/101-powerpc-85xx-hiveap-330-support.patch
  target/linux/mpc85xx/patches-6.12/102-powerpc-add-cmdline-override.patch
  target/linux/mpc85xx/patches-6.12/103-powerpc-85xx-red-15w-rev1.patch
  target/linux/mpc85xx/patches-6.12/104-powerpc-mpc85xx-change-P2020RDB-dts-file-for-OpenWRT.patch
  target/linux/mpc85xx/patches-6.12/105-powerpc-85xx-panda-support.patch
  target/linux/mpc85xx/patches-6.12/106-powerpc-85xx-ws-ap3710i-support.patch
  target/linux/mpc85xx/patches-6.12/107-powerpc-85xx-add-ws-ap3825i-support.patch
  target/linux/mpc85xx/patches-6.12/108-powerpc-85xx-firebox-t10-support.patch.patch
  target/linux/mpc85xx/patches-6.12/109-powerpc-85xx-add-ws-ap3715i-support.patch
  target/linux/mpc85xx/patches-6.12/110-powerpc-85xx-br200-wp-support.patch
  target/linux/mpc85xx/patches-6.12/111-powerpc-85xx-hpe-msm-support.patch
  target/linux/mpc85xx/patches-6.12/150-arch-powerpc-simpleboot-prevent-overwrite-of-CPU1-sp.patch
  target/linux/mpc85xx/patches-6.12/900-powerpc-bootwrapper-disable-uImage-generation.patch
Labels: target/mpc85xx, kernel

mpc85xx: introduce 6.12 testing kernel
  target/linux/mpc85xx/Makefile
Labels: target/mpc85xx

mpc85xx: refresh kernel 6.12 patches
  target/linux/mpc85xx/patches-6.12/010-powerpc-add-compressed-zImage-for-mpc85xx.patch
  target/linux/mpc85xx/patches-6.12/100-powerpc-85xx-tl-wdr4900-v1-support.patch
  target/linux/mpc85xx/patches-6.12/101-powerpc-85xx-hiveap-330-support.patch
  target/linux/mpc85xx/patches-6.12/102-powerpc-add-cmdline-override.patch
  target/linux/mpc85xx/patches-6.12/106-powerpc-85xx-ws-ap3710i-support.patch
  target/linux/mpc85xx/patches-6.12/107-powerpc-85xx-add-ws-ap3825i-support.patch
  target/linux/mpc85xx/patches-6.12/109-powerpc-85xx-add-ws-ap3715i-support.patch
  target/linux/mpc85xx/patches-6.12/110-powerpc-85xx-br200-wp-support.patch
  target/linux/mpc85xx/patches-6.12/900-powerpc-bootwrapper-disable-uImage-generation.patch
Labels: target/mpc85xx

mpc85xx: use strscpy instead of strlcpy
  target/linux/mpc85xx/patches-6.12/102-powerpc-add-cmdline-override.patch
Labels: target/mpc85xx

mpc85xx: refresh kernel config
  target/linux/mpc85xx/config-6.12
Labels: target/mpc85xx, kernel

generic: Refresh rtl8261n patch
  target/linux/generic/hack-6.12/735-net-phy-realtek-rtl8261n.patch
Labels: kernel

realtek: RTL93xx: Make use of correct ring size counters
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: RTL93xx: do not drop packets in software
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: make NAPI polling thread safe
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

ramips: fix wrong CRLF line-ending
  target/linux/ramips/dts/mt7621_arcadyan_we410443.dts
  target/linux/ramips/patches-6.12/900-pci-rt2880-static-pcibios_init.patch
Labels: target/ramips

realtek: early ethernet probe in dsa setup
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: carve out mdio bus from ethernet driver
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/mdio/mdio-realtek-otto.c
  target/linux/realtek/patches-6.12/806-add-mdio-driver.patch
  target/linux/realtek/rtl838x/config-6.12
  target/linux/realtek/rtl839x/config-6.12
  target/linux/realtek/rtl930x/config-6.12
  target/linux/realtek/rtl930x_nand/config-6.12
  target/linux/realtek/rtl931x/config-6.12
  target/linux/realtek/rtl931x_nand/config-6.12
Labels: target/realtek, kernel

kernel: bump 6.12 to 6.12.45
  target/linux/bcm27xx/patches-6.12/950-0132-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.12/950-0347-net-macb-Also-set-DMA-coherent-mask.patch
  target/linux/bcm27xx/patches-6.12/950-0356-pinctrl-Add-rp1-driver.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.12/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.12/720-09-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/kernel-6.12
  target/linux/mediatek/patches-6.12/051-v6.17-thermal-drivers-mediatek-lvts_thermal-Change-lvts-co.patch
  target/linux/mediatek/patches-6.12/052-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-lvts-comma.patch
  target/linux/mediatek/patches-6.12/053-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-lvt.patch
  target/linux/qualcommbe/patches-6.12/0010-v6.14-net-phy-add-phy_inband_caps.patch
  target/linux/starfive/patches-6.12/1011-net-stmmac-use-GFP_DMA32.patch
Labels: target/bcm27xx, target/qualcommbe, target/mediatek, target/starfive, kernel

lantiq: adapt upstream commit to some dts files
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/amazonse.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube.dtsi
Labels: target/lantiq, kernel

kernel: bump 6.6 to 6.6.104
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.6/771-v6.7-01-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/kernel-6.6
Labels: kernel

mediatek: Huasifei WH3000 Pro wifi fix
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

rockchip: add support for Radxa ROCK 5C/5C Lite
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

rockchip: add support for Radxa ROCK 5 ITX/ITX+
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip, core packages

rockchip: backport dts changes for Radxa ROCK 5A
  target/linux/rockchip/patches-6.12/001-01-v6.13-arm64-dts-rockchip-add-and-enable-gpu-node-for-Radxa.patch
  target/linux/rockchip/patches-6.12/001-02-v6.13-arm64-dts-rockchip-Enable-HDMI0-on-rock-5a.patch
  target/linux/rockchip/patches-6.12/001-03-v6.13-arm64-dts-rockchip-sort-rk3588s-rock5a-properly-in-M.patch
  target/linux/rockchip/patches-6.12/001-04-v6.13-arm64-dts-rockchip-adapt-regulator-nodenames-to-pref.patch
  target/linux/rockchip/patches-6.12/001-05-v6.15-arm64-dts-rockchip-Fix-label-name-of-hdptxphy-for-RK.patch
  target/linux/rockchip/patches-6.12/001-06-v6.15-arm64-dts-rockchip-Add-GPU-power-domain-regulator-de.patch
  target/linux/rockchip/patches-6.12/116-arm64-dts-rockchip-Update-LED-properties-for-Radxa-Ro.patch
  target/linux/rockchip/patches-6.12/117-arm64-dts-rockchip-lower-mmc-speed-for-Radxa-Rock-5A.patch
Labels: target/rockchip

rockchip: backport dts changes for Rockchip RK358x
  target/linux/rockchip/patches-6.12/000-01-v6.13-arm64-dts-rockchip-Split-up-RK3588-s-PCIe-pinctrls.patch
  target/linux/rockchip/patches-6.12/000-02-v6.13-arm64-dts-rockchip-Add-HDMI0-node-to-rk3588.patch
  target/linux/rockchip/patches-6.12/000-03-v6.15-arm64-dts-rockchip-Use-dma-noncoherent-in-base-RK358.patch
  target/linux/rockchip/patches-6.12/000-04-v6.15-arm64-dts-rockchip-Enable-HDMI0-PHY-clk-provider-on-.patch
  target/linux/rockchip/patches-6.12/000-05-v6.15-arm64-dts-rockchip-Add-HDMI0-PHY-PLL-clock-source-to.patch
  target/linux/rockchip/patches-6.12/000-06-v6.15-arm64-dts-rockchip-Fix-label-name-of-hdptxphy-for-RK.patch
  target/linux/rockchip/patches-6.12/000-07-v6.15-arm64-dts-rockchip-Add-PHY-node-for-HDMI1-TX-port-on.patch
  target/linux/rockchip/patches-6.12/000-08-v6.15-arm64-dts-rockchip-Add-HDMI1-node-on-RK3588.patch
  target/linux/rockchip/patches-6.12/000-09-v6.15-arm64-dts-rockchip-Enable-HDMI1-PHY-clk-provider-on-.patch
  target/linux/rockchip/patches-6.12/000-10-v6.15-arm64-dts-rockchip-Add-HDMI1-PHY-PLL-clock-source-to.patch
  target/linux/rockchip/patches-6.12/000-11-v6.15-arm64-dts-rockchip-Add-HDMI-audio-outputs-for-rk3588.patch
  target/linux/rockchip/patches-6.12/000-12-v6.15-arm64-dts-rockchip-Add-GPU-power-domain-regulator-de.patch
  target/linux/rockchip/patches-6.12/000-13-v6.15-arm64-dts-rockchip-Add-device-tree-support-for-HDMI-.patch
  target/linux/rockchip/patches-6.12/057-09-v6.15-arm64-dts-rockchip-Add-rng-node-to-RK3588.patch
  target/linux/rockchip/patches-6.12/057-10-v6.15-arm64-dts-rockchip-change-rng-reset-id-back-to-its-c.patch
  target/linux/rockchip/patches-6.12/117-arm64-dts-rockchip-lower-mmc-speed-for-Radxa-Rock-5A.patch
Labels: target/rockchip

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
