Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

realtek: XGS1210-12: convert RTL8226 PHYs to 2500base-x
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12.dts
Labels: target/realtek

generic: fix c45 soft reset for RTL8221B
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
Labels: kernel

ath79: fix calibration size for AR9285
  target/linux/ath79/dts/ar7240_openmesh_om2p-v1.dts
Labels: target/ath79

realtek: allow different serdes patch sequences
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: add 2500base-x patch sequence.
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

ath79: add nvmem handling for AR9285 devices
  target/linux/ath79/dts/ar7240_netgear_wnr1000-v2.dts
  target/linux/ath79/dts/ar7240_netgear_wnr612-v2.dtsi
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wa.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wa701nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa730re-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa801nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa830re-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wa901nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr.dtsi
  target/linux/ath79/dts/ar7240_tplink_tl-wr740n-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr740n-v3.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr741-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr743nd-v1.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr841-v5.dts
  target/linux/ath79/dts/ar7240_tplink_tl-wr941-v4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: engenius: remove userspace label mac
  target/linux/ath79/dts/ar9341_engenius_eap300-v2.dts
  target/linux/ath79/dts/ar9341_engenius_ens202ext-v1.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: ws-ap3705i: use nvmem
  target/linux/ath79/dts/ar9344_enterasys_ws-ap3705i.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: wd,mynet-nxxx: use ascii nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: ecb1xxx: use nvmem
  target/linux/ath79/dts/qca955x_engenius_ecb1xxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dir-505: use nvmem
  target/linux/ath79/dts/ar9330_dlink_dir-505.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: tew-673gru: use nvmem
  target/linux/ath79/dts/ar7161_trendnet_tew-673gru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: enable CONFIG_NVMEM_LAYOUT_ASCII_ENV
  target/linux/ath79/config-6.12
Labels: target/ath79, kernel

ath79: wd,mynet-nxxx: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-nxxx.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dir-842: use nvmem
  target/linux/ath79/dts/qca9563_dlink_dir-842-c.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: engenius,eXXX: use nvmem
  target/linux/ath79/dts/qca9557_engenius_esr1200.dts
  target/linux/ath79/dts/qca9558_engenius_epg5000.dts
  target/linux/ath79/dts/qca9558_engenius_esr1750.dts
  target/linux/ath79/dts/qca9558_engenius_esr900.dts
  target/linux/ath79/dts/qca955x_senao_router-dual.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
Labels: target/ath79

ath79: ws-ap3805i: use nvmem
  target/linux/ath79/dts/qca9557_extreme-networks_ws-ap3805i.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: dir-8x5: use nvmem
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: ews511ap: use nvmewm
  target/linux/ath79/dts/qca9531_engenius_ews511ap.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: replace various mtd_get_mac_text
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ac.dts
  target/linux/ath79/dts/ar9342_zyxel_nwa1123-ni.dts
  target/linux/ath79/dts/qca9531_dlink_dch-g020-a1.dts
  target/linux/ath79/dts/qca9533_dlink_dap-13xx.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

ath79: sitecom,wlrx100: use nvmem
  target/linux/ath79/dts/ar1022_sitecom_wlr-7100.dts
  target/linux/ath79/dts/qca9558_sitecom_wlr-8100.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

ath79: mynet-wifi-rangeextender: use nvmem
  target/linux/ath79/dts/ar9344_wd_mynet-wifi-rangeextender.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/config-default
  target/linux/ath79/image/generic.mk
Labels: target/ath79, kernel

ath79: alfa: remove label mac override
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

ath79: userspace cal to nvmem
  target/linux/ath79/dts/ar7161_buffalo_wzr-hp-ag300h.dtsi
  target/linux/ath79/dts/ar7161_meraki_mr16.dts
  target/linux/ath79/dts/ar7240_buffalo_whr-g301n.dts
  target/linux/ath79/dts/ar7240_engenius_enh202-v1.dts
  target/linux/ath79/dts/ar7240_tplink.dtsi
  target/linux/ath79/dts/ar7240_ubnt_bullet-m-ar7240.dts
  target/linux/ath79/dts/ar7241_netgear_wnr2000-v3.dts
  target/linux/ath79/dts/ar7241_tplink.dtsi
  target/linux/ath79/dts/ar7241_tplink_tl-mr3220-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-mr3420-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr841-v7.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr842n-v1.dts
  target/linux/ath79/dts/ar7241_ubnt_airrouter.dts
  target/linux/ath79/dts/ar7241_ubnt_bullet-m-ar7241.dts
  target/linux/ath79/dts/ar7241_ubnt_nanobridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-loco-m.dts
  target/linux/ath79/dts/ar7241_ubnt_nanostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_picostation-m.dts
  target/linux/ath79/dts/ar7241_ubnt_powerbridge-m.dts
  target/linux/ath79/dts/ar7241_ubnt_rocket-m.dts
  target/linux/ath79/dts/ar7242_buffalo_wzr-hp-g450h.dts
  target/linux/ath79/dts/ar7242_engenius_eap350-v1.dts
  target/linux/ath79/dts/ar7242_engenius_ecb350-v1.dts
  target/linux/ath79/dts/ar7242_meraki_mr12.dts
  target/linux/ath79/dts/ar724x_ubnt_xm.dtsi
  target/linux/ath79/dts/qca9531_asus_rp-ac51.dts
  target/linux/ath79/dts/qca9563_asus_pl-ac56.dts
  target/linux/ath79/dts/qca9563_asus_rp-ac66.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

hostapd: Include DS parameter set element in 5GHz
  package/network/services/hostapd/patches/750-include-DS-parameter-set-element-in-5-GHz.patch
  package/network/services/hostapd/patches/762-AP-don-t-ignore-probe-requests-with-invalid-DSSS-par.patch
Labels: core packages

bcm53xx: update patch for upstream changes
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
Labels: target/bcm53xx

realtek: RTL838x: remove artifical mdio delays
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: convert access to RTL931x "digital 1" serdes pages
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: convert access to RTL931x "digital 2" serdes pages
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: convert access to RTL931x "even CMU" serdes pages
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: adapt RTl931x "digital 2" serdes page calculation
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

kernel: leds: triggers for LAN and WLAN
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.12/999-ledtrig.patch
  target/linux/generic/hack-6.6/999-ledtrig.patch
Labels: kernel

pcre2: bump to 10.46
  package/libs/pcre2/Makefile
Labels: core packages

bcm27xx: refresh patches
  target/linux/bcm27xx/patches-6.12/950-0189-leds-Add-the-actpwr-trigger.patch
Labels: target/bcm27xx

ramips: mt76x8: add support for Keenetic Extra (KN-1714)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1714.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

kernel: bump 6.12 to 6.12.44
  target/linux/bcm27xx/patches-6.12/950-0124-usb-add-plumbing-for-updating-interrupt-endpoint-int.patch
  target/linux/bcm27xx/patches-6.12/950-0125-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-6.12/950-0335-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.12/950-0364-drm-Add-RP1-DSI-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0480-media-pisp_be-Re-introduce-multi-context-support.patch
  target/linux/bcm27xx/patches-6.12/950-0950-usb-xhci-default-to-Intel-scheme-for-calculating-U1-.patch
  target/linux/generic/backport-6.12/220-v6.16-powerpc-boot-fix-build-with-gcc-15.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.12/720-09-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/100-compiler.h-only-include-asm-rwonce.h-for-kernel-code.patch
  target/linux/generic/pending-6.12/487-mtd-spinand-Add-support-for-Etron-EM73D044VCx.patch
  target/linux/generic/pending-6.12/736-04-net-ethernet-mediatek-fix-ppe-flow-accounting-for-L2.patch
  target/linux/generic/pending-6.12/790-bus-mhi-core-add-SBL-state-callback.patch
  target/linux/imx/patches-6.12/506-6.16-PCI-imx6-Skip-link-up-workaround-for-newer-platforms.patch
  target/linux/imx/patches-6.12/506-pending-PCI-imx6-Remove-apps_reset-toggle-in-_core_reset-function.patch
  target/linux/ipq40xx/patches-6.12/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/mediatek/patches-6.12/121-hack-spi-nand-1b-bbm.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/410-bt-mtk-serial-fix.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
  target/linux/qualcommax/patches-6.12/0812-soc-qcom-mdt_loader-support-MPD.patch
  target/linux/starfive/patches-6.12/0009-uart-8250-Add-dw-auto-flow-ctrl-support.patch
Labels: target/bcm27xx, target/imx, target/ipq40xx, target/qualcommax, target/mediatek, target/starfive, kernel

bcm53xx: add device tree for ASUS RT-AC3200
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
Labels: target/bcm53xx

bcm53xx: add device tree for ASUS RT-AC5300
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx

package/nvram: add ASUS RT-AC3200 defaults and firstboot init
  package/utils/nvram/Makefile
  package/utils/nvram/files/04-nvram-firstboot
  package/utils/nvram/files/nvram-bcm53xx.init
Labels: core packages

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
