Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

wifi-scripts: ucode: set default wildcard mac for wifi-station
  package/network/config/wifi-scripts/files-ucode/lib/netifd/wireless/mac80211.sh
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-station.json
Labels: core packages

wifi-scripts: ucode: fix dynamic_vlan value handling
  package/network/config/wifi-scripts/files-ucode/usr/share/schema/wireless.wifi-iface.json
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/ap.uc
Labels: core packages

wifi-scripts: ucode: print unknown ssid as unknown
  package/network/config/wifi-scripts/files-ucode/usr/bin/iwinfo
Labels: core packages

kernel: Fix kernel regression in local-broadcast routes
  target/linux/generic/backport-6.12/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
Labels: kernel

mediatek: add Zyxel WX5600-T0 with uboot custom partition This access point is a ‘friend’ of the T56 supplied by Odido but with DDR3 RAM and with two Ethernet 2.5 (GPY211)
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7986b-zyxel-wx5600-t0-ubootmod.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, core packages

uboot-mediatek: add Zyxel WX5600-T0 with uboot custom partition This access point is a ‘friend’ of the T56 supplied by Odido but with DDR3 RAM and with two Ethernet 2.5 (GPY211)
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/461-add-zyzel-wx5600-t0.patch
Labels: target/mediatek, core packages

kernel: leds: triggers for LAN and WLAN
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.12/999-ledtrig.patch
  target/linux/generic/hack-6.6/999-ledtrig.patch
Labels: kernel

bcm27xx: refresh patches
  target/linux/bcm27xx/patches-6.12/950-0189-leds-Add-the-actpwr-trigger.patch
Labels: target/bcm27xx

mediatek: filogic: add support for ipTIME AX3000Q
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: Fix kernel regression in local-broadcast routes
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
Labels: kernel

mediatek: add factory image for ipTIME AX3000SM
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

realtek: fix model for TP-Link TL-ST1008F v2.0
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/etc/uci-defaults/99_fwenv-store-ethaddr
  target/linux/realtek/dts/rtl9303_tplink_tl-st1008f-v2.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

firmware: Add support for Aeonsemi AS21xxx firmware
  package/firmware/linux-firmware/aeonsemi.mk
Labels: core packages

airoha: replace thermal patch with upstream version
  target/linux/airoha/patches-6.6/049-01-v6.16-thermal-drivers-Add-support-for-Airoha-EN7581-therma.patch
  target/linux/airoha/patches-6.6/049-02-v6.16-thermal-drivers-airoha-Fix-spelling-mistake.patch
  target/linux/airoha/patches-6.6/101-01-thermal-of-Add-devm_thermal_of_zone_register_with_pa.patch
Labels: target/airoha

generic: backport support for Aeonsemi AS21xxx PHY
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.12/782-01-v6.16-net-phy-pass-PHY-driver-to-.match_phy_device-OP.patch
  target/linux/generic/backport-6.12/782-04-v6.16-net-phy-introduce-genphy_match_phy_device.patch
  target/linux/generic/backport-6.12/782-05-v6.16-net-phy-Add-support-for-Aeonsemi-AS21xxx-PHYs.patch
  target/linux/generic/backport-6.6/782-01-v6.16-net-phy-pass-PHY-driver-to-.match_phy_device-OP.patch
  target/linux/generic/backport-6.6/782-04-v6.16-net-phy-introduce-genphy_match_phy_device.patch
  target/linux/generic/backport-6.6/782-05-v6.16-net-phy-Add-support-for-Aeonsemi-AS21xxx-PHYs.patch
  target/linux/generic/backport-6.6/798-v6.10-01-net-phy-air_en8811h-Add-the-Airoha-EN8811H-PHY-drive.patch
  target/linux/generic/backport-6.6/832-v6.7-net-phy-amd-Support-the-Altima-AMI101L.patch
  target/linux/generic/backport-6.6/835-v6.9-net-phy-add-support-for-PHY-LEDs-polarity-modes.patch
  target/linux/generic/backport-6.6/841-v6.13-net-phy-support-active-high-property-for-PHY-LEDs.patch
  target/linux/generic/backport-6.6/895-01-v6.8-net-phy-add-possible-interfaces.patch
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.12/700-swconfig_switch_drivers.patch
  target/linux/generic/hack-6.12/735-net-phy-realtek-rtl8261n.patch
  target/linux/generic/hack-6.6/700-swconfig_switch_drivers.patch
  target/linux/generic/hack-6.6/735-net-phy-realtek-rtl8261n.patch
  target/linux/generic/pending-6.12/703-phy-add-detach-callback-to-struct-phy_driver.patch
  target/linux/generic/pending-6.12/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.12/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.12/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.12/741-net-phy-broadcom-update-dependency-condition.patch
  target/linux/generic/pending-6.6/703-phy-add-detach-callback-to-struct-phy_driver.patch
  target/linux/generic/pending-6.6/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.6/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.6/741-net-phy-broadcom-update-dependency-condition.patch
  target/linux/mediatek/patches-6.12/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.12/734-net-phy-add-Airoha-EN8801SC-PHY.patch
  target/linux/mediatek/patches-6.12/737-net-dsa-add-Airoha-AN8855.patch
  target/linux/mediatek/patches-6.12/739-net-add-negotiation-of-in-band-capabilities.patch
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/patches-6.12/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/realtek/patches-6.12/720-add-rtl-phy.patch
  target/linux/siflower/patches-6.6/001-net-phy-c45-add-genphy_c45_pma_read_ext_abilities-fu.patch
  target/linux/siflower/patches-6.6/019-net-phy-add-support-for-Siflower-SF23P1211-SF23P1240.patch
Labels: target/mediatek, target/realtek, target/siflower, kernel, core packages

firmware: Add support for Airoha EN7581 NPU firmware
  package/firmware/linux-firmware/airoha.mk
Labels: core packages

generic: reintroduce Mediatek PHY patch to backport directory
  target/linux/generic/backport-6.6/741-v6.13-01-net-phy-mediatek-ge-soc-Fix-coding-style.patch
  target/linux/generic/backport-6.6/741-v6.13-02-net-phy-mediatek-ge-soc-Shrink-line-wrapping-to-80-c.patch
  target/linux/generic/backport-6.6/741-v6.13-03-net-phy-mediatek-ge-soc-Propagate-error-code-correct.patch
  target/linux/generic/backport-6.6/742-v6.13-net-phy-mediatek-Re-organize-MediaTek-ethernet-phy-d.patch
  target/linux/generic/backport-6.6/743-v6.13-net-phy-mediatek-Move-LED-helper-functions-into-mtk-.patch
  target/linux/generic/backport-6.6/744-v6.13-net-phy-mediatek-Integrate-read-write-page-helper-fu.patch
  target/linux/generic/backport-6.6/745-v6.13-net-phy-mediatek-add-MT7530-MT7531-s-PHY-ID-macros.patch
  target/linux/generic/backport-6.6/746-v6.15-01-net-phy-mediatek-Change-to-more-meaningful-macros.patch
  target/linux/generic/backport-6.6/746-v6.15-02-net-phy-mediatek-Add-token-ring-access-helper-functi.patch
  target/linux/generic/backport-6.6/746-v6.15-03-net-phy-mediatek-Add-token-ring-set-bit-operation-su.patch
  target/linux/generic/backport-6.6/746-v6.15-04-net-phy-mediatek-Add-token-ring-clear-bit-operation-.patch
  target/linux/generic/backport-6.6/746-v6.15-05-net-phy-mediatek-Move-some-macros-to-phy-lib-for-lat.patch
  target/linux/generic/backport-6.6/747-v6.16-01-net-phy-mediatek-permit-to-compile-test-GE-SOC-PHY-d.patch
  target/linux/generic/backport-6.6/781-24-v6.14-net-phy-move-realtek-PHY-driver-to-its-own-subdirect.patch
  target/linux/generic/hack-6.6/735-net-phy-realtek-rtl8261n.patch
  target/linux/generic/hack-6.6/766-net-phy-mediatek-ge-add-LED-configuration-interface.patch
Labels: kernel

airoha: backport patch adding support for AN7581 Ethernet PHY
  target/linux/airoha/patches-6.6/060-v6.16-02-net-phy-mediatek-add-Airoha-PHY-ID-to-SoC-driver.patch
Labels: target/airoha

airoha: backport trivial fixes for pinctrl and ethernet driver
  target/linux/airoha/patches-6.6/051-v6.15-pinctrl-airoha-fix-wrong-PHY-LED-mapping-and-PHY2-LE.patch
  target/linux/airoha/patches-6.6/087-v6.17-pinctrl-airoha-Fix-return-value-in-pinconf-callbacks.patch
  target/linux/airoha/patches-6.6/089-v6.14-net-airoha-Fix-channel-configuration-for-ETS-Qdisc.patch
  target/linux/airoha/patches-6.6/113-net-airoha-Fix-channel-configuration-for-ETS-Qdisc.patch
Labels: target/airoha

airoha: add NPU and reserved memory node for AN7581
  target/linux/airoha/dts/an7581.dtsi
Labels: target/airoha

mac80211: iwlwifi fix BE200 probe
  package/kernel/mac80211/intel.mk
Labels: core packages

linux-firmware: intel: kick BE200 wifi firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

at91: enable testing kernel 6.12
  target/linux/at91/Makefile
Labels: target/at91

at91: Create kernel files for v6.12 (from v6.6)
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

at91: add missing KConfig for sam9x sama5
  target/linux/at91/sam9x/config-6.12
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sam9x
  target/linux/at91/sam9x/config-6.12
Labels: target/at91, kernel

at91: Restore kernel files for v6.6
  target/linux/at91/sam9x/config-6.6
  target/linux/at91/sama5/config-6.6
  target/linux/at91/sama7/config-6.6
Labels: target/at91, kernel

at91: refresh kernel-config sama5
  target/linux/at91/sama5/config-6.12
Labels: target/at91, kernel

at91: refresh kernel-config sama7
  target/linux/at91/sama7/config-6.12
Labels: target/at91, kernel

odhcp6c: use && in if statement on dynamic interfaces
  package/network/ipv6/odhcp6c/files/dhcpv6.script
Labels: core packages

realtek: rtl931x: Readd MAC_L2_GLOBAL_CTRL2 pinmux
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

realtek: rtl930x: Define GPIO_SEL_CTRL pinmux node
  target/linux/realtek/dts/rtl930x.dtsi
Labels: target/realtek

realtek: rtl931x: Fix unsafe MAC_L2_GLOBAL_CTRL2 access
  target/linux/realtek/dts/rtl931x.dtsi
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

realtek: rtl931x: Add LED Sync configuration
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

uqmi: update to latest HEAD
  package/network/utils/uqmi/Makefile
Labels: core packages

uqmi: update to latest HEAD
  package/network/utils/uqmi/Makefile
Labels: core packages

uqmi: update to latest HEAD
  package/network/utils/uqmi/Makefile
Labels: core packages

qualcommax: ipq807x: use label MAC to set addresses for wireless interfaces
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
Labels: target/qualcommax

qualcommax: ipq807x: use ascii-env driver for Linksys MX devices
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-mx8500.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-homewrk.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200v1.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200v2.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4300.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4x00.dtsi
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
Labels: target/qualcommax, kernel

ath11k-firmware: use new board file for QCN9074
  package/firmware/ath11k-firmware/Makefile
Labels: core packages
