Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

dropbear: relax path permission checks for authorized keys
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/patches/050-dropbear-multihop-fix.patch
  package/network/services/dropbear/patches/100-pubkey_path.patch
Labels: core packages

realtek: rtl931x: Fix l2 fdb entry handling
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

ucode-mod-bpf: add support for passing classid for tc attached programs
  package/utils/ucode-mod-bpf/src/bpf.c
Labels: core packages

libbpf: add support for passing classid for tc attached programs
  package/libs/libbpf/patches/100-bpf_tc_classid.patch
Labels: core packages

mediatek: add support for CreatLentem CLT-R30B1
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-112m.dts
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-common.dtsi
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

Changes required to run OpenWRT VM in the Linux Contianers environment(s) (incus or LXD)
  target/linux/armsr/Makefile
  target/linux/armsr/armv8/config-6.12
  target/linux/x86/64/config-6.12
  target/linux/x86/config-6.12
Labels: target/armsr, target/x86, kernel

kernel: add backport to fix broken PHY LEDs
  target/linux/generic/backport-6.12/830-v6.17-Revert-leds-trigger-netdev-Configure-LED-blink-inter.patch
  target/linux/generic/backport-6.6/847-v6.17-Revert-leds-trigger-netdev-Configure-LED-blink-inter.patch
Labels: kernel

realtek: rtl930x: Fix bringup of SFP modules
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

realtek: rtl931x: Update irq mask to cover all ports
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: rtl931x: Fix traffic on upper ports
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Fix printing of port matrix
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: dsa: do not open code PHY access
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
Labels: target/realtek

gettext-full: fix m4 path after gettextize update
  package/libs/gettext-full/Makefile
Labels: core packages

mediatek: add support for OpenFi 6C
  target/linux/mediatek/dts/mt7981b-openfi-6c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ramips: add support for Mercury KM08-708H
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_mercury_km08-708h.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips, core packages

realtek: rtl931x: Sync family parameters with RTL930x
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

realtek: rtl93xx: Add GPIO access register definitions
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
Labels: target/realtek

realtek: rtl931x: Fix size of TRK_MBR_CTRL group block
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: rtl931x: Add smi_poll_ctrl
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

tools: util-linux: allow building with 32-bit time
  tools/util-linux/Makefile
Labels: build/scripts/tools

rockchip: Add Realtek RTL8821CU support for the Radxa ROCK Pi E v3
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

bcm47xx: defer initializing fixed PHY and b44
  target/linux/bcm47xx/patches-6.6/850-deferred-phy-registration.patch
  target/linux/bcm47xx/patches-6.6/860-deferred-b44-init.patch
Labels: target/bcm47xx

kernel: bump 6.12 to 6.12.41
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0521-mm-vmscan-Maintain-TLB-coherency-in-LRU-code.patch
  target/linux/generic/backport-6.12/410-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.12/410-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.12/410-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.12/410-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.12/410-05-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/hack-6.12/259-regmap_dynamic.patch
  target/linux/generic/kernel-6.12
Labels: target/bcm27xx, kernel

base-files: MAJOR/MINOR not sequential, use DISKSEQ instead
  package/base-files/files/lib/upgrade/common.sh
  target/linux/stm32/base-files/lib/upgrade/platform.sh
Labels: target/stm32, core packages

kernel: mtdsplit: add mtdsplit-erofs and detection in uimage
  target/linux/generic/config-6.12
  target/linux/generic/files/drivers/mtd/mtdsplit/Kconfig
  target/linux/generic/files/drivers/mtd/mtdsplit/Makefile
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit.c
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit.h
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_erofs.c
Labels: kernel

rockchip: Add Realtek RTL8821CU support for the Radxa ROCK Pi E v3
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

airoha: add support for Gemtek W1700K
  target/linux/airoha/Makefile
  target/linux/airoha/an7581/base-files/etc/board.d/01_leds
  target/linux/airoha/an7581/base-files/etc/board.d/02_network
  target/linux/airoha/an7581/base-files/lib/upgrade/platform.sh
  target/linux/airoha/an7581/config-6.6
  target/linux/airoha/an7581/target.mk
  target/linux/airoha/base-files/lib/preinit/05_set_preinit_iface
  target/linux/airoha/dts/an7581-gemtek-w1700k.dts
  target/linux/airoha/image/an7581.mk
Labels: target/airoha, kernel

qualcommax: migrate wifi configuration (ath10k) device paths for 6.12 kernel
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/qualcommax

kernel/modules: add MCP342x I2C ADCs kernel module support
  package/kernel/linux/modules/iio.mk
Labels: kernel, core packages

util-linux: add last util
  package/utils/util-linux/Makefile
Labels: core packages

hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

wifi-scripts: ucode: print unknown ssid as unknown
  package/network/config/wifi-scripts/files-ucode/usr/bin/iwinfo
Labels: core packages

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
  target/linux/generic/pending-6.6/861-net-dsa-realtek-openwrt.patch
Labels: kernel

ramips: ethernet: ralink: mtu change while interface is down
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: add disable-mac-learn
  target/linux/ramips/files/drivers/net/ethernet/ralink/mt7530.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: mt7620 enable jumbo frames
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.h
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/soc_mt7620.c
Labels: target/ramips, kernel

ramips: ethernet: ralink: fix MT7620A_GDMA regs
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.h
Labels: target/ramips, kernel

ramips: add TP-Link EC220-G5 v2 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_ec220-g5-v2-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: ethernet: ralink: fix offload with incompatible dsa tag
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: target/ramips, kernel

ramips: add TP-Link Archer C5 v4 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
