Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

ipq40xx: dts: fix dtc warnings for MikroTik hAP ac3 LTE6
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3-lte6-kit.dts
Labels: target/ipq40xx

ipq40xx: dts: fix led-controller node name for Netgear LBR20
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-lbr20.dts
Labels: target/ipq40xx

ipq40xx: dts: compatibility changes for 6.12 kernel
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-a62.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-ea8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-eap2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-1200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-3000.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-gl-b2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-habanero-dvk.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lbr20.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lhgg-60ad.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-map-ac2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf18a.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf289f.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mr8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-orbi.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-pa2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-r619ac.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-rt-ac42u.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-wtr-m2133hp.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-xx8300.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-aruba-glenmorangie.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-insect-common.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq40x9-dr40x9.dts
Labels: target/ipq40xx

ipq40xx: refresh 6.12 kernel patches
  target/linux/ipq40xx/patches-6.12/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.12/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.12/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.12/705-ARM-dts-qcom-ipq4019-Add-description-for-the-IPQESS-.patch
  target/linux/ipq40xx/patches-6.12/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
  target/linux/ipq40xx/patches-6.12/707-arm-dts-ipq4019-add-switch-node.patch
  target/linux/ipq40xx/patches-6.12/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
  target/linux/ipq40xx/patches-6.12/710-arm-dts-ipq4019-QCA807x-properties.patch
  target/linux/ipq40xx/patches-6.12/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq40xx/patches-6.12/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
  target/linux/ipq40xx/patches-6.12/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
Labels: target/ipq40xx

ipq40xx: rename patchset and kernel configs to 6.12
  target/linux/ipq40xx/config-6.12
  target/linux/ipq40xx/patches-6.12/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.12/100-ARM-dts-qcom-ipq4019-add-label-to-SCM.patch
  target/linux/ipq40xx/patches-6.12/104-clk-fix-apss-cpu-overclocking.patch
  target/linux/ipq40xx/patches-6.12/301-arm-compressed-add-appended-DTB-section.patch
  target/linux/ipq40xx/patches-6.12/302-arm-compressed-set-ipq40xx-watchdog-to-allow-boot.patch
  target/linux/ipq40xx/patches-6.12/400-mmc-sdhci-sdhci-msm-use-sdhci_set_clock-instead-of-s.patch
  target/linux/ipq40xx/patches-6.12/401-mmc-sdhci-msm-comment-unused-sdhci_msm_set_clock.patch
  target/linux/ipq40xx/patches-6.12/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.12/444-mtd-nand-rawnand-add-support-for-Toshiba-TC58NVG0S3H.patch
  target/linux/ipq40xx/patches-6.12/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.12/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
  target/linux/ipq40xx/patches-6.12/703-net-qualcomm-ipqess-release-IRQ-s-on-network-device-.patch
  target/linux/ipq40xx/patches-6.12/704-net-qualcomm-ipqess-enable-threaded-NAPI-by-default.patch
  target/linux/ipq40xx/patches-6.12/705-ARM-dts-qcom-ipq4019-Add-description-for-the-IPQESS-.patch
  target/linux/ipq40xx/patches-6.12/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
  target/linux/ipq40xx/patches-6.12/707-arm-dts-ipq4019-add-switch-node.patch
  target/linux/ipq40xx/patches-6.12/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
  target/linux/ipq40xx/patches-6.12/710-arm-dts-ipq4019-QCA807x-properties.patch
  target/linux/ipq40xx/patches-6.12/711-net-qualcomm-ipqess-fix-TX-timeout-errors.patch
  target/linux/ipq40xx/patches-6.12/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq40xx/patches-6.12/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
  target/linux/ipq40xx/patches-6.12/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
  target/linux/ipq40xx/patches-6.12/999-atm-mpoa-intel-dsl-phy-support.patch
Labels: target/ipq40xx, kernel

ipq40xx: tag_oob/ipqess: update DSA APIs
  target/linux/ipq40xx/patches-6.12/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.12/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
Labels: target/ipq40xx

ipq40xx: dts: fix incorrect PCIe bus number
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-wtr-m2133hp.dts
Labels: target/ipq40xx

ipq40xx: migrate wifi configuration device paths for 6.12 kernel
  target/linux/ipq40xx/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/ipq40xx

ipq40xx: refresh 6.12 kernel config files
  target/linux/ipq40xx/config-6.12
Labels: target/ipq40xx, kernel

ipq40xx: dts: correct PCIe device node name
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-a62.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-ea8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-eap2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-3000.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-gl-b2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lbr20.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-lhgg-60ad.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-map-ac2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf18a.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mf289f.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-mr8300.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-orbi.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-pa2200.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-rt-ac42u.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4029-insect-common.dtsi
Labels: target/ipq40xx

ipq40xx: restore kernel 6.6 config files and patches
  target/linux/ipq40xx/config-6.6
  target/linux/ipq40xx/patches-6.6/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.6/100-ARM-dts-qcom-ipq4019-add-label-to-SCM.patch
  target/linux/ipq40xx/patches-6.6/104-clk-fix-apss-cpu-overclocking.patch
  target/linux/ipq40xx/patches-6.6/301-arm-compressed-add-appended-DTB-section.patch
  target/linux/ipq40xx/patches-6.6/302-arm-compressed-set-ipq40xx-watchdog-to-allow-boot.patch
  target/linux/ipq40xx/patches-6.6/400-mmc-sdhci-sdhci-msm-use-sdhci_set_clock-instead-of-s.patch
  target/linux/ipq40xx/patches-6.6/401-mmc-sdhci-msm-comment-unused-sdhci_msm_set_clock.patch
  target/linux/ipq40xx/patches-6.6/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.6/444-mtd-nand-rawnand-add-support-for-Toshiba-TC58NVG0S3H.patch
  target/linux/ipq40xx/patches-6.6/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ipq40xx/patches-6.6/702-net-ipqess-Add-out-of-band-DSA-tagging-support.patch
  target/linux/ipq40xx/patches-6.6/703-net-qualcomm-ipqess-release-IRQ-s-on-network-device-.patch
  target/linux/ipq40xx/patches-6.6/704-net-qualcomm-ipqess-enable-threaded-NAPI-by-default.patch
  target/linux/ipq40xx/patches-6.6/705-ARM-dts-qcom-ipq4019-Add-description-for-the-IPQESS-.patch
  target/linux/ipq40xx/patches-6.6/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
  target/linux/ipq40xx/patches-6.6/707-arm-dts-ipq4019-add-switch-node.patch
  target/linux/ipq40xx/patches-6.6/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
  target/linux/ipq40xx/patches-6.6/710-arm-dts-ipq4019-QCA807x-properties.patch
  target/linux/ipq40xx/patches-6.6/711-net-qualcomm-ipqess-fix-TX-timeout-errors.patch
  target/linux/ipq40xx/patches-6.6/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq40xx/patches-6.6/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
  target/linux/ipq40xx/patches-6.6/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
  target/linux/ipq40xx/patches-6.6/999-atm-mpoa-intel-dsl-phy-support.patch
Labels: target/ipq40xx, kernel

ipq40xx: enable 6.12 testing kernel
  target/linux/ipq40xx/Makefile
Labels: target/ipq40xx

ipq40xx: add PCIe bridge node reference label for ipq4019.dtsi
  target/linux/ipq40xx/patches-6.12/712-ARM-dts-qcom-ipq4019-add-reference-label-for-PCIe.patch
Labels: target/ipq40xx

libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages

bcm53xx: add Device Tree support for ASUS RT-AC3200 (BCM4709) and RT-AC5300 (BCM47094)
  package/utils/nvram/Makefile
  package/utils/nvram/files/nvram-bcm53xx.init
  target/linux/bcm53xx/image/Makefile
  target/linux/bcm53xx/patches-6.6/311-ARM-BCM5301X-Add-DT-for-Asus-RT-AC3200.patch
  target/linux/bcm53xx/patches-6.6/312-ARM-BCM5301X-Add-DT-for-Asus-RT-AC5300.patch
Labels: target/bcm53xx, core packages

generic: add mstc-boot mtdsplit parser
  target/linux/generic/config-6.12
  target/linux/generic/config-6.6
  target/linux/generic/files/drivers/mtd/mtdsplit/Kconfig
  target/linux/generic/files/drivers/mtd/mtdsplit/Makefile
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_mstc_boot.c
Labels: kernel

mediatek: filogic: enable mstc-boot mtdsplit parser
  target/linux/mediatek/filogic/config-6.12
Labels: target/mediatek, kernel

mediatek: add support for ELECOM WRC-X3000GS3
  target/linux/mediatek/dts/mt7981b-elecom-wrc-x3000gs3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/lib/upgrade/elecom.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: bump 6.6 to 6.6.99
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.6/950-1366-drm-Increase-plane_mask-to-64bit.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/mediatek/patches-6.6/806-v6.9-pwm-mediatek-add-support-for-MT7988.patch
Labels: target/bcm27xx, target/mediatek, kernel, build/scripts/tools

malta: use kernel 6.12 by default
  target/linux/malta/Makefile
Labels: target/malta

malta: drop 6.6 support
  target/linux/malta/config-6.6
Labels: target/malta, kernel

realtek: fix stall after restart of otto timer
  target/linux/realtek/patches-6.12/304-timer-otto-fix-stall-after-restart.patch
Labels: target/realtek

mediatek: disable MediaTek SoC Information (mtk-socinfo) driver
  target/linux/mediatek/mt7622/config-6.12
  target/linux/mediatek/mt7623/config-6.12
Labels: target/mediatek, kernel

realtek: dsa: rtl83xx: flush scheduled work on removal
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

Note inspiration for this script to give credit where it's due
  scripts/kernel_bump.sh
Labels: build/scripts/tools

ipq806x: Use leds_pins like upstream to avoid duplicate pinctrl group and free up unused GPIOs.
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-ad7200.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-c2600.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-d7800.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-e8350-v1.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-ea7500-v1.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-ea8500.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-g10.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-r7500v2.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-vr2600v.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wg2600hp.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wpq864.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-wxr-2533dhp.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-ac400i.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-nbg6817.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-nighthawk.dtsi
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-ecw5410.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-mr42.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-mr52.dts
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-ss-w2-ac2600.dts
Labels: target/ipq806x

kernel: bump 5.15 to 5.15.189
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.15/950-0166-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-5.15/950-0500-net-phy-lan87xx-Allow-more-time-for-link-detect.patch
  target/linux/bcm27xx/patches-5.15/950-0600-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.15/950-0605-xhci-refactor-out-TRBS_PER_SEGMENT-define-in-runtime.patch
  target/linux/bcm27xx/patches-5.15/950-0606-usb-xhci-add-VLI_TRB_CACHE_BUG-quirk.patch
  target/linux/bcm27xx/patches-5.15/950-0700-net-phy-lan87xx-Decrease-phy-polling-rate.patch
  target/linux/bcm27xx/patches-5.15/950-0717-usb-xhci-add-a-quirk-for-Superspeed-bulk-OUT-transfe.patch
  target/linux/bcm53xx/patches-5.15/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-5.15/300-v5.18-pinctrl-qcom-Return--EINVAL-for-setting-affinity-if-no-IRQ-parent.patch
  target/linux/mediatek/patches-5.15/804-pwm-add-mt7986-support.patch
  target/linux/mediatek/patches-5.15/811-pwm-mediatek-Add-support-for-MT7981.patch
Labels: target/bcm27xx, target/bcm53xx, target/mediatek, kernel, build/scripts/tools

kernel: bump 5.15 to 5.15.188
  include/kernel-5.15
Labels: build/scripts/tools

mediatek: filogic: increase nand flash speed on Redmi AX6000
  target/linux/mediatek/dts/mt7986a-xiaomi-redmi-router-ax6000.dtsi
Labels: target/mediatek

wireless-regdb: Update to version 2025.07.10
  package/firmware/wireless-regdb/Makefile
Labels: core packages

rockchip: fix eMMC corruption on NanoPC-T6 with A3A444 chips
  target/linux/rockchip/patches-6.12/131-arm64-dts-rockchip-rk3588-fix-A3A444-nanopc-t6.patch
Labels: target/rockchip

ca-certificates: Update to 20250419
  package/system/ca-certificates/Makefile
Labels: core packages

mediatek: filogic: add support for ipTIME AX3000Q
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

ramips: EAP615-Wall v1: fix bootloop by reducing LZMA dictionary
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

mediatek: Remove modules.builtin file
  target/linux/mediatek/files/drivers/net/phy/rtk/modules.builtin
Labels: target/mediatek, kernel

mediatek: add Huasifei WH3000 Pro support
  target/linux/mediatek/dts/mt7981b-huasifei-wh3000-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

toolchain/gcc: prevent the use of LDRD/STRD on ARMv5TE
  toolchain/gcc/patches-12.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-13.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-14.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-15.x/800-arm_v5te_no_ldrd_strd.patch
Labels: toolchain

toolchain/gcc: prevent the use of LDRD/STRD on ARMv5TE
  toolchain/gcc/patches-11.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-12.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-13.x/800-arm_v5te_no_ldrd_strd.patch
  toolchain/gcc/patches-14.x/800-arm_v5te_no_ldrd_strd.patch
Labels: toolchain

realtek: rtl931x: Don't use RTL8xx port flooding initialization
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: rtl931x: Add missing rma_bpdu_fld_pmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
