Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

kernel: bump 6.6 to 6.6.98
  include/kernel-6.6
Labels: build/scripts/tools

kernel: bump 6.6 to 6.6.96
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0106-Add-support-for-all-the-downstream-rpi-sound-card-dr.patch
  target/linux/generic/pending-6.6/650-Revert-ipv6-save-dontfrag-in-cork.patch
  target/linux/x86/patches-6.6/103-pcengines_apu6_platform.patch
Labels: target/bcm27xx, target/x86, kernel, build/scripts/tools

perf: fix build on mips
  package/devel/perf/Makefile
Labels: core packages

ltq-adsl-mei: check status register before reading mailbox messages
  package/kernel/lantiq/ltq-adsl-mei/src/drv_mei_cpe.c
Labels: target/lantiq, core packages

kernel: usb: gadget drivers do not depend on usb host support
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: fix dependencies for kmod-usb-roles package
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: fix dependencies for kmod-cdns3 and kmod-cdns
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

kernel: usb: kmod-usb-dwc3: add gadget and dual-role modes support
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

generic: dsa: backport upstream realtek patches
  target/linux/generic/backport-6.6/911-v6.13-2-net-dsa-realtek-Use-for_each_child_of_node_scoped.patch
  target/linux/generic/backport-6.6/911-v6.13-3-net-dsa-realtek-rtl8365mb-Make-use-of-irq_get_trigge.patch
  target/linux/generic/backport-6.6/911-v6.13-4-net-dsa-realtek-rtl8366rb-Make-use-of-irq_get_trigge.patch
Labels: kernel

ramips: mt7621: Add Dual Partition support, for Linksys EA7300v2 and EA7500v2
  target/linux/ramips/dts/mt7621_linksys_ea7xxx.dtsi
  target/linux/ramips/mt7621/base-files/lib/upgrade/linksys.sh
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
  target/linux/ramips/mt7621/config-6.12
  target/linux/ramips/patches-6.12/202-linksys-find-active-root.patch
Labels: target/ramips, kernel

rockchip: add RK3588 Hardware Random Number Generator
  target/linux/rockchip/patches-6.6/057-01-v6.12-hwrng-rockchip-rst-is-used-only-during-probe.patch
  target/linux/rockchip/patches-6.6/057-02-v6.12-hwrng-rockchip-handle-devm_pm_runtime_enable-errors.patch
  target/linux/rockchip/patches-6.6/057-03-v6.15-dt-bindings-reset-Add-SCMI-reset-IDs-for-RK3588.patch
  target/linux/rockchip/patches-6.6/057-04-v6.15-dt-bindings-rng-add-binding-for-Rockchip-RK3588-RNG.patch
  target/linux/rockchip/patches-6.6/057-05-v6.15-dt-bindings-rng-rockchip-rk3588-rng-Drop-unnecessary.patch
  target/linux/rockchip/patches-6.6/057-06-v6.15-hwrng-rockchip-store-dev-pointer-in-driver-struct.patch
  target/linux/rockchip/patches-6.6/057-07-v6.15-hwrng-rockchip-eliminate-some-unnecessary-dereferenc.patch
  target/linux/rockchip/patches-6.6/057-08-v6.15-hwrng-rockchip-add-support-for-rk3588-s-standalone-T.patch
  target/linux/rockchip/patches-6.6/057-09-v6.15-arm64-dts-rockchip-Add-rng-node-to-RK3588.patch
  target/linux/rockchip/patches-6.6/057-10-v6.15-arm64-dts-rockchip-change-rng-reset-id-back-to-its-c.patch
Labels: target/rockchip

target: mediatek: Enable WED for MT7988 devices running 6.12.x kernels
  target/linux/mediatek/patches-6.12/198-dts-mt7988a-enable-wed.patch
Labels: target/mediatek

ppp: update to 2.5.2
  package/network/services/ppp/Makefile
  package/network/services/ppp/patches/101-pppd-crypto-fix-build-without-openssl.patch
  package/network/services/ppp/patches/102-pppd-make-pid-directory-before-create-the-pid-file.patch
  package/network/services/ppp/patches/103-pppd-crypto-fix-gcc-14-build.patch
  package/network/services/ppp/patches/105-debian_demand.patch
  package/network/services/ppp/patches/204-radius_config.patch
  package/network/services/ppp/patches/208-fix_status_code.patch
  package/network/services/ppp/patches/310-precompile_filter.patch
  package/network/services/ppp/patches/321-multilink_support_custom_iface_names.patch
  package/network/services/ppp/patches/340-populate_default_gateway.patch
  package/network/services/ppp/patches/400-simplify_kernel_checks.patch
  package/network/services/ppp/patches/401-no_record_file.patch
  package/network/services/ppp/patches/404-remove_obsolete_protocol_names.patch
  package/network/services/ppp/patches/500-add-pptp-plugin.patch
Labels: core packages

tools/bc: let getopt() prototype be defined normally
  tools/bc/patches/000-getopt-prototype.patch
Labels: build/scripts/tools

tools/util-linux: include macOS system uuid header
  tools/util-linux/patches/102-macos-uuid-next.patch
Labels: build/scripts/tools

tools/automake: hardcode portable location for Perl
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
Labels: build/scripts/tools

tools/automake: update to 1.17
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
  tools/automake/patches/100-aclocal-skip-not-existing-directories.patch
  tools/automake/patches/101-do-not-require-files.patch
  tools/automake/patches/200-other-V-values-for-verbosity.patch
Labels: build/scripts/tools

tools/gnulib: use exact directory copy for install
  tools/gnulib/Makefile
  tools/gnulib/patches/021-python-main.patch
Labels: build/scripts/tools

download: add support for gitweb snapshots
  scripts/download.pl
Labels: build/scripts/tools

tools/automake: do not delete Makefile in clean targets
  tools/automake/patches/999-clean-am.patch
Labels: build/scripts/tools

tools/libtool: add maintainer-clean to clean target
  tools/libtool/Makefile
Labels: build/scripts/tools

tools/gnulib: update to branch stable-202407
  tools/gnulib/Makefile
  tools/gnulib/patches/000-bootstrap.patch
  tools/gnulib/patches/010-autoconf-version.patch
  tools/gnulib/patches/020-python-version.patch
  tools/gnulib/patches/021-python-main.patch
  tools/gnulib/patches/150-portable-tdestroy.patch
  tools/gnulib/patches/160-flag-reallocarray.patch
  tools/gnulib/patches/200-force-disable-after-configure.patch
  tools/gnulib/patches/320-modules-fallocate-posix.patch
  tools/gnulib/patches/500-acl-function-name.patch
Labels: build/scripts/tools

tools/gnulib: use git archive as download source
  tools/gnulib/Makefile
Labels: build/scripts/tools

tools/coreutils: do not require gettext or gperf
  tools/coreutils/patches/000-bootstrap.patch
Labels: build/scripts/tools

tools/libtool: remove parallel building
  tools/libtool/Makefile
Labels: build/scripts/tools

tools/automake: control all cleaning with clean variables
  tools/automake/patches/300-output-TRUE-cond-first.patch
  tools/automake/patches/310-maintainer-clean-built_sources.patch
Labels: build/scripts/tools

tools/coreutils: update to 9.6
  tools/coreutils/Makefile
  tools/coreutils/patches/000-bootstrap.patch
Labels: build/scripts/tools

tools/coreutils: use automake during bootstrap
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools/coreutils: add maintainer-clean to clean target
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools/coreutils: disable uninstall target
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools/coreutils: replace symlinks to build prerequisites
  tools/coreutils/Makefile
Labels: build/scripts/tools

tools/coreutils: provide the rmdir utility
  tools/coreutils/Makefile
Labels: build/scripts/tools

prereq: add support for creating relative symlinks
  include/prereq.mk
Labels: build/scripts/tools

prereq: prefer existing built coreutils as symlink target
  include/prereq-build.mk
Labels: build/scripts/tools

tools: build coreutils for development targets
  tools/Makefile
Labels: build/scripts/tools

tools: require coreutils to build elfutils
  tools/Makefile
Labels: build/scripts/tools

tools: require coreutils to build findutils
  tools/Makefile
Labels: build/scripts/tools

tools: require coreutils to build util-linux
  tools/Makefile
Labels: build/scripts/tools

tools/automake: do not delete libtool in clean targets
  tools/automake/patches/999-clean-am.patch
Labels: build/scripts/tools

tools/elfutils: replace dependency hack with upstream include path fix
  tools/elfutils/Makefile
  tools/elfutils/patches/000-backport-iquote-include.patch
  tools/elfutils/patches/001-fix-backport-iquote-include.patch
  tools/elfutils/patches/100-portability.patch
Labels: build/scripts/tools

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
