Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"

uboot-mediatek: adjust the reserved memory regions
  package/boot/uboot-mediatek/patches/103-01-mt7622-enable-pstore.patch
  package/boot/uboot-mediatek/patches/103-02-mt7981-enable-pstore.patch
  package/boot/uboot-mediatek/patches/103-03-mt7986-enable-pstore.patch
  package/boot/uboot-mediatek/patches/103-04-mt7988-enable-pstore.patch
Labels: target/mediatek, core packages

toolchain: gcc: update GCC13 to 13.4
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-13.x/010-documentation.patch
  toolchain/gcc/patches-13.x/230-musl_libssp.patch
  toolchain/gcc/patches-13.x/300-mips_Os_cpu_rtx_cost_model.patch
  toolchain/gcc/patches-13.x/920-specs_nonfatal_getenv.patch
Labels: toolchain

CI: DROP ME!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  toolchain/gcc/Config.version
Labels: toolchain

bridger: update to Git HEAD (2025-08-10)
  package/network/services/bridger/Makefile
Labels: core packages

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
  target/linux/generic/pending-6.6/861-net-dsa-realtek-openwrt.patch
Labels: kernel

ramips: add TP-Link Archer C5 v4 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

ramips: add TP-Link EC220-G5 v2 (DSA)
  target/linux/ramips/dts/mt7620a_tplink_ec220-g5-v2-dsa.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

siflower: sf21: fix M.2 power on Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

siflower: sf21: fix usb_vbus for Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

realtek: rtl931x: Fix l2 fdb entry handling
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

realtek: fix stall after restart of otto timer
  target/linux/realtek/patches-6.12/304-timer-otto-fix-stall-after-restart.patch
Labels: target/realtek

realtek: hpe 1920 48g poe: add mode button, led
  target/linux/realtek/dts/rtl8393_hpe_1920-48g-poe.dts
Labels: target/realtek

toolchain: binutils: add version 2.45
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.45/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.45/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.45/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

toolchain: binutils: default to 2.44 and drop 2.40
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.40/001-PR-30569-always-call-elf_backend_size_dynamic_sectio.patch
  toolchain/binutils/patches/2.40/002-PR-30569-delete-_bfd_mips_elf_early_size_sections.patch
  toolchain/binutils/patches/2.40/005-libctf-update-regexp-to-allow-makeinfo-to-build-docu.patch
  toolchain/binutils/patches/2.40/007-Fix-version-number-snafu-in-some-configuration-files.patch
  toolchain/binutils/patches/2.40/010-toplevel-Makefile.def-add-install-strip-dependency-o.patch
  toolchain/binutils/patches/2.40/018-gprofng-PR29521-docs-man-pages-are-not-in-the-releas.patch
  toolchain/binutils/patches/2.40/020-gprofng-PR30043-libgprofng.so.-are-installed-to-a-wr.patch
  toolchain/binutils/patches/2.40/026-RISC-V-make-C-extension-JAL-available-again-for-32-b.patch
  toolchain/binutils/patches/2.40/034-bpf-fix-error-conversion-from-long-unsigned-int-to-u.patch
  toolchain/binutils/patches/2.40/035-Pass-JANSSON_LIBS-and-ZSTD_LIBS-to-ld-bootstrap-boot.patch
  toolchain/binutils/patches/2.40/036-Regen-config-files.patch
  toolchain/binutils/patches/2.40/040-configure-remove-dependencies-on-gmp-and-mpfr-when-g.patch
  toolchain/binutils/patches/2.40/046-gas-correct-symbol-name-comparison-in-.startof.-.siz.patch
  toolchain/binutils/patches/2.40/050-PR-32372-opcodes-fix-std-gnu23-compatibility-wrt-static_asser.patch
  toolchain/binutils/patches/2.40/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.40/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.40/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

realtek: mdio: rtl931x: move functions over to bus
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl839x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

realtek: switch Netgear NGE devices to rt-loader
  target/linux/realtek/image/rtl838x.mk
Labels: target/realtek

mediatek: remove loglevel in bootargs
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01.dtsi
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8103ax.dts
  target/linux/mediatek/dts/mt7988a-smartrg-mt-stuart.dtsi
  target/linux/mediatek/patches-6.12/188-arm64-dts-mediatek-add-MT7988A-reference-board-devic.patch
  target/linux/mediatek/patches-6.12/189-arm64-dts-mediatek-mt7988a-complete-bpi-r4.patch
Labels: target/mediatek

mediatek: filogic: Add support for Totolink X6000R
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

tools/coreutils: bump to 9.7
  tools/coreutils/Makefile
Labels: build/scripts/tools

x86: config-6.12 disable microcode late loading
  target/linux/x86/64/config-6.12
  target/linux/x86/config-6.12
Labels: target/x86, kernel

x86: add microcode entries to grub config
  target/linux/x86/image/grub-efi.cfg
  target/linux/x86/image/grub-iso.cfg
  target/linux/x86/image/grub-pc.cfg
Labels: target/x86

intel-microcode: create early load microcode image
  package/firmware/intel-microcode/Makefile
Labels: core packages

x86: grow size of kernel partition see WARNING
  config/Config-images.in
Labels: none

linux-firmware: amd: create early load ucode image
  package/firmware/linux-firmware/amd.mk
Labels: core packages

preinit: delete lateloading hook
  target/linux/x86/base-files/lib/preinit/02_load_x86_ucode
Labels: target/x86

x86: intel-microcode: split into 32/64-bit
  package/firmware/intel-microcode/Makefile
Labels: core packages

tools: bash: fix PKG_HASH
  tools/bash/Makefile
Labels: build/scripts/tools

mediatek: filogic: Totolink X6000R fix leds
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
Labels: target/mediatek

ipq40xx: dts: reduce the maximum SPI clock frequency to 24MHz
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-cap-ac.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-ens620ext.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-ex61x0v2.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-hap-ac2.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-nbg6617.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-rt-ac58u.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-sxtsq-5-ac.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-wac510.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-ac.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-cap-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ens620ext.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ex61x0v2.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-hap-ac2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-nbg6617.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-rt-ac58u.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-sxtsq-5-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wac510.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-ac.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3.dts
Labels: target/ipq40xx

linux-firmware: update to 20250808
  package/firmware/linux-firmware/Makefile
Labels: core packages

qualcommax: migrate wifi configuration (ath10k) device paths for 6.12 kernel
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/qualcommax

realtek: RTL838x harden ethernet driver against fuzzying
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

tools/7z: update to 25.01
  tools/7z/Makefile
Labels: build/scripts/tools

mediatek: Add support for Acer Predator Connect W6x
  target/linux/mediatek/dts/mt7986a-acer-predator-w6x.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

build: do not override common configure environment variables
  include/package-defaults.mk
Labels: build/scripts/tools

tools: gnulib: always use std-gnu23 module
  tools/gnulib/patches/195-c99-use-std-gnu23.patch
Labels: build/scripts/tools

gettext-full: remove usage of autoreconf
  package/libs/gettext-full/Makefile
Labels: core packages

bzip2: cleanup Makefile
  package/utils/bzip2/Makefile
Labels: core packages
