Repository openwrt/openwrt, changes with the labels that .github/labeler.yml gives for each.
All labels: target/airoha, target/apm821xx, target/armsr, target/at91, target/ath79, target/bcm27xx, target/bcm47xx, target/bcm4908, target/bcm53xx, target/bmips, target/d1, target/gemini, target/imx, target/ipq40xx, target/ipq806x, target/qualcommax, target/qualcommbe, target/ixp4xx, target/kirkwood, target/lantiq, target/layerscape, target/loongarch64, target/malta, target/mediatek, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/pistachio, target/qoriq, target/ramips, target/realtek, target/rockchip, target/sifiveu, target/siflower, target/starfive, target/stm32, target/sunxi, target/tegra, target/uml, target/x86, target/zynq, target/imagebuilder, kernel, core packages, build/scripts/tools, toolchain, GitHub/CI

realtek: rtl931x: Disable callbacks for l3 hw routing
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

realtek: rtl930x: Disable L3 offloading
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

mvebu: IEI Puzzle M902 fix ethernet port naming
  target/linux/mvebu/cortexa72/base-files/etc/board.d/01_leds
  target/linux/mvebu/cortexa72/base-files/etc/board.d/02_network
  target/linux/mvebu/cortexa72/base-files/etc/board.d/05_compat-version
  target/linux/mvebu/cortexa72/base-files/lib/preinit/04_set_netdev_label
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/cn9132-puzzle-m902.dts
  target/linux/mvebu/image/cortexa72.mk
Labels: target/mvebu, kernel

realtek: rtl93xx: i2c: Add support for BLOCK transfers
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek

realtek: rtl93xx: i2c: Fix i2c multi byte read
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
Labels: target/realtek

kernel: modules: add Mellanox Spectrum hotplug renaming script
  package/kernel/linux/files/hotplug-mlxsw-spectrum-port-names.sh
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

base-files: add ucidef_set_interface_netdev_range function
  package/base-files/files/lib/functions/uci-defaults.sh
Labels: core packages

kernel: modules: add boot flag to e1000e driver
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

mediatek: remove the aquantia kmod from filogic mediatek platforms
  target/linux/mediatek/filogic/target.mk
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

x86: rename and configure Mellanox Spectrum interfaces
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

filogic.mk: fix supported device
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

kernel: modules: netdevices: improve Realtek DSA driver
  target/linux/generic/pending-6.12/861-net-dsa-realtek-openwrt.patch
  target/linux/generic/pending-6.6/861-net-dsa-realtek-openwrt.patch
Labels: kernel

kernel: modules: netdevices: add rtl8367s HSGMII support for rtl8365mb driver
  target/linux/generic/pending-6.12/862-net-dsa-realtek-add-sgmii-amd-hsgmii-support-for-rtl8365mb.patch
  target/linux/generic/pending-6.6/862-net-dsa-realtek-add-sgmii-amd-hsgmii-support-for-rtl8365mb.patch
Labels: kernel

build: fix processing for SCAN_DEPS with glob pattern inside
  include/scan.mk
Labels: build/scripts/tools

mediatek: ethernet: fix offloading with incompatible dsa tag
  target/linux/mediatek/patches-6.12/739-net-fix-mediatek-offload-with-incompatible-dsa-tag.patch
Labels: target/mediatek

libubox: update to Git HEAD (2025-07-23)
  package/libs/libubox/Makefile
Labels: core packages

udebug: update to Git HEAD (2025-07-23)
  package/libs/udebug/Makefile
Labels: core packages

libubox: update to Git HEAD (2025-07-23)
  package/libs/libubox/Makefile
Labels: core packages

udebug: update to Git HEAD (2025-07-23)
  package/libs/udebug/Makefile
Labels: core packages

ucode: add padding to uc_resource_ext_t
  package/utils/ucode/patches/100-ucode-add-padding-to-uc_resource_ext_t.patch
Labels: core packages

ucode: update to Git HEAD (2025-07-18)
  package/utils/ucode/Makefile
  package/utils/ucode/patches/010-ubus-fix-double-registry-clear-on-disconnect.patch
  package/utils/ucode/patches/020-ubus-fix-use-after-free-on-deferred-request-reply-me.patch
Labels: core packages

ucode: add padding to uc_resource_ext_t
  package/utils/ucode/patches/100-ucode-add-padding-to-uc_resource_ext_t.patch
Labels: core packages

realtek: rtl930x: Add support for Plasma Cloud PSX8 Switch
  package/boot/uboot-tools/uboot-envtools/files/realtek
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/lib/upgrade/platform.sh
  target/linux/realtek/base-files/lib/upgrade/upgrade_dualboot.sh
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dts
  target/linux/realtek/dts/rtl9302_plasmacloud_psx8.dtsi
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek, core packages

realtek: rtl930x: Allow to overwrite LED portmask
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
Labels: target/realtek

realtek: rtl930x: Append uboots bootargs to DT bootargs
  target/linux/realtek/rtl930x/config-6.12
Labels: target/realtek, kernel

base-files: move config_generate to preinit
  package/base-files/files/etc/init.d/boot
  package/base-files/files/lib/preinit/82_config_generate
  package/network/config/wifi-scripts/files/etc/hotplug.d/ieee80211/10-wifi-detect
  package/network/config/wifi-scripts/files/sbin/wifi
Labels: core packages

mediatek: port patch: add tx_power check during eeprom loading for BE14
  package/kernel/mt76/patches/001-Add-tx_power-check.patch
Labels: core packages

mbedtls: restore previous configuration behavior
  package/libs/mbedtls/Makefile
Labels: core packages

realtek: dsa: relax capability checks for 2.5G modes
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

realtek: phy: add basic RTL8218B setup
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

wifi-scripts: correctly set basic-rates with wpa_supplicant
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

tools/gnulib: switch to Git source
  tools/gnulib/Makefile
Labels: build/scripts/tools

mediatek: filogic: clt-r30-b1: revert wlan2 mac assignment
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-common.dtsi
Labels: target/mediatek

ucode: add padding to uc_resource_ext_t
  package/libs/mbedtls/Makefile
  package/utils/ucode/patches/100-ucode-add-padding-to-uc_resource_ext_t.patch
  target/linux/mediatek/dts/mt7981b-openfi-6c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/mediatek, target/realtek, core packages

rockchip: fix eMMC corruption on NanoPC-T6 with A3A444 chips
  target/linux/rockchip/patches-6.6/131-arm64-dts-rockchip-rk3588-fix-A3A444-nanopc-t6.patch
Labels: target/rockchip

prereq-build: limit python distutils check to <v3.12
  include/prereq-build.mk
Labels: build/scripts/tools

prereq-build: add Python 3.12 support
  include/prereq-build.mk
Labels: build/scripts/tools

mediatek: filogic: cltr30b1: remove factory image
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

urngd: run as regular user rather than as root
  package/system/urngd/Makefile
  package/system/urngd/files/urngd.init
  package/system/urngd/files/urngd.json
Labels: core packages

Add support for the comfast CF-WR632AX device
  target/linux/mediatek/dts/mt7981a-comfast-cf-wr632ax.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

.github/labeler.yml:

# target/*
"target/airoha":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/airoha/**"
"target/apm821xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/apm821xx/**"
"target/armsr":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/armsr/**"
"target/at91":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/at91/**"
    - "package/boot/at91bootstrap/**"
    - "package/boot/uboot-at91/**"
"target/ath79":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ath79/**"
"target/bcm27xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm27xx/**"
    - "package/kernel/bcm27xx-gpu-fw/**"
    - "package/utils/bcm27xx-utils/**"
"target/bcm47xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm47xx/**"
"target/bcm4908":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm4908/**"
    - "package/boot/uboot-bcm4908/**"
    - "package/boot/arm-trusted-firmware-bcm63xx/**"
"target/bcm53xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bcm53xx/**"
    - "package/boot/uboot-bcm53xx/**"
"target/bmips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/bmips/**"
    - "package/boot/uboot-bmips/**"
    - "package/kernel/bcm63xx-cfe/**"
"target/d1":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/d1/**"
    - "package/boot/uboot-d1/**"
    - "package/boot/opensbi/**"
"target/gemini":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/gemini/**"
"target/imx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/imx/**"
    - "package/boot/imx-bootlets/**"
    - "package/boot/uboot-imx/**"
"target/ipq40xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq40xx/**"
"target/ipq806x":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ipq806x/**"
"target/qualcommax":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommax/**"
    - "package/kernel/qca-ssdk/**"
    - "package/kernel/qca-nss-dp/**"
"target/qualcommbe":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qualcommbe/**"
"target/ixp4xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ixp4xx/**"
    - "package/boot/apex/Makefile/**"
    - "package/firmware/ixp4xx-microcode/**"
"target/kirkwood":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/kirkwood/**"
    - "package/boot/uboot-kirkwood/**"
"target/lantiq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/lantiq/**"
    - "package/kernel/lantiq/**"
    - "package/firmware/lantiq/**"
    - "package/boot/uboot-lantiq/**"
"target/layerscape":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/layerscape/**"
    - "package/firmware/layerscape/**"
    - "package/boot/tfa-layerscape/**"
    - "package/boot/uboot-layerscape/**"
    - "package/network/utils/layerscape/**"
"target/loongarch64":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/loongarch64/**"
"target/malta":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/malta/**"
"target/mediatek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mediatek/**"
    - "package/boot/arm-trusted-firmware-mediatek/**"
    - "package/boot/uboot-mediatek/**"
"target/mpc85xx":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mpc85xx/**"
"target/mvebu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mvebu/**"
    - "package/boot/arm-trusted-firmware-mvebu/**"
    - "package/boot/uboot-mvebu/**"
"target/mxs":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/mxs/**"
    - "package/boot/uboot-mxs/**"
"target/octeon":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/octeon/**"
"target/omap":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/omap/**"
    - "package/boot/uboot-omap/**"
"target/pistachio":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/pistachio/**"
"target/qoriq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/qoriq/**"
"target/ramips":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/ramips/**"
"target/realtek":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/realtek/**"
"target/rockchip":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/rockchip/**"
    - "package/boot/arm-trusted-firmware-rockchip/**"
    - "package/boot/uboot-rockchip/**"
"target/sifiveu":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sifiveu/**"
    - "package/boot/uboot-sifiveu/**"
    - "package/boot/opensbi/**"
"target/siflower":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/siflower/**"
"target/starfive":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/starfive/**"
"target/stm32":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/stm32/**"
    - "package/boot/arm-trusted-firmware-stm32/**"
    - "package/boot/optee-os-stm32/**"
    - "package/boot/uboot-stm32/**"
"target/sunxi":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/sunxi/**"
    - "package/boot/arm-trusted-firmware-sunxi/**"
    - "package/boot/uboot-sunxi/**"
"target/tegra":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/tegra/**"
    - "package/boot/uboot-tegra/**"
"target/uml":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/uml/**"
"target/x86":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/x86/**"
"target/zynq":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/zynq/**"
    - "package/boot/uboot-zynq/**"
# target/imagebuilder
"target/imagebuilder":
- changed-files:
  - any-glob-to-any-file:
    - "target/imagebuilder/**"
# kernel
"kernel":
- changed-files:
  - any-glob-to-any-file:
    - "target/linux/generic/**"
    - "target/linux/**/config-*"
    - "target/linux/**/patches-*"
    - "target/linux/**/files/**"
    - "package/kernel/linux/**"
# core packages
"core packages":
- changed-files:
  - any-glob-to-any-file:
    - "package/**"
# build/scripts/tools
"build/scripts/tools":
- changed-files:
  - any-glob-to-any-file:
    - "include/**"
    - "scripts/**"
    - "tools/**"
# toolchain
"toolchain":
- changed-files:
  - any-glob-to-any-file:
    - "toolchain/**"
# GitHub/CI
"GitHub/CI":
- changed-files:
  - any-glob-to-any-file:
    - ".github/**"
