Repository openwrt/openwrt, pull requests merged in 2022-12, with the labels that each got.

#11388 CI: add support to tag pr targeting stable branch
  .github/workflows/labeler.yml
Labels: GitHub/CI

#11389 CI: labeler: fix wrong label for pr targeting stable branch
  .github/workflows/labeler.yml
Labels: GitHub/CI

#11353 mac80211: Update to version 5.15.80
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath/404-regd_no_assoc_hints.patch
  package/kernel/mac80211/patches/ath10k/081-04-v6.0-ath10k-add-encapsulation-offloading-support.patch
  package/kernel/mac80211/patches/ath10k/930-ath10k_add_tpt_led_trigger.patch
  package/kernel/mac80211/patches/ath10k/975-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/mac80211/patches/ath10k/981-ath10k-adjust-tx-power-reduction-for-US-regulatory-d.patch
  package/kernel/mac80211/patches/brcm/001-v5.19-brcmfmac-allow-setting-wlan-MAC-address-using-device.patch
  package/kernel/mac80211/patches/brcm/998-survey.patch
  package/kernel/mac80211/patches/rt2x00/001-v6.1-rt2x00-define-RF5592-in-init_eeprom-routine.patch
  package/kernel/mac80211/patches/rt2x00/003-v6.1-rt2x00-add-support-for-external-PA-on-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/004-v6.1-rt2x00-move-up-and-reuse-busy-wait-functions.patch
  package/kernel/mac80211/patches/rt2x00/005-v6.1-rt2x00-add-RF-self-TXDC-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/006-v6.1-rt2x00-add-r-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/007-v6.1-rt2x00-add-RXDCOC-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/008-v6.1-rt2x00-add-RXIQ-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/009-v6.1-rt2x00-don-t-run-Rt5592-IQ-calibration-on-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/010-v6.1-rt2x00-add-TX-LOFT-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/011-v6.1-rt2x00-move-helper-functions-up-in-file.patch
  package/kernel/mac80211/patches/rt2x00/013-v6.1-rt2x00-set-correct-TX_SW_CFG1-MAC-register-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/014-v6.1-rt2x00-set-VGC-gain-for-both-chains-of-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/015-v6.1-rt2x00-set-SoC-wmac-clock-register.patch
  package/kernel/mac80211/patches/rt2x00/016-v6.1-rt2x00-correctly-set-BBP-register-86-for-MT7620.patch
  package/kernel/mac80211/patches/subsys/150-disable_addr_notifier.patch
  package/kernel/mac80211/patches/subsys/307-mac80211_hwsim-make-6-GHz-channels-usable.patch
  package/kernel/mac80211/patches/subsys/319-v5.17-mac80211-introduce-set_radar_offchan-callback.patch
  package/kernel/mac80211/patches/subsys/320-v5.17-cfg80211-rename-offchannel_chain-structs-to-backgrou.patch
  package/kernel/mac80211/patches/subsys/324-v5.18-mac80211-MBSSID-beacon-handling-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
Labels: core packages

#11355 [22.03] mac80211: Update to version 5.15.80
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath/404-regd_no_assoc_hints.patch
  package/kernel/mac80211/patches/ath10k/930-ath10k_add_tpt_led_trigger.patch
  package/kernel/mac80211/patches/ath10k/975-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/mac80211/patches/ath10k/981-ath10k-adjust-tx-power-reduction-for-US-regulatory-d.patch
  package/kernel/mac80211/patches/brcm/998-survey.patch
  package/kernel/mac80211/patches/rt2x00/001-rt2x00-define-RF5592-in-init_eeprom-routine.patch
  package/kernel/mac80211/patches/rt2x00/003-rt2x00-add-support-for-external-PA-on-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/004-rt2x00-move-up-and-reuse-busy-wait-functions.patch
  package/kernel/mac80211/patches/rt2x00/005-rt2x00-add-RF-self-TXDC-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/006-rt2x00-add-r-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/007-rt2x00-add-RXDCOC-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/008-rt2x00-add-RXIQ-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/009-rt2x00-don-t-run-Rt5592-IQ-calibration-on-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/010-rt2x00-add-TX-LOFT-calibration-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/011-rt2x00-move-helper-functions-up-in-file.patch
  package/kernel/mac80211/patches/rt2x00/013-rt2x00-set-correct-TX_SW_CFG1-MAC-register-for-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/014-rt2x00-set-VGC-gain-for-both-chains-of-MT7620.patch
  package/kernel/mac80211/patches/rt2x00/015-rt2x00-set-SoC-wmac-clock-register.patch
  package/kernel/mac80211/patches/rt2x00/016-rt2x00-correctly-set-BBP-register-86-for-MT7620.patch
  package/kernel/mac80211/patches/subsys/150-disable_addr_notifier.patch
  package/kernel/mac80211/patches/subsys/307-mac80211_hwsim-make-6-GHz-channels-usable.patch
  package/kernel/mac80211/patches/subsys/319-mac80211-introduce-set_radar_offchan-callback.patch
  package/kernel/mac80211/patches/subsys/320-cfg80211-rename-offchannel_chain-structs-to-backgrou.patch
  package/kernel/mac80211/patches/subsys/324-mac80211-MBSSID-beacon-handling-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/343-wifi-mac80211-fix-decap-offload-for-stations-on-AP_V.patch
  package/kernel/mac80211/patches/subsys/345-wifi-mac80211-do-not-drop-packets-smaller-than-the-L.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
Labels: core packages, release/22.03

#11402 tools/xz: update to 5.2.9
  tools/xz/Makefile
Labels: build/scripts/tools

#11367 build: config: cleanup impossible dependency logic
  config/Config-images.in
  config/Config-kernel.in
Labels: cosmetic/trivial, fix

#11373 ramips: mt7621: enable lzma-loader for ZyXEL WAP6805
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#11365 CI: add support for external toolchains from stable branch
  .github/workflows/build.yml
Labels: ready for merge, GitHub/CI

#11209 ramips: mt7621: mikrotik 760igs (hEX S) fix SFP
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-760igs.dts
Labels: target/ramips

#11304 ramips: mt7621: enable lzma-loader for netis WF2881
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#11432 kernel: ca8210: Fix crash by zero initializing data
  target/linux/generic/pending-5.10/870-ca8210-Fix-crash-by-zero-initializing-data.patch
  target/linux/generic/pending-5.15/870-ca8210-Fix-crash-by-zero-initializing-data.patch
Labels: kernel

#11437 tools/cmake: update to 3.25.1
  tools/cmake/Makefile
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/150-zstd-libarchive.patch
Labels: build/scripts/tools

#11431 [22.03] e2fsprogs: Fix CVE-2022-1304
  package/utils/e2fsprogs/Makefile
  package/utils/e2fsprogs/patches/004-CVE-2022-1304-libext2fs-add-sanity-check-to-extent-manipulation.patch
  tools/e2fsprogs/Makefile
  tools/e2fsprogs/patches/004-CVE-2022-1304-libext2fs-add-sanity-check-to-extent-manipulation.patch
Labels: build/scripts/tools, core packages, release/22.03

#11438 CI: build: fix use of sdk as toolchain
  .github/workflows/build.yml
Labels: GitHub/CI

#11433 build: add gzip to prereq-build.mk
  include/prereq-build.mk
Labels: build/scripts/tools

#11347 [21.02] cmake: update to version 3.19.8
  tools/cmake/Makefile
Labels: build/scripts/tools, release/21.02

#11456 [21.02] tools/mkimage: fix build on MacOS arm64
  tools/mkimage/patches/090-macos-arm64-builing-fix.patch
Labels: build/scripts/tools, release/21.02

#11460 libtracefs: update to 1.6.2
  package/libs/libtracefs/Makefile
Labels: core packages

#10456 umbim: Allow roaming and partner connections
  package/network/utils/umbim/files/lib/netifd/proto/mbim.sh
Labels: core packages

#11455 wolfssl: fix build with /dev/crypto
  package/libs/wolfssl/patches/001-Fix-enable-devcrypto-build-error.patch
Labels: core packages

#11457 lantiq: vr9: include usb driver for fritz 7430
  target/linux/lantiq/image/vr9.mk
Labels: target/lantiq

#11358 kernel: modules/lib-lz4: add lz4hc_compress
  package/kernel/linux/modules/lib.mk
  package/kernel/linux/modules/other.mk
  target/linux/generic/config-5.15
Labels: kernel, core packages

#11352 ramips: add support for Etisalat S3
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_etisalat_s3.dts
  target/linux/ramips/image/common-sercomm.mk
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#11454 ath79: add support for TP-Link CPE605-v1
  target/linux/ath79/dts/ar9344_tplink_cpe605-v1.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic-tp-link.mk
Labels: target/ath79

#11350 libpcap: add support for B.A.T.M.A.N. Advanced
  package/libs/libpcap/patches/300-Add-support-for-B.A.T.M.A.N.-Advanced.patch
Labels: core packages

#11511 kernel: bump 5.15 to 5.15.83
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0132-media-videobuf2-Allow-exporting-of-a-struct-dmabuf.patch
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.15/950-0238-gpiolib-Don-t-prevent-IRQ-usage-of-output-GPIOs.patch
  target/linux/bcm27xx/patches-5.15/950-0281-media-i2c-Add-driver-for-Sony-IMX477-sensor.patch
  target/linux/bcm27xx/patches-5.15/950-0413-Documentation-devicetree-Add-documentation-for-imx37.patch
  target/linux/bcm27xx/patches-5.15/950-0520-dt-bindings-media-i2c-Add-IMX519-CMOS-sensor-binding.patch
  target/linux/bcm27xx/patches-5.15/950-0835-clk-Add-clk_drop_range.patch
  target/linux/bcm27xx/patches-5.15/950-0845-clk-Fix-clk_get_parent-documentation.patch
  target/linux/bcm27xx/patches-5.15/950-0865-clk-Add-clk_get_rate_range.patch
  target/linux/bcm63xx/patches-5.15/143-gpio-fix-device-tree-gpio-hogs-on-dual-role-gpio-pin.patch
  target/linux/generic/backport-5.15/020-v6.1-04-mm-multigenerational-lru-groundwork.patch
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multigenerational-lru-mm_struct-list.patch
  target/linux/generic/backport-5.15/821-v5.16-Bluetooth-btusb-Support-public-address-configuration.patch
  target/linux/generic/backport-5.15/822-v5.17-Bluetooth-btusb-Fix-application-of-sizeof-to-pointer.patch
  target/linux/generic/backport-5.15/883-v6.1-ca8210-Fix-crash-by-zero-initializing-data.patch
  target/linux/layerscape/patches-5.15/701-staging-add-fsl_ppfe-driver.patch
  target/linux/mediatek/patches-5.15/213-spi-mediatek-add-mt7986-spi-support.patch
  target/linux/mvebu/patches-5.15/907-MAINTAINERS-Add-an-entry-for-the-IEI-WT61P803-PUZZLE.patch
Labels: target/bcm63xx, target/bcm27xx, build/scripts/tools, kernel, target/layerscape, target/mvebu, target/mediatek

#11510 kernel: bump 5.10 to 5.10.159
  include/kernel-5.10
  target/linux/generic/backport-5.10/732-net-next-1-of-net-pass-the-dst-buffer-to-of_get_mac_address.patch
  target/linux/generic/backport-5.10/744-v5.15-net-dsa-don-t-set-skb-offload_fwd_mark-when-not-offl.patch
  target/linux/generic/backport-5.10/888-v6.1-ca8210-Fix-crash-by-zero-initializing-data.patch
  target/linux/rockchip/patches-5.10/104-rockchip-use-USB-host-by-default-on-rk3399-rock-pi-4.patch
Labels: build/scripts/tools, kernel, target/rockchip

#11475 [22.03] umbim: Allow roaming and partner connections
  package/network/utils/umbim/files/lib/netifd/proto/mbim.sh
Labels: core packages, release/22.03

#11539 [22.03] generic: add support for EON EN25QX128A spi nor flash
  target/linux/generic/pending-5.10/477-mtd-spi-nor-add-eon-en25qx128a.patch
  target/linux/generic/pending-5.15/477-mtd-spi-nor-add-eon-en25qx128a.patch
Labels: kernel, release/22.03

#11526 tools/ccache: update to 4.7.4
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#11531 tools/mpc: update to 1.3.1
  tools/mpc/Makefile
Labels: build/scripts/tools

#11523 tools/bash: update to 5.2.15
  tools/bash/Makefile
Labels: build/scripts/tools

#11499 strace: update to 6.1
  package/devel/strace/Makefile
Labels: core packages

#11485 sunxi: improve support for MarsBoard A10
  package/boot/uboot-sunxi/Makefile
  target/linux/sunxi/image/cortexa8.mk
Labels: core packages, target/sunxi

#11501 ath79: add support for KuWFi C910
  target/linux/ath79/dts/qca9533_kuwfi_c910.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#11551 rules: fix broken commitcount on alpine system
  rules.mk
Labels: cosmetic/trivial, core packages, fix

#11527 image-commands.mk: Be consistent in command invocation
  include/image-commands.mk
Labels: build/scripts/tools

#11500 iproute2: update to 6.1.0
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/170-ip_tiny.patch
Labels: core packages

#11547 tools/libressl: update to 3.7.0
  tools/libressl/Makefile
Labels: build/scripts/tools

#11522 generic: 5.15: allow MV88E6xxx built-in when PTP support disabled
  target/linux/generic/hack-5.15/290-net-dsa-mv88e6xxx-depend-on-PTP-conditionally.patch
Labels: kernel

#10443 ramips: add support for linksys E5400 and clones (E2500v4, E5300 and E5350)
  target/linux/ramips/dts/mt7628an_linksys_e5400.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips, new device

#11552 tools/sed: Fix handling of symlinks of 128 chars
  tools/sed/patches/001-sed-fix-handling-of-symlinks-pointing-to-path-with-1.patch
Labels: build/scripts/tools

#11546 tools/patchelf: update to 0.17.0
  tools/patchelf/Makefile
Labels: build/scripts/tools

#11452 [22.03] tools/ccache: fix build with musl and gcc 12
  tools/ccache/patches/100-honour-copts.patch
  tools/ccache/patches/110-musl-gcc12.patch
Labels: build/scripts/tools, release/22.03

#11505 tools/xz: update to 5.2.10
  tools/xz/Makefile
Labels: build/scripts/tools

#11568 kernel: bump 5.15 to 5.15.84
  include/kernel-5.15
  target/linux/realtek/patches-5.15/008-5.17-watchdog-add-realtek-otto-watchdog-timer.patch
Labels: build/scripts/tools, target/realtek

#11567 kernel: bump 5.10 to 5.10.160
  include/kernel-5.10
Labels: build/scripts/tools

#11573 [22.03] Revert "mbedtls: import patch to fix illegal instruction on mpc85xx"
  package/libs/mbedtls/patches/101-bn_mul.h-workaround-for-gcc-11.2.0-issues.patch
Labels: core packages, release/22.03

#11603 kernel: backport ksmbd security fix ZDI-22-1690
  package/kernel/ksmbd/patches/02-fix_zdi_22_1690.patch
Labels: core packages, release/22.03

#11506 tools: Improve maintainability of rolled stairs
  tools/Makefile
Labels: build/scripts/tools

#11540 CI: tools: reogranize and split workflow
  .github/workflows/build-tools.yml
  .github/workflows/push-containers.yml
  .github/workflows/tools.yml
Labels: GitHub/CI

#11592 mpc85xx: drop empty patch as it backported to LTS kernel 5.15.70
  target/linux/mpc85xx/patches-5.15/110-gpio-mpc8xxx-Fix-support-for-IRQ_TYPE_LEVEL_LOW-flow.patch
Labels: target/mpc85xx, ready for merge

#11585 kernel: bump 5.15 to 5.15.85
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0600-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.15/950-0606-usb-xhci-add-VLI_TRB_CACHE_BUG-quirk.patch
  target/linux/bcm27xx/patches-5.15/950-0717-usb-xhci-add-a-quirk-for-Superspeed-bulk-OUT-transfe.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#11586 kernel: bump 5.10 to 5.10.161
  include/kernel-5.10
  target/linux/apm821xx/patches-5.10/802-usb-xhci-force-msi-renesas-xhci.patch
  target/linux/generic/hack-5.10/780-usb-net-MeigLink_modem_support.patch
Labels: target/apm821xx, build/scripts/tools, kernel

#10291 rules: drop -Wno-error additional flags from default TARGET_CFLAGS
  rules.mk
Labels: ready for merge, GitHub/CI

#11581 [21.02] dnsmasq: Backport DHCPv6 server fix (CVE-2022-0934)
  package/network/services/dnsmasq/patches/001-CVE-2022-0934-Fix-write-after-free-error-in-DHCPv6-code.patch
Labels: core packages, release/21.02

#11615 kernel: bump 5.10 to 5.10.161
  include/kernel-5.10
  target/linux/apm821xx/patches-5.10/802-usb-xhci-force-msi-renesas-xhci.patch
  target/linux/bcm27xx/patches-5.10/950-0151-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.10/950-0355-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/generic/hack-5.10/780-usb-net-MeigLink_modem_support.patch
Labels: target/apm821xx, target/bcm27xx, build/scripts/tools, kernel, release/22.03

#11406 [22.03] kernel: remove hack patch, move kirkwood specific kmods to target mod…
  package/kernel/linux/modules/block.mk
  package/kernel/linux/modules/other.mk
  target/linux/generic/hack-5.10/252-SATA_PMP.patch
  target/linux/kirkwood/modules.mk
Labels: kernel, target/kirkwood, core packages, release/22.03

#11606 linux-firmware: update to 20221214
  package/firmware/linux-firmware/Makefile
Labels: core packages

#11624 [22.03] toolchain: gcc: import patch fixing asm machine directive for powerpc
  toolchain/gcc/patches/11.2.0/020-powerpc-Fix-asm-machine-directive-for-some-CPUs.patch
Labels: toolchain, release/22.03

#11574 ath79: fix calibration data for some boards
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

#11633 linux-firmware: disable stripping
  package/firmware/linux-firmware/Makefile
Labels: core packages

#11579 ipq40xx: convert Aruba AP-303H to DSA and enable target again
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4029-ap-303h.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#11559 tree-wide: Do not use package librt and libpthread
  include/package-defaults.mk
  package/network/services/hostapd/Makefile
  package/system/fstools/Makefile
  package/system/procd/Makefile
  package/system/ubox/Makefile
  package/utils/e2fsprogs/Makefile
  package/utils/lua/Makefile
Labels: build/scripts/tools, core packages

#11638 CI: labeler: Add target label to target packages
  .github/labeler.yml
Labels: GitHub/CI

#11639 arm-trusted-firmware-sunxi: Use common trusted-firmware-a.mk
  package/boot/arm-trusted-firmware-sunxi/Makefile
  package/boot/uboot-sunxi/Makefile
Labels: core packages, target/sunxi

#11637 arm-trusted-firmware-mvebu: Use host flags for cryptest compilation
  package/boot/arm-trusted-firmware-mvebu/Makefile
  package/boot/arm-trusted-firmware-mvebu/patches/002-cryptopp_ldflags.patch
Labels: target/mvebu, core packages

#11640 tfa-layerscape: Use trusted-firmware-a.mk
  package/boot/tfa-layerscape/Makefile
  target/linux/layerscape/image/armv8_64b.mk
Labels: target/layerscape, core packages
