Repository openwrt/openwrt, pull requests merged in 2022-09, with the labels that each got.

#10654 python detection fixes
  include/prereq-build.mk
Labels: build/scripts/tools, fix

#10412 kernel: FQ-PIE as an optional sched kmod
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages, ready for merge

#4088 scripts: improve dl_cleanup script
  scripts/dl_cleanup.py
Labels: build/scripts/tools

#10699 realtek: Use built-in functionality for timeout loop
  target/linux/realtek/files-5.10/drivers/net/dsa/rtl83xx/rtl838x.c
Labels: ready for merge, target/realtek

#10714 realtek: Use built-in functionality for timeout loop
  target/linux/realtek/files-5.10/drivers/net/dsa/rtl83xx/rtl838x.c
Labels: target/realtek

#10414 wolfssl: add libwolfssl-cpu-crypto package
  package/libs/wolfssl/Config.in
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/preinst.arm-ce
Labels: core packages

#10758 GitHub Workflows security hardening
  .github/workflows/formal.yml
  .github/workflows/kernel.yml
  .github/workflows/labeler.yml
  .github/workflows/tools.yml
Labels: GitHub/CI

#10754 tools/cmake: fix download url with make variables
  tools/cmake/Makefile
Labels: build/scripts/tools, ready for merge

#10775 base-files: Actually set default name
  package/base-files/files/lib/functions/uci-defaults.sh
Labels: core packages, fix, ready for merge

#10377 of_net: add patch to do mac-address-increment only once
  target/linux/generic/pending-5.10/684-of_net-do-mac-address-increment-only-once.patch
  target/linux/generic/pending-5.15/684-of_net-do-mac-address-increment-only-once.patch
Labels: kernel, ready for merge

#10682 add download tool aria2 support
  scripts/download.pl
Labels: build/scripts/tools

#10795 wolfssl: fix libwolfssl-cpu-crypto selection neutrality
  package/libs/wolfssl/Config.in
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/preinst.arm-ce
Labels: core packages

#10816 scripts/download.pl: fix mirrors regression for curl and wget
  scripts/download.pl
Labels: build/scripts/tools

#10808 toolchain/gcc: use zstd from tools
  toolchain/gcc/common.mk
Labels: toolchain

#10809 toolchain/gdb: fix expat location
  toolchain/gdb/Makefile
Labels: toolchain

#10670 Makefile: fix stray \ warnings with grep-3.8
  Makefile
Labels: fix

#10468 tools/ccache: update to 4.6.3
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#10825 tools/zstd: build libraries as static
  tools/zstd/Makefile
Labels: build/scripts/tools

#10833 tools: fix firmware-utils depends
  tools/Makefile
Labels: build/scripts/tools

#10792 ramips: update MAC address configuration for Buffalo WSR-1166DHP
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#10839 scripts/download.pl: generilize and simplify download tool check
  scripts/download.pl
Labels: build/scripts/tools

#10853 scripts/download.pl: add tsinghua and ustc mirrors
  scripts/download.pl
Labels: build/scripts/tools

#9516 CI: use buildbot container for building
  .github/workflows/tools.yml
Labels: ready for merge, GitHub/CI

#10857 tools/cmake: fix compilation with host libzstd-dev
  tools/cmake/patches/150-zstd-libarchive.patch
Labels: build/scripts/tools
