Repository openwrt/openwrt, pull requests merged in 2022-10, with the labels that each got.

#10883 CI: Add workaround for github uppercase usernames
  .github/workflows/kernel.yml
  .github/workflows/tools.yml
Labels: GitHub/CI

#10799 Prefer HTTPS if available for package sources
  package/devel/valgrind/Makefile
  package/libs/libaudit/Makefile
  package/libs/libpcap/Makefile
  package/network/services/dnsmasq/Makefile
  package/network/services/ipset-dns/Makefile
  package/network/utils/arptables/Makefile
  package/network/utils/ipset/Makefile
  package/network/utils/tcpdump/Makefile
  package/utils/bsdiff/Makefile
  package/utils/lua/Makefile
  package/utils/lua5.3/Makefile
  toolchain/fortify-headers/Makefile
  tools/libressl/Makefile
Labels: build/scripts/tools, cosmetic/trivial, core packages, toolchain

#3503 ath79: allow symmetrical ring buffer
  target/linux/ath79/files/drivers/net/ethernet/atheros/ag71xx/ag71xx.h
Labels: needs reviewer, target/ath79

#10938 lantiq: dts: vr9: Add missing properties to the CPU port on the switch
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9.dtsi
Labels: kernel, target/lantiq, ready for merge

#10936 ipq40xx: Fix wrong GPIO for internal status LED on ZTE MF289F
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-mf289f.dts
Labels: kernel, target/ipq40xx

#9683 build: image: use printf for string prefix
  include/image-commands.mk
Labels: build/scripts/tools

#10611 kernel: backport gnu11 upgrade
  target/linux/generic/backport-5.10/005-v5.17-01-Kbuild-use-Wdeclaration-after-statement.patch
  target/linux/generic/backport-5.10/005-v5.17-02-Kbuild-move-to-std-gnu11.patch
  target/linux/generic/backport-5.10/005-v5.17-03-Kbuild-use-std-gnu11-for-KBUILD_USERCFLAGS.patch
  target/linux/generic/backport-5.15/005-v5.17-01-Kbuild-use-Wdeclaration-after-statement.patch
  target/linux/generic/backport-5.15/005-v5.17-02-Kbuild-move-to-std-gnu11.patch
  target/linux/generic/backport-5.15/005-v5.17-03-Kbuild-use-std-gnu11-for-KBUILD_USERCFLAGS.patch
Labels: kernel

#10940 bcm53xx: Specify all RAM for linksys ea6500 v2
  target/linux/bcm53xx/patches-5.10/315-ARM-dts-BCM5301X-Extend-RAM-to-full-256MB-for-Linksy.patch
  target/linux/bcm53xx/patches-5.15/315-ARM-dts-BCM5301X-Extend-RAM-to-full-256MB-for-Linksy.patch
Labels: target/bcm53xx, ready for merge

#4934 hostapd: add measurement report value for beacon reports
  package/network/services/hostapd/src/src/ap/ubus.c
Labels: core packages, ready for merge

#10683 airoha: fix imagebuilder generation by introducing generic target
  target/linux/airoha/generic/target.mk
Labels: target/airoha

#9778 [mt7623] Thermal zone fix
  target/linux/mediatek/patches-5.15/193-dts-mt7623-thermal_zone_fix.patch
Labels: target/mediatek, ready for merge

#10958 busybox: nslookup: ensure unique transaction IDs for the DNS queries
  package/utils/busybox/patches/530-nslookup-ensure-unique-transaction-IDs-for-the-DNS-queries.patch
Labels: core packages, ready for merge

#10982 CI: kernel: check if patch are refreshed for each target
  .github/workflows/kernel.yml
Labels: GitHub/CI

#10865 scripts/download.pl: make the download tool configurable
  config/Config-devel.in
  include/download.mk
  scripts/download.pl
Labels: build/scripts/tools

#4983 mt7622: switch default CPU governor to ondemand
  target/linux/mediatek/mt7622/config-5.15
Labels: target/mediatek

#10874 scripts/download.pl: pass aria2 config in ENV only
  scripts/download.pl
Labels: build/scripts/tools

#11019 lantiq: add rgmii delays on BT Home Hub 5A
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_bt_homehub-v5a.dts
Labels: kernel, target/lantiq, ready for merge

#3944 kernel: disable CONFIG_CPU_LITTLE_ENDIAN in generic config
  target/linux/armvirt/64/config-5.15
  target/linux/bcm27xx/bcm2710/config-5.15
  target/linux/bcm27xx/bcm2711/config-5.15
  target/linux/bcm4908/config-5.10
  target/linux/bmips/config-5.15
  target/linux/generic/config-5.10
  target/linux/generic/config-5.15
  target/linux/layerscape/armv8_64b/config-5.10
  target/linux/malta/be/config-default
  target/linux/malta/be64/config-default
  target/linux/mediatek/filogic/config-5.15
  target/linux/mediatek/mt7622/config-5.15
  target/linux/mvebu/cortexa53/config-5.10
  target/linux/mvebu/cortexa53/config-5.15
  target/linux/mvebu/cortexa72/config-5.10
  target/linux/mvebu/cortexa72/config-5.15
  target/linux/octeon/config-5.10
  target/linux/octeon/config-5.15
  target/linux/octeontx/config-5.10
  target/linux/pistachio/config-5.10
  target/linux/ramips/mt7620/config-5.10
  target/linux/ramips/mt7620/config-5.15
  target/linux/ramips/mt7621/config-5.10
  target/linux/ramips/mt7621/config-5.15
  target/linux/ramips/mt76x8/config-5.10
  target/linux/ramips/mt76x8/config-5.15
  target/linux/ramips/rt288x/config-5.10
  target/linux/ramips/rt288x/config-5.15
  target/linux/ramips/rt305x/config-5.10
  target/linux/ramips/rt305x/config-5.15
  target/linux/ramips/rt3883/config-5.10
  target/linux/ramips/rt3883/config-5.15
  target/linux/rockchip/armv8/config-5.10
  target/linux/rockchip/armv8/config-5.15
  target/linux/sunxi/cortexa53/config-5.10
  target/linux/sunxi/cortexa53/config-5.15
Labels: target/bcm27xx, kernel, target/layerscape, target/mvebu, target/octeon, target/ramips, target/sunxi, target/pistachio, target/mediatek, ready for merge, target/malta, target/armvirt, target/rockchip, target/bmips, target/bcm4908, target/octeontx

#11043 CI: kernel: fix deprecation of set-output
  .github/workflows/kernel.yml
Labels: GitHub/CI

#10877 ipq40xx: convert to DSA and enable asus,rt-ac42u
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/lib/preinit/05_set_iface_mac_ipq40xx.sh
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-rt-ac42u.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#10979 [21.02] mac80211: Update to version 5.10.148-1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath/404-regd_no_assoc_hints.patch
  package/kernel/mac80211/patches/ath/580-ath9k_ar9561_fix_bias_level.patch
  package/kernel/mac80211/patches/ath/930-ath10k_add_tpt_led_trigger.patch
  package/kernel/mac80211/patches/ath/975-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/mac80211/patches/subsys/300-cfg80211-support-immediate-reconnect-request-hint.patch
  package/kernel/mac80211/patches/subsys/301-mac80211-support-driver-based-disconnect-with-reconn.patch
  package/kernel/mac80211/patches/subsys/302-cfg80211-Add-support-to-configure-SAE-PWE-value-to-d.patch
  package/kernel/mac80211/patches/subsys/306-mac80211-set-up-the-fwd_skb-dev-for-mesh-forwarding.patch
  package/kernel/mac80211/patches/subsys/315-mac80211-add-rx-decapsulation-offload-support.patch
  package/kernel/mac80211/patches/subsys/373-mac80211-support-Rx-timestamp-calculation-for-all-pr.patch
  package/kernel/mac80211/patches/subsys/380-mac80211-introduce-aql_enable-node-in-debugfs.patch
  package/kernel/mac80211/patches/subsys/382-mac80211-Switch-to-a-virtual-time-based-airtime-sche.patch
  package/kernel/mac80211/patches/subsys/384-nl80211-add-common-API-to-configure-SAR-power-limita.patch
  package/kernel/mac80211/patches/subsys/387-nl80211-add-support-for-BSS-coloring.patch
  package/kernel/mac80211/patches/subsys/388-mac80211-add-support-for-BSS-color-change.patch
  package/kernel/mac80211/patches/subsys/390-mac80211-introduce-individual-TWT-support-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/392-wireless-fix-spelling-of-A-MSDU-in-HE-capabilities.patch
  package/kernel/mac80211/patches/subsys/393-wireless-align-HE-capabilities-A-MPDU-Length-Exponen.patch
  package/kernel/mac80211/patches/subsys/396-wifi-mac80211-fix-crash-in-beacon-protection-for-P2P.patch
  package/kernel/mac80211/patches/subsys/397-disable-mbssid.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
Labels: core packages, release/21.02

#10897 ipq40xx: convert to DSA and enable Netgear Orbi devices
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-orbi.dtsi
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#4340 base-files: wifi: call scan_wifi after network reload
  package/base-files/files/sbin/wifi
Labels: core packages
