Repository openwrt/openwrt, pull requests merged in 2023-02, with the labels that each got.

#11921 kernel: bump 5.15 to 5.15.91
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0040-spi-spidev-Completely-disable-the-spidev-warning.patch
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.15/950-0578-spi-spidev-Restore-loading-from-Device-Tree.patch
  target/linux/generic/backport-5.15/005-v5.17-01-Kbuild-use-Wdeclaration-after-statement.patch
  target/linux/generic/backport-5.15/005-v5.17-02-Kbuild-move-to-std-gnu11.patch
  target/linux/generic/backport-5.15/005-v5.17-03-Kbuild-use-std-gnu11-for-KBUILD_USERCFLAGS.patch
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multigenerational-lru-mm_struct-list.patch
  target/linux/generic/backport-5.15/775-v6.0-01-net-ethernet-stmicro-stmmac-move-queue-reset-to-dedi.patch
  target/linux/generic/backport-5.15/775-v6.0-02-net-ethernet-stmicro-stmmac-first-disable-all-queues.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/775-v6.0-04-net-ethernet-stmicro-stmmac-generate-stmmac-dma-conf.patch
  target/linux/generic/backport-5.15/775-v6.0-05-net-ethernet-stmicro-stmmac-permit-MTU-change-with-i.patch
  target/linux/generic/pending-5.15/103-kbuild-export-SUBARCH.patch
  target/linux/generic/pending-5.15/110-v6.3-0001-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/pending-5.15/110-v6.3-0002-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
  target/linux/generic/pending-5.15/613-netfilter_optional_tcp_window_check.patch
  target/linux/generic/pending-5.15/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/ipq807x/patches-5.15/0128-cpufreq-qcom-nvmem-add-support-for-IPQ8074.patch
  target/linux/realtek/patches-5.15/800-net-mdio-support-hardware-assisted-indirect-access.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/realtek, target/ipq807x

#11920 kernel: bump 5.10 to 5.10.166
  include/kernel-5.10
  target/linux/at91/patches-5.10/115-net-macb-add-userio-bits-as-platform-configuration.patch
  target/linux/at91/patches-5.10/117-net-macb-add-function-to-disable-all-macb-clocks.patch
  target/linux/at91/patches-5.10/118-net-macb-unprepare-clocks-in-case-of-failure.patch
  target/linux/at91/patches-5.10/119-net-macb-add-support-for-sama7g5-gem-interface.patch
  target/linux/at91/patches-5.10/120-net-macb-add-support-for-sama7g5-emac-interface.patch
  target/linux/at91/patches-5.10/148-net-macb-Add-default-usrio-config-to-default-gem-con.patch
  target/linux/generic/backport-5.10/610-v5.13-55-netfilter-conntrack-Introduce-tcp-offload-timeout-co.patch
  target/linux/generic/backport-5.10/610-v5.13-56-netfilter-conntrack-Introduce-udp-offload-timeout-co.patch
  target/linux/generic/backport-5.10/613-v5.15-02-netfilter-conntrack-remove-offload_pickup-sysctl-aga.patch
  target/linux/generic/backport-5.10/732-v5.13-0008-of-net-pass-the-dst-buffer-to-of_get_mac_address.patch
  target/linux/generic/pending-5.10/110-v6.3-0001-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/pending-5.10/110-v6.3-0002-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
  target/linux/generic/pending-5.10/613-netfilter_optional_tcp_window_check.patch
  target/linux/generic/pending-5.10/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/ipq806x/patches-5.10/108-v5.14-net-stmmac-explicitly-deassert-gmac-ahb-reset.patch
  target/linux/realtek/patches-5.10/800-net-mdio-support-hardware-assisted-indirect-access.patch
Labels: target/at91, build/scripts/tools, target/ipq806x, kernel, target/realtek

#11098 mbedtls: x509 crt verify SAN iPAddress
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/100-x509-crt-verify-SAN-iPAddress.patch
Labels: core packages

#10482 mvebu/uDPU: run through shellcheck
  target/linux/mvebu/cortexa53/base-files/lib/upgrade/uDPU.sh
Labels: target/mvebu

#11906 kernel: backport some mv88e6xxx devlink patches
  target/linux/generic/backport-5.10/890-v5.11-net-dsa-mv88e6xxx-Export-VTU-as-devlink-region.patch
  target/linux/generic/backport-5.10/891-v5.11-net-dsa-mv88e6xxx-Add-helper-to-get-a-chip-s-max_vid.patch
  target/linux/generic/backport-5.10/891-v5.13-net-dsa-mv88e6xxx-Fix-off-by-one-in-VTU-devlink-regi.patch
Labels: kernel, release/22.03

#11613 treewide: strip useless `default n` Kconfig lines
  config/Config-build.in
  config/Config-devel.in
  config/Config-images.in
  config/Config-kernel.in
  target/linux/at91/image/Config.in
  target/linux/ath79/files/drivers/net/ethernet/atheros/ag71xx/Kconfig
  target/linux/generic/files/drivers/mtd/mtdsplit/Kconfig
  target/linux/generic/files/drivers/platform/mikrotik/Kconfig
  target/sdk/files/Config.in
  toolchain/Config.in
  toolchain/gcc/Config.in
Labels: target/at91, cosmetic/trivial, kernel, toolchain, target/ath79

#9347 tools/coreutils: update to 9.1
  tools/coreutils/Makefile
  tools/coreutils/patches/001-m4.patch
Labels: build/scripts/tools

#11941 tools/pkgconf: update to 1.9.4 and add PKG_CPE_ID
  tools/pkgconf/Makefile
Labels: build/scripts/tools

#11938 ipq40xx: fix assignment of lan port numbers for Cell C RTL30VW
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-rtl30vw.dts
Labels: kernel, target/ipq40xx

#11940 ipq806x: add missing enclosing reserved-memory block on C2600/AD7200
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8064-ad7200-c2600.dtsi
Labels: target/ipq806x

#9450 mpc85xx: p2020: kernel: enable CONFIG_BLK_DEV_NVME
  target/linux/mpc85xx/p2020/config-default
Labels: kernel, target/mpc85xx

#11944 [22.03] kernel: bump 5.10 to 5.10.166
  include/kernel-5.10
  target/linux/at91/patches-5.10/115-net-macb-add-userio-bits-as-platform-configuration.patch
  target/linux/at91/patches-5.10/117-net-macb-add-function-to-disable-all-macb-clocks.patch
  target/linux/at91/patches-5.10/118-net-macb-unprepare-clocks-in-case-of-failure.patch
  target/linux/at91/patches-5.10/119-net-macb-add-support-for-sama7g5-gem-interface.patch
  target/linux/at91/patches-5.10/120-net-macb-add-support-for-sama7g5-emac-interface.patch
  target/linux/at91/patches-5.10/148-net-macb-Add-default-usrio-config-to-default-gem-con.patch
  target/linux/bcm27xx/patches-5.10/950-0013-spi-spidev-Completely-disable-the-spidev-warning.patch
  target/linux/bcm27xx/patches-5.10/950-0139-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-5.10/950-0151-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.10/950-0537-clk-Introduce-a-clock-request-API.patch
  target/linux/generic/backport-5.10/610-v5.13-55-netfilter-conntrack-Introduce-tcp-offload-timeout-co.patch
  target/linux/generic/backport-5.10/610-v5.13-56-netfilter-conntrack-Introduce-udp-offload-timeout-co.patch
  target/linux/generic/backport-5.10/613-v5.15-02-netfilter-conntrack-remove-offload_pickup-sysctl-aga.patch
  target/linux/generic/backport-5.10/732-net-next-1-of-net-pass-the-dst-buffer-to-of_get_mac_address.patch
  target/linux/generic/pending-5.10/130-add-linux-spidev-compatible-si3210.patch
  target/linux/generic/pending-5.10/613-netfilter_optional_tcp_window_check.patch
  target/linux/generic/pending-5.10/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/ipq806x/patches-5.10/108-v5.14-net-stmmac-explicitly-deassert-gmac-ahb-reset.patch
  target/linux/realtek/patches-5.10/800-net-mdio-support-hardware-assisted-indirect-access.patch
Labels: target/at91, target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/realtek, release/22.03

#11945 tools/e2fsprogs: update to 1.46.6
  tools/e2fsprogs/Makefile
  tools/e2fsprogs/patches/003-no-crond.patch
  tools/e2fsprogs/patches/004-CVE-2022-1304-libext2fs-add-sanity-check-to-extent-manipulation.patch
Labels: build/scripts/tools

#11946 e2fsprogs: update to 1.46.6
  package/utils/e2fsprogs/Makefile
  package/utils/e2fsprogs/patches/004-CVE-2022-1304-libext2fs-add-sanity-check-to-extent-manipulation.patch
Labels: core packages

#11901 lantiq: ar9/vr9: add fritz-tffs package
  target/linux/lantiq/image/ar9.mk
  target/linux/lantiq/image/vr9.mk
Labels: target/lantiq

#11954 kernel: bump 5.15 to 5.15.92
  include/kernel-5.15
  target/linux/generic/pending-5.15/750-skb-Do-mix-page-pool-and-page-referenced-frags-in-GR.patch
  target/linux/ramips/patches-5.15/700-net-ethernet-mediatek-support-net-labels.patch
Labels: build/scripts/tools, kernel, target/ramips

#11955 kernel: bump 5.10 to 5.10.167
  include/kernel-5.10
  target/linux/generic/backport-5.10/630-v5.15-page_pool_frag_support.patch
  target/linux/generic/pending-5.10/750-skb-Do-mix-page-pool-and-page-referenced-frags-in-GR.patch
Labels: build/scripts/tools, kernel

#11899 [22.03] mac80211: Update to version 5.15.90-test2
  package/kernel/mac80211/Makefile
Labels: core packages, release/22.03

#11936 kernel: kmod-fs-ntfs3: fix typo
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

#11974 [22.03] include/bpf.mk: backport minor fixes
  include/bpf.mk
Labels: build/scripts/tools, release/22.03

#11976 kernel: bump 5.15 to 5.15.93
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0005-drm-vc4-hdmi-Raise-the-maximum-clock-rate.patch
  target/linux/bcm27xx/patches-5.15/950-0007-drm-vc4-hdmi-Add-a-spinlock-to-protect-register-acce.patch
  target/linux/bcm27xx/patches-5.15/950-0008-drm-vc4-hdmi-Use-a-mutex-to-prevent-concurrent-frame.patch
  target/linux/bcm27xx/patches-5.15/950-0012-drm-vc4-hdmi-Introduce-a-scdc_enabled-flag.patch
  target/linux/bcm27xx/patches-5.15/950-0427-drm-vc4-Add-all-the-HDMI-registers-into-the-debugfs-.patch
  target/linux/bcm27xx/patches-5.15/950-0572-drm-vc4-Don-t-try-disabling-SCDC-on-Pi0-3.patch
  target/linux/bcm27xx/patches-5.15/950-0580-drm-vc4-Ensure-vc4_hdmi-doesn-t-use-2711-HPD-registe.patch
  target/linux/bcm27xx/patches-5.15/950-0590-drm-vc4-Move-HDMI-reset-to-pm_resume.patch
  target/linux/bcm27xx/patches-5.15/950-0607-drm-vc4-Fix-build-without-DRM_VC4_HDMI_CEC.patch
  target/linux/bcm27xx/patches-5.15/950-0868-drm-vc4-hdmi-Rework-hdmi_enable_4kp60-detection.patch
  target/linux/generic/backport-5.15/020-v6.1-04-mm-multigenerational-lru-groundwork.patch
  target/linux/generic/backport-5.15/802-v5.16-0001-nvmem-core-rework-nvmem-cell-instance-creation.patch
  target/linux/generic/backport-5.15/802-v5.16-0002-nvmem-core-add-nvmem-cell-post-processing-callback.patch
  target/linux/generic/backport-5.15/804-v5.18-0001-nvmem-core-Remove-unused-devm_nvmem_unregister.patch
  target/linux/generic/backport-5.15/804-v5.18-0002-nvmem-core-Use-devm_add_action_or_reset.patch
  target/linux/generic/backport-5.15/804-v5.18-0003-nvmem-core-Check-input-parameter-for-NULL-in-nvmem_u.patch
  target/linux/generic/backport-5.15/807-v6.1-0003-nvmem-core-add-error-handling-for-dev_set_name.patch
  target/linux/ipq807x/patches-5.15/0072-v6.0-phy-qcom-qmp-pcie-make-pipe-clock-rate-configurable.patch
  target/linux/ipq807x/patches-5.15/0073-v6.0-phy-qcom-qmp-pcie-add-IPQ8074-PCIe-Gen3-QMP-PHY-supp.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ipq807x

#11962 openssl: bump to 1.1.1t
  package/libs/openssl/Makefile
  package/libs/openssl/patches/010-padlock.patch
Labels: core packages

#11886 fakeroot: revert to 1.29 (debian "testing" release)
  tools/fakeroot/Makefile
  tools/fakeroot/patches/600-macOS.patch
Labels: build/scripts/tools

#11991 tools/e2fsprogs: update to 1.47.0
  tools/e2fsprogs/Makefile
Labels: build/scripts/tools

#11897 ramips: add support for ASUS RT-AX54 (AX1800S/HP,AX54HP)
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_asus_rt-ax54.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#11927 toolchain: glibc: Update to glibc 2.37
  toolchain/glibc/common.mk
Labels: toolchain

#11993 e2fsprogs: update to 1.47.0
  package/utils/e2fsprogs/Makefile
Labels: core packages

#12015 kernel: bump 5.15 to 5.15.94
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/generic/backport-5.15/020-v6.1-04-mm-multigenerational-lru-groundwork.patch
  target/linux/generic/backport-5.15/705-01-v5.17-net-dsa-mt7530-iterate-using-dsa_switch_for_each_use.patch
  target/linux/generic/backport-5.15/705-02-v5.19-net-dsa-mt7530-populate-supported_interfaces-and-mac.patch
  target/linux/generic/backport-5.15/705-03-v5.19-net-dsa-mt7530-remove-interface-checks.patch
  target/linux/generic/backport-5.15/705-04-v5.19-net-dsa-mt7530-drop-use-of-phylink_helper_basex_spee.patch
  target/linux/generic/backport-5.15/705-05-v5.19-net-dsa-mt7530-only-indicate-linkmodes-that-can-be-s.patch
  target/linux/generic/backport-5.15/705-06-v5.19-net-dsa-mt7530-switch-to-use-phylink_get_linkmodes.patch
  target/linux/generic/backport-5.15/705-07-v5.19-net-dsa-mt7530-partially-convert-to-phylink_pcs.patch
  target/linux/generic/backport-5.15/705-08-v5.19-net-dsa-mt7530-move-autoneg-handling-to-PCS-validati.patch
  target/linux/generic/backport-5.15/705-09-v5.19-net-dsa-mt7530-mark-as-non-legacy.patch
  target/linux/generic/backport-5.15/705-10-v5.19-net-dsa-mt753x-fix-pcs-conversion-regression.patch
  target/linux/generic/backport-5.15/705-11-v6.0-net-dsa-mt7530-rework-mt7530_hw_vlan_-add-del.patch
  target/linux/generic/backport-5.15/705-12-v6.0-net-dsa-mt7530-rework-mt753-01-_setup.patch
  target/linux/generic/backport-5.15/705-13-v6.0-net-dsa-mt7530-get-cpu-port-via-dp-cpu_dp-instead-of.patch
  target/linux/generic/backport-5.15/782-v6.1-net-dsa-mt7530-add-support-for-in-band-link-status.patch
  target/linux/generic/pending-5.15/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
  target/linux/generic/pending-5.15/723-net-mt7531-ensure-all-MACs-are-powered-down-before-r.patch
  target/linux/realtek/patches-5.15/704-drivers-net-phy-eee-support-for-rtl838x.patch
Labels: build/scripts/tools, kernel, target/ath79, target/realtek

#11363 mediatek: add support for Netgear WAX206
  target/linux/mediatek/dts/mt7622-netgear-wax206.dts
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/base-files/etc/board.d/01_leds
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
  target/linux/mediatek/mt7622/base-files/lib/upgrade/platform.sh
Labels: target/mediatek

#11984 sunxi: fix wifi connection for Banana Pi M2 Berry
  target/linux/sunxi/image/cortexa7.mk
Labels: target/sunxi, release/21.02

#12018 ramips : fix the name of ASUS AX54 because it has dupilcated twice
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#12007 [21.02] openssl: bump to 1.1.1t
  package/libs/openssl/Makefile
Labels: core packages, release/21.02

#12006 [22.03] openssl: bump to 1.1.1t
  package/libs/openssl/Makefile
Labels: core packages, release/22.03

#12002 wireless-regdb: update to 2023.02.13
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#11925 netfilter: add kmod-nf-conntrack
  include/netfilter.mk
  package/kernel/linux/modules/netfilter.mk
Labels: build/scripts/tools, kernel, core packages

#11980 tools/zstd: update to 1.5.4
  tools/zstd/Makefile
Labels: build/scripts/tools

#12016 kernel: bump 5.10 to 5.10.168
  include/kernel-5.10
  target/linux/ath79/patches-5.10/910-unaligned_access_hacks.patch
  target/linux/generic/backport-5.10/801-v5.11-0001-nvmem-core-Add-support-for-keepout-regions.patch
  target/linux/generic/backport-5.10/804-v5.14-0001-nvmem-core-allow-specifying-of_node.patch
  target/linux/generic/backport-5.10/805-v5.15-0003-nvmem-core-fix-error-handling-while-validating-keepo.patch
  target/linux/generic/backport-5.10/806-v5.16-0002-nvmem-core-add-nvmem-cell-post-processing-callback.patch
  target/linux/generic/backport-5.10/807-v5.17-0003-nvmem-core-Fix-a-conflict-between-MTD-and-NVMEM-on-w.patch
  target/linux/generic/backport-5.10/811-v6.1-0001-nvmem-core-Fix-memleak-in-nvmem_register.patch
  target/linux/generic/backport-5.10/811-v6.1-0003-nvmem-core-add-error-handling-for-dev_set_name.patch
  target/linux/generic/pending-5.10/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
Labels: build/scripts/tools, kernel, target/ath79

#11999 [21.02] kernel: bump 5.4 to 5.4.231
  include/kernel-5.4
  target/linux/bcm27xx/patches-5.4/950-0011-spi-spidev-Completely-disable-the-spidev-warning.patch
  target/linux/bcm27xx/patches-5.4/950-0219-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-5.4/950-0280-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.4/950-0451-media-dt-bindings-media-i2c-Add-IMX219-CMOS-sensor-b.patch
  target/linux/bcm27xx/patches-5.4/950-0714-media-i2c-Add-driver-for-Sony-IMX477-sensor.patch
  target/linux/bcm27xx/patches-5.4/950-0815-media-dt-bindings-media-i2c-Add-IMX290-CMOS-sensor-b.patch
  target/linux/generic/backport-5.4/080-wireguard-0072-net-WireGuard-secure-network-tunnel.patch
  target/linux/generic/pending-5.4/130-add-linux-spidev-compatible-si3210.patch
  target/linux/generic/pending-5.4/613-netfilter_optional_tcp_window_check.patch
  target/linux/generic/pending-5.4/666-Add-support-for-MAP-E-FMRs-mesh-mode.patch
  target/linux/generic/pending-5.4/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-5.4/745-net-mdio-i2c-add-support-for-Clause-45-accesses.patch
  target/linux/imx6/patches-5.4/007-v5.8-ARM-dts-imx6qdl-gw560x-add-lsm9ds1-iio-imu-magn-supp.patch
  target/linux/ipq806x/patches-5.4/092-1-v5.7-qcom-cpufreq-nvmem-Add-support-for-krait-based-socs.patch
  target/linux/layerscape/patches-5.4/701-net-0262-net-dsa-ocelot-add-tagger-for-Ocelot-Felix-switches.patch
  target/linux/layerscape/patches-5.4/701-net-0263-net-dsa-ocelot-add-driver-for-Felix-switch-family.patch
  target/linux/layerscape/patches-5.4/820-usb-0015-MLK-17380-4-usb-host-xhci-add-EH-SINGLE_STEP_SET_FEA.patch
  target/linux/layerscape/patches-5.4/820-usb-0018-MLK-18794-1-usb-host-xhci-add-.bus_suspend-override.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/layerscape, release/21.02

#11958 tools/squashfs: rename to squashfs3-lzma
  include/image-commands.mk
  target/linux/ath79/image/common-netgear.mk
  tools/Makefile
  tools/squashfs3-lzma/Makefile
  tools/squashfs3-lzma/patches/100-lzma.patch
  tools/squashfs3-lzma/patches/110-no_nonstatic_inline.patch
  tools/squashfs3-lzma/patches/120-add-fixed-timestamp-support.patch
  tools/squashfs3-lzma/patches/130-include_sysmacros.patch
  tools/squashfs3-lzma/patches/140-gcc-10-fix.patch
Labels: build/scripts/tools, target/ath79

#11900 [21.02] mac80211: Update to version 5.10.168-1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/brcm/861-brcmfmac-workaround-bug-with-some-inconsistent-BSSes.patch
  package/kernel/mac80211/patches/brcm/862-brcmfmac-Disable-power-management.patch
  package/kernel/mac80211/patches/brcm/998-survey.patch
  package/kernel/mac80211/patches/subsys/397-disable-mbssid.patch
Labels: core packages, release/21.02

#11998 [22.03] kernel: bump 5.10 to 5.10.168
  include/kernel-5.10
  target/linux/ath79/patches-5.10/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.10/950-0028-mm-Remove-the-PFN-busy-warning.patch
  target/linux/bcm27xx/patches-5.10/950-0310-vc4_hdmi-Remove-cec_available-flag-as-always-support.patch
  target/linux/bcm27xx/patches-5.10/950-0349-drm-vc4-Add-all-the-HDMI-registers-into-the-debugfs-.patch
  target/linux/bcm27xx/patches-5.10/950-0457-drm-vc4-hdmi-Introduce-a-CEC-clock.patch
  target/linux/bcm27xx/patches-5.10/950-0459-drm-vc4-hdmi-Support-BCM2711-CEC-interrupt-setup.patch
  target/linux/bcm27xx/patches-5.10/950-0460-drm-vc4-hdmi-Don-t-register-the-CEC-adapter-if-there.patch
  target/linux/bcm27xx/patches-5.10/950-0475-drm-vc4-Add-HDR-metadata-property-to-the-VC5-HDMI-co.patch
  target/linux/bcm27xx/patches-5.10/950-0601-drm-vc4-hdmi-Rely-on-interrupts-to-handle-hotplug.patch
  target/linux/bcm27xx/patches-5.10/950-0602-drm-vc4-hdmi-Add-a-workqueue-to-set-scrambling.patch
  target/linux/bcm27xx/patches-5.10/950-0654-drm-vc4-hdmi-Use-a-fixed-rate-for-the-HSM-clock-on-B.patch
  target/linux/bcm27xx/patches-5.10/950-0675-drm-vc4-hdmi-Drop-devm-interrupt-handler-for-CEC-int.patch
  target/linux/bcm27xx/patches-5.10/950-0676-drm-vc4-hdmi-Drop-devm-interrupt-handler-for-hotplug.patch
  target/linux/bcm27xx/patches-5.10/950-0717-drm-vc4-hdmi-Make-sure-the-controller-is-powered-up-.patch
  target/linux/generic/pending-5.10/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ath79, release/22.03

#11325 hostapd: always use sae_password for mesh/SAE-auth
  package/network/services/hostapd/files/hostapd.sh
Labels: core packages, ready for merge

#11963 openssl: bump to 3.0.8
  include/openssl-engine.mk
  package/libs/openssl/Config.in
  package/libs/openssl/Makefile
  package/libs/openssl/patches/001-crypto-perlasm-ppc-xlate.pl-add-linux64v2-flavour.patch
  package/libs/openssl/patches/100-Configure-afalg-support.patch
  package/libs/openssl/patches/120-strip-cflags-from-binary.patch
  package/libs/openssl/patches/130-dont-build-fuzz-docs.patch
  package/libs/openssl/patches/130-dont-build-tests-fuzz.patch
  package/libs/openssl/patches/140-allow-prefer-chacha20.patch
  package/libs/openssl/patches/150-openssl.cnf-add-engines-conf.patch
  package/libs/openssl/patches/400-eng_devcrypto-save-ioctl-if-EVP_MD_.FLAG_ONESHOT.patch
  package/libs/openssl/patches/410-eng_devcrypto-add-configuration-options.patch
  package/libs/openssl/patches/420-eng_devcrypto-add-command-to-dump-driver-info.patch
  package/libs/openssl/patches/430-e_devcrypto-make-the-dev-crypto-engine-dynamic.patch
  package/libs/openssl/patches/500-e_devcrypto-default-to-not-use-digests-in-engine.patch
  package/libs/openssl/patches/510-e_devcrypto-ignore-error-when-closing-session.patch
Labels: build/scripts/tools, core packages

#10850 mpc85xx: TP-Link TL-WDR4900 v1 ~~resurrect~~ and convert to DSA
  target/linux/mpc85xx/base-files/etc/board.d/02_network
  target/linux/mpc85xx/base-files/etc/board.d/05_compat-version
  target/linux/mpc85xx/config-5.10
  target/linux/mpc85xx/config-5.15
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
  target/linux/mpc85xx/image/p1010.mk
  target/linux/mpc85xx/p1010/config-default
  target/linux/mpc85xx/p1020/config-default
Labels: kernel, target/mpc85xx

#12037 mvebu: mochabin: enlarge PCI memory window
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-7040-mochabin.dts
Labels: kernel, target/mvebu

#12049 openssl: openssl: fix powerpc & arc libatomic dependencies ❤️
  package/libs/openssl/Makefile
  package/libs/openssl/patches/110-openwrt_targets.patch
Labels: core packages

#12056 mac80211: ath11k: sync with ath-next
  package/kernel/mac80211/patches/ath11k/0019-wifi-ath11k-update-hw-params-for-IPQ5018.patch
  package/kernel/mac80211/patches/ath11k/0020-wifi-ath11k-update-ce-configurations-for-IPQ5018.patch
  package/kernel/mac80211/patches/ath11k/0021-wifi-ath11k-remap-ce-register-space-for-IPQ5018.patch
  package/kernel/mac80211/patches/ath11k/0022-wifi-ath11k-update-hal-srng-regs-for-IPQ5018.patch
  package/kernel/mac80211/patches/ath11k/0023-wifi-ath11k-initialize-hw_ops-for-IPQ5018.patch
  package/kernel/mac80211/patches/ath11k/0024-wifi-ath11k-add-new-hw-ops-for-IPQ5018-to-get-rx-des.patch
  package/kernel/mac80211/patches/ath11k/0025-wifi-ath11k-add-ipq5018-device-support.patch
  package/kernel/mac80211/patches/ath11k/0026-wifi-ath11k-Fix-scan-request-param-frame-size-warnin.patch
  package/kernel/mac80211/patches/ath11k/0027-wifi-ath11k-fix-monitor-mode-bringup-crash.patch
  package/kernel/mac80211/patches/ath11k/0028-wifi-ath11k-debugfs-fix-to-work-with-multiple-PCI-de.patch
  package/kernel/mac80211/patches/ath11k/0029-wifi-ath11k-Add-support-to-configure-FTM-responder-r.patch
  package/kernel/mac80211/patches/ath11k/0030-wifi-ath11k-add-channel-177-into-5-GHz-channel-list.patch
  package/kernel/mac80211/patches/ath11k/0031-wifi-ath11k-fix-ce-memory-mapping-for-ahb-devices.patch
  package/kernel/mac80211/patches/ath11k/0032-wifi-ath11k-Fix-memory-leak-in-ath11k_peer_rx_frag_s.patch
  package/kernel/mac80211/patches/ath11k/0033-wifi-ath11k-Set-ext-passive-scan-flag-to-adjust-pass.patch
  package/kernel/mac80211/patches/ath11k/0034-wifi-ath11k-fix-return-value-check-in-ath11k_ahb_pro.patch
  package/kernel/mac80211/patches/ath11k/0035-wifi-ath11k-Use-platform_get_irq-to-get-the-interrup.patch
  package/kernel/mac80211/patches/ath11k/0036-wifi-ath11k-fix-SAC-bug-on-peer-addition-with-sta-ba.patch
  package/kernel/mac80211/patches/ath11k/902-ath11k-Disable-coldboot-calibration-for-IPQ8074.patch
  package/kernel/mac80211/patches/ath11k/903-ath11k-support-setting-FW-memory-mode-via-DT.patch
Labels: core packages

#12047 kernel: Add CONFIG_PPC_QUEUED_SPINLOCKS configuration option
  target/linux/generic/config-5.15
  target/linux/mpc85xx/p1020/config-default
Labels: kernel, target/mpc85xx

#11948 libcap: update to 2.67
  package/libs/libcap/Makefile
Labels: core packages

#12052 ethtool: update to 6.2
  package/network/utils/ethtool/Makefile
  package/network/utils/ethtool/patches/100-uapi-Bring-in-if-h.patch
  package/network/utils/ethtool/patches/101-netlink-Fix-maybe-uninitialized-meters-variable.patch
  package/network/utils/ethtool/patches/102-raw-marvell-c-Fix-build-with-musl-libc.patch
Labels: core packages

#12054 iproute2: update to 6.2
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/110-darwin_fixes.patch
  package/network/utils/iproute2/patches/115-add-config-xtlibdir.patch
  package/network/utils/iproute2/patches/140-allow_pfifo_fast.patch
  package/network/utils/iproute2/patches/140-keep_libmnl_optional.patch
  package/network/utils/iproute2/patches/145-keep_libelf_optional.patch
  package/network/utils/iproute2/patches/150-keep_libcap_optional.patch
  package/network/utils/iproute2/patches/155-keep_tirpc_optional.patch
  package/network/utils/iproute2/patches/170-ip_tiny.patch
  package/network/utils/iproute2/patches/175-reduce-dynamic-syms.patch
  package/network/utils/iproute2/patches/180-drop_FAILED_POLICY.patch
  package/network/utils/iproute2/patches/190-fix-nls-rpath-link.patch
  package/network/utils/iproute2/patches/195-build_variant_ip_tc.patch
  package/network/utils/iproute2/patches/200-drop_libbsd_dependency.patch
  package/network/utils/iproute2/patches/300-selinux-configurable.patch
  package/network/utils/iproute2/patches/320-configure-Remove-include-sys-stat.h.patch
Labels: core packages

#11378 toolchain: fix stampfile and cleanup dependencies
  toolchain/Makefile
Labels: toolchain

#11973 ath79: add support for GL.iNet GL-X1200
  target/linux/ath79/dts/qca9563_glinet_gl-x1200-nor-nand.dts
  target/linux/ath79/dts/qca9563_glinet_gl-x1200-nor.dts
  target/linux/ath79/dts/qca9563_glinet_gl-x1200.dtsi
  target/linux/ath79/image/nand.mk
  target/linux/ath79/nand/base-files/etc/board.d/02_network
  target/linux/ath79/nand/base-files/lib/upgrade/platform.sh
Labels: target/ath79

#12042 ramips: correct the PCIe port number for some mt7621 devices
  target/linux/ramips/dts/mt7621_netgear_sercomm_ayx.dtsi
  target/linux/ramips/dts/mt7621_netgear_wac104.dts
Labels: target/ramips

#12024 ipq40xx: Linksys MR8300: fix the USB port power
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-xx8300.dtsi
Labels: kernel, target/ipq40xx

#12019 ramips: Alternative name Asus RT-AC750L for Asus RT-AC1200V2
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips
