Repository openwrt/openwrt, pull requests merged in 2023-05, with the labels that each got.

#12515 lantiq: mark source only
  target/linux/lantiq/Makefile
Labels: target/lantiq

#12452 kernel: Activate CONFIG_SLAB_FREELIST_RANDOM
  target/linux/generic/config-5.10
  target/linux/generic/config-5.15
Labels: kernel

#12477 ipq40xx: convert AVM FRITZ!Repeater 3000 to DSA
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-fritzrepeater-3000.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#12528 wireless-regdb: update to 2023.05.03
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#12523 lantiq: xway: use capital letters in Fritz!Box name
  target/linux/lantiq/image/ar9.mk
Labels: target/lantiq

#12064 lantiq: switch to Kernel 5.15 by default
  target/linux/lantiq/Makefile
Labels: target/lantiq

#12540 generic: 5.15: remove outdated symbols
  target/linux/generic/config-5.15
Labels: kernel

#12546 tools/xz: update to 5.4.3
  tools/xz/Makefile
Labels: build/scripts/tools

#12500 mwlwifi: update to version 10.3.9.1-20230429
  package/kernel/mwlwifi/Makefile
Labels: core packages

#12506 ramips: mt7621: rename Asus RT-AC57U to v1
  target/linux/ramips/dts/mt7621_asus_rt-ac57u-v1.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#12504 iproute2: update to 6.3.0
  package/network/utils/iproute2/Makefile
Labels: core packages

#12521 umbim: allow forcing DHCP/DHCPv6 configuration
  package/network/utils/umbim/files/lib/netifd/proto/mbim.sh
Labels: core packages

#12560 ramips: fix dts file name for SNR-CPE-ME1
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me1.dts
Labels: target/ramips

#12553 tools/pkgconf: update to 1.9.5
  tools/pkgconf/Makefile
Labels: build/scripts/tools

#12552 tools/cpio: update to 2.14
  tools/cpio/Makefile
  tools/cpio/patches/001-duplicate-program-name.patch
  tools/cpio/patches/010-clang.patch
Labels: build/scripts/tools

#12573 [22.03] build: generate index.json
  package/Makefile
Labels: core packages, release/22.03

#12572 toolchain: gcc: update to 12.3.0
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-12.x/230-musl_libssp.patch
  toolchain/gcc/patches-12.x/910-mbsd_multi.patch
  toolchain/gcc/patches-12.x/920-specs_nonfatal_getenv.patch
  toolchain/gcc/patches-12.x/970-macos_arm64-building-fix.patch
Labels: toolchain

#12575 fortify-headers: fix inconsistent time_t version of ppoll
  toolchain/fortify-headers/Makefile
  toolchain/fortify-headers/patches/001-__ppoll_time64.patch
Labels: toolchain

#12535 build: remove backwards compatibility for PKG_USE_MIPS16
  include/package.mk
Labels: build/scripts/tools

#12561 odhcp6c: add skpriority option
  package/network/ipv6/odhcp6c/files/dhcpv6.sh
Labels: core packages

#12590 fortify-headers: fix build error when _REDIR_TIME64 is not defined
  toolchain/fortify-headers/Makefile
  toolchain/fortify-headers/patches/001-__ppoll_time64.patch
Labels: toolchain

#12581 kernel: bump 5.15 to 5.15.111
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0020-drm-probe-helper-Create-a-HPD-IRQ-event-helper-for-a.patch
  target/linux/bcm27xx/patches-5.15/950-0078-BCM2708-Add-core-Device-Tree-support.patch
  target/linux/bcm4908/patches-5.15/030-v5.16-0001-arm64-dts-broadcom-bcm4908-Fix-NAND-node-name.patch
  target/linux/bcm4908/patches-5.15/031-v5.17-0002-arm64-dts-broadcom-bcm4908-add-DT-for-Netgear-RAXE50.patch
  target/linux/bcm4908/patches-5.15/032-v5.18-0002-arm64-dts-broadcom-bcm4908-add-pinctrl-binding.patch
  target/linux/bcm4908/patches-5.15/032-v5.18-0003-arm64-dts-broadcom-bcm4908-add-watchdog-block.patch
  target/linux/bcm4908/patches-5.15/032-v5.18-0004-arm64-dts-broadcom-bcm4908-add-I2C-block.patch
  target/linux/bcm4908/patches-5.15/033-v6.0-0001-arm64-dts-Add-DTS-files-for-bcmbca-SoC-BCM63158.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0002-arm64-dts-Add-DTS-files-for-bcmbca-SoC-BCM4912.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0003-ARM64-dts-Add-DTS-files-for-bcmbca-SoC-BCM6858.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0004-arm64-dts-Add-DTS-files-for-bcmbca-SoC-BCM63146.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0005-arm64-dts-Add-DTS-files-for-bcmbca-SoC-BCM6856.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0006-arm64-dts-Add-DTS-files-for-bcmbca-SoC-BCM6813.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0007-arm64-dts-broadcom-align-gpio-key-node-names-with-dt.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0008-arm64-dts-broadcom-bcm4908-Fix-timer-node-for-BCM490.patchgit
  target/linux/bcm4908/patches-5.15/033-v6.0-0010-arm64-dts-Add-base-DTS-file-for-bcmbca-device-Asus-G.patchgit
  target/linux/bcm4908/patches-5.15/034-v6.1-0001-arm64-dts-broadcom-bcm4908-add-remaining-LED-pins.patch
  target/linux/bcm4908/patches-5.15/034-v6.1-0002-arm64-dts-broadcom-bcm4908-add-LEDs-controller-block.patch
  target/linux/bcm4908/patches-5.15/034-v6.1-0003-arm64-dts-broadcom-bcm4908-add-Asus-GT-AC5300-LEDs.patch
  target/linux/bcm4908/patches-5.15/034-v6.1-0004-arm64-dts-bcmbca-update-BCM4908-board-dts-files.patch
  target/linux/bcm4908/patches-5.15/034-v6.1-0005-arm64-dts-Move-BCM4908-dts-to-bcmbca-folder.patch
  target/linux/bcm4908/patches-5.15/036-v6.4-0002-arm64-dts-broadcom-bcmbca-bcm4908-fix-NAND-interrupt.patch
  target/linux/bcm4908/patches-5.15/036-v6.4-0004-arm64-dts-broadcom-bcmbca-bcm4908-fix-procmon-nodena.patch
  target/linux/generic/backport-5.15/403-v6.1-mtd-allow-getting-MTD-device-associated-with-a-speci.patch
  target/linux/generic/backport-5.15/423-v6.1-0001-mtd-track-maximum-number-of-bitflips-for-each-read-r.patch
  target/linux/generic/backport-5.15/424-v6.4-0001-mtd-core-provide-unique-name-for-nvmem-device-take-t.patch
  target/linux/generic/backport-5.15/424-v6.4-0002-mtd-core-fix-nvmem-error-reporting.patch
  target/linux/generic/backport-5.15/424-v6.4-0003-mtd-core-fix-error-path-for-nvmem-provider.patch
  target/linux/generic/backport-5.15/703-00-v5.16-net-convert-users-of-bitmap_foo-to-linkmode_foo.patch
  target/linux/generic/backport-5.15/775-v6.0-01-net-ethernet-stmicro-stmmac-move-queue-reset-to-dedi.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/775-v6.0-04-net-ethernet-stmicro-stmmac-generate-stmmac-dma-conf.patch
  target/linux/generic/backport-5.15/827-v6.3-0004-of-device-Ignore-modalias-of-reused-nodes.patch
  target/linux/generic/backport-5.15/827-v6.3-0005-of-device-Do-not-ignore-error-code-in-of_device_ueve.patch
  target/linux/generic/backport-5.15/828-v6.4-0001-of-Fix-modalias-string-generation.patch
  target/linux/generic/pending-5.15/630-packet_socket_type.patch
  target/linux/ipq806x/patches-5.15/104-v6.0-06-ARM-dts-qcom-ipq8064-reduce-pci-IO-size-to-64K.patch
  target/linux/ipq807x/patches-5.15/0025-v6.0-arm64-dts-qcom-ipq8074-move-ARMv8-timer-out-of-SoC-n.patch
  target/linux/ipq807x/patches-5.15/0045-v6.2-arm64-dts-qcom-ipq8074-add-thermal-nodes.patch
  target/linux/ipq807x/patches-5.15/0055-v6.0-spmi-add-a-helper-to-look-up-an-SPMI-device-from-a-d.patch
  target/linux/ipq807x/patches-5.15/0076-v5.16-PCI-qcom-Replace-ops-with-struct-pcie_cfg-in-pcie-ma.patch
  target/linux/ipq807x/patches-5.15/0077-v6.0-PCI-qcom-Add-IPQ60xx-support.patch
  target/linux/ipq807x/patches-5.15/0107-PCI-qcom-Add-support-for-IPQ8074-Gen3-port.patch
  target/linux/ipq807x/patches-5.15/0111-arm64-dts-qcom-ipq8074-use-msi-parent-for-PCIe.patch
  target/linux/ipq807x/patches-5.15/0120-arm64-dts-qcom-Enable-Q6v5-WCSS-for-ipq8074-SoC.patch
  target/linux/ipq807x/patches-5.15/0121-arm64-dts-ipq8074-Add-WLAN-node.patch
  target/linux/mediatek/patches-5.15/410-bt-mtk-serial-fix.patch
  target/linux/mediatek/patches-5.15/805-v6.2-thermal-drivers-mtk-use-function-pointer-for-raw_to_.patch
  target/linux/mediatek/patches-5.15/806-v6.2-thermal-mediatek-add-support-for-MT7986-and-MT7981.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/mediatek, target/bcm4908, target/ipq807x

#12568 ramips: Fix Wireless Frequencies for HYC-G920
  target/linux/ramips/dts/mt7621_hanyang_hyc-g920.dts
Labels: target/ramips

#12603 ucode: update to the latest version
  package/utils/ucode/Makefile
Labels: core packages

#12615 wwan: Medion S4222 usb lte stick
  package/network/utils/wwan/Makefile
  package/network/utils/wwan/files/data/0e8d-00a5
Labels: core packages

#12636 util-linux: update to 2.39
  package/utils/util-linux/Makefile
  package/utils/util-linux/patches/0001-test_enosys-add-support-for-mips.patch
  package/utils/util-linux/patches/030-meson-don-t-use-run.patch
  package/utils/util-linux/patches/040-meson-fix-cpu_set_t-test.patch
  package/utils/util-linux/patches/050-meson-fix-environ-search.patch
  package/utils/util-linux/patches/060-meson-add-_GNU_SOURCE-for-sighandler_t.patch
  package/utils/util-linux/patches/070-meson-fix-isnan-check.patch
  package/utils/util-linux/patches/080-meson-fix-tzname-check.patch
  package/utils/util-linux/patches/090-meson-libpam.patch
  package/utils/util-linux/patches/100-meson-make-libcap-ng-dependent-on-setpriv.patch
  package/utils/util-linux/patches/120-meson-get-the-project-version-from-the-version-gen-s.patch
  package/utils/util-linux/patches/130-meson-fix-error-in-processing-version-for-pc-files.patch
  package/utils/util-linux/patches/200-meson-no-po.patch
Labels: core packages

#12656 util-linux: Fix build on powerpc and arc
  package/utils/util-linux/patches/0001-test_enosys-add-support-for-mips.patch
Labels: core packages

#12559 f2fs-tools: update to 1.16.0
  package/utils/f2fs-tools/Makefile
  package/utils/f2fs-tools/patches/100-configure.ac-fix-AC_ARG_WITH.patch
  package/utils/f2fs-tools/patches/101-configure.ac-fix-cross-compilation.patch
Labels: core packages

#12651 libjson-c: import patch to fix compilation on macos
  package/libs/libjson-c/Makefile
  package/libs/libjson-c/patches/010-fix-build-with-clang-15.patch
Labels: core packages

#12663 tools/cmake: update to 3.26.4
  tools/cmake/Makefile
Labels: build/scripts/tools

#12657 util-linux: Fix taskset conflict with busybox
  package/utils/util-linux/Makefile
Labels: core packages

#12654 util-linux: Use SYS_getrandom in randutils.c
  package/utils/util-linux/Makefile
  package/utils/util-linux/patches/210-use-urandom.patch
Labels: core packages

#12671 pcre2: switch to Github Releases and bump to 10.42
  package/libs/pcre2/Makefile
Labels: core packages

#12652 nettle: update to 3.9
  package/libs/nettle/Makefile
  package/libs/nettle/patches/100-portability.patch
Labels: core packages

#11966 build: Allow specifying uImage time
  include/image-commands.mk
  include/image.mk
Labels: build/scripts/tools

#12684 lldpd: update to 1.0.17
  package/network/services/lldpd/Makefile
Labels: core packages

#12683 libcap: update to 2.69
  package/libs/libcap/Makefile
Labels: core packages

#12685 busybox: update to 1.36.1
  package/utils/busybox/Makefile
Labels: core packages

#12669 kernel: enable (ARM|ARM64)_MODULE_PLTS in generic config
  target/linux/armvirt/64/config-5.15
  target/linux/bcm27xx/bcm2710/config-5.15
  target/linux/bcm27xx/bcm2711/config-5.15
  target/linux/generic/config-5.15
  target/linux/generic/config-6.1
  target/linux/ipq806x/config-5.15
  target/linux/ipq806x/config-6.1
  target/linux/layerscape/armv8_64b/config-5.15
  target/linux/mediatek/filogic/config-5.15
  target/linux/mediatek/mt7622/config-5.15
  target/linux/octeontx/config-5.15
  target/linux/rockchip/armv8/config-5.15
Labels: target/bcm27xx, target/ipq806x, kernel, target/layerscape, target/mediatek, target/armvirt, target/rockchip, target/octeontx

#12704 kernel: qca-ssdk: backport support for building as kernel module
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/0012-qca-ssdk-Support-Linux-Style-Makefile-for-SSDK.patch
  package/kernel/qca-ssdk/patches/0013-qca-ssdk-fix-compilation-issue-in-Linux-Style-Makefi.patch
  package/kernel/qca-ssdk/patches/0014-qca-ssdk-fix-compilation-issue-in-Miami-yocto.patch
Labels: core packages

#12719 CI: build: fix parse toolchain step failing for git strict rules
  .github/workflows/build.yml
Labels: GitHub/CI

#12724 [23.05] CI: build: fix parse toolchain step failing for git strict rules
  .github/workflows/build.yml
Labels: GitHub/CI, release/23.05

#12664 ipq806x: add support to netgear_xr450
  target/linux/ipq806x/base-files/etc/board.d/01_leds
  target/linux/ipq806x/base-files/etc/board.d/02_network
  target/linux/ipq806x/base-files/lib/upgrade/platform.sh
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8065-xr450.dts
  target/linux/ipq806x/image/generic.mk
Labels: target/ipq806x

#12707 ramips: mark patches accepted upstream
  target/linux/ramips/patches-5.15/100-v5.16-PCI-mt7621-Add-MediaTek-MT7621-PCIe-host-controller-.patch
  target/linux/ramips/patches-5.15/101-v5.17-PCI-mt7621-Rename-mt7621_pci_-to-mt7621_pcie_.patch
  target/linux/ramips/patches-5.15/102-v5.17-PCI-mt7621-Declare-mt7621_pci_ops-static.patch
  target/linux/ramips/patches-5.15/103-v5.17-PCI-mt7621-Move-MIPS-setup-to-pcibios_root_bridge_pr.patch
  target/linux/ramips/patches-5.15/104-v5.17-PCI-mt7621-Drop-of_match_ptr-to-avoid-unused-variabl.patch
  target/linux/ramips/patches-5.15/105-v5.17-PCI-mt7621-Remove-unused-function-pcie_rmw.patch
  target/linux/ramips/patches-5.15/106-v5.17-PCI-Let-pcibios_root_bridge_prepare-access-bridge-wi.patch
  target/linux/ramips/patches-5.15/107-v6.2-PCI-mt7621-Add-sentinel-to-quirks-table.patch
  target/linux/ramips/patches-5.15/108-v6.3-PCI-mt7621-Delay-phy-ports-initialization.patch
Labels: target/ramips

#12742 mediatek: cleanly backport and add fix for I2C driver
  target/linux/mediatek/files-5.15/arch/arm64/boot/dts/mediatek/mt7981.dtsi
  target/linux/mediatek/patches-5.15/810-i2c-mediatek-add-support-for-MT7981-SoC.patch
  target/linux/mediatek/patches-5.15/840-v5.16-i2c-mediatek-Reset-the-handshake-signal-between-i2c-.patch
  target/linux/mediatek/patches-5.15/841-v5.16-i2c-mediatek-Dump-i2c-dma-register-when-a-timeout-oc.patch
  target/linux/mediatek/patches-5.15/842-v5.18-i2c-mediatek-Add-i2c-compatible-for-Mediatek-MT8186.patch
  target/linux/mediatek/patches-5.15/843-v5.18-i2c-mediatek-modify-bus-speed-calculation-formula.patch
  target/linux/mediatek/patches-5.15/844-v5.18-i2c-mediatek-remove-redundant-null-check.patch
  target/linux/mediatek/patches-5.15/845-v5.18-i2c-mt65xx-Simplify-with-clk-bulk.patch
  target/linux/mediatek/patches-5.15/846-v5.18-i2c-mediatek-Add-i2c-compatible-for-Mediatek-MT8168.patch
  target/linux/mediatek/patches-5.15/847-v5.19-i2c-mediatek-Optimize-master_xfer-and-avoid-circular.patch
  target/linux/mediatek/patches-5.15/848-v5.19-i2c-mediatek-Fix-an-error-handling-path-in-mtk_i2c_p.patch
  target/linux/mediatek/patches-5.15/849-v6.0-i2c-mediatek-add-i2c-compatible-for-MT8188.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/mediatek/patches-5.15/851-v6.2-i2c-mediatek-add-mt7986-support.patch
  target/linux/mediatek/patches-5.15/852-v6.3-i2c-mt65xx-Use-devm_platform_get_and_ioremap_resourc.patch
  target/linux/mediatek/patches-5.15/853-v6.3-i2c-mt65xx-drop-of_match_ptr-for-ID-table.patch
  target/linux/mediatek/patches-5.15/854-v6.4-i2c-mediatek-add-support-for-MT7981-SoC.patch
  target/linux/mediatek/patches-5.15/855-pending-i2c-mt65xx-add-additional-clocks.patch
Labels: target/mediatek

#12731 ca-certificates: Update to version 20230311
  package/system/ca-certificates/Makefile
  package/system/ca-certificates/patches/0001-ca-certificates-fix-python3-cryptography-woes-in-cer.patch
Labels: core packages

#12763 generic: import patch fixing workqueue compilation with gcc-13
  target/linux/generic/pending-5.15/160-workqueue-fix-enum-type-for-gcc-13.patch
  target/linux/generic/pending-6.1/160-workqueue-fix-enum-type-for-gcc-13.patch
Labels: kernel

#12768 kernel: bump 5.15 to 5.15.114
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0151-usb-add-plumbing-for-updating-interrupt-endpoint-int.patch
Labels: target/bcm27xx, build/scripts/tools

#12744 tools/meson: update to 1.1.1
  tools/meson/Makefile
Labels: build/scripts/tools

#12778 kernel: fix wrong detection of Linux-Testing-Version in makefile DUMP
  include/kernel-version.mk
Labels: build/scripts/tools

#12773 airoha: spi-en7523: Fix compile warning
  target/linux/airoha/patches-5.15/0005-spi-Add-support-for-the-Airoha-EN7523-SoC-SPI-contro.patch
Labels: target/airoha

#12695 lantiq: add patches headers
  target/linux/lantiq/patches-5.15/0101-find_active_root.patch
  target/linux/lantiq/patches-5.15/0151-lantiq-ifxmips_pcie-use-of.patch
  target/linux/lantiq/patches-5.15/0152-lantiq-VPE.patch
  target/linux/lantiq/patches-5.15/0154-lantiq-pci-bar11mask-fix.patch
  target/linux/lantiq/patches-5.15/0155-lantiq-VPE-nosmp.patch
  target/linux/lantiq/patches-5.15/0160-owrt-lantiq-multiple-flash.patch
  target/linux/lantiq/patches-5.15/0300-MTD-cfi-cmdset-0001-disable-buffered-writes.patch
  target/linux/lantiq/patches-5.15/0301-xrx200-add-gphy-clk-src-device-tree-binding.patch
  target/linux/lantiq/patches-5.15/0701-NET-lantiq-etop-of-mido.patch
Labels: target/lantiq

#12765 [23.05] netfilter: add kmod-nft-dup-inet backport
  package/kernel/linux/modules/netfilter.mk
Labels: kernel, core packages, release/23.05
