Repository openwrt/openwrt, pull requests merged in 2023-09, with the labels that each got.

#13381 kernel: bump 5.15 to 5.15.129
  include/kernel-5.15
  target/linux/bcm47xx/patches-5.15/160-kmap_coherent.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
Labels: target/bcm47xx, build/scripts/tools, kernel

#13382 kernel: bump 6.1 to 6.1.50
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0084-cgroup-Disable-cgroup-memory-by-default.patch
  target/linux/generic/backport-6.1/788-v6.3-net-dsa-mt7530-use-external-PCS-driver.patch
  target/linux/generic/backport-6.1/790-v6.4-0002-net-dsa-mt7530-refactor-SGMII-PCS-creation.patch
  target/linux/generic/backport-6.1/790-v6.4-0003-net-dsa-mt7530-use-unlocked-regmap-accessors.patch
  target/linux/generic/backport-6.1/790-v6.4-0004-net-dsa-mt7530-use-regmap-to-access-switch-register-.patch
  target/linux/generic/backport-6.1/790-v6.4-0005-net-dsa-mt7530-move-SGMII-PCS-creation-to-mt7530_pro.patch
  target/linux/generic/backport-6.1/790-v6.4-0006-net-dsa-mt7530-introduce-mutex-helpers.patch
  target/linux/generic/backport-6.1/790-v6.4-0007-net-dsa-mt7530-move-p5_intf_modes-function-to-mt7530.patch
  target/linux/generic/backport-6.1/790-v6.4-0008-net-dsa-mt7530-introduce-mt7530_probe_common-helper-.patch
  target/linux/generic/backport-6.1/790-v6.4-0009-net-dsa-mt7530-introduce-mt7530_remove_common-helper.patch
  target/linux/generic/backport-6.1/790-v6.4-0010-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-6.1/790-v6.4-0012-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-6.1/790-v6.4-0013-net-dsa-mt7530-fix-support-for-MT7531BE.patch
  target/linux/generic/hack-6.1/280-rfkill-stubs.patch
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.1/723-net-mt7531-ensure-all-MACs-are-powered-down-before-r.patch
  target/linux/generic/pending-6.1/795-mt7530-register-OF-node-for-internal-MDIO-bus.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#13390 scripts/download.pl: remove stale GNOME download sites
  scripts/download.pl
Labels: build/scripts/tools

#13368 mediatek: fix sysupgrade error for WR30U
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
Labels: target/mediatek

#13398 kernel: bump 5.15 to 5.15.130
  include/kernel-5.15
Labels: build/scripts/tools

#13397 kernel: bump 6.1 to 6.1.51
  include/kernel-6.1
Labels: build/scripts/tools

#13399 mvebu: add reset delays of PHYs for Fortinet FortiGate 50E
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-50e.dts
Labels: kernel, target/mvebu

#13393 wireless-regdb: update to 2023.09.01
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#13394 tools/cmake: update to 3.27.4
  tools/cmake/Makefile
Labels: build/scripts/tools

#13425 kernel: bump 5.15 to 5.15.131
  include/kernel-5.15
  target/linux/generic/hack-5.15/204-module_strip.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-5.15/930-Revert-Revert-Revert-driver-core-Set-fw_devlink-on-b.patch
  target/linux/ramips/patches-5.15/830-mmc-MIPS-ralink-add-sdhci-for-mt7620a-SoC.patch
Labels: build/scripts/tools, kernel, target/ramips

#13380 mediatek: add support for Cetron CT3003
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-cetron-ct3003.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#13424 kernel: bump 6.1 to 6.1.52
  include/kernel-6.1
  target/linux/generic/hack-6.1/204-module_strip.patch
  target/linux/generic/hack-6.1/780-usb-net-MeigLink_modem_support.patch
Labels: build/scripts/tools, kernel

#13429 x86: geode: fix hwrng register accesses
  target/linux/x86/patches-5.15/120-hwrng-geode-fix-accessing-registers.patch
Labels: target/x86

#13434 ipq806x: Correct OnHub sysupgrade config logic
  target/linux/ipq806x/base-files/lib/upgrade/platform.sh
Labels: target/ipq806x

#13344 ath11k-firmware: update to stable WLAN.HK.2.9.0.1-01890
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

#13447 [23.05] ipq806x: Correct OnHub sysupgrade config logic
  target/linux/ipq806x/base-files/lib/upgrade/platform.sh
Labels: target/ipq806x, release/23.05

#13415 ipq40xx: add support for Netgear RBX40
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-rbr40.dts
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-rbs40.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#13400 scripts/download.pl: Remove stale download site definitions
  scripts/download.pl
Labels: build/scripts/tools

#13450 [23.05] mvebu: add reset delays of PHYs for Fortinet FortiGate 50E
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-50e.dts
Labels: kernel, target/mvebu, release/23.05

#4370 ath79: add support for MikroTik RouterBOARD 750r2 (hEX lite)
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-16m.dtsi
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-750-r2.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-95x.dtsi
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-lhg-hb.dtsi
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-map-2nd.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-mapl-2nd.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-wap-2nd.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-wapr-2nd.dts
  target/linux/ath79/image/mikrotik.mk
  target/linux/ath79/mikrotik/base-files/etc/board.d/01_leds
  target/linux/ath79/mikrotik/base-files/etc/board.d/02_network
Labels: target/ath79

#13423 procd: create /dev/fd symlink
  package/system/procd/Makefile
  package/system/procd/files/hotplug.json
Labels: core packages

#13385 ath79: fix packetloss on some WLR-7100
  target/linux/ath79/dts/ar1022_sitecom_wlr-7100.dts
Labels: target/ath79

#13474 ipq40xx: 6.1: add missing secure QFPROM symbol
  target/linux/ipq40xx/config-6.1
Labels: kernel, target/ipq40xx

#13456 ramips: RT1800: fix invalid octal number error
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#13469 ipq40xx: fix image building for ZTE MF287 series
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

#13348 ramips: add support for WAVLINK WL-WN573HX1
  target/linux/ramips/dts/mt7621_wavlink_wl-wn573hx1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#13518 openssl: update to 3.0.11
  package/libs/openssl/Makefile
Labels: core packages

#13515 kernel: bump 6.1 to 6.1.55
  include/kernel-6.1
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/hack-6.1/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.1/834-ledtrig-libata.patch
Labels: build/scripts/tools, kernel

#13525 ccache: add missing \
  tools/ccache/Makefile
Labels: build/scripts/tools

#13511 armsr: ensure kmod-fs-vfat is selected for mounting EFI partition during sysupgrade
  target/linux/armsr/Makefile
Labels: target/armsr

#13325 ipq807x: add support for Netgear WAX620
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wax620.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#13497 lldpd: add lldp_syscapabilities config option
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#13496 ramips: fix Mercusys MR70X LAN port assignments
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#13478 arm-trusted-firmware-sunxi: update to version 2.9
  package/boot/arm-trusted-firmware-sunxi/Makefile
Labels: core packages, target/sunxi

#13472 mediatek: filogic: add support for Ubiquiti UniFi 6 Plus (U6+)
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981a-ubnt-unifi-6-plus.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#13408 ipq806x: sync config-6.1 with latest kernel
  target/linux/ipq806x/config-6.1
Labels: target/ipq806x, kernel

#13479 sunxi: generalize top-level BOARDNAME and update suported SoCs
  target/linux/sunxi/Makefile
  target/linux/sunxi/cortexa53/target.mk
Labels: target/sunxi

#13147 ipq40xx: wpj428: panic on squashfs error to work around boot limbo
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4028-wpj428.dts
Labels: kernel, target/ipq40xx

#13521 kernel: add missing symbols
  target/linux/x86/config-6.1
Labels: kernel, target/x86

#13541 ipq40xx: ZTE MF28x fix sysupgrade
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
Labels: target/ipq40xx

#13531 treewide: Add extra CPE identifier
  package/boot/at91bootstrap/Makefile
  package/libs/popt/Makefile
  package/libs/sysfsutils/Makefile
  package/system/iucode-tool/Makefile
Labels: target/at91, core packages

#13370 ipq40xx: add support for Extreme Networks WS-AP391x series APs
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ipq40xx/base-files/lib/preinit/05_set_iface_mac_ipq40xx.sh
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4029-ws-ap391x.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#13323 [23.05] ipq806x: 5.15: revert upstream commit to fix #11676
  target/linux/ipq806x/patches-5.15/700-Revert-net-stmmac-Use-hrtimer-for-TX-coalescing.patch
Labels: target/ipq806x, release/23.05

#13328 ramips: add support for COMFAST CF-EW72 V2
  target/linux/ramips/dts/mt7621_comfast_cf-ew72-v2.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#13563 generic: add patch for GPON-ONU-34-20BI quirk
  target/linux/generic/backport-5.15/798-net-next-net-sfp-add-quirk-for-Fiberstone-GPON-ONU-34-20BI.patch
  target/linux/generic/backport-6.1/701-net-next-net-sfp-add-quirk-for-Fiberstone-GPON-ONU-34-20BI.patch
  target/linux/generic/hack-5.15/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/generic/hack-6.1/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/realtek/patches-5.15/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
  target/linux/realtek/patches-5.15/712-net-phy-sfp-add-support-for-SMBus.patch
Labels: kernel, target/realtek

#13568 [22.03] openssl: update to version 1.1.1w
  package/libs/openssl/Makefile
Labels: core packages, release/22.03

#13480 ipq806x: add patch fixing regression from stmmac TX timer
  target/linux/ipq806x/patches-6.1/700-01-net-introduce-napi_is_scheduled-helper.patch
  target/linux/ipq806x/patches-6.1/700-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/ipq806x/patches-6.1/700-03-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/ipq806x/patches-6.1/700-04-net-stmmac-increase-TX-coalesce-timer-to-5ms.patch
Labels: target/ipq806x
