Repository openwrt/openwrt, pull requests merged in 2023-08, with the labels that each got.

#13227 openssl: update to 3.0.10
  package/libs/openssl/Makefile
  package/libs/openssl/patches/100-Configure-afalg-support.patch
Labels: core packages

#13238 [23.05] realtek: add support for HPE 1920-8g-poe+
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/etc/board.d/03_gpio_switches
  target/linux/realtek/dts-5.15/rtl8380_hpe_1920-8g-poe.dts
  target/linux/realtek/dts-5.15/rtl8380_hpe_1920-8g.dts
  target/linux/realtek/dts-5.15/rtl8380_hpe_1920-8g.dtsi
  target/linux/realtek/image/rtl838x.mk
Labels: target/realtek, release/23.05

#12940 mwlwifi: fix 6.1 Kernel support
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/006-remove-uaccess-and-get_fs-calls-from-PCIe-for-Kenel-.patch
  package/kernel/mwlwifi/patches/007-replace-usage-of-the-deprecated-pci-dma-compat.h-API.patch
Labels: core packages

#13254 mbedtls: Update to version 2.28.4
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/100-x509-crt-verify-SAN-iPAddress.patch
Labels: core packages

#13253 linux-firmware: update to 20230804
  package/firmware/linux-firmware/Makefile
Labels: core packages

#13257 firmware: intel-microcode: update to 20230808
  package/firmware/intel-microcode/Makefile
Labels: core packages

#13266 kernel: bump 6.1 to 6.1.45
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0045-drm-atomic-helpers-remove-legacy_cursor_update-hacks.patch
  target/linux/bcm4908/patches-6.1/700-net-dsa-bcm_sf2-enable-GPHY-for-switch-probing.patch
  target/linux/bcm4908/patches-6.1/701-net-dsa-bcm_sf2-keep-GPHY-enabled-on-the-BCM4908.patch
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/hack-6.1/901-debloat_sock_diag.patch
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/530-jffs2_make_lzma_available.patch
  target/linux/generic/pending-6.1/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/bcm4908

#13267 kernel: bump 5.15 to 5.15.126
  include/kernel-5.15
  target/linux/bcm4908/patches-5.15/700-net-dsa-bcm_sf2-enable-GPHY-for-switch-probing.patch
  target/linux/bcm4908/patches-5.15/701-net-dsa-bcm_sf2-keep-GPHY-enabled-on-the-BCM4908.patch
  target/linux/generic/config-5.15
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/mediatek/patches-5.15/901-arm-add-cmdline-override.patch
Labels: build/scripts/tools, kernel, target/mediatek, target/bcm4908

#13281 linux-firmware: Update Intel AX200 and AX210 firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#13290 ipq40xx: fix booting on Meraki MR33 and MR74
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

#13284 x86: Add virtualization time sync support
  target/linux/x86/64/config-5.15
  target/linux/x86/generic/config-5.15
Labels: kernel, target/x86

#13228 tools: mold: update to 2.0.0
  tools/mold/Makefile
Labels: build/scripts/tools

#12188 prereq-build: increase GCC requirement to 8
  include/prereq-build.mk
  rules.mk
Labels: build/scripts/tools

#13274 uboot-envtools: update to 2023.07.02
  package/boot/uboot-envtools/Makefile
  package/boot/uboot-envtools/patches/002-Revert-tools-env-use-run-to-store-lockfile.patch
Labels: core packages

#13282 kernel: netsupport: kmod-sched: Add act_skbmod
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages

#13291 [23.05] kernel: bump 5.15 to 5.15.126
  include/kernel-5.15
  target/linux/bcm4908/patches-5.15/700-net-dsa-bcm_sf2-enable-GPHY-for-switch-probing.patch
  target/linux/bcm4908/patches-5.15/701-net-dsa-bcm_sf2-keep-GPHY-enabled-on-the-BCM4908.patch
  target/linux/generic/config-5.15
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/mediatek/patches-5.15/901-arm-add-cmdline-override.patch
Labels: build/scripts/tools, kernel, target/mediatek, target/bcm4908, release/23.05

#13276 patchelf: Revert "tools/patchelf: update to 0.18.0"
  tools/patchelf/Makefile
Labels: build/scripts/tools, release/23.05

#13302 kernel: bump 6.1 to 6.1.46
  include/kernel-6.1
  target/linux/generic/pending-6.1/630-packet_socket_type.patch
  target/linux/generic/pending-6.1/700-netfilter-nft_flow_offload-handle-netdevice-events-f.patch
Labels: build/scripts/tools, kernel

#13303 kernel: bump 5.15 to 5.15.127
  include/kernel-5.15
  target/linux/generic/backport-5.15/742-v5.16-net-phy-at803x-add-support-for-qca-8327-internal-phy.patch
  target/linux/generic/backport-5.15/745-v5.16-01-net-phy-at803x-add-support-for-qca-8327-A-variant.patch
  target/linux/generic/backport-5.15/745-v5.16-02-net-phy-at803x-add-resume-suspend-function-to-qca83x.patch
  target/linux/generic/backport-5.15/745-v5.16-03-net-phy-at803x-fix-spacing-and-improve-name-for-83xx.patch
  target/linux/generic/backport-5.15/746-v5.16-01-net-phy-at803x-fix-resume-for-QCA8327-phy.patch
  target/linux/generic/backport-5.15/746-v5.16-02-net-phy-at803x-add-DAC-amplitude-fix-for-8327-phy.patch
  target/linux/generic/backport-5.15/778-v5.18-03-net-phy-at803x-fix-NULL-pointer-dereference-on-AR9331-PHY.patch
  target/linux/generic/pending-5.15/630-packet_socket_type.patch
  target/linux/generic/pending-5.15/700-netfilter-nft_flow_offload-handle-netdevice-events-f.patch
Labels: build/scripts/tools, kernel

#13300 generic: 6.1: backport patch adding support for LED PHY
  target/linux/generic/backport-6.1/820-v6.4-net-phy-fix-circular-LEDS_CLASS-dependencies.patch
  target/linux/generic/backport-6.1/821-v6.4-net-phy-Fix-reading-LED-reg-property.patch
  target/linux/generic/backport-6.1/822-v6.4-net-phy-Manual-remove-LEDs-to-ensure-correct-orderin.patch
  target/linux/generic/backport-6.1/824-v6.5-leds-trigger-netdev-Remove-NULL-check-before-dev_-pu.patch
  target/linux/generic/backport-6.1/825-v6.5-leds-trigger-netdev-uninitialized-variable-in-netdev.patch
  target/linux/generic/backport-6.1/826-v6.6-01-led-trig-netdev-Fix-requesting-offload-device.patch
  target/linux/generic/backport-6.1/826-v6.6-02-net-phy-phy_device-Call-into-the-PHY-driver-to-set-L.patch
  target/linux/generic/backport-6.1/826-v6.6-03-net-phy-marvell-Add-support-for-offloading-LED-blink.patch
  target/linux/generic/backport-6.1/826-v6.6-04-leds-trig-netdev-Disable-offload-on-deactivation-of-.patch
  target/linux/generic/config-6.1
  target/linux/generic/hack-6.1/700-swconfig_switch_drivers.patch
Labels: kernel

#13316 [23.05] kernel: bump 5.15 to 5.15.127
  include/kernel-5.15
  target/linux/generic/backport-5.15/742-v5.16-net-phy-at803x-add-support-for-qca-8327-internal-phy.patch
  target/linux/generic/backport-5.15/745-v5.16-01-net-phy-at803x-add-support-for-qca-8327-A-variant.patch
  target/linux/generic/backport-5.15/745-v5.16-02-net-phy-at803x-add-resume-suspend-function-to-qca83x.patch
  target/linux/generic/backport-5.15/745-v5.16-03-net-phy-at803x-fix-spacing-and-improve-name-for-83xx.patch
  target/linux/generic/backport-5.15/746-v5.16-01-net-phy-at803x-fix-resume-for-QCA8327-phy.patch
  target/linux/generic/backport-5.15/746-v5.16-02-net-phy-at803x-add-DAC-amplitude-fix-for-8327-phy.patch
  target/linux/generic/backport-5.15/778-v5.18-03-net-phy-at803x-fix-NULL-pointer-dereference-on-AR9331-PHY.patch
  target/linux/generic/pending-5.15/630-packet_socket_type.patch
  target/linux/generic/pending-5.15/700-netfilter-nft_flow_offload-handle-netdevice-events-f.patch
Labels: build/scripts/tools, kernel, release/23.05

#13298 [openwrt-23.05] kernel: modules: add xdp-sockets-diag support
  config/Config-kernel.in
  package/kernel/linux/modules/netsupport.mk
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
Labels: kernel, core packages, release/23.05

#12746 rtl8812au ct bump to fix compile for linux 6.1
  package/kernel/rtl8812au-ct/Makefile
  package/kernel/rtl8812au-ct/patches/003-wireless-5.8.patch
  package/kernel/rtl8812au-ct/patches/005-kernel-6.1.patch
  package/kernel/rtl8812au-ct/patches/006-os_dep-osdep_service-use-new-get_random_u32.patch
  package/kernel/rtl8812au-ct/patches/007-treewide-fix-always-TRUE-condition-warning.patch
  package/kernel/rtl8812au-ct/patches/008-treewide-use-correct-type-for-tasklet_init.patch
  package/kernel/rtl8812au-ct/patches/009-treewide-drop-const-from-dev_addr.patch
  package/kernel/rtl8812au-ct/patches/010-os_dep-linux-proc-move-to-pde_data-function.patch
  package/kernel/rtl8812au-ct/patches/099-cut-linkid-linux-version-code-conditionals.patch
  package/kernel/rtl8812au-ct/patches/100-api_update.patch
Labels: core packages

#13278 ipq40xx: qca8k: add ageing setting support
  target/linux/ipq40xx/files/drivers/net/dsa/qca/qca8k-ipq4019.c
  target/linux/ipq40xx/files/drivers/net/dsa/qca/qca8k-ipq4019.h
Labels: kernel, target/ipq40xx

#12513 qualcommax: ipq807x: add support for Netgear RAX120v2 (replaces #11830)
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/generic/hack-5.15/726-net-phy-aquantia-enable-AQR111-and-AQR111B0.patch
  target/linux/generic/hack-6.1/726-net-phy-aquantia-enable-AQR111-and-AQR111B0.patch
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rax120v2.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/ipq807x, target/qualcommax

#13317 [22.03] kernel: bump 5.10 to 5.10.191
  include/kernel-5.10
  target/linux/generic/backport-5.10/343-netfilter-nft_flow_offload-handle-netdevice-events-f.patch
  target/linux/generic/backport-5.10/610-v5.13-10-netfilter-nftables-update-table-flags-from-the-commi.patch
  target/linux/generic/backport-5.10/735-v5.14-25-net-phy-add-support-for-qca8k-switch-internal-PHY-in.patch
  target/linux/generic/backport-5.10/742-v5.16-net-phy-at803x-add-support-for-qca-8327-internal-phy.patch
  target/linux/generic/backport-5.10/745-v5.16-01-net-phy-at803x-add-support-for-qca-8327-A-variant.patch
  target/linux/generic/backport-5.10/745-v5.16-02-net-phy-at803x-add-resume-suspend-function-to-qca83x.patch
  target/linux/generic/backport-5.10/745-v5.16-03-net-phy-at803x-fix-spacing-and-improve-name-for-83xx.patch
  target/linux/generic/backport-5.10/746-v5.16-01-net-phy-at803x-fix-resume-for-QCA8327-phy.patch
  target/linux/generic/backport-5.10/746-v5.16-02-net-phy-at803x-add-DAC-amplitude-fix-for-8327-phy.patch
  target/linux/generic/pending-5.10/630-packet_socket_type.patch
Labels: build/scripts/tools, kernel, release/22.03

#13331 mac80211: Add ath11k to the help text of ATH_DEBUG
  package/kernel/mac80211/ath.mk
Labels: core packages

#13337 kernel: bump 6.1 to 6.1.47
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0111-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.1/950-0286-phy-broadcom-split-out-the-BCM54213PE-from-the-BCM54.patch
  target/linux/bcm27xx/patches-6.1/950-0427-Populate-phy-driver-block-for-BCM54213PE.patch
  target/linux/generic/backport-6.1/801-v6.4-05-net-phy-Add-a-binding-for-PHY-LEDs.patch
  target/linux/generic/backport-6.1/820-v6.4-net-phy-fix-circular-LEDS_CLASS-dependencies.patch
  target/linux/generic/backport-6.1/822-v6.4-net-phy-Manual-remove-LEDs-to-ensure-correct-orderin.patch
  target/linux/generic/hack-6.1/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/pending-6.1/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
  target/linux/mediatek/patches-6.1/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.1/730-v6.5-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mediatek/patches-6.1/733-net-phy-add-driver-for-MediaTek-2.5G-PHY.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mediatek

#13301 prereq: make existing binary check work for sdk as well
  include/prereq.mk
Labels: build/scripts/tools

#13240 ipq40xx: re-add label MAC address for FritzBox 4040
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4018-fritzbox-4040.dts
Labels: kernel, target/ipq40xx

#13355 kernel: bump 6.1 to 6.1.48
  include/kernel-6.1
Labels: build/scripts/tools

#13358 kernel: bump 5.15 to 5.15.128
  include/kernel-5.15
  target/linux/generic/backport-5.15/815-v6.4-05-net-phy-Add-a-binding-for-PHY-LEDs.patch
  target/linux/generic/backport-5.15/821-v5.16-Bluetooth-btusb-Support-public-address-configuration.patch
  target/linux/generic/backport-5.15/822-v5.17-Bluetooth-btusb-Fix-application-of-sizeof-to-pointer.patch
  target/linux/generic/hack-5.15/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/pending-5.15/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
Labels: build/scripts/tools, kernel

#13360 [23.05] Revert "ath11k-firmware: update to stable WLAN.HK.2.9.0.1-01837"
  package/firmware/ath11k-firmware/Makefile
Labels: core packages, release/23.05

#13356 tools/mpfr: update to 4.2.1
  tools/mpfr/Makefile
Labels: build/scripts/tools

#13369 kernel: bump 6.1 to 6.1.49
  include/kernel-6.1
Labels: build/scripts/tools
