Repository openwrt/openwrt, pull requests merged in 2023-01, with the labels that each got.

#11643 wolfssl: update to 5.5.4-stable
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/001-Fix-enable-devcrypto-build-error.patch
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages

#11672 [22.03] gdb: Do not link against xxhash
  package/devel/gdb/Makefile
Labels: core packages, fix, release/22.03, backport

#11641 ipq40xx: fix wlan mac address for Aruba AP-303H
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4029-ap-303h.dts
Labels: kernel, target/ipq40xx

#11404 generic: 5.10 backport Treat IPv4 segment's lowest address as unicast
  target/linux/generic/backport-5.10/615-v5.14-ip-Treat-IPv4-segment-s-lowest-address-as-unicast.patch
Labels: kernel

#11694 CI: build: fix external toolchain use with release tag tests
  .github/workflows/build.yml
Labels: GitHub/CI

#11517 ramips: basic support for tp-link er605-v2
  package/base-files/files/lib/functions/system.sh
  target/linux/ramips/dts/mt7621_tplink_er605-v2.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#11601 ramips: add missing LEDs to Asus RT-AX53U
  target/linux/ramips/dts/mt7621_asus_rt-ax53u.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
Labels: target/ramips

#11616 toolchain/nasm: update to 2.16.01
  toolchain/nasm/Makefile
Labels: toolchain

#11594 lantiq-xrx200: fix wan LED on o2 box 6431/arcadyan-vgv7510kw22
  target/linux/lantiq/xrx200/base-files/etc/board.d/01_leds
Labels: target/lantiq

#11595 ath79: convert Netgear WNDAP360 WiFis to nvmem-cells
  target/linux/ath79/dts/ar7161_netgear_wndap360.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#11558 ramips: add support for Unielec U7621-06 32M build target
  target/linux/ramips/dts/mt7621_unielec_u7621-06-32m.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#11679 ncurses: update to 6.4
  package/libs/ncurses/Makefile
  package/libs/ncurses/patches/100-ncurses-5.6-20080112-urxvt.patch
  package/libs/ncurses/patches/101-ncurses-5.6-20080628-kbs.patch
  package/libs/ncurses/patches/102-ncurses-5.9-gcc-5.patch
  package/libs/ncurses/patches/103-ncurses-ar-determinism.patch
  package/libs/ncurses/patches/900-terminfo.patch
Labels: core packages

#11675 github: add command for device
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: GitHub/CI

#11700 kernel: bump 5.10 to 5.10.162
  include/kernel-5.10
  target/linux/ath79/patches-5.10/910-unaligned_access_hacks.patch
Labels: build/scripts/tools, target/ath79

#11678 generic: fix silicon labs spidev bindings
  target/linux/bcm27xx/patches-5.15/950-0040-spi-spidev-Completely-disable-the-spidev-warning.patch
  target/linux/generic/pending-5.10/110-v6.3-0001-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/pending-5.10/110-v6.3-0002-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
  target/linux/generic/pending-5.10/130-add-linux-spidev-compatible-si3210.patch
  target/linux/generic/pending-5.15/110-v6.3-0001-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/pending-5.15/110-v6.3-0002-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
  target/linux/generic/pending-5.15/130-add-linux-spidev-compatible-si3210.patch
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-gl-b2200.dts
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4029-gl-s1300.dts
  target/linux/ramips/dts/rt5350_dlink_dwr-512-b.dts
Labels: target/bcm27xx, kernel, target/ramips, target/ipq40xx

#11593 nftables: update to 1.0.6
  package/network/utils/nftables/Makefile
  package/network/utils/nftables/patches/0001-fix-nft.patch
Labels: core packages

#11699 libpcap: update to 1.20.2
  package/libs/libpcap/Makefile
  package/libs/libpcap/patches/100-no-openssl.patch
  package/libs/libpcap/patches/102-skip-manpages.patch
  package/libs/libpcap/patches/201-space_optimization.patch
  package/libs/libpcap/patches/300-Add-support-for-B.A.T.M.A.N.-Advanced.patch
Labels: core packages

#11704 tcpdump: update to 4.99.2
  package/network/utils/tcpdump/Makefile
  package/network/utils/tcpdump/patches/001-remove_pcap_debug.patch
  package/network/utils/tcpdump/patches/100-tcpdump_mini.patch
Labels: core packages

#11487 [21.02] kernel: kmod-isdn4linux: Remove package
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages, release/21.02

#11548 tools/llvm: update to 15.0.6
  tools/llvm-bpf/Makefile
Labels: build/scripts/tools

#11556 ath79: convert UBNT Aircube AC WiFis to nvmem-cells
  target/linux/ath79/dts/ar9342_ubnt_aircube-ac.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
Labels: target/ath79

#11393 ramips: use default lzma dictionary size for better performance
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#11549 mt76: refine package dependency for mt7615e and mt7915e
  package/kernel/mt76/Makefile
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/target.mk
  target/linux/ramips/image/mt7621.mk
Labels: core packages, target/ramips, target/mediatek

#11718 tools/xz: update to 5.4.0
  tools/xz/Makefile
Labels: build/scripts/tools

#11714 tools/mpfr: update to 4.2.0
  tools/mpfr/Makefile
  tools/mpfr/patches/001-only_src.patch
  tools/mpfr/patches/002-Fix-mpfr_custom_get_kind-macro-bug.patch
Labels: build/scripts/tools

#11716 util-linux: update to 2.38.1
  package/utils/util-linux/Makefile
  package/utils/util-linux/patches/010-meson-typo.patch
  package/utils/util-linux/patches/020-meson-fix-compilation-without-systemd.patch
  package/utils/util-linux/patches/110-meson-fix-when-HAVE_CLOCK_GETTIME-is-set.patch
Labels: core packages

#11684 busybox: update to 1.36.0
  package/utils/busybox/Config-defaults.in
  package/utils/busybox/Makefile
  package/utils/busybox/config/coreutils/Config.in
  package/utils/busybox/config/libbb/Config.in
  package/utils/busybox/config/miscutils/Config.in
  package/utils/busybox/config/networking/udhcp/Config.in
  package/utils/busybox/config/shell/Config.in
  package/utils/busybox/patches/001-CVE-2022-30065-awk-fix-use-after-free.patch
Labels: core packages

#11710 iwinfo: update to latest Git HEAD
  package/network/utils/iwinfo/Makefile
Labels: core packages

#11751 prereq-build: limit argp/fts/obstack/libintl.h to Linux OS
  include/prereq-build.mk
Labels: build/scripts/tools

#11759 ipq806x: refresh upstreamed patch with kernel version tag
  target/linux/ipq806x/patches-5.15/103-v5.19-ARM-dts-qcom-add-syscon-and-cxo-pxo-clock-to-gcc-nod.patch
  target/linux/ipq806x/patches-5.15/103-v6.0-01-ARM-dts-qcom-replace-gcc-PXO-with-pxo_board-fixed-cl.patch
  target/linux/ipq806x/patches-5.15/119-v6.0-02-ARM-dts-qcom-add-rpmcc-missing-clocks-for-apq-ipq806.patch
  target/linux/ipq806x/patches-5.15/119-v6.0-03-clk-qcom-clk-rpm-convert-to-parent_data-API.patch
  target/linux/ipq806x/patches-5.15/120-v6.2-clk-qcom-kpss-xcc-register-it-as-clk-provider.patch
  target/linux/ipq806x/patches-5.15/121-02-clk-qcom-krait-cc-convert-to-parent_data-API.patch
  target/linux/ipq806x/patches-5.15/121-06-clk-qcom-krait-cc-fix-never-enabled-secondary-mux.patch
  target/linux/ipq806x/patches-5.15/121-08-clk-qcom-krait-cc-handle-secondary-mux-sourcing-out-.patch
  target/linux/ipq806x/patches-5.15/121-v6.2-01-clk-qcom-krait-cc-use-devm-variant-for-clk-notifier-.patch
  target/linux/ipq806x/patches-5.15/121-v6.2-02-clk-qcom-krait-cc-fix-wrong-parent-order-for-seconda.patch
  target/linux/ipq806x/patches-5.15/121-v6.2-03-clk-qcom-krait-cc-also-enable-secondary-mux-and-div-.patch
  target/linux/ipq806x/patches-5.15/121-v6.2-04-clk-qcom-krait-cc-handle-secondary-mux-sourcing-out-.patch
  target/linux/ipq806x/patches-5.15/121-v6.2-05-clk-qcom-krait-cc-convert-to-devm_clk_hw_register.patch
  target/linux/ipq806x/patches-5.15/121-v6.2-06-clk-qcom-krait-cc-convert-to-parent_data-API.patch
  target/linux/ipq806x/patches-5.15/122-01-clk-qcom-krait-cc-handle-qsb-clock-defined-in-DTS.patch
  target/linux/ipq806x/patches-5.15/122-02-clk-qcom-krait-cc-register-REAL-qsb-fixed-clock.patch
  target/linux/ipq806x/patches-5.15/122-03-clk-qcom-krait-cc-drop-pr_info-and-use-dev_info.patch
  target/linux/ipq806x/patches-5.15/122-04-clk-qcom-krait-cc-rework-mux-reset-logic-and-reset-h.patch
  target/linux/ipq806x/patches-5.15/122-05-clk-qcom-clk-krait-generilize-div-functions.patch
  target/linux/ipq806x/patches-5.15/123-clk-qcom-gcc-ipq806x-remove-cc_register_board-for.patch
  target/linux/ipq806x/patches-5.15/130-6.1-mtd-rawnand-qcom-handle-ret-from-parse-with-codeword.patch
  target/linux/ipq806x/patches-5.15/131-6.2-ARM-dts-qcom-ipq8064-disable-mmc-ddr-1_8v-for-sdcc1.patch
Labels: target/ipq806x

#11761 CI: build: fallback to compile toolchain if external toolchain fail
  .github/workflows/build.yml
Labels: GitHub/CI

#11767 CI: kernel: test each target with additional changes than target/linux
  .github/workflows/kernel.yml
Labels: GitHub/CI

#11749 lantiq-xrx200: fix wifi LED on o2 box 6431
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vgv7510kw22.dtsi
  target/linux/lantiq/xrx200/base-files/etc/board.d/01_leds
Labels: kernel, target/lantiq

#11720 ksmbd: Fix ZDI-CAN-18259
  package/kernel/ksmbd/Makefile
  package/kernel/ksmbd/patches/10-ksmbd-check-nt_len-to-be-at-least-CIFS_ENCPWD_SIZE-i.patch
  package/kernel/ksmbd/patches/11-ksmbd-fix-infinite-loop-in-ksmbd_conn_handler_loop.patch
Labels: core packages

#11772 lldpd: use release tar instead of codeload
  package/network/services/lldpd/Makefile
Labels: core packages

#11770 mac80211: ath11k: fix monitor bringup
  package/kernel/mac80211/patches/ath11k/0019-wifi-ath11k-Fix-scan-request-param-frame-size-warnin.patch
  package/kernel/mac80211/patches/ath11k/0020-wifi-ath11k-fix-monitor-mode-bringup-crash.patch
Labels: core packages

#11705 archs38: enable 5.15 testing kernel
  target/linux/archs38/Makefile
  target/linux/archs38/config-5.15
Labels: kernel, target/archs38

#11779 kernel: bump 5.15 to 5.15.87
  include/kernel-5.15
  target/linux/ath79/patches-5.15/401-mtd-nor-support-mtd-name-from-device-tree.patch
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/generic/backport-5.15/609-v5.18-veth-Allow-jumbo-frames-in-xdp-mode.patch
  target/linux/generic/backport-5.15/881-v5.19-rndis_host-enable-the-bogus-MAC-fixup-for-ZTE-device.patch
  target/linux/generic/backport-5.15/882-v5.19-rndis_host-limit-scope-of-bogus-MAC-address-detectio.patch
  target/linux/generic/hack-5.15/290-net-dsa-mv88e6xxx-depend-on-PTP-conditionally.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/402-mtd-spi-nor-write-support-for-minor-aligned-partitions.patch
  target/linux/generic/pending-5.15/479-mtd-spi-nor-add-xtx-xt25f128b.patch
  target/linux/generic/pending-5.15/630-packet_socket_type.patch
  target/linux/ipq40xx/patches-5.15/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq806x/patches-5.15/111-v5.19-01-PM-devfreq-Export-devfreq_get_freq_range-symbol-with.patch
  target/linux/ipq806x/patches-5.15/111-v5.19-02-PM-devfreq-Add-cpu-based-scaling-support-to-passive-.patch
  target/linux/ipq806x/patches-5.15/111-v5.19-04-PM-devfreq-passive-Keep-cpufreq_policy-for-possible-.patch
  target/linux/ipq806x/patches-5.15/113-v5.19-03-PM-devfreq-Rework-freq_table-to-be-local-to-devfr.patch
  target/linux/ipq806x/patches-5.15/113-v5.19-04-PM-devfreq-Mute-warning-on-governor-PROBE_DEFER.patch
  target/linux/ipq806x/patches-5.15/850-soc-add-qualcomm-syscon.patch
  target/linux/ramips/patches-5.15/405-mtd-spi-nor-Add-support-for-BoHong-bh25q128as.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/ramips, target/ipq40xx, target/ath79

#11776 tools/llvm: update to 15.0.7
  tools/llvm-bpf/Makefile
Labels: build/scripts/tools

#11775 tools/patchelf: update to 0.17.2
  tools/patchelf/Makefile
Labels: build/scripts/tools

#11774 tools/xz: update to 5.4.1
  tools/xz/Makefile
Labels: build/scripts/tools

#11777 tools/b43-tools: update to latest git HEAD
  tools/b43-tools/Makefile
Labels: build/scripts/tools

#11712 ramips: add basic support for TP-Link EC330-G5u v1
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_tplink_ec330-g5u-v1.dts
  target/linux/ramips/image/common-tp-link.mk
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#11724 ramips: Alternative name Asus RT-AX1800U for Asus RT-AX53U
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#11696 ramips: add support for D-Link DIR-1935 A1
  target/linux/ramips/dts/mt7621_dlink_dir-1935-a1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
Labels: target/ramips

#11521 ath79: Fix glinet ar300m usb not working
  target/linux/ath79/dts/qca9531_glinet_gl-ar300m-lite.dts
  target/linux/ath79/dts/qca9531_glinet_gl-ar300m.dtsi
Labels: target/ath79

#11631 ipq40xx: Add support ZTE MF18A
  package/firmware/ipq-wifi/Makefile
  package/firmware/ipq-wifi/board-zte_mf18a.qca4019
  package/firmware/ipq-wifi/board-zte_mf18a.qca99x0
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-mf18a.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, core packages, target/ipq40xx

#11769 ramips: cudy wr1300v1 reduce SPI freq to 10000000
  target/linux/ramips/dts/mt7621_cudy_wr1300-v1.dts
Labels: target/ramips

#11794 kernel: bump 5.10 to 5.10.163
  include/kernel-5.10
  target/linux/at91/patches-5.10/127-regulator-core-validate-selector-against-linear_min_.patch
  target/linux/at91/patches-5.10/128-regulator-core-do-not-continue-if-selector-match.patch
  target/linux/at91/patches-5.10/129-regulator-core-return-zero-for-selectors-lower-than-.patch
  target/linux/ath79/patches-5.10/401-mtd-nor-support-mtd-name-from-device-tree.patch
  target/linux/bcm63xx/patches-5.10/143-gpio-fix-device-tree-gpio-hogs-on-dual-role-gpio-pin.patch
  target/linux/bcm63xx/patches-5.10/339-MIPS-BCM63XX-add-support-for-BCM63268.patch
  target/linux/bcm63xx/patches-5.10/341-MIPS-BCM63XX-add-support-for-BCM6318.patch
  target/linux/bcm63xx/patches-5.10/389-MIPS-BCM63XX-add-clkdev-lookups-for-device-tree.patch
  target/linux/bcm63xx/patches-5.10/430-MIPS-BCM63XX-add-nand-clocks.patch
  target/linux/generic/backport-5.10/413-v6.0-mtd-next-mtd-core-introduce-of-support-for-dynamic-partitions.patch
  target/linux/generic/backport-5.10/414-v6.1-mtd-allow-getting-MTD-device-associated-with-a-speci.patch
  target/linux/generic/backport-5.10/418-v6.2-mtd-core-set-ROOT_DEV-for-partitions-marked-as-rootf.patch
  target/linux/generic/backport-5.10/601-v5.12-net-implement-threaded-able-napi-poll-loop-support.patch
  target/linux/generic/backport-5.10/602-v5.12-net-add-sysfs-attribute-to-control-napi-threaded-mod.patch
  target/linux/generic/backport-5.10/603-v5.12-net-fix-race-between-napi-kthread-mode-and-busy-poll.patch
  target/linux/generic/backport-5.10/610-v5.13-11-net-resolve-forwarding-path-from-virtual-netdevice-a.patch
  target/linux/generic/backport-5.10/610-v5.13-12-net-8021q-resolve-forwarding-path-for-vlan-devices.patch
  target/linux/generic/backport-5.10/610-v5.13-13-net-bridge-resolve-forwarding-path-for-bridge-device.patch
  target/linux/generic/backport-5.10/610-v5.13-14-net-bridge-resolve-forwarding-path-for-VLAN-tag-acti.patch
  target/linux/generic/backport-5.10/610-v5.13-15-net-ppp-resolve-forwarding-path-for-bridge-pppoe-dev.patch
  target/linux/generic/backport-5.10/610-v5.13-16-net-dsa-resolve-forwarding-path-for-dsa-slave-ports.patch
  target/linux/generic/backport-5.10/610-v5.13-27-netfilter-flowtable-bridge-vlan-hardware-offload-and.patch
  target/linux/generic/backport-5.10/871-v5.12-hwmon-add-Texas-Instruments-TPS23861-driver.patch
  target/linux/generic/backport-5.10/881-v5.19-rndis_host-enable-the-bogus-MAC-fixup-for-ZTE-device.patch
  target/linux/generic/backport-5.10/882-v5.19-rndis_host-limit-scope-of-bogus-MAC-address-detectio.patch
  target/linux/generic/hack-5.10/402-mtd-blktrans-call-add-disks-after-mtd-device.patch
  target/linux/generic/hack-5.10/420-mtd-support-OpenWrt-s-MTD_ROOTFS_ROOT_DEV.patch
  target/linux/generic/hack-5.10/421-mtd-fix-squashfs-root-on-targets-with-CONFIG_FIT_PAR.patch
  target/linux/generic/hack-5.10/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.10/902-debloat_proc.patch
  target/linux/generic/pending-5.10/101-Use-stddefs.h-instead-of-compiler.h.patch
  target/linux/generic/pending-5.10/110-v6.3-0001-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/pending-5.10/110-v6.3-0002-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
  target/linux/generic/pending-5.10/402-mtd-spi-nor-write-support-for-minor-aligned-partitions.patch
  target/linux/generic/pending-5.10/479-mtd-spi-nor-add-xtx-xt25f128b.patch
  target/linux/generic/pending-5.10/630-packet_socket_type.patch
  target/linux/generic/pending-5.10/655-increase_skb_pad.patch
  target/linux/generic/pending-5.10/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.10/701-03-net-ethernet-mtk_eth_soc-implement-flow-offloading-t.patch
  target/linux/generic/pending-5.10/704-02-net-fix-dev_fill_forward_path-with-pppoe-bridge.patch
  target/linux/ipq806x/patches-5.10/850-soc-add-qualcomm-syscon.patch
  target/linux/lantiq/patches-5.10/0152-lantiq-VPE.patch
  target/linux/mvebu/patches-5.10/002-v5.11-ARM-dts-turris-omnia-enable-HW-buffer-management.patch
  target/linux/mvebu/patches-5.10/003-v5.11-ARM-dts-turris-omnia-add-comphy-handle-to-eth2.patch
  target/linux/mvebu/patches-5.10/004-v5.11-ARM-dts-turris-omnia-describe-switch-interrupt.patch
  target/linux/mvebu/patches-5.10/005-v5.11-ARM-dts-turris-omnia-add-SFP-node.patch
  target/linux/mvebu/patches-5.10/006-v5.11-ARM-dts-turris-omnia-add-LED-controller-node.patch
  target/linux/mvebu/patches-5.10/007-v5.11-ARM-dts-turris-omnia-update-ethernet-phy-node-and-handle-name.patch
  target/linux/mvebu/patches-5.10/008-v5.12-ARM-dts-turris-omnia-fix-hardware-buffer-management.patch
  target/linux/mvebu/patches-5.10/100-mvebu-dt-ARM-dts-turris-omnia-configure-LED-0-pin-function-to.patch
  target/linux/mvebu/patches-5.10/101-mvebu-dt-ARM-dts-turris-omnia-enable-LED-controller-node.patch
  target/linux/pistachio/patches-5.10/401-mtd-nor-support-mtd-name-from-device-tree.patch
  target/linux/ramips/patches-5.10/405-mtd-spi-nor-Add-support-for-BoHong-bh25q128as.patch
Labels: target/at91, target/bcm63xx, build/scripts/tools, target/ipq806x, kernel, target/lantiq, target/mvebu, target/ramips, target/pistachio, target/ath79

#11795 kernel: bump 5.15 to 5.15.88
  include/kernel-5.15
Labels: build/scripts/tools

#11790 archs38: switch to 5.15 by default
  target/linux/archs38/Makefile
Labels: target/archs38

#11788 libdeflate: Update to v1.17
  tools/Makefile
  tools/libdeflate/Makefile
Labels: build/scripts/tools

#11717 include: use libdeflate's gzip to decompress
  include/kernel-defaults.mk
  include/unpack.mk
Labels: build/scripts/tools

#11653 ipset: update to 7.17
  package/network/utils/ipset/Makefile
Labels: core packages

#11802 libpcap: update to 1.10.3
  package/libs/libpcap/Makefile
  package/libs/libpcap/patches/300-Add-support-for-B.A.T.M.A.N.-Advanced.patch
Labels: core packages

#11819 uboot-envtools: ipq40xx: fix WHW03V2 mtd partition
  package/boot/uboot-envtools/files/ipq40xx
Labels: core packages

#11823 bpf: ignore missing LLVM bins on package for non compile steps
  include/bpf.mk
Labels: build/scripts/tools

#11357 dnsmasq: set a cachesize default value
  package/network/services/dnsmasq/files/dhcp.conf
Labels: core packages

#11838 openssl: fix VIA Padlock AES-192 and 256 encryption
  package/libs/openssl/patches/010-padlock.patch
Labels: core packages

#11827 kernel: bump 5.15 to 5.15.89
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multigenerational-lru-mm_struct-list.patch
  target/linux/generic/hack-5.15/904-debloat_dma_buf.patch
  target/linux/ipq806x/patches-5.15/007-v6.3-ASoC-qcom-lpass-cpu-Fix-fallback-SD-line-index-handl.patch
Labels: build/scripts/tools, target/ipq806x, kernel

#11810 musl: Fix symbol loading in gdb
  toolchain/musl/patches/800-mips_pie_debug.patch
Labels: toolchain

#11809 omap: sync with upstream config
  target/linux/omap/config-5.15
Labels: kernel, target/omap

#11849 [22.03] tools/mkimage: build uboot with NO_SDL=1
  tools/mkimage/Makefile
Labels: build/scripts/tools, release/22.03

#11715 ramips: Fix root volume for tplink-er605-v2
  target/linux/ramips/dts/mt7621_tplink_er605-v2.dts
Labels: target/ramips

#11848 CI: tools: add gnu-getopt to macOS CI
  .github/workflows/tools.yml
Labels: GitHub/CI

#11853 generic: backport fix for #nvmem-cell-cells false warning
  target/linux/generic/backport-5.10/828-v6.3-of-property-fix-nvmem-cell-cells-parsing.patch
  target/linux/generic/backport-5.15/828-v6.3-of-property-fix-nvmem-cell-cells-parsing.patch
Labels: kernel

#11826 kernel: bump 5.10 to 5.10.165
  include/kernel-5.10
  target/linux/apm821xx/patches-5.10/802-usb-xhci-force-msi-renesas-xhci.patch
  target/linux/bcm53xx/patches-5.10/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/hack-5.10/780-usb-net-MeigLink_modem_support.patch
Labels: target/apm821xx, target/bcm53xx, build/scripts/tools, kernel

#11103 tools/ninja: update to 1.11.1
  tools/ninja/Makefile
  tools/ninja/patches/100-make_jobserver_support.patch
Labels: build/scripts/tools

#11850 tools/cmake: update to 3.25.2
  tools/cmake/Makefile
Labels: build/scripts/tools

#11869 kernel: bump 5.15 to 5.15.90
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0064-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0151-usb-add-plumbing-for-updating-interrupt-endpoint-int.patch
  target/linux/bcm27xx/patches-5.15/950-0152-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-5.15/950-0600-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.15/950-0605-xhci-refactor-out-TRBS_PER_SEGMENT-define-in-runtime.patch
  target/linux/bcm27xx/patches-5.15/950-0606-usb-xhci-add-VLI_TRB_CACHE_BUG-quirk.patch
  target/linux/bcm27xx/patches-5.15/950-0717-usb-xhci-add-a-quirk-for-Superspeed-bulk-OUT-transfe.patch
  target/linux/bcm27xx/patches-5.15/950-0747-usb-xhci-rework-XHCI_VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm53xx/patches-5.15/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
Labels: target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel

#11874 tcpdump: update to 4.99.3
  package/network/utils/tcpdump/Makefile
Labels: core packages

#11861 firmware: intel-microcode: update to 20221108
  package/firmware/intel-microcode/Makefile
Labels: core packages

#11834 ath79: add support for D-Link DIR-629 A1
  target/linux/ath79/dts/qca9558_dlink_dir-629-a1.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/uci-defaults/09_fix-checksum
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#11880 linux-firmware: update to 20230117
  package/firmware/linux-firmware/Makefile
Labels: core packages

#11865 pistachio: Cleanup kernel configuration
  target/linux/pistachio/config-5.15
Labels: kernel, target/pistachio

#11876 ethtool: update to 6.1
  package/network/utils/ethtool/Makefile
  package/network/utils/ethtool/patches/100-uapi-Bring-in-if-h.patch
  package/network/utils/ethtool/patches/101-netlink-Fix-maybe-uninitialized-meters-variable.patch
  package/network/utils/ethtool/patches/102-raw-marvell-c-Fix-build-with-musl-libc.patch
Labels: core packages

#11870 ath79: add label-mac-device for GL-XE300
  target/linux/ath79/dts/qca9531_glinet_gl-xe300.dts
Labels: target/ath79

#11442 kernel: add kmod-lib-842
  package/kernel/linux/modules/lib.mk
  target/linux/generic/config-5.15
Labels: kernel, core packages

#11670 ath79: calibrate dlink dir-825 c1 and dir-835 a1 with nvmem
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

#11836 ath79: improve support for Letv LBA-047-CH
  target/linux/ath79/dts/qca9531_letv_lba-047-ch.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#11845 ath79: add LTE packages for GL-XE300
  target/linux/ath79/image/nand.mk
Labels: target/ath79

#11842 ramips: use hex value in zyimage command for Keenetic KN-3010
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#11840 ramips: improve support for Zyxel Keenetic Extra II
  target/linux/ramips/dts/mt7628an_zyxel_keenetic-extra-ii.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#11847 px5g-mbedtls: Check return of read() function
  package/utils/px5g-mbedtls/px5g-mbedtls.c
Labels: core packages

#11904 realtek: use generic earlycon setup on 5.15
  target/linux/realtek/dts-5.15/rtl8382_iodata_bsh-g24mb.dts
  target/linux/realtek/dts-5.15/rtl838x.dtsi
  target/linux/realtek/dts-5.15/rtl838x_hpe_1920.dtsi
  target/linux/realtek/dts-5.15/rtl8393_tplink_sg2452p-v4.dts
  target/linux/realtek/dts-5.15/rtl839x.dtsi
  target/linux/realtek/dts-5.15/rtl83xx_panasonic_mxxeg-pn28xx0k.dtsi
  target/linux/realtek/dts-5.15/rtl930x.dtsi
  target/linux/realtek/dts-5.15/rtl931x.dtsi
  target/linux/realtek/files-5.15/arch/mips/rtl838x/prom.c
Labels: target/realtek

#11894 ipq807x: Enable CPU frequency scaling stats
  target/linux/ipq807x/config-5.15
Labels: kernel, target/ipq807x

#11863 CI: use openwrt official tools container by default
  .github/workflows/build.yml
  .github/workflows/check-kernel-patches.yml
  .github/workflows/push-containers.yml
Labels: GitHub/CI
