Repository openwrt/openwrt, pull requests merged in 2023-04, with the labels that each got.

#12274 mac80211: ath11k: restore 160MHz support
  package/kernel/mac80211/patches/ath11k/904-wifi-ath11k-restore-160MHz-support.patch
Labels: core packages

#12207 kernel: add support for XMC XM25QH64C
  target/linux/generic/pending-5.10/488-mtd-spi-nor-add-xmc-xm25qh64c.patch
  target/linux/generic/pending-5.15/488-mtd-spi-nor-add-xmc-xm25qh64c.patch
Labels: kernel

#12299 [22.03][draft] kernel: add support for XMC XM25QH64C
  target/linux/generic/pending-5.10/488-mtd-spi-nor-add-xmc-xm25qh64c.patch
Labels: kernel, release/22.03

#12293 kernel: bump 5.15 to 5.15.105
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0032-smsx95xx-fix-crimes-against-truesize.patch
  target/linux/bcm27xx/patches-5.15/950-0806-drm-atomic-helpers-remove-legacy_cursor_update-hacks.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/705-01-v5.17-net-dsa-mt7530-iterate-using-dsa_switch_for_each_use.patch
  target/linux/generic/backport-5.15/705-02-v5.19-net-dsa-mt7530-populate-supported_interfaces-and-mac.patch
  target/linux/generic/backport-5.15/705-03-v5.19-net-dsa-mt7530-remove-interface-checks.patch
  target/linux/generic/backport-5.15/705-04-v5.19-net-dsa-mt7530-drop-use-of-phylink_helper_basex_spee.patch
  target/linux/generic/backport-5.15/705-05-v5.19-net-dsa-mt7530-only-indicate-linkmodes-that-can-be-s.patch
  target/linux/generic/backport-5.15/705-06-v5.19-net-dsa-mt7530-switch-to-use-phylink_get_linkmodes.patch
  target/linux/generic/backport-5.15/705-07-v5.19-net-dsa-mt7530-partially-convert-to-phylink_pcs.patch
  target/linux/generic/backport-5.15/705-08-v5.19-net-dsa-mt7530-move-autoneg-handling-to-PCS-validati.patch
  target/linux/generic/backport-5.15/705-09-v5.19-net-dsa-mt7530-mark-as-non-legacy.patch
  target/linux/generic/backport-5.15/705-10-v5.19-net-dsa-mt753x-fix-pcs-conversion-regression.patch
  target/linux/generic/backport-5.15/705-11-v6.0-net-dsa-mt7530-rework-mt7530_hw_vlan_-add-del.patch
  target/linux/generic/backport-5.15/705-12-v6.0-net-dsa-mt7530-rework-mt753-01-_setup.patch
  target/linux/generic/backport-5.15/705-13-v6.0-net-dsa-mt7530-get-cpu-port-via-dp-cpu_dp-instead-of.patch
  target/linux/generic/backport-5.15/743-v6.3-0005-net-dsa-b53-mmap-fix-device-tree-support.patch
  target/linux/generic/backport-5.15/743-v6.3-0006-net-dsa-tag_brcm-legacy-fix-daisy-chained-switches.patch
  target/linux/generic/backport-5.15/782-v6.1-net-dsa-mt7530-add-support-for-in-band-link-status.patch
  target/linux/generic/backport-5.15/788-v6.3-net-dsa-mt7530-use-external-PCS-driver.patch
  target/linux/generic/hack-5.15/904-debloat_dma_buf.patch
  target/linux/generic/pending-5.15/723-net-mt7531-ensure-all-MACs-are-powered-down-before-r.patch
  target/linux/ramips/patches-5.15/720-Revert-net-phy-simplify-phy_link_change-arguments.patch
  target/linux/ramips/patches-5.15/721-NET-no-auto-carrier-off-support.patch
  target/linux/ramips/patches-5.15/850-awake-rt305x-dwc2-controller.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips

#11806 ramips: mt7621: ASUS RT-AX53U add NMBM, nest firmware
  target/linux/ramips/dts/mt7621_asus_rt-ax53u.dts
Labels: target/ramips

#12280 mt7621: set affiinity for mt79xx too
  target/linux/ramips/mt7621/base-files/etc/init.d/set-irq-affinity
Labels: target/ramips

#12302 tools/squashfs4: bump to 4.6.1 and enable parallel builds
  tools/squashfs4/Makefile
  tools/squashfs4/patches/001-Unsquashfs-Add-and-make-some-header-includes-conditi.patch
  tools/squashfs4/patches/002-Mksquashfs-Make-sysinfo-conditional.patch
  tools/squashfs4/patches/003-Only-use-available-CPUs.patch
  tools/squashfs4/patches/004-action-rework-strdupa-with-POSIX-strdup-and-free.patch
  tools/squashfs4/patches/005-Don-t-use-sigwaitinfo-sigtimedwait-if-not-supported.patch
  tools/squashfs4/patches/006-Move-sysinfo.h-into-the-linux-only-section-should-fi.patch
  tools/squashfs4/patches/007-Unsquashfs-fix-compilation-error-for-missing-sysctl..patch
  tools/squashfs4/patches/100-portability.patch
  tools/squashfs4/patches/100-xz_wrapper-support-multiple-lzma-configuration-optio.patch
Labels: build/scripts/tools

#12279 libtraceevent: update to 1.7.2
  package/libs/libtraceevent/Makefile
Labels: core packages

#12272 kernel: module: limit tg3 and hfc to devices with PCI support
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#12230 ramips: Add support for CJ-Hello HYC-G920
  target/linux/ramips/dts/mt7621_hanyang_hyc-g920.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#12250 dnsmasq: add dhcphostsfile to ujail sandbox
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#12198 ramips: mt7621: add migration script for WLAN PCI paths
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/ramips

#12164 dnsmasq: configure dynamic dhcp6 and dhcp4 independently
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#12110 netifd: strip mask from IP address in DHCP client params
  package/network/config/netifd/files/lib/netifd/proto/dhcp.sh
Labels: core packages

#12266 ipq806x: Fix Linksys upgrade, restore config step
  target/linux/ipq806x/base-files/lib/upgrade/linksys.sh
Labels: target/ipq806x

#12233 tools/coreutils: update to 9.2
  tools/coreutils/Makefile
  tools/coreutils/patches/001-copy-fix-reflink-auto-to-fallback-in-more-cases.patch
  tools/coreutils/patches/001-m4.patch
  tools/coreutils/patches/002-date-diagnose-f-read-errors.patch
Labels: build/scripts/tools

#12265 lantiq: xway_nand: don't yield while holding spinlock (#9829 fix)
  target/linux/lantiq/patches-5.10/0400-mtd-rawnand-xway-don-t-yield-while-holding-spinlock.patch
  target/linux/lantiq/patches-5.15/0400-mtd-rawnand-xway-don-t-yield-while-holding-spinlock.patch
Labels: target/lantiq

#12196 tools/ccache: bump to 4.8 and always disable documentation compilation
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#10912 uqmi: IPv6 connectivity fixes
  package/network/utils/uqmi/files/lib/netifd/proto/qmi.sh
Labels: core packages

#10783 ramips: add support for OrayBox X1
  target/linux/ramips/dts/mt7628an_oraybox_x1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#12022 tools/7z: Allow building on alpine
  tools/7z/patches/7-zip-flags.patch
  tools/7z/patches/7-zip-musl.patch
Labels: build/scripts/tools

#12305 mac80211: Backport pre_rcu_remove fix to 22.03.x
  package/kernel/mac80211/patches/subsys/352-wifi-mac80211-fix-invalid-drv_sta_pre_rcu_remove-cal.patch
Labels: core packages, release/22.03

#11734 build: netgear DGN 3500B image 22.03.x brick router
  target/linux/lantiq/image/Makefile
  target/linux/lantiq/image/ar9.mk
Labels: target/lantiq

#12151 openssl: add infrastructure for providers, build legacy provider
  include/openssl-engine.mk
  include/openssl-module.mk
  package/libs/openssl/Config.in
  package/libs/openssl/Makefile
  package/libs/openssl/files/afalg.cnf
  package/libs/openssl/files/devcrypto.cnf
  package/libs/openssl/files/legacy.cnf
  package/libs/openssl/files/openssl.init
  package/libs/openssl/files/padlock.cnf
  package/libs/openssl/patches/150-openssl.cnf-add-engines-conf.patch
Labels: build/scripts/tools, core packages

#12329 mediatek: introduce KERNEL_LOADADDR to Device/Default template
  target/linux/mediatek/image/Makefile
  target/linux/mediatek/image/filogic.mk
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/image/mt7623.mk
  target/linux/mediatek/image/mt7629.mk
Labels: target/mediatek

#12325 tools/zstd: update to 1.5.5
  tools/zstd/Makefile
Labels: build/scripts/tools

#12310 realtek: Fix typo for EnGenius EWS2910P
  target/linux/realtek/image/rtl838x.mk
Labels: target/realtek

#12326 openssl: fix CVE-2023-464 and CVE-2023-465
  package/libs/openssl/Makefile
  package/libs/openssl/patches/200-x509-excessive-resource-use-verifying-policy-constra.patch
  package/libs/openssl/patches/210-Ensure-that-EXFLAG_INVALID_POLICY-is-checked-even-in.patch
Labels: core packages

#12328 kernel: bump 5.10 to 5.10.177
  include/kernel-5.10
  target/linux/ath79/patches-5.10/910-unaligned_access_hacks.patch
  target/linux/generic/hack-5.10/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/hack-5.10/904-debloat_dma_buf.patch
  target/linux/generic/pending-5.10/760-net-dsa-mv88e6xxx-fix-vlan-setup.patch
  target/linux/generic/pending-5.10/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
  target/linux/ramips/patches-5.10/720-Revert-net-phy-simplify-phy_link_change-arguments.patch
  target/linux/ramips/patches-5.10/721-NET-no-auto-carrier-off-support.patch
  target/linux/ramips/patches-5.10/850-awake-rt305x-dwc2-controller.patch
Labels: build/scripts/tools, kernel, target/ramips, target/ath79

#12319 tools/mtools: update to 4.0.43
  tools/mtools/Makefile
Labels: build/scripts/tools

#12315 libcap: update to 2.68
  package/libs/libcap/Makefile
Labels: core packages

#12327 kernel: bump 5.15 to 5.15.106
  include/kernel-5.15
  target/linux/generic/backport-5.15/702-v5.19-06-net-ethernet-mtk_eth_soc-support-TC_SETUP_BLOCK-for-.patch
  target/linux/generic/backport-5.15/702-v5.19-07-net-ethernet-mtk_eth_soc-allocate-struct-mtk_ppe-sep.patch
  target/linux/generic/backport-5.15/715-v6.0-net-ethernet-mtk_eth_soc-add-the-capability-to-run-m.patch
  target/linux/generic/hack-5.15/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/pending-5.15/350-mips-bmips-BCM6358-disable-RAC-flush-for-TP1.patch
  target/linux/generic/pending-5.15/735-net-ethernet-mtk_eth_soc-fix-flow_offload-related-re.patch
  target/linux/generic/pending-5.15/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
Labels: build/scripts/tools, kernel

#12316 mbedtls: Update to version 2.28.3
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/100-fix-compile.patch
  package/libs/mbedtls/patches/100-x509-crt-verify-SAN-iPAddress.patch
Labels: core packages

#12352 uboot-sunxi: fix FriendlyElec(Arm) ZeroPI broken ethernet network.
  package/boot/uboot-sunxi/patches/250-sun8i-h3-add-support-for-zeropi.patch
  package/boot/uboot-sunxi/patches/250-sun8i-h3-zeropi-add-device-tree.patch
  package/boot/uboot-sunxi/patches/251-sun8i-h3-zeropi-add-defconfig.patch
Labels: core packages, target/sunxi

#12356 uboot-envtools: update to 2023.04
  package/boot/uboot-envtools/Makefile
Labels: core packages

#12357 tools/mkimage: update to 2023.04
  tools/mkimage/Makefile
  tools/mkimage/patches/030-allow-to-use-different-magic.patch
Labels: build/scripts/tools

#12372 mac80211: ath11k: Remove regulatory intersection
  package/kernel/mac80211/patches/ath11k/905-ath11k-remove-intersection-support-for-regulatory-ru.patch
Labels: core packages

#12376 mac80211: ath11k: sync with ath-next
  package/kernel/mac80211/patches/ath11k/0048-wifi-ath11k-fix-BUFFER_DONE-read-on-monitor-ring-rx-.patch
  package/kernel/mac80211/patches/ath11k/0049-wifi-ath11k-Optimize-6-GHz-scan-time.patch
  package/kernel/mac80211/patches/ath11k/0050-wifi-ath11k-Configure-the-FTM-responder-role-using-f.patch
  package/kernel/mac80211/patches/ath11k/0051-wifi-ath11k-fix-rssi-station-dump-not-updated-in-QCN.patch
  package/kernel/mac80211/patches/ath11k/0052-wifi-ath11k-Fix-invalid-management-rx-frame-length-i.patch
  package/kernel/mac80211/patches/ath11k/0053-wifi-ath11k-fix-writing-to-unintended-memory-region.patch
  package/kernel/mac80211/patches/ath11k/0054-wifi-ath11k-Send-11d-scan-start-before-WMI_START_SCA.patch
  package/kernel/mac80211/patches/ath11k/101-Fix-invalid-management-rx-frame-length-issue.patch
  package/kernel/mac80211/patches/ath11k/903-ath11k-support-setting-FW-memory-mode-via-DT.patch
  package/kernel/mac80211/patches/ath11k/904-wifi-ath11k-restore-160MHz-support.patch
Labels: core packages

#11136 base-files: add 'isup' to the wifi script
  package/base-files/files/sbin/wifi
Labels: core packages

#12398 kernel: backport fix for recently introduced UBI bug
  target/linux/generic/backport-5.10/430-v6.3-ubi-Fix-failure-attaching-when-vid_hdr-offset-equals.patch
  target/linux/generic/backport-5.15/430-v6.3-ubi-Fix-failure-attaching-when-vid_hdr-offset-equals.patch
  target/linux/generic/pending-5.10/490-ubi-auto-attach-mtd-device-named-ubi-or-data-on-boot.patch
  target/linux/generic/pending-5.15/490-ubi-auto-attach-mtd-device-named-ubi-or-data-on-boot.patch
Labels: kernel

#12399 [22.03] kernel: backport fix for recently introduced UBI bug
  target/linux/generic/backport-5.10/430-v6.3-ubi-Fix-failure-attaching-when-vid_hdr-offset-equals.patch
  target/linux/generic/pending-5.10/490-ubi-auto-attach-mtd-device-named-ubi-or-data-on-boot.patch
Labels: kernel, release/22.03

#12400 [21.02] kernel: backport fix for recently introduced UBI bug
  target/linux/generic/backport-5.4/430-v6.3-ubi-Fix-failure-attaching-when-vid_hdr-offset-equals.patch
  target/linux/generic/pending-5.4/490-ubi-auto-attach-mtd-device-named-ubi-or-data-on-boot.patch
Labels: kernel, release/21.02

#12406 ramips: add Xiaomi RA75 red signal led
  target/linux/ramips/dts/mt7628an_xiaomi_mi-ra75.dts
Labels: target/ramips

#12345 ath79: fix LED pinout for Comfast CF-E314N v2
  target/linux/ath79/dts/qca9531_comfast_cf-e314n-v2.dts
Labels: target/ath79

#12335 tools/libdeflate: update to 1.18
  tools/libdeflate/Makefile
Labels: build/scripts/tools

#12414 [22.03] openssl: fix CVE-2023-464 and CVE-2023-465
  package/libs/openssl/Makefile
  package/libs/openssl/patches/200-x509-excessive-resource-use-verifying-policy-constra.patch
  package/libs/openssl/patches/210-Ensure-that-EXFLAG_INVALID_POLICY-is-checked-even-in.patch
Labels: core packages, release/22.03

#12419 mac80211: ath11k: replace 160MHz fix with upstream pending one
  package/kernel/mac80211/patches/ath11k/101-wifi-ath11k-Remove-disabling-of-80-80-and-160-MHz.patch
  package/kernel/mac80211/patches/ath11k/904-wifi-ath11k-restore-160MHz-support.patch
  package/kernel/mac80211/patches/ath11k/905-ath11k-remove-intersection-support-for-regulatory-ru.patch
Labels: core packages

#12373 mwlwifi: update to version 10.3.9.0-20230311
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/001-Fix-compile-with-mac80211-backports-5_3+.patch
  package/kernel/mwlwifi/patches/002-mwlwifi-remove-MODULE_SUPPORTED_DEVICE.patch
  package/kernel/mwlwifi/patches/003-mwlwifi-replace-get-set_fs-calls.patch
  package/kernel/mwlwifi/patches/004-mwlwifi-fix-PCIe-DT-node-null-pointer-dereference.patch
  package/kernel/mwlwifi/patches/005-mac80211_update.patch
Labels: core packages

#12410 tools/cmake: update to 3.26.3
  tools/cmake/Makefile
Labels: build/scripts/tools

#12428 tools/lz4: build with meson
  tools/Makefile
  tools/lz4/Makefile
Labels: build/scripts/tools

#12422 ksmbd: update to latest 3.4.8 release
  package/kernel/ksmbd/Makefile
Labels: core packages

#12439 tools/squashfs4: backport OpenWrt extended options patch
  tools/squashfs4/Makefile
  tools/squashfs4/patches/001-xz_wrapper-support-multiple-lzma-configuration-optio.patch
  tools/squashfs4/patches/002-xz_wrapper-make-new-OpenWrt-extended-options-non-def.patch
Labels: build/scripts/tools

#12320 mediatek: filogic: rework 02_network setup
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
Labels: target/mediatek

#12433 kernel: bump 5.15 to 5.15.108
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0067-fbdev-add-FBIOCOPYAREA-ioctl.patch
  target/linux/bcm27xx/patches-5.15/950-0281-media-i2c-Add-driver-for-Sony-IMX477-sensor.patch
  target/linux/bcm27xx/patches-5.15/950-0413-Documentation-devicetree-Add-documentation-for-imx37.patch
  target/linux/bcm27xx/patches-5.15/950-0520-dt-bindings-media-i2c-Add-IMX519-CMOS-sensor-binding.patch
  target/linux/bcm27xx/patches-5.15/950-0795-drm-tiny-Add-MIPI-DBI-compatible-SPI-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0880-Revert-fbdev-Fix-unregistering-of-framebuffers-witho.patch
  target/linux/bcm27xx/patches-5.15/950-0881-Revert-fbdev-Hot-unplug-firmware-fb-devices-on-force.patch
  target/linux/generic/backport-5.15/430-v6.3-ubi-Fix-failure-attaching-when-vid_hdr-offset-equals.patch
  target/linux/generic/backport-5.15/612-v6.3-skbuff-Fix-a-race-between-coalescing-and-releasing-S.patch
  target/linux/generic/backport-5.15/707-v6.3-net-pcs-add-driver-for-MediaTek-SGMII-PCS.patch
  target/linux/generic/backport-5.15/783-v6.1-net-sfp-re-implement-soft-state-polling-setup.patch
  target/linux/generic/backport-5.15/784-v6.1-net-sfp-move-quirk-handling-into-sfp.c.patch
  target/linux/generic/backport-5.15/785-v6.1-net-sfp-move-Alcatel-Lucent-3FE46541AA-fixup.patch
  target/linux/generic/backport-5.15/786-v6.1-net-sfp-move-Huawei-MA5671A-fixup.patch
  target/linux/generic/backport-5.15/787-v6.1-net-sfp-add-support-for-HALNy-GPON-SFP.patch
  target/linux/generic/backport-5.15/789-v6.3-net-sfp-add-quirk-enabling-2500Base-x-for-HG-MXPD-48.patch
  target/linux/generic/backport-5.15/804-v5.18-0009-nvmem-Add-driver-for-OCOTP-in-Sunplus-SP7021.patch
  target/linux/generic/backport-5.15/806-v6.0-0001-nvmem-microchip-otpc-add-support.patch
  target/linux/generic/hack-5.15/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/layerscape/patches-5.15/701-staging-add-fsl_ppfe-driver.patch
  target/linux/mediatek/patches-5.15/730-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mvebu/patches-5.15/907-MAINTAINERS-Add-an-entry-for-the-IEI-WT61P803-PUZZLE.patch
  target/linux/realtek/patches-5.15/008-5.17-watchdog-add-realtek-otto-watchdog-timer.patch
  target/linux/realtek/patches-5.15/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
  target/linux/realtek/patches-5.15/712-net-phy-sfp-add-support-for-SMBus.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/layerscape, target/mvebu, target/mediatek, target/realtek

#12432 kernel: bump 5.10 to 5.10.178
  include/kernel-5.10
  target/linux/apm821xx/patches-5.10/802-usb-xhci-force-msi-renesas-xhci.patch
  target/linux/at91/patches-5.10/115-net-macb-add-userio-bits-as-platform-configuration.patch
  target/linux/at91/patches-5.10/117-net-macb-add-function-to-disable-all-macb-clocks.patch
  target/linux/at91/patches-5.10/118-net-macb-unprepare-clocks-in-case-of-failure.patch
  target/linux/at91/patches-5.10/119-net-macb-add-support-for-sama7g5-gem-interface.patch
  target/linux/at91/patches-5.10/120-net-macb-add-support-for-sama7g5-emac-interface.patch
  target/linux/at91/patches-5.10/148-net-macb-Add-default-usrio-config-to-default-gem-con.patch
  target/linux/bcm53xx/patches-5.10/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-5.10/430-v6.3-ubi-Fix-failure-attaching-when-vid_hdr-offset-equals.patch
  target/linux/generic/backport-5.10/732-v5.13-0008-of-net-pass-the-dst-buffer-to-of_get_mac_address.patch
  target/linux/generic/hack-5.10/204-module_strip.patch
  target/linux/generic/hack-5.10/253-ksmbd-config.patch
  target/linux/generic/hack-5.10/410-block-fit-partition-parser.patch
  target/linux/generic/pending-5.10/203-kallsyms_uncompressed.patch
  target/linux/generic/pending-5.10/920-mangle_bootargs.patch
  target/linux/ipq806x/patches-5.10/108-v5.14-net-stmmac-explicitly-deassert-gmac-ahb-reset.patch
  target/linux/realtek/patches-5.10/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
  target/linux/realtek/patches-5.10/712-net-phy-sfp-add-support-for-SMBus.patch
Labels: target/apm821xx, target/at91, target/bcm53xx, build/scripts/tools, target/ipq806x, kernel, target/realtek

#12401 tools/libressl: update to 3.7.2
  tools/libressl/Makefile
Labels: build/scripts/tools

#12390 tools/isl: update to 0.26
  tools/isl/Makefile
Labels: build/scripts/tools

#12391 libpcap: update to 1.10.4
  package/libs/libpcap/Makefile
Labels: core packages

#12443 CI: check-kernel-patches: upload proposed refreshed patches
  .github/workflows/check-kernel-patches.yml
Labels: GitHub/CI

#12178 hostapd: update to 2023-03-29
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/010-mesh-Allow-DFS-channels-to-be-selected-if-dfs-is-ena.patch
  package/network/services/hostapd/patches/011-mesh-use-deterministic-channel-on-channel-switch.patch
  package/network/services/hostapd/patches/021-fix-sta-add-after-previous-connection.patch
  package/network/services/hostapd/patches/022-hostapd-fix-use-of-uninitialized-stack-variables.patch
  package/network/services/hostapd/patches/030-driver_nl80211-rewrite-neigh-code-to-not-depend-on-l.patch
  package/network/services/hostapd/patches/040-mesh-allow-processing-authentication-frames-in-block.patch
  package/network/services/hostapd/patches/050-build_fix.patch
  package/network/services/hostapd/patches/110-mbedtls-TLS-crypto-option-initial-port.patch
  package/network/services/hostapd/patches/120-mbedtls-fips186_2_prf.patch
  package/network/services/hostapd/patches/140-tests-Makefile-make-run-tests-with-CONFIG_TLS.patch
  package/network/services/hostapd/patches/150-add-NULL-checks-encountered-during-tests-hwsim.patch
  package/network/services/hostapd/patches/160-dpp_pkex-EC-point-mul-w-value-prime.patch
  package/network/services/hostapd/patches/170-DPP-fix-memleak-of-intro.peer_key.patch
  package/network/services/hostapd/patches/170-wpa_supplicant-fix-compiling-without-IEEE8021X_EAPOL.patch
  package/network/services/hostapd/patches/200-multicall.patch
  package/network/services/hostapd/patches/300-noscan.patch
  package/network/services/hostapd/patches/301-mesh-noscan.patch
  package/network/services/hostapd/patches/310-rescan_immediately.patch
  package/network/services/hostapd/patches/330-nl80211_fix_set_freq.patch
  package/network/services/hostapd/patches/340-reload_freq_change.patch
  package/network/services/hostapd/patches/341-mesh-ctrl-iface-channel-switch.patch
  package/network/services/hostapd/patches/350-nl80211_del_beacon_bss.patch
  package/network/services/hostapd/patches/360-ctrl_iface_reload.patch
  package/network/services/hostapd/patches/370-ap_sta_support.patch
  package/network/services/hostapd/patches/380-disable_ctrl_iface_mib.patch
  package/network/services/hostapd/patches/381-hostapd_cli_UNKNOWN-COMMAND.patch
  package/network/services/hostapd/patches/390-wpa_ie_cap_workaround.patch
  package/network/services/hostapd/patches/410-limit_debug_messages.patch
  package/network/services/hostapd/patches/420-indicate-features.patch
  package/network/services/hostapd/patches/430-hostapd_cli_ifdef.patch
  package/network/services/hostapd/patches/450-scan_wait.patch
  package/network/services/hostapd/patches/460-wpa_supplicant-add-new-config-params-to-be-used-with.patch
  package/network/services/hostapd/patches/461-driver_nl80211-use-new-parameters-during-ibss-join.patch
  package/network/services/hostapd/patches/463-add-mcast_rate-to-11s.patch
  package/network/services/hostapd/patches/464-fix-mesh-obss-check.patch
  package/network/services/hostapd/patches/465-hostapd-config-support-random-BSS-color.patch
  package/network/services/hostapd/patches/470-survey_data_fallback.patch
  package/network/services/hostapd/patches/500-lto-jobserver-support.patch
  package/network/services/hostapd/patches/590-rrm-wnm-statistics.patch
  package/network/services/hostapd/patches/600-ubus_support.patch
  package/network/services/hostapd/patches/700-wifi-reload.patch
  package/network/services/hostapd/patches/710-vlan_no_bridge.patch
  package/network/services/hostapd/patches/711-wds_bridge_force.patch
  package/network/services/hostapd/patches/720-iface_max_num_sta.patch
  package/network/services/hostapd/patches/730-ft_iface.patch
  package/network/services/hostapd/patches/740-snoop_iface.patch
  package/network/services/hostapd/patches/750-qos_map_set_without_interworking.patch
  package/network/services/hostapd/patches/751-qos_map_ignore_when_unsupported.patch
  package/network/services/hostapd/patches/760-dynamic_own_ip.patch
  package/network/services/hostapd/patches/761-shared_das_port.patch
  package/network/services/hostapd/patches/800-acs-don-t-select-indoor-channel-on-outdoor-operation.patch
  package/network/services/hostapd/patches/990-ctrl-make-WNM_AP-functions-dependant-on-CONFIG_AP.patch
  package/network/services/hostapd/patches/992-openssl-include-rsa.patch
Labels: core packages

#12351 ath79: add support for Alcatel HH40V
  package/boot/uboot-envtools/files/ath79
  target/linux/ath79/dts/qca9531_alcatel_hh40v.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: core packages, target/ath79

#12466 kernel: net: phy: realtek: fix NULL pointer dereference
  target/linux/generic/pending-5.15/726-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-5.15/726-net-phy-realtek-use-phy_read_paged-instead-of-open-c.patch
  target/linux/generic/pending-5.15/729-net-phy-realtek-introduce-rtl822x_probe.patch
Labels: kernel

#10909 ipq40xx: convert GL-AP1300 to DSA
  target/linux/ipq40xx/base-files/etc/board.d/01_leds
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4018-gl-ap1300.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, target/ipq40xx

#12386 generic: Convert incorrect generic/5.15 patches again
  target/linux/generic/backport-5.15/733-v6.3-18-net-ethernet-mtk_eth_soc-add-support-for-MT7981.patch
  target/linux/generic/hack-5.15/750-net-pcs-mtk-lynxi-workaround-2500BaseX-no-an.patch
  target/linux/generic/hack-5.15/795-backport-phylink_pcs-helpers.patch
Labels: kernel

#12485 kernel/modules: fix drbg for >= 5.13.0
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

#12486 openssl: fix low-severity CVE-2023-1255
  package/libs/openssl/Makefile
  package/libs/openssl/patches/220-aesv8-armx.pl-Avoid-buffer-overrread-in-AES-XTS-decr.patch
Labels: core packages

#12448 kernel: Initialize RNG using CPU RNG and bootloader
  target/linux/generic/config-5.10
  target/linux/generic/config-5.15
Labels: kernel

#12447 kernel: Activate CONFIG_SLAB_FREELIST_HARDENED
  target/linux/generic/config-5.10
  target/linux/generic/config-5.15
Labels: kernel

#12454 kernel: Activate CONFIG_SCHED_STACK_END_CHECK
  target/linux/generic/config-5.10
  target/linux/generic/config-5.15
Labels: kernel

#12483 tools/coreutils: update to 9.3
  tools/coreutils/Makefile
  tools/coreutils/patches/001-copy-fix-reflink-auto-to-fallback-in-more-cases.patch
  tools/coreutils/patches/002-date-diagnose-f-read-errors.patch
Labels: build/scripts/tools

#12471 tools/patchelf: update to 0.18.0
  tools/patchelf/Makefile
Labels: build/scripts/tools

#4405 umbim/wwan: DHCP and static configuration coexistence, bugfixes.
  package/network/utils/umbim/files/lib/netifd/proto/mbim.sh
Labels: needs reviewer, core packages, work in progress

#12330 ramips: mt7621: add support for ZyXEL WSM20
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_zyxel_wsm20.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
  target/linux/ramips/mt7621/base-files/lib/upgrade/zyxel.sh
Labels: core packages, target/ramips

#12361 ramips: add support for D-Link DAP-1620 B1
  include/image-commands.mk
  target/linux/ramips/dts/mt7621_dlink_dap-1620-b1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: build/scripts/tools, target/ramips

#11867 ramips: Refactor lzma-loader
  target/linux/ramips/image/Makefile
  target/linux/ramips/image/lzma-loader/Makefile
  target/linux/ramips/image/lzma-loader/src/Makefile
  target/linux/ramips/image/lzma-loader/src/board-mt7621.c
  target/linux/ramips/image/lzma-loader/src/board-ralink.c
  target/linux/ramips/image/lzma-loader/src/board.c
  target/linux/ramips/image/lzma-loader/src/lantiq.mk
  target/linux/ramips/image/lzma-loader/src/mt7621.mk
  target/linux/ramips/image/lzma-loader/src/ralink.mk
Labels: target/ramips

#12495 kernel: bump 5.10 to 5.10.179
  include/kernel-5.10
  target/linux/ath79/patches-5.10/425-at803x-allow-sgmii-aneg-override.patch
  target/linux/bcm47xx/patches-5.10/280-activate_ssb_support_in_usb.patch
  target/linux/bcm53xx/patches-5.10/039-v6.2-bcma-support-SPROM-rev-11.patch
  target/linux/generic/backport-5.10/630-v5.15-page_pool_frag_support.patch
  target/linux/generic/backport-5.10/740-v5.13-0006-net-dsa-b53-mmap-Add-device-tree-support.patch
  target/linux/generic/hack-5.10/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-5.10/655-increase_skb_pad.patch
  target/linux/generic/pending-5.10/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
Labels: target/bcm53xx, target/bcm47xx, build/scripts/tools, kernel, target/ath79

#12497 kernel: bump 5.15 to 5.15.109
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.3-26-mm-multi-gen-LRU-per-node-lru_gen_page-lists.patch
  target/linux/generic/backport-5.15/607-v5.18-net-skbuff-add-size-metadata-to-skb_shared_info-for-.patch
  target/linux/generic/backport-5.15/743-v6.3-0005-net-dsa-b53-mmap-add-phy-ops.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-5.15/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
  target/linux/generic/pending-5.15/655-increase_skb_pad.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/ipq40xx/patches-5.15/700-skbuff-add-DSA-specific-data-to-struct-skb_shared_in.patch
  target/linux/ipq807x/patches-5.15/0054-v6.1-arm64-dts-qcom-replace-deprecated-perst-gpio-with-pe.patch
  target/linux/ipq807x/patches-5.15/0068-v6.2-arm64-dts-qcom-hk01-use-GPIO-flags-for-tlmm.patch
Labels: build/scripts/tools, kernel, target/ipq40xx, target/ipq807x
