Repository openwrt/openwrt, pull requests merged in 2023-03, with the labels that each got.

#10533 kexec-tools: update to 2.0.26
  package/boot/kexec-tools/Makefile
  package/boot/kexec-tools/patches/001-arm-do-not-copy-magic-4-bytes-of-appended-DTB-in-zIm.patch
Labels: core packages

#12073 kernel: move CONFIG_PAGE_POOL to generic
  target/linux/generic/config-5.10
  target/linux/generic/config-5.15
  target/linux/ipq807x/config-5.15
Labels: kernel, target/ipq807x

#12118 kernel: bump 5.15 to 5.15.98
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0064-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/generic/backport-5.15/883-0001-net-Remove-WARN_ON_ONCE-sk-sk_forward_alloc-from-sk_.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#12079 ipq807x: don't generate factory.ubi for Buffalo WXR-5950AX12
  target/linux/ipq807x/image/generic.mk
Labels: target/ipq807x

#12087 ramips: add support for D-Link Dir-853 A1
  target/linux/ramips/dts/mt7621_dlink_dir-853-a1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#12091 ramips: fix wrong pcie port number for Arcadyan WE420223-99
  target/linux/ramips/dts/mt7621_arcadyan_we420223-99.dts
Labels: target/ramips

#12075 bpf-headers: fix package category
  package/kernel/bpf-headers/Makefile
Labels: core packages

#12093 ramips: TP-Link EAP235/615-Wall: add poe passthrough GPIO definitions
  target/linux/ramips/mt7621/base-files/etc/board.d/03_gpio_switches
Labels: target/ramips

#11922 ksmbd: update to 3.4.7
  package/kernel/ksmbd/Makefile
  package/kernel/ksmbd/patches/10-ksmbd-check-nt_len-to-be-at-least-CIFS_ENCPWD_SIZE-i.patch
  package/kernel/ksmbd/patches/11-ksmbd-fix-infinite-loop-in-ksmbd_conn_handler_loop.patch
Labels: core packages

#12011 mac80211: enable ATH9K_HWRNG
  package/kernel/mac80211/ath.mk
Labels: core packages

#12058 at91: switch to Kernel 5.15 by default
  target/linux/at91/Makefile
Labels: target/at91

#12134 kernel: Fix perf build with binutils 2.40
  target/linux/generic/backport-5.15/060-v6.0-01-tools-build-Add-feature-test-for-init_disassemble_in.patch
  target/linux/generic/backport-5.15/060-v6.0-02-tools-include-add-dis-asm-compat.h-to-handle-version.patch
  target/linux/generic/backport-5.15/060-v6.0-03-tools-perf-Fix-compilation-error-with-new-binutils.patch
  target/linux/generic/backport-5.15/060-v6.0-04-tools-bpf_jit_disasm-Fix-compilation-error-with-new-.patch
  target/linux/generic/backport-5.15/060-v6.0-05-tools-bpftool-Fix-compilation-error-with-new-binutil.patch
Labels: kernel

#12036 ramips: add support for SNR-CPE-ME2-SFP
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me2-sfp.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: core packages, target/ramips

#12141 binutils: Deactivate msgpack
  package/devel/binutils/Makefile
Labels: core packages

#12115 strace: update to 6.2
  package/devel/strace/Makefile
Labels: core packages

#12122 tools/elfutils: update to 1.89
  tools/elfutils/Makefile
Labels: build/scripts/tools

#12123 elfutils: update to 1.89
  package/libs/elfutils/Makefile
  package/libs/elfutils/patches/003-libintl-compatibility.patch
Labels: core packages

#12135 ath79: fix user LED glow on Mikrotik 911 Lite boards
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-911-lite.dts
Labels: target/ath79

#12068 realtek: switch to Kernel 5.15 by default
  target/linux/realtek/Makefile
Labels: target/realtek

#12171 imagebuilder: allow to specific ROOTFS_PARTSIZE
  target/imagebuilder/files/Makefile
Labels: target/imagebuilder

#12120 firmware: ipq-wifi: use project branch and drop local file
  package/firmware/ipq-wifi/Makefile
  package/firmware/ipq-wifi/board-aruba_ap-365.qca4019
  package/firmware/ipq-wifi/board-buffalo_wxr-5950ax12.ipq8074
  package/firmware/ipq-wifi/board-devolo_magic-2-wifi-next.qca4019
  package/firmware/ipq-wifi/board-dynalink_dl-wrx36.ipq8074
  package/firmware/ipq-wifi/board-edgecore_eap102.ipq8074
  package/firmware/ipq-wifi/board-edgecore_ecw5410.qca9984
  package/firmware/ipq-wifi/board-edgecore_oap100.qca4019
  package/firmware/ipq-wifi/board-edimax_cax1800.ipq8074
  package/firmware/ipq-wifi/board-extreme-networks_ws-ap3915i.qca4019
  package/firmware/ipq-wifi/board-glinet_gl-a1300.qca4019
  package/firmware/ipq-wifi/board-glinet_gl-ap1300.qca4019
  package/firmware/ipq-wifi/board-glinet_gl-s1300.qca4019
  package/firmware/ipq-wifi/board-linksys_ea8300.qca4019
  package/firmware/ipq-wifi/board-linksys_ea8300.qca9888
  package/firmware/ipq-wifi/board-linksys_whw03v2.qca4019
  package/firmware/ipq-wifi/board-linksys_whw03v2.qca9888
  package/firmware/ipq-wifi/board-p2w_r619ac.qca4019
  package/firmware/ipq-wifi/board-pakedge_wr-1.qca4019
  package/firmware/ipq-wifi/board-qnap_301w.ipq8074
  package/firmware/ipq-wifi/board-qxwlan_e2600ac-c1.qca4019
  package/firmware/ipq-wifi/board-qxwlan_e2600ac-c2.qca4019
  package/firmware/ipq-wifi/board-qxwlan_e2600ac.qca4019
  package/firmware/ipq-wifi/board-redmi_ax6.ipq8074
  package/firmware/ipq-wifi/board-sony_ncp-hg100-cellular.qca4019
  package/firmware/ipq-wifi/board-teltonika_rutx.qca4019
  package/firmware/ipq-wifi/board-xiaomi_ax3600.ipq8074
  package/firmware/ipq-wifi/board-xiaomi_ax3600.qca9889
  package/firmware/ipq-wifi/board-xiaomi_ax9000.ipq8074
  package/firmware/ipq-wifi/board-xiaomi_ax9000.qca9889
  package/firmware/ipq-wifi/board-xiaomi_ax9000.qcn9074
  package/firmware/ipq-wifi/board-zte_mf18a.qca4019
  package/firmware/ipq-wifi/board-zte_mf18a.qca99x0
  package/firmware/ipq-wifi/board-zte_mf289f.qca4019
  package/firmware/ipq-wifi/board-zte_mf289f.qca9984
  package/firmware/ipq-wifi/board-zyxel_nbg7815.ipq8074
Labels: core packages

#12185 include: autotools: Add dummy GTKDOCIZE
  include/autotools.mk
Labels: build/scripts/tools

#12180 rpcd: bump to latest git HEAD
  package/system/rpcd/Makefile
Labels: core packages

#12065 layerscape: switch to Kernel 5.15 by default
  target/linux/layerscape/Makefile
Labels: target/layerscape

#12168 lantiq: xway: add phy reset pin to AVM Fritz!Box 7320
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_avm_fritz7320.dts
Labels: kernel, target/lantiq

#12206 mac80211: mark patches accepted upstream
  package/kernel/mac80211/patches/subsys/306-01-v6.2-wifi-mac80211-add-internal-handler-for-wake_tx_queue.patch
  package/kernel/mac80211/patches/subsys/306-02-v6.2-wifi-mac80211-add-wake_tx_queue-callback-to-drivers.patch
  package/kernel/mac80211/patches/subsys/306-03-v6.2-wifi-mac80211-Drop-support-for-TX-push-path.patch
  package/kernel/mac80211/patches/subsys/306-04-v6.2-wifi-realtek-remove-duplicated-wake_tx_queue.patch
  package/kernel/mac80211/patches/subsys/307-v6.2-wifi-mac80211-fix-initialization-of-rx-link-and-rx-l.patch
  package/kernel/mac80211/patches/subsys/308-v6.2-wifi-mac80211-fix-MLO-AP_VLAN-check.patch
  package/kernel/mac80211/patches/subsys/310-v6.2-mac80211-add-support-for-restricting-netdev-features.patch
  package/kernel/mac80211/patches/subsys/311-v6.2-wifi-mac80211-fix-and-simplify-unencrypted-drop-chec.patch
  package/kernel/mac80211/patches/subsys/312-v6.3-wifi-cfg80211-move-A-MSDU-check-in-ieee80211_data_to.patch
  package/kernel/mac80211/patches/subsys/313-v6.3-wifi-cfg80211-factor-out-bridge-tunnel-RFC1042-heade.patch
  package/kernel/mac80211/patches/subsys/314-v6.3-wifi-mac80211-remove-mesh-forwarding-congestion-chec.patch
  package/kernel/mac80211/patches/subsys/315-v6.3-wifi-mac80211-fix-receiving-A-MSDU-frames-on-mesh-in.patch
  package/kernel/mac80211/patches/subsys/316-v6.3-wifi-mac80211-add-a-workaround-for-receiving-non-sta.patch
  package/kernel/mac80211/patches/subsys/323-v6.3-wifi-mac80211-Add-VHT-MU-MIMO-related-flags-in-ieee8.patch
  package/kernel/mac80211/patches/subsys/324-v6.3-wifi-mac80211-Add-HE-MU-MIMO-related-flags-in-ieee80.patch
Labels: core packages

#12140 kernel: Add missing symbols when activating CONFIG_KERNEL_* options and add CONFIG_KERNEL_HARDLOCKUP_DETECTOR
  config/Config-kernel.in
  target/linux/generic/config-5.15
Labels: kernel

#11959 ipq807x: add support for Netgear WAX218
  package/boot/uboot-envtools/files/ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/ipq807x/base-files/etc/board.d/01_leds
  target/linux/ipq807x/base-files/etc/board.d/02_network
  target/linux/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/ipq807x/base-files/lib/upgrade/platform.sh
  target/linux/ipq807x/files/arch/arm64/boot/dts/qcom/ipq8072-wax218.dts
  target/linux/ipq807x/image/generic.mk
Labels: kernel, core packages, target/ipq807x

#12213 tools/libressl: bump to 3.7.1
  tools/libressl/Makefile
Labels: build/scripts/tools

#12212 tools/xz: bump to 5.4.2
  tools/xz/Makefile
Labels: build/scripts/tools

#12195 tools/cmake: bump to 3.26.0
  tools/cmake/Makefile
  tools/cmake/patches/110-liblzma.patch
  tools/cmake/patches/140-zlib.patch
Labels: build/scripts/tools

#12179 tools/autoconf-archive: bump to 2023.02.20
  tools/autoconf-archive/Makefile
Labels: build/scripts/tools

#12199 ramips: cudy wr1300v2 reduce SPI freq to 40000000
  target/linux/ramips/dts/mt7621_cudy_wr1300-v2.dts
Labels: target/ramips

#12039 CI: kernel: skip subtarget test on non-specific target test
  .github/workflows/kernel.yml
Labels: GitHub/CI

#12181 odhcpd: bump to latest git HEAD
  package/network/services/odhcpd/Makefile
Labels: core packages

#12211 ramips: mt7621: enable lzma-loader for AFOUNDRY EW1200
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#12246 kernel: bump 5.10 to 5.10.176
  include/kernel-5.10
  target/linux/generic/backport-5.10/601-v5.12-net-implement-threaded-able-napi-poll-loop-support.patch
  target/linux/generic/backport-5.10/602-v5.12-net-add-sysfs-attribute-to-control-napi-threaded-mod.patch
  target/linux/generic/backport-5.10/603-v5.12-net-fix-race-between-napi-kthread-mode-and-busy-poll.patch
  target/linux/generic/backport-5.10/610-v5.13-11-net-resolve-forwarding-path-from-virtual-netdevice-a.patch
  target/linux/generic/backport-5.10/610-v5.13-12-net-8021q-resolve-forwarding-path-for-vlan-devices.patch
  target/linux/generic/backport-5.10/610-v5.13-13-net-bridge-resolve-forwarding-path-for-bridge-device.patch
  target/linux/generic/backport-5.10/610-v5.13-14-net-bridge-resolve-forwarding-path-for-VLAN-tag-acti.patch
  target/linux/generic/backport-5.10/610-v5.13-15-net-ppp-resolve-forwarding-path-for-bridge-pppoe-dev.patch
  target/linux/generic/backport-5.10/610-v5.13-16-net-dsa-resolve-forwarding-path-for-dsa-slave-ports.patch
  target/linux/generic/backport-5.10/610-v5.13-27-netfilter-flowtable-bridge-vlan-hardware-offload-and.patch
  target/linux/generic/backport-5.10/615-v5.14-ip-Treat-IPv4-segment-s-lowest-address-as-unicast.patch
  target/linux/generic/hack-5.10/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-5.10/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.10/701-03-net-ethernet-mtk_eth_soc-implement-flow-offloading-t.patch
  target/linux/generic/pending-5.10/704-02-net-fix-dev_fill_forward_path-with-pppoe-bridge.patch
  target/linux/generic/pending-5.10/760-net-dsa-mv88e6xxx-fix-vlan-setup.patch
  target/linux/generic/pending-5.10/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
Labels: build/scripts/tools, kernel

#12214 util-linux: add rev utility package
  package/utils/util-linux/Makefile
Labels: core packages

#12231 ramips: mt7621: enable unused PCIe port to fix potential boot failure issue
  target/linux/ramips/dts/mt7621_h3c_tx180x.dtsi
  target/linux/ramips/dts/mt7621_haier-sim_wr1800k.dtsi
  target/linux/ramips/dts/mt7621_netgear_wax202.dts
  target/linux/ramips/dts/mt7621_tplink_eap615-wall-v1.dts
Labels: target/ramips

#12248 ramips: mt7621: enable lzma-loader for AFOUNDRY EW1200
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips, release/22.03

#12175 ipq40xx: Linksys MR8300: fix the USB port power
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-xx8300.dtsi
Labels: kernel, target/ipq40xx, release/22.03

#10794 ath79: Add Aruba AP-175 support
  package/boot/uboot-envtools/files/ath79
  target/linux/ath79/dts/ar7161_aruba_ap-175.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: core packages, target/ath79

#12161 lantiq: xway: add support for AVM FRITZ!Box 7330
  target/linux/lantiq/image/ar9.mk
Labels: target/lantiq

#12157 bcm47xx: enable adm6996 only on legacy subtarget
  target/linux/bcm47xx/config-5.10
  target/linux/bcm47xx/config-5.15
  target/linux/bcm47xx/legacy/config-default
  target/linux/bcm47xx/mips74k/config-default
Labels: target/bcm47xx, kernel

#12147 ramips: add support for Keenetic Lite III rev. A
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7620n_zyxel_keenetic-lite-iii-a.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: core packages, target/ramips

#12256 kernel: filter out pahole version
  target/linux/generic/config-filter
Labels: kernel

#12277 ipq40xx: Linksys MR8300: fix the USB port power
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-xx8300.dtsi
Labels: kernel, target/ipq40xx, release/21.02
