Repository openwrt/openwrt, pull requests merged in 2023-11, with the labels that each got.

#13826 qualcommax: ipq807x: move subtarget specific kernel options
  target/linux/qualcommax/config-6.1
  target/linux/qualcommax/ipq807x/config-default
Labels: kernel, target/qualcommax

#13766 dnsmasq: don't source functions.sh twice
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#13708 ath10k-ct bump
  package/kernel/ath10k-ct/Makefile
Labels: core packages

#13824 ramips: fix wrong permissions on dts files
  target/linux/ramips/dts/mt7620a_dlink_dir-806a-b1.dts
  target/linux/ramips/dts/mt7621_wavlink_wl-wn573hx1.dts
Labels: target/ramips

#13889 image: fix image generation within ImageBuilder
  include/image.mk
Labels: build/scripts/tools, fix

#13882 mbedtls: Activate secp521r1 curve by default
  package/libs/mbedtls/Config.in
  package/libs/mbedtls/Makefile
Labels: core packages

#13884 bpf-headers: Fix download URL with kernel 6.1
  package/kernel/bpf-headers/Makefile
Labels: core packages

#13874 [23.05] treewide: fix MERCUSYS brand spelling
  target/linux/mediatek/dts/mt7986b-mercusys-mr90x-v1.dts
  target/linux/mediatek/image/filogic.mk
  target/linux/ramips/dts/mt7621_mercusys_mr70x-v1.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips, target/mediatek, release/23.05

#13856 ramips: Cudy WR1300v2 fix mt7613 calibration data length
  target/linux/ramips/dts/mt7621_cudy_wr1300-v2.dts
Labels: target/ramips

#13875 [22.03] build: export GIT_CEILING_DIRECTORIES for package builds
  include/host-build.mk
  include/package.mk
Labels: build/scripts/tools, release/22.03

#13853 ipq807x: add support for Yuncore AX880
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax880.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/init.d/bootcount
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, release/23.05

#13935 ipq807x: fix wrong define for LAN and WAN ess mask
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8070-cax1800.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-ax3600.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-eap102.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-301w.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax880.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax9000.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-dl-wrx36.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-haze.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wax218.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wax620.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wpq873.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-ess.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-nbg7815.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rax120v2.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wax630.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wxr-5950ax12.dts
  target/linux/qualcommax/files/include/dt-bindings/net/qcom-ipq-ess.h
Labels: kernel, target/qualcommax

#13915 dtc: add option for a static build
  package/utils/dtc/Makefile
Labels: core packages

#13950 qca-ssdk: fix unsupported scenario with PORT1 not declared in switch bmp
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/100-malibu-phy-drop-usage-of-first_phy_addr.patch
Labels: core packages

#13949 ath10k-ct: Restore functionality after switch to 6.4 version
  package/kernel/ath10k-ct/patches/130-ath10k-read-qcom-coexist-support-as-a-u32.patch
  package/kernel/ath10k-ct/patches/201-ath10k-add-LED-and-GPIO-controlling-support-for-various-chipsets.patch
  package/kernel/ath10k-ct/patches/202-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/ath10k-ct/patches/960-0010-ath10k-limit-htt-rx-ring-size.patch
  package/kernel/ath10k-ct/patches/960-0011-ath10k-limit-pci-buffer-size.patch
  package/kernel/ath10k-ct/patches/988-ath10k-always-use-mac80211-loss-detection.patch
Labels: core packages

#13925 ramips: mt7621: use lzma-loader for Sercomm NA502
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#10920 kernel: kmod-usb-serial-mos7720: support parallel port in MCS7715
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

#13892 base-files: Create /root w/ appropriate permissions
  package/base-files/Makefile
Labels: core packages

#13141 mediatek: Add support for D-Link EAGLE PRO AI M32
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-m32-a1.dts
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
  target/linux/mediatek/mt7622/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/mt7622/base-files/lib/upgrade/platform.sh
Labels: target/mediatek

#13580 mediatek: Add support for TP-Link EAP225v5
  target/linux/mediatek/dts/mt7629-tplink_eap225-v5.dts
  target/linux/mediatek/image/mt7629.mk
  target/linux/mediatek/mt7629/base-files/etc/board.d/02_network
Labels: target/mediatek

#13962 qca-ssdk: fix unsupported scenario with PORT1 not declared in switch bmp (again)
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/100-malibu-phy-add-support-for-manual-define-of-first-ph.patch
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-301w.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-ess.dtsi
Labels: kernel, core packages, target/qualcommax

#13960 devel/gdb: Disable libzstd explicitly (to avoid dependency)
  package/devel/gdb/Makefile
Labels: core packages

#13976 qca-ssdk: general maintenance
  package/kernel/qca-ssdk/Makefile
Labels: core packages

#13979 qca-ssdk: disable building ISISC
  package/kernel/qca-ssdk/Makefile
Labels: core packages

#13983 ipq807x: fix multiple error on ESS switch port define
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8070-cax1800.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-ax3600.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-eap102.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-301w.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax880.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax9000.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-dl-wrx36.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-haze.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wax218.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wax620.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wpq873.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-nbg7815.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rax120v2.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wax630.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wxr-5950ax12.dts
Labels: kernel, target/qualcommax

#13986 qualcommax: fix line endings in ESS dt-bindings
  target/linux/qualcommax/files/include/dt-bindings/net/qcom-ipq-ess.h
Labels: kernel, target/qualcommax

#13608 kernel: 6.1: Add missing config option DEVTMPFS_SAFE
  target/linux/generic/config-6.1
Labels: kernel

#13442 x86,armsr: interpolate @GRUB_SERIAL@ into /etc/inittab
  target/linux/armsr/base-files.mk
  target/linux/armsr/base-files/etc/inittab
  target/linux/armsr/image/Makefile
  target/linux/x86/base-files.mk
  target/linux/x86/base-files/etc/inittab
  target/linux/x86/image/Makefile
Labels: target/x86, target/armsr

#13865 ramips: add support for D-Link COVR-X1860 A1
  target/linux/ramips/dts/mt7621_dlink_covr-x1860-a1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#13547 ramips: add support for TP-Link Archer C50 v6 (CA/EU/RU)
  target/linux/ramips/dts/mt7628an_tplink_archer-c50-v6.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#13999 uboot-mediatek: bpi-r3: Typo of ubi command in uboot predefined commands
  package/boot/uboot-mediatek/patches/430-add-bpi-r3.patch
Labels: core packages, target/mediatek

#13958 ramips: D-Link Dxx-1xx0 image fixes
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#14007 [23.05]: kernel: bump 5.15 to 5.15.138
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0032-smsx95xx-fix-crimes-against-truesize.patch
  target/linux/bcm27xx/patches-5.15/950-0033-smsc95xx-Experimental-Enable-turbo_mode-and-packetsi.patch
  target/linux/bcm27xx/patches-5.15/950-0034-Allow-mac-address-to-be-set-in-smsc95xx.patch
  target/linux/bcm27xx/patches-5.15/950-0837-clk-Drop-the-rate-range-on-clk_put.patch
  target/linux/generic/backport-5.15/819-v6.6-0018-nvmem-imx-correct-nregs-for-i.MX6SLL.patch
  target/linux/generic/backport-5.15/819-v6.6-0019-nvmem-imx-correct-nregs-for-i.MX6UL.patch
  target/linux/generic/backport-5.15/819-v6.6-0020-nvmem-imx-correct-nregs-for-i.MX6ULL.patch
  target/linux/generic/hack-5.15/760-net-usb-r8152-add-LED-configuration-from-OF.patch
  target/linux/generic/pending-5.15/810-pci_disable_common_quirks.patch
  target/linux/lantiq/patches-5.15/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/ath79, target/mediatek, target/octeontx, release/23.05

#14006 [22.03]: kernel: bump 5.10 to 5.10.200
  include/kernel-5.10
  target/linux/ath79/patches-5.10/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.10/950-0006-smsx95xx-fix-crimes-against-truesize.patch
  target/linux/bcm27xx/patches-5.10/950-0007-smsc95xx-Experimental-Enable-turbo_mode-and-packetsi.patch
  target/linux/bcm27xx/patches-5.10/950-0008-Allow-mac-address-to-be-set-in-smsc95xx.patch
  target/linux/bcm27xx/patches-5.10/950-0537-clk-Introduce-a-clock-request-API.patch
  target/linux/bcm27xx/patches-5.10/950-0544-net-usb-r8153_ecm-support-ECM-mode-for-RTL8153.patch
  target/linux/bcm27xx/patches-5.10/950-0545-net-usb-r8152-use-new-tasklet-API.patch
  target/linux/bcm27xx/patches-5.10/950-0550-r8152-replace-netif_err-with-dev_err.patch
  target/linux/bcm27xx/patches-5.10/950-0554-r8152-add-help-function-to-change-mtu.patch
  target/linux/bcm27xx/patches-5.10/950-0555-r8152-support-new-chips.patch
  target/linux/bcm27xx/patches-5.10/950-0557-r8152-search-the-configuration-of-vendor-mode.patch
  target/linux/generic/pending-5.10/810-pci_disable_common_quirks.patch
  target/linux/lantiq/patches-5.10/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/octeontx/patches-5.10/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/ath79, target/octeontx, release/22.03

#13235 [22.03] ramips: add support for SNR-CPE-W4N-MT router
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7620n_snr_cpe-w4n-mt.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: core packages, target/ramips, release/22.03

#13955 target: octeon: remove mac-address-increment
  target/linux/octeon/files/arch/mips/boot/dts/cavium-octeon/cn7130_ubnt_edgerouter-4.dts
  target/linux/octeon/files/arch/mips/boot/dts/cavium-octeon/cn7130_ubnt_edgerouter-6p.dts
  target/linux/octeon/files/arch/mips/boot/dts/cavium-octeon/cn7130_ubnt_edgerouter-e300.dtsi
Labels: kernel, target/octeon

#13954 target: bmips: remove mac-address-increment
  target/linux/bmips/dts/bcm63167-sercomm-h500-s.dtsi
  target/linux/bmips/dts/bcm63168-comtrend-vr-3032u.dts
  target/linux/bmips/dts/bcm63168-sercomm-shg2500.dts
  target/linux/bmips/dts/bcm63169-comtrend-vg-8050.dts
  target/linux/bmips/dts/bcm6318-comtrend-ar-5315u.dts
  target/linux/bmips/dts/bcm6328-arcadyan-ar7516.dts
  target/linux/bmips/dts/bcm6328-comtrend-ar-5381u.dts
  target/linux/bmips/dts/bcm6328-comtrend-ar-5387un.dts
  target/linux/bmips/dts/bcm6328-nucom-r5010unv2.dts
  target/linux/bmips/dts/bcm6328-sercomm-ad1018.dts
  target/linux/bmips/dts/bcm6358-huawei-hg556a-b.dts
  target/linux/bmips/dts/bcm6362-huawei-hg253s-v2.dts
  target/linux/bmips/dts/bcm6362-netgear-dgnd3700-v2.dts
  target/linux/bmips/dts/bcm6368-actiontec-r1000h.dts
  target/linux/bmips/dts/bcm6368-comtrend-vr-3025u.dts
  target/linux/bmips/dts/bcm6368-comtrend-vr-3025un.dts
  target/linux/bmips/dts/bcm6368-netgear-dgnd3700.dtsi
  target/linux/bmips/dts/bcm6368-observa-vh4032n.dts
  target/linux/bmips/dts/bcm6369-comtrend-wap-5813n.dts
  target/linux/bmips/dts/bcm6369-netgear-evg2000.dts
Labels: target/bmips

#13953 target: lantiq: remove mac-address-increment
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_avm_fritz7312.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_avm_fritz7320.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/ar9_buffalo_wbmr-hp-g300h.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv4518pwr01.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv4519pw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv4520pw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv4525pw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv452cqw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv7506pw11.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv7510pw22.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv7518pw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv7519pw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv7525pw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv752dpw.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv752dpw22.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv8539pw22.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_arv7519rw22.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vgv7510kw22.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vgv7519.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_avm_fritz7360-v2.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_avm_fritz7360sl.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_avm_fritz7362sl.dts
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_tplink_tdw89x0.dtsi
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_tplink_vr200.dtsi
Labels: kernel, target/lantiq

#14041 mediatek: fiilogic: device tree `switch@1f` fix
  target/linux/mediatek/dts/mt7981b-cetron-ct3003.dts
  target/linux/mediatek/dts/mt7981b-cmcc-rax3000m.dts
  target/linux/mediatek/dts/mt7981b-cudy-wr3000-v1.dts
  target/linux/mediatek/dts/mt7981b-h3c-magic-nx30-pro.dts
  target/linux/mediatek/dts/mt7981b-jcg-q30-pro.dts
  target/linux/mediatek/dts/mt7981b-qihoo-360t7.dts
  target/linux/mediatek/dts/mt7981b-xiaomi-mi-router-wr30u.dtsi
  target/linux/mediatek/dts/mt7986a-acer-predator-w6.dts
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax4200.dts
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
  target/linux/mediatek/dts/mt7986a-glinet-gl-mt6000.dts
  target/linux/mediatek/dts/mt7986a-tplink-tl-xdr-common.dtsi
  target/linux/mediatek/dts/mt7986a-xiaomi-redmi-router-ax6000.dtsi
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-stock.dts
  target/linux/mediatek/dts/mt7986b-mercusys-mr90x-v1.dts
  target/linux/mediatek/files-5.15/arch/arm64/boot/dts/mediatek/mt7986a-bananapi-bpi-r3.dts
  target/linux/mediatek/files-5.15/arch/arm64/boot/dts/mediatek/mt7986a-rfb.dtsi
  target/linux/mediatek/files-5.15/arch/arm64/boot/dts/mediatek/mt7986b-rfb.dts
  target/linux/mediatek/files-6.1/arch/arm64/boot/dts/mediatek/mt7986a-rfb.dtsi
  target/linux/mediatek/patches-6.1/010-v6.3-arm64-dts-mt7986-add-Bananapi-R3.patch
Labels: target/mediatek

#14031 target: mvebu: remove mac-address-increment
  target/linux/mvebu/files/arch/arm/boot/dts/armada-380-iij-sa-w2.dts
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-30e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-50e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-x0e.dtsi
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-nas1dual.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-gl-mv1000.dts
Labels: kernel, target/mvebu

#14014 kernel: bump 6.1 to 6.1.63
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0606-hwrng-bcm2835-sleep-more-intelligently.patch
  target/linux/bcm53xx/patches-6.1/905-BCM53573-minor-hacks.patch
  target/linux/generic/backport-6.1/815-v6.6-1-leds-turris-omnia-Use-sysfs_emit-instead-of-sprintf.patch
  target/linux/generic/backport-6.1/815-v6.6-2-leds-turris-omnia-Drop-unnecessary-mutex-locking.patch
  target/linux/generic/backport-6.1/815-v6.7-1-leds-turris-omnia-Do-not-use-SMBUS-calls.patch
  target/linux/generic/hack-6.1/259-regmap_dynamic.patch
  target/linux/generic/hack-6.1/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq40xx/patches-6.1/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ixp4xx/patches-6.1/0007-watchdog-ixp4xx-Make-sure-restart-always-works.patch
  target/linux/mediatek/patches-6.1/220-v6.3-clk-mediatek-clk-gate-Propagate-struct-device-with-m.patch
  target/linux/mediatek/patches-6.1/221-v6.3-clk-mediatek-cpumux-Propagate-struct-device-where-po.patch
  target/linux/mediatek/patches-6.1/222-v6.3-clk-mediatek-clk-mtk-Propagate-struct-device-for-com.patch
  target/linux/qualcommax/patches-6.1/0100-clk-qcom-clk-rcg2-introduce-support-for-multiple-con.patch
Labels: target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel, target/ipq40xx, target/mediatek, target/qualcommax

#14015 kernel: bump 5.15 to 5.15.139
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/350-v5.18-regmap-add-configurable-downshift-for-addresses.patch
  target/linux/generic/backport-5.15/351-v5.18-regmap-allow-a-defined-reg_base-to-be-added-to-every.patch
  target/linux/generic/backport-5.15/352-v6.3-regmap-apply-reg_base-and-reg_downshift-for-single-r.patch
  target/linux/generic/backport-5.15/830-v6.0-leds-turris-omnia-convert-to-use-dev_groups.patch
  target/linux/generic/backport-5.15/830-v6.6-1-leds-turris-omnia-Use-sysfs_emit-instead-of-sprintf.patch
  target/linux/generic/backport-5.15/830-v6.6-2-leds-turris-omnia-Drop-unnecessary-mutex-locking.patch
  target/linux/generic/backport-5.15/830-v6.7-1-leds-turris-omnia-Do-not-use-SMBUS-calls.patch
  target/linux/generic/hack-5.15/259-regmap_dynamic.patch
  target/linux/generic/hack-5.15/904-debloat_dma_buf.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/x86/patches-5.15/120-hwrng-geode-fix-accessing-registers.patch
Labels: build/scripts/tools, kernel, target/x86

#14033 realtek: convert to nvmem-layout
  target/linux/realtek/dts-5.15/rtl8380_tplink_sg2xxx.dtsi
  target/linux/realtek/dts-5.15/rtl8382_tplink_t1600g-28ts-v3.dts
  target/linux/realtek/dts-5.15/rtl8393_tplink_sg2452p-v4.dts
Labels: target/realtek

#14018 mediatek: add support for Zbtlink ZBT-Z8102AX
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/config-5.15
  target/linux/mediatek/filogic/config-6.1
  target/linux/mediatek/image/filogic.mk
Labels: kernel, core packages, target/mediatek

#14055 ipq40xx: refresh patches
  target/linux/ipq40xx/patches-6.1/709-net-phy-Add-Qualcom-QCA807x-driver.patch
Labels: target/ipq40xx

#14026 linux-firmware: intel: add firmware for AX101
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#14044 mwlwifi: update to version 10.4.10-20231120
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/001-Fix-compilation-warning-with-64-bit-system.patch
  package/kernel/mwlwifi/patches/004-mwlwifi-fix-PCIe-DT-node-null-pointer-dereference.patch
  package/kernel/mwlwifi/patches/005-mac80211_update.patch
  package/kernel/mwlwifi/patches/006-remove-uaccess-and-get_fs-calls-from-PCIe-for-Kenel-.patch
  package/kernel/mwlwifi/patches/007-replace-usage-of-the-deprecated-pci-dma-compat.h-API.patch
Labels: core packages

#14001 ramips: add support for TP-Link EX220 v1
  target/linux/ramips/dts/mt7621_tplink_ex220-v1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#14038 f2fs-tools: avoid dead symlinks in root
  package/utils/f2fs-tools/Makefile
Labels: core packages

#13966 ramips: mt76x8 support for RTC class/drivers
  target/linux/ramips/mt76x8/config-5.15
Labels: kernel, target/ramips

#14064 mediatek: filogic: Fix GPIOs for Zbtlink ZBT-Z8102AX
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
Labels: target/mediatek

#14032 apm821xx: convert to nvmem-layout
  target/linux/apm821xx/dts/netgear-wndr4700.dts
Labels: target/apm821xx

#14035 qualcommax: convert to nvmem-layout
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-ax3600.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax9000.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rax120v2.dts
Labels: kernel, target/qualcommax

#13984 ath79: add support for D-link DAP-1720 A1
  package/boot/uboot-envtools/files/ath79
  target/linux/ath79/dts/qca9563_dlink_dap-1720-a1.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/uci-defaults/09_fix-checksum
  target/linux/ath79/image/generic.mk
Labels: core packages, target/ath79

#14067 [22.03]: kernel: bump 5.10 to 5.10.201
  include/kernel-5.10
  target/linux/bcm27xx/patches-5.10/950-0408-drm-atomic-Pass-the-full-state-to-CRTC-atomic-enable.patch
  target/linux/bcm27xx/patches-5.10/950-0410-drm-atomic-Pass-the-full-state-to-CRTC-atomic-begin-.patch
  target/linux/bcm27xx/patches-5.10/950-0689-drm-automatic-legacy-gamma-support.patch
  target/linux/generic/hack-5.10/259-regmap_dynamic.patch
  target/linux/x86/patches-5.10/120-hwrng-geode-fix-accessing-registers.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/x86, release/22.03

#14066 [23.05]: kernel: bump 5.15 to 5.15.139
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/350-v5.18-regmap-add-configurable-downshift-for-addresses.patch
  target/linux/generic/backport-5.15/351-v5.18-regmap-allow-a-defined-reg_base-to-be-added-to-every.patch
  target/linux/generic/backport-5.15/352-v6.3-regmap-apply-reg_base-and-reg_downshift-for-single-r.patch
  target/linux/generic/hack-5.15/259-regmap_dynamic.patch
  target/linux/generic/hack-5.15/904-debloat_dma_buf.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq807x/patches-5.15/0023-v6.0-clk-qcom-ipq8074-add-USB-GDSCs.patch
  target/linux/ipq807x/patches-5.15/0038-v6.1-clk-qcom-clk-rcg2-add-rcg2-mux-ops.patch
  target/linux/ipq807x/patches-5.15/0078-v5.19-clk-qcom-rcg2-Cache-CFG-register-updates-for-parked-.patch
  target/linux/ipq807x/patches-5.15/0100-clk-qcom-clk-rcg2-introduce-support-for-multiple-con.patch
  target/linux/mvebu/patches-5.15/102-leds-turris-omnia-support-HW-controlled-mode-via-pri.patch
  target/linux/mvebu/patches-5.15/103-leds-turris-omnia-initialize-multi-intensity-to-full.patch
  target/linux/mvebu/patches-5.15/104-leds-turris-omnia-change-max-brightness-from-255-to-.patch
  target/linux/x86/patches-5.15/120-hwrng-geode-fix-accessing-registers.patch
Labels: build/scripts/tools, kernel, target/mvebu, target/x86, target/ipq807x, release/23.05

#14088 kernel: bump 6.1 to 6.1.64
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0111-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.1/950-0188-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/backport-6.1/792-v6.6-net-phylink-add-pcs_enable-pcs_disable-methods.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-6.1/920-mangle_bootargs.patch
  target/linux/ipq40xx/patches-6.1/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.1/422-firmware-qcom-scm-fix-SCM-cold-boot-address.patch
  target/linux/ipq40xx/patches-6.1/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
  target/linux/ipq806x/patches-6.1/0067-generic-Mangle-bootloader-s-kernel-arguments.patch
  target/linux/ipq806x/patches-6.1/700-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/ixp4xx/patches-6.1/0001-mtd-cfi_cmdset_0001-Byte-swap-OTP-info.patch
  target/linux/mediatek/patches-6.1/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.1/730-v6.5-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mediatek/patches-6.1/733-net-phy-add-driver-for-MediaTek-2.5G-PHY.patch
  target/linux/mediatek/patches-6.1/901-arm-add-cmdline-override.patch
  target/linux/mvebu/patches-6.1/106-Revert-i2c-pxa-move-to-generic-GPIO-recovery.patch
  target/linux/mvebu/patches-6.1/300-mvebu-Mangle-bootloader-s-kernel-arguments.patch
  target/linux/mvebu/patches-6.1/700-mvneta-tx-queue-workaround.patch
  target/linux/qualcommax/patches-6.1/0007-v6.2-clk-qcom-ipq8074-convert-to-parent-data.patch
  target/linux/qualcommax/patches-6.1/0010-v6.2-clk-qcom-ipq8074-add-missing-networking-resets.patch
  target/linux/qualcommax/patches-6.1/0011-v6.2-clk-qcom-ipq8074-populate-fw_name-for-all-parents.patch
  target/linux/qualcommax/patches-6.1/0021-v6.3-clk-qcom-ipq8074-populate-fw_name-for-usb3phy-s.patch
  target/linux/qualcommax/patches-6.1/0026-v6.7-clk-qcom-ipq8074-drop-the-CLK_SET_RATE_PARENT-flag-f.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/mvebu, target/ipq40xx, target/mediatek, target/qualcommax

#14090 kernel: bump 5.15 to 5.15.140
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multi-gen-LRU-groundwork.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/020-v6.3-26-mm-multi-gen-LRU-per-node-lru_gen_page-lists.patch
  target/linux/generic/backport-5.15/703-08-v5.17-net-phylink-add-mac_select_pcs-method-to-phylink_mac.patch
  target/linux/generic/backport-5.15/703-15-v5.18-net-phy-phylink-fix-DSA-mac_select_pcs-introduction.patch
  target/linux/generic/backport-5.15/792-03-v6.6-net-phylink-add-pcs_enable-pcs_disable-methods.patch
  target/linux/generic/backport-5.15/821-v5.16-Bluetooth-btusb-Support-public-address-configuration.patch
  target/linux/generic/backport-5.15/822-v5.17-Bluetooth-btusb-Fix-application-of-sizeof-to-pointer.patch
  target/linux/generic/backport-5.15/823-v5.18-Bluetooth-btusb-Add-a-new-PID-VID-13d3-3567-for-MT79.patch
  target/linux/generic/backport-5.15/824-v5.19-Bluetooth-btusb-Add-a-new-PID-VID-0489-e0c8-for-MT79.patch
  target/linux/generic/backport-5.15/825-v6.1-Bluetooth-btusb-Add-a-new-VID-PID-0e8d-0608-for-MT79.patch
  target/linux/generic/hack-5.15/795-backport-phylink_pcs-helpers.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/lantiq/patches-5.15/0302-mtd-cfi_cmdset_0001-Disable-write-buffer-functions-i.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/mediatek/patches-5.15/901-arm-add-cmdline-override.patch
  target/linux/mvebu/patches-5.15/106-Revert-i2c-pxa-move-to-generic-GPIO-recovery.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/ramips/patches-5.15/720-Revert-net-phy-simplify-phy_link_change-arguments.patch
  target/linux/realtek/patches-5.15/704-drivers-net-phy-eee-support-for-rtl838x.patch
Labels: build/scripts/tools, kernel, target/lantiq, target/mvebu, target/ramips, target/mediatek, target/realtek, target/octeontx

#14078 target: Make TARGET_SERIAL independent of GRUB configuration
  config/Config-images.in
  target/linux/armsr/base-files.mk
  target/linux/armsr/image/Makefile
  target/linux/x86/base-files.mk
  target/linux/x86/image/Makefile
Labels: target/x86, target/armsr

#13609 mediatek: add support for Confiabits MT7981
  target/linux/mediatek/dts/mt7981b-confiabits-mt7981.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek
