Repository openwrt/openwrt, pull requests merged in 2023-10, with the labels that each got.

#13581 uci: fix typos in Makefile
  package/system/uci/Makefile
Labels: core packages

#13583 [23.05] ramips: fix Mercusys MR70X LAN port assignments
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips, release/23.05

#13574 ipq40xx: use upstreamed SDI disable support
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-wifi.dts
  target/linux/ipq40xx/patches-6.1/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.1/100-ARM-dts-qcom-ipq4019-add-label-to-SCM.patch
  target/linux/ipq40xx/patches-6.1/420-firmware-qcom-scm-Add-SDI-disable-support.patch
  target/linux/ipq40xx/patches-6.1/421-firmware-qcom-scm-disable-SDI-on-Google-WiFi.patch
Labels: kernel, target/ipq40xx

#13324 fix hanging uqmi, see #17939
  package/network/utils/uqmi/files/lib/netifd/proto/qmi.sh
Labels: core packages

#13532 rtl93xx: fix condition intended to only select internal serdes ports
  target/linux/realtek/files-5.15/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

#13519 realtek: 5.15: rtl93xx: support 2500baseT and 5000baseT on USXGMII links
  target/linux/realtek/files-5.15/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

#13588 rtl83xx: fix STP by trapping BPDUs
  target/linux/realtek/files-5.15/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

#13517 kernel: bump 5.15 to 5.15.133
  include/kernel-5.15
  target/linux/bcm47xx/patches-5.15/100-v5.18-mtd-rawnand-brcmnand-Assign-soc-as-early-as-possible.patch
  target/linux/bcm47xx/patches-5.15/101-v5.18-mtd-rawnand-brcmnand-Allow-SoC-to-provide-I-O-operations.patch
  target/linux/bcm47xx/patches-5.15/102-v5.18-mtd-rawnand-brcmnand-Avoid-pdev-in-brcmnand_init_cs.patch
  target/linux/bcm47xx/patches-5.15/103-v5.18-mtd-rawnand-brcmnand-Move-OF-operations-out-of-brcmnand_init_cs.patch
  target/linux/bcm47xx/patches-5.15/104-v5.18-mtd-rawnand-brcmnand-Allow-working-without-interrupts.patch
  target/linux/bcm47xx/patches-5.15/106-v5.18-mtd-rawnand-brcmnand-Allow-platform-data-instantation.patch
  target/linux/bcm47xx/patches-5.15/107-v5.18-mtd-rawnand-brcmnand-BCMA-controller-uses-command-shift-of-0.patch
  target/linux/bcm47xx/patches-5.15/108-v5.18-mtd-rawnand-brcmnand-Add-BCMA-shim.patch
  target/linux/bcm4908/patches-5.15/400-mtd-rawnand-brcmnand-disable-WP-on-BCM4908.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/894-Fix-up-backport-for-13619703038.patch
  target/linux/generic/pending-5.15/834-ledtrig-libata.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/oxnas/patches-5.15/999-libata-hacks.patch
Labels: target/bcm47xx, build/scripts/tools, kernel, target/mediatek, target/oxnas, target/bcm4908

#13030 ipq806x: Add support for Extreme Networks AP3935
  package/boot/uboot-envtools/files/ipq806x
  target/linux/ipq806x/base-files/etc/board.d/01_leds
  target/linux/ipq806x/base-files/etc/board.d/02_network
  target/linux/ipq806x/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ipq806x/base-files/etc/init.d/bootcount
  target/linux/ipq806x/base-files/lib/upgrade/platform.sh
  target/linux/ipq806x/config-6.1
  target/linux/ipq806x/files/arch/arm/boot/dts/qcom-ipq8068-ap3935.dts
  target/linux/ipq806x/image/generic.mk
Labels: target/ipq806x, kernel, core packages

#13196 linux-atm: use target specific kernel headers
  package/network/utils/linux-atm/Makefile
Labels: core packages

#13512 armsr: armv8: Enable KASLR in kernel 6.1
  target/linux/armsr/armv8/config-6.1
Labels: kernel, target/armsr

#13607 [23.05] generic: add patch for GPON-ONU-34-20BI quirk
  target/linux/generic/backport-5.15/798-net-next-net-sfp-add-quirk-for-Fiberstone-GPON-ONU-34-20BI.patch
  target/linux/generic/hack-5.15/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/realtek/patches-5.15/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
  target/linux/realtek/patches-5.15/712-net-phy-sfp-add-support-for-SMBus.patch
Labels: kernel, target/realtek, release/23.05

#13605 generic: rtl8366_smi: rename and drop conflicting vlan GPL symbols
  target/linux/generic/files/drivers/net/phy/rtl8366_smi.c
  target/linux/generic/files/drivers/net/phy/rtl8366_smi.h
Labels: kernel, ci:kernel:all:all, ci:kernel:all:all:testing

#13616 generic: 6.1: add patch enabling assisted learning for qca8k
  target/linux/generic/pending-6.1/712-net-dsa-qca8k-enable-assisted-learning-on-CPU-port.patch
Labels: kernel

#13617 generic: 6.1: backport qca8k fixes for big endian and MDIO
  target/linux/generic/backport-6.1/781-v6.6-01-net-dsa-qca8k-fix-regmap-bulk-read-write-methods-on-.patch
  target/linux/generic/backport-6.1/781-v6.6-02-net-dsa-qca8k-fix-potential-MDIO-bus-conflict-when-a.patch
  target/linux/generic/backport-6.1/801-v6.4-01-net-dsa-qca8k-move-qca8k_port_to_phy-to-header.patch
  target/linux/generic/backport-6.1/801-v6.4-02-net-dsa-qca8k-add-LEDs-basic-support.patch
  target/linux/generic/pending-6.1/711-01-net-dsa-qca8k-implement-lag_fdb_add-del-ops.patch
  target/linux/generic/pending-6.1/711-02-net-dsa-qca8k-enable-flooding-to-both-CPU-port.patch
  target/linux/generic/pending-6.1/711-03-net-dsa-qca8k-add-support-for-port_change_master.patch
  target/linux/generic/pending-6.1/712-net-dsa-qca8k-enable-assisted-learning-on-CPU-port.patch
Labels: kernel

#13534 quilt.mk: don't error on refresh/update if patches doesn't exist
  include/quilt.mk
Labels: build/scripts/tools

#13628 kernel: bump 5.15 to 5.15.134
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.1-10-mm-multi-gen-LRU-kill-switch.patch
  target/linux/generic/backport-5.15/894-Fix-up-backport-for-13619703038.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-5.15/780-ARM-kirkwood-add-missing-linux-if_ether.h-for-ETH_AL.patch
  target/linux/mediatek/patches-5.15/410-bt-mtk-serial-fix.patch
Labels: build/scripts/tools, kernel, target/mediatek

#13618 kernel: bump 6.1 to 6.1.56
  include/kernel-6.1
  target/linux/bcm53xx/patches-6.1/032-v6.6-0008-ARM-dts-BCM5301X-Extend-RAM-to-full-256MB-for-Linksy.patch
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/mediatek/patches-6.1/410-bt-mtk-serial-fix.patch
Labels: target/bcm53xx, build/scripts/tools, kernel, target/mediatek

#13623 toolchain: glibc: Update glibc 2.37 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain

#13624 [22.03]: toolchain: Update glibc 2.34 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain, release/22.03

#13633 ipq806x: fix broken onhub dtsi
  target/linux/ipq806x/files/arch/arm/boot/dts/qcom-ipq8064-onhub.dtsi
Labels: target/ipq806x, kernel

#13630 bsdiff: Add patches for CVEs
  package/utils/bsdiff/Makefile
  package/utils/bsdiff/patches/001-musl.patch
  package/utils/bsdiff/patches/020-CVE-2014-9862.patch
  package/utils/bsdiff/patches/033-CVE-2020-14315.patch
Labels: core packages

#13639 lantiq: Fix an sleeping function called from invalid context
  target/linux/lantiq/patches-5.15/0001-MIPS-lantiq-add-pcie-driver.patch
Labels: target/lantiq

#13682 mbedtls: Update to version 2.28.5
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/100-x509-crt-verify-SAN-iPAddress.patch
Labels: core packages

#13698 qualcommax: add pending GPLL parent fixes
  target/linux/qualcommax/patches-6.1/0131-clk-qcom-ipq8074-drop-the-CLK_SET_RATE_PARENT-flag-f.patch
  target/linux/qualcommax/patches-6.1/0132-clk-qcom-apss-ipq6018-add-the-GPLL0-clock-also-as-cl.patch
  target/linux/qualcommax/patches-6.1/0133-arm64-dts-qcom-ipq8074-include-the-GPLL0-as-clock-pr.patch
Labels: target/qualcommax

#13711 qualcommax: ipq8074: use upstreamed CPUFreq NVMEM support
  target/linux/qualcommax/patches-6.1/0024-v6.7-dt-bindings-arm-qcom-ids-Add-IDs-for-IPQ8174-family.patch
  target/linux/qualcommax/patches-6.1/0025-v6.7-cpufreq-qcom-nvmem-add-support-for-IPQ8074.patch
Labels: target/qualcommax

#13706 ramips: Revert "ramips: convert MT7915 EEPROM to NVMEM format"
  target/linux/ramips/dts/mt7621_asus_rt-ax53u.dts
  target/linux/ramips/dts/mt7621_asus_rt-ax54.dts
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/dts/mt7621_cudy_m1800.dts
  target/linux/ramips/dts/mt7621_cudy_x6.dtsi
  target/linux/ramips/dts/mt7621_dlink_dap-x1860-a1.dts
  target/linux/ramips/dts/mt7621_iptime_ax2004m.dts
  target/linux/ramips/dts/mt7621_mercusys_mr70x-v1.dts
  target/linux/ramips/dts/mt7621_netgear_eax12.dts
  target/linux/ramips/dts/mt7621_tplink_archer-ax23-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap613-v1.dts
  target/linux/ramips/dts/mt7621_tplink_eap615-wall-v1.dts
  target/linux/ramips/dts/mt7621_ubnt_unifi-6-lite.dts
  target/linux/ramips/dts/mt7621_wavlink_wl-wn573hx1.dts
  target/linux/ramips/dts/mt7621_yuncore_ax820.dts
  target/linux/ramips/dts/mt7621_yuncore_fap640.dts
  target/linux/ramips/dts/mt7621_yuncore_fap690.dts
  target/linux/ramips/dts/mt7621_zyxel_nwa-ax.dtsi
  target/linux/ramips/dts/mt7621_zyxel_wsm20.dts
Labels: target/ramips

#13719 armsr: preserve configuration during sysupgrade
  target/linux/armsr/base-files/lib/preinit/79_move_config
  target/linux/armsr/base-files/lib/upgrade/platform.sh
Labels: target/armsr

#13702 treewide: disable QUILT refresh for unsupported packages
  package/base-files/Makefile
  package/kernel/linux/Makefile
  package/libs/toolchain/Makefile
  package/system/urandom-seed/Makefile
Labels: kernel, core packages

#13735 scripts/ext-toolchain: implement external GCC version detection
  scripts/ext-toolchain.sh
  toolchain/Config.in
  toolchain/gcc/Config.version
Labels: build/scripts/tools, toolchain

#13678 toolchain: link ldd when using external toolchain
  package/libs/toolchain/Makefile
Labels: core packages

#13710 kernel: 6.1: Backport Turris Omnia LED patches
  target/linux/generic/backport-6.1/815-v6.6-1-leds-turris-omnia-Use-sysfs_emit-instead-of-sprintf.patch
  target/linux/generic/backport-6.1/815-v6.6-2-leds-turris-omnia-Drop-unnecessary-mutex-locking.patch
  target/linux/generic/backport-6.1/815-v6.7-1-leds-turris-omnia-Do-not-use-SMBUS-calls.patch
  target/linux/generic/backport-6.1/815-v6.7-2-leds-turris-omnia-Make-set_brightness-more-efficient.patch
  target/linux/generic/backport-6.1/815-v6.7-3-leds-turris-omnia-Support-HW-controlled-mode-via-pri.patch
  target/linux/generic/backport-6.1/815-v6.7-4-leds-turris-omnia-Add-support-for-enabling-disabling.patch
  target/linux/generic/backport-6.1/815-v6.7-5-leds-turris-omnia-Fix-brightness-setting-and-trigger.patch
  target/linux/mvebu/patches-6.1/102-leds-turris-omnia-support-HW-controlled-mode-via-pri.patch
  target/linux/mvebu/patches-6.1/103-leds-turris-omnia-initialize-multi-intensity-to-full.patch
  target/linux/mvebu/patches-6.1/104-leds-turris-omnia-change-max-brightness-from-255-to-.patch
Labels: kernel, target/mvebu

#13748 kernel: fix missing regmap-mmio dependency for rtc-r7301
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

#13599 uboot-mediatek: fix global pll clock override on mtk_spim
  package/boot/uboot-mediatek/patches/131-spi-mtk_spim-prevent-global-pll-clock-override.patch
Labels: core packages, target/mediatek, release/23.05

#13638 lantiq: Revert "lantiq: xrx200: mark subtarget as source-only"
  target/linux/lantiq/xrx200/target.mk
Labels: target/lantiq

#13782 openssl: update to 3.0.12
  package/libs/openssl/Makefile
  package/libs/openssl/patches/120-strip-cflags-from-binary.patch
Labels: core packages

#13751 kernel: bump 5.15 to 5.15.137
  include/kernel-5.15
  target/linux/bcm4908/patches-5.15/070-v5.17-net-dsa-bcm_sf2-refactor-LED-regs-access.patch
  target/linux/bcm4908/patches-5.15/700-net-dsa-bcm_sf2-enable-GPHY-for-switch-probing.patch
  target/linux/bcm4908/patches-5.15/701-net-dsa-bcm_sf2-keep-GPHY-enabled-on-the-BCM4908.patch
  target/linux/generic/backport-5.15/702-v5.19-03-net-ethernet-mtk_eth_soc-implement-flow-offloading-t.patch
  target/linux/generic/backport-5.15/703-00-v5.16-net-convert-users-of-bitmap_foo-to-linkmode_foo.patch
  target/linux/generic/backport-5.15/794-v6.2-net-core-Allow-live-renaming-when-an-interface-is-up.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.15/760-net-core-add-optional-threading-for-backlog-processi.patch
Labels: build/scripts/tools, kernel, target/bcm4908

#13809 uboot-mediatek: Sync phy-mode for Xiaomi Redmi Router AX6000
  package/boot/uboot-mediatek/patches/431-add-xiaomi_redmi-ax6000.patch
Labels: core packages, target/mediatek

#13601 mvebu: add support for Fortinet FortiGate 30E
  target/linux/mvebu/cortexa9/base-files/etc/board.d/02_network
  target/linux/mvebu/cortexa9/base-files/lib/upgrade/platform.sh
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-30e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-50e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/armada-385-fortinet-fg-x0e.dtsi
  target/linux/mvebu/image/cortexa9.mk
Labels: kernel, target/mvebu

#13818 kernel: fix jffs2 compilation with GCC_PLUGIN_RANDSTRUCT enabled
  target/linux/generic/pending-5.15/530-jffs2_make_lzma_available.patch
  target/linux/generic/pending-6.1/530-jffs2_make_lzma_available.patch
Labels: kernel

#13820 qualcommax: mark upstreamed patches as such
  target/linux/qualcommax/patches-6.1/026-v6.7-clk-qcom-ipq8074-drop-the-CLK_SET_RATE_PARENT-flag-f.patch
  target/linux/qualcommax/patches-6.1/027-v6.7-clk-qcom-apss-ipq6018-add-the-GPLL0-clock-also-as-cl.patch
  target/linux/qualcommax/patches-6.1/028-v6.7-arm64-dts-qcom-ipq8074-include-the-GPLL0-as-clock-pr.patch
Labels: target/qualcommax

#13794 qualcommax: only build wax218 initramfs if CONFIG_TARGET_ROOTFS_INITRAMFS is set
  target/linux/qualcommax/image/ipq807x.mk
Labels: target/qualcommax

#13637 kernel: other: hide kmod-zram config unless enabled
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

#13499 ath79: add support for GL.iNet GL-S200
  package/boot/uboot-envtools/files/ath79
  target/linux/ath79/dts/qca9531_glinet_gl-s200-nor-nand.dts
  target/linux/ath79/dts/qca9531_glinet_gl-s200-nor.dts
  target/linux/ath79/dts/qca9531_glinet_gl-s200.dtsi
  target/linux/ath79/image/nand.mk
  target/linux/ath79/nand/base-files/etc/board.d/02_network
  target/linux/ath79/nand/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ath79

#13827 ramips: enable wireless LEDs activity blinking for TP-Link EC330-G5u v1
  target/linux/ramips/dts/mt7621_tplink_ec330-g5u-v1.dts
Labels: target/ramips
