Repository openwrt/openwrt, pull requests merged in 2023-07, with the labels that each got.

#12998 kernel: bump 5.15 to 5.15.119
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm63xx/patches-5.15/143-gpio-fix-device-tree-gpio-hogs-on-dual-role-gpio-pin.patch
  target/linux/generic/backport-5.15/705-01-v5.17-net-dsa-mt7530-iterate-using-dsa_switch_for_each_use.patch
  target/linux/generic/backport-5.15/705-02-v5.19-net-dsa-mt7530-populate-supported_interfaces-and-mac.patch
  target/linux/generic/backport-5.15/705-03-v5.19-net-dsa-mt7530-remove-interface-checks.patch
  target/linux/generic/backport-5.15/705-04-v5.19-net-dsa-mt7530-drop-use-of-phylink_helper_basex_spee.patch
  target/linux/generic/backport-5.15/705-05-v5.19-net-dsa-mt7530-only-indicate-linkmodes-that-can-be-s.patch
  target/linux/generic/backport-5.15/705-06-v5.19-net-dsa-mt7530-switch-to-use-phylink_get_linkmodes.patch
  target/linux/generic/backport-5.15/705-07-v5.19-net-dsa-mt7530-partially-convert-to-phylink_pcs.patch
  target/linux/generic/backport-5.15/705-08-v5.19-net-dsa-mt7530-move-autoneg-handling-to-PCS-validati.patch
  target/linux/generic/backport-5.15/705-09-v5.19-net-dsa-mt7530-mark-as-non-legacy.patch
  target/linux/generic/backport-5.15/705-10-v5.19-net-dsa-mt753x-fix-pcs-conversion-regression.patch
  target/linux/generic/backport-5.15/705-11-v6.0-net-dsa-mt7530-rework-mt7530_hw_vlan_-add-del.patch
  target/linux/generic/backport-5.15/705-13-v6.0-net-dsa-mt7530-get-cpu-port-via-dp-cpu_dp-instead-of.patch
  target/linux/generic/backport-5.15/782-v6.1-net-dsa-mt7530-add-support-for-in-band-link-status.patch
  target/linux/generic/backport-5.15/788-v6.3-net-dsa-mt7530-use-external-PCS-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0002-net-dsa-mt7530-refactor-SGMII-PCS-creation.patch
  target/linux/generic/backport-5.15/790-v6.4-0003-net-dsa-mt7530-use-unlocked-regmap-accessors.patch
  target/linux/generic/backport-5.15/790-v6.4-0004-net-dsa-mt7530-use-regmap-to-access-switch-register-.patch
  target/linux/generic/backport-5.15/790-v6.4-0005-net-dsa-mt7530-move-SGMII-PCS-creation-to-mt7530_pro.patch
  target/linux/generic/backport-5.15/790-v6.4-0006-net-dsa-mt7530-introduce-mutex-helpers.patch
  target/linux/generic/backport-5.15/790-v6.4-0008-net-dsa-mt7530-introduce-mt7530_probe_common-helper-.patch
  target/linux/generic/backport-5.15/790-v6.4-0009-net-dsa-mt7530-introduce-mt7530_remove_common-helper.patch
  target/linux/generic/backport-5.15/790-v6.4-0011-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0013-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-5.15/790-v6.4-0014-net-dsa-mt7530-fix-support-for-MT7531BE.patch
  target/linux/generic/pending-5.15/723-net-mt7531-ensure-all-MACs-are-powered-down-before-r.patch
  target/linux/generic/pending-5.15/795-mt7530-register-OF-node-for-internal-MDIO-bus.patch
Labels: target/bcm63xx, build/scripts/tools, kernel, target/ath79

#13013 [23.05] uboot-envtools: Add u-boot env config for GL-MT3000
  package/boot/uboot-envtools/files/mediatek_filogic
Labels: core packages, release/23.05

#12984 linux-firmware: ibt-firmware: install sfi/ddc files for AX210 card
  package/firmware/linux-firmware/Makefile
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#13006 kernel: qca-nss-dp: port FDB roaming fix
  package/kernel/qca-nss-dp/Makefile
  package/kernel/qca-nss-dp/patches/0009-nss-dp-switchdev-fix-FDB-roaming.patch
Labels: core packages

#12990 ath79: add buzzer node to RB951G-2HnD DTS
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-951g-2hnd.dts
Labels: target/ath79

#12890 ramips: add support for Sercomm S1500 devices
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_beeline_smartbox-pro.dts
  target/linux/ramips/dts/mt7621_sercomm_s1500.dtsi
  target/linux/ramips/dts/mt7621_wifire_s1500-nbn.dts
  target/linux/ramips/image/common-sercomm.mk
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#12689 ath79: add suport for COMFAST CF-E380AC v2
  target/linux/ath79/dts/qca9558_comfast_cf-e380ac-v2.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#12660 ramips: Add support for ComFast CF-E390AX
  target/linux/ramips/dts/mt7621_comfast_cf-e390ax.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#12977 [23.05] mediatek: add support for Mercusys MR90X v1
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986b-mercusys-mr90x-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/preinit/81_fix_eeprom
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/23.05

#13023 [23.05]: kernel: bump 5.15 to 5.15.119
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0035-cgroup-Disable-cgroup-memory-by-default.patch
  target/linux/bcm27xx/patches-5.15/950-0238-gpiolib-Don-t-prevent-IRQ-usage-of-output-GPIOs.patch
  target/linux/bcm63xx/patches-5.15/143-gpio-fix-device-tree-gpio-hogs-on-dual-role-gpio-pin.patch
  target/linux/generic/backport-5.15/705-01-v5.17-net-dsa-mt7530-iterate-using-dsa_switch_for_each_use.patch
  target/linux/generic/backport-5.15/705-02-v5.19-net-dsa-mt7530-populate-supported_interfaces-and-mac.patch
  target/linux/generic/backport-5.15/705-03-v5.19-net-dsa-mt7530-remove-interface-checks.patch
  target/linux/generic/backport-5.15/705-04-v5.19-net-dsa-mt7530-drop-use-of-phylink_helper_basex_spee.patch
  target/linux/generic/backport-5.15/705-05-v5.19-net-dsa-mt7530-only-indicate-linkmodes-that-can-be-s.patch
  target/linux/generic/backport-5.15/705-06-v5.19-net-dsa-mt7530-switch-to-use-phylink_get_linkmodes.patch
  target/linux/generic/backport-5.15/705-07-v5.19-net-dsa-mt7530-partially-convert-to-phylink_pcs.patch
  target/linux/generic/backport-5.15/705-08-v5.19-net-dsa-mt7530-move-autoneg-handling-to-PCS-validati.patch
  target/linux/generic/backport-5.15/705-09-v5.19-net-dsa-mt7530-mark-as-non-legacy.patch
  target/linux/generic/backport-5.15/705-10-v5.19-net-dsa-mt753x-fix-pcs-conversion-regression.patch
  target/linux/generic/backport-5.15/705-11-v6.0-net-dsa-mt7530-rework-mt7530_hw_vlan_-add-del.patch
  target/linux/generic/backport-5.15/705-13-v6.0-net-dsa-mt7530-get-cpu-port-via-dp-cpu_dp-instead-of.patch
  target/linux/generic/backport-5.15/782-v6.1-net-dsa-mt7530-add-support-for-in-band-link-status.patch
  target/linux/generic/backport-5.15/788-v6.3-net-dsa-mt7530-use-external-PCS-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0002-net-dsa-mt7530-refactor-SGMII-PCS-creation.patch
  target/linux/generic/backport-5.15/790-v6.4-0003-net-dsa-mt7530-use-unlocked-regmap-accessors.patch
  target/linux/generic/backport-5.15/790-v6.4-0004-net-dsa-mt7530-use-regmap-to-access-switch-register-.patch
  target/linux/generic/backport-5.15/790-v6.4-0005-net-dsa-mt7530-move-SGMII-PCS-creation-to-mt7530_pro.patch
  target/linux/generic/backport-5.15/790-v6.4-0006-net-dsa-mt7530-introduce-mutex-helpers.patch
  target/linux/generic/backport-5.15/790-v6.4-0008-net-dsa-mt7530-introduce-mt7530_probe_common-helper-.patch
  target/linux/generic/backport-5.15/790-v6.4-0009-net-dsa-mt7530-introduce-mt7530_remove_common-helper.patch
  target/linux/generic/backport-5.15/790-v6.4-0011-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0013-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-5.15/790-v6.4-0014-net-dsa-mt7530-fix-support-for-MT7531BE.patch
  target/linux/generic/pending-5.15/723-net-mt7531-ensure-all-MACs-are-powered-down-before-r.patch
  target/linux/generic/pending-5.15/795-mt7530-register-OF-node-for-internal-MDIO-bus.patch
Labels: target/bcm63xx, target/bcm27xx, build/scripts/tools, kernel, target/ath79, release/23.05

#13026 [23.05] ramips: add support for Sercomm S1500 devices
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_beeline_smartbox-pro.dts
  target/linux/ramips/dts/mt7621_sercomm_s1500.dtsi
  target/linux/ramips/dts/mt7621_wifire_s1500-nbn.dts
  target/linux/ramips/image/common-sercomm.mk
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips, release/23.05

#13041 x86: enable CONFIG_X86_AMD_PLATFORM_DEVICE
  target/linux/x86/64/config-5.15
  target/linux/x86/generic/config-5.15
Labels: kernel, target/x86

#12713 kernel: introduce KERNEL_WERROR config option
  config/Config-kernel.in
  target/linux/generic/config-5.15
  target/linux/generic/config-6.1
Labels: kernel

#13021 kernel: fix KernelPackage when all KCONFIG are versioned
  include/kernel.mk
Labels: build/scripts/tools

#13042 x86/64: set CONFIG_NVME_HWMON=y
  target/linux/x86/64/config-5.15
Labels: kernel, target/x86

#12971 kernel: modules: add xdp-sockets-diag support
  config/Config-kernel.in
  package/kernel/linux/modules/netsupport.mk
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
  target/linux/generic/hack-6.1/901-debloat_sock_diag.patch
Labels: kernel, core packages

#13068 apm821xx: fix autoloading of kmod-hw-crypto4xx
  target/linux/apm821xx/modules.mk
Labels: target/apm821xx

#13071 kernel: remove CRYPTO_BLAKE2S from all >=5.15
  target/linux/armsr/armv8/config-6.1
  target/linux/ath79/config-5.15
  target/linux/bcm63xx/config-5.15
  target/linux/generic/config-5.15
  target/linux/generic/config-6.1
  target/linux/lantiq/config-5.15
  target/linux/malta/config-5.15
  target/linux/malta/config-6.1
  target/linux/mediatek/mt7622/config-5.15
  target/linux/octeon/config-5.15
  target/linux/sunxi/cortexa53/config-5.15
  target/linux/uml/config-5.15
  target/linux/x86/generic/config-5.15
  target/linux/x86/geode/config-5.15
  target/linux/x86/legacy/config-5.15
Labels: target/bcm63xx, kernel, target/lantiq, target/octeon, target/sunxi, target/x86, target/ath79, target/mediatek, target/malta, target/uml, target/armsr

#13048 lua: fix integer overflow in LNUM patch
  package/utils/lua/patches-host/010-lua-5.1.3-lnum-full-260308.patch
  package/utils/lua/patches/010-lua-5.1.3-lnum-full-260308.patch
Labels: core packages

#12985 layerscape: armv8_64b: remove (rare/not widely distributed) Traverse LS1043 boards
  target/linux/layerscape/base-files/lib/upgrade/platform.sh
Labels: target/layerscape

#13092 util-linux: enable colrm util as package
  package/utils/util-linux/Makefile
Labels: core packages

#13080 linux-firmware: update to 20230625
  package/firmware/linux-firmware/Makefile
Labels: core packages

#13089 fortify-headers: add __extension__ mark to strings.h
  toolchain/fortify-headers/patches/002-strings.h-add-__extension__-mark.patch
Labels: toolchain

#13078 grub2: opt-out of gc-sections usage
  package/boot/grub2/Makefile
Labels: core packages

#13079 perf: opt-out of lto usage
  package/devel/perf/Makefile
Labels: core packages

#13104 ath11k-firmware: update to stable WLAN.HK.2.9.0.1-01837-QCAHKSWPL_SILICONZ-1
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

#13115 openssl: opt-out of lto usage
  package/libs/openssl/Makefile
Labels: core packages

#13101 ipq4019: fix support for AVM FRITZ!Repeater 3000
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-fritzrepeater-3000.dts
Labels: kernel, target/ipq40xx

#13126 [23.05] ath11k-firmware: update to stable WLAN.HK.2.9.0.1-01837 backport
  package/firmware/ath11k-firmware/Makefile
Labels: core packages, release/23.05

#13083 dropbear: add ed25519 for failsafe key
  package/network/services/dropbear/files/dropbear.failsafe
Labels: core packages

#13054 ugps: update to latest HEAD, introduce baudrate
  package/utils/ugps/Makefile
  package/utils/ugps/files/ugps.init
Labels: core packages

#13155 kernel: bump 6.1 to 6.1.41
  include/kernel-6.1
Labels: build/scripts/tools

#13168 ipq4019: fix support for AVM FRITZ!Repeater 3000
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-fritzrepeater-3000.dts
Labels: kernel, target/ipq40xx, release/23.05

#13182 [23.05] uboot-mvebu: update to version 2023.07.02
  package/boot/uboot-mvebu/Makefile
Labels: target/mvebu, core packages, ci:target:mvebu:cortexa9, release/23.05, ci:kernel:mvebu:all:testing

#13178 kernel: netsupport: Add kmod-sched-skbprio
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages

#13171 kernel: bump 6.1 to 6.1.42
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0188-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.1/950-0699-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/generic/backport-6.1/729-07-v6.1-net-ethernet-mtk_eth_soc-remove-cpu_relax-in-mtk_pen.patch
  target/linux/generic/backport-6.1/729-19-v6.3-net-ethernet-mtk_eth_soc-introduce-mtk_hw_warm_reset.patch
  target/linux/generic/backport-6.1/729-20-v6.3-net-ethernet-mtk_eth_soc-align-reset-procedure-to-ve.patch
  target/linux/generic/backport-6.1/729-21-v6.3-net-ethernet-mtk_eth_soc-add-dma-checks-to-mtk_hw_re.patch
  target/linux/generic/backport-6.1/729-22-v6.3-net-ethernet-mtk_wed-add-reset-reset_complete-callba.patch
  target/linux/generic/backport-6.1/730-03-v6.3-net-ethernet-mtk_eth_soc-avoid-port_mg-assignment-on.patch
  target/linux/generic/backport-6.1/730-04-v6.3-net-ethernet-mtk_eth_soc-implement-multi-queue-suppo.patch
  target/linux/generic/backport-6.1/730-09-v6.3-net-ethernet-mtk_eth_soc-fix-VLAN-rx-hardware-accele.patch
  target/linux/generic/backport-6.1/733-v6.3-18-net-ethernet-mtk_eth_soc-add-support-for-MT7981.patch
  target/linux/generic/backport-6.1/733-v6.3-20-net-ethernet-mtk_eth_soc-switch-to-external-PCS-driv.patch
  target/linux/generic/hack-6.1/259-regmap_dynamic.patch
  target/linux/generic/hack-6.1/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/pending-6.1/203-kallsyms_uncompressed.patch
  target/linux/generic/pending-6.1/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.1/731-net-ethernet-mediatek-ppe-add-support-for-flow-accou.patch
  target/linux/generic/pending-6.1/732-00-net-ethernet-mtk_eth_soc-drop-generic-vlan-rx-offloa.patch
  target/linux/generic/pending-6.1/737-02-net-ethernet-mtk_eth_soc-move-MAX_DEVS-in-mtk_soc_da.patch
  target/linux/generic/pending-6.1/737-03-net-ethernet-mtk_eth_soc-rely-on-num_devs-and-remove.patch
  target/linux/generic/pending-6.1/737-04-net-ethernet-mtk_eth_soc-add-MTK_NETSYS_V3-capabilit.patch
  target/linux/generic/pending-6.1/737-06-net-ethernet-mtk_eth_soc-add-support-for-MT7988-SoC.patch
  target/linux/generic/pending-6.1/737-07-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.1/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#13197 qualcommax: ipq807x: fix Gen2 PCIe port
  target/linux/qualcommax/patches-6.1/0134-PCI-qcom-Fixing-broken-pcie-enumeration-for-2_3_3-co.patch
Labels: target/qualcommax

#13176 ath11k-firmware: update to stable WLAN.HK.2.9.0.1-01862
  package/firmware/ath11k-firmware/Makefile
Labels: core packages
