Repository openwrt/openwrt, pull requests merged in 2023-12, with the labels that each got.

#14096 mwlwifi: update to version 10.4.10-20231129
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/001-Fix-compilation-warning-with-64-bit-system.patch
  package/kernel/mwlwifi/patches/006-remove-uaccess-and-get_fs-calls-from-PCIe-for-Kenel-.patch
  package/kernel/mwlwifi/patches/007-replace-usage-of-the-deprecated-pci-dma-compat.h-API.patch
Labels: core packages

#13745 tools: add linux thermal monitoring and testing tool tmon
  package/devel/tmon/Makefile
  target/linux/generic/pending-5.15/980-tools-thermal-tmon-Fix-compilation-warning-for-wrong.patch
  target/linux/generic/pending-6.1/980-tools-thermal-tmon-Fix-compilation-warning-for-wrong.patch
  target/sdk/Makefile
Labels: kernel, core packages

#14086 qca-nss-dp: fix typo in 0002-edma_tx_rx-support patch
  package/kernel/qca-nss-dp/patches/0002-edma_tx_rx-support-newer-kernels-time-stamping-API.patch
Labels: core packages

#14061 ramips: add support for Rostelecom RT-FE-1A
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_rostelecom_rt-fe-1a.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#13877 ramips: add TP-LINK TL-WR902AC v4
  target/linux/ramips/dts/mt7628an_tplink_tl-wr902ac-v4.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#14116 fix 814-v6.6-0012-nvmem-sec-qfprom-Add-Qualcomm-secure-QFPROM-support…
  target/linux/generic/backport-6.1/814-v6.6-0012-nvmem-sec-qfprom-Add-Qualcomm-secure-QFPROM-support.patch
Labels: kernel

#14202 ethtool: update to 6.6
  package/network/utils/ethtool/Makefile
Labels: core packages

#14112 ipq807x: fix edgecore EAP102 lan/wan
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-eap102.dts
Labels: kernel, target/qualcommax

#14020 ipq807x: add support for ZTE MF269
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8071-mf269.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#14247 mvebu: fix RTC of IEI-World Puzzle M90x devices
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/cn9131-puzzle-m901.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/cn9132-puzzle-m902.dts
  target/linux/mvebu/image/cortexa72.mk
Labels: kernel, target/mvebu

#14216 kernel: bump 6.1 to 6.1.68
  include/kernel-6.1
  target/linux/ath79/patches-6.1/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.1/950-0101-amba_pl011-Insert-mb-for-correct-FIFO-handling.patch
  target/linux/bcm27xx/patches-6.1/950-0102-amba_pl011-Add-cts-event-workaround-DT-property.patch
  target/linux/bcm27xx/patches-6.1/950-0103-tty-amba-pl011-Avoid-rare-write-when-full-error.patch
  target/linux/bcm27xx/patches-6.1/950-0146-sc16is7xx-Don-t-spin-if-no-data-received.patch
  target/linux/generic/backport-6.1/795-v6.3-01-r8152-add-USB-device-driver-for-config-selection.patch
  target/linux/generic/backport-6.1/795-v6.3-03-r8152-avoid-to-change-cfg-for-all-devices.patch
  target/linux/generic/backport-6.1/795-v6.3-04-r8152-remove-rtl_vendor_mode-function.patch
  target/linux/generic/backport-6.1/795-v6.3-05-r8152-reduce-the-control-transfer-of-rtl8152_get_ver.patch
  target/linux/generic/backport-6.1/795-v6.4-07-r8152-fix-the-autosuspend-doesn-t-work.patch
  target/linux/generic/backport-6.1/795-v6.6-09-r8152-set-bp-in-bulk.patch
  target/linux/generic/backport-6.1/795-v6.6-10-eth-r8152-try-to-use-a-normal-budget.patch
  target/linux/generic/backport-6.1/795-v6.6-11-r8152-add-vendor-device-ID-pair-for-D-Link-DUB-E250.patch
  target/linux/generic/backport-6.1/795-v6.6-12-r8152-Rename-RTL8152_UNPLUG-to-RTL8152_INACCESSIBLE.patch
  target/linux/generic/backport-6.1/795-v6.6-13-r8152-Block-future-register-access-if-register-acces.patch
  target/linux/generic/hack-6.1/760-net-usb-r8152-add-LED-configuration-from-OF.patch
  target/linux/generic/hack-6.1/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/pending-6.1/102-MIPS-only-process-negative-stack-offsets-on-stack-tr.patch
  target/linux/generic/pending-6.1/300-mips_expose_boot_raw.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq806x/patches-6.1/700-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/ipq806x/patches-6.1/700-03-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/mediatek/patches-6.1/100-dts-update-mt7622-rfb1.patch
  target/linux/octeon/patches-6.1/100-mips_image_cmdline_hack.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/octeon, target/ath79, target/mediatek

#14217 kernel: bump 5.15 to 5.15.143
  include/kernel-5.15
  target/linux/ath79/patches-5.15/900-unaligned_access_hacks.patch
  target/linux/generic/backport-5.15/703-00-v5.16-net-convert-users-of-bitmap_foo-to-linkmode_foo.patch
  target/linux/generic/backport-5.15/775-v6.0-01-net-ethernet-stmicro-stmmac-move-queue-reset-to-dedi.patch
  target/linux/generic/backport-5.15/775-v6.0-02-net-ethernet-stmicro-stmmac-first-disable-all-queues.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/775-v6.0-04-net-ethernet-stmicro-stmmac-generate-stmmac-dma-conf.patch
  target/linux/generic/backport-5.15/775-v6.0-05-net-ethernet-stmicro-stmmac-permit-MTU-change-with-i.patch
  target/linux/generic/backport-5.15/795-v6.3-01-r8152-add-USB-device-driver-for-config-selection.patch
  target/linux/generic/backport-5.15/795-v6.3-03-r8152-avoid-to-change-cfg-for-all-devices.patch
  target/linux/generic/backport-5.15/795-v6.3-04-r8152-remove-rtl_vendor_mode-function.patch
  target/linux/generic/backport-5.15/795-v6.3-05-r8152-reduce-the-control-transfer-of-rtl8152_get_ver.patch
  target/linux/generic/backport-5.15/795-v6.4-07-r8152-fix-the-autosuspend-doesn-t-work.patch
  target/linux/generic/backport-5.15/795-v6.6-09-r8152-set-bp-in-bulk.patch
  target/linux/generic/backport-5.15/795-v6.6-11-r8152-add-vendor-device-ID-pair-for-D-Link-DUB-E250.patch
  target/linux/generic/backport-5.15/795-v6.6-12-r8152-Rename-RTL8152_UNPLUG-to-RTL8152_INACCESSIBLE.patch
  target/linux/generic/backport-5.15/795-v6.6-13-r8152-Block-future-register-access-if-register-acces.patch
  target/linux/generic/hack-5.15/760-net-usb-r8152-add-LED-configuration-from-OF.patch
  target/linux/generic/hack-5.15/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/pending-5.15/300-mips_expose_boot_raw.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/lantiq/patches-5.15/0152-lantiq-VPE.patch
  target/linux/mediatek/patches-5.15/100-dts-update-mt7622-rfb1.patch
  target/linux/mediatek/patches-5.15/113-dts-fix-bpi64-leds-and-buttons.patch
  target/linux/realtek/patches-5.15/300-mips-add-rtl838x-platform.patch
Labels: build/scripts/tools, kernel, target/lantiq, target/ath79, target/mediatek, target/realtek

#14229 linux-firmware: update to 20231211
  package/firmware/linux-firmware/Makefile
Labels: core packages

#14242 arm-trusted-firmware-sunxi: Update to 2.10
  package/boot/arm-trusted-firmware-sunxi/Makefile
Labels: core packages, target/sunxi

#14256 kernel: bump 5.15 to 5.15.144
  include/kernel-5.15
  target/linux/ath79/patches-5.15/900-unaligned_access_hacks.patch
  target/linux/generic/backport-5.15/020-v6.1-01-mm-x86-arm64-add-arch_has_hw_pte_young.patch
  target/linux/generic/backport-5.15/775-v6.0-01-net-ethernet-stmicro-stmmac-move-queue-reset-to-dedi.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/775-v6.0-04-net-ethernet-stmicro-stmmac-generate-stmmac-dma-conf.patch
  target/linux/generic/backport-5.15/775-v6.0-05-net-ethernet-stmicro-stmmac-permit-MTU-change-with-i.patch
  target/linux/generic/backport-5.15/795-v6.3-01-r8152-add-USB-device-driver-for-config-selection.patch
  target/linux/generic/backport-5.15/795-v6.3-03-r8152-avoid-to-change-cfg-for-all-devices.patch
  target/linux/generic/backport-5.15/795-v6.3-04-r8152-remove-rtl_vendor_mode-function.patch
  target/linux/generic/backport-5.15/795-v6.4-07-r8152-fix-the-autosuspend-doesn-t-work.patch
  target/linux/generic/backport-5.15/795-v6.6-11-r8152-add-vendor-device-ID-pair-for-D-Link-DUB-E250.patch
  target/linux/generic/backport-5.15/810-v5.17-net-qmi_wwan-add-ZTE-MF286D-modem-19d2-1485.patch
Labels: build/scripts/tools, kernel, target/ath79

#14254 kernel: bump 6.1 to 6.1.69
  include/kernel-6.1
  target/linux/armsr/patches-6.1/701-v6.2-0011-net-dpaa2-switch-serialize-changes-to-priv-mac-with.patch
  target/linux/armsr/patches-6.1/701-v6.2-0012-net-dpaa2-mac-move-rtnl_lock-only-around-phylink.patch
  target/linux/ath79/patches-6.1/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.1/950-0188-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/backport-6.1/020-v6.3-10-UPSTREAM-mm-add-vma_has_recency.patch
  target/linux/generic/backport-6.1/020-v6.3-11-UPSTREAM-mm-support-POSIX_FADV_NOREUSE.patch
  target/linux/generic/backport-6.1/020-v6.3-15-UPSTREAM-mm-multi-gen-LRU-section-for-memcg-LRU.patch
  target/linux/generic/backport-6.1/795-v6.3-01-r8152-add-USB-device-driver-for-config-selection.patch
  target/linux/generic/backport-6.1/795-v6.3-03-r8152-avoid-to-change-cfg-for-all-devices.patch
  target/linux/generic/backport-6.1/795-v6.3-04-r8152-remove-rtl_vendor_mode-function.patch
  target/linux/generic/backport-6.1/795-v6.4-07-r8152-fix-the-autosuspend-doesn-t-work.patch
  target/linux/generic/backport-6.1/795-v6.6-11-r8152-add-vendor-device-ID-pair-for-D-Link-DUB-E250.patch
  target/linux/ipq806x/patches-6.1/700-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/ath79, target/armsr

#14266 kernel: bump 5.15 to 5.15.145
  include/kernel-5.15
Labels: build/scripts/tools

#14237 ath79: generic: disable SPI-NOR write protect unconditionally to fix UBNT XW and WA devices
  target/linux/ath79/generic/config-default
Labels: kernel, target/ath79

#14189 mediatek: enable mt7981-wo-firmware package by default
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#14272 ramips: correct the PCIe port number for Unielec u7621-01
  target/linux/ramips/dts/mt7621_unielec_u7621-01.dtsi
Labels: target/ramips

#14235 qualcommax: Fix Buffalo WXR-5950AX12 Ethernet DTS
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wxr-5950ax12.dts
Labels: kernel, target/qualcommax

#13933 mediatek: add support for Zbtlink ZBT-Z8103AX
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8103ax.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#14185 mediatek: add support for Routerich AX3000
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-routerich-ax3000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#13125 mediatek: filogic: add support for ASUS RT-AX59U
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-asus-rt-ax59u.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek
