Repository openwrt/openwrt, pull requests merged in 2023-06, with the labels that each got.

#12782 ipq807x: 6.1: fix I/O WRITE_ZEROES errors on some eMMC devices
  target/linux/ipq807x/patches-6.1/0132-mmc-core-disable-TRIM-on-Micron-MTFC4GACAJCN-1M.patch
  target/linux/ipq807x/patches-6.1/0133-mmc-core-disable-TRIM-on-Kingston-EMMC04G-M627.patch
Labels: target/ipq807x

#12781 CI: label-kernel: support compile testing kernel version and all target
  .github/workflows/label-kernel.yml
Labels: GitHub/CI, ci:kernel:all:first

#12776 ipq806x: use new package name for NEC WG2600HP3
  target/linux/ipq806x/image/generic.mk
Labels: target/ipq806x

#12794 generic: b53: rename exported symbols to avoid upstream conflict
  target/linux/generic/files/drivers/net/phy/b53/b53_common.c
  target/linux/generic/files/drivers/net/phy/b53/b53_mdio.c
  target/linux/generic/files/drivers/net/phy/b53/b53_mmap.c
  target/linux/generic/files/drivers/net/phy/b53/b53_priv.h
  target/linux/generic/files/drivers/net/phy/b53/b53_spi.c
  target/linux/generic/files/drivers/net/phy/b53/b53_srab.c
Labels: kernel, ci:kernel:bmips:all:testing

#12783 kernel: bump 6.1 to 6.1.31
  include/kernel-6.1
  target/linux/bmips/patches-6.1/100-irqchip-add-support-for-bcm6345-style-external-inter.patch
  target/linux/bmips/patches-6.1/202-mips-bmips-tweak-Kconfig-options.patch
  target/linux/generic/hack-6.1/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-6.1/630-packet_socket_type.patch
  target/linux/generic/pending-6.1/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-6.1/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/generic/pending-6.1/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
Labels: build/scripts/tools, kernel, target/bmips, ci:kernel:all:first:testing

#12784 valgrind: update to 3.21.0
  package/devel/valgrind/Makefile
  package/devel/valgrind/patches/010-mips-Fix-new-syscall-numbers.patch
  package/devel/valgrind/patches/100-fix_configure_check.patch
  package/devel/valgrind/patches/130-fix_arm_arch_detection.patch
Labels: core packages

#12338 [22.03] ramips: add support for Keenetic Lite III rev. A
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7620n_zyxel_keenetic-lite-iii-a.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: core packages, target/ramips, release/22.03

#12801 [23.05] kernel: bump 5.15 to 5.15.114
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0151-usb-add-plumbing-for-updating-interrupt-endpoint-int.patch
Labels: target/bcm27xx, build/scripts/tools, release/23.05

#12824 kernel: bump 6.1 to 6.1.32
  include/kernel-6.1
  target/linux/generic/backport-6.1/610-v6.3-net-page_pool-use-in_softirq-instead.patch
  target/linux/generic/hack-6.1/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-6.1/655-increase_skb_pad.patch
Labels: build/scripts/tools, kernel

#12811 kernel: ltq-ptm: do not write directly to dev->addr
  package/kernel/lantiq/ltq-ptm/src/ifxmips_ptm_vdsl.c
Labels: target/lantiq, core packages

#12833 generic: 5.15: backport PPC VDSO executable stack fix
  target/linux/generic/backport-5.15/360-v6.1-powerpc-vdso-link-with-z-noexecstack.patch
Labels: kernel

#12846 generic: 6.1: move Qualcomm SoC ID bindings to generic
  target/linux/generic/backport-6.1/830-00-v6.2-dt-bindings-arm-qcom-document-qcom-msm-id-and-qcom-b.patch
Labels: kernel, ci:kernel:all:first:testing

#12813 openssl: update to 3.0.9
  package/libs/openssl/Makefile
  package/libs/openssl/patches/120-strip-cflags-from-binary.patch
  package/libs/openssl/patches/200-x509-excessive-resource-use-verifying-policy-constra.patch
  package/libs/openssl/patches/210-Ensure-that-EXFLAG_INVALID_POLICY-is-checked-even-in.patch
  package/libs/openssl/patches/220-aesv8-armx.pl-Avoid-buffer-overrread-in-AES-XTS-decr.patch
Labels: core packages

#12842 [22.03] openssl: bump to 1.1.1u
  package/libs/openssl/Makefile
  package/libs/openssl/patches/200-x509-excessive-resource-use-verifying-policy-constra.patch
  package/libs/openssl/patches/210-Ensure-that-EXFLAG_INVALID_POLICY-is-checked-even-in.patch
Labels: core packages, release/22.03

#12870 lantiq: replace random_ether_addr with eth_random_addr
  target/linux/lantiq/patches-5.15/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
Labels: target/lantiq

#12869 bmips: add support for Netgear DGND3700 v1, DGND3800B
  target/linux/bmips/bcm6368/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm6368/base-files/etc/board.d/02_network
  target/linux/bmips/dts/bcm6368-netgear-dgnd3700-v1.dts
  target/linux/bmips/dts/bcm6368-netgear-dgnd3700.dtsi
  target/linux/bmips/dts/bcm6368-netgear-dgnd3800b.dts
  target/linux/bmips/image/Makefile
  target/linux/bmips/image/bcm6368.mk
Labels: target/bmips

#12752 [22.03] bpf-headers: fix compilation with LLVM_IAS=1
  package/kernel/bpf-headers/Makefile
Labels: core packages, release/22.03

#12875 bmips: add support for Netgear EVG2000
  target/linux/bmips/bcm6368/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm6368/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6368/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6369-netgear-evg2000.dts
  target/linux/bmips/image/bcm6368.mk
Labels: target/bmips

#12792 swconfig: fix memory leak when cli call swlib_get_attr()
  package/network/config/swconfig/src/cli.c
Labels: core packages

#12880 bmips: add support for Comtrend VR-3025un
  target/linux/bmips/bcm6368/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6368/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6368-comtrend-vr-3025un.dts
  target/linux/bmips/image/bcm6368.mk
Labels: target/bmips

#12871 toolchain: gcc: backport inline subword atomic support for riscv
  toolchain/gcc/patches-11.x/700-RISCV-Inline-subword-atomic-ops.patch
  toolchain/gcc/patches-11.x/701-riscv-linux-Don-t-add-latomic-with-pthread.patch
  toolchain/gcc/patches-11.x/910-mbsd_multi.patch
  toolchain/gcc/patches-12.x/700-RISCV-Inline-subword-atomic-ops.patch
  toolchain/gcc/patches-12.x/701-riscv-linux-Don-t-add-latomic-with-pthread.patch
  toolchain/gcc/patches-12.x/910-mbsd_multi.patch
  toolchain/gcc/patches-13.x/700-RISCV-Inline-subword-atomic-ops.patch
  toolchain/gcc/patches-13.x/701-riscv-linux-Don-t-add-latomic-with-pthread.patch
  toolchain/gcc/patches-13.x/910-mbsd_multi.patch
Labels: toolchain

#12872 ramips: mt7621-dts: move wan port to gmac1 YunCore FAP-640
  target/linux/ramips/dts/mt7621_yuncore_fap640.dts
Labels: target/ramips

#12873 ramips: mt7621-dts: move wan port to gmac1 YunCore FAP-640
  target/linux/ramips/dts/mt7621_yuncore_fap640.dts
Labels: target/ramips, release/23.05

#10913 uqmi: support split-APN dual-stack connection
  package/network/utils/uqmi/files/lib/netifd/proto/qmi.sh
Labels: core packages

#12881 bmips: add support for Comtrend WAP-5813n
  target/linux/bmips/bcm6368/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm6368/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6368/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6369-comtrend-wap-5813n.dts
  target/linux/bmips/image/bcm6368.mk
Labels: target/bmips

#12877 kernel: bump 6.1 to 6.1.33
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0120-Added-Device-IDs-for-August-DVB-T-205.patch
  target/linux/bcm27xx/patches-6.1/950-0188-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/generic/hack-6.1/259-regmap_dynamic.patch
  target/linux/generic/pending-6.1/630-packet_socket_type.patch
  target/linux/generic/pending-6.1/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, ci:kernel:all:first:testing

#12822 ath79: add support for TP-Link TL-WDR6500 v2
  target/linux/ath79/dts/qca9561_tplink_tl-wdr6500-v2.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic-tp-link.mk
Labels: target/ath79

#12883 kernel: add more disabled symbols for 6.1
  target/linux/generic/config-6.1
Labels: kernel

#12898 ppp: backport patches improving ppp interface creation
  package/network/services/ppp/Makefile
  package/network/services/ppp/patches/140-pppd-Fix-compilation-with-older-glibc-or-kernel-head.patch
  package/network/services/ppp/patches/141-Expand-byte-count-statistics-to-64-bits-298.patch
  package/network/services/ppp/patches/142-pppd-Add-support-for-registering-ppp-interface-via-L.patch
  package/network/services/ppp/patches/143-pppd-Workaround-for-generating-ppp-unit-id-on-Linux-.patch
  package/network/services/ppp/patches/144-pppd-Retry-registering-interface-when-on-rtnetlink-E.patch
  package/network/services/ppp/patches/208-fix_status_code.patch
  package/network/services/ppp/patches/321-multilink_support_custom_iface_names.patch
  package/network/services/ppp/patches/330-retain_foreign_default_routes.patch
  package/network/services/ppp/patches/340-populate_default_gateway.patch
  package/network/services/ppp/patches/400-simplify_kernel_checks.patch
  package/network/services/ppp/patches/401-no_record_file.patch
  package/network/services/ppp/patches/403-no_wtmp.patch
  package/network/services/ppp/patches/404-remove_obsolete_protocol_names.patch
Labels: core packages

#12899 openssl: passing cflags to configure
  package/libs/openssl/Makefile
Labels: core packages

#12862 bcm63xx: mark as source-only
  target/linux/bcm63xx/Makefile
Labels: target/bcm63xx

#12919 bmips: add support for Comtrend VG-8050
  target/linux/bmips/bcm63268/base-files/etc/board.d/02_network
  target/linux/bmips/bcm63268/base-files/lib/upgrade/platform.sh
  target/linux/bmips/dts/bcm63169-comtrend-vg-8050.dts
  target/linux/bmips/image/bcm63268.mk
Labels: target/bmips

#12908 kernel: bump 6.1 to 6.1.34
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0080-Revert-net-bcmgenet-Request-APD-DLL-disable-and-IDDQ.patch
  target/linux/bcm27xx/patches-6.1/950-0179-bcmgenet-Better-coalescing-parameter-defaults.patch
  target/linux/bcm27xx/patches-6.1/950-0180-net-genet-enable-link-energy-detect-powerdown-for-ex.patch
  target/linux/bcm27xx/patches-6.1/950-0189-net-bcmgenet-Workaround-2-for-Pi4-Ethernet-fail.patch
  target/linux/bcm27xx/patches-6.1/950-0270-net-bcmgenet-Reset-RBUF-on-first-open.patch
  target/linux/bcm27xx/patches-6.1/950-0513-net-bcmgenet-Add-eee-module-parameter.patch
  target/linux/bcm27xx/patches-6.1/950-0699-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/generic/hack-6.1/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/hack-6.1/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.1/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/generic/pending-6.1/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-6.1/731-net-permit-ieee80211_ptr-even-with-no-CFG82111-suppo.patch
  target/linux/generic/pending-6.1/760-net-core-add-optional-threading-for-backlog-processi.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#12911 kernel: bump 5.15 to 5.15.117
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/generic/backport-5.15/346-v5.18-01-Revert-ata-ahci-mvebu-Make-SATA-PHY-optional-for-Arm.patch
  target/linux/generic/backport-5.15/702-v5.19-03-net-ethernet-mtk_eth_soc-implement-flow-offloading-t.patch
  target/linux/generic/backport-5.15/830-v6.2-ata-ahci-fix-enum-constants-for-gcc-13.patch
  target/linux/generic/hack-5.15/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.15/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/sifiveu/patches-5.15/0005-riscv-sifive-unleashed-define-opp-table-cpufreq.patch
Labels: build/scripts/tools, kernel, target/ath79, target/mediatek, target/sifiveu

#11154 CI: build all host tools
  .github/workflows/build-tools.yml
Labels: GitHub/CI

#12900 rockchip: fix setup network config for nanopi r2c
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
Labels: target/rockchip

#12928 qualcommax: ipq807x: use upstreamed thermal trips patch
  target/linux/qualcommax/patches-6.1/0023-v6.5-arm64-dts-qcom-ipq8074-add-critical-thermal-trips.patch
Labels: target/qualcommax

#12903 [23.05] openssl: passing cflags to configure
  package/libs/openssl/Makefile
Labels: core packages, release/23.05

#12902 [22.03] openssl: passing cflags to configure
  package/libs/openssl/Makefile
Labels: core packages, release/22.03

#12936 ipq806x: 6.1: restore missing dts for Netgear XR450
  target/linux/ipq806x/files-6.1/arch/arm/boot/dts/qcom-ipq8065-xr450.dts
Labels: target/ipq806x

#12942 bmips: add support for NuCom R5010UNv2
  target/linux/bmips/bcm6328/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm6328/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6328/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6328-nucom-r5010unv2.dts
  target/linux/bmips/image/bcm6328.mk
Labels: target/bmips

#12947 generic: 6.1: re-add two Winbond nand fixes
  target/linux/generic/backport-6.1/890-v6.2-mtd-spinand-winbond-fix-flash-detection.patch
  target/linux/generic/backport-6.1/891-v6.2-mtd-spinand-winbond-add-W25N02KV.patch
Labels: kernel

#12958 bmips: add support for Arcadyan AR7516
  target/linux/bmips/bcm6328/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm6328/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6328/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6328-arcadyan-ar7516.dts
  target/linux/bmips/image/bcm6328.mk
Labels: target/bmips

#12967 generic: 6.1: backport qca8k patch enabling additional LED trigger modes
  target/linux/generic/backport-6.1/806-v6.5-net-dsa-qca8k-add-support-for-additional-modes-for-n.patch
Labels: kernel

#12957 kernel: bump 5.15 to 5.15.118
  include/kernel-5.15
  target/linux/ath25/patches-5.15/107-ar5312_gpio.patch
  target/linux/ath79/patches-5.15/0032-MIPS-ath79-sanitize-symbols.patch
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm63xx/patches-5.15/322-MIPS-BCM63XX-switch-to-IRQ_DOMAIN.patch
  target/linux/bmips/patches-5.15/202-mips-bmips-tweak-Kconfig-options.patch
  target/linux/bmips/patches-5.15/600-mips-bmips-add-pci-support.patch
  target/linux/generic/backport-5.15/600-v5.18-page_pool-Add-allocation-stats.patch
  target/linux/generic/backport-5.15/707-v6.3-net-pcs-add-driver-for-MediaTek-SGMII-PCS.patch
  target/linux/generic/backport-5.15/790-v6.4-0011-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0013-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-5.15/791-v6.2-01-net-phy-Add-driver-for-Motorcomm-yt8521-gigabit-ethernet.patch
  target/linux/generic/backport-5.15/804-v5.18-0009-nvmem-Add-driver-for-OCOTP-in-Sunplus-SP7021.patch
  target/linux/generic/backport-5.15/806-v6.0-0001-nvmem-microchip-otpc-add-support.patch
  target/linux/generic/backport-5.15/810-v5.17-net-qmi_wwan-add-ZTE-MF286D-modem-19d2-1485.patch
  target/linux/generic/hack-5.15/251-kconfig.patch
  target/linux/generic/hack-5.15/280-rfkill-stubs.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-5.15/300-mips_expose_boot_raw.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.15/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/lantiq/patches-5.15/0152-lantiq-VPE.patch
  target/linux/layerscape/patches-5.15/701-staging-add-fsl_ppfe-driver.patch
  target/linux/mediatek/patches-5.15/730-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mvebu/patches-5.15/907-MAINTAINERS-Add-an-entry-for-the-IEI-WT61P803-PUZZLE.patch
  target/linux/octeon/patches-5.15/100-mips_image_cmdline_hack.patch
  target/linux/ramips/patches-5.15/314-MIPS-add-bootargs-override-property.patch
  target/linux/ramips/patches-5.15/315-owrt-hack-fix-mt7688-cache-issue.patch
  target/linux/realtek/patches-5.15/008-5.17-watchdog-add-realtek-otto-watchdog-timer.patch
  target/linux/realtek/patches-5.15/300-mips-add-rtl838x-platform.patch
Labels: target/bcm63xx, build/scripts/tools, kernel, target/lantiq, target/layerscape, target/mvebu, target/octeon, target/ramips, target/ath79, target/mediatek, target/ath25, target/realtek, target/bmips

#12956 kernel: bump 6.1 to 6.1.35
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0084-cgroup-Disable-cgroup-memory-by-default.patch
  target/linux/bcm27xx/patches-6.1/950-0238-zswap-Defer-zswap-initialisation.patch
  target/linux/bmips/patches-6.1/202-mips-bmips-tweak-Kconfig-options.patch
  target/linux/bmips/patches-6.1/600-mips-bmips-add-pci-support.patch
  target/linux/generic/hack-6.1/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-6.1/300-mips_expose_boot_raw.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/bmips

#12968 ramips: fix lan leds for Wavlink WL-WN535K1
  target/linux/ramips/dts/mt7620a_wavlink_wl-wn535k1.dts
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

#12960 bcm53xx: add Wavlink Quantum DAX/WL-WN538A8 as alt name
  target/linux/bcm53xx/image/Makefile
Labels: target/bcm53xx

#12944 kernel: migrate FORCE_MAX_ZONEORDER to ARCH_FORCE_MAX_ORDER for 6.1
  target/linux/apm821xx/config-6.1
  target/linux/armsr/config-6.1
  target/linux/bcm27xx/bcm2708/config-6.1
  target/linux/bcm27xx/bcm2709/config-6.1
  target/linux/bcm27xx/bcm2710/config-6.1
  target/linux/bcm27xx/bcm2711/config-6.1
  target/linux/bmips/bcm6318/config-6.1
  target/linux/bmips/bcm63268/config-6.1
  target/linux/bmips/bcm6328/config-6.1
  target/linux/bmips/bcm6358/config-6.1
  target/linux/bmips/bcm6362/config-6.1
  target/linux/bmips/bcm6368/config-6.1
  target/linux/gemini/config-6.1
  target/linux/generic/config-6.1
  target/linux/ipq806x/config-6.1
  target/linux/malta/config-6.1
  target/linux/qualcommax/config-6.1
  target/linux/rockchip/armv8/config-6.1
Labels: target/apm821xx, target/bcm27xx, target/ipq806x, kernel, target/malta, target/gemini, target/rockchip, target/bmips, target/armsr, target/qualcommax

#12953 ipq40xx: meraki-mr33, meraki-mr74: disable image generation
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

#12604 mediatek: add support for Mercusys MR90X v1
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986b-mercusys-mr90x-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/preinit/81_fix_eeprom
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#12954 [23.05] ramips: mt7621: add support for Zbtlink ZBT-WG1608 (32M)
  target/linux/ramips/dts/mt7621_zbtlink_zbt-wg1608-32m.dts
  target/linux/ramips/dts/mt7621_zbtlink_zbt-wg1608.dtsi
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips, release/23.05

#12952 ath79: Add support for MOXA AWK-1137C
  include/image-commands.mk
  package/boot/uboot-envtools/files/ath79
  scripts/moxa-encode-fw.py
  target/linux/ath79/dts/ar9344_moxa_awk-1137c.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/init.d/bootcount
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/ath79/image/generic.mk
Labels: build/scripts/tools, core packages, target/ath79

#12950 arm-trusted-firmware-rockchip: Update to 2.9
  package/boot/arm-trusted-firmware-rockchip/Makefile
  package/boot/uboot-rockchip/Makefile
Labels: core packages, target/rockchip

#12860 ath79: 5.15: fix not exported sym ath79_pll_base
  target/linux/ath79/patches-5.15/0041-MIPS-ath79-common-exports.patch
Labels: target/ath79

#12779 ramips: add support for D-Link DIR-806A B1 router
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7620a_dlink_dir-806a-b1.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: core packages, target/ramips

#12973 [23.05]: kernel: bump 5.15 to 5.15.118
  include/kernel-5.15
  target/linux/ath25/patches-5.15/107-ar5312_gpio.patch
  target/linux/ath79/patches-5.15/0032-MIPS-ath79-sanitize-symbols.patch
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0035-cgroup-Disable-cgroup-memory-by-default.patch
  target/linux/bcm27xx/patches-5.15/950-0070-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0195-of-overlay-Correct-symbol-path-fixups.patch
  target/linux/bcm27xx/patches-5.15/950-0281-media-i2c-Add-driver-for-Sony-IMX477-sensor.patch
  target/linux/bcm27xx/patches-5.15/950-0413-Documentation-devicetree-Add-documentation-for-imx37.patch
  target/linux/bcm27xx/patches-5.15/950-0520-dt-bindings-media-i2c-Add-IMX519-CMOS-sensor-binding.patch
  target/linux/bcm27xx/patches-5.15/950-0795-drm-tiny-Add-MIPI-DBI-compatible-SPI-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0914-mmc-block-Don-t-do-single-sector-reads-during-recove.patch
  target/linux/bcm63xx/patches-5.15/322-MIPS-BCM63XX-switch-to-IRQ_DOMAIN.patch
  target/linux/bmips/patches-5.15/202-mips-bmips-tweak-Kconfig-options.patch
  target/linux/bmips/patches-5.15/600-mips-bmips-add-pci-support.patch
  target/linux/generic/backport-5.15/600-v5.18-page_pool-Add-allocation-stats.patch
  target/linux/generic/backport-5.15/707-v6.3-net-pcs-add-driver-for-MediaTek-SGMII-PCS.patch
  target/linux/generic/backport-5.15/790-v6.4-0011-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0013-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-5.15/791-v6.2-01-net-phy-Add-driver-for-Motorcomm-yt8521-gigabit-ethernet.patch
  target/linux/generic/backport-5.15/804-v5.18-0009-nvmem-Add-driver-for-OCOTP-in-Sunplus-SP7021.patch
  target/linux/generic/backport-5.15/806-v6.0-0001-nvmem-microchip-otpc-add-support.patch
  target/linux/generic/backport-5.15/810-v5.17-net-qmi_wwan-add-ZTE-MF286D-modem-19d2-1485.patch
  target/linux/generic/hack-5.15/251-kconfig.patch
  target/linux/generic/hack-5.15/280-rfkill-stubs.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-5.15/300-mips_expose_boot_raw.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.15/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/lantiq/patches-5.15/0152-lantiq-VPE.patch
  target/linux/layerscape/patches-5.15/701-staging-add-fsl_ppfe-driver.patch
  target/linux/mediatek/patches-5.15/730-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mvebu/patches-5.15/907-MAINTAINERS-Add-an-entry-for-the-IEI-WT61P803-PUZZLE.patch
  target/linux/octeon/patches-5.15/100-mips_image_cmdline_hack.patch
  target/linux/ramips/patches-5.15/314-MIPS-add-bootargs-override-property.patch
  target/linux/ramips/patches-5.15/315-owrt-hack-fix-mt7688-cache-issue.patch
  target/linux/realtek/patches-5.15/008-5.17-watchdog-add-realtek-otto-watchdog-timer.patch
  target/linux/realtek/patches-5.15/300-mips-add-rtl838x-platform.patch
Labels: target/bcm63xx, target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/layerscape, target/mvebu, target/octeon, target/ramips, target/ath79, target/mediatek, target/ath25, target/realtek, target/bmips, release/23.05

#12975 arm-trusted-firmware-rockchip: add m0 gcc toolchain
  package/boot/arm-trusted-firmware-rockchip/Makefile
Labels: core packages, target/rockchip

#12979 [23.05] filogic: add support for Netgear WAX220
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986b-netgear-wax220.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/23.05
