Repository openwrt/openwrt, pull requests merged in 2024-11, with the labels that each got.

#16834 openwrt-keyring: add OpenWrt 24.10 release build usign key
  package/system/openwrt-keyring/Makefile
Labels: core packages

#16755 ipq40xx: use devm for mutex_init
  target/linux/ipq40xx/patches-6.6/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
Labels: target/ipq40xx

#16833 uboot-mediatek: import patches improving menu navigation
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/010-menu-fix-the-logic-checking-whether-ESC-key-is-press.patch
  package/boot/uboot-mediatek/patches/011-menu-add-support-to-check-if-menu-needs-to-be-reprin.patch
  package/boot/uboot-mediatek/patches/012-bootmenu-add-reprint-check.patch
  package/boot/uboot-mediatek/patches/100-16-cmd-bootmenu-add-ability-to-select-item-by-shortkey.patch
  package/boot/uboot-mediatek/patches/211-cmd-bootmenu-custom-title.patch
Labels: core packages, target/mediatek

#16840 kernel: can: package driver for Geschwister Schneider interface
  package/kernel/linux/modules/can.mk
Labels: kernel, core packages, target/mediatek

#16804 ramips: convert usb power to regulators
  target/linux/ramips/dts/mt7621_d-team_newifi-d2.dts
  target/linux/ramips/dts/mt7621_humax_e10.dts
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-7xx.dtsi
  target/linux/ramips/dts/mt7621_zbtlink_zbt-wg1602-v04.dtsi
  target/linux/ramips/dts/mt7621_zbtlink_zbt-wg1602.dtsi
  target/linux/ramips/dts/mt7621_zyxel_lte3301-plus.dts
  target/linux/ramips/dts/mt7621_zyxel_lte5398-m904.dts
Labels: target/ramips

#16747 ath79: gpio-latch-miktorik: use gpiochip_add_data
  target/linux/ath79/files/drivers/gpio/gpio-latch-mikrotik.c
Labels: kernel, target/ath79

#16748 ath79: gpio-rb91x-key: use gpiochip_get_data
  target/linux/ath79/files/drivers/gpio/gpio-rb91x-key.c
Labels: kernel, target/ath79

#16839 mediatek: YunCore AX835: fix voltage regulator
  target/linux/mediatek/dts/mt7981b-yuncore-ax835.dts
Labels: target/mediatek

#16848 gpio-button-hotplug: use flexible array member
  package/kernel/gpio-button-hotplug/src/gpio-button-hotplug.c
Labels: core packages

#16659 mt7621: Fix EX400 imagebuilder
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#16858 ipq806x: Fix default MAC addresses on MR42 by moving to nvmem-layout
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8068-mr42.dts
Labels: target/ipq806x, release/23.05

#16859 nu801: Mark as nonshared to build in step 1
  package/system/gpio-cdev/nu801/Makefile
Labels: core packages

#16864 kernel: r8126: update to v10.014.01
  package/kernel/r8126/Makefile
  package/kernel/r8126/patches/001-r8126.h-use-BIT_ULL.patch
  package/kernel/r8126/patches/100-r8126_rss-silence-rxnfc-log.patch
  package/kernel/r8126/patches/200-r8126-print-link-speed-and-duplex-mode.patch
Labels: core packages

#16870 kernel: r8125: update to v9.014.01
  package/kernel/r8125/Makefile
  package/kernel/r8125/patches/100-r8125_rss-silence-rxnfc-log.patch
  package/kernel/r8125/patches/200-r8125-print-link-speed-and-duplex-mode.patch
Labels: core packages

#14791 ath79: linksys_ea4500-v3: take over the space for user data
  target/linux/ath79/dts/qca9558_linksys_ea4500-v3.dts
  target/linux/ath79/image/nand.mk
  target/linux/ath79/nand/base-files/etc/board.d/05_compat-version
Labels: target/ath79

#16843 kernel: modules: package driver for generic MIPI DBI TFT panels
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

#16856 vrx518_tc: allow larger MTU to support RFC4638
  package/kernel/lantiq/vrx518_tc/patches/206-dcdp-ptm_tc-allow-larger-mtu-to-support-rfc4638.patch
Labels: target/lantiq, core packages

#16877 ramips: mt7621: add missing regulator-boot-on
  target/linux/ramips/dts/mt7621_d-team_newifi-d2.dts
  target/linux/ramips/dts/mt7621_humax_e10.dts
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-7xx.dtsi
  target/linux/ramips/dts/mt7621_zyxel_lte3301-plus.dts
  target/linux/ramips/dts/mt7621_zyxel_lte5398-m904.dts
Labels: target/ramips

#16849 hostapd: split long lines
  package/network/services/hostapd/Makefile
Labels: core packages

#16846 treewide: remove THIS_MODULE assignment
  package/kernel/gpio-button-hotplug/src/gpio-button-hotplug.c
  package/kernel/gpio-nct5104d/src/gpio-nct5104d.c
  package/kernel/lantiq/ltq-adsl-mei/src/drv_mei_cpe.c
  package/kernel/lantiq/ltq-adsl/patches/120-platform.patch
  package/kernel/lantiq/ltq-atm/src/ltq_atm.c
  package/kernel/lantiq/ltq-deu/src/ifxmips_deu.c
  package/kernel/lantiq/ltq-ptm/src/ifxmips_ptm_adsl.c
  package/kernel/lantiq/ltq-ptm/src/ifxmips_ptm_vdsl.c
  package/kernel/ubootenv-nvram/src/ubootenv-nvram.c
  target/linux/ath79/files/drivers/gpio/gpio-latch-mikrotik.c
  target/linux/ath79/files/drivers/gpio/gpio-rb91x-key.c
  target/linux/ath79/files/drivers/mtd/nand/raw/ar934x_nand.c
  target/linux/ath79/files/drivers/mtd/nand/raw/rb91x_nand.c
  target/linux/bcm47xx/patches-6.6/831-old_gpio_wdt.patch
  target/linux/generic/files/drivers/net/phy/rtl8366rb.c
  target/linux/generic/files/drivers/net/phy/rtl8366s.c
  target/linux/generic/files/drivers/net/phy/rtl8367.c
  target/linux/generic/files/drivers/net/phy/rtl8367b.c
  target/linux/generic/hack-6.6/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/pending-6.6/510-block-add-uImage.FIT-subimage-block-driver.patch
  target/linux/ipq40xx/patches-6.6/850-soc-add-qualcomm-syscon.patch
  target/linux/ipq806x/patches-6.6/850-soc-add-qualcomm-syscon.patch
  target/linux/lantiq/patches-6.6/0008-MIPS-lantiq-backport-old-timer-code.patch
  target/linux/lantiq/patches-6.6/0031-I2C-MIPS-lantiq-add-FALC-ON-i2c-bus-master.patch
  target/linux/lantiq/patches-6.6/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
  target/linux/lantiq/patches-6.6/0151-lantiq-ifxmips_pcie-use-of.patch
  target/linux/mediatek/files/drivers/net/phy/rtk/rtl8367s_mdio.c
  target/linux/qualcommax/patches-6.6/0900-power-Add-Qualcomm-APM.patch
  target/linux/qualcommax/patches-6.6/0901-regulator-add-Qualcomm-CPR-regulators.patch
  target/linux/ramips/files/drivers/net/ethernet/ralink/esw_rt3050.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
  target/linux/siflower/files-6.6/drivers/gpio/gpio-siflower.c
Labels: target/bcm47xx, target/ipq806x, kernel, target/lantiq, core packages, target/ramips, target/ipq40xx, target/ath79, target/mediatek, target/qualcommax, target/siflower

#16892 kernel: bump 6.6 to 6.6.60
  include/kernel-6.6
  target/linux/airoha/patches-6.6/101-01-thermal-of-Add-devm_thermal_of_zone_register_with_pa.patch
  target/linux/bcm27xx/patches-6.6/950-0262-Input-edt-ft5x06-Poll-the-device-if-no-interrupt-is-.patch
  target/linux/bcm27xx/patches-6.6/950-0302-Input-edt-ft54x6-Clean-up-timer-and-workqueue-on-rem.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-0669-input-touchscreen-edt-ft5x06-Suppress-bogus-data-on-.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/generic/backport-6.6/409-mtd-spi-nor-winbond-fix-w25q128-regression.patch
  target/linux/generic/backport-6.6/600-v6.10-net-Remove-conditional-threaded-NAPI-wakeup-based-on.patch
  target/linux/generic/backport-6.6/601-v6.10-net-Allow-to-use-SMP-threads-for-backlog-NAPI.patch
  target/linux/generic/backport-6.6/602-v6.10-net-Use-backlog-NAPI-to-clean-up-the-defer_list.patch
  target/linux/generic/backport-6.6/603-v6.10-net-Rename-rps_lock-to-backlog_lock.patch
  target/linux/generic/backport-6.6/611-02-v6.11-net-Make-USO-depend-on-CSUM-offload.patch
  target/linux/generic/backport-6.6/612-v6.9-net-get-stats64-if-device-if-driver-is-configured.patch
  target/linux/generic/backport-6.6/700-v6.10-net-create-a-dummy-net_device-allocator.patch
  target/linux/generic/backport-6.6/770-net-introduce-napi_is_scheduled-helper.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/backport-6.6/900-v6.11-net-free_netdev-exit-earlier-if-dummy.patch
  target/linux/generic/hack-6.6/930-Revert-Revert-Revert-driver-core-Set-fw_devlink-on-b.patch
  target/linux/qualcommax/patches-6.6/0061-v6.8-phy-qcom-qmp-usb-fix-serdes-init-sequence-for-IPQ6018.patch
  target/linux/starfive/patches-6.6/1009-net-stmmac-use-GFP_DMA32.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/airoha, target/qualcommax, target/starfive

#16894 [24.10] mac80211: compatibility with kernel 6.6.59
  package/kernel/mac80211/patches/build/236-fix-genlmsg_multicast_allns-build-error-on-kernel-6.6.59.patch
Labels: target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel, core packages, target/rockchip, target/starfive, release/24.10

#16825 lantiq: use more devm for i2c
  target/linux/lantiq/patches-6.6/0031-I2C-MIPS-lantiq-add-FALC-ON-i2c-bus-master.patch
Labels: target/lantiq

#16832 lantiq: use devm for mutex_init
  target/linux/lantiq/patches-6.6/0008-MIPS-lantiq-backport-old-timer-code.patch
Labels: target/lantiq

#16917 spidev_test: fix version for APK
  package/utils/spidev_test/Makefile
Labels: core packages

#16912 mdadm: backport musl patch
  package/utils/mdadm/Makefile
  package/utils/mdadm/patches/060-gcc14.patch
Labels: core packages

#16925 ramips: mt7621: fix typo
  target/linux/ramips/dts/mt7621_zyxel_lte5398-m904.dts
Labels: target/ramips

#16926 realtek: rtl83xx: use devm for mutex_init
  target/linux/realtek/files-6.6/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

#16910 Cryptodev-linux: makefile fixes
  package/kernel/cryptodev-linux/Makefile
Labels: core packages

#16930 perf: fix version for APK
  package/devel/perf/Makefile
Labels: core packages

#16888 build: add comments to makefiles
  include/image.mk
  include/target.mk
  rules.mk
Labels: build/scripts/tools

#16937 apk: update to Git 417a93ceae540444fdbd3f76d1dadf0e15621fdc (2024-11-13)
  package/system/apk/Makefile
Labels: core packages

#16871 scripts: add download-check-artifact.sh script
  scripts/download-check-artifact.sh
Labels: build/scripts/tools

#16944 ipq806x: tr4400v2: revert nesting of MTD partitions that bricks device
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
Labels: target/ipq806x

#16949 procd: update to git HEAD
  package/system/procd/Makefile
Labels: core packages

#16951 apk: fix long package description handling
  package/system/apk/Makefile
  package/system/apk/patches/0020-pkg-truncate-apkv3-description-to-256-bytes.patch
Labels: core packages, GitHub/CI, ci:target:armsr:armv8

#16264 utils: Add the `omnia-eeprom` utility
  package/utils/omnia-eeprom/Makefile
  target/linux/mvebu/image/cortexa9.mk
Labels: target/mvebu, core packages

#16959 kernel: bump 6.6 to 6.6.61
  include/kernel-6.6
  target/linux/airoha/patches-6.6/101-01-thermal-of-Add-devm_thermal_of_zone_register_with_pa.patch
  target/linux/bcm27xx/patches-6.6/950-0106-Add-support-for-all-the-downstream-rpi-sound-card-dr.patch
  target/linux/bcm27xx/patches-6.6/950-0535-i2c-designware-Add-SMBUS-quick-command-support.patch
  target/linux/bcm27xx/patches-6.6/950-0864-i2c-designware-Support-non-standard-bus-speeds.patch
  target/linux/bcm27xx/patches-6.6/950-0998-i2c-designware-Add-support-for-bus-clear-feature.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/hack-6.6/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/mediatek/patches-6.6/901-arm-add-cmdline-override.patch
  target/linux/rockchip/patches-6.6/009-v6.10-arm64-dts-rockchip-Add-Radxa-ROCK-3C.patch
  target/linux/rockchip/patches-6.6/011-v6.11-arm64-dts-rockchip-Add-Radxa-ZERO-3W-3E.patch
  target/linux/rockchip/patches-6.6/014-v6.11-arm64-dts-rockchip-Add-Radxa-ROCK-3B.patch
  target/linux/rockchip/patches-6.6/053-v6.9-arm64-dts-rockchip-Add-support-for-NanoPi-R6S.patch
  target/linux/rockchip/patches-6.6/054-v6.9-arm64-dts-rockchip-Add-support-for-NanoPi-R6C.patch
  target/linux/rockchip/patches-6.6/056-01-v6.10-arm64-dts-rockchip-Add-ArmSom-Sige7-board.patch
  target/linux/rockchip/patches-6.6/127-arm64-dts-rockchip-rk3566-Add-Nanopi-R3S.patch
  target/linux/starfive/patches-6.6/1009-net-stmmac-use-GFP_DMA32.patch
  target/linux/sunxi/patches-6.6/017-v6.10-firmware-smccc-Export-revision-soc_id-function.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/sunxi, target/mediatek, target/rockchip, target/airoha, target/starfive

#16960 base-files: Mount debugfs and pstore with nosuid,nodev,noexec
  package/base-files/files/etc/init.d/boot
Labels: core packages

#16695 ppp: remove more unnecessary kernel checks
  package/network/services/ppp/patches/400-simplify_kernel_checks.patch
Labels: core packages

#16317 x86: Tickless kernel and add missing CPU idle govs
  target/linux/x86/config-6.6
Labels: kernel, target/x86

#16445 libreadlne: add .so symlinks so -lreadline works
  package/libs/readline/Makefile
Labels: core packages

#16945 apk: remove HOST_LDFLAGS hack
  package/system/apk/Makefile
  package/system/apk/patches/0001-openwrt-move-layer-db-to-temp-folder.patch
Labels: core packages

#16963 realtek: align kernel config with upstream
  target/linux/realtek/files-6.6/arch/mips/rtl838x/Platform
  target/linux/realtek/files-6.6/drivers/clk/realtek/Kconfig
  target/linux/realtek/files-6.6/drivers/net/dsa/rtl83xx/Kconfig
  target/linux/realtek/patches-6.6/300-mips-add-rtl838x-platform.patch
  target/linux/realtek/patches-6.6/301-gpio-add-rtl8231-driver.patch
  target/linux/realtek/patches-6.6/303-gpio-update-dependencies-for-gpio-realtek-otto.patch
  target/linux/realtek/patches-6.6/304-spi-update-dependency-for-spi-realtek-rtl.patch
  target/linux/realtek/patches-6.6/305-irqchip-update-dependency-for-irq-realtek-rtl.patch
  target/linux/realtek/patches-6.6/307-wdt-update-dependency-for-realtek-otto-wdt.patch
  target/linux/realtek/patches-6.6/716-net-ethernet-add-support-for-rtl838x-ethernet.patch
  target/linux/realtek/patches-6.6/720-add-rtl-phy.patch
  target/linux/realtek/rtl838x/config-6.6
  target/linux/realtek/rtl839x/config-6.6
  target/linux/realtek/rtl930x/config-6.6
  target/linux/realtek/rtl931x/config-6.6
Labels: kernel, target/realtek

#16977 kernel: disable drm-i915 module for x86/geode
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

#16971 kernel: move CONFIG_INTEL_MEI settings to target generic
  target/linux/generic/config-6.6
  target/linux/x86/64/config-6.6
  target/linux/x86/generic/config-6.6
  target/linux/x86/legacy/config-6.6
Labels: kernel, target/x86

#16770 kernel: remove symbols found in generic
  target/linux/airoha/an7581/config-6.6
  target/linux/airoha/en7523/config-6.6
  target/linux/apm821xx/config-6.6
  target/linux/archs38/config-6.6
  target/linux/at91/sam9x/config-6.6
  target/linux/at91/sama5/config-6.6
  target/linux/at91/sama7/config-6.6
  target/linux/ath79/config-6.6
  target/linux/bcm27xx/bcm2708/config-6.6
  target/linux/bcm27xx/bcm2709/config-6.6
  target/linux/bcm27xx/bcm2710/config-6.6
  target/linux/bcm27xx/bcm2711/config-6.6
  target/linux/bcm27xx/bcm2712/config-6.6
  target/linux/bcm47xx/config-6.6
  target/linux/bcm4908/config-6.6
  target/linux/bcm53xx/config-6.6
  target/linux/bmips/bcm6318/config-6.6
  target/linux/bmips/bcm63268/config-6.6
  target/linux/bmips/bcm6328/config-6.6
  target/linux/bmips/bcm6358/config-6.6
  target/linux/bmips/bcm6362/config-6.6
  target/linux/bmips/bcm6368/config-6.6
  target/linux/d1/config-6.6
  target/linux/gemini/config-6.6
  target/linux/generic/config-filter
  target/linux/imx/config-6.6
  target/linux/ipq40xx/config-6.6
  target/linux/ipq806x/config-6.6
  target/linux/ixp4xx/config-6.6
  target/linux/kirkwood/config-6.6
  target/linux/lantiq/config-6.6
  target/linux/layerscape/armv7/config-6.6
  target/linux/layerscape/armv8_64b/config-6.6
  target/linux/loongarch64/config-6.6
  target/linux/malta/config-6.6
  target/linux/mediatek/filogic/config-6.6
  target/linux/mediatek/mt7622/config-6.6
  target/linux/mediatek/mt7623/config-6.6
  target/linux/mediatek/mt7629/config-6.6
  target/linux/mpc85xx/config-6.6
  target/linux/mvebu/config-6.6
  target/linux/mxs/config-6.6
  target/linux/octeon/config-6.6
  target/linux/omap/config-6.6
  target/linux/pistachio/config-6.6
  target/linux/qoriq/config-6.6
  target/linux/qualcommax/config-6.6
  target/linux/ramips/mt7620/config-6.6
  target/linux/ramips/mt7621/config-6.6
  target/linux/ramips/mt76x8/config-6.6
  target/linux/ramips/rt288x/config-6.6
  target/linux/ramips/rt305x/config-6.6
  target/linux/ramips/rt3883/config-6.6
  target/linux/rockchip/armv8/config-6.6
  target/linux/sifiveu/config-6.6
  target/linux/siflower/sf19a2890/config-6.6
  target/linux/starfive/config-6.6
  target/linux/tegra/config-6.6
  target/linux/x86/config-6.6
  target/linux/zynq/config-6.6
Labels: target/apm821xx, target/at91, target/bcm53xx, target/bcm47xx, target/bcm27xx, target/ipq806x, kernel, target/kirkwood, target/lantiq, target/layerscape, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, target/ramips, target/sunxi, target/x86, target/archs38, target/imx, target/ipq40xx, target/pistachio, target/ath79, target/zynq, target/mediatek, target/malta, target/gemini, target/tegra, target/rockchip, target/realtek, target/bmips, target/bcm4908, target/qoriq, target/airoha, target/armsr, target/sifiveu, target/qualcommax, target/d1, target/starfive, target/loongarch64, target/siflower, target/ixp4xx

#16989 ath79: lzma-loader: fix syntax error
  target/linux/ath79/image/lzma-loader/src/board.c
Labels: target/ath79

#15579 Dropbear: refine /etc/config/dropbear
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/files/dropbear.config
  package/network/services/dropbear/files/dropbear.init
Labels: core packages

#16973 mtd-utils: add ubihealthd to nand-utils
  package/utils/mtd-utils/Makefile
  package/utils/mtd-utils/files/ubihealthd.defaults
  package/utils/mtd-utils/files/ubihealthd.init
Labels: core packages

#17007 omnia-eeprom: depend only on subtarget
  package/utils/omnia-eeprom/Makefile
Labels: core packages

#17013 odhcp6c: update to Git HEAD (2024-09-25)
  package/network/ipv6/odhcp6c/Makefile
Labels: core packages

#17008 include/package-pack: add default 'provider_priority' for APK packages
  include/package-pack.mk
Labels: build/scripts/tools

#16958 ipq806x: tr4400v2: fix dtc warnings by deleting stock partitions
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-tr4400-v2.dts
Labels: target/ipq806x

#17023 include/package-pack: actually call default_postinist/prerm with APK
  include/package-pack.mk
Labels: build/scripts/tools

#17032 build: fix filtering of non-upgradable packages
  package/Makefile
Labels: core packages

#16974 mediatek: fix pwn fan settings for sinovoip bpi-r3
  target/linux/mediatek/patches-5.15/196-dts-mt7986a-bpi-r3-pwm-fan-cooling-levels.patch
Labels: target/mediatek

#17037 ramips: sync upstream Ralink clock patches
  target/linux/ramips/dts/mt7620a.dtsi
  target/linux/ramips/dts/mt7620n.dtsi
  target/linux/ramips/dts/mt7628an.dtsi
  target/linux/ramips/dts/rt3883.dtsi
  target/linux/ramips/patches-6.6/002-01-v6.13-clk-ralink-mtmips-fix-clock-plan-for-Ralink-SoC-RT38.patch
  target/linux/ramips/patches-6.6/002-02-v6.13-clk-ralink-mtmips-fix-clocks-probe-order-in-oldest-r.patch
  target/linux/ramips/patches-6.6/002-03-v6.13-clk-ralink-mtmips-add-mmc-related-clocks-for-SoCs-MT.patch
Labels: target/ramips

#16965 x86: add all ports to the Gowin 1U default network config
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

#16686 mediatek: change Routerich AX3000 ubi size
  target/linux/mediatek/dts/mt7981b-routerich-ax3000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/05_compat-version
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#16979 kernel: modules: appletalk: add for Netatalk v4
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages

#16913 mxs: run kernel_oldconfig
  target/linux/mxs/config-6.6
Labels: kernel, target/mxs

#16753 mvebu: devm for mutex_init
  target/linux/mvebu/patches-6.6/902-drivers-mfd-Add-a-driver-for-IEI-WT61P803-PUZZLE-MCU.patch
  target/linux/mvebu/patches-6.6/903-drivers-hwmon-Add-the-IEI-WT61P803-PUZZLE-HWMON-driv.patch
  target/linux/mvebu/patches-6.6/910-drivers-leds-wt61p803-puzzle-improvements.patch
Labels: target/lantiq, target/mvebu

#15153 iwlwifi-firmware-ax411: Add support for Intel AX411
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#16939 mediatek: filogic: add support for Cudy WR3000S v1
  target/linux/mediatek/dts/mt7981b-cudy-wr3000s-v1.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17057 x86: Deactivate kernel options with extra overhead
  target/linux/x86/config-6.6
Labels: kernel, target/x86

#17053 dropbear: bump to 2024.86
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/patches/110-change_user.patch
Labels: core packages

#16844 ramips: mt76x8: disable unused Ralink systick driver
  target/linux/ramips/mt7620/config-6.6
  target/linux/ramips/mt76x8/config-6.6
  target/linux/ramips/patches-6.6/001-v6.13-clocksource-drivers-ralink-Add-Ralink-System-Tick-Co.patch
  target/linux/ramips/patches-6.6/311-MIPS-use-set_mode-to-enable-disable-the-cevt-r4k-irq.patch
  target/linux/ramips/patches-6.6/312-MIPS-ralink-add-cpu-frequency-scaling.patch
  target/linux/ramips/patches-6.6/316-arch-mips-do-not-select-illegal-access-driver-by-def.patch
  target/linux/ramips/rt305x/config-6.6
Labels: kernel, target/ramips

#13819 kernel: enable pressure interface
  config/Config-kernel.in
  target/linux/generic/config-6.6
Labels: kernel

#17065 qualcommax: ipq60xx: remove source-only flag
  target/linux/qualcommax/ipq60xx/target.mk
Labels: target/qualcommax, ci:target:qualcommax:ipq60xx

#16852 openwrt-keyring: fixes for single release/branch key
  package/system/openwrt-keyring/Makefile
Labels: core packages

#17062 ramips: mt7621: support openwrt,netdev-name for renaming interfaces
  target/linux/ramips/dts/mt7621_ubnt_edgerouter-x-sfp.dts
  target/linux/ramips/dts/mt7621_ubnt_edgerouter-x.dts
  target/linux/ramips/dts/mt7621_ubnt_edgerouter-x.dtsi
  target/linux/ramips/mt7621/base-files/lib/preinit/04_set_netdev_label
Labels: target/ramips

#17081 Revert "target,base-files: unify handling of procd-ujail"
  include/target.mk
  package/base-files/Makefile
Labels: build/scripts/tools, core packages, fix

#17087 mediatek: remove ktd-202x driver from filogic image (Acer Vero W6m)
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17042 build: add kernel version information to index.json
  scripts/json_overview_image_info.py
Labels: build/scripts/tools, core packages

#17098 base-files: add migration information for APK
  package/base-files/files/etc/profile
Labels: core packages

#17074 netifd: update to Git 768027c (2024-11-25)
  package/network/config/netifd/Makefile
Labels: core packages, work in progress

#17100 gmp: use same source tarball for tools/gmp and package/libs/gmp
  package/libs/gmp/Makefile
Labels: core packages

#17099 meson: honor MESON_ARGS and MESON_HOST_ARGS when calling ninja
  include/meson.mk
Labels: build/scripts/tools

#17105 tools: ccache update to 4.10.2
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#17096 mediatek: filogic: Cudy WR3000S v1: fix CRLF line endings
  target/linux/mediatek/dts/mt7981b-cudy-wr3000s-v1.dts
Labels: target/mediatek

#17106 image: apk: dont fail on removing a package that doesnt exist
  include/image.mk
Labels: build/scripts/tools

#17109 apk: build static
  package/system/apk/Makefile
Labels: core packages

#17116 Revert "ath79: elecom,wab: use nvmem"
  target/linux/ath79/dts/qca955x_elecom_wab.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#17117 [24.10] Revert "ath79: elecom,wab: use nvmem"
  target/linux/ath79/dts/qca955x_elecom_wab.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79, release/24.10

#16998 ath79: Unify Sophos AP15/AP15C dts files
  target/linux/ath79/dts/qca9557_sophos_ap15.dts
  target/linux/ath79/dts/qca9557_sophos_ap15.dtsi
  target/linux/ath79/dts/qca9557_sophos_ap15c.dts
Labels: target/ath79

#17089 ath79: add support for KuWFi N650 CPE
  target/linux/ath79/dts/qca9563_kuwfi_n650.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#17082 ath79: gl-x1200: don't override defaults
  target/linux/ath79/dts/ar9331_alfa-network_ap121f.dtsi
  target/linux/ath79/dts/ar9344_alfa-network_n5q.dts
  target/linux/ath79/dts/ar9344_embeddedwireless_balin.dts
  target/linux/ath79/dts/qca9531_alcatel_hh40v.dts
  target/linux/ath79/dts/qca9531_alfa-network_r36a.dtsi
  target/linux/ath79/dts/qca9563_glinet_gl-x1200.dtsi
Labels: target/ath79

#14986 netifd: check if /sbin/wifi exists before calling it
  package/network/config/netifd/Makefile
  package/network/config/netifd/files/etc/init.d/network
Labels: core packages
