Repository openwrt/openwrt, pull requests merged in 2024-04, with the labels that each got.

#14990 qca-ssdk: rework make to allow parallel building
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/200-allow-parallel-build.patch
Labels: core packages

#15037 generic: 6.1: refresh backport patches
  target/linux/generic/backport-6.1/734-v6.8-net-phy-bcm54612e-add-suspend-resume.patch
Labels: kernel

#15034 qca-nss-dp: cp instead of symlink for `nss_dp_arch.h`
  package/kernel/qca-nss-dp/Makefile
Labels: core packages

#15035 toolchain/gcc: fix build errors on macOS with Xcode 15.3
  toolchain/gcc/patches-11.x/020-Include-safe-ctype.h-after-C-standard-headers-to-avo.patch
  toolchain/gcc/patches-12.x/020-Include-safe-ctype.h-after-C-standard-headers-to-avo.patch
  toolchain/gcc/patches-12.x/021-libcc1-fix-vector-include.patch
  toolchain/gcc/patches-13.x/020-Include-safe-ctype.h-after-C-standard-headers-to-avo.patch
  toolchain/gcc/patches-13.x/021-libcc1-fix-vector-include.patch
Labels: toolchain

#15046 procd: update to Git HEAD (2024-03-30)
  package/system/procd/Makefile
Labels: core packages

#15017 [22.03]: kernel: bump 5.10 to 5.10.214
  include/kernel-5.10
  target/linux/at91/patches-5.10/247-clk-use-clk_core_get_rate_recalc-in-clk_rate_get.patch
  target/linux/bcm27xx/patches-5.10/950-0408-drm-atomic-Pass-the-full-state-to-CRTC-atomic-enable.patch
  target/linux/bcm27xx/patches-5.10/950-0410-drm-atomic-Pass-the-full-state-to-CRTC-atomic-begin-.patch
  target/linux/bcm27xx/patches-5.10/950-0537-clk-Introduce-a-clock-request-API.patch
  target/linux/bcm27xx/patches-5.10/950-0572-clk-requests-Ignore-if-the-pointer-is-null.patch
  target/linux/bcm27xx/patches-5.10/950-0581-clk-requests-Dereference-the-request-pointer-after-t.patch
  target/linux/bcm27xx/patches-5.10/950-0596-clk-Always-clamp-the-rounded-rate.patch
  target/linux/bcm27xx/patches-5.10/950-0689-drm-automatic-legacy-gamma-support.patch
  target/linux/generic/config-5.10
  target/linux/mediatek/patches-5.10/100-dts-update-mt7622-rfb1.patch
  target/linux/mediatek/patches-5.10/112-dts-fix-bpi64-lan-names.patch
  target/linux/mediatek/patches-5.10/114-dts-bpi64-disable-rtc.patch
  target/linux/mediatek/patches-5.10/115-dts-bpi64-add-snand-support.patch
  target/linux/mediatek/patches-5.10/131-dts-mt7622-add-snand-support.patch
  target/linux/mediatek/patches-5.10/140-dts-fix-wmac-support-for-mt7622-rfb1.patch
  target/linux/mediatek/patches-5.10/180-dts-mt7622-bpi-r64-add-mt7531-irq.patch
  target/linux/mediatek/patches-5.10/331-mt7622-rfb1-enable-bmt.patch
  target/linux/mediatek/patches-5.10/602-arm64-dts-mediatek-Split-PCIe-node-for-MT2712-MT7622.patch
  target/linux/mediatek/patches-5.10/900-dts-mt7622-bpi-r64-aliases-for-dtoverlay.patch
  target/linux/mediatek/patches-5.10/910-dts-mt7622-bpi-r64-wifi-eeprom.patch
  target/linux/octeontx/patches-5.10/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/x86/patches-5.10/020-x86-Fix-compile-problem.patch
Labels: target/at91, target/bcm27xx, build/scripts/tools, kernel, target/x86, target/mediatek, target/octeontx, release/22.03

#15060 mvebu: 6.6: refresh patches
  target/linux/mvebu/patches-6.6/300-mvebu-Mangle-bootloader-s-kernel-arguments.patch
Labels: target/mvebu

#14745 qualcommax: ipq60xx: add yuncore fap650 support
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-512m.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-fap650.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11-caldata
  target/linux/qualcommax/ipq60xx/base-files/etc/init.d/bootcount
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#15065 kernel: ltq-vmmc: fix compilation warning/error
  package/kernel/lantiq/ltq-vmmc/Makefile
  package/kernel/lantiq/ltq-vmmc/patches/600-fix-compilation-warning-fallthrough.patch
  package/kernel/lantiq/ltq-vmmc/patches/602-fix-compilation-warning-int-conversion.patch
Labels: target/lantiq, core packages

#15073 kirkwood: 6.6: refresh patches
  target/linux/kirkwood/patches-6.6/111-l-50.patch
Labels: target/kirkwood

#15074 ipq40xx: 6.6: remove redundant patch
  target/linux/ipq40xx/patches-6.6/110-mtd-limit-OTP-nvmem-to-non-nand-devices.patch
Labels: target/ipq40xx

#14819 [RFC] gettext-full/host: link libiconv when building host pkg to fix build error
  package/libs/gettext-full/Makefile
Labels: core packages

#15080 ipq806x: 6.6: refresh patches
  target/linux/ipq806x/patches-6.6/902-ARM-decompressor-support-for-ATAGs-rootblock-parsing.patch
Labels: target/ipq806x

#15078 tools/mkimage: update to v2024.04
  tools/mkimage/Makefile
  tools/mkimage/patches/030-allow-to-use-different-magic.patch
  tools/mkimage/patches/095-tools-disable-TOOLS_FIT_FULL_CHECK.patch
Labels: build/scripts/tools

#15083 x86: geode: 6.6: add missing kernel options
  target/linux/x86/geode/config-6.6
Labels: kernel, target/x86

#15094 nu801: update PKG_MIRROR_HASH to zst
  package/system/gpio-cdev/nu801/Makefile
Labels: core packages

#15091 generic: 6.6: backport arm64 swiotlb default size reduction
  target/linux/generic/backport-6.6/300-v6.7-arm64-swiotlb-Reduce-the-default-size-if-no-ZONE_DMA.patch
Labels: kernel

#15095 treewide: package: update missed hashes after switch to ZSTD
  package/boot/apex/Makefile
  package/boot/arm-trusted-firmware-bcm63xx/Makefile
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/at91bootstrap/Makefile
  package/boot/opensbi/Makefile
  package/boot/rkbin/Makefile
  package/boot/tfa-layerscape/Makefile
  package/boot/uboot-at91/Makefile
  package/boot/uboot-bcm4908/Makefile
  package/boot/uboot-fritz4040/Makefile
  package/boot/uboot-layerscape/Makefile
  package/firmware/layerscape/fman-ucode/Makefile
  package/firmware/layerscape/ls-ddr-phy/Makefile
  package/firmware/layerscape/ls-dpl/Makefile
  package/firmware/layerscape/ls-mc/Makefile
  package/firmware/layerscape/ls-rcw/Makefile
  package/firmware/layerscape/ppfe-firmware/Makefile
  package/kernel/bcm63xx-cfe/Makefile
  package/kernel/lantiq/ltq-vectoring/Makefile
  package/kernel/mwlwifi/Makefile
  package/network/utils/layerscape/restool/Makefile
  package/utils/bcm27xx-utils/Makefile
  package/utils/debugcc/Makefile
  package/utils/firmware-utils/Makefile
Labels: target/at91, target/bcm63xx, target/lantiq, target/layerscape, core packages, target/mediatek, target/bcm4908, target/sifiveu

#15098 config: select KERNEL_WERROR if building with default GCC version
  config/Config-kernel.in
  toolchain/gcc/Config.in
Labels: toolchain, ci:target:all

#15111 qualcommax: Skip compiling unnecessary dtbs
  target/linux/qualcommax/Makefile
Labels: target/qualcommax

#14709 mediatek: filogic: switch TP-LINK XDR series to fitblk
  target/linux/mediatek/dts/mt7986a-tplink-tl-xdr-common.dtsi
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#15110 config: fix CONFIG_GDB appearing in main menuconfig menu
  toolchain/gcc/Config.in
  toolchain/gcc/Config.version
Labels: toolchain

#15114 qualcommax: enhance smp_affinity (log, uci, syntax)
  target/linux/qualcommax/ipq807x/base-files/etc/init.d/smp_affinity
  target/linux/qualcommax/ipq807x/base-files/etc/uci-defaults/15_smp_affinity
Labels: target/qualcommax

#14913 Kernel Bump v2
  scripts/kernel_bump.sh
Labels: build/scripts/tools

#14619 ib, sdk: use zstd for compression
  target/imagebuilder/Makefile
  target/llvm-bpf/Makefile
  target/sdk/Makefile
  target/toolchain/Makefile
Labels: target/imagebuilder

#15150 CI: labeler: add d1 target
  .github/labeler.yml
Labels: GitHub/CI

#15149 uboot-d1: define default BUILD_SUBTARGET
  package/boot/uboot-d1/Makefile
Labels: core packages, target/d1

#15141 mediatek: fix DTS defining mt7530 switch phys but not referencing them
  target/linux/mediatek/dts/mt7986a-acer-predator-w6.dts
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax4200.dts
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
Labels: target/mediatek

#15151 mac80211: ath11k: support DT property to limit channels
  package/kernel/mac80211/patches/ath11k/101-wifi-ath11k-add-support-DT-ieee80211-freq-limit.patch
Labels: core packages

#15135 ipq40xx: whw03v2: fix handling of RGB LED
  target/linux/ipq40xx/files-6.1/arch/arm/boot/dts/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
Labels: target/ipq40xx

#15157 ipq40xx: whw03v2: change LED color for 'running' state to blue
  target/linux/ipq40xx/files-6.1/arch/arm/boot/dts/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
Labels: target/ipq40xx

#14459 ath79: add support for Comfast CF-EW71 v2
  target/linux/ath79/dts/qca9531_comfast_cf-ew71-v2.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#15156 tools: libdeflate: update to 1.20
  tools/libdeflate/Makefile
Labels: build/scripts/tools

#11737 ramips: add support for D-Link DIR-3040 A1
  target/linux/ramips/dts/mt7621_dlink_dir-3040-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-xx60-a1.dtsi
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#15167 tools: libdeflate: backport fix for AVX-VNNI
  tools/libdeflate/Makefile
  tools/libdeflate/patches/0001-lib-x86-increase-AVX-VNNI-gcc-prerequisite-to-12.1.patch
Labels: build/scripts/tools

#15056 ipq40xx: whw03v2: enable the platform's common 5 GHz channel ranges
  target/linux/ipq40xx/files-6.1/arch/arm/boot/dts/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
Labels: target/ipq40xx

#15173 tools: mold: update to 2.30.0
  tools/mold/Makefile
Labels: build/scripts/tools

#15163 kernel: bump 5.15 to 5.15.155
  include/kernel-5.15
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multi-gen-LRU-groundwork.patch
  target/linux/generic/backport-5.15/020-v6.1-06-mm-multi-gen-LRU-minimal-implementation.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/020-v6.1-15-mm-multi-gen-LRU-move-lru_gen_add_mm-out-of-IRQ-off-.patch
  target/linux/generic/backport-5.15/020-v6.3-26-mm-multi-gen-LRU-per-node-lru_gen_page-lists.patch
  target/linux/generic/backport-5.15/707-v6.3-net-pcs-add-driver-for-MediaTek-SGMII-PCS.patch
  target/linux/generic/backport-5.15/790-v6.4-0011-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0013-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-5.15/791-v6.2-01-net-phy-Add-driver-for-Motorcomm-yt8521-gigabit-ethernet.patch
  target/linux/generic/backport-5.15/804-v5.18-0009-nvmem-Add-driver-for-OCOTP-in-Sunplus-SP7021.patch
  target/linux/generic/backport-5.15/806-v6.0-0001-nvmem-microchip-otpc-add-support.patch
  target/linux/generic/backport-5.15/820-v6.7-0002-nvmem-add-explicit-config-option-to-read-old-syntax-.patch
  target/linux/generic/config-5.15
  target/linux/generic/hack-5.15/221-module_exports.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/hack-5.15/930-Revert-Revert-Revert-driver-core-Set-fw_devlink-on-b.patch
  target/linux/generic/pending-5.15/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
  target/linux/generic/pending-5.15/610-netfilter_match_bypass_default_checks.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-5.15/750-skb-Do-mix-page-pool-and-page-referenced-frags-in-GR.patch
  target/linux/generic/pending-5.15/810-pci_disable_common_quirks.patch
  target/linux/lantiq/patches-5.15/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/realtek/patches-5.15/008-5.17-watchdog-add-realtek-otto-watchdog-timer.patch
Labels: build/scripts/tools, kernel, target/lantiq, target/realtek, target/octeontx

#15130 ipq807x: add support for Zbtlink ZBT-Z800AX
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-zbt-z800ax.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#15175 qca-nss-dp: add patch fixing rmmod and insmod
  package/kernel/qca-nss-dp/Makefile
  package/kernel/qca-nss-dp/patches/0011-01-edma_v1-rework-hw_reset-logic-to-permit-rmmod-and-in.patch
  package/kernel/qca-nss-dp/patches/0011-02-nss_dp_switchdev-correctly-unregister-notifier-on-dp.patch
  package/kernel/qca-nss-dp/patches/0011-03-nss_dp_main-swap-dp_exit-function-call.patch
  package/kernel/qca-nss-dp/patches/0011-04-nss_dp_main-call-unregister_netdev-first-in-dp_remov.patch
  package/kernel/qca-nss-dp/patches/0011-05-nss_dp_main-use-phy_detach-instead-of-disconnect-in-.patch
  package/kernel/qca-nss-dp/patches/0011-06-edma_v1-skip-edma_disable_port-in-edma_cleanup-subse.patch
Labels: core packages

#15189 mac80211: ath11k: re-enable ipq807x coldboot calibration
  package/kernel/mac80211/patches/ath11k/902-ath11k-Disable-coldboot-calibration-for-IPQ8074.patch
Labels: core packages, target/ipq807x

#15011 base-files: reduce IPv6 ULA prefix generation to a single call
  package/base-files/files/etc/uci-defaults/12_network-generate-ula
Labels: core packages

#15102 uboot-mvebu: update to version 2024.04
  package/boot/uboot-mvebu/Makefile
  package/boot/uboot-mvebu/patches/0001-arm-mvebu-Espressobin-move-FDT-fixup-into-a-separate.patch
  package/boot/uboot-mvebu/patches/0002-arm-mvebu-Espressobin-move-network-setup-into-a-sepa.patch
  package/boot/uboot-mvebu/patches/0003-arm-mvebu-eDPU-support-new-board-revision.patch
  package/boot/uboot-mvebu/patches/0004-arm-mvebu-clearfog-read-number-of-ddr-channels-from-.patch
  package/boot/uboot-mvebu/patches/0005-arm-mvebu-clearfog-support-512MB-memory-size-from-tl.patch
Labels: target/mvebu, core packages

#15208 mediatek: backport PWM drivers
  target/linux/mediatek/patches-6.1/805-v6.5-pwm-mediatek-Add-support-for-MT7981.patch
  target/linux/mediatek/patches-6.1/806-v6.9-pwm-mediatek-add-support-for-MT7988.patch
  target/linux/mediatek/patches-6.6/806-v6.9-pwm-mediatek-add-support-for-MT7988.patch
Labels: target/mediatek

#15164 [22.03]: kernel: bump 5.10 to 5.10.215
  include/kernel-5.10
  target/linux/bcm27xx/patches-5.10/950-0028-mm-Remove-the-PFN-busy-warning.patch
  target/linux/bcm27xx/patches-5.10/950-0040-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-5.10/950-0046-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.10/950-0088-sc16is7xx-Don-t-spin-if-no-data-received.patch
  target/linux/bcm27xx/patches-5.10/950-0112-staging-mmal-vchiq-Avoid-use-of-bool-in-structures.patch
  target/linux/bcm27xx/patches-5.10/950-0113-staging-mmal-vchiq-Add-support-for-event-callbacks.patch
  target/linux/bcm27xx/patches-5.10/950-0121-staging-mmal-vchiq-Free-the-event-context-for-contro.patch
  target/linux/bcm27xx/patches-5.10/950-0122-staging-mmal-vchiq-Fix-memory-leak-in-error-path.patch
  target/linux/bcm27xx/patches-5.10/950-0246-sc16is7xx-Fix-for-hardware-flow-control.patch
  target/linux/bcm27xx/patches-5.10/950-0341-staging-mmal-vchiq-Use-vc-sm-cma-to-support-zero-cop.patch
  target/linux/generic/backport-5.10/732-net-next-1-of-net-pass-the-dst-buffer-to-of_get_mac_address.patch
  target/linux/generic/backport-5.10/821-v5.13-let-pci-host-bridges-declar-their-reliance-on-msi-domains.patch
  target/linux/generic/hack-5.10/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-5.10/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
  target/linux/generic/pending-5.10/610-netfilter_match_bypass_default_checks.patch
  target/linux/generic/pending-5.10/810-pci_disable_common_quirks.patch
  target/linux/lantiq/patches-5.10/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/mediatek/patches-5.10/410-bt-mtk-serial-fix.patch
  target/linux/octeontx/patches-5.10/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/rockchip/patches-5.10/101-dts-rockchip-add-usb3-controller-node-for-RK3328-SoCs.patch
  target/linux/x86/config-5.10
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/x86, target/mediatek, target/rockchip, target/octeontx, release/22.03

#15119 [22.03]: mac80211: Update to 5.15.153-1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath10k/974-ath10k_add-LED-and-GPIO-controlling-support-for-various-chipsets.patch
  package/kernel/mac80211/patches/brcm/810-b43-gpio-mask-module-option.patch
  package/kernel/mac80211/patches/brcm/812-b43-add-antenna-control.patch
  package/kernel/mac80211/patches/brcm/814-b43-only-use-gpio-0-1-for-led.patch
  package/kernel/mac80211/patches/build/060-no_local_ssb_bcma.patch
  package/kernel/mac80211/patches/rt2x00/002-rt2x00-add-throughput-LED-trigger.patch
  package/kernel/mac80211/patches/rt2x00/602-rt2x00-introduce-rt2x00eeprom.patch
  package/kernel/mac80211/patches/rt2x00/606-rt2x00-allow_disabling_bands_through_platform_data.patch
  package/kernel/mac80211/patches/rt2x00/607-rt2x00-add_platform_data_mac_addr.patch
  package/kernel/mac80211/patches/rt2x00/608-rt2x00-allow_disabling_bands_through_dts.patch
  package/kernel/mac80211/patches/rt2x00/611-rt2x00-add-AP+STA-support.patch
  package/kernel/mac80211/patches/subsys/306-mac80211-use-coarse-boottime-for-airtime-fairness-co.patch
  package/kernel/mac80211/patches/subsys/312-mac80211-split-beacon-retrieval-functions.patch
  package/kernel/mac80211/patches/subsys/313-nl80211-MBSSID-and-EMA-support-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/314-cfg80211-implement-APIs-for-dedicated-radar-detectio.patch
  package/kernel/mac80211/patches/subsys/318-cfg80211-allow-continuous-radar-monitoring-on-offcha.patch
  package/kernel/mac80211/patches/subsys/320-cfg80211-rename-offchannel_chain-structs-to-backgrou.patch
  package/kernel/mac80211/patches/subsys/324-mac80211-MBSSID-beacon-handling-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/330-mac80211-switch-airtime-fairness-back-to-deficit-rou.patch
  package/kernel/mac80211/patches/subsys/331-mac80211-make-sta-airtime-deficit-field-s32-instead-.patch
  package/kernel/mac80211/patches/subsys/332-mac80211-consider-aql_tx_pending-when-checking-airti.patch
  package/kernel/mac80211/patches/subsys/333-mac80211-keep-recently-active-tx-queues-in-schedulin.patch
  package/kernel/mac80211/patches/subsys/334-mac80211-add-a-per-PHY-AQL-limit-to-improve-fairness.patch
  package/kernel/mac80211/patches/subsys/336-mac80211-only-accumulate-airtime-deficit-for-active-.patch
  package/kernel/mac80211/patches/subsys/337-mac80211-increase-quantum-for-airtime-scheduler.patch
  package/kernel/mac80211/patches/subsys/339-mac80211-exclude-multicast-packets-from-AQL-pending-.patch
  package/kernel/mac80211/patches/subsys/348-wifi-mac80211-flush-queues-on-STA-removal.patch
  package/kernel/mac80211/patches/subsys/350-wifi-mac80211-add-flush_sta-method.patch
Labels: core packages, release/22.03

#14867 lldpd: allow glob patterns for interface(s) parsing
  package/network/services/lldpd/Makefile
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#14738 generic: 6.1: backport support for generic spi-nor from SFDP data
  target/linux/ath79/patches-6.1/400-mtd-nor-support-mtd-name-from-device-tree.patch
  target/linux/generic/backport-6.1/410-v6.2-mtd-spi-nor-add-generic-flash-driver.patch
  target/linux/generic/pending-6.1/402-mtd-spi-nor-write-support-for-minor-aligned-partitions.patch
  target/linux/generic/pending-6.1/479-mtd-spi-nor-add-xtx-xt25f128b.patch
  target/linux/mediatek/patches-6.1/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
Labels: kernel, target/ath79, target/mediatek

#14635 mtd: spi-nor: Make support for BoHong bh25q128as generic
  target/linux/generic/pending-5.15/405-mtd-spi-nor-Add-support-for-BoHong-bh25q128as.patch
  target/linux/generic/pending-5.15/479-mtd-spi-nor-add-xtx-xt25f128b.patch
Labels: kernel

#15209 usbnet: ipheth: add CDC NCM support
  target/linux/generic/backport-5.15/796-v6.5-01-usbnet-ipheth-fix-risk-of-NULL-pointer-deallocation.patch
  target/linux/generic/backport-5.15/796-v6.5-02-usbnet-ipheth-transmit-URBs-without-trailing-padding.patch
  target/linux/generic/backport-5.15/796-v6.5-03-usbnet-ipheth-add-CDC-NCM-support.patch
  target/linux/generic/backport-5.15/796-v6.5-04-usbnet-ipheth-update-Kconfig-description.patch
  target/linux/generic/backport-6.1/796-v6.5-01-usbnet-ipheth-fix-risk-of-NULL-pointer-deallocation.patch
  target/linux/generic/backport-6.1/796-v6.5-02-usbnet-ipheth-transmit-URBs-without-trailing-padding.patch
  target/linux/generic/backport-6.1/796-v6.5-03-usbnet-ipheth-add-CDC-NCM-support.patch
  target/linux/generic/backport-6.1/796-v6.5-04-usbnet-ipheth-update-Kconfig-description.patch
Labels: kernel

#15240 [23.05] tools/cpio: update to 2.15
  tools/cpio/Makefile
Labels: build/scripts/tools, release/23.05

#15241 [23.05] tools: b43-tools: fix compilation with GCC14
  tools/b43-tools/Makefile
Labels: build/scripts/tools, release/23.05

#14914 qualcommax: ipq807x: add support for Spectrum SAX1V1K
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-sax1v1k.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#15210 mwlwifi: update to version 10.4.10-20240419
  package/kernel/mwlwifi/Makefile
Labels: core packages

#15042 bcm53xx: 6.6: fix ASM cache workaround linking
  target/linux/bcm53xx/patches-6.6/300-ARM-BCM5301X-Disable-MMU-and-Dcache-during-decompres.patch
Labels: target/bcm53xx

#15242 scripts: ubinize-image.sh: fix support for static volume
  scripts/ubinize-image.sh
Labels: build/scripts/tools

#15249 tools/zstd: enable position independent code compilation
  tools/zstd/Makefile
Labels: build/scripts/tools

#15226 mbedtls: Update to 2.28.8
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/100-x509-crt-verify-SAN-iPAddress.patch
Labels: core packages

#15227 wolfssl: Update to 5.7.0
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages

#15239 uboot-envtools: add env settings for Edgerouter-X
  package/boot/uboot-envtools/files/ramips
Labels: core packages

#15272 ipq40xx: use nvmem ethernet MACs on Aruba AP-303H
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-ap-303h.dts
Labels: target/ipq40xx

#15264 ipq40xx: fix USB on Aruba AP-303H
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-ap-303h.dts
Labels: target/ipq40xx

#15244 ustp: bump package
  package/network/services/ustp/Makefile
Labels: core packages

#15267 qualcommax: IPQ807x: ZyXEL NBG7815: Fix random Wifi MAC
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
Labels: target/qualcommax

#15282 package/libs/pcre2: fix PKG_CPE_ID
  package/libs/pcre2/Makefile
Labels: core packages

#15278 tools/zlib: fix PKG_CPE_ID
  tools/zlib/Makefile
Labels: build/scripts/tools

#15277 tools/flex: fix PKG_CPE_ID
  tools/flex/Makefile
Labels: build/scripts/tools

#15276 toolchain/nasm: fix PKG_CPE_ID
  toolchain/nasm/Makefile
Labels: toolchain

#15234 lldpd: fix reload behaviour: advertisements shall default to on
  package/network/services/lldpd/Makefile
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#15288 ubox: update to Git HEAD (2024-04-26)
  package/system/ubox/Makefile
Labels: core packages

#15293 [22.03] CI: tools: macOS: sync with shared-actions for macOS 14
  .github/workflows/tools.yml
Labels: build/scripts/tools, GitHub/CI, release/22.03

#15295 ipq40xx: refresh patches
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
Labels: target/ipq40xx

#15296 ipq-wifi: correct PKG_MIRROR_HASH
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#15291 tools/expat: fix PKG_CPE_ID
  tools/expat/Makefile
Labels: build/scripts/tools

#15290 package/network/services/dropbear: fix PKG_CPE_ID
  package/network/services/dropbear/Makefile
Labels: core packages

#15292 package/libs/libjson-c: fix PKG_CPE_ID
  package/libs/libjson-c/Makefile
Labels: core packages

#15297 package/network/utils/iptables: fix PKG_CPE_ID
  package/network/utils/iptables/Makefile
Labels: core packages

#15310 ipq40xx: refresh patches again
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
Labels: target/ipq40xx

#15309 [22.03] tools: b43-tools: fix compilation with GCC14
  tools/b43-tools/Makefile
Labels: build/scripts/tools, release/22.03

#15307 uboot-mvebu: backport patch for Turris Omnia to enable LTO
  package/boot/uboot-mvebu/patches/0001-arm-mvebu-turris_omnia-Enable-LTO-by-default-on-Turr.patch
Labels: target/mvebu, core packages

#15302 kernel: bump 6.6 to 6.6.29
  include/kernel-6.6
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.6/740-v6.9-01-netfilter-flowtable-validate-pppoe-header.patch
  target/linux/generic/backport-6.6/740-v6.9-02-netfilter-flowtable-incorrect-pppoe-tuple.patch
  target/linux/generic/backport-6.6/752-05-v6.7-net-ethernet-mtk_wed-do-not-assume-offload-callbacks.patch
  target/linux/generic/backport-6.6/752-06-v6.7-net-ethernet-mtk_wed-introduce-versioning-utility-ro.patch
  target/linux/generic/backport-6.6/752-07-v6.7-net-ethernet-mtk_wed-do-not-configure-rx-offload-if-.patch
  target/linux/generic/backport-6.6/752-13-v6.7-net-ethernet-mtk_wed-add-mtk_wed_soc_data-structure.patch
  target/linux/generic/backport-6.6/752-14-v6.7-net-ethernet-mtk_wed-introduce-WED-support-for-MT798.patch
  target/linux/generic/backport-6.6/752-15-v6.7-net-ethernet-mtk_wed-refactor-mtk_wed_check_wfdma_rx.patch
  target/linux/generic/backport-6.6/752-16-v6.7-net-ethernet-mtk_wed-introduce-partial-AMSDU-offload.patch
  target/linux/generic/backport-6.6/752-17-v6.7-net-ethernet-mtk_wed-introduce-hw_rro-support-for-MT.patch
  target/linux/generic/backport-6.6/752-20-v6.7-net-ethernet-mtk_wed-add-wed-3.0-reset-support.patch
  target/linux/generic/backport-6.6/771-v6.7-01-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/backport-6.6/790-02-v6.7-net-dsa-mt753x-remove-mt753x_phylink_pcs_link_up.patch
  target/linux/generic/backport-6.6/790-04-v6.9-net-dsa-mt7530-support-OF-based-registration-of-swit.patch
  target/linux/generic/backport-6.6/790-05-v6.9-net-dsa-mt7530-always-trap-frames-to-active-CPU-port.patch
  target/linux/generic/backport-6.6/790-06-v6.9-net-dsa-mt7530-use-p5_interface_select-as-data-type-.patch
  target/linux/generic/backport-6.6/790-07-v6.9-net-dsa-mt7530-store-port-5-SGMII-capability-of-MT75.patch
  target/linux/generic/backport-6.6/790-08-v6.9-net-dsa-mt7530-improve-comments-regarding-switch-por.patch
  target/linux/generic/backport-6.6/790-09-v6.9-net-dsa-mt7530-improve-code-path-for-setting-up-port.patch
  target/linux/generic/backport-6.6/790-11-v6.9-net-dsa-mt7530-do-not-run-mt7530_setup_port5-if-port.patch
  target/linux/generic/backport-6.6/790-13-v6.9-net-dsa-mt7530-move-XTAL-check-to-mt7530_setup.patch
  target/linux/generic/backport-6.6/790-15-v6.9-net-dsa-mt7530-call-port-6-setup-from-mt7530_mac_con.patch
  target/linux/generic/backport-6.6/790-16-v6.9-net-dsa-mt7530-remove-pad_setup-function-pointer.patch
  target/linux/generic/backport-6.6/790-17-v6.9-net-dsa-mt7530-correct-port-capabilities-of-MT7988.patch
  target/linux/generic/backport-6.6/790-18-v6.9-net-dsa-mt7530-do-not-clear-config-supported_interfa.patch
  target/linux/generic/backport-6.6/790-19-v6.9-net-dsa-mt7530-remove-.mac_port_config-for-MT7988-an.patch
  target/linux/generic/backport-6.6/790-20-v6.9-net-dsa-mt7530-set-interrupt-register-only-for-MT753.patch
  target/linux/generic/backport-6.6/790-21-v6.9-net-dsa-mt7530-do-not-use-SW_PHY_RST-to-reset-MT7531.patch
  target/linux/generic/backport-6.6/790-22-v6.9-net-dsa-mt7530-get-rid-of-useless-error-returns-on-p.patch
  target/linux/generic/backport-6.6/790-23-v6.9-net-dsa-mt7530-get-rid-of-priv-info-cpu_port_config.patch
  target/linux/generic/backport-6.6/790-24-v6.9-net-dsa-mt7530-get-rid-of-mt753x_mac_config.patch
  target/linux/generic/backport-6.6/790-25-v6.9-net-dsa-mt7530-put-initialising-PCS-devices-code-bac.patch
  target/linux/generic/backport-6.6/790-26-v6.9-net-dsa-mt7530-sort-link-settings-ops-and-force-link.patch
  target/linux/generic/backport-6.6/790-27-v6.9-net-dsa-mt7530-simplify-link-operations.patch
  target/linux/generic/backport-6.6/790-28-v6.9-net-dsa-mt7530-disable-LEDs-before-reset.patch
  target/linux/generic/backport-6.6/790-29-v6.9-net-dsa-mt7530-fix-improper-frames-on-all-25MHz-and-.patch
  target/linux/generic/backport-6.6/790-30-v6.9-net-dsa-mt7530-prevent-possible-incorrect-XTAL-frequ.patch
  target/linux/generic/backport-6.6/790-31-v6.10-net-dsa-mt7530-fix-enabling-EEE-on-MT7531-switch-on-.patch
  target/linux/generic/backport-6.6/790-33-v6.10-net-dsa-mt7530-provide-own-phylink-MAC-operations.patch
  target/linux/generic/backport-6.6/790-34-v6.10-net-dsa-mt7530-fix-mirroring-frames-received-on-loca.patch
  target/linux/generic/backport-6.6/790-35-v6.10-net-dsa-mt7530-fix-port-mirroring-for-MT7988-SoC-swi.patch
  target/linux/generic/hack-6.6/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-6.6/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-6.6/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.6/811-pci_disable_usb_common_quirks.patch
  target/linux/generic/pending-6.6/920-mangle_bootargs.patch
  target/linux/ipq806x/patches-6.6/902-ARM-decompressor-support-for-ATAGs-rootblock-parsing.patch
  target/linux/mediatek/patches-6.6/944-net-ethernet-mtk_wed-move-dlm-a-dedicated-dts-node.patch
  target/linux/mediatek/patches-6.6/963-net-ethernet-mtk_eth_soc-fix-WED-wifi-reset.patch
  target/linux/mvebu/patches-6.6/300-mvebu-Mangle-bootloader-s-kernel-arguments.patch
  target/linux/ramips/patches-6.6/840-serial-add-ugly-custom-baud-rate-hack.patch
Labels: target/bcm53xx, build/scripts/tools, target/ipq806x, kernel, target/mvebu, target/ramips, target/mediatek, target/bcm4908

#15306 mediatek: fix MAC addresses of BananaPi boards
  target/linux/mediatek/base-files/etc/uci-defaults/99_fwenv-store-ethaddr.sh
  target/linux/mediatek/files-6.1/arch/arm64/boot/dts/mediatek/mt7988a-bananapi-bpi-r4.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

#15232 grub2: update to 2.12
  package/boot/grub2/Makefile
  package/boot/grub2/patches/001-add-missing-extra_deps-list.patch
  package/boot/grub2/patches/100-grub_setup_root.patch
Labels: core packages

#15231 libunwind: update to 1.8.1
  package/libs/libunwind/Makefile
  package/libs/libunwind/patches/003-fix-missing-ef_reg-defs-with-musl.patch
  package/libs/libunwind/patches/004-ppc-musl.patch
Labels: core packages

#15255 Bump uqmi to latest Git head
  package/network/utils/uqmi/Makefile
Labels: core packages

#14570 toolchain: binutils: switch to version 2.42 by default
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
Labels: toolchain

#15138 libaudit: update to 3.1.4, join with daemon and utils, rename
  package/libs/libaudit/Makefile
  package/libs/libaudit/patches/0001-Add-substitue-functions-for-strndupa-rawmemchr.patch
  package/libs/libaudit/patches/0002-fix-gcc-10.patch
  package/libs/libsemanage/Makefile
  package/utils/audit/Makefile
  package/utils/audit/files/audit.init
Labels: core packages

#15325 arm-trusted-firmware-mvebu: use SOURCE_VERSION instead of VERSION
  package/boot/arm-trusted-firmware-mvebu/Makefile
Labels: target/mvebu, core packages

#14259 toolchain: glibc: Update to glibc 2.38
  toolchain/glibc/common.mk
  toolchain/glibc/patches/050-Revert-Disallow-use-of-DES-encryption-functions-in-n.patch
  toolchain/glibc/patches/200-add-dl-search-paths.patch
Labels: toolchain

#15331 procd: make mDNS TXT record parsing more solid
  package/system/procd/files/procd.sh
Labels: core packages

#15053 mediatek: switch to fitblk for JDCloud RE-CP-03
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/patches/441-add-jdcloud_re-cp-03.patch
  target/linux/mediatek/dts/mt7986a-jdcloud-re-cp-03.dts
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
Labels: core packages, target/mediatek

#15337 tools/elfutils: remove dirname
  tools/elfutils/Makefile
  tools/elfutils/patches/100-portability.patch
Labels: build/scripts/tools

#15305 qualcommax: ipq807x: uboot-envtools: add missing settings for yuncore…
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-ax880.dts
Labels: kernel, target/qualcommax

#15225 [23.05]: kernel: bump 5.15 to 5.15.155
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0008-drm-vc4-hdmi-Use-a-mutex-to-prevent-concurrent-frame.patch
  target/linux/bcm27xx/patches-5.15/950-0064-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0070-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0084-Add-support-for-all-the-downstream-rpi-sound-card-dr.patch
  target/linux/bcm27xx/patches-5.15/950-0108-sc16is7xx-Don-t-spin-if-no-data-received.patch
  target/linux/bcm27xx/patches-5.15/950-0129-staging-mmal-vchiq-Avoid-use-of-bool-in-structures.patch
  target/linux/bcm27xx/patches-5.15/950-0130-staging-mmal-vchiq-Add-support-for-event-callbacks.patch
  target/linux/bcm27xx/patches-5.15/950-0137-staging-mmal-vchiq-Free-the-event-context-for-contro.patch
  target/linux/bcm27xx/patches-5.15/950-0138-staging-mmal-vchiq-Fix-memory-leak-in-error-path.patch
  target/linux/bcm27xx/patches-5.15/950-0152-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-5.15/950-0231-sc16is7xx-Fix-for-hardware-flow-control.patch
  target/linux/bcm27xx/patches-5.15/950-0281-media-i2c-Add-driver-for-Sony-IMX477-sensor.patch
  target/linux/bcm27xx/patches-5.15/950-0299-staging-mmal-vchiq-Use-vc-sm-cma-to-support-zero-cop.patch
  target/linux/bcm27xx/patches-5.15/950-0413-Documentation-devicetree-Add-documentation-for-imx37.patch
  target/linux/bcm27xx/patches-5.15/950-0508-staging-mmal-vchiq-Add-module-parameter-to-enable-lo.patch
  target/linux/bcm27xx/patches-5.15/950-0510-staging-mmal-vchiq-Reset-buffers_with_vpu-on-port_en.patch
  target/linux/bcm27xx/patches-5.15/950-0520-dt-bindings-media-i2c-Add-IMX519-CMOS-sensor-binding.patch
  target/linux/bcm27xx/patches-5.15/950-0688-drm-panel-Add-and-initialise-an-orientation-field-to.patch
  target/linux/bcm27xx/patches-5.15/950-0914-mmc-block-Don-t-do-single-sector-reads-during-recove.patch
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multi-gen-LRU-groundwork.patch
  target/linux/generic/backport-5.15/020-v6.1-06-mm-multi-gen-LRU-minimal-implementation.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/020-v6.1-15-mm-multi-gen-LRU-move-lru_gen_add_mm-out-of-IRQ-off-.patch
  target/linux/generic/backport-5.15/020-v6.3-26-mm-multi-gen-LRU-per-node-lru_gen_page-lists.patch
  target/linux/generic/backport-5.15/707-v6.3-net-pcs-add-driver-for-MediaTek-SGMII-PCS.patch
  target/linux/generic/backport-5.15/790-v6.4-0011-net-dsa-mt7530-introduce-separate-MDIO-driver.patch
  target/linux/generic/backport-5.15/790-v6.4-0013-net-dsa-mt7530-introduce-driver-for-MT7988-built-in-.patch
  target/linux/generic/backport-5.15/791-v6.2-01-net-phy-Add-driver-for-Motorcomm-yt8521-gigabit-ethernet.patch
  target/linux/generic/backport-5.15/804-v5.18-0009-nvmem-Add-driver-for-OCOTP-in-Sunplus-SP7021.patch
  target/linux/generic/backport-5.15/806-v6.0-0001-nvmem-microchip-otpc-add-support.patch
  target/linux/generic/backport-5.15/820-v6.7-0002-nvmem-add-explicit-config-option-to-read-old-syntax-.patch
  target/linux/generic/config-5.15
  target/linux/generic/hack-5.15/221-module_exports.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/hack-5.15/930-Revert-Revert-Revert-driver-core-Set-fw_devlink-on-b.patch
  target/linux/generic/pending-5.15/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
  target/linux/generic/pending-5.15/610-netfilter_match_bypass_default_checks.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-5.15/750-skb-Do-mix-page-pool-and-page-referenced-frags-in-GR.patch
  target/linux/generic/pending-5.15/810-pci_disable_common_quirks.patch
  target/linux/ipq807x/patches-5.15/0021-v6.0-clk-qcom-ipq8074-add-PPE-crypto-clock.patch
  target/linux/ipq807x/patches-5.15/0023-v6.0-clk-qcom-ipq8074-add-USB-GDSCs.patch
  target/linux/ipq807x/patches-5.15/0047-v6.2-clk-qcom-ipq8074-convert-to-parent-data.patch
  target/linux/ipq807x/patches-5.15/0051-v6.2-clk-qcom-ipq8074-add-missing-networking-resets.patch
  target/linux/ipq807x/patches-5.15/0052-v6.2-clk-qcom-ipq8074-populate-fw_name-for-all-parents.patch
  target/linux/ipq807x/patches-5.15/0101-clk-qcom-gcc-ipq8074-rework-nss_port5-6-clock-to-mul.patch
  target/linux/ipq807x/patches-5.15/0118-clk-qcom-Add-WCSSAON-reset.patch
  target/linux/ipq807x/patches-5.15/0131-clk-qcom-ipq8074-populate-fw_name-for-usb3phy-s.patch
  target/linux/lantiq/patches-5.15/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/mediatek/patches-5.15/410-bt-mtk-serial-fix.patch
  target/linux/mediatek/patches-5.15/730-v6.5-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/realtek/patches-5.15/008-5.17-watchdog-add-realtek-otto-watchdog-timer.patch
  target/linux/x86/config-5.15
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/x86, target/mediatek, target/realtek, target/octeontx, target/ipq807x, release/23.05
