Repository openwrt/openwrt, pull requests merged in 2024-08, with the labels that each got.

#16051 mediatek: refresh patches
  target/linux/mediatek/patches-6.6/041-block-fit-partition-parser.patch
Labels: target/mediatek

#16035 Revert "ath79: remove GPIO driver earlier registration hack"
  target/linux/ath79/patches-6.6/340-register_gpio_driver_earlier.patch
Labels: target/ath79

#16001 ipq40xx: Drop nand features from Chromium image
  target/linux/ipq40xx/Makefile
  target/linux/ipq40xx/config-6.6
  target/linux/ipq40xx/generic/config-default
  target/linux/ipq40xx/generic/target.mk
  target/linux/ipq40xx/mikrotik/config-default
  target/linux/ipq40xx/mikrotik/target.mk
Labels: kernel, target/ipq40xx

#16042 hostapd: fix SAE H2E security vulnerability
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/800-SAE-Check-for-invalid-Rejected-Groups-element-length.patch
  package/network/services/hostapd/patches/801-SAE-Check-for-invalid-Rejected-Groups-element-length.patch
  package/network/services/hostapd/patches/802-SAE-Reject-invalid-Rejected-Groups-element-in-the-pa.patch
Labels: core packages

#16043 [23.05] hostapd: fix SAE H2E security vulnerability
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/800-SAE-Check-for-invalid-Rejected-Groups-element-length.patch
  package/network/services/hostapd/patches/801-SAE-Check-for-invalid-Rejected-Groups-element-length.patch
  package/network/services/hostapd/patches/802-SAE-Reject-invalid-Rejected-Groups-element-in-the-pa.patch
Labels: core packages, release/23.05

#16086 utils: omnia-mcutool: Bump to 0.3-rc3
  package/utils/omnia-mcutool/Makefile
Labels: core packages

#16085 kernel: Add kmod-mfd-test for kernel 6.6 only
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

#16091 generic: 6.6: add backported bmips CBR patches
  target/linux/bcm47xx/patches-6.6/830-huawei_e970_support.patch
  target/linux/generic/backport-6.6/320-v6.11-mips-bmips-rework-and-cache-CBR-addr-handling.patch
  target/linux/generic/backport-6.6/321-v6.11-mips-bmips-setup-make-CBR-address-configurable.patch
  target/linux/generic/backport-6.6/322-v6.11-mips-bmips-enable-RAC-on-BMIPS4350.patch
Labels: target/bcm47xx, kernel

#16095 bcm27xx: update to latest RPi patches
  target/linux/bcm27xx/config-6.6
  target/linux/bcm27xx/patches-6.6/950-0714-spi-dw-dma-Get-the-last-DMA-scoop-out-of-the-FIFO.patch
  target/linux/bcm27xx/patches-6.6/950-1146-drivers-dwc_otg-use-C11-style-variable-array-declara.patch
  target/linux/bcm27xx/patches-6.6/950-1147-media-uapi-pixfmt-luma-Document-MIPI-CSI-2-packing.patch
  target/linux/bcm27xx/patches-6.6/950-1148-media-uapi-Add-a-pixel-format-for-BGR48-and-RGB48.patch
  target/linux/bcm27xx/patches-6.6/950-1149-media-uapi-Add-Raspberry-Pi-PiSP-Back-End-uAPI.patch
  target/linux/bcm27xx/patches-6.6/950-1150-media-uapi-Document-meta-pixel-format-for-PiSP-BE-co.patch
  target/linux/bcm27xx/patches-6.6/950-1151-media-uapi-Document-PiSP-Compressed-RAW-Bayer-format.patch
  target/linux/bcm27xx/patches-6.6/950-1152-media-dt-bindings-Add-bindings-for-Raspberry-Pi-PiSP.patch
  target/linux/bcm27xx/patches-6.6/950-1153-media-admin-guide-Document-the-Raspberry-Pi-PiSP-BE.patch
  target/linux/bcm27xx/patches-6.6/950-1154-media-pisp-be-Backport-the-mainline-PiSP-BE-driver.patch
  target/linux/bcm27xx/patches-6.6/950-1155-media-uapi-pisp_be_config-Drop-BIT-from-uAPI.patch
  target/linux/bcm27xx/patches-6.6/950-1156-media-uapi-pisp_common-Add-32-bpp-format-test.patch
  target/linux/bcm27xx/patches-6.6/950-1157-media-uapi-Capitalize-all-macros.patch
  target/linux/bcm27xx/patches-6.6/950-1158-media-uapi-pisp_be_config-Re-sort-pisp_be_tiles_conf.patch
  target/linux/bcm27xx/patches-6.6/950-1159-media-uapi-pisp_be_config-Add-extra-config-fields.patch
  target/linux/bcm27xx/patches-6.6/950-1160-media-pisp_be-Re-introduce-multi-context-support.patch
  target/linux/bcm27xx/patches-6.6/950-1161-media-pisp_be-Re-introduce-video-node-offset.patch
  target/linux/bcm27xx/patches-6.6/950-1163-dts-Make-camN_reg-and-camN_reg_gpio-overrides-generi.patch
  target/linux/bcm27xx/patches-6.6/950-1164-spi-dt-bindings-Add-RPI-RP2040-GPIO-Bridge.patch
  target/linux/bcm27xx/patches-6.6/950-1165-spi-Add-a-driver-for-the-RPI-RP2040-GPIO-bridge.patch
  target/linux/bcm27xx/patches-6.6/950-1166-dmaengine-dw-axi-dmac-Honour-snps-block-size.patch
  target/linux/bcm27xx/patches-6.6/950-1167-mmc-restrict-posted-write-counts-for-SD-cards-in-CQ-.patch
  target/linux/bcm27xx/patches-6.6/950-1168-fixup-mmc-restrict-posted-write-counts-for-SD-cards-.patch
  target/linux/bcm27xx/patches-6.6/950-1169-mmc-brcmstb-don-t-squash-card-busy-detection-on-bcm2.patch
  target/linux/bcm27xx/patches-6.6/950-1172-Revert-Update-DAC8x-to-support-384khz-6187.patch
  target/linux/bcm27xx/patches-6.6/950-1176-dt-bindings-clk-rp1-Add-clocks-representing-MIPI-DSI.patch
  target/linux/bcm27xx/patches-6.6/950-1177-clk-clk-rp1-Add-varsrc-clocks-to-represent-MIPI-byte.patch
  target/linux/bcm27xx/patches-6.6/950-1178-dts-rp1-DSI-drivers-to-use-newly-defined-MIPI-byte-s.patch
  target/linux/bcm27xx/patches-6.6/950-1179-drm-rp1-rp1-dsi-Switch-to-PLL_SYS-source-for-DPI-whe.patch
  target/linux/bcm27xx/patches-6.6/950-1180-arm64-dts-Move-bcm2712-and-rp1-here.patch
  target/linux/bcm27xx/patches-6.6/950-1181-arm64-dts-Add-cm5l-files.patch
  target/linux/bcm27xx/patches-6.6/950-1182-dts-bcm2712-Dedup-the-aliases-and-overrides.patch
  target/linux/bcm27xx/patches-6.6/950-1183-arm64-dts-Give-cm5l-its-own-model-name.patch
  target/linux/bcm27xx/patches-6.6/950-1185-pinctrl-rp1-jump-through-hoops-to-avoid-PCIe-latency.patch
  target/linux/bcm27xx/patches-6.6/950-1186-staging-bcm2835-codec-Disable-HEADER_ON_OPEN-for-vid.patch
  target/linux/bcm27xx/patches-6.6/950-1188-staging-bcm2835-codec-Add-support-for-H264-level-5.0.patch
  target/linux/bcm27xx/patches-6.6/950-1189-spi-dw-Save-bandwidth-with-the-TMOD_TO-feature.patch
  target/linux/bcm27xx/patches-6.6/950-1190-spi-dw-Save-bandwidth-with-the-TMOD_RO-feature.patch
  target/linux/bcm27xx/patches-6.6/950-1191-spi-dw-don-t-immediately-kill-DMA-transfers-if-an-er.patch
  target/linux/bcm27xx/patches-6.6/950-1192-dts-rp1-hobble-DMA-AXI-burst-lengths.patch
  target/linux/bcm27xx/patches-6.6/950-1193-drivers-dw-axi-dmac-make-more-sensible-choices-about.patch
  target/linux/bcm27xx/patches-6.6/950-1195-tty-serial-pl011-restrict-RX-burst-FIFO-threshold.patch
  target/linux/bcm27xx/patches-6.6/950-1196-DT-bindings-add-a-dma-maxburst-property-to-snps-desi.patch
  target/linux/bcm27xx/patches-6.6/950-1197-sound-soc-dwc-i2s-choose-FIFO-thresholds-based-on-DM.patch
  target/linux/bcm27xx/patches-6.6/950-1198-dts-rp1-restrict-i2s-burst-lengths-to-4.patch
  target/linux/bcm27xx/patches-6.6/950-1199-drm-vc4-Disable-the-2pixel-clock-odd-timings-workaro.patch
  target/linux/bcm27xx/patches-6.6/950-1200-ARM-dts-bcm2712-Fix-invalid-polling-delay-passive-se.patch
  target/linux/bcm27xx/patches-6.6/950-1201-spi-dw-Fix-non-DMA-transmit-only-transfers.patch
  target/linux/bcm27xx/patches-6.6/950-1202-spi-dw-Clamp-the-minimum-clock-speed.patch
  target/linux/bcm27xx/patches-6.6/950-1203-overlays-i2c-rtc-Correct-bq32000-property-name.patch
  target/linux/bcm27xx/patches-6.6/950-1204-hwmon-adt7410-Add-DT-compatible-strings.patch
  target/linux/bcm27xx/patches-6.6/950-1205-fixup-pinctrl-bcm2712-pinctrl-pinconf-driver.patch
  target/linux/bcm27xx/patches-6.6/950-1206-dtoverlays-Add-overlay-for-HD44780-via-I2C-PCF8574-b.patch
  target/linux/bcm27xx/patches-6.6/950-1207-dtoverlays-Document-display_-width-height-on-hd44780.patch
  target/linux/bcm27xx/patches-6.6/950-1208-DTS-bcm2712-enable-SD-slot-CQE-by-default-on-Pi-5.patch
  target/linux/bcm27xx/patches-6.6/950-1211-gpiolib-Override-gpiochip-numbers-with-DT-aliases.patch
  target/linux/bcm27xx/patches-6.6/950-1212-dts-bcm2712-rpi-Add-gpiochip0-alias.patch
  target/linux/bcm27xx/patches-6.6/950-1213-dts-bcm2712-rpi-The-SoC-gpiochips-start-at-10.patch
Labels: target/bcm27xx, kernel

#16098 archs38: enable features rootfs-part
  target/linux/archs38/generic/target.mk
Labels: target/archs38

#16104 bcm27xx: align and enable hwmon/thermal symbols
  target/linux/bcm27xx/bcm2708/config-6.6
  target/linux/bcm27xx/bcm2709/config-6.6
  target/linux/bcm27xx/bcm2710/config-6.6
  target/linux/bcm27xx/bcm2711/config-6.6
  target/linux/bcm27xx/bcm2712/config-6.6
  target/linux/bcm27xx/image/Makefile
  target/linux/generic/config-6.6
Labels: target/bcm27xx, kernel

#15805 bmips: xg6846: refactor DT
  target/linux/bmips/bcm6328/base-files/etc/board.d/01_leds
  target/linux/bmips/dts/bcm6328-inteno-xg6846.dts
Labels: target/bmips

#16048 toolchain: mold: Update to 2.33.0
  tools/mold/Makefile
Labels: build/scripts/tools

#16108 kernel: rtl8367b: restore rlvid definitions
  target/linux/generic/files/drivers/net/phy/rtl8367b.c
Labels: kernel

#16106 mediatek: increase phy assert time for jdcloud re-cp-03
  target/linux/mediatek/dts/mt7986a-jdcloud-re-cp-03.dts
Labels: target/mediatek

#16064 rockchip: rock 3a: fix image check failed
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

#15633 qualcommax: ipq60xx: add support for Cambium Networks XE3-4
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-xe3-4.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-fixed-smps.dtsi
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11-caldata
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#16116 mediatek: EAP111: add label-mac-device
  target/linux/mediatek/dts/mt7981a-edgecore-eap111.dts
Labels: target/mediatek

#16127 uboot-envtools: add env settings for ubnt,unifi-6-lr-v3
  package/boot/uboot-envtools/files/mediatek_mt7622
Labels: core packages

#16128 package: add kmod-r8126 ethernet driver
  package/kernel/r8126/Makefile
  package/kernel/r8126/patches/0001-r8126.h-use-BIT_ULL.patch
Labels: core packages

#16129 package: add kmod-r8125 ethernet driver
  package/kernel/r8125/Makefile
Labels: core packages

#16130 package: add kmod-r8168 ethernet driver
  package/kernel/r8168/Makefile
  package/kernel/r8168/patches/0001-r8168_n-fix-proc_dump_rx_desc_2-on-32-bits.patch
Labels: core packages

#16088 generic: 6.6: add Winbond W25N01KV support
  target/linux/generic/pending-6.6/489-mtd-spinand-winbond-add-support-for-W25N01KV.patch
Labels: kernel

#16118 mediatek: fix a use-after-free kernel panic in wed code
  target/linux/mediatek/patches-6.6/951-net-ethernet-mtk_wed-fix-use-after-free-panic-in-mtk.patch
Labels: target/mediatek

#16133 ramips: mt7621_nand: use devm_clk_get_enabled
  target/linux/ramips/files/drivers/mtd/nand/raw/mt7621_nand.c
Labels: kernel, target/ramips

#16036 ath10k-ct: bump to version 6.9
  package/kernel/ath10k-ct/Makefile
  package/kernel/ath10k-ct/patches/001-patch-version.patch
  package/kernel/ath10k-ct/patches/010-mac80211_backport.patch
  package/kernel/ath10k-ct/patches/130-ath10k-read-qcom-coexist-support-as-a-u32.patch
  package/kernel/ath10k-ct/patches/201-wifi-ath10k-add-LED-and-GPIO-controlling-support-for.patch
  package/kernel/ath10k-ct/patches/202-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/ath10k-ct/patches/300-fix-fortify-checking-error.patch
  package/kernel/ath10k-ct/patches/960-0010-ath10k-limit-htt-rx-ring-size.patch
  package/kernel/ath10k-ct/patches/960-0011-ath10k-limit-pci-buffer-size.patch
  package/kernel/ath10k-ct/patches/988-ath10k-always-use-mac80211-loss-detection.patch
Labels: core packages

#16090 uboot-envtools: Add support for Orange Pi R1 Plus & LTS
  package/boot/uboot-envtools/files/rockchip_armv8
Labels: core packages

#16084 lantiq: arv7525pw: use nvmem for eeprom
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/danube_arcadyan_arv7525pw.dts
Labels: kernel, target/lantiq

#15442 hostapd: Add support for APuP
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/780-Implement-APuP-Access-Point-Micro-Peering.patch
  package/network/services/hostapd/patches/790-APuP-add-ubus-notification-when-a-peer-comes-up.patch
  package/network/services/hostapd/patches/800-APuP-add-ucode-hook-for-when-a-peer-comes-up.patch
Labels: core packages

#16047 toolchain: gcc: update GCC 14 to 14.2.0
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-14.x/300-mips_Os_cpu_rtx_cost_model.patch
Labels: toolchain

#16144 kernel: bump 6.6 to 6.6.45 and update config-6.6
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/generic/backport-6.6/719-v6.11-net-phy-realtek-add-support-for-RTL8366S-Gigabit-PHY.patch
  target/linux/generic/backport-6.6/780-01-v6.8-r8169-add-support-for-LED-s-on-RTL8168-RTL8101.patch
  target/linux/generic/backport-6.6/780-02-v6.8-r8169-fix-building-with-CONFIG_LEDS_CLASS-m.patch
  target/linux/generic/backport-6.6/780-03-v6.9-r8169-add-support-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-05-v6.9-r8169-add-LED-support-for-RTL8125-RTL8126.patch
  target/linux/generic/backport-6.6/780-08-v6.10-r8169-fix-LED-related-deadlock-on-module-removal.patch
  target/linux/generic/backport-6.6/780-09-v6.10-r8169-add-missing-conditional-compiling-for-call-to-.patch
  target/linux/generic/backport-6.6/834-v6.8-leds-trigger-netdev-Extend-speeds-up-to-10G.patch
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.6/253-ksmbd-config.patch
  target/linux/lantiq/patches-6.6/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/qualcommax/patches-6.6/0025-v6.7-cpufreq-qcom-nvmem-add-support-for-IPQ6018.patch
  target/linux/qualcommax/patches-6.6/0026-v6.7-cpufreq-qcom-nvmem-add-support-for-IPQ8074.patch
  target/linux/qualcommax/patches-6.6/0028-v6.7-arm64-dts-qcom-ipq8074-include-the-GPLL0-as-clock-pr.patch
  target/linux/qualcommax/patches-6.6/0056-v6.9-arm64-dts-qcom-Fix-hs_phy_irq-for-QUSB2-targets.patch
  target/linux/qualcommax/patches-6.6/0111-arm64-dts-qcom-ipq8074-use-msi-parent-for-PCIe.patch
  target/linux/qualcommax/patches-6.6/0120-arm64-dts-qcom-Enable-Q6v5-WCSS-for-ipq8074-SoC.patch
  target/linux/qualcommax/patches-6.6/0121-arm64-dts-ipq8074-Add-WLAN-node.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/ath79, target/qualcommax

#16141 kernel: bump 6.1 to 6.1.104
  include/kernel-6.1
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/backport-6.1/804-v6.5-11-leds-trigger-netdev-expose-netdev-trigger-modes-in-l.patch
  target/linux/generic/backport-6.1/805-v6.5-01-leds-trigger-netdev-add-additional-specific-link-spe.patch
  target/linux/generic/backport-6.1/805-v6.5-02-leds-trigger-netdev-add-additional-specific-link-dup.patch
  target/linux/generic/backport-6.1/830-04-v6.5-cpufreq-qcom-nvmem-use-SoC-ID-s-from-bindings.patch
  target/linux/generic/backport-6.1/830-05-v6.5-cpufreq-qcom-nvmem-use-helper-to-get-SMEM-SoC-ID.patch
  target/linux/generic/backport-6.1/834-v6.8-leds-trigger-netdev-Extend-speeds-up-to-10G.patch
  target/linux/generic/config-6.1
  target/linux/generic/hack-6.1/253-ksmbd-config.patch
  target/linux/generic/pending-6.1/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
Labels: build/scripts/tools, kernel

#14304 ramips: add support for Xiaomi R4AC v2 (intl)
  target/linux/ramips/dts/mt7628an_xiaomi_mi-router-4a-100m-intl-v2.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#16154 mpc85xx: fix wdr4900 ethernet
  target/linux/mpc85xx/p1010/config-default
Labels: kernel, target/mpc85xx

#16059 tools/cmake: Update to 3.30.2
  tools/cmake/Makefile
  tools/cmake/patches/110-liblzma.patch
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/140-zlib.patch
  tools/cmake/patches/160-disable_xcode_generator.patch
Labels: build/scripts/tools

#16159 firmware: omnia-mcu-firmware: Bump to 4.1
  package/firmware/omnia-mcu-firmware/Makefile
Labels: core packages

#16131 mac80211: add rtw89 driver
  package/kernel/mac80211/realtek.mk
Labels: core packages

#16167 rockchip: fix sysupgrade for Radxa ROCK Pi S
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

#16067 mediatek: Add support for Linksys EA7500 v3
  package/boot/uboot-envtools/files/mediatek_mt7629
  package/system/mtd/src/Makefile
  target/linux/mediatek/dts/mt7629-linksys-ea7500-v3.dts
  target/linux/mediatek/image/mt7629.mk
  target/linux/mediatek/mt7629/base-files/etc/board.d/02_network
  target/linux/mediatek/mt7629/base-files/etc/init.d/bootcount
  target/linux/mediatek/mt7629/base-files/lib/upgrade/platform.sh
Labels: core packages, target/mediatek

#15990 config: kernel: Add support for configuring BTRFS to be built-in
  config/Config-kernel.in
  target/linux/generic/config-5.15
  target/linux/generic/config-6.1
  target/linux/generic/config-6.6
  target/linux/layerscape/armv8_64b/config-6.1
  target/linux/layerscape/armv8_64b/config-6.6
  target/linux/layerscape/armv8_64b/target.mk
Labels: kernel, target/layerscape

#16170 kernel: Fix section mismatch in ubi
  target/linux/generic/pending-5.15/491-ubi-auto-create-ubiblock-device-for-rootfs.patch
  target/linux/generic/pending-6.1/491-ubi-auto-create-ubiblock-device-for-rootfs.patch
  target/linux/generic/pending-6.6/491-ubi-auto-create-ubiblock-device-for-rootfs.patch
Labels: kernel

#16171 ramips: mt76x8: add support for Yuncore M300
  target/linux/ramips/dts/mt7628an_yuncore_m300.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/config-6.6
Labels: kernel, target/ramips

#16175 toolchain: binutils: add support for 2.43
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.43/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.43/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.43/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

#16178 mediatek: mt7622: build images for mtk_uartboot
  package/boot/arm-trusted-firmware-mediatek/Makefile
Labels: core packages, target/mediatek

#16182 package: add kmod-r8101 ethernet driver
  package/kernel/r8101/Makefile
Labels: core packages

#16050 ramips: ethernet: use devm for request_irq
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: kernel, target/ramips

#16124 mpc85xx: panda: use DSA B53 driver
  target/linux/mpc85xx/base-files/etc/board.d/02_network
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/panda.dts
  target/linux/mpc85xx/image/p1020.mk
  target/linux/mpc85xx/p1020/config-default
Labels: kernel, target/mpc85xx

#16076 uhttpd: restart daemon if certificate has changed
  package/network/services/uhttpd/files/uhttpd.init
Labels: core packages

#16046 xfrm: remove requirement for underlying device
  package/network/config/xfrm/Makefile
  package/network/config/xfrm/files/xfrm.sh
Labels: core packages

#16201 generic: 6.6: backport upstream r8169 patches
  target/linux/generic/backport-6.6/780-01-v6.8-r8169-improve-RTL8411b-phy-down-fixup.patch
  target/linux/generic/backport-6.6/780-02-v6.8-r8169-remove-not-needed-check-in-rtl_fw_write_firmwa.patch
  target/linux/generic/backport-6.6/780-03-v6.8-r8169-remove-multicast-filter-limit.patch
  target/linux/generic/backport-6.6/780-04-v6.8-r8169-improve-handling-task-scheduling.patch
  target/linux/generic/backport-6.6/780-05-v6.8-r8169-add-support-for-LED-s-on-RTL8168-RTL8101.patch
  target/linux/generic/backport-6.6/780-06-v6.8-r8169-fix-building-with-CONFIG_LEDS_CLASS-m.patch
  target/linux/generic/backport-6.6/780-07-v6.9-r8169-simplify-EEE-handling.patch
  target/linux/generic/backport-6.6/780-08-v6.9-r8169-add-support-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-09-v6.9-r8169-improve-checking-for-valid-LED-modes.patch
  target/linux/generic/backport-6.6/780-10-v6.9-r8169-simplify-code-by-using-core-provided-pcpu-stat.patch
  target/linux/generic/backport-6.6/780-11-v6.9-r8169-add-LED-support-for-RTL8125-RTL8126.patch
  target/linux/generic/backport-6.6/780-12-v6.9-r8169-add-generic-rtl_set_eee_txidle_timer-function.patch
  target/linux/generic/backport-6.6/780-13-v6.9-r8169-support-setting-the-EEE-tx-idle-timer-on-RTL81.patch
  target/linux/generic/backport-6.6/780-14-v6.9-r8169-add-support-for-returning-tx_lpi_timer-in-etht.patch
  target/linux/generic/backport-6.6/780-15-v6.9-r8169-add-MODULE_FIRMWARE-entry-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-16-v6.9-r8169-fix-LED-related-deadlock-on-module-removal.patch
  target/linux/generic/backport-6.6/780-17-v6.9-r8169-add-missing-conditional-compiling-for-call-to-.patch
  target/linux/generic/backport-6.6/780-18-v6.10-r8169-add-support-for-RTL8168M.patch
  target/linux/generic/backport-6.6/780-19-v6.10-net-annotate-writes-on-dev-mtu-from-ndo_change_mtu.patch
  target/linux/generic/backport-6.6/780-20-v6.11-r8169-disable-interrupt-source-RxOverflow.patch
  target/linux/generic/backport-6.6/780-21-v6.11-r8169-remove-detection-of-chip-version-11-early-RTL8.patch
Labels: kernel

#16206 bmips: fix gpio-leds DTS nodes
  target/linux/bmips/dts/bcm6358-huawei-hg556a-b.dts
  target/linux/bmips/dts/bcm6362-huawei-hg253s-v2.dts
  target/linux/bmips/dts/bcm6362-netgear-dgnd3700-v2.dts
  target/linux/bmips/dts/bcm6368-actiontec-r1000h.dts
  target/linux/bmips/dts/bcm6368-comtrend-vr-3025u.dts
  target/linux/bmips/dts/bcm6368-comtrend-vr-3025un.dts
  target/linux/bmips/dts/bcm6368-netgear-dgnd3700.dtsi
  target/linux/bmips/dts/bcm6368-observa-vh4032n.dts
  target/linux/bmips/dts/bcm6369-comtrend-wap-5813n.dts
  target/linux/bmips/dts/bcm6369-netgear-evg2000.dts
Labels: target/bmips

#16205 bmips: bcm6328: add support for D-Link DSL-2750B rev B1
  target/linux/bmips/bcm6328/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6328/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6328-dlink-dsl-2750b-b1.dts
  target/linux/bmips/image/bcm6328.mk
Labels: target/bmips

#16189 kernel: Actvate hardening options
  target/linux/armsr/armv8/config-6.6
  target/linux/bcm27xx/bcm2710/config-6.6
  target/linux/bcm27xx/bcm2711/config-6.6
  target/linux/bcm27xx/bcm2712/config-6.6
  target/linux/generic/config-5.15
  target/linux/generic/config-6.1
  target/linux/generic/config-6.6
  target/linux/layerscape/armv8_64b/config-6.1
  target/linux/layerscape/armv8_64b/config-6.6
  target/linux/rockchip/armv8/config-6.6
Labels: target/bcm27xx, kernel, target/layerscape, target/rockchip, target/armsr

#16208 x86: enable console keyboard
  target/linux/x86/64/config-6.6
  target/linux/x86/generic/config-6.6
  target/linux/x86/legacy/config-6.6
Labels: kernel, target/x86

#16223 [23.05] octeon: ubnt-edgerouter: Disable PCIe
  target/linux/octeon/image/Makefile
Labels: target/octeon, release/23.05

#16225 mediatek/mt7622: fix config symbol for 2.5GE MTK driver
  target/linux/mediatek/mt7622/config-6.6
Labels: kernel, target/mediatek

#16230 lantiq: use NVMEM for mac addresses
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vgv7510kw22.dtsi
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
Labels: kernel, target/lantiq

#16187 ath79: improve Sophos AP15 support
  target/linux/ath79/dts/qca9557_sophos_ap15.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#16069 Build packages with Intel CPU-integrated GPU (iGPU) firmware files
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#16239 mt76: Add firmware files into mt7925-firmware package
  package/kernel/mt76/Makefile
Labels: core packages

#16158 rockchip: add support for nanopc t6
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.6/120-arm64-dts-rockchip-add-led-aliases-and-stop-heartbeat-for-nanopc-t6.patch
  target/linux/rockchip/patches-6.6/121-arm64-dts-rockchip-lower-mmc-speed-for-nanopc-t6.patch
Labels: core packages, target/rockchip

#16221 fix compatible string for Radxa ROCK 5A
  target/linux/rockchip/patches-6.6/116-arm64-dts-rockchip-Update-LED-properties-for-Radxa-Ro.patch
Labels: target/rockchip

#16252 generic: 6.6: backport upstream Realtek PHY patch
  target/linux/generic/backport-6.6/781-12-v6.11-net-phy-realtek-Fix-setting-of-PHY-LEDs-Mode-B-bit-o.patch
  target/linux/generic/pending-6.6/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.6/720-02-net-phy-realtek-disable-SGMII-in-band-AN-for-2-5G-PHYs.patch
  target/linux/generic/pending-6.6/720-03-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-use-inline-functions-for-10GbE-adver.patch
  target/linux/generic/pending-6.6/720-05-net-phy-realtek-check-validity-of-10GbE-link-partner.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-introduce-rtl822x_probe.patch
  target/linux/generic/pending-6.6/720-07-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-08-net-phy-realtek-support-interrupt-of-RTL8221B.patch
Labels: kernel

#16253 bmips: add support for TP Link TD-W8968 V3, TD-W8968 V4 and TD-W8960N V5
  target/linux/bmips/bcm6318/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm6318/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6318/base-files/etc/uci-defaults/09_fix_crc
  target/linux/bmips/dts/bcm6318-tp-link-td-w8968-v3.dts
  target/linux/bmips/image/bcm6318.mk
Labels: target/bmips

#15965 dnsmasq: Add EDNS0 Upstream support
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#16219 trace-cmd: update to 3.3
  package/devel/trace-cmd/Makefile
Labels: core packages

#16217 ramips: mt7621_nand: don't set owner
  target/linux/ramips/files/drivers/mtd/nand/raw/mt7621_nand.c
Labels: kernel, target/ramips

#16213 armsr: use console=tty1 to make console more readily available
  target/linux/armsr/base-files/etc/inittab
  target/linux/armsr/image/Makefile
  target/linux/x86/image/Makefile
Labels: target/x86, target/armsr

#16156 mediatek: filogic: add support for Cudy AP3000 Outdoor
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-ap3000outdoor-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#16020 ustream-ssl: update to Git HEAD (2024-07-28)
  package/libs/ustream-ssl/Makefile
Labels: core packages

#16251 CI: update actions/labeler to v5
  .github/workflows/labeler.yml
Labels: GitHub/CI

#16263 build: fix CMake generator for non-Ninja builds
  include/cmake.mk
Labels: build/scripts/tools

#14804 kernel: support for rtl8367d family chips
  target/linux/generic/files/drivers/net/phy/rtl8366_smi.h
  target/linux/generic/files/drivers/net/phy/rtl8367b.c
Labels: kernel

#16247 ath79: elecom,wab: use nvmem
  target/linux/ath79/dts/qca955x_elecom_wab.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#16246 ath79: wg800hp: convert to nvmem
  target/linux/ath79/dts/qca9563_nec_wg800hp.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

#16033 uboot-envtools: ath79: add Belkin F9K1115v2/F9J1108v2 u-boot env support
  package/boot/uboot-envtools/files/ath79
Labels: core packages

#16244 ath79: qihoo,c301: use nvmem
  target/linux/ath79/dts/ar9344_qihoo_c301.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#16282 kernel: bump 6.6 to 6.6.48
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0058-Revert-Bluetooth-Always-request-for-user-confirmatio.patch
  target/linux/bcm27xx/patches-6.6/950-0106-Add-support-for-all-the-downstream-rpi-sound-card-dr.patch
  target/linux/bcm27xx/patches-6.6/950-0161-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/generic/backport-6.6/611-01-v6.11-udp-Allow-GSO-transmit-from-devices-with-no-checksum.patch
  target/linux/generic/backport-6.6/611-03-v6.11-udp-Fall-back-to-software-USO-if-IPv6-extension-head.patch
  target/linux/generic/backport-6.6/752-04-v6.6-net-ethernet-mtk_wed-check-update_wo_rx_stats-in-mtk.patch
  target/linux/generic/backport-6.6/752-06-v6.7-net-ethernet-mtk_wed-introduce-versioning-utility-ro.patch
  target/linux/generic/backport-6.6/752-13-v6.7-net-ethernet-mtk_wed-add-mtk_wed_soc_data-structure.patch
  target/linux/generic/backport-6.6/752-14-v6.7-net-ethernet-mtk_wed-introduce-WED-support-for-MT798.patch
  target/linux/generic/backport-6.6/752-17-v6.7-net-ethernet-mtk_wed-introduce-hw_rro-support-for-MT.patch
  target/linux/generic/hack-6.6/253-ksmbd-config.patch
  target/linux/generic/hack-6.6/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/pending-6.6/601-udp-fix-receiving-fraglist-GSO_packets.patch
  target/linux/generic/pending-6.6/666-Add-support-for-MAP-E-FMRs-mesh-mode.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/mediatek/patches-6.6/951-net-ethernet-mtk_wed-fix-use-after-free-panic-in-mtk.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
  target/linux/rockchip/patches-6.6/302-mmc-allow-probe-to-defer-if-clock-is-not-ready.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ath79, target/mediatek, target/rockchip

#16283 kernel: bump 6.1 to 6.1.107
  include/kernel-6.1
  target/linux/armsr/patches-6.1/701-v6.2-0011-net-dpaa2-switch-serialize-changes-to-priv-mac-with.patch
  target/linux/armsr/patches-6.1/701-v6.2-0012-net-dpaa2-mac-move-rtnl_lock-only-around-phylink.patch
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/backport-6.1/020-v6.3-10-UPSTREAM-mm-add-vma_has_recency.patch
  target/linux/generic/backport-6.1/715-07-v6.2-net-remove-explicit-phylink_generic_validate-referen.patch
  target/linux/generic/backport-6.1/715-26-v6.5-net-phylink-pass-neg_mode-into-phylink_mii_c22_pcs_c.patch
  target/linux/generic/hack-6.1/253-ksmbd-config.patch
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/666-Add-support-for-MAP-E-FMRs-mesh-mode.patch
  target/linux/generic/pending-6.1/680-net-add-TCP-fraglist-GRO-support.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: build/scripts/tools, kernel, target/armsr
