Repository openwrt/openwrt, pull requests merged in 2024-01, with the labels that each got.

#14287 wolfssl: update to 5.6.6
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages

#14311 kernel: bump 6.1 to 6.1.70
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0045-drm-atomic-helpers-remove-legacy_cursor_update-hacks.patch
  target/linux/bcm27xx/patches-6.1/950-0078-Revert-Bluetooth-Always-request-for-user-confirmatio.patch
  target/linux/generic/hack-6.1/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.1/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-6.1/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-6.1/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/ipq806x/patches-6.1/700-01-net-introduce-napi_is_scheduled-helper.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel

#14249 filogic: Asus TUF AX6000 fix inverted LED for 2.5Gb LAN port
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
Labels: target/mediatek

#14060 mediatek: Add support for D-Link EAGLE PRO AI R32
  package/boot/uboot-envtools/files/mediatek_mt7622
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-ax3200-a1.dtsi
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-m32-a1.dts
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-r32-a1.dts
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
  target/linux/mediatek/mt7622/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/mt7622/base-files/etc/init.d/bootcount
  target/linux/mediatek/mt7622/base-files/lib/upgrade/platform.sh
Labels: core packages, target/mediatek

#14151 ramips: lzma-loader: use virtual memory segments for uart base address
  target/linux/ramips/image/lzma-loader/src/board.c
Labels: target/ramips

#14277 ramips: unielec-u7621-01: Increase SPI frequency to 50MHz
  target/linux/ramips/dts/mt7621_unielec_u7621-01-16m.dts
Labels: target/ramips

#14329 libxml2: update to 2.12.3
  package/libs/libxml2/Makefile
Labels: core packages

#14330 libnl: update to 3.9.0
  package/libs/libnl/Makefile
Labels: core packages

#14326 [23.05] mediatek: enable mt7981-wo-firmware package by default
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/23.05

#14316 [23.05] ramips: mt7621: use lzma-loader for Sercomm NA502
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips, release/23.05

#14159 [23.05] ramips: add support for Rostelecom RT-FE-1A
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_rostelecom_rt-fe-1a.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips, release/23.05

#14288 [23.05] mediatek: add support for Routerich AX3000
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-routerich-ax3000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/23.05

#14276 rockchip: configure eth pad driver strength for orangepi r1 plus lts
  target/linux/generic/backport-5.15/791-v6.6-11-net-phy-motorcomm-Add-pad-drive-strength-cfg-support.patch
  target/linux/generic/backport-6.1/791-v6.6-11-net-phy-motorcomm-Add-pad-drive-strength-cfg-support.patch
  target/linux/rockchip/patches-6.1/015-v6.8-arm64-dts-rockchip-configure-eth-pad-driver-strength-for-.patch
Labels: kernel, target/rockchip

#14328 mac80211: add missing newline for "min_tx_power"
  package/kernel/mac80211/files/lib/netifd/wireless/mac80211.sh
Labels: core packages

#13939 ag71xx: fix wrong register definition issue
  target/linux/ath79/files/drivers/net/ethernet/atheros/ag71xx/ag71xx.h
  target/linux/ath79/files/drivers/net/ethernet/atheros/ag71xx/ag71xx_main.c
Labels: kernel, target/ath79

#14334 [openwrt-23.05] rockchip: configure eth pad driver strength for orangepi r1 plus lts
  target/linux/generic/backport-5.15/791-v6.6-11-net-phy-motorcomm-Add-pad-drive-strength-cfg-support.patch
  target/linux/rockchip/patches-5.15/009-v6.8-arm64-dts-rockchip-configure-eth-pad-driver-strength-for-.patch
Labels: kernel, target/rockchip, release/23.05

#13821 mediatek: MERCUSYS MR90X v1: remove deprecated led "label" properties
  target/linux/mediatek/dts/mt7986b-mercusys-mr90x-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#14345 kernel: bump 5.15 to 5.15.146
  include/kernel-5.15
  target/linux/bcm47xx/patches-5.15/209-b44-register-adm-switch.patch
  target/linux/bcm47xx/patches-5.15/210-b44_phy_fix.patch
  target/linux/generic/backport-5.15/797-v5.17-net-usb-ax88179_178a-add-TSO-feature.patch
  target/linux/generic/backport-5.15/828-v6.4-0003-of-Rename-of_modalias_node.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-5.15/940-ksmbd-have-a-dependency-on-cifs-arc4.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.15/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/mediatek/patches-5.15/432-drivers-spi-Add-support-for-dynamic-calibration.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
Labels: target/bcm47xx, build/scripts/tools, kernel, target/mediatek

#14346 kernel: bump 6.1 to 6.1.71
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0227-spi-Force-CS_HIGH-if-GPIO-descriptors-are-used.patch
  target/linux/gemini/patches-6.1/0002-usb-fotg210-Collect-pieces-of-dual-mode-controller.patch
  target/linux/generic/backport-6.1/828-v6.4-0003-of-Rename-of_modalias_node.patch
  target/linux/mediatek/patches-6.1/432-drivers-spi-Add-support-for-dynamic-calibration.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mediatek, target/gemini

#13432 ipq807x: add support for Linksys MX4200 V1 and V2
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  package/system/mtd/src/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200v1.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200v2.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/init.d/bootcount
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#14218 kernel: include metadata for built-in modules
  package/kernel/linux/Makefile
Labels: kernel, core packages

#14310 qualcommax: Fix Buffalo WXR-5950AX12 wifi MAC
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/qualcommax

#14307 ramips: add missing syscon compatible strings for MT7688 and RT3052
  target/linux/ramips/dts/mt7628an.dtsi
  target/linux/ramips/dts/rt3050.dtsi
Labels: target/ramips

#14347 [23.05] ramips: correct the PCIe port number for Unielec u7621-01
  target/linux/ramips/dts/mt7621_unielec_u7621-01.dtsi
Labels: target/ramips, release/23.05

#14356 ipq-wifi: bump version 2023-11-10-0c2e810e to 2024-01-06-71f45cff
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#14366 ipq-wifi: fix PKG_MIRROR_HASH
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#14355 mediatek: GL-MT6000: Add missing LED state definitions to DTS
  target/linux/mediatek/dts/mt7986a-glinet-gl-mt6000.dts
Labels: target/mediatek

#13388 mediatek: add support for YunCore AX835
  target/linux/mediatek/dts/mt7981b-yuncore-ax835.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#14381 imagebuilder: copy from buildroot only target/linux/generic and target/linux/<target> to reduce the size
  target/imagebuilder/Makefile
Labels: target/imagebuilder

#14322 ipq806x: add support for Fortinet FAP421E
  target/linux/ipq806x/base-files/etc/board.d/01_leds
  target/linux/ipq806x/base-files/etc/board.d/02_network
  target/linux/ipq806x/base-files/etc/board.d/05_compat-version
  target/linux/ipq806x/base-files/lib/upgrade/platform.sh
  target/linux/ipq806x/files/arch/arm/boot/dts/qcom-ipq8064-fap-421e.dts
  target/linux/ipq806x/image/generic.mk
Labels: target/ipq806x, kernel

#14379 mediatek: GL-MT6000: Change LED colors
  target/linux/mediatek/dts/mt7986a-glinet-gl-mt6000.dts
Labels: target/mediatek

#14073 gettext-full: Fix link error with host's libacl
  package/libs/gettext-full/Makefile
Labels: core packages

#14317 base-files: functions.sh: prepend() always adds separator
  package/base-files/files/lib/functions.sh
Labels: core packages, ready for merge

#14077 ipq806x: Stabilize LAN 2 MAC address, interface ordering
  target/linux/ipq806x/base-files/etc/board.d/02_network
  target/linux/ipq806x/files/arch/arm/boot/dts/qcom-ipq8068-ap3935.dts
Labels: target/ipq806x, kernel

#14382 bcm27xx: Remove unneeded kernel patch
  target/linux/bcm27xx/patches-6.1/950-0146-sc16is7xx-Don-t-spin-if-no-data-received.patch
Labels: target/bcm27xx

#14246 bcm27xx: 6.1: turn on cpu erratum for A72 and disable A53 for bcm2711
  target/linux/bcm27xx/bcm2711/config-6.1
Labels: target/bcm27xx, kernel

#13040 bmips: bcm6328: add Innacomm W3400V6
  target/linux/bmips/bcm6328/base-files/etc/board.d/02_network
  target/linux/bmips/dts/bcm6328-innacomm-w3400v6.dts
  target/linux/bmips/image/bcm6328.mk
Labels: target/bmips

#14405 kernel: bump 5.15 to 5.15.147
  include/kernel-5.15
  target/linux/generic/backport-5.15/797-v5.17-net-usb-ax88179_178a-add-TSO-feature.patch
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: build/scripts/tools, kernel

#14411 bcm27xx-utils: add new package
  package/utils/bcm27xx-utils/Makefile
  package/utils/bcm27xx-utils/patches/0001-raspinfo-adapt-to-OpenWrt.patch
Labels: core packages

#14424 bcm27xx-utils: fix compilation with GCC 13
  package/utils/bcm27xx-utils/Makefile
Labels: core packages

#14398 rockchip: fix boot from non-MMC devices
  target/linux/rockchip/image/Makefile
  target/linux/rockchip/image/default.bootscript
Labels: target/rockchip

#14327 [23.05] mediatek: filogic: add support for ASUS RT-AX59U
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-asus-rt-ax59u.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/23.05

#14169 ath79: generic: rework ar9342_ubnt_xw dtsi, and add support for Ubiquiti LiteBeam M5 (XW), Ubiquiti AirGrid M5 HP (XW), Ubiquiti PowerBeam M5 300 (XW)
  target/linux/ath79/dts/ar9342_ubnt_bullet-m-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_litebeam-m5-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_nanobeam-m5-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_nanostation-loco-m-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_nanostation-m-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_powerbeam-m2-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_powerbeam-m5-xw.dts
  target/linux/ath79/dts/ar9342_ubnt_xw.dtsi
  target/linux/ath79/dts/ar9342_ubnt_xw_rssileds.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic-ubnt.mk
Labels: target/ath79

#14442 kernel: bump 6.1 to 6.1.74
  include/kernel-6.1
Labels: build/scripts/tools

#14370 qualcommax: add SMP affinity script
  target/linux/qualcommax/ipq807x/base-files/etc/init.d/smp_affinity
Labels: target/qualcommax

#14388 lantiq: fix boot isues on danube boards
  target/linux/lantiq/patches-5.15/0321-MIPS-lantiq-register-smp_ops-on-non-smp-platforms.patch
Labels: target/lantiq

#14447 [22.03]: kernel: bump 5.10 to 5.10.208
  include/kernel-5.10
  target/linux/bcm27xx/patches-5.10/950-0046-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.10/950-0131-bcmgenet-Better-coalescing-parameter-defaults.patch
  target/linux/bcm27xx/patches-5.10/950-0153-net-bcmgenet-Workaround-2-for-Pi4-Ethernet-fail.patch
  target/linux/bcm27xx/patches-5.10/950-0334-net-bcmgenet-Reset-RBUF-on-first-open.patch
  target/linux/generic/hack-5.10/902-debloat_proc.patch
  target/linux/generic/pending-5.10/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/octeontx/patches-5.10/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/octeontx, release/22.03

#14446 [23.05]: kernel: bump 5.15 to 5.15.147
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0070-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0144-bcmgenet-Better-coalescing-parameter-defaults.patch
  target/linux/bcm27xx/patches-5.15/950-0165-net-bcmgenet-Workaround-2-for-Pi4-Ethernet-fail.patch
  target/linux/bcm27xx/patches-5.15/950-0292-net-bcmgenet-Reset-RBUF-on-first-open.patch
  target/linux/bcm27xx/patches-5.15/950-0914-mmc-block-Don-t-do-single-sector-reads-during-recove.patch
  target/linux/generic/backport-5.15/797-v5.17-net-usb-ax88179_178a-add-TSO-feature.patch
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, release/23.05

#14469 libxml2: update to 2.12.4
  package/libs/libxml2/Makefile
Labels: core packages

#14467 [23.05] realtek: d-link dgs-1210-10p improve sfp support
  target/linux/realtek/dts-5.15/rtl8382_d-link_dgs-1210-10p.dts
Labels: target/realtek, release/23.05

#14470 tools/cpio: update to 2.15
  tools/cpio/Makefile
Labels: build/scripts/tools

#14471 tools/mkimage: update to 2024.01
  tools/mkimage/Makefile
  tools/mkimage/patches/030-allow-to-use-different-magic.patch
Labels: build/scripts/tools

#14472 iproute2: update to 6.7.0
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/100-configure.patch
  package/network/utils/iproute2/patches/130-no_netem_tipc_dcb_man_vdpa.patch
  package/network/utils/iproute2/patches/140-keep_libmnl_optional.patch
  package/network/utils/iproute2/patches/145-keep_libelf_optional.patch
  package/network/utils/iproute2/patches/150-keep_libcap_optional.patch
  package/network/utils/iproute2/patches/155-keep_tirpc_optional.patch
  package/network/utils/iproute2/patches/190-fix-nls-rpath-link.patch
  package/network/utils/iproute2/patches/200-drop_libbsd_dependency.patch
  package/network/utils/iproute2/patches/300-selinux-configurable.patch
Labels: core packages

#14361 [23.05] ath79: generic: disable SPI-NOR write protect unconditionally
  target/linux/ath79/generic/config-default
Labels: kernel, target/ath79, release/23.05

#14488 bcm27xx: switch to bcm27xx-utils
  package/utils/bcm27xx-userland/Makefile
  target/linux/bcm27xx/Makefile
Labels: target/bcm27xx, core packages

#14484 qualcommax: 301w: enable using kernel for AQR firmware loadin
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-301w.dts
Labels: kernel, target/qualcommax

#14461 ipq806x: drop swconfig leftovers
  target/linux/ipq806x/image/generic.mk
Labels: target/ipq806x

#14499 lantiq: replace patch with upstream version
  target/linux/lantiq/patches-5.15/0321-v6.8-MIPS-lantiq-register-smp_ops-on-non-smp-platforms.patch
Labels: target/lantiq

#14507 tools/zlib: update to 1.3.1
  tools/zlib/Makefile
Labels: build/scripts/tools

#14508 tools/xz: update to 5.4.6
  tools/xz/Makefile
Labels: build/scripts/tools

#14510 libbsd: update to 0.11.8
  package/libs/libbsd/Makefile
  package/libs/libbsd/patches/001-fix-libpath.patch
Labels: core packages

#14514 tools/cmake: update to 3.28.2
  tools/cmake/Makefile
Labels: build/scripts/tools
