Repository openwrt/openwrt, pull requests merged in 2024-10, with the labels that each got.

#16561 bmips: fix kernel panic caused by missing CBR address
  target/linux/bmips/dts/bcm6358.dtsi
  target/linux/bmips/dts/bcm6368.dtsi
Labels: target/bmips

#16563 lantiq: backport latest upstream patches
  target/linux/lantiq/patches-6.6/0025-v6.12-net-ethernet-lantiq_etop-fix-memory-disclosure.patch
  target/linux/lantiq/patches-6.6/0026-v6.12-net-ethernet-lantiq_etop-remove-unused-variable.patch
  target/linux/lantiq/patches-6.6/0027-v6.11-net-ethernet-lantiq_etop-remove-redundant-device-nam.patch
  target/linux/lantiq/patches-6.6/0028-NET-lantiq-various-etop-fixes.patch
  target/linux/lantiq/patches-6.6/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
  target/linux/lantiq/patches-6.6/0050-v6.11-usb-dwc2-add-support-for-other-Lantiq-SoCs.patch
  target/linux/lantiq/patches-6.6/0051-v6.11-MIPS-lantiq-improve-USB-initialization.patch
Labels: target/lantiq

#16554 kernel: bump 6.6 to 6.6.53
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0070-spi-spidev-Completely-disable-the-spidev-warning.patch
  target/linux/bcm27xx/patches-6.6/950-0320-spi-spidev-Restore-loading-from-Device-Tree.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#16572 generic: backport upstream r8169 patches
  target/linux/generic/backport-6.6/780-22-v6.12-r8169-add-support-for-RTL8126A-rev.b.patch
  target/linux/generic/backport-6.6/780-23-v6.12-r8169-Fix-spelling-mistake-tx_underun-tx_underrun.patch
  target/linux/generic/backport-6.6/780-24-v6.12-r8169-disable-ALDPS-per-default-for-RTL8125.patch
  target/linux/generic/backport-6.6/780-25-v6.12-r8169-add-tally-counter-fields-added-with-RTL8125.patch
  target/linux/generic/backport-6.6/780-26-v6.12-r8169-add-missing-MODULE_FIRMWARE-entry-for-RTL8126A.patch
Labels: kernel

#16579 kernel: packages: kmod-pstore: remove deprecated Kconfig options
  package/kernel/linux/modules/fs.mk
Labels: kernel, core packages

#16508 kernel: ubnt-ledbar: use dev_err_probe
  package/kernel/ubnt-ledbar/src/leds-ubnt-ledbar.c
Labels: core packages

#16546 ramips: modernize ralink i2c driver
  target/linux/ramips/patches-6.6/825-i2c-MIPS-adds-ralink-I2C-driver.patch
Labels: target/ramips

#16535 x86: generic: config-6.6: refresh config
  target/linux/x86/config-6.6
Labels: kernel, target/x86

#16506 ath79: rb91x-key: use more devm
  target/linux/ath79/files/drivers/gpio/gpio-rb91x-key.c
Labels: kernel, target/ath79

#16388 audit: update to 3.1.5
  package/utils/audit/Makefile
  package/utils/audit/patches/0001-Implicit-builtin-functions.patch
Labels: core packages

#16543 base-files: /etc/sysctl.conf: clarity in comment
  package/base-files/files/etc/sysctl.conf
Labels: core packages

#16584 valgrind: Update to version 3.23
  package/devel/valgrind/Makefile
  package/devel/valgrind/patches/010-486180-Valgrind-MIPS-VexGuestArchState-has-no-member.patch
  package/devel/valgrind/patches/010-mips-Fix-new-syscall-numbers.patch
  package/devel/valgrind/patches/020-mips-skip-using-shared-syscall-numbers-for-mips32.patch
  package/devel/valgrind/patches/021-mips-skip-using-shared-syscall-numbers-for-mips64.patch
  package/devel/valgrind/patches/100-fix_configure_check.patch
  package/devel/valgrind/patches/130-fix_arm_arch_detection.patch
  package/devel/valgrind/patches/130-mips_fix_soft_float.patch
Labels: core packages

#16585 strace: Update to version 6.11
  package/devel/strace/Makefile
Labels: core packages

#16591 libjson-c: update to 0.18
  package/libs/libjson-c/Makefile
  package/libs/libjson-c/patches/001-dont-build-docs.patch
Labels: core packages

#16593 libxml2: update to 2.13.4
  package/libs/libxml2/Makefile
Labels: core packages

#16592 libnl: update to 3.10.0
  package/libs/libnl/Makefile
Labels: core packages

#16590 ethtool: update to 6.10
  package/network/utils/ethtool/Makefile
Labels: core packages

#16589 iproute2: update to 6.11.0
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/010-bridge-mst-fix-a-musl-build-issue.patch
  package/network/utils/iproute2/patches/011-bridge-mst-fix-a-further-musl-build-issue.patch
  package/network/utils/iproute2/patches/140-keep_libmnl_optional.patch
  package/network/utils/iproute2/patches/150-keep_libcap_optional.patch
  package/network/utils/iproute2/patches/155-keep_tirpc_optional.patch
  package/network/utils/iproute2/patches/200-drop_libbsd_dependency.patch
  package/network/utils/iproute2/patches/300-selinux-configurable.patch
Labels: core packages

#16602 kernel: bump 6.6 to 6.6.54
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0028-drm-vc4_hdmi-Allow-hotplug-detect-to-be-forced.patch
  target/linux/bcm27xx/patches-6.6/950-0029-vc4_hdmi-Avoid-log-spam-for-audio-start-failure.patch
  target/linux/bcm27xx/patches-6.6/950-0035-drm-vc4-Calculate-bpc-based-on-max_requested_bpc.patch
  target/linux/bcm27xx/patches-6.6/950-0037-drm-vc4-drop-unnecessary-and-harmful-HDMI-RGB-format.patch
  target/linux/bcm27xx/patches-6.6/950-0038-drm-vc4-Limit-max_bpc-to-8-on-Pi0-3.patch
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0076-bcm2835-rng-Avoid-initialising-if-already-enabled.patch
  target/linux/bcm27xx/patches-6.6/950-0468-drm-vc4-hdmi-Increase-MAI-fifo-dreq-threshold.patch
  target/linux/bcm27xx/patches-6.6/950-0481-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0483-usb-xhci-borrow-upstream-TRB_FETCH-quirk-on-VL805-ho.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-0578-drm-vc4-hdmi-Enable-the-audio-clock.patch
  target/linux/bcm27xx/patches-6.6/950-0585-drm-vc4-Introduce-generation-number-enum.patch
  target/linux/bcm27xx/patches-6.6/950-0601-drm-vc4-hvs-Remove-ABORT_ON_EMPTY-flag.patch
  target/linux/bcm27xx/patches-6.6/950-0612-drm-vc4-hdmi-Add-support-for-BCM2712-HDMI-controller.patch
  target/linux/bcm27xx/patches-6.6/950-0713-drm-vc4-crtc-Support-odd-horizontal-timings-on-BCM27.patch
  target/linux/bcm27xx/patches-6.6/950-0831-vc4-hdmi-Update-MAI_THR-for-D0.patch
  target/linux/bcm27xx/patches-6.6/950-0930-vc4-Add-jack-detection-to-HDMI-audio-driver.patch
  target/linux/bcm27xx/patches-6.6/950-1049-vc4-hdmi-Ignore-hotplug-interrupt-with-force_hotplug.patch
  target/linux/bcm27xx/patches-6.6/950-1109-fix-Hsync-and-Vsync-polarity-can-t-change-from-negat.patch
  target/linux/bcm27xx/patches-6.6/950-1117-drm-vc4-hdmi-Add-property-to-allow-manual-config-of-.patch
  target/linux/bcm27xx/patches-6.6/950-1127-drm-vc4-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.6/950-1199-drm-vc4-Disable-the-2pixel-clock-odd-timings-workaro.patch
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.6/780-08-v6.9-r8169-add-support-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-22-v6.12-r8169-add-support-for-RTL8126A-rev.b.patch
  target/linux/generic/backport-6.6/780-24-v6.12-r8169-disable-ALDPS-per-default-for-RTL8125.patch
  target/linux/generic/backport-6.6/851-v6.8-bus-mhi-host-pci_generic-Add-SDX75-based-modem-suppo.patch
  target/linux/generic/pending-6.6/360-selftests-bpf-portability-of-unprivileged-tests.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-6.6/810-pci_disable_common_quirks.patch
  target/linux/generic/pending-6.6/840-hwrng-bcm2835-set-quality-to-1000.patch
  target/linux/starfive/patches-6.6/0109-usb-xhci-To-improve-performance-usb-using-lowmem-for.patch
  target/linux/starfive/patches-6.6/0110-usb-xhci-using-dma_alloc_noncoherent-to-alloc-low-me.patch
Labels: target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel, target/bmips, target/starfive

#16603 rockchip: config-6.6: remove CONFIG_FORTIFY_SOURCE
  target/linux/rockchip/armv8/config-6.6
Labels: kernel, target/rockchip

#16609 iproute2: fix tc-tiny build failure
  package/network/utils/iproute2/patches/012-libnetlink-fix-build-with-musl-and-gcc-14.patch
Labels: core packages

#16607 gemini: apm821xx: Ignore return value of e2fsck
  target/linux/apm821xx/image/Makefile
  target/linux/gemini/image/Makefile
Labels: target/apm821xx, target/gemini

#16587 kernel: leds-ws2812b: cleanup
  package/kernel/leds-ws2812b/src/leds-ws2812b.c
Labels: core packages

#16514 ath10k-ct: switch to version 6.10
  package/kernel/ath10k-ct/Makefile
  package/kernel/ath10k-ct/patches/001-patch-version.patch
  package/kernel/ath10k-ct/patches/002-ath10k-6.10-remove-unsupported-feature.patch
  package/kernel/ath10k-ct/patches/010-api_update.patch
  package/kernel/ath10k-ct/patches/130-ath10k-read-qcom-coexist-support-as-a-u32.patch
  package/kernel/ath10k-ct/patches/201-wifi-ath10k-add-LED-and-GPIO-controlling-support-for.patch
  package/kernel/ath10k-ct/patches/202-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/ath10k-ct/patches/300-fix-fortify-checking-error.patch
  package/kernel/ath10k-ct/patches/960-0010-ath10k-limit-htt-rx-ring-size.patch
  package/kernel/ath10k-ct/patches/960-0011-ath10k-limit-pci-buffer-size.patch
  package/kernel/ath10k-ct/patches/988-ath10k-always-use-mac80211-loss-detection.patch
Labels: core packages

#16606 ramips: ER605v2 fix LED function definition
  target/linux/ramips/dts/mt7621_tplink_er605-v2.dts
Labels: target/ramips

#16558 linux-firmware: intel: update BE200 wifi firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#16616 mediatek: fix wrong compatible string
  target/linux/mediatek/dts/mt7622-linksys-e8450-ubi.dts
  target/linux/mediatek/files-6.6/arch/arm64/boot/dts/mediatek/mt7988a-bananapi-bpi-r4.dtsi
  target/linux/mediatek/files-6.6/arch/arm64/boot/dts/mediatek/mt7988a-rfb-spim-nand.dtso
  target/linux/mediatek/patches-6.6/911-dts-mt7622-bpi-r64-add-rootdisk.patch
Labels: target/mediatek

#16586 cmake.mk: disable shared libs for host packages
  include/cmake.mk
Labels: build/scripts/tools

#16619 ath10k-ct: select mac80211 debugfs support
  package/kernel/ath10k-ct/Makefile
Labels: core packages

#16617 tools: libdeflate: bump to 1.22
  tools/libdeflate/Makefile
  tools/libdeflate/patches/0001-lib-x86-increase-AVX-VNNI-gcc-prerequisite-to-12.1.patch
Labels: build/scripts/tools

#16624 [23.05] ipq40xx: fix MAC address on Meraki MR33 and MR74 after nvmem-layout
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4029-insect-common.dtsi
Labels: kernel, target/ipq40xx, release/23.05

#16613 mac80211: ath12k: allow country set for WCN7850
  package/kernel/mac80211/patches/ath12k/001-wifi-ath12k-add-11d-scan-offload-support-and-handle-country-code-for-WCN7850.patch
Labels: core packages

#16620 ath79: gpio-latch-mikrotik: use devm_mutex_init
  target/linux/ath79/files/drivers/gpio/gpio-latch-mikrotik.c
Labels: kernel, target/ath79

#16623 ipq40xx: fix MAC address on Meraki MR33 and MR74 after nvmem-layout
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-insect-common.dtsi
Labels: target/ipq40xx

#16519 ath79: ar7200 usb phy: simplify probe
  target/linux/ath79/patches-6.6/700-phy-add-ath79-usb-phys.patch
Labels: target/ath79

#16621 linux-firmware: Update Intel AX101/AX210 firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#15774 mikrotik wlan lz77 decompression
  target/linux/ath79/mikrotik/config-default
  target/linux/generic/files/drivers/platform/mikrotik/Kconfig
  target/linux/generic/files/drivers/platform/mikrotik/Makefile
  target/linux/generic/files/drivers/platform/mikrotik/rb_hardconfig.c
  target/linux/generic/files/drivers/platform/mikrotik/rb_lz77.c
  target/linux/generic/files/drivers/platform/mikrotik/rb_lz77.h
  target/linux/generic/files/drivers/platform/mikrotik/routerboot.h
  target/linux/ipq40xx/mikrotik/config-default
  target/linux/mvebu/cortexa72/config-6.6
  target/linux/ramips/mt7621/config-6.6
Labels: kernel, target/mvebu, target/ramips, target/ipq40xx, target/ath79

#16615 kernel: ubnt-ledbar: use devm_mutex_init
  package/kernel/ubnt-ledbar/src/leds-ubnt-ledbar.c
Labels: core packages

#16622 ath79: gpio-rb4xx: use devm_mutex_init
  target/linux/ath79/files/drivers/gpio/gpio-rb4xx.c
Labels: kernel, target/ath79

#16630 ath79: gpio-rb91x-key: use devm for mutex_init
  target/linux/ath79/files/drivers/gpio/gpio-rb91x-key.c
Labels: kernel, target/ath79

#16436 [23.05] ramips: add support for netis N6
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_netis_n6.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips, release/23.05

#16633 valgrind: Fix build on ARMv7
  package/devel/valgrind/Makefile
Labels: core packages

#16627 kernel: netdevices: add RmNet MAP support
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#16653 realtek: refresh patches
  target/linux/realtek/patches-6.6/708-drivers-net-phy-eee-support-for-rtl838x.patch
Labels: target/realtek

#16647 uboot-rockchip: Update to 2024.10
  package/boot/uboot-rockchip/Makefile
  package/boot/uboot-rockchip/patches/000-v2024.10-rc1-backport-upstream-dts-sync.patch
  package/boot/uboot-rockchip/patches/001-v2024.10-rc3-rockchip-add-support-for-Radxa-ROCK-Pi-E-v3.0.patch
  package/boot/uboot-rockchip/patches/002-v2024.10-rc3-board-rockchip-add-Radxa-ROCK-3-Model-C.patch
  package/boot/uboot-rockchip/patches/003-v2024.10-rc3-dm-adc-Add-SPL_ADC-Kconfig-symbol-for-use-of-ADC-in-.patch
  package/boot/uboot-rockchip/patches/004-v2024.10-rc3-board-rockchip-Add-Radxa-ZERO-3W-3E.patch
  package/boot/uboot-rockchip/patches/005-v2024.10-rc3-board-rockchip-Add-Radxa-ROCK-3B.patch
  package/boot/uboot-rockchip/patches/010-v2024.10-rc3-arm64-dts-rockchip-correct-the-model-name-for-Radxa-.patch
  package/boot/uboot-rockchip/patches/011-v2024.10-rc3-arm64-dts-rockchip-Correct-the-model-names-for-Radxa.patch
  package/boot/uboot-rockchip/patches/106-v2024.10-rc1-board-rockchip-Add-FriendlyElec-NanoPi-R6S.patch
  package/boot/uboot-rockchip/patches/107-v2024.10-rc1-board-rockchip-Add-FriendlyElec-NanoPi-R6C.patch
  package/boot/uboot-rockchip/patches/108-v2024.10-rc1-board-rockchip-add-ArmSoM-Sige7-Rk3588-board.patch
Labels: core packages, target/rockchip

#16663 generic: backport BLOCK OF support patch
  target/linux/bcm27xx/patches-6.6/950-0092-MMC-added-alternative-MMC-driver.patch
  target/linux/generic/backport-6.6/410-v6.13-01-block-add-support-for-defining-read-only-partitions.patch
  target/linux/generic/backport-6.6/410-v6.13-03-block-introduce-add_disk_fwnode.patch
  target/linux/generic/backport-6.6/410-v6.13-04-mmc-block-attach-partitions-fwnode-if-found-in-mmc-c.patch
  target/linux/generic/backport-6.6/410-v6.13-05-block-add-support-for-partition-table-defined-in-OF.patch
  target/linux/generic/config-6.6
  target/linux/generic/pending-6.6/451-block-partitions-populate-fwnode.patch
  target/linux/generic/pending-6.6/452-block-add-support-for-notifications.patch
  target/linux/generic/pending-6.6/457-mmc-block-set-fwnode-of-disk-devices.patch
  target/linux/generic/pending-6.6/458-mmc-block-set-GENHD_FL_NVMEM.patch
Labels: target/bcm27xx, kernel

#16667 realtek: scripts: fix error in belkin-header
  scripts/belkin-header.py
Labels: build/scripts/tools

#16539 openwrt-keyring: add apk public key for signing of package indexes
  package/system/openwrt-keyring/Makefile
Labels: core packages

#15332 lantiq: ase: disable adm6996 and swconfig
  target/linux/lantiq/ase/config-6.6
Labels: kernel, target/lantiq

#16678 wireless-regdb: Update to version 2024.10.07
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#16542 scripts/download.pl: use perl builtins instead of system()
  scripts/download.pl
Labels: build/scripts/tools

#16636 ramips: remove useless cs gpio code for rt2800 SPI driver
  target/linux/ramips/patches-6.6/821-SPI-ralink-add-Ralink-SoC-spi-driver.patch
Labels: target/ramips

#16597 toolchain/binutils: remove old versions
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.37/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.37/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.37/500-Change-default-emulation-for-mips64-linux.patch
  toolchain/binutils/patches/2.37/600-Close_the_file_descriptor.patch
  toolchain/binutils/patches/2.38/001-PR-30569-always-call-elf_backend_size_dynamic_sectio.patch
  toolchain/binutils/patches/2.38/002-PR-30569-delete-_bfd_mips_elf_early_size_sections.patch
  toolchain/binutils/patches/2.38/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.38/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.38/500-Change-default-emulation-for-mips64-linux.patch
  toolchain/binutils/patches/2.39/001-PR-30569-always-call-elf_backend_size_dynamic_sectio.patch
  toolchain/binutils/patches/2.39/002-PR-30569-delete-_bfd_mips_elf_early_size_sections.patch
  toolchain/binutils/patches/2.39/005-ld-fix-NEWS-typos.patch
  toolchain/binutils/patches/2.39/008-gas-Dwarf-properly-skip-zero-size-functions.patch
  toolchain/binutils/patches/2.39/009-PR29462-internal-error-in-relocate-at-powerpc.cc-107.patch
  toolchain/binutils/patches/2.39/011-PR29466-APP-NO_APP-with-.linefile.patch
  toolchain/binutils/patches/2.39/039-LoongArch-ld-Fix-relocation-error-of-pcrel.patch
  toolchain/binutils/patches/2.39/043-Re-PR29466-APP-NO_APP-with-linefile.patch
  toolchain/binutils/patches/2.39/050-PowerPC64-pcrel-got-relocs-against-local-symbols.patch
  toolchain/binutils/patches/2.39/055-Re-PowerPC64-pcrel-got-relocs-against-local-symbols.patch
  toolchain/binutils/patches/2.39/058-elf-Reset-alignment-for-each-PT_LOAD-segment.patch
  toolchain/binutils/patches/2.39/063-PR29542-PowerPC-gold-internal-error-in-get_output_vi.patch
  toolchain/binutils/patches/2.39/116-arm-Use-DWARF-numbering-convention-for-pseudo-regist.patch
  toolchain/binutils/patches/2.39/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.39/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.39/500-Change-default-emulation-for-mips64-linux.patch
  toolchain/binutils/patches/2.41/001-PR-30569-always-call-elf_backend_size_dynamic_sectio.patch
  toolchain/binutils/patches/2.41/002-PR-30569-delete-_bfd_mips_elf_early_size_sections.patch
  toolchain/binutils/patches/2.41/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.41/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.41/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

#16632 mediatek: ASUS TUF-AX6000: Add Green & Red LEDs
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
Labels: target/mediatek

#16256 ramips: use nvmem to get miktotik mac
  target/linux/ramips/dts/mt7621_mikrotik.dtsi
  target/linux/ramips/dts/mt7621_mikrotik_ltap-2hnd.dts
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-750gr3.dts
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-760igs.dts
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-7xx.dtsi
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-m11g.dts
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-m33g.dts
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ramips/mt7621/config-6.6
Labels: kernel, target/ramips

#16629 uboot-mediatek: update to U-Boot 2024.10
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/100-02-drivers-mtd-add-support-for-MediaTek-SPI-NAND-flash-.patch
  package/boot/uboot-mediatek/patches/100-03-mtd-mtk-snand-add-support-for-SPL.patch
  package/boot/uboot-mediatek/patches/100-04-env-add-support-for-generic-MTD-device.patch
  package/boot/uboot-mediatek/patches/100-05-mtd-add-a-new-mtd-device-type-for-NMBM.patch
  package/boot/uboot-mediatek/patches/100-06-mtd-add-core-facility-code-of-NMBM.patch
  package/boot/uboot-mediatek/patches/100-08-common-board_r-add-support-to-initialize-NMBM-after-.patch
  package/boot/uboot-mediatek/patches/100-09-cmd-add-nmbm-command.patch
  package/boot/uboot-mediatek/patches/100-10-cmd-mtd-add-markbad-subcommand-for-NMBM-testing.patch
  package/boot/uboot-mediatek/patches/100-11-env-add-support-for-NMBM-upper-MTD-layer.patch
  package/boot/uboot-mediatek/patches/100-13-cmd-add-a-new-command-for-NAND-flash-debugging.patch
  package/boot/uboot-mediatek/patches/100-14-mtd-spi-nor-add-support-to-read-flash-unique-ID.patch
  package/boot/uboot-mediatek/patches/100-16-cmd-bootmenu-add-ability-to-select-item-by-shortkey.patch
  package/boot/uboot-mediatek/patches/100-17-common-spl-spl_nand-enable-CONFIG_SYS_NAND_U_BOOT_OF.patch
  package/boot/uboot-mediatek/patches/100-18-board-mt7629-add-support-for-booting-from-SPI-NAND.patch
  package/boot/uboot-mediatek/patches/100-20-board-mt7981-add-reference-board-using-new-spi-nand-.patch
  package/boot/uboot-mediatek/patches/100-21-mtd-spi-nor-add-more-flash-ids.patch
  package/boot/uboot-mediatek/patches/100-22-mtd-spi-nand-backport-from-upstream-kernel.patch
  package/boot/uboot-mediatek/patches/100-23-mmc-mtk-sd-add-support-to-display-verbose-error-log.patch
  package/boot/uboot-mediatek/patches/100-24-cmd-ubi-make-volume-find-create-remove-APIs-public.patch
  package/boot/uboot-mediatek/patches/100-25-cmd-ubi-allow-creating-volume-with-all-free-spaces.patch
  package/boot/uboot-mediatek/patches/100-26-env-ubi-add-support-to-create-environment-volume-if-.patch
  package/boot/uboot-mediatek/patches/100-29-board-mediatek-wire-up-NMBM-support.patch
  package/boot/uboot-mediatek/patches/160-net-phy-add-support-for-Airoha-ethernet-PHY-driver.patch
  package/boot/uboot-mediatek/patches/200-cmd-add-imsz-and-imszb.patch
  package/boot/uboot-mediatek/patches/211-cmd-bootmenu-custom-title.patch
  package/boot/uboot-mediatek/patches/220-cmd-env-readmem.patch
  package/boot/uboot-mediatek/patches/250-fix-mmc-erase-timeout.patch
  package/boot/uboot-mediatek/patches/280-image-fdt-save-name-of-FIT-configuration-in-chosen-node.patch
  package/boot/uboot-mediatek/patches/300-mt7623-fix-mmc-get-env-dev.patch
  package/boot/uboot-mediatek/patches/301-mt7622-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/302-mt7623-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/303-mt7986-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/304-mt7981-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/305-mt7988-generic-reset-button-ignore-env.patch
  package/boot/uboot-mediatek/patches/310-mt7988-select-rootdisk.patch
  package/boot/uboot-mediatek/patches/311-mt7986-select-rootdisk.patch
  package/boot/uboot-mediatek/patches/312-mt7622-select-rootdisk.patch
  package/boot/uboot-mediatek/patches/314-mt7981-select-rootdisk.patch
  package/boot/uboot-mediatek/patches/410-add-linksys-e8450.patch
  package/boot/uboot-mediatek/patches/412-add-ubnt-unifi-6-lr.patch
  package/boot/uboot-mediatek/patches/442-add-bpi-r3-mini.patch
  package/boot/uboot-mediatek/patches/452-add-xiaomi-redmi-ax6s.patch
  package/boot/uboot-mediatek/patches/454-add-glinet-x3000.patch
Labels: core packages, target/mediatek

#16657 tools/cmake: update to 3.30.5
  tools/cmake/Makefile
Labels: build/scripts/tools

#16693 tools/ninja: update to 1.12.1 with same patches
  tools/ninja/Makefile
  tools/ninja/patches/001-backport-gtest.patch
  tools/ninja/patches/010-bootstrap-configure-only.patch
  tools/ninja/patches/100-make_jobserver_support.patch
Labels: build/scripts/tools

#16660 mediatek: filogic: reorder alphabetically
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#16713 uboot-mediatek: add noncached_set_region prototype to fix build
  package/boot/uboot-mediatek/patches/455-arm-provide-noncached_set_region-prototype-to-fix-build.patch
Labels: core packages, target/mediatek

#16715 opkg: update to Git HEAD (2024-10-16)
  package/system/opkg/Makefile
Labels: core packages

#16699 add python 3.12 support
  include/prereq-build.mk
Labels: build/scripts/tools

#16703 uboot-ath79: update to U-Boot v2024.10
  package/boot/uboot-ath79/Makefile
Labels: core packages

#16717 mpc85xx: p1010: fix NAND devices
  target/linux/mpc85xx/p1010/config-default
Labels: kernel, target/mpc85xx

#16720 ath11k-firmware: update IPQ8074 and QCN9074 to 2.9.0.1-02146
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

#11852 base-files: Increase failsafe trigger wait time from 2 to 4 sec
  package/base-files/Makefile
  package/base-files/image-config.in
Labels: core packages

#16719 package: busybox: update download link
  package/utils/busybox/Makefile
Labels: core packages

#16729 mediatek: filogic: convert Acer Predator W6 to use NVMEM framework
  target/linux/mediatek/dts/mt7986a-acer-predator-w6.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
Labels: target/mediatek

#11680 ath79: Use upstream b53 DSA driver for Ubiquiti EdgeSwitch 8XP
  package/kernel/linux/modules/netdevices.mk
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic-ubnt.mk
Labels: kernel, core packages, target/ath79

#16723 base-files: increase default system log size to 128 kB
  package/base-files/files/bin/config_generate
Labels: core packages

#16726 kernel: bump 6.6 to 6.6.57
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0483-usb-xhci-borrow-upstream-TRB_FETCH-quirk-on-VL805-ho.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0550-hwmon-Add-RP1-ADC-and-temperature-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0585-drm-vc4-Introduce-generation-number-enum.patch
  target/linux/bcm27xx/patches-6.6/950-0586-drm-vc4-Make-v3d-paths-unavailable-on-any-generation.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/bcm27xx/patches-6.6/950-1141-fs-ntfs3-Fix-memory-corruption-when-page_size-change.patch
  target/linux/gemini/patches-6.6/0001-net-ethernet-cortina-Drop-TSO-support.patch
  target/linux/gemini/patches-6.6/0004-net-ethernet-cortina-Restore-TSO-support.patch
  target/linux/generic/backport-6.6/777-netfilter-xtables-fix-typo-causing-some-targets-to-not-load-on-IPv6.patch
  target/linux/generic/backport-6.6/835-v6.9-net-phy-add-support-for-PHY-LEDs-polarity-modes.patch
  target/linux/generic/backport-6.6/841-v6.13-net-phy-support-active-high-property-for-PHY-LEDs.patch
  target/linux/generic/config-6.6
  target/linux/generic/hack-6.6/645-netfilter-connmark-introduce-set-dscpmark.patch
  target/linux/generic/pending-6.6/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/lantiq/patches-6.6/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/mvebu/patches-6.6/903-drivers-hwmon-Add-the-IEI-WT61P803-PUZZLE-HWMON-driv.patch
  target/linux/ramips/patches-6.6/840-serial-add-ugly-custom-baud-rate-hack.patch
  target/linux/ramips/patches-6.6/850-awake-rt305x-dwc2-controller.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/mvebu, target/ramips, target/ath79, target/gemini, target/rockchip

#16685 ramips: mt7621: add support for Gemtek WVRTM-127ACN and WVRTM-130ACN
  target/linux/ramips/dts/mt7621_gemtek_wvrtm-127acn.dts
  target/linux/ramips/dts/mt7621_gemtek_wvrtm-130acn.dts
  target/linux/ramips/dts/mt7621_gemtek_wvrtm-1xxacn.dtsi
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: kernel, target/ramips

#15949 remove some leftovers from ar71xx
  target/linux/ath79/dts/ar7242_buffalo_wzr-hp-g450h.dts
Labels: target/ath79

#15452 mwlwifi: fix compilation with 6.6 and 64-bit
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/001-Fix-compilation-warning-with-64-bit-system.patch
  package/kernel/mwlwifi/patches/001-Simplify-coredump-memcpy-in-mwl_fwcmd_get_fw_core_dump.patch
  package/kernel/mwlwifi/patches/002-Correctly-use-PTR_ERR-in-pcie_bf_mimo_ctrl_decode.patch
  package/kernel/mwlwifi/patches/003-Use-zu-and-zd-for-ssize_t-and-size_t.patch
  package/kernel/mwlwifi/patches/004-Fix-debugfs-compilation-warning-in-mwl_debugfs_info_read.patch
  package/kernel/mwlwifi/patches/005-Use-BUILD_BUG_ON.patch
  package/kernel/mwlwifi/patches/010-mwlwifi-fix-PCIe-DT-node-null-pointer-dereference.patch
  package/kernel/mwlwifi/patches/020-mac80211_update.patch
Labels: core packages

#16651 mediatek: leds-smartrg: cleanups
  target/linux/mediatek/files/drivers/leds/leds-smartrg-system.c
Labels: kernel, target/mediatek

#16588 ramips: cleanup ralink SPI driver
  target/linux/ramips/patches-6.6/821-SPI-ralink-add-Ralink-SoC-spi-driver.patch
Labels: target/ramips

#16504 iptables: backport "nft: track each register individually" from 1.9
  package/network/utils/iptables/Makefile
  package/network/utils/iptables/patches/104-nft-track-each-register-individually.patch
Labels: core packages

#16676 uboot-mvebu: update to version 2024.10
  package/boot/uboot-mvebu/Makefile
  package/boot/uboot-mvebu/patches/0001-arm-mvebu-turris_omnia-Enable-LTO-by-default-on-Turr.patch
  package/boot/uboot-mvebu/patches/100-mvebu-armada-8k-respect-CONFIG_DISTRO_DEFAULTS.patch
  package/boot/uboot-mvebu/patches/101-net-mvpp2-fix-10GBase-R-support.patch
  package/boot/uboot-mvebu/patches/102-arm-mvebu-add-support-for-MikroTik-RB5009UG-S-IN.patch
Labels: target/mvebu, core packages

#16650 realtek: use more devm
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

#16658 ramips: mt7621: mikrotik rb760igs: Include "hEX S" in model name
  target/linux/ramips/dts/mt7621_mikrotik_routerboard-760igs.dts
Labels: target/ramips

#16654 ipq40xx: dts: disable qpic_bam for EMMC and SPI Flash devices
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-mf287_common.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wac510.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-e2600ac-c2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-e2600ac.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3-lte6-kit.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-mf289f.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-orbi.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-u4019.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03v2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-wia3300-20.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-x1pro.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-ap-303h.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-ws-ap3915i.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-ws-ap391x.dts
Labels: target/ipq40xx

#16284 ath79: aruba-ap115: use nvmem
  target/linux/ath79/dts/qca9558_aruba_ap-115.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

#16631 ramips: modernize snd-mt7620 driver
  target/linux/ramips/patches-6.6/835-asoc-add-mt7620-support.patch
Labels: target/ramips

#16737 apm821xx: bring back AT803X_PHY
  target/linux/apm821xx/nand/config-default
Labels: target/apm821xx, kernel

#16507 kernel: gpio-nct5104d: use devm
  package/kernel/gpio-nct5104d/Makefile
  package/kernel/gpio-nct5104d/src/gpio-nct5104d.c
Labels: core packages

#16564 ipq40xx: make GL.iNet A1300 switch functional
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-gl-a1300.dts
Labels: target/ipq40xx

#16669 [23.05] generic: 5.15: add Winbond W25N01KV support
  target/linux/generic/backport-5.15/893-v6.12-mtd-spinand-winbond-add-support-for-W25N01KV.patch
Labels: kernel, release/23.05

#16343 hostapd: add support for SAE in PPSK option
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

#14975 dnsmasq: add filter-rr and cache-rr options
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#16556 ath79: add support for COMFAST CF-E355AC v2
  target/linux/ath79/dts/qca9531_comfast_cf-e355ac-v2.dts
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#16745 kernel: r8168: update to v8.054.00
  package/kernel/r8168/Makefile
Labels: core packages

#16740 mediatek: fix OpenWrt One ubinized image in IB
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#16749 siflower: gpio: use gpiochip_get_data
  target/linux/siflower/files-6.6/drivers/gpio/gpio-siflower.c
Labels: target/siflower

#16739 kernel: gpio-cascate: use gpiochip_get_data
  target/linux/generic/pending-6.6/801-gpio-gpio-cascade-add-generic-GPIO-cascade.patch
Labels: kernel

#16746 kernel: move CONFIG_DRM_OFDRM to generic
  target/linux/generic/config-6.6
  target/linux/qoriq/config-6.6
Labels: kernel, target/qoriq

#16641 iptables: update to 1.8.10
  include/netfilter.mk
  package/network/utils/iptables/Makefile
  package/network/utils/iptables/patches/010-add-set-dscpmark-support.patch
  package/network/utils/iptables/patches/020-treewide-use-uint-instead-of-u_int.patch
  package/network/utils/iptables/patches/030-revert-fix-build-for-missing-ETH_ALEN-definition.patch
  package/network/utils/iptables/patches/040-xshared-Fix-build-for-Werror-format-security.patch
  package/network/utils/iptables/patches/050-build-fix-error-during-out-of-tree-build.patch
  package/network/utils/iptables/patches/060-libxtables-unexport-init_extensions-declarations.patch
  package/network/utils/iptables/patches/070-extensions-string-Review-parse_string-function.patch
  package/network/utils/iptables/patches/101-remove-check-already.patch
  package/network/utils/iptables/patches/102-iptables-disable-modprobe.patch
  package/network/utils/iptables/patches/103-optional-xml.patch
  package/network/utils/iptables/patches/104-nft-track-each-register-individually.patch
  package/network/utils/iptables/patches/200-configurable_builtin.patch
  package/network/utils/iptables/patches/600-shared-libext.patch
  package/network/utils/iptables/patches/700-disable-legacy-revisions.patch
Labels: build/scripts/tools, core packages

#16711 scripts: linksys-image: add NAND devices
  scripts/linksys-image.sh
Labels: build/scripts/tools

#16758 kernel: bump 6.6 to 6.6.58
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0518-net-macb-Also-set-DMA-coherent-mask.patch
  target/linux/generic/hack-6.6/780-usb-net-MeigLink_modem_support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#16754 apm821xx: move CONFIG_GENERIC_PHY up
  target/linux/apm821xx/config-6.6
  target/linux/apm821xx/nand/config-default
  target/linux/apm821xx/sata/config-default
Labels: target/apm821xx, kernel

#16756 mpc85xx: move CONFIG_MTD_SPLIT_FIRMWARE up
  target/linux/mpc85xx/config-6.6
  target/linux/mpc85xx/p1010/config-default
  target/linux/mpc85xx/p1020/config-default
  target/linux/mpc85xx/p2020/config-default
Labels: kernel, target/mpc85xx

#16768 mbedtls: update to 3.6.2
  package/libs/mbedtls/Makefile
Labels: core packages

#16785 airoha: Clarify subtarget compatibility
  target/linux/airoha/an7581/target.mk
  target/linux/airoha/en7523/target.mk
Labels: target/airoha

#16793 kernel: add missing CONFIG_DM_AUDIT
  target/linux/generic/config-6.6
Labels: kernel

#16798 xdp-tools: re-add vlan_hdr struct
  package/network/utils/xdp-tools/patches/021-headers-xdp-drop-vlan_hdr-as-already-defined.patch
Labels: core packages

#16784 scripts/download.pl: read file natively
  scripts/download.pl
Labels: build/scripts/tools

#16771 ramips: use platform_get_irq
  target/linux/ramips/files/drivers/net/ethernet/ralink/esw_rt3050.c
Labels: kernel, target/ramips

#16649 ramips: modernize pwm driver
  target/linux/ramips/patches-6.6/845-pwm-add-mediatek-support.patch
Labels: target/ramips

#16787 xdp-tools: fix compilation when bpftool is installed
  package/network/utils/xdp-tools/Makefile
Labels: core packages

#16812 generic: backport upstream r8169 irq patch
  target/linux/generic/backport-6.6/780-22-v6.12-r8169-add-support-for-RTL8126A-rev.b.patch
  target/linux/generic/backport-6.6/780-23-v6.12-r8169-add-missing-MODULE_FIRMWARE-entry-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-24-v6.12-r8169-avoid-unsolicited-interrupts.patch
Labels: kernel

#16816 bcm27xx-utils: fix PKG_MIRROR_HASH
  package/utils/bcm27xx-utils/Makefile
Labels: core packages

#16807 ramips: Fix WiFi on Sercomm NA502 and NA502s
  target/linux/ramips/dts/mt7621_sercomm_na502.dts
  target/linux/ramips/dts/mt7621_sercomm_na502s.dts
Labels: target/ramips

#13477 [23.05] ath79: backport support for MikroTik RouterBOARD 750 r2 (hEX lite)
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-16m.dtsi
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-750-r2.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-95x.dtsi
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-lhg-hb.dtsi
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-map-2nd.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-mapl-2nd.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-wap-2nd.dts
  target/linux/ath79/dts/qca9533_mikrotik_routerboard-wapr-2nd.dts
  target/linux/ath79/image/mikrotik.mk
  target/linux/ath79/mikrotik/base-files/etc/board.d/01_leds
  target/linux/ath79/mikrotik/base-files/etc/board.d/02_network
Labels: target/ath79, release/23.05

#16788 ramips: linkit: replace driver with gpio-hog
  target/linux/ramips/dts/mt7628an_mediatek_linkit-smart-7688.dts
  target/linux/ramips/patches-6.6/855-linkit_bootstrap.patch
Labels: target/ramips

#16780 mikrotik: mtdsplit_minor: return 0 if not fatal, and accept filename "bootimage"
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_minor.c
Labels: kernel

#16779 ipq806x: Revert "ipq806x: swap lan leds for Meraki MR52"
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-mr52.dts
Labels: target/ipq806x

#16820 bcm27xx-utils: update to latest version
  package/utils/bcm27xx-utils/Makefile
  package/utils/bcm27xx-utils/patches/0001-raspinfo-adapt-to-OpenWrt.patch
Labels: core packages

#16828 CI: labeler: add bcm27xx-utils
  .github/labeler.yml
Labels: GitHub/CI

#16802 ramips: m4r v4: fix typo
  target/linux/ramips/dts/mt7621_tplink_deco-m4r-v4.dts
Labels: target/ramips

#16822 ipq806x: Backport: Revert "ipq806x: swap lan leds for Meraki MR52"
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8068-mr52.dts
Labels: target/ipq806x, release/23.05

#16774 ipq806x: Fix default MAC addresses on MR52 by moving to `nvmem-layout`
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8068-mr52.dts
Labels: target/ipq806x, release/23.05

#16826 bcm27xx-gpu-fw: update to latest version
  package/kernel/bcm27xx-gpu-fw/Makefile
Labels: target/bcm27xx, core packages

#16809 ath79: Really fix 5GHz on QCA9886 variant of ZTE MF286
  target/linux/ath79/dts/qca9563_zte_mf286.dts
Labels: target/ath79

#16810 [23.05] ath79: Really fix 5GHz on QCA9886 variant of ZTE MF286
  target/linux/ath79/dts/qca9563_zte_mf286.dts
Labels: target/ath79, release/23.05
