Repository openwrt/openwrt, pull requests merged in 2024-12, with the labels that each got.

#17144 rpcd: update to Git HEAD (2024-12-02)
  package/system/rpcd/Makefile
Labels: core packages

#17151 build: Unconditionally append kmod feed for BuildBot
  include/feeds.mk
Labels: build/scripts/tools

#17148 apk: update to Git HEAD (2024-11-30)
  package/system/apk/Makefile
Labels: core packages

#17164 hostapd: enable EAP-pwd support only for the SSL variants
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/files/hostapd-full.config
Labels: core packages

#17176 apk: add dependency on wget provider
  package/system/apk/Makefile
Labels: core packages

#17080 ramips: mt76x8: add support for Keenetic KN-3211
  target/linux/ramips/dts/mt7628an_keenetic_kn-3211.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: core packages, target/ramips, target/ath79, target/mediatek

#17128 ipq40xx: remove default MAC assignments
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq40x9-dr40x9.dts
Labels: target/ipq40xx

#17191 ucode: update to Git HEAD (2024-12-06)
  package/utils/ucode/Makefile
Labels: core packages

#17203 qualcommax: ipq807x: add Netgear DEVICE_VARS
  target/linux/qualcommax/image/ipq807x.mk
Labels: target/qualcommax

#17138 kernel: fallback-sprom: create separate header files
  target/linux/generic/files/drivers/bcma/fallback-sprom.c
  target/linux/generic/files/drivers/bcma/fallback-sprom.h
  target/linux/generic/files/drivers/ssb/fallback-sprom.c
  target/linux/generic/files/drivers/ssb/fallback-sprom.h
  target/linux/generic/hack-6.6/810-bcma-ssb-fallback-sprom.patch
Labels: kernel

#17179 busybox: Save shell history into /tmp
  package/utils/busybox/Config-defaults.in
  package/utils/busybox/Makefile
  package/utils/busybox/files/busybox-history-file.sh
Labels: core packages

#17066 ath79: gl-e750: use nvmem for mac addresses
  target/linux/ath79/dts/qca9531_glinet_gl-e750.dts
  target/linux/ath79/nand/base-files/etc/hotplug.d/ieee80211/10-fix-wifi-mac
Labels: target/ath79

#17073 bpftool: turn off libbfd feature in host build
  package/network/utils/bpftool/Makefile
Labels: core packages

#17201 mediatek: filogic: prevent faulty mac address assignment
  target/linux/mediatek/dts/mt7981b-cudy-wr3000-v1.dts
Labels: target/mediatek

#17210 mediatek: filogic: Migrate wifi configuration device paths
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/05-wifi-migrate
Labels: target/mediatek

#17110 [24.10] netifd: update to Git 768027c5a (2024-11-27)
  package/network/config/netifd/Makefile
Labels: core packages, release/24.10

#17206 iproute2: update to 6.12.0
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/010-bridge-mst-fix-a-musl-build-issue.patch
  package/network/utils/iproute2/patches/011-bridge-mst-fix-a-further-musl-build-issue.patch
Labels: core packages

#17056 tools/cmake: update to 3.31.2
  tools/cmake/Makefile
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/150-zstd-libarchive.patch
  tools/cmake/patches/160-disable_xcode_generator.patch
Labels: build/scripts/tools

#17209 lantiq: grow kernel partition Zyxel P-2812HNU-F1
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-f1.dts
  target/linux/lantiq/image/vr9.mk
  target/linux/lantiq/xrx200/base-files/etc/board.d/05_compat-version
Labels: kernel, target/lantiq

#17228 [23.05] ipq40xx: make GL.iNet A1300 switch functional
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4018-gl-a1300.dts
Labels: kernel, target/ipq40xx, release/23.05

#17192 qualcommax: use PHY regulator for USB GPIO
  target/linux/qualcommax/config-6.6
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6000-mr7350.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-aw1000.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rt-ax89x.dts
Labels: kernel, target/qualcommax

#17263 ramips: fix 2.4GHz WLAN issue for TL-WR902AC v4
  target/linux/ramips/dts/mt7628an_tplink_tl-wr902ac-v4.dts
Labels: target/ramips

#17247 [24.10] ath79: add support for KuWFi N650 CPE
  target/linux/ath79/dts/qca9563_kuwfi_n650.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: target/ath79, release/24.10

#17261 ath79: fix ath9k calibration data size for AR9132
  target/linux/ath79/dts/ar9132_buffalo_wzr-hp-g300nh.dtsi
  target/linux/ath79/dts/ar9132_tplink_tl-wa901nd-v2.dts
  target/linux/ath79/dts/ar9132_tplink_tl-wr1043nd-v1.dts
  target/linux/ath79/dts/ar9132_tplink_tl-wr941-v2.dts
Labels: target/ath79

#17282 kernel: generic: add pending patch
  target/linux/generic/pending-6.6/791-tg3-Fix-DMA-allocations-on-57766-devices.patch
Labels: kernel

#17274 ath79: fix tl-wa eth1 mac
  target/linux/ath79/dts/ar7240_tplink_tl-wa.dtsi
Labels: target/ath79

#17290 qualcommax: fix usb regulator supply for RT-AX89X
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rt-ax89x.dts
Labels: kernel, target/qualcommax

#17260 linux-firmware: ath11k: add QCA2066 firmware
  package/firmware/linux-firmware/qca_ath11k.mk
Labels: core packages

#17297 apk: disable tests
  package/system/apk/Makefile
  package/system/apk/patches/0001-openwrt-move-layer-db-to-temp-folder.patch
  package/system/apk/patches/0002-meson-add-tests-option.patch
Labels: core packages

#17276 ath79: tplink,deco-s4-v2: use nvmem for cal
  target/linux/ath79/dts/qca9563_tplink_deco-s4-v2.dts
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#17300 lantiq: grow kernel partition Zyxel P-2812HNU-F1
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_zyxel_p-2812hnu-f1.dts
  target/linux/lantiq/image/vr9.mk
  target/linux/lantiq/xrx200/base-files/etc/board.d/05_compat-version
Labels: kernel, target/lantiq, release/24.10

#17308 busybox: Fix hexdump applet with upstream patch
  package/utils/busybox/Makefile
  package/utils/busybox/patches/001-fix-non-x86-build.patch
  package/utils/busybox/patches/002-upstream-fix-hexdump.patch
Labels: core packages

#17318 octeon: enable AT803x PHY driver
  target/linux/octeon/config-6.6
Labels: kernel, target/octeon

#17313 mvebu: rb5009: add label-mac-device
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-7040-rb5009.dts
Labels: target/mvebu

#17311 ath79: ap5030dn: use nvmem
  target/linux/ath79/dts/qca9550_huawei_ap5030dn.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

#16442 Zyxel GS1900 firmware partition merge
  target/linux/realtek/dts/rtl8380_zyxel_gs1900.dtsi
  target/linux/realtek/dts/rtl8393_zyxel_gs1900-48.dts
  target/linux/realtek/image/common.mk
Labels: target/realtek

#17257 ramips: rt3050: fix wrong compatible
  target/linux/ramips/dts/rt3050.dtsi
Labels: target/ramips

#17155 build: d1: add SUPPORTED_DEVICES
  target/linux/d1/image/Makefile
Labels: target/d1

#17301 kernel: netdevices: add driver for Broadcom NetXtreme-C/E
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#17331 linux-firmware: package MediaTek MT7925 Bluetooth firmware
  package/firmware/linux-firmware/mediatek.mk
Labels: core packages

#17225 mediatek/filogic: add support for Cudy AP3000 v1
  target/linux/mediatek/dts/mt7981b-cudy-ap3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17172 mediatek: filogic: add support for Tenbay WR3000K
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-tenbay-wr3000k.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#17340 kernel: generic: netfilter: nft_set_hash: unaligned atomic read on st…
  target/linux/generic/pending-6.6/605-netfilter-nft_set_hash-unaligned-atomic-read-on-stru.patch
Labels: kernel

#16291 ath79: nbg6x16: use nvmem
  target/linux/ath79/dts/qca9557_zyxel_nbg6616.dts
  target/linux/ath79/dts/qca9558_zyxel_nbg6716.dts
  target/linux/ath79/dts/qca955x_zyxel_nbg6x16.dtsi
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ath79/generic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/ath79/nand/base-files/etc/hotplug.d/ieee80211/10-fix-wifi-mac
  target/linux/ath79/nand/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/ath79/nand/config-default
Labels: kernel, target/ath79

#17339 Revert "ipq40xx: use PHY to control USB GPIO"
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-wia3300-20.dts
  target/linux/ipq40xx/generic/config-default
Labels: kernel, target/ipq40xx

#17342 mbedtls: Deactivate ARIA block cipher by default
  package/libs/mbedtls/Config.in
  package/libs/mbedtls/Makefile
Labels: core packages

#17227 ath79: port buffalo WZR-450HP2 from ar71xx
  package/boot/uboot-envtools/files/ath79
  target/linux/ath79/dts/qca9558_buffalo_wzr-450hp2.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: core packages, target/ath79

#17296 mediatek: filogic: Add support for D-Link AQUILA PRO AI M60
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-dlink-aquila-pro-ai-m60-a1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#16869 kernel: leds-gca230718: clean up
  package/kernel/leds-gca230718/src/leds-gca230718.c
Labels: core packages

#16982 bmips: dts: fix pinctrl error
  target/linux/bmips/dts/bcm63268.dtsi
  target/linux/bmips/dts/bcm6362.dtsi
  target/linux/bmips/dts/bcm6368.dtsi
Labels: target/bmips

#17379 yafut: Mark as nonshared
  package/utils/yafut/Makefile
Labels: core packages

#17358 netfilter: add kmod-nfnetlink-ct{helper,timeout}
  config/Config-kernel.in
  package/kernel/linux/modules/netfilter.mk
Labels: kernel, core packages, release/24.10

#17363 [24.10]: mediatek: filogic: Add support for D-Link AQUILA PRO AI M60
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-dlink-aquila-pro-ai-m60-a1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/24.10

#17359 [24.10]: ath79: port buffalo WZR-450HP2 from ar71xx
  package/boot/uboot-envtools/files/ath79
  target/linux/ath79/dts/qca9558_buffalo_wzr-450hp2.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: core packages, target/ath79, release/24.10

#17248 [24.10] hostapd: add SAE support for wifi-station and optimize PSK file creation
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
  package/network/services/hostapd/files/hostapd.uc
Labels: core packages, release/24.10

#17279 ath79: add support for KuWfi CPE830(D) / YunCore CPE830(D)
  target/linux/ath79/dts/qca9533_yuncore_cpe830.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#17375 ramips: mt762{0,8}: reduce default MMC clock to 24 MHz
  target/linux/ramips/dts/mt7620a.dtsi
  target/linux/ramips/dts/mt7620a_hiwifi_hc5861.dts
  target/linux/ramips/dts/mt7628an.dtsi
Labels: target/ramips

#17322 tools/cmake: update to 3.31.3
  tools/cmake/Makefile
Labels: build/scripts/tools

#17383 lantiq: Remove legacy LED migration script
  target/linux/lantiq/xrx200/base-files/etc/uci-defaults/01_led_migration
  target/linux/lantiq/xrx200_legacy/base-files/etc/uci-defaults/01_led_migration
Labels: target/lantiq

#17330 mvebu: update 309-linksys-status-led.patch
  target/linux/mvebu/patches-6.6/309-linksys-status-led.patch
Labels: target/mvebu

#17388 netfilter: fix bogus reference to `kmod-nf-conntrack-timeout`
  package/kernel/linux/modules/netfilter.mk
Labels: kernel, core packages

#17396 generic: add missing CONFIG_LEDS_KTD202X symbol
  target/linux/generic/config-6.6
Labels: kernel

#17220 kernel: generic: patch: 802.2+LLC - set transport_header offset
  target/linux/generic/backport-6.6/902-net-llc-reset-skb-transport_header.patch
Labels: kernel

#17123 base-files: sysupgrade: add saving list of installed packages for APK
  package/base-files/files/sbin/sysupgrade
Labels: core packages

#17360 trusted-firmware-a.mk: fix release download URL
  include/trusted-firmware-a.mk
  package/boot/arm-trusted-firmware-stm32/Makefile
Labels: build/scripts/tools, core packages, target/stm32

#17060 bmips: pinctrl-bcm63268: add gpio function
  target/linux/bmips/patches-6.6/110-pinctrl-bcm63268-add-gpio-function.patch
Labels: target/bmips

#17414 ipq40xx: orbi: add ethernet0 alias
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-orbi.dtsi
Labels: target/ipq40xx

#17394 kernel: bump 6.6 to 6.6.68
  include/kernel-6.6
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/hack-6.6/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/starfive/patches-6.6/1009-net-stmmac-use-GFP_DMA32.patch
Labels: build/scripts/tools, kernel, target/starfive

#17427 ath79: add missing compatible for ath9k
  target/linux/ath79/dts/ar7242_avm_fritz300e.dts
Labels: target/ath79

#17420 loongarch64: remove redundant CONFIG_LIST_HARDENED
  target/linux/loongarch64/config-6.6
Labels: kernel, target/loongarch64

#17426 iproute2: fix GCC14 compilation
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/012-libnetlink-fix-build-with-musl-and-gcc-14.patch
  package/network/utils/iproute2/patches/013-endian.h.patch
  package/network/utils/iproute2/patches/014-basename.patch
  package/network/utils/iproute2/patches/015-limits.h.patch
  package/network/utils/iproute2/patches/016-limits.h.patch
  package/network/utils/iproute2/patches/017-linux-limits.patch
  package/network/utils/iproute2/patches/018-linux-limits.patch
  package/network/utils/iproute2/patches/400-rdma-include-libgen.h-for-basename.patch
Labels: core packages
