Repository openwrt/openwrt, pull requests merged in 2024-07, with the labels that each got.

#15849 bmips: enet: restore netif_napi_add weight
  target/linux/bmips/files/drivers/net/ethernet/broadcom/bcm6348-enet.c
  target/linux/bmips/files/drivers/net/ethernet/broadcom/bcm6368-enetsw.c
Labels: kernel, target/bmips

#15828 ramips: remove useless compatible strings from SoC dtsi
  target/linux/ramips/dts/mt7620a.dtsi
  target/linux/ramips/dts/mt7620n.dtsi
  target/linux/ramips/dts/mt7628an.dtsi
  target/linux/ramips/dts/rt2880.dtsi
  target/linux/ramips/dts/rt3050.dtsi
  target/linux/ramips/dts/rt3352.dtsi
  target/linux/ramips/dts/rt3883.dtsi
  target/linux/ramips/dts/rt5350.dtsi
  target/linux/ramips/patches-6.6/801-DT-Add-documentation-for-gpio-ralink.patch
Labels: target/ramips

#15854 tools/e2fsprogs: fixup STAGING_DIR_HOST path evaluation in shell scripts
  tools/e2fsprogs/Makefile
Labels: build/scripts/tools

#15851 f2fs-tools: Add missing 'f2fslabel' symlink
  package/utils/f2fs-tools/Makefile
Labels: core packages

#15855 target.mk: fix arm architecture level detection
  include/target.mk
Labels: build/scripts/tools

#15858 build: fix missing SOURCE_VERSION variable
  include/kernel-build.mk
Labels: build/scripts/tools

#15844 ipq40xx: add BDFs for Linksys WHW03 V1
  package/firmware/ipq-wifi/Makefile
  target/linux/ipq40xx/image/generic.mk
Labels: core packages, target/ipq40xx

#15815 uboot-rockchip: use u-boot-rockchip.bin
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/image/Makefile
Labels: core packages, target/rockchip

#15866 tools: mkimage: update to U-Boot release v2024.07
  tools/mkimage/Makefile
Labels: build/scripts/tools

#15867 uboot-envtools: update to U-Boot release v2024.07
  package/boot/uboot-envtools/Makefile
  package/boot/uboot-envtools/patches/010-fw_env-fix-reading-NVMEM-device-s-compatible-value.patch
  package/boot/uboot-envtools/patches/011-fw_env-keep-calling-read-until-whole-flash-block-is-.patch
  package/boot/uboot-envtools/patches/012-fw_env-autodetect-NAND-erase-size-and-env-sectors.patch
Labels: core packages

#15861 uboot-rockchip: Update to 2024.07
  package/boot/uboot-rockchip/Makefile
Labels: core packages, target/rockchip

#15819 kernel: bump 6.1 to 6.1.96
  include/kernel-6.1
  target/linux/generic/hack-6.1/765-mxl-gpy-control-LED-reg-from-DT.patch
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/510-block-add-uImage.FIT-subimage-block-driver.patch
  target/linux/generic/pending-6.1/630-packet_socket_type.patch
  target/linux/generic/pending-6.1/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/starfive/patches-6.1/0112-dmaengine-dw-axi-dmac-Add-support-for-StarFive-JH711.patch
  target/linux/starfive/patches-6.1/0113-dmaengine-dw-axi-dmac-Increase-polling-time-to-DMA-t.patch
  target/linux/starfive/patches-6.1/1007-dmaengine-dw-axi-dmac-Handle-xfer-start-while-non-id.patch
  target/linux/starfive/patches-6.1/1008-dmaengine-dw-axi-dmac-Add-StarFive-JH7100-support.patch
Labels: build/scripts/tools, kernel

#15818 kernel: bump 6.6 to 6.6.36
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.6/950-0536-dmaengine-dw-axi-dmac-Fixes-for-RP1.patch
  target/linux/bcm27xx/patches-6.6/950-0967-dmaengine-dw-axi-dmac-Fix-a-non-atomic-update.patch
  target/linux/bcm27xx/patches-6.6/950-0986-Revert-net-usb-ax88179_178a-avoid-two-consecutive-de.patch
  target/linux/bcm27xx/patches-6.6/950-1047-dw-axi-dmac-platform-Avoid-trampling-with-zero-lengt.patch
  target/linux/bmips/patches-6.6/010-v6.10-mips-bmips-BCM6358-make-sure-CBR-is-correctly-set.patch
  target/linux/generic/hack-6.6/765-mxl-gpy-control-LED-reg-from-DT.patch
  target/linux/generic/hack-6.6/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/generic/hack-6.6/810-bcma-ssb-fallback-sprom.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/pending-6.6/600-netfilter_conntrack_flush.patch
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/mediatek/patches-6.6/732-net-phy-mxl-gpy-don-t-use-SGMII-AN-if-using-phylink.patch
  target/linux/mediatek/patches-6.6/830-v6.7-39-thermal-lvts-Convert-to-platform-remove-callback-ret.patch
  target/linux/mediatek/patches-6.6/830-v6.7-40-thermal-drivers-mediatek-lvts_thermal-Make-coeff-con.patch
  target/linux/mediatek/patches-6.6/830-v6.7-42-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-sup.patch
  target/linux/mediatek/patches-6.6/830-v6.7-45-thermal-drivers-mediatek-lvts_thermal-Add-suspend-an.patch
  target/linux/mediatek/patches-6.6/830-v6.7-47-thermal-drivers-mediatek-lvts_thermal-Add-mt8192-sup.patch
  target/linux/mvebu/patches-6.6/701-mvpp2-read-mac-address-from-nvmem.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mvebu, target/mediatek, target/bmips

#15877 bcm27xx: update to latest RPi patches
  target/linux/bcm27xx/patches-6.6/950-0967-dmaengine-dw-axi-dmac-Fix-a-non-atomic-update.patch
  target/linux/bcm27xx/patches-6.6/950-1047-dw-axi-dmac-platform-Avoid-trampling-with-zero-lengt.patch
  target/linux/bcm27xx/patches-6.6/950-1133-drivers-mmc-sdhci-brcmstb-improve-bcm2712-card-remov.patch
  target/linux/bcm27xx/patches-6.6/950-1136-feat-Add-support-for-SunFounder-PiPower-3-overlay.patch
  target/linux/bcm27xx/patches-6.6/950-1137-pwm-gpio-pwm-follow-pwm_apply_might_sleep-rename.patch
  target/linux/bcm27xx/patches-6.6/950-1138-drm-bridge-panel-Ensure-backlight-is-reachable.patch
  target/linux/bcm27xx/patches-6.6/950-1141-fs-ntfs3-Fix-memory-corruption-when-page_size-change.patch
  target/linux/bcm27xx/patches-6.6/950-1142-fixup-drivers-mmc-sdhci-brcmstb-bcm2712-supports-HS4.patch
  target/linux/bcm27xx/patches-6.6/950-1144-dmaengine-dw-axi-dmac-Fixes-for-RP1.patch
  target/linux/bcm27xx/patches-6.6/950-1145-fixup-dmaengine-dw-axi-dmac-Fixes-for-RP1.patch
Labels: target/bcm27xx

#14988 generic: mtk_eth_soc: add support for flow-control settings
  target/linux/generic/backport-6.6/752-30-v6.10-net-ethernet-mtk_eth_soc-implement-.-get-set-_pausep.patch
  target/linux/generic/pending-6.6/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
Labels: kernel

#15872 [23.05]: wolfssl: Update to 5.7.0
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages, release/23.05

#15873 [23.05]: openssl: update to 3.0.14
  package/libs/openssl/Makefile
Labels: core packages, release/23.05

#15776 [23.05] mediatek: Add support for D-Link EAGLE PRO AI R32
  package/boot/uboot-envtools/files/mediatek_mt7622
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-ax3200-a1.dtsi
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-m32-a1.dts
  target/linux/mediatek/dts/mt7622-dlink-eagle-pro-ai-r32-a1.dts
  target/linux/mediatek/image/mt7622.mk
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
  target/linux/mediatek/mt7622/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/mt7622/base-files/etc/init.d/bootcount
  target/linux/mediatek/mt7622/base-files/lib/upgrade/platform.sh
Labels: core packages, target/mediatek, release/23.05

#15874 [22.03]: wolfssl: Update to 5.7.0
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages, release/22.03

#15883 kernel: bump 6.1 to 6.1.97
  include/kernel-6.1
  target/linux/armsr/patches-6.1/701-v6.2-0001-net-dpaa2-eth-don-t-use-ENOTSUPP-error-code.patch
  target/linux/armsr/patches-6.1/701-v6.2-0005-net-dpaa2-eth-assign-priv-mac-after-dpaa2_mac_connec.patch
  target/linux/armsr/patches-6.1/701-v6.2-0009-net-dpaa2-eth-connect-to-MAC-before-requesting-the-e.patch
  target/linux/armsr/patches-6.1/701-v6.2-0010-net-dpaa2-eth-serialize-changes-to-priv-mac-with-a-m.patch
  target/linux/armsr/patches-6.1/701-v6.2-0012-net-dpaa2-mac-move-rtnl_lock-only-around-phylink.patch
  target/linux/generic/backport-6.1/020-v6.3-06-BACKPORT-mm-multi-gen-LRU-per-node-lru_gen_folio-lis.patch
  target/linux/generic/pending-6.1/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: build/scripts/tools, kernel, target/armsr

#15904 kernel: fix x86 compilation on macOS
  target/linux/generic/hack-6.6/200-tools_portability.patch
Labels: kernel

#15901 [23.05]: kernel: bump 5.15 to 5.15.162
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0070-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0108-sc16is7xx-Don-t-spin-if-no-data-received.patch
  target/linux/bcm27xx/patches-5.15/950-0163-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.15/950-0166-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-5.15/950-0231-sc16is7xx-Fix-for-hardware-flow-control.patch
  target/linux/bcm27xx/patches-5.15/950-0421-Support-RPi-DPI-interface-in-mode6-for-18-bit-color.patch
  target/linux/bcm27xx/patches-5.15/950-0479-drm-panel-simple-Add-a-timing-for-the-Raspberry-Pi-7.patch
  target/linux/bcm27xx/patches-5.15/950-0600-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.15/950-0605-xhci-refactor-out-TRBS_PER_SEGMENT-define-in-runtime.patch
  target/linux/bcm27xx/patches-5.15/950-0606-usb-xhci-add-VLI_TRB_CACHE_BUG-quirk.patch
  target/linux/bcm27xx/patches-5.15/950-0686-drm-panel-simple-add-Geekworm-MZP280-Panel.patch
  target/linux/bcm27xx/patches-5.15/950-0717-usb-xhci-add-a-quirk-for-Superspeed-bulk-OUT-transfe.patch
  target/linux/bcm27xx/patches-5.15/950-0747-usb-xhci-rework-XHCI_VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm53xx/patches-5.15/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/bmips/patches-5.15/200-mips-bmips-automatically-detect-CPU-frequency.patch
  target/linux/bmips/patches-5.15/201-mips-bmips-automatically-detect-RAM-size.patch
  target/linux/bmips/patches-5.15/203-mips-bmips-dma-fix-CBR-address.patch
  target/linux/generic/backport-5.15/606-v5.18-xdp-add-frags-support-to-xdp_return_-buff-frame.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/783-v6.1-net-sfp-re-implement-soft-state-polling-setup.patch
  target/linux/generic/backport-5.15/784-v6.1-net-sfp-move-quirk-handling-into-sfp.c.patch
  target/linux/generic/backport-5.15/797-v5.17-net-usb-ax88179_178a-add-TSO-feature.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.15/726-net-eth-dpaa2-eth-do-not-hold-rtnl_lock.patch
  target/linux/generic/hack-5.15/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/630-packet_socket_type.patch
  target/linux/generic/pending-5.15/655-increase_skb_pad.patch
  target/linux/generic/pending-5.15/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-5.15/750-skb-Do-mix-page-pool-and-page-referenced-frags-in-GR.patch
  target/linux/generic/pending-5.15/779-net-vxlan-don-t-learn-non-unicast-L2-destinations.patch
  target/linux/lantiq/patches-5.15/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/mediatek/patches-5.15/702-v5.17-net-mdio-add-helpers-to-extract-clause-45-regad-and-.patch
  target/linux/realtek/patches-5.15/020-v5.17-net-mdio-add-helpers-to-extract-clause-45-regad-and-.patch
  target/linux/realtek/patches-5.15/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
Labels: target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/ath79, target/mediatek, target/realtek, target/bmips, release/23.05

#15902 [22.03]: kernel: bump 5.10 to 5.10.221
  include/kernel-5.10
  target/linux/apm821xx/patches-5.10/802-usb-xhci-force-msi-renesas-xhci.patch
  target/linux/at91/patches-5.10/127-regulator-core-validate-selector-against-linear_min_.patch
  target/linux/at91/patches-5.10/128-regulator-core-do-not-continue-if-selector-match.patch
  target/linux/at91/patches-5.10/129-regulator-core-return-zero-for-selectors-lower-than-.patch
  target/linux/ath79/patches-5.10/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.10/950-0088-sc16is7xx-Don-t-spin-if-no-data-received.patch
  target/linux/bcm27xx/patches-5.10/950-0151-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-5.10/950-0201-mmc-sdhci-Silence-MMC-warnings.patch
  target/linux/bcm27xx/patches-5.10/950-0246-sc16is7xx-Fix-for-hardware-flow-control.patch
  target/linux/bcm27xx/patches-5.10/950-0355-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.10/950-0650-Support-RPi-DPI-interface-in-mode6-for-18-bit-color.patch
  target/linux/bcm27xx/patches-5.10/950-0733-usb-xhci-workaround-for-bogus-SET_DEQ_PENDING-endpoi.patch
  target/linux/bmips/patches-5.10/020-v5.12-mips-bmips-init-clocks-earlier.patch
  target/linux/bmips/patches-5.10/200-mips-bmips-automatically-detect-CPU-frequency.patch
  target/linux/bmips/patches-5.10/201-mips-bmips-automatically-detect-RAM-size.patch
  target/linux/generic/backport-5.10/821-v5.13-let-pci-host-bridges-declar-their-reliance-on-msi-domains.patch
  target/linux/generic/hack-5.10/902-debloat_proc.patch
  target/linux/generic/pending-5.10/630-packet_socket_type.patch
  target/linux/generic/pending-5.10/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/lantiq/patches-5.10/0001-MIPS-lantiq-add-pcie-driver.patch
  target/linux/realtek/patches-5.10/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
Labels: target/apm821xx, target/at91, target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/ath79, target/realtek, target/bmips, release/22.03

#15909 tools: util-linux: disable NLS again
  tools/util-linux/Makefile
Labels: build/scripts/tools

#15916 readline: override termlib for host
  package/libs/readline/Makefile
Labels: core packages

#15889 libiwinfo: update to Git HEAD (2024-07-06)
  package/network/utils/iwinfo/Makefile
Labels: core packages

#15870 rockchip: fix baudrate for Radxa E25
  package/boot/rkbin/Makefile
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/image/radxa-e25.bootscript
Labels: core packages, target/rockchip

#15897 ramips: limit max spi clock frequency to 50 MHz
  target/linux/ramips/dts/mt7620a_bolt_bl100.dts
  target/linux/ramips/dts/mt7620a_dlink_dch-m225.dts
  target/linux/ramips/dts/mt7620a_dlink_dwr-118-a1.dts
  target/linux/ramips/dts/mt7620a_domywifi.dtsi
  target/linux/ramips/dts/mt7620a_hiwifi_hc5x61.dtsi
  target/linux/ramips/dts/mt7620a_netcore_nw5212.dts
  target/linux/ramips/dts/mt7620a_phicomm_k2x.dtsi
  target/linux/ramips/dts/mt7620a_phicomm_psg1208.dts
  target/linux/ramips/dts/mt7620a_sercomm_cpj.dtsi
  target/linux/ramips/dts/mt7620a_xiaomi_miwifi-mini.dts
  target/linux/ramips/dts/mt7620a_youku_yk-l1.dtsi
  target/linux/ramips/dts/mt7621_arcadyan_we420223-99.dts
  target/linux/ramips/dts/mt7621_iptime_a6004ns-m.dtsi
  target/linux/ramips/dts/mt7621_jcg_jhr-ac876m.dts
  target/linux/ramips/dts/mt7621_jcg_y2.dts
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me2-lite.dts
  target/linux/ramips/dts/mt7621_tplink_archer-c6u-v1.dts
  target/linux/ramips/dts/mt7621_tplink_mr600-v2-eu.dts
  target/linux/ramips/dts/mt7621_wevo_w2914ns-v2.dtsi
  target/linux/ramips/dts/mt7621_winstars_ws-wn583a6.dts
  target/linux/ramips/dts/mt7621_yuncore_ax820.dts
  target/linux/ramips/dts/mt7621_yuncore_fap640.dts
  target/linux/ramips/dts/mt7621_yuncore_fap690.dts
  target/linux/ramips/dts/mt7628an_duzun_dm06.dts
  target/linux/ramips/dts/mt7628an_hiwifi_hc5x61a.dtsi
  target/linux/ramips/dts/mt7628an_motorola_mwr03.dts
  target/linux/ramips/dts/mt7628an_netgear_r6xxx.dtsi
  target/linux/ramips/dts/mt7628an_tplink_archer-mr200-v5.dts
  target/linux/ramips/dts/rt5350_zyxel_keenetic-lite-b.dts
Labels: target/ramips

#15915 ncurses: add foot terminfo
  package/libs/ncurses/Makefile
Labels: core packages

#15900 [22.03]: mac80211: Update to version 5.15.162-test1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath/400-ath_move_debug_code.patch
  package/kernel/mac80211/patches/ath10k/080-ath10k_thermal_config.patch
  package/kernel/mac80211/patches/ath10k/100-ath10k-support-bus-and-device-specific-API-1-BDF-sel.patch
  package/kernel/mac80211/patches/ath10k/120-ath10k-fetch-calibration-data-via-nvmem-subsystem.patch
  package/kernel/mac80211/patches/ath10k/921-ath10k_init_devices_synchronously.patch
  package/kernel/mac80211/patches/ath10k/974-ath10k_add-LED-and-GPIO-controlling-support-for-various-chipsets.patch
  package/kernel/mac80211/patches/ath10k/984-ath10k-Try-to-get-mac-address-from-dts.patch
  package/kernel/mac80211/patches/ath9k/542-ath9k_debugfs_diag.patch
  package/kernel/mac80211/patches/ath9k/551-ath9k_ubnt_uap_plus_hsr.patch
  package/kernel/mac80211/patches/brcm/862-brcmfmac-Disable-power-management.patch
  package/kernel/mac80211/patches/brcm/998-survey.patch
  package/kernel/mac80211/patches/build/001-fix_build.patch
  package/kernel/mac80211/patches/subsys/210-ap_scan.patch
  package/kernel/mac80211/patches/subsys/313-nl80211-MBSSID-and-EMA-support-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/318-cfg80211-allow-continuous-radar-monitoring-on-offcha.patch
  package/kernel/mac80211/patches/subsys/319-mac80211-introduce-set_radar_offchan-callback.patch
  package/kernel/mac80211/patches/subsys/320-cfg80211-rename-offchannel_chain-structs-to-backgrou.patch
  package/kernel/mac80211/patches/subsys/324-mac80211-MBSSID-beacon-handling-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/325-mac80211-MBSSID-channel-switch.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
Labels: core packages, release/22.03

#15836 [23.05] Backport mesh corruption fix
  package/kernel/mac80211/patches/subsys/361-mac80211-fix-mesh-id-corruption-on-32-bit-systems.patch
Labels: core packages, release/23.05

#15919 [23.05] ramips: limit max spi clock frequency to 50 MHz
  target/linux/ramips/dts/mt7620a_dlink_dch-m225.dts
  target/linux/ramips/dts/mt7620a_dlink_dwr-118-a1.dts
  target/linux/ramips/dts/mt7620a_domywifi.dtsi
  target/linux/ramips/dts/mt7620a_hiwifi_hc5x61.dtsi
  target/linux/ramips/dts/mt7620a_netcore_nw5212.dts
  target/linux/ramips/dts/mt7620a_phicomm_k2x.dtsi
  target/linux/ramips/dts/mt7620a_phicomm_psg1208.dts
  target/linux/ramips/dts/mt7620a_sercomm_cpj.dtsi
  target/linux/ramips/dts/mt7620a_xiaomi_miwifi-mini.dts
  target/linux/ramips/dts/mt7620a_youku_yk-l1.dtsi
  target/linux/ramips/dts/mt7621_arcadyan_we420223-99.dts
  target/linux/ramips/dts/mt7621_iptime_a6004ns-m.dtsi
  target/linux/ramips/dts/mt7621_jcg_jhr-ac876m.dts
  target/linux/ramips/dts/mt7621_jcg_y2.dts
  target/linux/ramips/dts/mt7621_snr_snr-cpe-me2-lite.dts
  target/linux/ramips/dts/mt7621_tplink_archer-c6u-v1.dts
  target/linux/ramips/dts/mt7621_tplink_mr600-v2-eu.dts
  target/linux/ramips/dts/mt7621_wevo_w2914ns-v2.dtsi
  target/linux/ramips/dts/mt7621_winstars_ws-wn583a6.dts
  target/linux/ramips/dts/mt7621_yuncore_ax820.dts
  target/linux/ramips/dts/mt7621_yuncore_fap640.dts
  target/linux/ramips/dts/mt7621_yuncore_fap690.dts
  target/linux/ramips/dts/mt7628an_duzun_dm06.dts
  target/linux/ramips/dts/mt7628an_hiwifi_hc5x61a.dtsi
  target/linux/ramips/dts/mt7628an_motorola_mwr03.dts
  target/linux/ramips/dts/mt7628an_netgear_r6xxx.dtsi
  target/linux/ramips/dts/rt5350_zyxel_keenetic-lite-b.dts
Labels: target/ramips, release/23.05

#15884 firmware: ipq-wifi: update to version 2024-07-04
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#15913 rockchip: stop "heartbeat" LED for Radxa CM3I(E25)
  target/linux/rockchip/patches-6.6/112-radxa-e25-add-led-aliases-and-stop-heartbeat.patch
Labels: target/rockchip

#15871 [22.03] ksmbd: Update to version 3.5.0
  package/kernel/ksmbd/Makefile
  package/kernel/ksmbd/patches/02-kernel-5.10.220-build.patch
Labels: core packages, release/22.03

#15928 kernel: bump 6.6 to 6.6.39
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/generic/backport-6.6/0080-v6.9-smp-Avoid-setup_max_cpus_namespace_collision_shadowing.patch
  target/linux/generic/backport-6.6/0081-v6.10-cpu-Fix-broken-cmdline-nosmp-and-maxcpus-0.patch
  target/linux/generic/backport-6.6/801-v6.11-gpio-mmio-do-not-calculate-bgpio_bits-via-ngpios.patch
  target/linux/generic/hack-6.6/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/pending-6.6/530-jffs2_make_lzma_available.patch
  target/linux/mediatek/patches-6.6/830-v6.7-39-thermal-lvts-Convert-to-platform-remove-callback-ret.patch
  target/linux/mediatek/patches-6.6/830-v6.7-40-thermal-drivers-mediatek-lvts_thermal-Make-coeff-con.patch
  target/linux/mediatek/patches-6.6/830-v6.7-42-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-sup.patch
  target/linux/mediatek/patches-6.6/830-v6.7-45-thermal-drivers-mediatek-lvts_thermal-Add-suspend-an.patch
  target/linux/mediatek/patches-6.6/830-v6.7-47-thermal-drivers-mediatek-lvts_thermal-Add-mt8192-sup.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mediatek

#15935 kernel: bump 6.1 to 6.1.98
  include/kernel-6.1
  target/linux/generic/pending-6.1/530-jffs2_make_lzma_available.patch
Labels: build/scripts/tools, kernel

#15955 mediatek: filogic: disable eMMC HS400 mode for Mount Stuart series
  target/linux/mediatek/dts/mt7988a-smartrg-mt-stuart.dtsi
Labels: target/mediatek

#15948 wolfssl: Update to version 5.7.2
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages

#15956 kernel: bump 6.6 to 6.6.40
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
Labels: target/bcm27xx, build/scripts/tools

#15958 kernel: bump 6.1 to 6.1.99
  include/kernel-6.1
Labels: build/scripts/tools

#15962 target.mk: further improve handling of default enabled SECCOMP
  include/target.mk
Labels: build/scripts/tools

#15973 kernel: bump 6.1 to 6.1.100
  include/kernel-6.1
  target/linux/generic/backport-6.1/809-v6.3-0001-nvmem-core-remove-spurious-white-space.patch
  target/linux/generic/backport-6.1/809-v6.3-0002-nvmem-core-add-an-index-parameter-to-the-cell.patch
  target/linux/generic/backport-6.1/809-v6.3-0004-nvmem-core-drop-the-removal-of-the-cells-in-nvmem_ad.patch
  target/linux/generic/backport-6.1/809-v6.3-0005-nvmem-core-add-nvmem_add_one_cell.patch
  target/linux/generic/backport-6.1/809-v6.3-0006-nvmem-core-use-nvmem_add_one_cell-in-nvmem_add_cells.patch
  target/linux/generic/backport-6.1/811-v6.4-0002-nvmem-core-introduce-NVMEM-layouts.patch
  target/linux/generic/backport-6.1/811-v6.4-0003-nvmem-core-handle-the-absence-of-expected-layouts.patch
  target/linux/generic/backport-6.1/811-v6.4-0004-nvmem-core-request-layout-modules-loading.patch
  target/linux/generic/backport-6.1/811-v6.4-0005-nvmem-core-add-per-cell-post-processing.patch
  target/linux/generic/backport-6.1/811-v6.4-0006-nvmem-core-allow-to-modify-a-cell-before-adding-it.patch
  target/linux/generic/backport-6.1/811-v6.4-0008-nvmem-cell-drop-global-cell_post_process.patch
  target/linux/generic/backport-6.1/811-v6.4-0009-nvmem-core-provide-own-priv-pointer-in-post-process-.patch
  target/linux/generic/backport-6.1/811-v6.4-0017-nvmem-core-support-specifying-both-cell-raw-data-pos.patch
  target/linux/generic/backport-6.1/813-v6.5-0011-nvmem-core-add-support-for-fixed-cells-layout.patch
  target/linux/generic/backport-6.1/814-v6.6-0014-nvmem-core-Create-all-cells-before-adding-the-nvmem-.patch
  target/linux/generic/backport-6.1/814-v6.6-0016-nvmem-core-Do-not-open-code-existing-functions.patch
  target/linux/generic/backport-6.1/814-v6.6-0017-nvmem-core-Notify-when-a-new-layout-is-registered.patch
  target/linux/generic/backport-6.1/816-v6.7-0002-nvmem-add-explicit-config-option-to-read-old-syntax-.patch
  target/linux/generic/backport-6.1/816-v6.7-0004-Revert-nvmem-add-new-config-option.patch
  target/linux/generic/backport-6.1/816-v6.7-0005-nvmem-Do-not-expect-fixed-layouts-to-grab-a-layout-d.patch
  target/linux/generic/backport-6.1/819-v6.8-0001-nvmem-Move-of_nvmem_layout_get_container-in-another-.patch
  target/linux/generic/backport-6.1/819-v6.8-0003-nvmem-Simplify-the-add_cells-hook.patch
  target/linux/generic/backport-6.1/819-v6.8-0004-nvmem-Move-and-rename-fixup_cell_info.patch
  target/linux/generic/backport-6.1/819-v6.8-0005-nvmem-core-Rework-layouts-to-become-regular-devices.patch
  target/linux/generic/backport-6.1/819-v6.8-0006-nvmem-core-Expose-cells-through-sysfs.patch
  target/linux/generic/backport-6.1/819-v6.8-0008-nvmem-layouts-refactor-.add_cells-callback-arguments.patch
  target/linux/generic/backport-6.1/819-v6.8-0009-nvmem-drop-nvmem_layout_get_match_data.patch
  target/linux/generic/backport-6.1/819-v6.8-0010-nvmem-core-add-nvmem_dev_size-helper.patch
  target/linux/generic/hack-6.1/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.1/804-nvmem-core-support-mac-base-fixed-layout-cells.patch
Labels: build/scripts/tools, kernel

#15974 kernel: bump 6.6 to 6.6.41
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0161-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-6.6/950-0163-usb-xhci-drop-and-add-the-endpoint-context-in-xhci_f.patch
  target/linux/generic/backport-6.6/816-v6.7-0004-Revert-nvmem-add-new-config-option.patch
  target/linux/generic/backport-6.6/819-v6.8-0001-nvmem-Move-of_nvmem_layout_get_container-in-another-.patch
  target/linux/generic/backport-6.6/819-v6.8-0003-nvmem-Simplify-the-add_cells-hook.patch
  target/linux/generic/backport-6.6/819-v6.8-0004-nvmem-Move-and-rename-fixup_cell_info.patch
  target/linux/generic/backport-6.6/819-v6.8-0005-nvmem-core-Rework-layouts-to-become-regular-devices.patch
  target/linux/generic/backport-6.6/819-v6.8-0006-nvmem-core-Expose-cells-through-sysfs.patch
  target/linux/generic/backport-6.6/819-v6.8-0008-nvmem-layouts-refactor-.add_cells-callback-arguments.patch
  target/linux/generic/backport-6.6/819-v6.8-0009-nvmem-drop-nvmem_layout_get_match_data.patch
  target/linux/generic/backport-6.6/819-v6.8-0010-nvmem-core-add-nvmem_dev_size-helper.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/hack-6.6/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.6/804-nvmem-core-support-mac-base-fixed-layout-cells.patch
  target/linux/ipq40xx/patches-6.6/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/lantiq/patches-6.6/0028-NET-lantiq-various-etop-fixes.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, target/ipq40xx, target/ath79

#15978 libbpf: Update to v1.4.5
  package/libs/libbpf/Makefile
Labels: core packages

#15953 mac80211: fix kconf build warnings
  package/kernel/mac80211/patches/build/005-fix-kconf-warnings.patch
Labels: core packages

#15939 lantiq: properly release descriptors in etop driver detach
  target/linux/lantiq/patches-6.6/0027-v6.11-net-ethernet-lantiq_etop-remove-redundant-device-nam.patch
  target/linux/lantiq/patches-6.6/0028-NET-lantiq-various-etop-fixes.patch
  target/linux/lantiq/patches-6.6/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
  target/linux/lantiq/patches-6.6/0701-NET-lantiq-etop-of-mido.patch
Labels: target/lantiq

#15757 ramips: mt7620: remove kmod-switch-rtl8366-smi from package list
  target/linux/ramips/image/mt7620.mk
Labels: target/ramips

#15887 mediatek: add ABT ASR3000 support
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/444-add-abt_asr3000.patch
  target/linux/mediatek/dts/mt7981b-abt-asr3000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#15946 base-files: ipcalc.sh handle start and range being empty strings
  package/base-files/files/bin/ipcalc.sh
Labels: core packages

#15932 ath79: qca9563: Ubiquiti Amplifi Router HD: add DEVICE_VENDOR Ubiquiti
  target/linux/ath79/image/generic-ubnt.mk
Labels: target/ath79

#14690 comfast: match brand name across supported devices
  target/linux/mediatek/image/filogic.mk
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips, target/mediatek

#15923 rockchip: make SATA(AHCI) really work on Radxa E25
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

#15876 ramips: add support for Wavlink WL-WN531G3-A2
  target/linux/ramips/dts/mt7620a_wavlink_wl-wn531g3-a2.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

#15886 kernel: modules: video: add kmod-video-gspca-pac7302
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

#14401 ramips: add support for Netgear WAX214v2
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_netgear_wax214v2.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#15744 ramips: add support for Keenetic KN-3510
  target/linux/ramips/dts/mt7621_keenetic_kn-3510.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#15967 sunxi: add csi video support for nanopi-neo-air
  target/linux/sunxi/patches-6.6/451-sunxi-add-csi-video-support-for-nanopi-neo-air.patch
Labels: target/sunxi

#15922 wifi-scripts: add missing dependency on ucode-mod-rtnl
  package/network/config/wifi-scripts/Makefile
Labels: core packages

#15985 rockchip: add support for Radxa ROCK 3A
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.6/115-rock-3a-add-led-aliases-and-stop-heartbeat.patch
Labels: core packages, target/rockchip

#16007 mac80211: Fix wifi throughput
  package/kernel/mac80211/patches/subsys/350-v6.3-wifi-mac80211-Allow-NSS-change-only-up-to-capability.patch
  package/kernel/mac80211/patches/subsys/351-v6.9-wifi-mac80211-track-capability-opmode-NSS-separately.patch
Labels: core packages, release/23.05

#15982 [23.05]: kernel: bump 5.15 to 5.15.163
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm63xx/patches-5.15/143-gpio-fix-device-tree-gpio-hogs-on-dual-role-gpio-pin.patch
  target/linux/generic/backport-5.15/020-v6.1-08-mm-multi-gen-LRU-support-page-table-walks.patch
  target/linux/generic/backport-5.15/423-v6.1-0003-mtd-add-ECC-error-accounting-for-each-read-request.patch
  target/linux/generic/backport-5.15/802-v5.16-0001-nvmem-core-rework-nvmem-cell-instance-creation.patch
  target/linux/generic/backport-5.15/802-v5.16-0002-nvmem-core-add-nvmem-cell-post-processing-callback.patch
  target/linux/generic/backport-5.15/804-v5.18-0001-nvmem-core-Remove-unused-devm_nvmem_unregister.patch
  target/linux/generic/backport-5.15/804-v5.18-0002-nvmem-core-Use-devm_add_action_or_reset.patch
  target/linux/generic/backport-5.15/804-v5.18-0003-nvmem-core-Check-input-parameter-for-NULL-in-nvmem_u.patch
  target/linux/generic/backport-5.15/805-v5.19-0004-nvmem-core-support-passing-DT-node-in-cell-info.patch
  target/linux/generic/backport-5.15/808-v6.2-0013-nvmem-core-fix-device-node-refcounting.patch
  target/linux/generic/backport-5.15/809-v6.3-0001-nvmem-core-remove-spurious-white-space.patch
  target/linux/generic/backport-5.15/809-v6.3-0002-nvmem-core-add-an-index-parameter-to-the-cell.patch
  target/linux/generic/backport-5.15/809-v6.3-0004-nvmem-core-drop-the-removal-of-the-cells-in-nvmem_ad.patch
  target/linux/generic/backport-5.15/809-v6.3-0005-nvmem-core-add-nvmem_add_one_cell.patch
  target/linux/generic/backport-5.15/809-v6.3-0006-nvmem-core-use-nvmem_add_one_cell-in-nvmem_add_cells.patch
  target/linux/generic/backport-5.15/811-v6.4-0002-nvmem-core-introduce-NVMEM-layouts.patch
  target/linux/generic/backport-5.15/811-v6.4-0003-nvmem-core-handle-the-absence-of-expected-layouts.patch
  target/linux/generic/backport-5.15/811-v6.4-0004-nvmem-core-request-layout-modules-loading.patch
  target/linux/generic/backport-5.15/811-v6.4-0005-nvmem-core-add-per-cell-post-processing.patch
  target/linux/generic/backport-5.15/811-v6.4-0006-nvmem-core-allow-to-modify-a-cell-before-adding-it.patch
  target/linux/generic/backport-5.15/811-v6.4-0008-nvmem-cell-drop-global-cell_post_process.patch
  target/linux/generic/backport-5.15/811-v6.4-0009-nvmem-core-provide-own-priv-pointer-in-post-process-.patch
  target/linux/generic/backport-5.15/811-v6.4-0017-nvmem-core-support-specifying-both-cell-raw-data-pos.patch
  target/linux/generic/backport-5.15/813-v6.5-0011-nvmem-core-add-support-for-fixed-cells-layout.patch
  target/linux/generic/backport-5.15/819-v6.6-0014-nvmem-core-Create-all-cells-before-adding-the-nvmem-.patch
  target/linux/generic/backport-5.15/819-v6.6-0016-nvmem-core-Do-not-open-code-existing-functions.patch
  target/linux/generic/backport-5.15/819-v6.6-0017-nvmem-core-Notify-when-a-new-layout-is-registered.patch
  target/linux/generic/backport-5.15/820-v6.7-0002-nvmem-add-explicit-config-option-to-read-old-syntax-.patch
  target/linux/generic/backport-5.15/820-v6.7-0004-Revert-nvmem-add-new-config-option.patch
  target/linux/generic/hack-5.15/800-GPIO-add-named-gpio-exports.patch
  target/linux/generic/pending-5.15/530-jffs2_make_lzma_available.patch
  target/linux/generic/pending-5.15/803-nvmem-core-fix-support-for-fixed-cells-NVMEM-layout.patch
  target/linux/generic/pending-5.15/804-nvmem-core-support-mac-base-fixed-layout-cells.patch
  target/linux/ipq40xx/patches-5.15/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/lantiq/patches-5.15/0028-NET-lantiq-various-etop-fixes.patch
  target/linux/lantiq/patches-5.15/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
  target/linux/lantiq/patches-5.15/0701-NET-lantiq-etop-of-mido.patch
  target/linux/lantiq/patches-5.15/0710-v5.16-net-lantiq-configure-the-burst-length-in-ethernet-dr.patch
  target/linux/lantiq/patches-5.15/0712-v5.16-net-ethernet-lantiq_etop-Fix-compilation-error.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
Labels: target/bcm63xx, build/scripts/tools, kernel, target/lantiq, target/ipq40xx, target/ath79, target/mediatek, release/23.05

#16016 mwlwifi: fix mac80211 broken after update to 6.9.9
  package/kernel/mwlwifi/patches/005-mac80211_update.patch
Labels: core packages

#16018 ncurses: Fix path in ncursesw.pc
  package/libs/ncurses/Makefile
Labels: core packages

#15992 octeon: ubnt-edgerouter: Disable PCIe
  target/linux/octeon/image/Makefile
Labels: target/octeon

#15952 build: MUSL and eglibc provide these symbols
  include/site/linux
Labels: build/scripts/tools

#15600 sunxi: backport Allwinner H616 DVFS support
  target/linux/sunxi/patches-6.6/017-v6.10-firmware-smccc-Export-revision-soc_id-function.patch
  target/linux/sunxi/patches-6.6/018-v6.10-cpufreq-dt-platdev-Blocklist-Allwinner-H616-618-SoCs.patch
  target/linux/sunxi/patches-6.6/019-v6.10-cpufreq-sun50i-Refactor-speed-bin-decoding.patch
  target/linux/sunxi/patches-6.6/020-v6.10-cpufreq-sun50i-Add-support-for-opp_supported_hw.patch
  target/linux/sunxi/patches-6.6/021-v6.10-cpufreq-sun50i-Add-H616-support.patch
  target/linux/sunxi/patches-6.6/022-v6.10-arm64-dts-allwinner-h616-Add-CPU-OPPs-table.patch
  target/linux/sunxi/patches-6.6/023-v6.10-arm64-dts-allwinner-h616-enable-DVFS-for-all-boards.patch
  target/linux/sunxi/patches-6.6/024-v6.10-cpufreq-sun50i-Fix-build-warning-around-snprint.patch
  target/linux/sunxi/patches-6.6/025-v6.10-cpufreq-sun50i-fix-error-returns-in-dt_has_supported_hw.patch
Labels: target/sunxi

#15777 ramips: mt7621: add support for Wodesys WD-R1802U
  target/linux/ramips/dts/mt7621_wodesys_wd-r1802u.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#16003 kernel: bump 6.1 to 6.1.102
  include/kernel-6.1
  target/linux/generic/hack-6.1/902-debloat_proc.patch
Labels: build/scripts/tools, kernel

#15984 rockchip: add support for Radxa ROCK Pi E v3.0
  package/boot/uboot-rockchip/Makefile
  package/boot/uboot-rockchip/patches/000-rockchip-add-support-for-Radxa-ROCK-Pi-E-v3.0.patch
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.6/114-rock-pi-e-add-led-aliases-and-stop-heartbeat.patch
Labels: core packages, target/rockchip

#16029 rockchip: drop redundant definitions for ROCK Pi S
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

#15983 [23.05]: mac80211: Update to version 6.1.102-1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/build/060-no_local_ssb_bcma.patch
  package/kernel/mac80211/patches/build/090-bcma-otp.patch
  package/kernel/mac80211/patches/rt2x00/602-rt2x00-introduce-rt2x00eeprom.patch
  package/kernel/mac80211/patches/subsys/306-03-v6.2-wifi-mac80211-Drop-support-for-TX-push-path.patch
  package/kernel/mac80211/patches/subsys/319-wifi-mac80211-mesh-fast-xmit-support.patch
  package/kernel/mac80211/patches/subsys/320-wifi-mac80211-use-mesh-header-cache-to-speed-up-mesh.patch
  package/kernel/mac80211/patches/subsys/327-wifi-mac80211-add-support-for-letting-drivers-regist.patch
  package/kernel/mac80211/patches/subsys/336-v6.4-wifi-mac80211-generate-EMA-beacons-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/342-v6.3-mac80211-support-minimal-EHT-rate-reporting-on-RX.patch
  package/kernel/mac80211/patches/subsys/343-v6.3-wifi-mac80211-mlme-handle-EHT-channel-puncturing.patch
  package/kernel/mac80211/patches/subsys/344-v6.3-0003-wifi-cfg80211-include-puncturing-bitmap-in-channel-s.patch
  package/kernel/mac80211/patches/subsys/344-v6.3-0004-wifi-mac80211-configure-puncturing-bitmap.patch
  package/kernel/mac80211/patches/subsys/347-v6.5-wifi-mac80211-HW-restart-for-MLO.patch
  package/kernel/mac80211/patches/subsys/348-v6.5-wifi-mac80211-implement-proper-AP-MLD-HW-restart.patch
  package/kernel/mac80211/patches/subsys/349-v6.5-wifi-mac80211-Add-getter-functions-for-vif-MLD-state.patch
  package/kernel/mac80211/patches/subsys/351-v6.9-wifi-mac80211-track-capability-opmode-NSS-separately.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
Labels: core packages, release/23.05

#16027 [23.05]: kernel: bump 5.15 to 5.15.164
  include/kernel-5.15
  target/linux/ath79/patches-5.15/910-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-5.15/950-0081-Improve-__copy_to_user-and-__copy_from_user-performa.patch
  target/linux/bcm27xx/patches-5.15/950-0090-ARM64-Force-hardware-emulation-of-deprecated-instruc.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/100-compiler.h-only-include-asm-rwonce.h-for-kernel-code.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ath79, release/23.05

#16012 kernel: rtl8366s: don’t handle unsupported MMD register operations
  target/linux/generic/backport-6.6/719-v6.11-net-phy-realtek-add-support-for-RTL8366S-Gigabit-PHY.patch
Labels: kernel
