Repository openwrt/openwrt, pull requests merged in 2024-03, with the labels that each got.

#14763 build: fix kernel component in CycloneDX SBOM
  scripts/package-metadata.pl
Labels: build/scripts/tools

#14652 build: scripts/config - update to kconfig-v6.6.16
  scripts/config/.gitignore
  scripts/config/Kbuild.include
  scripts/config/Makefile
  scripts/config/README
  scripts/config/conf.c
  scripts/config/confdata.c
  scripts/config/expr.h
  scripts/config/lexer.l
  scripts/config/lexer.lex.c
  scripts/config/lkc.h
  scripts/config/lkc_proto.h
  scripts/config/lxdialog/dialog.h
  scripts/config/lxdialog/menubox.c
  scripts/config/lxdialog/textbox.c
  scripts/config/mconf-cfg.sh
  scripts/config/mconf.c
  scripts/config/menu.c
  scripts/config/nconf-cfg.sh
  scripts/config/nconf.c
  scripts/config/nconf.gui.c
  scripts/config/nconf.h
  scripts/config/parser.tab.c
  scripts/config/parser.tab.h
  scripts/config/preprocess.c
  scripts/config/qconf-cfg.sh
  scripts/config/qconf.cc
  scripts/config/symbol.c
  scripts/config/util.c
Labels: build/scripts/tools, ci:target:mvebu:cortexa9, ci:target:mediatek:mt7622, ci:target:qualcommax:ipq807x

#14764 qualcommax: enable DEBUG_BUGVERBOSE
  target/linux/qualcommax/config-6.1
Labels: kernel, target/qualcommax

#14780 qualcommax: ipq60xx: add support for netgear wax214
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-wax214.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11-caldata
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#14799 kernel: crypto: package SHA3
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

#14797 cryptodev-linux: update to 1.13
  package/kernel/cryptodev-linux/Makefile
  package/kernel/cryptodev-linux/patches/0001-cryptodev_verbosity-fix-build-for-linux-6.4.patch
  package/kernel/cryptodev-linux/patches/0001-zero-copy-fix-build-for-linux-6.4.patch
  package/kernel/cryptodev-linux/patches/0003-move-recent-linux-version-ifdefs-from-v6.4-to-v6.5.patch
  package/kernel/cryptodev-linux/patches/0004-fix-build-for-linux-6.7-rc1.patch
Labels: core packages

#14805 kernel: crypto: add SHA1 ARM64 CE optimized module
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

#14808 kernel: crypto: add optimized ARM64 SHA256 modules
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

#14810 kernel: crypto: add SHA512 ARM64 ASM optimized module
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

#14817 ath11k-firmware: Move from kvalo to new upstream repository
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

#14818 openwrt-23.05: ath11k-firmware: Move to new upstream repository for board-2.bin
  package/firmware/ath11k-firmware/Makefile
Labels: core packages, release/23.05

#14793 ath25: drop target
  .github/labeler.yml
  package/kernel/mac80211/ath.mk
  target/linux/ath25/Makefile
  target/linux/ath25/base-files/etc/board.d/01_leds
  target/linux/ath25/base-files/etc/board.d/02_network
  target/linux/ath25/base-files/lib/preinit/15_preinit_iface_atheros
  target/linux/ath25/base-files/lib/upgrade/platform.sh
  target/linux/ath25/config-5.15
  target/linux/ath25/files/drivers/net/phy/mvswitch.c
  target/linux/ath25/files/drivers/net/phy/mvswitch.h
  target/linux/ath25/generic/target.mk
  target/linux/ath25/image/Makefile
  target/linux/ath25/patches-5.15/107-ar5312_gpio.patch
  target/linux/ath25/patches-5.15/108-ar2315_gpio.patch
  target/linux/ath25/patches-5.15/110-ar2313_ethernet.patch
  target/linux/ath25/patches-5.15/120-spiflash.patch
  target/linux/ath25/patches-5.15/130-watchdog.patch
  target/linux/ath25/patches-5.15/140-redboot_boardconfig.patch
  target/linux/ath25/patches-5.15/141-redboot_partition_scan.patch
  target/linux/ath25/patches-5.15/142-redboot_various_erase_size_fix.patch
  target/linux/ath25/patches-5.15/210-reset_button.patch
  target/linux/ath25/patches-5.15/220-enet_micrel_workaround.patch
  target/linux/ath25/patches-5.15/330-board_leds.patch
  target/linux/ath25/patches-5.15/700-swconfig_mvswitch.patch
  target/linux/ath25/profiles/00-default.mk
  target/linux/generic/pending-5.15/430-mtd-add-myloader-partition-parser.patch
  target/linux/generic/pending-6.1/430-mtd-add-myloader-partition-parser.patch
Labels: kernel, core packages, target/ath25, GitHub/CI

#14700 linux-firmware: Update to version 20240220
  package/firmware/linux-firmware/Makefile
Labels: core packages

#14822 kernel: 6.1: add missing config symbol for tracing
  target/linux/generic/config-6.1
Labels: kernel

#14781 [23.05] mediatek: filogic: add support for Cudy RE3000 v1
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-re3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/23.05

#14775 ubox: make logread as an alternative
  package/system/ubox/Makefile
Labels: core packages

#14809 [23.05] umdns: update to Git 7c675979 (2024-03-04)
  package/network/services/umdns/Makefile
Labels: core packages, release/23.05

#14830 mediatek: clean duplicated #include in Xiaomi Redmi AX6000's dts
  target/linux/mediatek/dts/mt7986a-xiaomi-redmi-router-ax6000.dtsi
Labels: target/mediatek

#14811 kernel: crypto: use Crypto Extension based modules on more targets
  package/kernel/linux/modules/crypto.mk
Labels: kernel, core packages

#14670 bmips: add support for SmartRG SR505n
  target/linux/bmips/bcm63268/base-files/etc/board.d/01_leds
  target/linux/bmips/bcm63268/base-files/etc/board.d/02_network
  target/linux/bmips/dts/bcm63168-smartrg-sr505n.dts
  target/linux/bmips/image/bcm63268.mk
Labels: target/bmips

#14713 scripts: Kernel bumper script
  scripts/kernel_bump.sh
Labels: build/scripts/tools

#14669 dnsmasq: version 2.90 (CVE 2023-50387, CVE 2023-50868)
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages, security

#14583 lldpd: fixes
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#14584 lldpd: Fully implement location parameter
  package/network/services/lldpd/files/lldpd.config
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#14856 kernel: config: add symbol introduced with 6.2
  target/linux/generic/config-6.6
Labels: kernel

#14865 kernel: config: add missing symbol for kenrel 6.6
  target/linux/generic/config-6.6
Labels: kernel

#14866 kernel: config: 6.6: disable ZSTD debug info compression by default
  target/linux/generic/config-6.6
Labels: kernel

#14850 lldpd: implement lldp_policy parameter
  package/network/services/lldpd/Makefile
  package/network/services/lldpd/files/lldpd.config
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#14851 lldpd: shellcheck fixes
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#14852 lldpd: update URL
  package/network/services/lldpd/Makefile
Labels: core packages

#14776 ramips: add support for Z-ROUTER ZR-2660
  target/linux/ramips/dts/mt7621_z-router_zr-2660.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#14858 libevent2: make cmake use relative imported path
  package/libs/libevent2/Makefile
  package/libs/libevent2/patches/001-relative-cmake.patch
Labels: core packages

#14876 dnsmasq: reset PKG_RELEASE
  package/network/services/dnsmasq/Makefile
Labels: core packages

#14884 ramips: 5.15: delete remaining files
  target/linux/ramips/mt7620/config-5.15
  target/linux/ramips/mt7621/config-5.15
  target/linux/ramips/mt76x8/config-5.15
  target/linux/ramips/rt288x/config-5.15
  target/linux/ramips/rt305x/config-5.15
  target/linux/ramips/rt3883/config-5.15
Labels: kernel, target/ramips

#14897 qualcommax: ipq60xx: mango-dvk: fix QCA8081 reset timings
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-mango-dvk.dts
Labels: kernel, target/qualcommax

#14888 ath11k-firmware: update IPQ8074 and QCN9074 to 2.9.0.1-01977
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

#14899 kernel: modules: video: drm: fixup 6.6 adaptations
  package/kernel/linux/modules/video.mk
Labels: kernel, core packages

#14881 [23.05] ramips: add support for Z-ROUTER ZR-2660
  target/linux/ramips/dts/mt7621_z-router_zr-2660.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips, release/23.05

#14892 [23.05]: dropbear: cherry-pick upstream patches
  package/network/services/dropbear/Makefile
  package/network/services/dropbear/patches/015-libtommath-fix-possible-integer-overflow.patch
  package/network/services/dropbear/patches/021-Implement-Strict-KEX-mode.patch
Labels: core packages, release/23.05

#14900 mediatek: mt7622: simplify 02_network
  target/linux/mediatek/mt7622/base-files/etc/board.d/02_network
Labels: target/mediatek

#14920 kernel: modules: package driver for MediaTek T7xx PCIe 5G modem
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#14787 qualcommax: ipq807x: Fix MAC addresses usage for RAX120v2
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rax120v2.dts
Labels: kernel, target/qualcommax

#14919 generic: kernel: fix libata ledtrig support in 6.6
  target/linux/generic/pending-6.6/834-ledtrig-libata.patch
Labels: kernel

#14915 linux-firmware: Update Intel wifi firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#14916 ath11k-firmware: update IPQ6018 to 2.5.0.1-03982
  package/firmware/ath11k-firmware/Makefile
Labels: core packages

#14927 dnsmasq: Backport 2 upstream patches
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/100-remove-old-runtime-kernel-support.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

#14949 wireless-regdb: add missing license information
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#14952 kernel: config: 6.6: add missing ARM64 SM4 CE symbols
  target/linux/generic/config-6.6
Labels: kernel

#14955 mediatek: mt7629: 6.6: disable LEDS_SMARTRG_LED by default
  target/linux/mediatek/mt7629/config-6.6
Labels: kernel, target/mediatek

#14959 ramips: building repair - carl9170: re-fix fortified-memset warning
  package/kernel/mac80211/patches/ath/432-carl9170_re-fix_fortified-memset_warning.patch
Labels: core packages

#14854 kirkwood: add ix4-200d support to uboot-envtools
  package/boot/uboot-envtools/files/kirkwood
Labels: core packages

#14926 mac80211: add missing config for third 160MHz width for 5GHz radio
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
Labels: core packages

#14595 ramips: add support for TP-Link RE205 v3
  target/linux/ramips/dts/mt7628an_tplink_re205-v3.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#12586 toolchain: gcc: switch default to 13
  toolchain/gcc/Config.in
  toolchain/gcc/Config.version
Labels: toolchain, ci:kernel:all:all, ci:kernel:all:all:testing

#14782 linux-firmware: package Intel AX201 firmware
  package/firmware/linux-firmware/intel.mk
Labels: core packages

#14970 hostapd: fix Argument list too long build error
  package/network/services/hostapd/patches/999-build-make-_make_dirs-robust-against-too-long-argume.patch
Labels: core packages

#14972 procd: update to git HEAD
  package/system/procd/Makefile
Labels: core packages

#14834 [main]mediatek: filogic: add Unielec U7981-01 support
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01-emmc.dts
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01-nand.dts
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#14979 tools/expat: update to version 2.6.2
  tools/expat/Makefile
Labels: build/scripts/tools

#14981 kernel: qca-ssdk: fix C45 MDIO support on kernel 6.6
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/103-mdio-adapt-to-C22-and-C45-read-write-split.patch
Labels: core packages

#15004 tools/xz: update to 5.6.1
  tools/xz/Makefile
Labels: build/scripts/tools

#15006 tools/cmake: update to 3.29.0
  tools/cmake/Makefile
  tools/cmake/patches/120-curl-fix-libressl-linking.patch
  tools/cmake/patches/130-bootstrap_parallel_make_flag.patch
  tools/cmake/patches/150-zstd-libarchive.patch
Labels: build/scripts/tools

#15000 generic: 6.6: add kernel missing symbol CONFIG_SSIF_IPMI_BMC
  target/linux/generic/config-6.6
Labels: kernel

#14984 [22.03]: kernel: bump 5.10 to 5.10.213
  include/kernel-5.10
  target/linux/apm821xx/patches-5.10/802-usb-xhci-force-msi-renesas-xhci.patch
  target/linux/bcm27xx/patches-5.10/950-0030-lan78xx-Enable-LEDs-and-auto-negotiation.patch
  target/linux/bcm27xx/patches-5.10/950-0076-lan78xx-Read-initial-EEE-status-from-DT.patch
  target/linux/bcm27xx/patches-5.10/950-0082-net-lan78xx-Disable-TCP-Segmentation-Offload-TSO.patch
  target/linux/bcm27xx/patches-5.10/950-0083-lan78xx-Move-enabling-of-EEE-into-PHY-init-code.patch
  target/linux/bcm27xx/patches-5.10/950-0094-lan78xx-Debounce-link-events-to-minimize-poll-storm.patch
  target/linux/bcm27xx/patches-5.10/950-0095-lan78xx-EEE-support-is-now-a-PHY-property.patch
  target/linux/bcm27xx/patches-5.10/950-0098-lan78xx-use-default-alignment-for-rx-buffers.patch
  target/linux/bcm27xx/patches-5.10/950-0154-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-5.10/950-0355-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-5.10/950-0401-net-lan78xx-Ack-pending-PHY-ints-when-resetting.patch
  target/linux/bcm27xx/patches-5.10/950-0733-usb-xhci-workaround-for-bogus-SET_DEQ_PENDING-endpoi.patch
  target/linux/bcm4908/patches-5.10/080-v5.11-tty-serial-bcm63xx-lower-driver-dependencies.patch
  target/linux/bcm53xx/patches-5.10/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-5.10/081-net-next-regmap-allow-to-define-reg_update_bits-for-no-bus.patch
  target/linux/generic/hack-5.10/259-regmap_dynamic.patch
  target/linux/generic/hack-5.10/901-debloat_sock_diag.patch
  target/linux/generic/hack-5.10/902-debloat_proc.patch
  target/linux/generic/pending-5.10/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
Labels: target/apm821xx, target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel, target/bcm4908, release/22.03

#15009 qualcommax: default to kernel 6.6
  target/linux/qualcommax/Makefile
Labels: target/qualcommax

#14974 rockchip: remove `swiotlb` parameter from boot script
  target/linux/rockchip/image/default.bootscript
Labels: target/rockchip

#14924 ramips: mt7620a_tplink_archer-c5-v4: use LED_FUNCTION_WLAN_2GHZ/5GHZ
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4.dts
Labels: target/ramips

#15012 tools: b43-tools: fix compilation with GCC14
  tools/b43-tools/Makefile
Labels: build/scripts/tools

#14992 kernel: bump 6.6 to 6.6.23
  include/kernel-6.6
  target/linux/bcm4908/patches-6.6/130-arm64-dts-broadcom-bcmbca-bcm4908-set-brcm-wp-not-co.patch
  target/linux/bcm4908/patches-6.6/300-arm64-dts-broadcom-bcmbca-bcm4908-limit-amount-of-GP.patch
  target/linux/generic/backport-6.6/981-mtd-spinand-Add-support-for-5-byte-IDs.patch
  target/linux/generic/pending-6.6/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/generic/pending-6.6/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.6/723-net-mt7531-ensure-all-MACs-are-powered-down-before-r.patch
  target/linux/generic/pending-6.6/732-01-net-ethernet-mtk_eth_soc-work-around-issue-with-send.patch
  target/linux/generic/pending-6.6/735-net-mediatek-mtk_eth_soc-release-MAC_MCR_FORCE_LINK-.patch
  target/linux/generic/pending-6.6/736-net-ethernet-mtk_eth_soc-fix-PPE-hanging-issue.patch
  target/linux/generic/pending-6.6/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/generic/pending-6.6/795-mt7530-register-OF-node-for-internal-MDIO-bus.patch
  target/linux/generic/pending-6.6/801-gpio-gpio-cascade-add-generic-GPIO-cascade.patch
  target/linux/generic/pending-6.6/920-mangle_bootargs.patch
  target/linux/mediatek/patches-6.6/100-dts-update-mt7622-rfb1.patch
  target/linux/mediatek/patches-6.6/106-dts-mt7622-disable_btif.patch
  target/linux/mediatek/patches-6.6/112-dts-fix-bpi64-lan-names.patch
  target/linux/mediatek/patches-6.6/114-dts-bpi64-disable-rtc.patch
  target/linux/mediatek/patches-6.6/131-dts-mt7622-add-snand-support.patch
  target/linux/mediatek/patches-6.6/140-dts-fix-wmac-support-for-mt7622-rfb1.patch
  target/linux/mediatek/patches-6.6/232-clk-mediatek-mt7981-topckgen-flag-SGM_REG_SEL-as-cri.patch
  target/linux/mediatek/patches-6.6/331-mt7622-rfb1-enable-bmt.patch
  target/linux/mediatek/patches-6.6/431-drivers-spi-mt65xx-Move-chip_config-to-driver-s-priv.patch
  target/linux/mediatek/patches-6.6/434-drivers-spi-mt65xx-Add-controller-s-calibration-para.patch
  target/linux/mediatek/patches-6.6/830-v6.7-39-thermal-lvts-Convert-to-platform-remove-callback-ret.patch
  target/linux/mediatek/patches-6.6/830-v6.7-40-thermal-drivers-mediatek-lvts_thermal-Make-coeff-con.patch
  target/linux/mediatek/patches-6.6/830-v6.7-42-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-sup.patch
  target/linux/mediatek/patches-6.6/830-v6.7-45-thermal-drivers-mediatek-lvts_thermal-Add-suspend-an.patch
  target/linux/mediatek/patches-6.6/830-v6.7-47-thermal-drivers-mediatek-lvts_thermal-Add-mt8192-sup.patch
  target/linux/mediatek/patches-6.6/900-dts-mt7622-bpi-r64-aliases-for-dtoverlay.patch
  target/linux/mediatek/patches-6.6/910-dts-mt7622-bpi-r64-wifi-eeprom.patch
  target/linux/mediatek/patches-6.6/911-dts-mt7622-bpi-r64-add-rootdisk.patch
  target/linux/mediatek/patches-6.6/930-spi-mt65xx-enable-sel-clk.patch
  target/linux/mediatek/patches-6.6/941-arm64-dts-mt7986-move-cpuboot-in-a-dedicated-node.patch
  target/linux/mediatek/patches-6.6/945-arm64-dts-mt7986-move-ilm-in-a-dedicated-node.patch
  target/linux/mediatek/patches-6.6/946-arm64-dts-mt7986-move-dlm-in-a-dedicated-node.patch
  target/linux/qualcommax/patches-6.6/0111-arm64-dts-qcom-ipq8074-use-msi-parent-for-PCIe.patch
Labels: build/scripts/tools, kernel, target/mediatek, target/bcm4908, target/qualcommax

#14836 ramips: add support for BOLT BL100
  target/linux/ramips/dts/mt7620a_bolt_bl100.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
  target/linux/ramips/mt7620/base-files/etc/board.d/03_gpio_switches
Labels: target/ramips

#14814 mediatek: add support for OpenEmbed SOM7981
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-openembed-som7981.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#15020 [openwrt-23.05] rockchip: backport bootscript fixes
  target/linux/rockchip/image/mmc.bootscript
Labels: target/rockchip, release/23.05

#14991 [23.05] mediatek: filogic: add Unielec U7981-01 support
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01-emmc.dts
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01-nand.dts
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/23.05
