Repository openwrt/openwrt, pull requests merged in 2024-05, with the labels that each got.

#15333 bcm27xx: correct cmdline.txt consoles for procd
  target/linux/bcm27xx/image/cmdline.txt
Labels: target/bcm27xx

#15365 ipq40xx: fritzrepeater-1200: fix MDIO and PHY probing
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzrepeater-1200.dts
  target/linux/ipq40xx/patches-6.6/709-ARM-dts-qcom-ipq4019-add-QCA8075-PHY-Package-nodes.patch
Labels: target/ipq40xx

#15376 rockchip: add driver for hardware RNG
  target/linux/rockchip/armv8/config-6.1
  target/linux/rockchip/patches-6.1/300-hwrng-add-Rockchip-SoC-hwrng-driver.patch
  target/linux/rockchip/patches-6.1/301-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
Labels: kernel, target/rockchip

#15343 toolchain: glibc: Update glibc 2.38 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain

#15382 ath79: refresh patches
  target/linux/ath79/patches-6.1/900-unaligned_access_hacks.patch
Labels: target/ath79

#15134 tools: pkgconf: provide prefix for host and hostpkg stagind directory
  tools/pkgconf/files/pkg-config
Labels: build/scripts/tools

#15356 libxml2: update to 2.12.6
  package/libs/libxml2/Makefile
Labels: core packages

#15392 ipq4019: fix even more wrong reference to USB node
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ap120c-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ea6350v3.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ecw5211.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-emr3500.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-fritzbox-4040.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-gl-ap1300.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-hap-ac2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-nbg6617.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-rt-ac58u.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-ac-lte.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-r-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wrtq-329acn.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-cm520-79f.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-e2600ac.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-le1.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-map-ac2200.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-mf18a.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-mf282plus.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-mf286d.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-ncp-hg100-cellular.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-oap100.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-r619ac.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-rbr50.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-rbs50.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-rt-ac42u.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-rtl30vw.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-u4019.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-wpj419.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-wtr-m2133hp.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-x1pro.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-xx8300.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-gl-b1300.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-gl-s1300.dts
Labels: target/ipq40xx

#14174 dropbear: use dropbearkey as ssh-keygen
  package/network/services/dropbear/Makefile
Labels: core packages

#13897 uboot-envtools: add env settings for ubnt,unifi-6-lr-v2
  package/boot/uboot-envtools/files/mediatek_mt7622
Labels: core packages

#15399 kselftests-bpf: update for kernel 6.6
  package/devel/kselftests-bpf/Makefile
  target/linux/generic/pending-6.6/360-selftests-bpf-portability-of-unprivileged-tests.patch
Labels: kernel, core packages

#15400 libbpf: Update to v1.4.1
  package/libs/libbpf/Makefile
Labels: core packages

#15379 kernel: qca-ssdk: update to 12.5 for kernel 6.6
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/0001-config-identify-kernel-6.6.patch
  package/kernel/qca-ssdk/patches/101-hsl_phy-add-support-for-detection-PSGMII-PHY-mode.patch
  package/kernel/qca-ssdk/patches/102-qca-ssdk-support-selecting-PCS-channel-for-PORT3-on-.patch
  package/kernel/qca-ssdk/patches/103-mdio-adapt-to-C22-and-C45-read-write-split.patch
  package/kernel/qca-ssdk/patches/200-allow-parallel-build.patch
  package/kernel/qca-ssdk/patches/201-fix-compile-warnings.patch
Labels: core packages

#15383 kernel: qca-nss-dp: update to 12.5.r2 for kernel 6.6
  package/kernel/qca-nss-dp/Makefile
  package/kernel/qca-nss-dp/patches/0006-nss_dp_main-Use-a-phy-handle-property-to-connect-to-.patch
  package/kernel/qca-nss-dp/patches/0008-nss-dp-allow-setting-netdev-name-from-DTS.patch
  package/kernel/qca-nss-dp/patches/0009-nss-dp-switchdev-fix-FDB-roaming.patch
  package/kernel/qca-nss-dp/patches/0010-nss-dp-include-net-netdev_rx_queue.h.patch
  package/kernel/qca-nss-dp/patches/0011-02-nss_dp_switchdev-correctly-unregister-notifier-on-dp.patch
  package/kernel/qca-nss-dp/patches/0011-03-nss_dp_main-swap-dp_exit-function-call.patch
  package/kernel/qca-nss-dp/patches/0011-04-nss_dp_main-call-unregister_netdev-first-in-dp_remov.patch
  package/kernel/qca-nss-dp/patches/0011-05-nss_dp_main-use-phy_detach-instead-of-disconnect-in-.patch
Labels: core packages

#15410 ipq806x: Meraki MR52: swap lan leds
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-mr52.dts
Labels: target/ipq806x

#15353 mediatek: ASUS TUF-AX6000: fix phy-handle numbering
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
Labels: target/mediatek

#15429 rockchip: switch to kernel 6.6
  target/linux/rockchip/Makefile
  target/linux/rockchip/armv8/config-6.1
  target/linux/rockchip/patches-6.1/001-v6.3-mmc-sdhci-of-dwcmshc-Update-DLL-and-pre-change-delay-for.patch
  target/linux/rockchip/patches-6.1/002-v6.4-mmc-sdhci-of-dwcmshc-properly-determine-max-clock-on.patch
  target/linux/rockchip/patches-6.1/006-v6.4-arm64-dts-rockchip-Add-FriendlyARM-NanoPi-R2C.patch
  target/linux/rockchip/patches-6.1/007-v6.3-arm64-dts-rockchip-rk3328-Add-Orange-Pi-R1-Plus.patch
  target/linux/rockchip/patches-6.1/008-v6.4-arm64-dts-rockchip-Add-Xunlong-OrangePi-R1-Plus-LTS.patch
  target/linux/rockchip/patches-6.1/009-v6.4-arm64-dts-rockchip-Add-FriendlyElec-Nanopi-R5S.patch
  target/linux/rockchip/patches-6.1/010-v6.4-arm64-dts-rockchip-create-common-dtsi-for-NanoPi-R5-serie.patch
  target/linux/rockchip/patches-6.1/011-v6.4-arm64-dts-rockchip-fix-gmac-support-for-NanoPi-R5S.patch
  target/linux/rockchip/patches-6.1/012-v6.4-arm64-dts-rockchip-remove-I2S1-TDM-node-for-the-NanoPi-R5.patch
  target/linux/rockchip/patches-6.1/013-v6.4-arm64-dts-rockchip-Add-FriendlyARM-NanoPi-R5C.patch
  target/linux/rockchip/patches-6.1/014-v6.4-arm64-dts-rockchip-fix-button-reset-pin-for-nanopi-r5c.patch
  target/linux/rockchip/patches-6.1/015-v6.8-arm64-dts-rockchip-configure-eth-pad-driver-strength-for-.patch
  target/linux/rockchip/patches-6.1/016-v6.3-arm64-dts-rockchip-Add-Radxa-Compute-Module-3-IO-board.patch
  target/linux/rockchip/patches-6.1/016-v6.5-arm64-dts-rockchip-Add-FriendlyARM-NanoPi-R2C-Plus.patch
  target/linux/rockchip/patches-6.1/017-v6.3-arm64-dts-rockchip-Enable-Ethernet-for-Radxa-CM3-IO.patch
  target/linux/rockchip/patches-6.1/018-v6.3-arm64-dts-rockchip-Add-rk3566-based-Radxa-Compute-Module-3.patch
  target/linux/rockchip/patches-6.1/019-v6.3-arm64-dts-rockchip-Enable-WiFi-BT-support-for-Radxa-CM3.patch
  target/linux/rockchip/patches-6.1/020-v6.4-arm64-dts-rockchip-Enable-USB-OTG-for-rk3566-Radxa-CM3.patch
  target/linux/rockchip/patches-6.1/021-v6.3-arm64-dts-rockchip-Fix-compatible-for-Radxa-CM3.patch
  target/linux/rockchip/patches-6.1/022-v6.5-arm64-dts-rockchip-minor-whitespace-cleanup-around.patch
  target/linux/rockchip/patches-6.1/023-v6.8-arm64-dts-rockchip-Add-ethernet0-alias-to-the-dts-for-RK3566-boards.patch
  target/linux/rockchip/patches-6.1/024-v6.3-arm64-dts-rockchip-Add-Radxa-CM3I-E25.patch
  target/linux/rockchip/patches-6.1/025-v6.3-arm64-dts-rockchip-Update-eMMC-SD.patch
  target/linux/rockchip/patches-6.1/026-v6.3-arm64-dts-rockchip-Add-missing-CM3i.patch
  target/linux/rockchip/patches-6.1/027-v6.3-arm64-dts-rockchip-Correct-the-model-name-for-Radxa-E25.patch
  target/linux/rockchip/patches-6.1/028-v6.6-arm64-dts-rockchip-Fix-PCIe-regulators-on-Radxa-E25.patch
  target/linux/rockchip/patches-6.1/029-v6.6-arm64-dts-rockchip-Enable-SATA-on-Radxa-E25.patch
  target/linux/rockchip/patches-6.1/030-v6.9-arm64-dts-rockchip-adjust-vendor-on-Banana-Pi-R2-Pro.patch
  target/linux/rockchip/patches-6.1/031-v6.10arm64-dts-rockchip-set-PHY-address-of-MT7531-switch-.patch
  target/linux/rockchip/patches-6.1/032-v6.10-arm64-dts-rockchip-regulator-for-sd-needs-to-be-alwa.patch
  target/linux/rockchip/patches-6.1/100-rockchip-use-system-LED-for-OpenWrt.patch
  target/linux/rockchip/patches-6.1/103-arm64-rockchip-add-OF-node-for-USB-eth-on-NanoPi-R2S.patch
  target/linux/rockchip/patches-6.1/105-nanopi-r4s-sd-signalling.patch
  target/linux/rockchip/patches-6.1/106-r4s-openwrt-leds.patch
  target/linux/rockchip/patches-6.1/107-arm64-dts-rockchip-Update-LED-properties-for-Orange-.patch
  target/linux/rockchip/patches-6.1/108-arm64-dts-rockchip-add-LED-configuration-to-Orange-P.patch
  target/linux/rockchip/patches-6.1/109-nanopc-t4-add-led-aliases.patch
  target/linux/rockchip/patches-6.1/110-arm64-dts-rockchip-Update-LED-properties-for-NanoPi-.patch
  target/linux/rockchip/patches-6.1/111-radxa-cm3-io-add-led-aliases.patch
  target/linux/rockchip/patches-6.1/112-radxa-e25-add-led-aliases.patch
  target/linux/rockchip/patches-6.1/300-hwrng-add-Rockchip-SoC-hwrng-driver.patch
  target/linux/rockchip/patches-6.1/301-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
Labels: kernel, target/rockchip

#15403 tools: mold: update to 2.31.0
  tools/mold/Makefile
Labels: build/scripts/tools

#15420 mediatek: correct address of MT753x switch IC
  target/linux/mediatek/dts/mt7622-netgear-wax206.dts
  target/linux/mediatek/dts/mt7623a-unielec-u7623-02.dtsi
Labels: target/mediatek

#15263 ramips: Add support for D-Link DIR-2150-A1
  target/linux/ramips/dts/mt7621_dlink_dir-2150-a1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#15214 mediatek: add support for Cudy TR3000 v1
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#15109 ramips: add support for Wavlink WL-WN531G3
  target/linux/ramips/dts/mt7620a_wavlink_wl-wn531g3.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

#15434 gperf: build as C++11
  package/devel/gperf/Makefile
Labels: core packages

#15438 [23.05] ipq40xx: whw03v2: backport RGB LED fixes
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-whw03v2.dts
Labels: kernel, target/ipq40xx, release/23.05

#13937 base-files: fix uid/gid auto-enumeration to avoid 16-bit limit
  package/base-files/files/lib/functions.sh
Labels: core packages

#15443 ubnt-ledbar: adapt for kernel v6.6
  package/kernel/ubnt-ledbar/src/leds-ubnt-ledbar.c
Labels: core packages

#14393 mediatek: filogic: add support for Cudy M3000 v1
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-m3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#15372 ramips: add support for JDCloud RE-CP-02
  target/linux/ramips/dts/mt7621_jdcloud_re-cp-02.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/init.d/bootcount
Labels: target/ramips

#15444 ipq40xx: fixup remaining devices that dont use QCA807x PHY
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-lhgg-60ad.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-aruba-glenmorangie.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4029-insect-common.dtsi
Labels: target/ipq40xx

#15449 mvebu: switch to kernel 6.6
  target/linux/mvebu/Makefile
  target/linux/mvebu/config-6.1
  target/linux/mvebu/cortexa53/config-6.1
  target/linux/mvebu/cortexa72/config-6.1
  target/linux/mvebu/cortexa9/config-6.1
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-370-buffalo-ls220de.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-370-buffalo-ls421de.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-370-c200-v2.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-380-iij-sa-w2.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-385-fortinet-fg-30e.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-385-fortinet-fg-50e.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-385-fortinet-fg-x0e.dtsi
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-385-linksys-venom.dts
  target/linux/mvebu/files-6.1/arch/arm/boot/dts/armada-385-nas1dual.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/armada-3720-eDPU.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/armada-3720-espressobin-ultra.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/armada-3720-gl-mv1000.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dtsi
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/armada-7040-mochabin.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/cn9130-clearfog-pro.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/cn9131-puzzle-m901.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/cn9132-puzzle-m902.dts
  target/linux/mvebu/files-6.1/arch/arm64/boot/dts/marvell/puzzle-thermal.dtsi
  target/linux/mvebu/image/cortexa9.mk
  target/linux/mvebu/patches-6.1/000-cpufreq-armada-8k-add-ap807-support.patch
  target/linux/mvebu/patches-6.1/100-aardvark-workaround-PCIe.patch
  target/linux/mvebu/patches-6.1/105-power-reset-linkstation-poweroff-add-ls220de.patch
  target/linux/mvebu/patches-6.1/300-mvebu-Mangle-bootloader-s-kernel-arguments.patch
  target/linux/mvebu/patches-6.1/301-mvebu-armada-38x-enable-libata-leds.patch
  target/linux/mvebu/patches-6.1/302-add_powertables.patch
  target/linux/mvebu/patches-6.1/304-revert_i2c_delay.patch
  target/linux/mvebu/patches-6.1/305-armada-385-rd-mtd-partitions.patch
  target/linux/mvebu/patches-6.1/306-ARM-mvebu-385-ap-Add-partitions.patch
  target/linux/mvebu/patches-6.1/307-armada-xp-linksys-mamba-broken-idle.patch
  target/linux/mvebu/patches-6.1/308-armada-xp-linksys-mamba-wan.patch
  target/linux/mvebu/patches-6.1/309-linksys-status-led.patch
  target/linux/mvebu/patches-6.1/310-linksys-use-eth0-as-cpu-port.patch
  target/linux/mvebu/patches-6.1/311-adjust-compatible-for-linksys.patch
  target/linux/mvebu/patches-6.1/312-ARM-dts-armada388-clearfog-emmc-on-clearfog-base.patch
  target/linux/mvebu/patches-6.1/313-helios4-dts-status-led-alias.patch
  target/linux/mvebu/patches-6.1/314-arm64-dts-marvell-enable-heartbeat-LED-by-default.patch
  target/linux/mvebu/patches-6.1/315-armada-xp-linksys-mamba-resize-kernel.patch
  target/linux/mvebu/patches-6.1/316-armada-370-dts-fix-crypto-engine.patch
  target/linux/mvebu/patches-6.1/320-arm-dts-armada-370-synology-ds213j-mtd-parts.patch
  target/linux/mvebu/patches-6.1/400-find_active_root.patch
  target/linux/mvebu/patches-6.1/700-mvneta-tx-queue-workaround.patch
  target/linux/mvebu/patches-6.1/701-mvpp2-read-mac-address-from-nvmem.patch
  target/linux/mvebu/patches-6.1/800-cpuidle-mvebu-indicate-failure-to-enter-deeper-sleep.patch
  target/linux/mvebu/patches-6.1/801-pci-mvebu-time-out-reset-on-link-up.patch
  target/linux/mvebu/patches-6.1/901-dt-bindings-Add-IEI-vendor-prefix-and-IEI-WT61P803-P.patch
  target/linux/mvebu/patches-6.1/902-drivers-mfd-Add-a-driver-for-IEI-WT61P803-PUZZLE-MCU.patch
  target/linux/mvebu/patches-6.1/903-drivers-hwmon-Add-the-IEI-WT61P803-PUZZLE-HWMON-driv.patch
  target/linux/mvebu/patches-6.1/904-drivers-leds-Add-the-IEI-WT61P803-PUZZLE-LED-driver.patch
  target/linux/mvebu/patches-6.1/905-Documentation-ABI-Add-iei-wt61p803-puzzle-driver-sys.patch
  target/linux/mvebu/patches-6.1/906-Documentation-hwmon-Add-iei-wt61p803-puzzle-hwmon-dr.patch
  target/linux/mvebu/patches-6.1/907-MAINTAINERS-Add-an-entry-for-the-IEI-WT61P803-PUZZLE.patch
  target/linux/mvebu/patches-6.1/910-drivers-leds-wt61p803-puzzle-improvements.patch
  target/linux/mvebu/patches-6.1/911-drivers-leds-wt61p803-puzzle-mcu-retry.patch
Labels: kernel, target/mvebu

#15459 kernel: qca-ssdk: use bash as shell
  package/kernel/qca-ssdk/Makefile
Labels: core packages

#15464 kernel: bump 5.15 to 5.15.158
  include/kernel-5.15
  target/linux/bcm47xx/patches-5.15/209-b44-register-adm-switch.patch
  target/linux/bcm47xx/patches-5.15/210-b44_phy_fix.patch
  target/linux/generic/backport-5.15/020-v6.1-02-mm-x86-add-CONFIG_ARCH_HAS_NONLEAF_PMD_YOUNG.patch
  target/linux/generic/backport-5.15/020-v6.1-05-mm-multi-gen-LRU-groundwork.patch
  target/linux/generic/backport-5.15/702-v5.19-01-arm64-dts-mediatek-mt7622-add-support-for-coherent-D.patch
  target/linux/generic/backport-5.15/702-v5.19-04-arm64-dts-mediatek-mt7622-introduce-nodes-for-Wirele.patch
  target/linux/generic/backport-5.15/702-v5.19-13-net-ethernet-mtk_eth_soc-use-standard-property-for-c.patch
  target/linux/generic/backport-5.15/797-v5.17-net-usb-ax88179_178a-add-TSO-feature.patch
  target/linux/generic/backport-5.15/821-v5.16-Bluetooth-btusb-Support-public-address-configuration.patch
  target/linux/generic/backport-5.15/822-v5.17-Bluetooth-btusb-Fix-application-of-sizeof-to-pointer.patch
  target/linux/generic/backport-5.15/823-v5.18-Bluetooth-btusb-Add-a-new-PID-VID-13d3-3567-for-MT79.patch
  target/linux/generic/backport-5.15/824-v5.19-Bluetooth-btusb-Add-a-new-PID-VID-0489-e0c8-for-MT79.patch
  target/linux/generic/backport-5.15/825-v6.1-Bluetooth-btusb-Add-a-new-VID-PID-0e8d-0608-for-MT79.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
Labels: target/bcm47xx, build/scripts/tools, kernel

#15441 audit: fix compile error on some systems
  package/utils/audit/Makefile
  package/utils/audit/patches/0001-Implicit-builtin-functions.patch
Labels: core packages

#15475 opkg: fix stray \ warnings with grep-3.8
  package/system/opkg/files/20_migrate-feeds
Labels: core packages

#15435 ag71xx: Slightly simplify 'ag71xx_rx_packets()'
  target/linux/ath79/files/drivers/net/ethernet/atheros/ag71xx/ag71xx_main.c
Labels: kernel, target/ath79

#15440 ipq806x: rt4230w-rev6: fix status reporting via the LEDs
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8065-rt4230w-rev6.dts
Labels: target/ipq806x

#15456 mac80211: Add support for RTL8723BE
  package/firmware/linux-firmware/realtek.mk
  package/kernel/mac80211/realtek.mk
Labels: core packages

#15431 ramips: Fix wmac dts definition for TP-Link TL-MR6400 v4 and v5
  target/linux/ramips/dts/mt7628an_tplink_tl-mr6400-v4.dts
  target/linux/ramips/dts/mt7628an_tplink_tl-mr6400-v5.dts
Labels: target/ramips

#15509 ipq806x: mr42/mr52: fix PCIe ports
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8068-cryptid-common.dtsi
Labels: target/ipq806x

#15512 [23.05] ipq806x: mr42/mr52: fix PCIe ports
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8068-cryptid-common.dtsi
Labels: target/ipq806x, release/23.05

#15519 base-files: correctly split install-key function for APK
  package/base-files/Makefile
Labels: core packages

#15525 wireless-regdb: update to 2024.05.08
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#15526 libbpf: Update to v1.4.2
  package/libs/libbpf/Makefile
Labels: core packages

#15537 kernel: qca-nss-dp: add back printing attached PHY-s
  package/kernel/qca-nss-dp/patches/0006-nss_dp_main-Use-a-phy-handle-property-to-connect-to-.patch
  package/kernel/qca-nss-dp/patches/0011-02-nss_dp_switchdev-correctly-unregister-notifier-on-dp.patch
  package/kernel/qca-nss-dp/patches/0011-03-nss_dp_main-swap-dp_exit-function-call.patch
  package/kernel/qca-nss-dp/patches/0011-04-nss_dp_main-call-unregister_netdev-first-in-dp_remov.patch
  package/kernel/qca-nss-dp/patches/0011-05-nss_dp_main-use-phy_detach-instead-of-disconnect-in-.patch
Labels: core packages

#15541 qualcommax: ipq807x: sax1v1k: fix QCA8081 reset
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-sax1v1k.dts
Labels: kernel, target/qualcommax

#15538 scripts: fix revision calculation using new "main" branch
  scripts/getver.sh
Labels: build/scripts/tools

#14939 qualcommax: ipq807x support Netgear Orbi Pro SXK80
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/config-6.6
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-sxk80.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-sxr80.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-sxs80.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#15542 ipq40xx: dont panic on PSGMII calibration fail
  target/linux/ipq40xx/patches-6.6/706-net-dsa-qca8k-add-IPQ4019-built-in-switch-support.patch
Labels: target/ipq40xx

#15546 [23.05] mediatek: fix broken PCIe caused by update to 5.15.158
  target/linux/mediatek/patches-5.15/710-pci-pcie-mediatek-add-support-for-coherent-DMA.patch
Labels: target/mediatek, release/23.05

#15545 wifi-scripts: fix creation of IBSS in legacy (non-HT) mode
  package/network/services/hostapd/files/wdev.uc
Labels: core packages, release/23.05

#15502 [23.05] mediatek: filogic: add cudy tr3000
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/23.05

#15494 [23.05] ipq806x: rt4230w-rev6: backport status LED fix
  target/linux/ipq806x/files-5.15/arch/arm/boot/dts/qcom-ipq8065-rt4230w-rev6.dts
Labels: target/ipq806x, release/23.05

#15041 ramips: add support for TP-Link Archer MR200v5
  target/linux/ramips/dts/mt7628an_tplink_archer-mr200-v5.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#15497 usbmode: add Huawei E5785
  package/utils/usbmode/data/3426-1f01
Labels: core packages

#15474 linux-atm: fix build with GCC 14
  package/network/utils/linux-atm/Makefile
  package/network/utils/linux-atm/patches/000-debian_2.5.1-5.1.patch
  package/network/utils/linux-atm/patches/510-remove-LINUX_NETDEVICE-hack.patch
  package/network/utils/linux-atm/patches/600-fix-format-errors.patch
  package/network/utils/linux-atm/patches/600-musl-include.patch
  package/network/utils/linux-atm/patches/700-fix-gcc14-build.patch
  package/network/utils/linux-atm/patches/800-include_sockios.patch
Labels: core packages

#15514 ath79: add support for 8Devices Carambola3 board
  target/linux/ath79/dts/qca9531_8dev_carambola3.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#15405 Add EnGenius EAP1300EXT support
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

#15211 build: fix version info in cyclonedx sbom
  scripts/package-metadata.pl
Labels: build/scripts/tools

#15468 ath79: qca9563: add support for Amplifi Router HD
  target/linux/ath79/dts/qca9563_ubnt_amplifi-router-hd.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic-ubnt.mk
Labels: target/ath79

#15395 ramips: samknows whitebox v8: set wifi frequency
  target/linux/ramips/dts/mt7621_samknows_whitebox-v8.dts
Labels: target/ramips

#15363 kernel: modules: add mlx_wdt and mlxreg
  package/kernel/linux/modules/i2c.mk
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

#15581 lantiq: disable building of ZyXEL P-2812HNU F1
  target/linux/lantiq/image/vr9.mk
Labels: target/lantiq

#15576 ebtables: fix compilation with GCC14
  package/network/utils/ebtables/Makefile
  package/network/utils/ebtables/patches/100-musl_fix.patch
Labels: core packages

#15569 linux-firmware: Update to version 20240513
  package/firmware/linux-firmware/Makefile
Labels: core packages

#15552 toolchain: gcc: update to 13.3
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-13.x/020-Include-safe-ctype.h-after-C-standard-headers-to-avo.patch
  toolchain/gcc/patches-13.x/021-libcc1-fix-vector-include.patch
  toolchain/gcc/patches-13.x/300-mips_Os_cpu_rtx_cost_model.patch
  toolchain/gcc/patches-13.x/400-LoongArch-Fix-MUSL_DYNAMIC_LINKER.patch
  toolchain/gcc/patches-13.x/401-LoongArch-Modify-MUSL_DYNAMIC_LINKER.patch
  toolchain/gcc/patches-13.x/970-macos_arm64-building-fix.patch
Labels: toolchain

#15583 tools/mkimage: update to v2024.04
  tools/mkimage/Makefile
  tools/mkimage/patches/030-allow-to-use-different-magic.patch
  tools/mkimage/patches/095-tools-disable-TOOLS_FIT_FULL_CHECK.patch
Labels: build/scripts/tools

#15557 scripts: Add GNU ftp mirror redirector for GNU and Savannah
  scripts/download.pl
Labels: build/scripts/tools

#15480 iproute2: update to 6.9.0
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/115-add-config-xtlibdir.patch
  package/network/utils/iproute2/patches/130-no_netem_tipc_dcb_man_vdpa.patch
  package/network/utils/iproute2/patches/140-keep_libmnl_optional.patch
  package/network/utils/iproute2/patches/145-keep_libelf_optional.patch
  package/network/utils/iproute2/patches/150-keep_libcap_optional.patch
  package/network/utils/iproute2/patches/155-keep_tirpc_optional.patch
  package/network/utils/iproute2/patches/170-ip_tiny.patch
  package/network/utils/iproute2/patches/175-reduce-dynamic-syms.patch
  package/network/utils/iproute2/patches/190-fix-nls-rpath-link.patch
  package/network/utils/iproute2/patches/195-build_variant_ip_tc.patch
  package/network/utils/iproute2/patches/200-drop_libbsd_dependency.patch
  package/network/utils/iproute2/patches/300-selinux-configurable.patch
  package/network/utils/iproute2/patches/402-bpf-fix-warning-from-basename.patch
  package/network/utils/iproute2/patches/403-bpf-include-libgen.h-for-basename.patch
Labels: core packages

#15549 packages: refresh patches
  package/boot/uboot-bcm4908/patches/100-check-config-allow-to-complete-build-even-with-ad-ho.patch
  package/boot/uboot-kirkwood/patches/180-netgear-stora.patch
  package/boot/uboot-kirkwood/patches/200-openwrt-config.patch
  package/boot/uboot-lantiq/patches/0021-MIPS-vrx200-add-NAND-SPL-support.patch
  package/boot/uboot-lantiq/patches/0028-gcc-compat.patch
  package/boot/uboot-mxs/patches/001-add-i2se-duckbill.patch
  package/boot/uboot-sifiveu/patches/0002-board-sifive-spl-Initialized-the-PWM-setting-in-the-.patch
  package/boot/uboot-sifiveu/patches/0003-board-sifive-Set-LED-s-color-to-purple-in-the-U-boot.patch
  package/boot/uboot-sifiveu/patches/0009-riscv-Fix-build-against-binutils.patch
  package/boot/uboot-sifiveu/patches/100-mkimage-check-environment-for-dtc-binary-location.patch
  package/boot/uboot-sifiveu/patches/130-fix-mkimage-host-build.patch
  package/boot/uboot-zynq/patches/010-fix_dtc_compilation_on_host_gcc10.patch
  package/kernel/cryptodev-linux/patches/0001-cryptodev_verbosity-fix-build-for-linux-6.4.patch
  package/kernel/cryptodev-linux/patches/0001-zero-copy-fix-build-for-linux-6.4.patch
  package/kernel/cryptodev-linux/patches/0003-move-recent-linux-version-ifdefs-from-v6.4-to-v6.5.patch
  package/kernel/cryptodev-linux/patches/0004-fix-build-for-linux-6.7-rc1.patch
  package/kernel/lantiq/ltq-ptm/patches/100-fix-compilation-warning-debugfs.patch
  package/kernel/lantiq/ltq-ptm/patches/101-fix-more-compilation-warning-debugfs.patch
  package/kernel/lantiq/ltq-tapi/patches/600-fix-compilation-warning-switch-fallthrough.patch
  package/kernel/lantiq/ltq-tapi/patches/601-fix-compilation-warning-ret-not-handled.patch
  package/kernel/lantiq/ltq-vdsl-vr11/patches/211-fix-compilation-warning-missing-fallthrough.patch
  package/kernel/lantiq/ltq-vdsl-vr9/patches/300-fix-compilation-warning-fallthrough.patch
  package/kernel/lantiq/ltq-vdsl-vr9/patches/301-fix-compilation-warning-simple-fix.patch
  package/kernel/lantiq/ltq-vectoring/patches/300-fix-compilation-warning-stack-limit.patch
  package/kernel/qca-ssdk/patches/103-hsl_phy-add-support-for-AQR114C-B0-PHY.patch
  package/network/config/ltq-adsl-app/patches/001-stupid_breakage_fix.patch
  package/network/ipv6/thc-ipv6/patches/101-remove-march-native.patch
  package/system/apk/patches/0001-openwrt-move-layer-db-to-temp-folder.patch
  package/system/iucode-tool/patches/001-iucode_tool-add-missing-limits.h-for-USE_CPUID_DEVIC.patch
  package/system/refpolicy/patches/100-no-docs.patch
Labels: target/kirkwood, target/lantiq, target/mxs, core packages, target/zynq, target/bcm4908, target/sifiveu

#15599 imagebuilder: fix broken IB_STANDALONE option
  target/imagebuilder/Makefile
  target/imagebuilder/files/README.apk.md
  target/imagebuilder/files/README.opkg.md
Labels: target/imagebuilder
