Repository openwrt/openwrt, pull requests merged in 2024-06, with the labels that each got.

#15611 kernel: Split kmod-video-dma into two kmods
  package/kernel/linux/modules/video.mk
  target/linux/bcm27xx/modules/video.mk
Labels: target/bcm27xx, kernel, core packages

#15602 tegra: Activate CONFIG_SND_DRIVERS
  target/linux/tegra/config-5.15
  target/linux/tegra/config-6.6
Labels: kernel, target/tegra

#15601 uboot-tegra: Set UBOOT_USE_INTREE_DTC
  package/boot/uboot-tegra/Makefile
Labels: core packages, target/tegra

#14728 ramips: add support for D-Link DIR-2055 A1
  target/linux/ramips/dts/mt7621_dlink_dir-2055-a1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#15298 package/utils/secilc: drop PKG_CPE_ID
  package/utils/secilc/Makefile
Labels: core packages

#15580 qualcommax: use ath11k_patch_mac for ZBT-Z800AX
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/qualcommax

#15591 ramips: simplify multi-phy support patches
  target/linux/ramips/patches-6.6/720-NET-no-auto-carrier-off-support.patch
  target/linux/ramips/patches-6.6/720-Revert-net-phy-simplify-phy_link_change-arguments.patch
  target/linux/ramips/patches-6.6/721-NET-no-auto-carrier-off-support.patch
Labels: target/ramips

#15627 gettext-full: link libiconv when building host pkg
  package/libs/gettext-full/Makefile
Labels: core packages, release/23.05

#15594 ramips: mt76x8: add support for Cudy TR1200 v1
  target/linux/ramips/dts/mt7628an_cudy_tr1200-v1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#14289 mediatek: add support for Ruijie RG-X60 Pro
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#15640 generic: routerbootpart: fix compilation on 64-bit
  target/linux/generic/files/drivers/mtd/parsers/routerbootpart.c
Labels: kernel

#15520 mdadm: update to 4.3
  package/utils/mdadm/Makefile
  package/utils/mdadm/patches/010-falloc.patch
  package/utils/mdadm/patches/020-basename.patch
  package/utils/mdadm/patches/030-fix-monitor-tv_sec.patch
  package/utils/mdadm/patches/040-udev.patch
  package/utils/mdadm/patches/050-pie.patch
  package/utils/mdadm/patches/100-cross_compile.patch
  package/utils/mdadm/patches/200-reduce_size.patch
Labels: core packages

#15396 [23.05] ramips: samknows whitebox v8: set wifi frequency
  target/linux/ramips/dts/mt7621_samknows_whitebox-v8.dts
Labels: target/ramips, release/23.05

#15646 apk: bump to 2024-05-23
  package/system/apk/Makefile
Labels: core packages

#15651 mediatek: fix wps button for nokia ea0326gmp
  package/boot/uboot-mediatek/patches/443-add-nokia_ea0326gmp.patch
  target/linux/mediatek/dts/mt7981b-nokia-ea0326gmp.dts
Labels: core packages, target/mediatek

#15659 kexec-tools: fix multiple compile errors
  package/boot/kexec-tools/Makefile
  package/boot/kexec-tools/patches/010-Fix-building-on-x86_64-with-binutils-2.41.patch
  package/boot/kexec-tools/patches/020-i386-improve-basename-compatibility.patch
Labels: core packages

#15558 kernel: bump 6.1 to 6.1.92
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0080-Revert-net-bcmgenet-Request-APD-DLL-disable-and-IDDQ.patch
  target/linux/bcm27xx/patches-6.1/950-0106-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.1/950-0179-bcmgenet-Better-coalescing-parameter-defaults.patch
  target/linux/bcm27xx/patches-6.1/950-0180-net-genet-enable-link-energy-detect-powerdown-for-ex.patch
  target/linux/bcm27xx/patches-6.1/950-0189-net-bcmgenet-Workaround-2-for-Pi4-Ethernet-fail.patch
  target/linux/bcm27xx/patches-6.1/950-0227-spi-Force-CS_HIGH-if-GPIO-descriptors-are-used.patch
  target/linux/bcm27xx/patches-6.1/950-0270-net-bcmgenet-Reset-RBUF-on-first-open.patch
  target/linux/bcm27xx/patches-6.1/950-0513-net-bcmgenet-Add-eee-module-parameter.patch
  target/linux/bcm27xx/patches-6.1/950-0865-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm47xx/patches-6.1/209-b44-register-adm-switch.patch
  target/linux/bcm47xx/patches-6.1/210-b44_phy_fix.patch
  target/linux/generic/backport-6.1/600-v6.9-03-net-gro-add-flush-check-in-udp_gro_receive_segment.patch
  target/linux/generic/hack-6.1/221-module_exports.patch
  target/linux/generic/hack-6.1/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.1/901-debloat_sock_diag.patch
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/655-increase_skb_pad.patch
  target/linux/generic/pending-6.1/681-net-bridge-fix-multicast-to-unicast-with-fraglist-GS.patch
  target/linux/generic/pending-6.1/682-net-core-reject-skb_copy-_expand-for-fraglist-GSO-sk.patch
  target/linux/generic/pending-6.1/684-net-bridge-fix-corrupted-ethernet-header-on-multicas.patch
  target/linux/generic/pending-6.1/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.1/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/generic/pending-6.1/778-net-l2tp-drop-flow-hash-on-forward.patch
  target/linux/imx/patches-6.1/001-6.2-phy-freescale-imx8m-pcie-Refine-register-definitions.patch
  target/linux/imx/patches-6.1/002-6.2-phy-freescale-imx8m-pcie-Refine-i.MX8MM-PCIe-PHY-dri.patch
  target/linux/imx/patches-6.1/003-6.3-phy-freescale-imx8m-pcie-Add-i.MX8MP-PCIe-PHY-suppor.patch
Labels: target/bcm47xx, target/bcm27xx, build/scripts/tools, kernel, target/imx

#15639 libbpf: Update to v1.4.3
  package/libs/libbpf/Makefile
Labels: core packages

#15636 openssl: update to 3.0.14
  package/libs/openssl/Makefile
Labels: core packages

#15324 generic: trim outdated kernel config symbols
  target/linux/generic/config-6.6
Labels: kernel

#14634 mediatek: Add support for Wavlink WL-WN586X3
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn586x3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#15670 tools/quilt: update to 0.68
  tools/quilt/Makefile
Labels: build/scripts/tools

#15672 tools/cmake: update to 3.29.5
  tools/cmake/Makefile
Labels: build/scripts/tools

#15664 mediatek: convert eeprom/macaddr to nvmem format for jdcloud re-cp-03
  target/linux/mediatek/dts/mt7986a-jdcloud-re-cp-03.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
Labels: target/mediatek

#15648 ramips: mt76x8: sync Cudy TR1200 v1 naming
  target/linux/ramips/dts/mt7628an_cudy_tr1200-v1.dts
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#15674 tools/findutils: update to 4.10.0
  tools/findutils/Makefile
  tools/findutils/patches/010-endpwent.patch
Labels: build/scripts/tools

#15667 mediatek: Ruijie RG-X60 Pro: Add kmod-mt7915e
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#15676 tools/ccache: update to 4.10.0
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#15686 octeontx: drop target
  .github/labeler.yml
  target/linux/octeontx/Makefile
  target/linux/octeontx/base-files/etc/board.d/02_network
  target/linux/octeontx/base-files/etc/inittab
  target/linux/octeontx/config-5.15
  target/linux/octeontx/generic/target.mk
  target/linux/octeontx/image/Makefile
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
Labels: kernel, target/octeontx, GitHub/CI

#15597 qualcommax: ipq807x: wax620 and wax630: fix wifi mac address
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-wax620.dts
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
Labels: kernel, target/qualcommax

#15700 qualcommax: ipq807x: fix sysupgrade for ZBT-Z800AX
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-zbt-z800ax.dts
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, target/qualcommax

#15671 mac80211: remove mtd-cal-data
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
Labels: core packages

#15707 ath79: fix wrong mac address for ecb1xx0
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#15682 tools/pkgconf: update to 2.2.0
  tools/pkgconf/Makefile
Labels: build/scripts/tools

#15711 ath79: fix MAC address for senao loader devices
  target/linux/ath79/dts/qca9558_allnet_all-wap02860ac.dts
  target/linux/ath79/dts/qca9558_watchguard_ap300.dts
Labels: target/ath79

#15720 kernel: bump 6.1 to 6.1.93
  include/kernel-6.1
  target/linux/bcm27xx/patches-6.1/950-0081-smsx95xx-fix-crimes-against-truesize.patch
  target/linux/bcm27xx/patches-6.1/950-0082-smsc95xx-Experimental-Enable-turbo_mode-and-packetsi.patch
  target/linux/bcm27xx/patches-6.1/950-0083-Allow-mac-address-to-be-set-in-smsc95xx.patch
  target/linux/bcm27xx/patches-6.1/950-0118-firmware-bcm2835-Support-ARCH_BCM270x.patch
  target/linux/bcm27xx/patches-6.1/950-0140-firmware-raspberrypi-Notify-firmware-of-a-reboot.patch
  target/linux/bcm27xx/patches-6.1/950-0145-firmware-raspberrypi-Add-backward-compatible-get_thr.patch
  target/linux/bcm27xx/patches-6.1/950-0151-firmware-raspberrypi-Report-the-fw-variant-during-pr.patch
  target/linux/bcm27xx/patches-6.1/950-0216-Initialise-rpi-firmware-before-clk-bcm2835.patch
  target/linux/bcm27xx/patches-6.1/950-0227-spi-Force-CS_HIGH-if-GPIO-descriptors-are-used.patch
  target/linux/bcm27xx/patches-6.1/950-0285-firmware-raspberrypi-Add-support-for-tryonce-reboot-.patch
  target/linux/bcm27xx/patches-6.1/950-0332-drm-panel-simple-Add-a-timing-for-the-Raspberry-Pi-7.patch
  target/linux/bcm27xx/patches-6.1/950-0383-drm-panel-simple-add-Geekworm-MZP280-Panel.patch
  target/linux/bcm27xx/patches-6.1/950-0450-firmware-raspberrypi-Introduce-rpi_firmware_find_nod.patch
  target/linux/bcm27xx/patches-6.1/950-0452-firmware-raspberrypi-Provide-a-helper-to-query-a-clo.patch
  target/linux/bcm27xx/patches-6.1/950-0453-drm-vc4-hdmi-Fix-hdmi_enable_4kp60-detection.patch
  target/linux/bcm27xx/patches-6.1/950-0454-drm-vc4-hdmi-Rework-hdmi_enable_4kp60-detection-code.patch
  target/linux/bcm27xx/patches-6.1/950-0521-drm-panel-simple-Add-Innolux-AT056tN53V1-5.6-VGA.patch
  target/linux/bcm27xx/patches-6.1/950-0712-drm-vc4-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/bcm27xx/patches-6.1/950-0804-fixup-Allow-mac-address-to-be-set-in-smsc95xx.patch
  target/linux/bcm27xx/patches-6.1/950-0989-drm-panel-simple-Alter-the-timing-for-the-Pi-7-DSI-d.patch
  target/linux/bcm27xx/patches-6.1/950-1182-drm-panel-add-panel-dsi.patch
  target/linux/generic/backport-6.1/426-v6.4-0004-mtd-core-prepare-mtd_otp_nvmem_add-to-handle-EPROBE_.patch
  target/linux/generic/backport-6.1/797-6.7-net-dsa-mv88e6xxx-fix-marvell-6350-switch-probing.patch
  target/linux/generic/backport-6.1/807-v6.5-04-net-dsa-mv88e6xxx-fix-88E6393X-family-internal-phys-.patch
  target/linux/generic/backport-6.1/807-v6.5-05-net-dsa-mv88e6xxx-pass-mv88e6xxx_chip-structure-to-p.patch
  target/linux/generic/backport-6.1/807-v6.5-06-net-dsa-mv88e6xxx-enable-support-for-88E6361-switch.patch
  target/linux/generic/backport-6.1/828-v6.4-0003-of-Rename-of_modalias_node.patch
  target/linux/generic/hack-6.1/402-mtd-blktrans-call-add-disks-after-mtd-device.patch
  target/linux/generic/hack-6.1/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/hack-6.1/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-6.1/630-packet_socket_type.patch
  target/linux/generic/pending-6.1/655-increase_skb_pad.patch
  target/linux/generic/pending-6.1/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/generic/pending-6.1/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
  target/linux/generic/pending-6.1/860-serial-8250_mtk-track-busclk-state-to-avoid-bus-error.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#15696 kernel: bump 6.6 to 6.6.33
  include/kernel-6.6
  package/kernel/linux/modules/video.mk
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/gemini/config-6.6
  target/linux/gemini/patches-6.6/0001-net-ethernet-cortina-Drop-TSO-support.patch
  target/linux/gemini/patches-6.6/0003-net-ethernet-cortina-Locking-fixes.patch
  target/linux/generic/hack-6.6/402-mtd-blktrans-call-add-disks-after-mtd-device.patch
  target/linux/generic/hack-6.6/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/pending-6.6/195-block-fix-and-simplify-blkdevparts-cmdline-parsing.patch
  target/linux/generic/pending-6.6/510-block-add-uImage.FIT-subimage-block-driver.patch
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/680-net-add-TCP-fraglist-GRO-support.patch
  target/linux/generic/pending-6.6/739-05-net-pcs-add-driver-for-MediaTek-USXGMII-PCS.patch
  target/linux/generic/pending-6.6/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/generic/pending-6.6/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
  target/linux/ipq40xx/patches-6.6/700-net-ipqess-introduce-the-Qualcomm-IPQESS-driver.patch
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/layerscape/armv8_64b/config-6.6
  target/linux/loongarch64/config-6.6
  target/linux/mediatek/mt7623/config-6.6
  target/linux/mediatek/patches-6.6/041-block-fit-partition-parser.patch
  target/linux/mediatek/patches-6.6/432-drivers-spi-Add-support-for-dynamic-calibration.patch
  target/linux/ramips/patches-6.6/810-uvc-add-iPassion-iP2970-support.patch
  target/linux/tegra/config-6.6
  target/linux/x86/64/config-6.6
  target/linux/x86/generic/config-6.6
  target/linux/x86/legacy/config-6.6
Labels: build/scripts/tools, kernel, target/layerscape, core packages, target/ramips, target/x86, target/ipq40xx, target/ath79, target/mediatek, target/gemini, target/tegra

#15717 ramips: fix MAC address for some devices
  target/linux/ramips/dts/mt7620a_bolt_bl100.dts
  target/linux/ramips/dts/mt7621_dlink_flash-16m-a1.dtsi
  target/linux/ramips/dts/mt7621_dlink_flash-16m-r1.dtsi
  target/linux/ramips/dts/mt7621_elecom_wrc-1167gst2.dts
  target/linux/ramips/dts/mt7621_hanyang_hyc-g920.dts
  target/linux/ramips/dts/mt7621_iptime_a3004t.dts
  target/linux/ramips/dts/mt7628an_xiaomi_mi-router-4.dtsi
Labels: target/ramips

#15680 rockchip: Add cache information to the SoC dtsi for RK356x
  target/linux/rockchip/patches-6.6/031-v6.10-arm64-dts-rockchip-Add-cache-information-to-the-SoC-dtsi-.patch
  target/linux/rockchip/patches-6.6/301-arm64-dts-rockchip-add-DT-entry-for-RNG-to-RK356x.patch
Labels: target/rockchip

#15716 tools/sparse: fix compilation with GCC14
  tools/sparse/Makefile
  tools/sparse/patches/010-llvm15.patch
Labels: build/scripts/tools

#15729 generic: refresh patches
  target/linux/generic/pending-6.6/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.6/732-00-net-ethernet-mtk_eth_soc-compile-out-netsys-v2-code-.patch
  target/linux/generic/pending-6.6/732-01-net-ethernet-mtk_eth_soc-work-around-issue-with-send.patch
  target/linux/generic/pending-6.6/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
Labels: kernel

#15631 ramips: add support for WINSTARS WS-WN536P3
  target/linux/ramips/dts/mt7621_winstars_ws-wn536p3.dts
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#15609 ramips: add support for OpenFi 5Pro
  target/linux/ramips/dts/mt7621_openfi_5pro.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#15539 kernel: armsr: Renesas: RZ: Ethernet: Add kernel module
  target/linux/armsr/base-files/etc/inittab
  target/linux/armsr/image/Makefile
  target/linux/armsr/modules.mk
Labels: target/armsr

#15732 qualcommax: ipq807x: use ath11k_patch_mac for SXK80
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/qualcommax

#15637 libquadmath: Add libquadmath to the toolchain
  package/libs/toolchain/Makefile
Labels: core packages

#15705 xdp-tools: update to v1.4.2
  package/network/utils/xdp-tools/Makefile
  package/network/utils/xdp-tools/patches/010-configure-respect-LDFLAGS.patch
  package/network/utils/xdp-tools/patches/020-libxdp-Use-__noinline__-reserved-attribute-for-XDP-d.patch
  package/network/utils/xdp-tools/patches/023-libxdp-fix-compilation-on-multiarch-systems.patch
  package/network/utils/xdp-tools/patches/024-lib-allow-overwriting-W-flags-via-BPF_CFLAGS.patch
  package/network/utils/xdp-tools/patches/025-Add-BPF_LDFLAGS-to-allow-overwriting-llc-s-march-arg.patch
Labels: core packages

#15592 generic: 6.6: replace (broken) downstream patch with upstream solution
  target/linux/generic/backport-6.6/600-v6.10-net-Remove-conditional-threaded-NAPI-wakeup-based-on.patch
  target/linux/generic/backport-6.6/601-v6.10-net-Allow-to-use-SMP-threads-for-backlog-NAPI.patch
  target/linux/generic/backport-6.6/602-v6.10-net-Use-backlog-NAPI-to-clean-up-the-defer_list.patch
  target/linux/generic/backport-6.6/603-v6.10-net-Rename-rps_lock-to-backlog_lock.patch
  target/linux/generic/backport-6.6/770-net-introduce-napi_is_scheduled-helper.patch
  target/linux/generic/hack-6.6/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-6.6/760-net-core-add-optional-threading-for-backlog-processi.patch
Labels: kernel

#15430 base-files: fix ipcalc bound calculation for /31 prefix
  package/base-files/files/bin/ipcalc.sh
Labels: core packages

#15300 generic: replace spi Silicon Labs patch with upstream version
  target/linux/generic/backport-5.15/412-v6.3-01-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/backport-5.15/412-v6.3-02-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
  target/linux/generic/backport-6.1/412-v6.3-01-spidev-Add-Silicon-Labs-EM3581-device-compatible.patch
  target/linux/generic/backport-6.1/412-v6.3-02-spidev-Add-Silicon-Labs-SI3210-device-compatible.patch
Labels: kernel

#15743 tools: tar: update to 1.35
  tools/tar/Makefile
  tools/tar/patches/0001-Fix-savannah-bug-64441.patch
  tools/tar/patches/001-Avoid-excess-lseek-etc.patch
  tools/tar/patches/002-Fix-delete-bug-with-short-reads.patch
  tools/tar/patches/003-Pacify-rtapelib.c-for-GCC-10-and-fix-a-bug-or-two.patch
  tools/tar/patches/100-symlink-force-root-name.patch
  tools/tar/patches/110-symlink-force-permissions.patch
Labels: build/scripts/tools

#15745 scripts/download.pl: detach mirror URLs from script file
  scripts/download.pl
  scripts/projectsmirrors.json
Labels: build/scripts/tools

#15746 tools/fakeroot: update to 1.33
  tools/fakeroot/Makefile
  tools/fakeroot/patches/200-disable-doc.patch
  tools/fakeroot/patches/600-macOS.patch
Labels: build/scripts/tools

#15754 ath79: mikrotik: set compat version for NAND devices
  target/linux/ath79/mikrotik/base-files/etc/board.d/05_compat-version
Labels: target/ath79

#15760 mac80211: backport upstream patch for tim->virtual_map flex array warn
  package/kernel/mac80211/patches/subsys/101-v6.7-wifi-mac80211-Use-flexible-array-in-struct-ieee80211.patch
Labels: core packages

#15758 kernel: bump 6.6 to 6.6.34
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0514-sdhci-Add-SD-Express-hook.patch
  target/linux/bcm27xx/patches-6.6/950-0716-drivers-mmc-sdhci-add-SPURIOUS_INT_RESP-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-1116-mmc-sdhci-extend-maximum-ADMA-transfer-length-to-4Mi.patch
  target/linux/generic/backport-6.6/701-v6.8-net-sfp-bus-fix-SFP-mode-detect-from-bitrate.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.6/920-mangle_bootargs.patch
  target/linux/ipq806x/patches-6.6/902-ARM-decompressor-support-for-ATAGs-rootblock-parsing.patch
  target/linux/mvebu/patches-6.6/300-mvebu-Mangle-bootloader-s-kernel-arguments.patch
Labels: target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/mvebu

#15756 generic: 6.6: mt7530: add support for bridge port isolation
  target/linux/generic/backport-6.6/790-55-v6.11-net-dsa-mt7530-factor-out-bridge-join-leave-logic.patch
  target/linux/generic/backport-6.6/790-56-v6.11-net-dsa-mt7530-add-support-for-bridge-port-isolation.patch
Labels: kernel

#15733 generic: backport pending driver for Winchip CH348 USB serial
  package/kernel/linux/modules/usb.mk
  target/linux/generic/pending-6.6/890-usb-serial-add-support-for-CH348.patch
Labels: kernel, core packages

#15734 kernel: bump 6.1 to 6.1.94
  include/kernel-6.1
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.1/920-mangle_bootargs.patch
Labels: build/scripts/tools, kernel

#15762 bcm27xx: fix malformed upstream arm64 DT patch
  target/linux/bcm27xx/patches-6.6/950-0040-BCM2708-Add-core-Device-Tree-support.patch
Labels: target/bcm27xx

#15693 [23.05] build: add explicit timezone in CycloneDX SBOM
  scripts/package-metadata.pl
Labels: build/scripts/tools, release/23.05

#15767 qoriq: use 6.1 by default and drop 5.15
  target/linux/qoriq/Makefile
  target/linux/qoriq/config-5.15
Labels: kernel, target/qoriq

#15770 wifi-scripts: ensure get_freq returns int (iw-6.9)
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
Labels: core packages

#15661 openssl: conditionally disable engine section
  package/libs/openssl/Makefile
Labels: core packages

#15769 kernel: bump 6.6 to 6.6.35
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0481-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0483-usb-xhci-borrow-upstream-TRB_FETCH-quirk-on-VL805-ho.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-1135-ax25-Fix-refcount-imbalance-on-inbound-connections.patch
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/hack-6.6/204-module_strip.patch
  target/linux/generic/hack-6.6/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.6/779-net-vxlan-don-t-learn-non-unicast-L2-destinations.patch
  target/linux/ipq40xx/patches-6.6/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.6/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
Labels: target/bcm53xx, target/bcm27xx, build/scripts/tools, kernel, target/ipq40xx

#15773 tools/fakeroot: fix check for whether to wrap time64 functions
  tools/fakeroot/patches/300-time64-hack.patch
Labels: build/scripts/tools

#15778 uml: fix glibc-static check with GCC14
  target/linux/uml/image/Makefile
Labels: target/uml

#15772 kernel: bump 6.1 to 6.1.95
  include/kernel-6.1
  target/linux/bcm53xx/patches-6.1/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.1/715-16-v6.5-net-sfp-add-support-for-setting-signalling-rate.patch
  target/linux/generic/hack-6.1/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/generic/hack-6.1/902-debloat_proc.patch
  target/linux/generic/pending-6.1/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.1/779-net-vxlan-don-t-learn-non-unicast-L2-destinations.patch
  target/linux/starfive/patches-6.1/1002-serial-8250_dw-Add-starfive-jh7100-hsuart-compatible.patch
Labels: target/bcm53xx, build/scripts/tools, kernel

#15771 kernel: qca-ssdk: update 12.5 to 2024-06-13
  package/kernel/qca-ssdk/Makefile
  package/kernel/qca-ssdk/patches/101-hsl_phy-add-support-for-detection-PSGMII-PHY-mode.patch
  package/kernel/qca-ssdk/patches/200-allow-parallel-build.patch
  package/kernel/qca-ssdk/patches/201-fix-compile-warnings.patch
  target/linux/generic/backport-6.6/722-v6.10-dt-bindings-arm-qcom-ids-Add-SoC-ID-for-IPQ5321.patch
Labels: kernel, core packages

#15787 linux-firmware: add RTL8126 firmware
  package/firmware/linux-firmware/realtek.mk
Labels: core packages

#15786 qualcommax: get rid of custom socinfo.h header
  target/linux/qualcommax/patches-6.6/0901-regulator-add-Qualcomm-CPR-regulators.patch
Labels: target/qualcommax

#15788 generic: 6.6: backport upstream r8169 patches
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.6/780-01-v6.8-r8169-add-support-for-LED-s-on-RTL8168-RTL8101.patch
  target/linux/generic/backport-6.6/780-02-v6.8-r8169-fix-building-with-CONFIG_LEDS_CLASS-m.patch
  target/linux/generic/backport-6.6/780-03-v6.9-r8169-add-support-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-04-v6.9-r8169-improve-checking-for-valid-LED-modes.patch
  target/linux/generic/backport-6.6/780-05-v6.9-r8169-add-LED-support-for-RTL8125-RTL8126.patch
  target/linux/generic/backport-6.6/780-06-v6.9-r8169-add-MODULE_FIRMWARE-entry-for-RTL8126A.patch
  target/linux/generic/backport-6.6/780-07-v6.10-r8169-add-support-for-RTL8168M.patch
  target/linux/generic/backport-6.6/780-08-v6.10-r8169-fix-LED-related-deadlock-on-module-removal.patch
  target/linux/generic/backport-6.6/780-09-v6.10-r8169-add-missing-conditional-compiling-for-call-to-.patch
  target/linux/generic/config-6.6
Labels: kernel, core packages

#15792 bcm27xx: drop upstream patch that breaks pi5 wifi
  target/linux/bcm27xx/patches-6.6/950-1133-drivers-mmc-sdhci-brcmstb-improve-bcm2712-card-remov.patch
Labels: target/bcm27xx

#15704 tools/llvm: update to 18.1.7
  tools/llvm-bpf/Makefile
Labels: build/scripts/tools

#15795 generic: 6.6: backport mips kexec dependency fix
  target/linux/generic/backport-6.6/310-v6.7-mips-kexec-fix-the-incorrect-ifdeffery-and-dependenc.patch
Labels: kernel

#15798 ipq806x: add support for Linksys e8350-v1
  target/linux/ipq806x/base-files/etc/board.d/01_leds
  target/linux/ipq806x/base-files/etc/board.d/02_network
  target/linux/ipq806x/base-files/lib/upgrade/platform.sh
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-e8350-v1.dts
  target/linux/ipq806x/image/generic.mk
Labels: target/ipq806x

#15797 generic: 6.6: replace Aquantia pending LEDs patch with upstream version
  target/linux/generic/backport-6.6/791-v6.11-01-net-phy-aquantia-move-priv-and-hw-stat-to-header.patch
  target/linux/generic/backport-6.6/791-v6.11-02-net-phy-aquantia-add-support-for-PHY-LEDs.patch
  target/linux/generic/hack-6.6/722-net-phy-aquantia-enable-AQR112-and-AQR412.patch
  target/linux/generic/hack-6.6/723-net-phy-aquantia-fix-system-side-protocol-mi.patch
  target/linux/generic/hack-6.6/725-net-phy-aquantia-add-PHY_IDs-for-AQR112-variants.patch
  target/linux/generic/pending-6.6/999-net-phy-move-LED-polarity-to-phy_init_hw.patch
Labels: kernel

#15802 utils: mtd-utils: update to 2.2.0
  package/utils/mtd-utils/Makefile
Labels: core packages

#14889 bmips: add support for Sagemcom F@ST 3864 OP
  target/linux/bmips/bcm63268/base-files/etc/board.d/02_network
  target/linux/bmips/bcm63268/base-files/lib/upgrade/platform.sh
  target/linux/bmips/dts/bcm63168-sagem-fast-3864-op.dts
  target/linux/bmips/image/bcm63268.mk
Labels: target/bmips

#15354 bmips: backport upstream RAC patches
  target/linux/bmips/dts/bcm6358.dtsi
  target/linux/bmips/dts/bcm6368.dtsi
  target/linux/bmips/patches-6.6/010-v6.10-mips-bmips-BCM6358-make-sure-CBR-is-correctly-set.patch
  target/linux/bmips/patches-6.6/020-v6.11-mips-bmips-rework-and-cache-CBR-addr-handling.patch
  target/linux/bmips/patches-6.6/021-v6.11-mips-bmips-setup-make-CBR-address-configurable.patch
  target/linux/bmips/patches-6.6/022-v6.11-mips-bmips-enable-RAC-on-BMIPS4350.patch
  target/linux/bmips/patches-6.6/200-mips-bmips-automatically-detect-CPU-frequency.patch
  target/linux/bmips/patches-6.6/201-mips-bmips-automatically-detect-RAM-size.patch
  target/linux/bmips/patches-6.6/203-mips-bmips-dma-fix-CBR-address.patch
  target/linux/bmips/patches-6.6/204-mips-bmips-enable-RAC-on-BMIPS4350.patch
Labels: target/bmips

#15822 e2fsprogs: remove HostBuild
  package/utils/e2fsprogs/Makefile
Labels: core packages

#15768 kernel: mtd: ubi: avoid attaching "linux,ubi" mtd again
  target/linux/generic/pending-6.6/490-ubi-auto-attach-mtd-device-named-ubi-or-data-on-boot.patch
Labels: kernel

#15841 tools/e2fsprogs: fix shell scripts under SDK
  tools/e2fsprogs/Makefile
Labels: build/scripts/tools

#15740 malta: enable VM targets again
  target/linux/malta/be64/target.mk
  target/linux/malta/le/target.mk
  target/linux/malta/le64/target.mk
Labels: target/malta
