Repository openwrt/openwrt, pull requests merged in 2024-09, with the labels that each got.

#16222 ramips: mt76x8: add support for Yuncore CPE200
  target/linux/ramips/dts/mt7628an_yuncore_cpe200.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#16140 octeon: n821: sysupgrade for Cisco vEdge 1000
  target/linux/octeon/base-files/lib/preinit/79_move_config
  target/linux/octeon/base-files/lib/upgrade/platform.sh
  target/linux/octeon/image/Makefile
Labels: target/octeon

#16122 bpftool: add host build
  package/network/utils/bpftool/Makefile
Labels: core packages

#16082 filogic: update ZyXEL EX5700 DTS, add missing LED configuration
  target/linux/mediatek/dts/mt7986a-zyxel-ex5700-telenor.dts
Labels: target/mediatek

#16328 kernel: bump 6.6 to 6.6.49
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/generic/backport-6.6/894-v6.8-net-ethtool-implement-ethtool_puts.patch
  target/linux/generic/hack-6.6/780-usb-net-MeigLink_modem_support.patch
  target/linux/mediatek/patches-6.6/351-pinctrl-add-mt7988-pd-pulltype-support.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mediatek, target/rockchip

#16325 kernel: bump 6.1 to 6.1.108
  include/kernel-6.1
  target/linux/generic/backport-6.1/827-v6.3-0001-of-base-add-of_parse_phandle_with_optional_args.patch
  target/linux/generic/backport-6.1/828-v6.4-0003-of-Rename-of_modalias_node.patch
  target/linux/generic/backport-6.1/828-v6.4-0004-of-Move-of_modalias-to-module.c.patch
  target/linux/generic/backport-6.1/828-v6.4-0005-of-Move-the-request-module-helper-logic-to-module.c.patch
  target/linux/generic/backport-6.1/894-v6.8-net-ethtool-implement-ethtool_puts.patch
  target/linux/generic/hack-6.1/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-6.1/834-ledtrig-libata.patch
Labels: build/scripts/tools, kernel

#16298 Fix bug introduced by APuP
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/780-Implement-APuP-Access-Point-Micro-Peering.patch
  package/network/services/hostapd/patches/790-APuP-add-ubus-notification-when-a-peer-comes-up.patch
  package/network/services/hostapd/patches/800-APuP-add-ucode-hook-for-when-a-peer-comes-up.patch
Labels: core packages

#16062 wireguard-tools: accept iproute2 as dependency
  package/network/utils/wireguard-tools/Makefile
Labels: core packages

#16312 uboot-envtools: add u-boot system env config for Xiaomi Redmi AX6S
  package/boot/uboot-envtools/files/mediatek_mt7622
Labels: core packages

#16332 openssl: update to 3.0.15
  package/libs/openssl/Makefile
Labels: core packages

#16345 mpc85xx: remove unneeded header
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/br200-wp.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/firebox_t10.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/hiveap-330.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/msm460.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/panda.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/red15w_rev1.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/tl_wdr4900_v1.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/ws-ap3710i.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/ws-ap3715i.c
  target/linux/mpc85xx/files/arch/powerpc/platforms/85xx/ws-ap3825i.c
Labels: kernel, target/mpc85xx

#16215 ramips: pinctrl-aw9523: update to current upstream
  target/linux/ramips/files/drivers/pinctrl/pinctrl-aw9523.c
  target/linux/ramips/patches-6.6/805-01-v6.9-pinctrl-Add-driver-for-Awinic-AW9523-B-I2C-GPIO-Expa.patch
  target/linux/ramips/patches-6.6/805-02-v6.9-pinctrl-aw9523-Add-proper-terminator.patch
  target/linux/ramips/patches-6.6/805-03-v6.10-pinctrl-aw9523-Destroy-mutex-on-remove.patch
  target/linux/ramips/patches-6.6/805-04-v6.10-pinctrl-aw9523-Use-correct-error-code-for-not-suppor.patch
  target/linux/ramips/patches-6.6/805-05-v6.10-pinctrl-aw9523-Always-try-both-ports-in-aw9523_gpio_.patch
  target/linux/ramips/patches-6.6/805-06-v6.10-pinctrl-aw9523-Make-use-of-struct-pinfunction-and-PI.patch
  target/linux/ramips/patches-6.6/805-07-v6.10-pinctrl-aw9523-Use-temporary-variable-for-HW-IRQ-num.patch
  target/linux/ramips/patches-6.6/805-08-v6.10-pinctrl-aw9523-Get-rid-of-redundant-U8_MAX-pieces.patch
  target/linux/ramips/patches-6.6/805-09-v6.10-pinctrl-aw9523-Remove-unused-irqchip-field-in-struct.patch
  target/linux/ramips/patches-6.6/805-10-v6.10-pinctrl-aw9523-Make-use-of-dev_err_probe.patch
  target/linux/ramips/patches-6.6/805-11-v6.10-pinctrl-aw9523-Sort-headers-and-group-pinctrl.patch
  target/linux/ramips/patches-6.6/805-12-v6.10-pinctrl-aw9523-Fix-indentation-in-a-few-places.patch
  target/linux/ramips/patches-6.6/805-pinctrl-AW9523.patch
Labels: kernel, target/ramips

#16348 uboot-laniq: fix compilation with GCC14
  package/boot/uboot-lantiq/Makefile
  package/boot/uboot-lantiq/patches/0112-MIPS-add-board-support-for-Arcadyan-VGV7510KW22.patch
  package/boot/uboot-lantiq/patches/0116-MIPS-add-board-support-for-BT-Home-Hub-5A.patch
Labels: target/lantiq, core packages

#15832 ipq807x: add support for TP-Link EAP660 HD v1
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-eap660hd-v1.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/preinit/09_mount_factory_data
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#15377 scripts/feeds: Add feed update options for git rebase and autostash
  scripts/feeds
Labels: build/scripts/tools

#16353 kernel: bump 6.1 to 6.1.109
  include/kernel-6.1
Labels: build/scripts/tools

#16351 kernel: bump 6.6 to 6.6.50
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0679-drm-fb-helper-Look-up-preferred-fbdev-node-number-fr.patch
  target/linux/bcm27xx/patches-6.6/950-0684-drm-fb_helper-Change-query-for-FB-designation-from-d.patch
  target/linux/ramips/patches-6.6/810-uvc-add-iPassion-iP2970-support.patch
Labels: target/bcm27xx, build/scripts/tools, target/ramips

#15703 bpf: fix llvm version check
  include/bpf.mk
Labels: build/scripts/tools

#16382 ipq-wifi: update to Git HEAD (2024-09-13)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#16387 ipq-wifi: update to Git HEAD (2024-09-14)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#16374 toolchain/fortify-headers: update download url
  toolchain/fortify-headers/Makefile
  toolchain/fortify-headers/patches/002-strings.h-add-__extension__-mark.patch
Labels: toolchain

#16367 [23.05]: mbedtls: Update to 2.28.9
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/100-x509-crt-verify-SAN-iPAddress.patch
Labels: core packages, release/23.05

#16346 [23.05] openssl: update to 3.0.15
  package/libs/openssl/Makefile
Labels: CVE, core packages, security, release/23.05

#16368 [23.05]: mac80211: Update to version 6.1.110-1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath11k/0007-wifi-ath11k-suppress-add-interface-error.patch
  package/kernel/mac80211/patches/ath11k/0008-wifi-ath11k-add-support-to-configure-channel-dwell-t.patch
  package/kernel/mac80211/patches/ath11k/0010-wifi-ath11k-Fix-firmware-crash-on-vdev-delete-race-c.patch
  package/kernel/mac80211/patches/ath11k/0017-wifi-ath11k-Trigger-sta-disconnect-on-hardware-resta.patch
  package/kernel/mac80211/patches/ath11k/0029-wifi-ath11k-Add-support-to-configure-FTM-responder-r.patch
  package/kernel/mac80211/patches/ath11k/0039-wifi-ath11k-push-MU-MIMO-params-from-hostapd-to-hard.patch
  package/kernel/mac80211/patches/ath11k/0040-wifi-ath11k-move-HE-MCS-mapper-to-a-separate-functio.patch
  package/kernel/mac80211/patches/ath11k/0041-wifi-ath11k-generate-rx-and-tx-mcs-maps-for-supporte.patch
  package/kernel/mac80211/patches/ath11k/0042-wifi-ath11k-Add-tx-ack-signal-support-for-management.patch
  package/kernel/mac80211/patches/ath11k/0048-wifi-ath11k-fix-BUFFER_DONE-read-on-monitor-ring-rx-.patch
  package/kernel/mac80211/patches/ath11k/0050-wifi-ath11k-Configure-the-FTM-responder-role-using-f.patch
  package/kernel/mac80211/patches/ath11k/0056-wifi-ath11k-Disable-Spectral-scan-upon-removing-inte.patch
  package/kernel/mac80211/patches/ath11k/0059-wifi-ath11k-print-a-warning-when-crypto_alloc_shash-.patch
  package/kernel/mac80211/patches/ath11k/0061-wifi-ath11k-fix-undefined-behavior-with-__fls-in-dp.patch
  package/kernel/mac80211/patches/ath11k/0068-wifi-ath11k-Remove-disabling-of-80-80-and-160-MHz.patch
  package/kernel/mac80211/patches/ath11k/0071-wifi-ath11k-driver-settings-for-MBSSID-and-EMA.patch
  package/kernel/mac80211/patches/ath11k/0072-wifi-ath11k-MBSSID-configuration-during-vdev-create-.patch
  package/kernel/mac80211/patches/ath11k/0074-wifi-ath11k-MBSSID-parameter-configuration-in-AP-mod.patch
  package/kernel/mac80211/patches/ath11k/0078-wifi-ath11k-Relocate-the-func-ath11k_mac_bitrate_mas.patch
  package/kernel/mac80211/patches/ath11k/0079-wifi-ath11k-Send-HT-fixed-rate-in-WMI-peer-fixed-par.patch
  package/kernel/mac80211/patches/ath11k/0082-wifi-ath11k-factory-test-mode-support.patch
  package/kernel/mac80211/patches/subsys/210-ap_scan.patch
  package/kernel/mac80211/patches/subsys/306-02-v6.2-wifi-mac80211-add-wake_tx_queue-callback-to-drivers.patch
  package/kernel/mac80211/patches/subsys/306-03-v6.2-wifi-mac80211-Drop-support-for-TX-push-path.patch
  package/kernel/mac80211/patches/subsys/310-v6.2-mac80211-add-support-for-restricting-netdev-features.patch
  package/kernel/mac80211/patches/subsys/311-v6.2-wifi-mac80211-fix-and-simplify-unencrypted-drop-chec.patch
  package/kernel/mac80211/patches/subsys/312-v6.3-wifi-cfg80211-move-A-MSDU-check-in-ieee80211_data_to.patch
  package/kernel/mac80211/patches/subsys/313-v6.3-wifi-cfg80211-factor-out-bridge-tunnel-RFC1042-heade.patch
  package/kernel/mac80211/patches/subsys/314-v6.3-wifi-mac80211-remove-mesh-forwarding-congestion-chec.patch
  package/kernel/mac80211/patches/subsys/315-v6.3-wifi-mac80211-fix-receiving-A-MSDU-frames-on-mesh-in.patch
  package/kernel/mac80211/patches/subsys/316-v6.3-wifi-mac80211-add-a-workaround-for-receiving-non-sta.patch
  package/kernel/mac80211/patches/subsys/319-wifi-mac80211-mesh-fast-xmit-support.patch
  package/kernel/mac80211/patches/subsys/320-wifi-mac80211-use-mesh-header-cache-to-speed-up-mesh.patch
  package/kernel/mac80211/patches/subsys/321-mac80211-fix-mesh-forwarding.patch
  package/kernel/mac80211/patches/subsys/322-wifi-mac80211-fix-mesh-path-discovery-based-on-unica.patch
  package/kernel/mac80211/patches/subsys/325-wifi-mac80211-introduce-ieee80211_refresh_tx_agg_ses.patch
  package/kernel/mac80211/patches/subsys/327-wifi-mac80211-add-support-for-letting-drivers-regist.patch
  package/kernel/mac80211/patches/subsys/329-wifi-mac80211-fix-receiving-mesh-packets-in-forwardi.patch
  package/kernel/mac80211/patches/subsys/331-wifi-mac80211-flush-queues-on-STA-removal.patch
  package/kernel/mac80211/patches/subsys/333-wifi-mac80211-add-flush_sta-method.patch
  package/kernel/mac80211/patches/subsys/336-v6.4-wifi-mac80211-generate-EMA-beacons-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/339-wifi-cfg80211-fix-receving-mesh-packets-without-RFC1.patch
  package/kernel/mac80211/patches/subsys/340-cfg80211-allow-grace-period-for-DFS-available-after-.patch
  package/kernel/mac80211/patches/subsys/341-v6.2-cfg80211-Update-Transition-Disable-policy-during-por.patch
  package/kernel/mac80211/patches/subsys/342-v6.3-mac80211-support-minimal-EHT-rate-reporting-on-RX.patch
  package/kernel/mac80211/patches/subsys/343-v6.3-wifi-mac80211-mlme-handle-EHT-channel-puncturing.patch
  package/kernel/mac80211/patches/subsys/344-v6.3-0002-wifi-nl80211-validate-and-configure-puncturing-bitma.patch
  package/kernel/mac80211/patches/subsys/344-v6.3-0003-wifi-cfg80211-include-puncturing-bitmap-in-channel-s.patch
  package/kernel/mac80211/patches/subsys/344-v6.3-0004-wifi-mac80211-configure-puncturing-bitmap.patch
  package/kernel/mac80211/patches/subsys/349-v6.5-wifi-mac80211-Add-getter-functions-for-vif-MLD-state.patch
  package/kernel/mac80211/patches/subsys/350-v6.3-wifi-mac80211-Allow-NSS-change-only-up-to-capability.patch
  package/kernel/mac80211/patches/subsys/351-v6.9-wifi-mac80211-track-capability-opmode-NSS-separately.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
  package/kernel/mac80211/patches/subsys/780-avoid-crashing-missing-band.patch
Labels: core packages, release/23.05

#16370 kernel: bump 6.6 to 6.6.51
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0058-Revert-Bluetooth-Always-request-for-user-confirmatio.patch
  target/linux/bcm27xx/patches-6.6/950-0092-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/bcm27xx/patches-6.6/950-0980-drivers-mmc-add-SD-support-for-Command-Queueing.patch
  target/linux/bcm27xx/patches-6.6/950-0983-drivers-mmc-preallocate-a-block-for-SD-extension-reg.patch
  target/linux/bcm27xx/patches-6.6/950-0993-drivers-mmc-cqhci-clear-CQHCI_CTL-if-halt-fails.patch
  target/linux/bcm27xx/patches-6.6/950-0994-drivers-mmc-export-SD-extension-register-read-write-.patch
  target/linux/bcm27xx/patches-6.6/950-0995-drivers-mmc-be-more-cautious-when-manipulating-Comma.patch
  target/linux/bcm27xx/patches-6.6/950-0996-drivers-mmc-add-debugfs-entries-for-SD-extension-reg.patch
  target/linux/bcm27xx/patches-6.6/950-0997-drivers-mmc-handle-1024-byte-SD-General-Info-lengths.patch
  target/linux/bcm27xx/patches-6.6/950-1018-drivers-mmc-apply-SD-quirks-earlier-during-probe.patch
  target/linux/generic/backport-6.6/200-regmap-maple-work-around-false-positive-warning.patch
  target/linux/generic/backport-6.6/822-v6.11-0012-nvmem-Fix-return-type-of-devm_nvmem_device_get-in-ke.patch
  target/linux/generic/hack-6.6/760-net-usb-r8152-add-LED-configuration-from-OF.patch
  target/linux/generic/hack-6.6/901-debloat_sock_diag.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/generic/pending-6.6/834-ledtrig-libata.patch
  target/linux/ramips/patches-6.6/311-MIPS-use-set_mode-to-enable-disable-the-cevt-r4k-irq.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
  target/linux/sifiveu/patches-6.6/0005-riscv-sifive-unleashed-define-opp-table-cpufreq.patch
  target/linux/starfive/patches-6.6/0001-clk-starfive-jh7110-sys-Fix-lower-rate-of-CPUfreq-by.patch
  target/linux/starfive/patches-6.6/0010-crypto-starfive-RSA-poll-csr-for-done-status.patch
  target/linux/starfive/patches-6.6/0012-crypto-starfive-Remove-cfb-and-ofb.patch
  target/linux/starfive/patches-6.6/0013-crypto-starfive-Remove-unneeded-NULL-checks.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/rockchip, target/sifiveu

#16403 generic: enable RELR relocations
  target/linux/generic/config-5.15
  target/linux/generic/config-6.1
  target/linux/generic/config-6.6
Labels: kernel

#16405 toolchain: binutils: add support for 2.43.1
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.43.1/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.43.1/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.43.1/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

#16404 kernel: rework Initramfs locking logic
  include/kernel-defaults.mk
Labels: build/scripts/tools

#16408 realtek: default to 6.6
  target/linux/realtek/Makefile
Labels: target/realtek

#16378 tools/cmake: update to 3.30.3
  tools/cmake/Makefile
Labels: build/scripts/tools

#16412 [23.05] ramips: mt7621: use lzma-loader for Sercomm NA502s
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips, release/23.05

#16411 dtc: update to 1.7.1
  package/utils/dtc/Makefile
  package/utils/dtc/patches/010-both-libraries.patch
Labels: core packages

#16422 kernel: bump 6.6 to 6.6.52
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/generic/backport-6.6/819-v6.8-0001-nvmem-Move-of_nvmem_layout_get_container-in-another-.patch
  target/linux/generic/backport-6.6/819-v6.8-0005-nvmem-core-Rework-layouts-to-become-regular-devices.patch
  target/linux/generic/backport-6.6/819-v6.8-0010-nvmem-core-add-nvmem_dev_size-helper.patch
  target/linux/generic/backport-6.6/819-v6.8-0011-nvmem-u-boot-env-use-nvmem_add_one_cell-nvmem-subsys.patch
  target/linux/generic/backport-6.6/819-v6.8-0012-nvmem-u-boot-env-use-nvmem-device-helpers.patch
  target/linux/generic/backport-6.6/819-v6.8-0013-nvmem-u-boot-env-improve-coding-style.patch
  target/linux/generic/backport-6.6/822-v6.11-0001-nvmem-add-missing-MODULE_DESCRIPTION-macros.patch
  target/linux/generic/backport-6.6/822-v6.11-0011-nvmem-u-boot-env-error-if-NVMEM-device-is-too-small.patch
  target/linux/starfive/patches-6.6/0048-riscv-dts-starfive-Add-full-support-except-VIN-and-V.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#16379 tools/expat: update to 2.6.3
  tools/expat/Makefile
Labels: build/scripts/tools

#16432 packages: remove remnants of kernels below 6.6
  include/netfilter.mk
  package/kernel/linux/modules/can.mk
  package/kernel/linux/modules/crypto.mk
  package/kernel/linux/modules/fs.mk
  package/kernel/linux/modules/hwmon.mk
  package/kernel/linux/modules/iio.mk
  package/kernel/linux/modules/input.mk
  package/kernel/linux/modules/netdevices.mk
  package/kernel/linux/modules/netfilter.mk
  package/kernel/linux/modules/netsupport.mk
  package/kernel/linux/modules/nls.mk
  package/kernel/linux/modules/other.mk
  package/kernel/linux/modules/usb.mk
  package/kernel/linux/modules/video.mk
  package/kernel/linux/modules/virt.mk
  package/network/utils/iptables/Makefile
  target/linux/armsr/modules.mk
Labels: build/scripts/tools, kernel, core packages, target/armsr

#16420 mac80211: fix vulnerability in rtw88: usb CVE-2024-46760
  package/kernel/mac80211/patches/rtl/001-v6.10-wifi-rtw88-usb-schedule-rx-work-after-everything-is-.patch
Labels: core packages

#16406 ath79: fix I2C pins on GL-AR750
  target/linux/ath79/dts/qca9531_glinet_gl-ar750.dts
Labels: target/ath79

#16450 include: remove kernel 6.1 version file
  include/kernel-6.1
Labels: build/scripts/tools

#16331 ramips: TP-Link EC220-G5 v2: swap WLAN leds assignment
  target/linux/ramips/dts/mt7620a_tplink_ec220-g5-v2.dts
Labels: target/ramips

#16441 build: remove ac_cv_header_netinet_sctp_h=no from pre-cached variables
  include/site/linux
Labels: build/scripts/tools

#16446 ath79: fix I2C pins on GL-AR750
  target/linux/ath79/dts/qca9531_glinet_gl-ar750.dts
Labels: target/ath79, release/23.05

#16443 rockchip: backport upstream updates for nanopc t6
  target/linux/rockchip/patches-6.6/054-01-v6.8-arm64-dts-rockchip-Support-poweroff-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/054-02-v6.9-arm64-dts-rockchip-nanopc-t6-sdmmc-beautification.patch
  target/linux/rockchip/patches-6.6/054-03-v6.9-arm64-dts-rockchip-correct-gpio_pwrctrl1-typo-on-nanopc-t.patch
  target/linux/rockchip/patches-6.6/054-04-v6.9-arm64-dts-rockchip-enable-NanoPC-T6-MiniPCIe-power.patch
  target/linux/rockchip/patches-6.6/054-05-v6.9-arm64-dts-rockchip-add-sdmmc-card-detect-to-the-nanopc-t6.patch
  target/linux/rockchip/patches-6.6/054-06-v6.9-arm64-dts-rockchip-fix-nanopc-t6-sdmmc-regulator.patch
  target/linux/rockchip/patches-6.6/054-08-v6.12-arm64-dts-rockchip-prepare-NanoPC-T6-for-LTS-board.patch
  target/linux/rockchip/patches-6.6/054-09-v6.12-arm64-dts-rockchip-move-NanoPC-T6-parts-to-DTS.patch
  target/linux/rockchip/patches-6.6/054-10-v6.12-arm64-dts-rockchip-add-SPI-flash-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/054-11-v6.12-arm64-dts-rockchip-add-IR-receiver-to-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/054-12-v6.12-arm64-dts-rockchip-enable-GPU-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/054-13-v6.12-arm64-dts-rockchip-enable-USB-C-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/054-14-v6.12-arm64-dts-rockchip-add-Mask-Rom-key-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/054-15-v6.12-arm64-dts-rockchip-use-correct-fcs-suspend-voltage-selecto.patch
  target/linux/rockchip/patches-6.6/120-arm64-dts-rockchip-add-led-aliases-and-stop-heartbeat-for-nanopc-t6.patch
  target/linux/rockchip/patches-6.6/121-arm64-dts-rockchip-lower-mmc-speed-for-nanopc-t6.patch
Labels: target/rockchip

#15961 6in4: device and nohostroute option, fqdn as endpoints
  package/network/ipv6/6in4/Makefile
  package/network/ipv6/6in4/files/6in4.sh
Labels: core packages

#16425 tools/meson: update to 1.5.1
  tools/meson/Makefile
Labels: build/scripts/tools

#16401 libpcap: update to 1.10.5
  package/libs/libpcap/Makefile
  package/libs/libpcap/patches/100-no-openssl.patch
  package/libs/libpcap/patches/102-skip-manpages.patch
  package/libs/libpcap/patches/300-Add-support-for-B.A.T.M.A.N.-Advanced.patch
Labels: core packages

#16402 tcpdump: update to 4.99.5
  package/network/utils/tcpdump/Makefile
  package/network/utils/tcpdump/patches/001-remove_pcap_debug.patch
  package/network/utils/tcpdump/patches/100-tcpdump_mini.patch
Labels: core packages

#16371 mbedtls: update to 3.6.1
  package/libs/mbedtls/Makefile
Labels: core packages

#16372 libusb: update to 1.0.27
  package/libs/libusb/Makefile
Labels: core packages

#16416 ath79: rb91x_nand: use dev_err_probe
  target/linux/ath79/files/drivers/mtd/nand/raw/rb91x_nand.c
Labels: kernel, target/ath79

#16202 ramips: Add support for Ruijie RG-EW1200G PRO v1.1
  target/linux/ramips/dts/mt7621_ruijie_rg-ew1200g-pro-v1.1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#16272 generic: mtd: spinand: winbond: more serial NAND flash types
  target/linux/generic/backport-6.6/898-v6.7-mtd-spinand-winbond-add-support-for-serial-NAND-flash.patch
  target/linux/generic/backport-6.6/899-v6.9-mtd-spinand-winbond-add-W25N04KV.patch
  target/linux/generic/pending-6.6/489-mtd-spinand-winbond-add-support-for-W25N01KV.patch
Labels: kernel

#16373 toolchain/nasm: update to 2.16.03
  toolchain/nasm/Makefile
Labels: toolchain

#16269 ramips: Add support for D-Link DIR-2150-R1
  target/linux/ramips/dts/mt7621_dlink_dir-2150-r1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: target/ramips

#16112 Add missing ingredients for hostapd standalone EAP server functionality
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

#15495 hostapd: fix `UPDATE_VAL` fail in `uc_hostapd_iface_start`
  package/network/services/hostapd/src/src/ap/ucode.c
Labels: core packages

#16459 [23.05] ipq40xx: re-add label MAC address for FritzBox 4040
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4018-fritzbox-4040.dts
Labels: kernel, target/ipq40xx, release/23.05

#16458 linux-firmware: Update to version 20240909
  package/firmware/linux-firmware/Makefile
Labels: core packages

#16464 x86: generic: disable rust support
  target/linux/generic/config-6.6
Labels: kernel

#16456 gpio-button-hotplug: use dev_err_probe
  package/kernel/gpio-button-hotplug/Makefile
  package/kernel/gpio-button-hotplug/src/gpio-button-hotplug.c
Labels: core packages

#16461 rockchip: reorder nanopc t6 patches
  target/linux/rockchip/patches-6.6/055-01-v6.8-arm64-dts-rockchip-Support-poweroff-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/055-02-v6.9-arm64-dts-rockchip-nanopc-t6-sdmmc-beautification.patch
  target/linux/rockchip/patches-6.6/055-03-v6.9-arm64-dts-rockchip-correct-gpio_pwrctrl1-typo-on-nanopc-t.patch
  target/linux/rockchip/patches-6.6/055-04-v6.9-arm64-dts-rockchip-enable-NanoPC-T6-MiniPCIe-power.patch
  target/linux/rockchip/patches-6.6/055-05-v6.9-arm64-dts-rockchip-add-sdmmc-card-detect-to-the-nanopc-t6.patch
  target/linux/rockchip/patches-6.6/055-06-v6.9-arm64-dts-rockchip-fix-nanopc-t6-sdmmc-regulator.patch
  target/linux/rockchip/patches-6.6/055-08-v6.12-arm64-dts-rockchip-prepare-NanoPC-T6-for-LTS-board.patch
  target/linux/rockchip/patches-6.6/055-09-v6.12-arm64-dts-rockchip-move-NanoPC-T6-parts-to-DTS.patch
  target/linux/rockchip/patches-6.6/055-10-v6.12-arm64-dts-rockchip-add-SPI-flash-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/055-11-v6.12-arm64-dts-rockchip-add-IR-receiver-to-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/055-12-v6.12-arm64-dts-rockchip-enable-GPU-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/055-13-v6.12-arm64-dts-rockchip-enable-USB-C-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/055-14-v6.12-arm64-dts-rockchip-add-Mask-Rom-key-on-NanoPC-T6.patch
  target/linux/rockchip/patches-6.6/055-15-v6.12-arm64-dts-rockchip-use-correct-fcs-suspend-voltage-selecto.patch
Labels: target/rockchip

#16463 ipq807x: sax1v1k: fix sysupgrade not touching rootfs_data
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax

#16451 CI: update actions/labeler to v5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: GitHub/CI

#16472 tfa-layerscape: fix fiptool's build
  package/boot/tfa-layerscape/Makefile
Labels: target/layerscape, core packages

#15891 tools/flex: respect STAGING_DIR_HOST
  tools/flex/patches/300-m4-path.patch
Labels: build/scripts/tools

#16467 uboot-kirkwood: fix compilation with GCC14
  package/boot/uboot-kirkwood/Makefile
  package/boot/uboot-kirkwood/patches/180-netgear-stora.patch
  package/boot/uboot-kirkwood/patches/200-openwrt-config.patch
Labels: target/kirkwood, core packages

#16350 ath79: gpio-latch-mikrotik: use dev_err_probe
  target/linux/ath79/files/drivers/gpio/gpio-latch-mikrotik.c
Labels: kernel, target/ath79

#16415 ramips: use more devm in mtk_eth_soc
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: kernel, target/ramips

#16470 openssl: update download mirrors
  package/libs/openssl/Makefile
Labels: core packages

#16517 ath79: Refresh kernel patches
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
Labels: target/ath79

#16471 base-files: emmc: invalidate kernel image while rootfs is being written
  package/base-files/files/lib/upgrade/emmc.sh
Labels: core packages

#16530 tools: fakeroot: update to 1.36
  tools/fakeroot/Makefile
  tools/fakeroot/patches/300-time64-hack.patch
  tools/fakeroot/patches/400-alpine-libc.musl-fix.patch
Labels: build/scripts/tools

#16520 [23.05] tools: bzip2: use static lib and tools
  tools/bzip2/Makefile
Labels: build/scripts/tools, release/23.05

#16518 [23.05] octeon: ubnt-edgerouter: fix sysupgrade config backup/restore
  target/linux/octeon/base-files/lib/preinit/79_move_config
  target/linux/octeon/base-files/lib/upgrade/platform.sh
Labels: target/octeon, release/23.05

#16454 CI: labeler: Add new targets
  .github/labeler.yml
Labels: GitHub/CI

#16524 kernel: make 'no port node found' output a debug message
  target/linux/generic/backport-6.6/817-v6.9-of-property-Make-no-port-node-found-output-a-debug.patch
Labels: kernel

#16536 scripts: config.guess: update to 2024-07-27
  scripts/config.guess
  scripts/config.sub
Labels: build/scripts/tools

#16544 mediatek: filogic: select MT7996 2+3+3 firmware
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#16549 generic: backport ("net: free_netdev: exit earlier if dummy")
  target/linux/generic/backport-6.6/900-v6.11-net-free_netdev-exit-earlier-if-dummy.patch
Labels: kernel
