Repository openwrt/openwrt, pull requests merged in 2024-02, with the labels that each got.

#14528 generic: 6.1: backport at803x split patches
  target/linux/generic/backport-6.1/713-v6.9-01-net-phy-move-at803x-PHY-driver-to-dedicated-director.patch
  target/linux/generic/backport-6.1/713-v6.9-02-net-phy-qcom-create-and-move-functions-to-shared-lib.patch
  target/linux/generic/backport-6.1/713-v6.9-03-net-phy-qcom-deatch-qca83xx-PHY-driver-from-at803x.patch
  target/linux/generic/backport-6.1/713-v6.9-04-net-phy-qcom-move-additional-functions-to-shared-lib.patch
  target/linux/generic/backport-6.1/713-v6.9-05-net-phy-qcom-detach-qca808x-PHY-driver-from-at803x.patch
  target/linux/generic/config-6.1
  target/linux/ipq40xx/files/drivers/net/phy/qcom/qca807x.c
  target/linux/ipq40xx/patches-6.1/709-net-phy-Add-Qualcom-QCA807x-driver.patch
  target/linux/ipq806x/config-6.1
  target/linux/mediatek/patches-6.1/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.1/730-v6.5-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mediatek/patches-6.1/733-net-phy-add-driver-for-MediaTek-2.5G-PHY.patch
Labels: target/ipq806x, kernel, target/ipq40xx, target/mediatek

#14525 ucode: ensure host libjson-c is built prior to ucode
  package/utils/ucode/Makefile
Labels: core packages

#14530 generic: 6.1: backport PHY package MMD patch
  target/linux/generic/backport-6.1/714-v6.8-01-net-phy-make-addr-type-u8-in-phy_package_shared-stru.patch
  target/linux/generic/backport-6.1/714-v6.8-02-net-phy-extend-PHY-package-API-to-support-multiple-g.patch
  target/linux/generic/backport-6.1/714-v6.8-03-net-phy-restructure-__phy_write-read_mmd-to-helper-a.patch
  target/linux/generic/backport-6.1/714-v6.8-04-net-phy-add-support-for-PHY-package-MMD-read-write.patch
  target/linux/generic/backport-6.1/801-v6.4-05-net-phy-Add-a-binding-for-PHY-LEDs.patch
  target/linux/generic/backport-6.1/801-v6.4-06-net-phy-phy_device-Call-into-the-PHY-driver-to-set-L.patch
  target/linux/generic/backport-6.1/801-v6.4-08-net-phy-phy_device-Call-into-the-PHY-driver-to-set-L.patch
  target/linux/generic/backport-6.1/820-v6.4-net-phy-fix-circular-LEDS_CLASS-dependencies.patch
  target/linux/generic/backport-6.1/821-v6.4-net-phy-Fix-reading-LED-reg-property.patch
  target/linux/generic/backport-6.1/822-v6.4-net-phy-Manual-remove-LEDs-to-ensure-correct-orderin.patch
  target/linux/generic/backport-6.1/826-v6.6-02-net-phy-phy_device-Call-into-the-PHY-driver-to-set-L.patch
  target/linux/generic/backport-6.1/835-v6.9-net-phy-add-support-for-PHY-LEDs-polarity-modes.patch
  target/linux/generic/pending-6.1/703-phy-add-detach-callback-to-struct-phy_driver.patch
Labels: kernel

#14492 kernel: bump 6.1 to 6.1.75
  include/kernel-6.1
  target/linux/ath79/patches-6.1/800-leds-add-reset-controller-based-driver.patch
  target/linux/bcm27xx/patches-6.1/950-0092-watchdog-bcm2835-Support-setting-reboot-partition.patch
  target/linux/bcm27xx/patches-6.1/950-0249-serial-8250-bcm2835aux-defer-if-clock-is-zero.patch
  target/linux/bcm27xx/patches-6.1/950-0284-watchdog-bcm2835-Ignore-params-after-the-partition-n.patch
  target/linux/bcm27xx/patches-6.1/950-0670-fbdev-Don-t-cancel-deferred-work-if-pagelist-empty.patch
  target/linux/bcm27xx/patches-6.1/950-0791-serial-sc16is7xx-Read-modem-line-state-at-startup.patch
  target/linux/bcm27xx/patches-6.1/950-0865-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bmips/patches-6.1/700-leds-add-support-for-Sercomm-MSP430-LED-controller.patch
  target/linux/generic/backport-6.1/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/backport-6.1/815-v6.7-3-leds-turris-omnia-Support-HW-controlled-mode-via-pri.patch
  target/linux/generic/hack-6.1/321-powerpc_crtsavres_prereq.patch
  target/linux/generic/pending-6.1/540-ksmbd-only-v2-leases-handle-the-directory.patch
  target/linux/generic/pending-6.1/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/mediatek/patches-6.1/601-PCI-mediatek-Assert-PERST-for-100ms-for-power-and-cl.patch
  target/linux/mediatek/patches-6.1/611-pcie-mediatek-gen3-PERST-for-100ms.patch
  target/linux/mediatek/patches-6.1/710-pci-pcie-mediatek-add-support-for-coherent-DMA.patch
  target/linux/mediatek/patches-6.1/950-smartrg-i2c-led-driver.patch
  target/linux/mvebu/patches-6.1/904-drivers-leds-Add-the-IEI-WT61P803-PUZZLE-LED-driver.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mvebu, target/ath79, target/mediatek, target/bmips

#14493 kernel: bump 5.15 to 5.15.148
  include/kernel-5.15
  target/linux/ath79/patches-5.15/800-leds-add-reset-controller-based-driver.patch
  target/linux/bcm63xx/patches-5.15/144-add-removed-syscon_regmap_lookup_by_pdevname.patch
  target/linux/generic/backport-5.15/080-v5.17-clk-gate-Add-devm_clk_hw_register_gate.patch
  target/linux/generic/backport-5.15/775-v6.0-01-net-ethernet-stmicro-stmmac-move-queue-reset-to-dedi.patch
  target/linux/generic/backport-5.15/775-v6.0-02-net-ethernet-stmicro-stmmac-first-disable-all-queues.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/775-v6.0-04-net-ethernet-stmicro-stmmac-generate-stmmac-dma-conf.patch
  target/linux/generic/backport-5.15/775-v6.0-05-net-ethernet-stmicro-stmmac-permit-MTU-change-with-i.patch
  target/linux/generic/backport-5.15/826-v5.17-of-base-make-small-of_parse_phandle-variants-static-.patch
  target/linux/generic/backport-5.15/827-v6.3-0001-of-base-add-of_parse_phandle_with_optional_args.patch
  target/linux/generic/backport-5.15/828-v6.4-0004-of-Move-of_modalias-to-module.c.patch
  target/linux/generic/backport-5.15/828-v6.4-0005-of-Move-the-request-module-helper-logic-to-module.c.patch
  target/linux/generic/backport-5.15/830-v6.7-3-leds-turris-omnia-Support-HW-controlled-mode-via-pri.patch
  target/linux/generic/hack-5.15/321-powerpc_crtsavres_prereq.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/mediatek/patches-5.15/601-PCI-mediatek-Assert-PERST-for-100ms-for-power-and-cl.patch
  target/linux/mediatek/patches-5.15/710-pci-pcie-mediatek-add-support-for-coherent-DMA.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/mediatek/patches-5.15/950-smartrg-i2c-led-driver.patch
  target/linux/mvebu/patches-5.15/904-drivers-leds-Add-the-IEI-WT61P803-PUZZLE-LED-driver.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/ramips/patches-5.15/830-mmc-MIPS-ralink-add-sdhci-for-mt7620a-SoC.patch
Labels: target/bcm63xx, build/scripts/tools, kernel, target/mvebu, target/ramips, target/ath79, target/mediatek, target/octeontx

#14495 [22.03]: mac80211: Update to version 5.15.148-1
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/ath/400-ath_move_debug_code.patch
  package/kernel/mac80211/patches/ath/404-regd_no_assoc_hints.patch
  package/kernel/mac80211/patches/ath9k/512-ath9k_channelbw_debugfs.patch
  package/kernel/mac80211/patches/brcm/861-brcmfmac-workaround-bug-with-some-inconsistent-BSSes.patch
  package/kernel/mac80211/patches/brcm/862-brcmfmac-Disable-power-management.patch
  package/kernel/mac80211/patches/brcm/998-survey.patch
  package/kernel/mac80211/patches/build/015-ipw200-mtu.patch
  package/kernel/mac80211/patches/mwl/801-libertas-configure-sysfs-links.patch
  package/kernel/mac80211/patches/rt2x00/002-rt2x00-add-throughput-LED-trigger.patch
  package/kernel/mac80211/patches/rt2x00/602-rt2x00-introduce-rt2x00eeprom.patch
  package/kernel/mac80211/patches/rt2x00/611-rt2x00-add-AP+STA-support.patch
  package/kernel/mac80211/patches/subsys/306-mac80211-use-coarse-boottime-for-airtime-fairness-co.patch
  package/kernel/mac80211/patches/subsys/312-mac80211-split-beacon-retrieval-functions.patch
  package/kernel/mac80211/patches/subsys/313-nl80211-MBSSID-and-EMA-support-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/314-cfg80211-implement-APIs-for-dedicated-radar-detectio.patch
  package/kernel/mac80211/patches/subsys/315-cfg80211-move-offchan_cac_event-to-a-dedicated-work.patch
  package/kernel/mac80211/patches/subsys/317-cfg80211-schedule-offchan_cac_abort_wk-in-cfg80211_r.patch
  package/kernel/mac80211/patches/subsys/318-cfg80211-allow-continuous-radar-monitoring-on-offcha.patch
  package/kernel/mac80211/patches/subsys/319-mac80211-introduce-set_radar_offchan-callback.patch
  package/kernel/mac80211/patches/subsys/320-cfg80211-rename-offchannel_chain-structs-to-backgrou.patch
  package/kernel/mac80211/patches/subsys/324-mac80211-MBSSID-beacon-handling-in-AP-mode.patch
  package/kernel/mac80211/patches/subsys/325-mac80211-MBSSID-channel-switch.patch
  package/kernel/mac80211/patches/subsys/330-mac80211-switch-airtime-fairness-back-to-deficit-rou.patch
  package/kernel/mac80211/patches/subsys/331-mac80211-make-sta-airtime-deficit-field-s32-instead-.patch
  package/kernel/mac80211/patches/subsys/332-mac80211-consider-aql_tx_pending-when-checking-airti.patch
  package/kernel/mac80211/patches/subsys/333-mac80211-keep-recently-active-tx-queues-in-schedulin.patch
  package/kernel/mac80211/patches/subsys/334-mac80211-add-a-per-PHY-AQL-limit-to-improve-fairness.patch
  package/kernel/mac80211/patches/subsys/336-mac80211-only-accumulate-airtime-deficit-for-active-.patch
  package/kernel/mac80211/patches/subsys/337-mac80211-increase-quantum-for-airtime-scheduler.patch
  package/kernel/mac80211/patches/subsys/339-mac80211-exclude-multicast-packets-from-AQL-pending-.patch
  package/kernel/mac80211/patches/subsys/343-wifi-mac80211-fix-decap-offload-for-stations-on-AP_V.patch
  package/kernel/mac80211/patches/subsys/345-wifi-mac80211-do-not-drop-packets-smaller-than-the-L.patch
  package/kernel/mac80211/patches/subsys/347-wifi-ieee80211-correctly-mark-FTM-frames-non-buffera.patch
  package/kernel/mac80211/patches/subsys/348-wifi-mac80211-flush-queues-on-STA-removal.patch
  package/kernel/mac80211/patches/subsys/349-wifi-iwlwifi-mvm-support-flush-on-AP-interfaces.patch
  package/kernel/mac80211/patches/subsys/350-wifi-mac80211-add-flush_sta-method.patch
  package/kernel/mac80211/patches/subsys/351-wifi-iwlwifi-mvm-support-new-flush_sta-method.patch
  package/kernel/mac80211/patches/subsys/352-wifi-mac80211-fix-invalid-drv_sta_pre_rcu_remove-cal.patch
  package/kernel/mac80211/patches/subsys/400-allow-ibss-mixed.patch
  package/kernel/mac80211/patches/subsys/500-mac80211_configure_antenna_gain.patch
Labels: core packages, release/22.03

#14534 openssl: update to 3.0.13
  package/libs/openssl/Makefile
  package/libs/openssl/patches/100-Configure-afalg-support.patch
  package/libs/openssl/patches/140-allow-prefer-chacha20.patch
Labels: core packages

#14527 ath79: Modify GL.iNer GL-S200 lan wan interface
  target/linux/ath79/nand/base-files/etc/board.d/02_network
Labels: target/ath79

#13959 mediatek: add Comfast CF-E393AX support
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981a-comfast-cf-e393ax.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#14536 zlib: update to 1.3.1
  package/libs/zlib/Makefile
  package/libs/zlib/patches/004-attach-sourcefiles-in-patch-002-to-buildsystem.patch
Labels: core packages

#14535 tools/ccache: update to 4.9
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#14547 wireless-regdb: update to 2024.01.23
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#14558 generic: 6.1: backport patch to enable PHYLIB_LEDS kconfig dynamically
  target/linux/generic/backport-6.1/837-v6.4-net-phy-hide-the-PHYLIB_LEDS-knob.patch
  target/linux/generic/hack-6.1/700-swconfig_switch_drivers.patch
  target/linux/mediatek/patches-6.1/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/mediatek/patches-6.1/730-v6.5-net-phy-add-driver-for-MediaTek-SoC-built-in-GE-PHYs.patch
  target/linux/mediatek/patches-6.1/733-net-phy-add-driver-for-MediaTek-2.5G-PHY.patch
Labels: kernel

#14564 tools/pkgconf: update to 2.1.1
  tools/pkgconf/Makefile
Labels: build/scripts/tools

#14563 tools/cmake: update to 3.28.3
  tools/cmake/Makefile
Labels: build/scripts/tools

#14565 toolchain: binutils: add support for version 2.42
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.42/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.42/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.42/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

#14529 base-files/leds: add LED color handling
  package/base-files/files/etc/init.d/led
Labels: core packages

#14572 strace: update to 6.7
  package/devel/strace/Makefile
Labels: core packages

#14580 kernel-build.mk: add support for compiling only DTS
  include/image.mk
  include/kernel-build.mk
  include/subdir.mk
Labels: build/scripts/tools

#14509 uboot-envtools: update to 2024.01
  package/boot/uboot-envtools/Makefile
  package/boot/uboot-envtools/patches/002-Revert-tools-env-use-run-to-store-lockfile.patch
Labels: core packages

#14578 toolchain: glibc: Update glibc 2.37 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain

#14600 ramips: hsdma-mtk: fix build on 5.15 kernel
  target/linux/ramips/modules.mk
Labels: target/ramips

#14590 uboot-envtools: backport some usefull patches from v2024.04-rc1
  package/boot/uboot-envtools/Makefile
  package/boot/uboot-envtools/patches/011-fw_env-keep-calling-read-until-whole-flash-block-is-.patch
  package/boot/uboot-envtools/patches/012-fw_env-autodetect-NAND-erase-size-and-env-sectors.patch
Labels: core packages

#14592 ramips: mtk_eth_soc: fix NULL pointer dereference for syncp
  target/linux/ramips/files/drivers/net/ethernet/ralink/mtk_eth_soc.c
Labels: kernel, target/ramips

#14588 [23.05] kernel: bump 5.15 to 5.15.148
  include/kernel-5.15
  target/linux/ath79/patches-5.15/0003-leds-add-reset-controller-based-driver.patch
  target/linux/bcm27xx/patches-5.15/950-0043-watchdog-bcm2835-Support-setting-reboot-partition.patch
  target/linux/bcm27xx/patches-5.15/950-0108-sc16is7xx-Don-t-spin-if-no-data-received.patch
  target/linux/bcm27xx/patches-5.15/950-0231-sc16is7xx-Fix-for-hardware-flow-control.patch
  target/linux/bcm27xx/patches-5.15/950-0310-watchdog-bcm2835-Ignore-params-after-the-partition-n.patch
  target/linux/bcm63xx/patches-5.15/144-add-removed-syscon_regmap_lookup_by_pdevname.patch
  target/linux/bmips/patches-5.15/700-leds-add-support-for-Sercomm-MSP430-LED-controller.patch
  target/linux/generic/backport-5.15/080-v5.17-clk-gate-Add-devm_clk_hw_register_gate.patch
  target/linux/generic/backport-5.15/775-v6.0-01-net-ethernet-stmicro-stmmac-move-queue-reset-to-dedi.patch
  target/linux/generic/backport-5.15/775-v6.0-02-net-ethernet-stmicro-stmmac-first-disable-all-queues.patch
  target/linux/generic/backport-5.15/775-v6.0-03-net-ethernet-stmicro-stmmac-move-dma-conf-to-dedicat.patch
  target/linux/generic/backport-5.15/775-v6.0-04-net-ethernet-stmicro-stmmac-generate-stmmac-dma-conf.patch
  target/linux/generic/backport-5.15/775-v6.0-05-net-ethernet-stmicro-stmmac-permit-MTU-change-with-i.patch
  target/linux/generic/backport-5.15/826-v5.17-of-base-make-small-of_parse_phandle-variants-static-.patch
  target/linux/generic/backport-5.15/827-v6.3-0001-of-base-add-of_parse_phandle_with_optional_args.patch
  target/linux/generic/backport-5.15/828-v6.4-0004-of-Move-of_modalias-to-module.c.patch
  target/linux/generic/backport-5.15/828-v6.4-0005-of-Move-the-request-module-helper-logic-to-module.c.patch
  target/linux/generic/hack-5.15/321-powerpc_crtsavres_prereq.patch
  target/linux/generic/pending-5.15/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/ipq806x/patches-5.15/118-v6.1-03-clk-introduce-devm_-hw_register_mux_parent_data_tabl.patch
  target/linux/ipq806x/patches-5.15/700-Revert-net-stmmac-Use-hrtimer-for-TX-coalescing.patch
  target/linux/mediatek/patches-5.15/601-PCI-mediatek-Assert-PERST-for-100ms-for-power-and-cl.patch
  target/linux/mediatek/patches-5.15/710-pci-pcie-mediatek-add-support-for-coherent-DMA.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/mvebu/patches-5.15/102-leds-turris-omnia-support-HW-controlled-mode-via-pri.patch
  target/linux/mvebu/patches-5.15/904-drivers-leds-Add-the-IEI-WT61P803-PUZZLE-LED-driver.patch
  target/linux/octeontx/patches-5.15/0004-PCI-add-quirk-for-Gateworks-PLX-PEX860x-switch-with-.patch
  target/linux/ramips/patches-5.15/830-mmc-MIPS-ralink-add-sdhci-for-mt7620a-SoC.patch
Labels: target/bcm63xx, target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/mvebu, target/ramips, target/ath79, target/mediatek, target/bmips, target/octeontx, release/23.05

#14591 ramips: mt76x8: drop AT803X phy driver
  target/linux/ramips/mt76x8/config-5.15
  target/linux/ramips/mt76x8/config-6.1
Labels: kernel, target/ramips

#14610 tools/ccache: update to 4.9.1
  tools/ccache/Makefile
  tools/ccache/patches/100-honour-copts.patch
Labels: build/scripts/tools

#14609 tools/expat: update to 2.6.0
  tools/expat/Makefile
Labels: build/scripts/tools

#14571 binutils: update to 2.42
  package/devel/binutils/Makefile
  package/devel/binutils/patches/001-replace-attribute_const.patch
Labels: core packages

#14617 libxml2: update to 2.12.5
  package/libs/libxml2/Makefile
Labels: core packages

#14641 generic: 6.1: use upstreamed QCA807x fixup
  target/linux/generic/backport-6.1/717-v6.9-net-phy-qca807x-move-interface-mode-check-to-.config.patch
Labels: kernel

#14632 qualcommax: ipq807x: MX4200 convert qca807x PHY to new implementation
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-mx4200.dtsi
Labels: kernel, target/qualcommax

#14260 ipq807x: add support for CMCC RM2-6
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8070-rm2-6.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#14630 qualcommax: ipq807x: AW1000: sync PHY dts changes
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-aw1000.dts
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/01_leds
Labels: kernel, target/qualcommax

#14636 ath79: generic: fix the alphabetical order in 02_network
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

#14614 lua: fix CVE-2014-5461
  package/utils/lua/Makefile
  package/utils/lua/patches-host/001-include-version-number.patch
  package/utils/lua/patches-host/013-lnum-strtoul-parsing-fixes.patch
  package/utils/lua/patches-host/100-no_readline.patch
  package/utils/lua/patches-host/400-CVE-2014-5461.patch
  package/utils/lua/patches/001-include-version-number.patch
  package/utils/lua/patches/013-lnum-strtoul-parsing-fixes.patch
  package/utils/lua/patches/400-CVE-2014-5461.patch
Labels: core packages

#14601 lua5.3: backport CVE fix
  package/utils/lua5.3/Makefile
  package/utils/lua5.3/patches-host/001-include-version-number.patch
  package/utils/lua5.3/patches-host/200-CVE-2019-6706.patch
  package/utils/lua5.3/patches/001-include-version-number.patch
  package/utils/lua5.3/patches/020-shared_liblua.patch
  package/utils/lua5.3/patches/200-CVE-2019-6706.patch
Labels: core packages

#14653 wifi-scripts: fix FILS AKM selection with EAP-192
  package/network/config/wifi-scripts/files/lib/netifd/hostapd.sh
Labels: core packages

#14618 build: align SOURCE path for build system and SDK
  include/package-defaults.mk
  include/toplevel.mk
Labels: build/scripts/tools

#14658 qualcommax: ipq807x: 301w: correct PHY mode for AQR
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-301w.dts
Labels: kernel, target/qualcommax

#14659 [23.05] hostapd: fix FILS AKM selection with EAP-192
  package/network/services/hostapd/files/hostapd.sh
Labels: core packages, release/23.05

#14662 qualcommax: ipq807x: correct PHY mode for AQR
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-haze.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-nbg7815.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-rax120v2.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wxr-5950ax12.dts
Labels: kernel, target/qualcommax

#14663 qualcommax: ipq807x: wax630: correct UNIPHY2 MAC mode
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-wax630.dts
Labels: kernel, target/qualcommax

#14645 ca-certificates: update to version 20240203 v2
  package/system/ca-certificates/Makefile
Labels: core packages

#14605 qualcommax: backport more changes for ipq6018 and ipq8074
  target/linux/qualcommax/patches-6.1/0008-v6.2-arm64-dts-qcom-ipq6018-fix-NAND-node-name.patch
  target/linux/qualcommax/patches-6.1/0018-v6.2-arm64-dts-qcom-ipq6018-align-TLMM-pin-configuration-.patch
  target/linux/qualcommax/patches-6.1/0022-v6.4-arm64-dts-qcom-ipq8074-add-compatible-fallback-to.patch
  target/linux/qualcommax/patches-6.1/0023-v6.5-arm64-dts-qcom-ipq8074-add-critical-thermal-trips.patch
  target/linux/qualcommax/patches-6.1/0025-v6.7-cpufreq-qcom-nvmem-add-support-for-IPQ6018.patch
  target/linux/qualcommax/patches-6.1/0026-v6.7-cpufreq-qcom-nvmem-add-support-for-IPQ8074.patch
  target/linux/qualcommax/patches-6.1/0028-v6.7-arm64-dts-qcom-ipq8074-include-the-GPLL0-as-clock-pr.patch
  target/linux/qualcommax/patches-6.1/0033-v6.2-arm64-dts-qcom-ipq6018-move-ARMv8-timer-out-of-SoC.patch
  target/linux/qualcommax/patches-6.1/0034-v6.3-arm64-dts-qcom-ipq6018-Sort-nodes-properly.patch
  target/linux/qualcommax/patches-6.1/0035-v6.3-arm64-dts-qcom-ipq6018-Add-remove-some-newlines.patch
  target/linux/qualcommax/patches-6.1/0036-v6.3-arm64-dts-qcom-ipq6018-Use-lowercase-hex.patch
  target/linux/qualcommax/patches-6.1/0037-v6.3-arm64-dts-qcom-ipq6018-align-RPM-G-Link-node-with.patch
  target/linux/qualcommax/patches-6.1/0038-v6.4-arm64-dts-qcom-ipq6018-cp01-c1-drop-SPI-cs-select.patch
  target/linux/qualcommax/patches-6.1/0039-v6.5-arm64-dts-qcom-add-few-more-reserved-memory-region.patch
  target/linux/qualcommax/patches-6.1/0040-v6.5-arm64-dts-qcom-enable-the-download-mode-support.patch
  target/linux/qualcommax/patches-6.1/0041-v6.5-arm64-dts-qcom-ipq6018-correct-qrng-unit-address.patch
  target/linux/qualcommax/patches-6.1/0042-v6.5-arm64-dts-qcom-ipq6018-add-unit-address-to-soc-node.patch
  target/linux/qualcommax/patches-6.1/0043-v6.5-arm64-dts-qcom-ipq6018-add-QFPROM-node.patch
  target/linux/qualcommax/patches-6.1/0044-v6.5-arm64-dts-qcom-ipq6018-drop-incorrect-SPI-bus.patch
  target/linux/qualcommax/patches-6.1/0045-v6.5-arm64-dts-qcom-ipq8074-drop-incorrect-SPI-bus.patch
  target/linux/qualcommax/patches-6.1/0046-v6.6-clk-qcom-gcc-ipq6018-Use-floor-ops-for-sdcc-clocks.patch
  target/linux/qualcommax/patches-6.1/0047-v6.6-clk-qcom-gcc-ipq6018-drop-redundant-F-define.patch
  target/linux/qualcommax/patches-6.1/0048-v6.6-clk-qcom-gcc-ipq6018-update-UBI32-PLL.patch
  target/linux/qualcommax/patches-6.1/0049-v6.6-clk-qcom-gcc-ipq6018-remove-duplicate-initializers.patch
  target/linux/qualcommax/patches-6.1/0050-v6.6-soc-qcom-Add-RPM-processor-subsystem-driver.patch
  target/linux/qualcommax/patches-6.1/0051-v6.6-arm64-dts-qcom-Add-rpm-proc-node-for-GLINK.patch
  target/linux/qualcommax/patches-6.1/0052-v6.7-arm64-dts-qcom-ipq6018-include-the-GPLL0-as.patch
  target/linux/qualcommax/patches-6.1/0053-v6.7-clk-qcom-gcc-ipq6018-add-QUP6-I2C-clock.patch
  target/linux/qualcommax/patches-6.1/0054-v6.8-arm64-dts-qcom-ipq6018-use-CPUFreq-NVMEM.patch
  target/linux/qualcommax/patches-6.1/0055-v6.8-arm64-dts-ipq6018-Add-remaining-QUP-UART-node.patch
  target/linux/qualcommax/patches-6.1/0056-v6.9-arm64-dts-qcom-Fix-hs_phy_irq-for-QUSB2-targets.patch
  target/linux/qualcommax/patches-6.1/0057-v6.8-hwspinlock-qcom-Remove-IPQ6018-SOC-specific-.patch
  target/linux/qualcommax/patches-6.1/0058-v6.9-arm64-dts-qcom-ipq6018-add-tsens-node.patch
  target/linux/qualcommax/patches-6.1/0059-v6.9-arm64-dts-qcom-ipq6018-add-thermal-zones.patch
  target/linux/qualcommax/patches-6.1/0060-v6.9-clk-qcom-gcc-ipq6018-add-qdss_at-clock-needed-for-wi.patch
  target/linux/qualcommax/patches-6.1/0061-v6.8-phy-qcom-qmp-usb-fix-serdes-init-sequence-for-IPQ6018.patch
  target/linux/qualcommax/patches-6.1/0102-arm64-dts-ipq8074-add-reserved-memory-nodes.patch
  target/linux/qualcommax/patches-6.1/0110-arm64-dts-qcom-ipq8074-pass-QMP-PCI-PHY-PIPE-clocks-.patch
  target/linux/qualcommax/patches-6.1/0111-arm64-dts-qcom-ipq8074-use-msi-parent-for-PCIe.patch
  target/linux/qualcommax/patches-6.1/0120-arm64-dts-qcom-Enable-Q6v5-WCSS-for-ipq8074-SoC.patch
  target/linux/qualcommax/patches-6.1/0121-arm64-dts-ipq8074-Add-WLAN-node.patch
  target/linux/qualcommax/patches-6.1/0129-arm64-dts-qcom-ipq8074-add-QFPROM-fuses.patch
  target/linux/qualcommax/patches-6.1/0137-arm64-dts-qcom-ipq6018-add-SDHCI-node.patch
  target/linux/qualcommax/patches-6.1/0139-arm64-dts-qcom-ipq6018-add-LDOA2-regulator.patch
  target/linux/qualcommax/patches-6.1/0906-arm64-dts-qcom-ipq6018-add-wifi-node.patch
  target/linux/qualcommax/patches-6.1/0907-soc-qcom-fix-smp2p-ack-on-ipq6018.patch
  target/linux/qualcommax/patches-6.1/0909-arm64-dts-qcom-ipq6018-assign-QDSS_AT-clock-to-wifi-.patch
  target/linux/qualcommax/patches-6.1/0910-arm64-dts-qcom-ipq6018-change-voltage-to-perf-levels.patch
Labels: target/qualcommax

#14622 ath79: update WA/XC devices UBNT_VERSION to 8.7.4
  target/linux/ath79/image/common-ubnt.mk
Labels: target/ath79

#14657 rockchip: add NanoPi R4S Enterprise Edition build
  package/boot/uboot-rockchip/Makefile
  target/linux/rockchip/armv8/base-files/etc/board.d/01_leds
  target/linux/rockchip/armv8/base-files/etc/board.d/02_network
  target/linux/rockchip/armv8/base-files/etc/hotplug.d/net/40-net-smp-affinity
  target/linux/rockchip/image/armv8.mk
  target/linux/rockchip/patches-6.1/005-arm64-dts-rockchip-add-EEPROM-node-for-NanoPi-R4S.patch
  target/linux/rockchip/patches-6.1/105-nanopi-r4s-sd-signalling.patch
Labels: core packages, target/rockchip

#14682 generic: 6.1: add missing symbol for EN8811H PHY driver
  target/linux/generic/config-6.1
Labels: kernel

#14650 build: add explicit --no-show-signature for git
  scripts/get_source_date_epoch.sh
Labels: build/scripts/tools

#14642 generic: replace simple AQR hack patch with upstream version
  target/linux/generic/backport-5.15/738-v6.9-net-phy-aquantia-add-AQR111-and-AQR111B0-PHY-ID.patch
  target/linux/generic/backport-5.15/739-v6.9-net-phy-aquantia-add-AQR113-PHY-ID.patch
  target/linux/generic/backport-5.15/740-v6.9-net-phy-aquantia-add-AQR813-PHY-ID.patch
  target/linux/generic/backport-6.1/760-v6.9-net-phy-aquantia-add-AQR111-and-AQR111B0-PHY-ID.patch
  target/linux/generic/backport-6.1/761-v6.9-net-phy-aquantia-add-AQR113-PHY-ID.patch
  target/linux/generic/backport-6.1/762-v6.9-net-phy-aquantia-add-AQR813-PHY-ID.patch
  target/linux/generic/hack-5.15/720-net-phy-add-aqr-phys.patch
  target/linux/generic/hack-5.15/722-net-phy-aquantia-enable-AQR112-and-AQR412.patch
  target/linux/generic/hack-5.15/723-net-phy-aquantia-fix-system-side-protocol-mi.patch
  target/linux/generic/hack-5.15/724-net-phy-aquantia-Add-AQR113-driver-support.patch
  target/linux/generic/hack-5.15/725-net-phy-aquantia-add-PHY_IDs-for-AQR112-variants.patch
  target/linux/generic/hack-5.15/726-net-phy-aquantia-enable-AQR111-and-AQR111B0.patch
  target/linux/generic/hack-6.1/720-net-phy-add-aqr-phys.patch
  target/linux/generic/hack-6.1/722-net-phy-aquantia-enable-AQR112-and-AQR412.patch
  target/linux/generic/hack-6.1/723-net-phy-aquantia-fix-system-side-protocol-mi.patch
  target/linux/generic/hack-6.1/724-net-phy-aquantia-Add-AQR113-driver-support.patch
  target/linux/generic/hack-6.1/725-net-phy-aquantia-add-PHY_IDs-for-AQR112-variants.patch
  target/linux/generic/hack-6.1/726-net-phy-aquantia-enable-AQR111-and-AQR111B0.patch
Labels: kernel

#14612 rockchip: remove LED label hack
  target/linux/rockchip/armv8/base-files/etc/board.d/01_leds
  target/linux/rockchip/patches-6.1/100-rockchip-use-system-LED-for-OpenWrt.patch
  target/linux/rockchip/patches-6.1/103-arm64-rockchip-add-OF-node-for-USB-eth-on-NanoPi-R2S.patch
  target/linux/rockchip/patches-6.1/107-arm64-dts-rockchip-Update-LED-properties-for-Orange-.patch
  target/linux/rockchip/patches-6.1/108-arm64-dts-rockchip-add-LED-configuration-to-Orange-P.patch
  target/linux/rockchip/patches-6.1/110-arm64-dts-rockchip-Update-LED-properties-for-NanoPi-.patch
Labels: target/rockchip

#14674 wifi-scripts: Support HE Iftypes with multiple entries
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
Labels: core packages

#14579 [22.03]: toolchain: Update glibc 2.34 to recent HEAD
  toolchain/glibc/common.mk
Labels: toolchain, release/22.03

#14625 [22.03]: hostapd: backport fix for CVE-2023-52160
  package/network/services/hostapd/patches/060-CVE-2023-52160-PEAP-client-Update-Phase-2-authentication-requiremen.patch
Labels: core packages, release/22.03

#14637 ramips: fix and clean up D-Link MAC address
  target/linux/ramips/dts/mt7621_dlink_dir-1935-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-867-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-878-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-878-r1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-882-a1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-882-r1.dts
  target/linux/ramips/dts/mt7621_dlink_dir-8xx.dtsi
  target/linux/ramips/dts/mt7621_dlink_dir-xx60-a1.dtsi
  target/linux/ramips/dts/mt7621_dlink_flash-16m-a1.dtsi
  target/linux/ramips/dts/mt7621_dlink_flash-16m-r1.dtsi
Labels: target/ramips

#14604 ipq40xx: Add support Netgear LBR20
  package/boot/uboot-envtools/files/ipq40xx
  package/firmware/ipq-wifi/Makefile
  target/linux/ipq40xx/base-files/etc/board.d/02_network
  target/linux/ipq40xx/base-files/etc/init.d/modem_switch
  target/linux/ipq40xx/base-files/lib/upgrade/platform.sh
  target/linux/ipq40xx/files/arch/arm/boot/dts/qcom-ipq4019-lbr20.dts
  target/linux/ipq40xx/image/generic.mk
Labels: kernel, core packages, target/ipq40xx

#14712 kernel: bump 6.1 to 6.1.79
  include/kernel-6.1
  target/linux/ath79/patches-6.1/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.1/950-0106-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.1/950-0918-irqchip-irq-brcmstb-l2-Add-config-for-2711-controlle.patch
  target/linux/generic/backport-6.1/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/backport-6.1/827-v6.3-0002-of-property-make-.-cells-optional-for-simple-props.patch
  target/linux/generic/backport-6.1/827-v6.3-0003-of-property-add-nvmem-cell-cells-property.patch
  target/linux/generic/hack-6.1/204-module_strip.patch
  target/linux/generic/hack-6.1/221-module_exports.patch
  target/linux/generic/hack-6.1/253-ksmbd-config.patch
  target/linux/generic/hack-6.1/930-Revert-Revert-Revert-driver-core-Set-fw_devlink-on-b.patch
  target/linux/generic/pending-6.1/103-kbuild-export-SUBARCH.patch
  target/linux/generic/pending-6.1/203-kallsyms_uncompressed.patch
  target/linux/generic/pending-6.1/920-mangle_bootargs.patch
  target/linux/imx/patches-6.1/301-ARM-dts-imx6q-apalis-ixora-make-switch3-reset-button.patch
  target/linux/ipq40xx/patches-6.1/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/ramips/patches-6.1/825-i2c-MIPS-adds-ralink-I2C-driver.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/imx, target/ipq40xx, target/ath79

#14717 ipq40xx: Netgear LBR20 fix for proper img builds
  target/linux/ipq40xx/image/generic.mk
Labels: target/ipq40xx

#14718 ramips: TP-Link Archer C5 v4: license and file formatting fixes
  target/linux/ramips/dts/mt7620a_tplink_archer-c5-v4.dts
  target/linux/ramips/image/mt7620.mk
Labels: target/ramips

#14719 rockchip: fix device packages for nanopi r4s enterprise edition
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

#14726 ipq-wifi: update to version 2024-02-25, remove unused ipq8174 extension
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#14698 mediatek: filogic: Cudy WR3000 v1 wps button fix
  target/linux/mediatek/dts/mt7981b-cudy-wr3000-v1.dts
Labels: target/mediatek

#14629 e2fsprogs: add libe2p and development headers
  package/utils/e2fsprogs/Makefile
Labels: core packages

#14691 dnsmasq: Fix wrong format for --dhcp-boot option
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#14553 mvebu: add kernel module for Turris Omnia Wi-Fi 6
  target/linux/mvebu/image/cortexa9.mk
Labels: target/mvebu

#14455 [23.05] mac80211: ath11k: sync with upstream
  package/kernel/mac80211/patches/ath11k/0085-wifi-ath11k-fix-memory-leak-in-WMI-firmware-stats.patch
  package/kernel/mac80211/patches/ath11k/0086-wifi-ath11k-Add-missing-check-for-ioremap.patch
  package/kernel/mac80211/patches/ath11k/0087-wifi-ath11k-Add-missing-ops-config-for-IPQ5018-in.patch
  package/kernel/mac80211/patches/ath11k/0088-wifi-ath11k-Restart-firmware-after-cold-boot-calibration.patch
  package/kernel/mac80211/patches/ath11k/0089-wifi-ath11k-Add-missing-hw_ops-get_ring_selector-for.patch
  package/kernel/mac80211/patches/ath11k/0090-Revert-wifi-ath11k-Enable-threaded-NAPI.patch
  package/kernel/mac80211/patches/ath11k/0091-wifi-ath11k-Split-coldboot-calibration-hw_param.patch
  package/kernel/mac80211/patches/ath11k/0092-wifi-ath11k-Add-coldboot-calibration-support-for-QCN.patch
  package/kernel/mac80211/patches/ath11k/0093-wifi-ath11k-Remove-cal_done-check-during-probe.patch
  package/kernel/mac80211/patches/ath11k/0094-wifi-ath11k-mhi-add-a-warning-message-for-MHI_CB_EE.patch
  package/kernel/mac80211/patches/ath11k/0095-wifi-ath11k-add-chip-id-board-name-while-searching-b.patch
  package/kernel/mac80211/patches/ath11k/0096-wifi-ath11k-fix-boot-failure-with-one-MSI-vector.patch
  package/kernel/mac80211/patches/ath11k/100-wifi-ath11k-use-unique-QRTR-instance-ID.patch
  package/kernel/mac80211/patches/ath11k/901-wifi-ath11k-pci-fix-compilation-in-5.16-and-older.patch
  package/kernel/mac80211/patches/ath11k/902-ath11k-Disable-coldboot-calibration-for-IPQ8074.patch
  package/kernel/mac80211/patches/ath11k/903-ath11k-support-setting-FW-memory-mode-via-DT.patch
Labels: core packages, release/23.05

#14607 umdns: prevent a few 'uci: Entry not found'
  package/network/services/umdns/files/umdns.init
Labels: core packages

#14643 ramips: removing unnecessary compatibility for TP-Link Archer C2 v1
  target/linux/ramips/dts/mt7620a_tplink_archer-c2-v1.dts
Labels: target/ramips

#13527 lantiq: add support for Arcadyan VRV9510KWAC23
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vrv9510kwac23.dts
  target/linux/lantiq/image/vr9.mk
  target/linux/lantiq/xrx200/base-files/etc/board.d/01_leds
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
  target/linux/lantiq/xrx200/base-files/lib/upgrade/platform.sh
Labels: kernel, target/lantiq

#14577 build: fix shebang line
  scripts/patch-kernel.sh
Labels: build/scripts/tools

#14747 tools/dwarves: update to 1.26
  tools/dwarves/Makefile
Labels: build/scripts/tools

#14651 mediatek: filogic: add support for Cudy RE3000 v1
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-re3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#14711 ramips: fix compatibility with nvmem-layout for routers based on TP-Link Archer
  target/linux/ramips/dts/mt7620a_tplink_archer-c20-v1.dts
  target/linux/ramips/dts/mt7620a_tplink_archer-c20i.dts
  target/linux/ramips/dts/mt7620a_tplink_archer-c50-v1.dts
Labels: target/ramips

#14703 ath79: nand: add SUPPORTED_DEVICES for Meraki MR18
  target/linux/ath79/image/nand.mk
Labels: target/ath79
