Repository openwrt/openwrt, pull requests merged in 2025-07, with the labels that each got.

#19284 realtek: add RTL931x support to rt-loader
  target/linux/realtek/image/rt-loader/src/board.c
Labels: target/realtek

#19278 imagebuilder: implement STRIP_ABI option for manifest target
  scripts/make-index-json.py
  target/imagebuilder/files/Makefile
Labels: build/scripts/tools, target/imagebuilder

#19237 usbgadget: add OS descriptors support
  package/utils/usbgadget/files/usbgadget.init
Labels: core packages

#18945 [openwrt-24.10] mediatek: add ubootmod layout for cudy tr3000 v1
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/445-add-cudy_tr3000-v1.patch
  target/linux/mediatek/base-files/lib/preinit/05_set_preinit_iface
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1-ubootmod.dts
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1.dts
  target/linux/mediatek/dts/mt7981b-cudy-tr3000-v1.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/24.10

#19297 [24.10] mediatek: spinand: force update_cache_variants to use reset for FORESEE spi nand
  target/linux/mediatek/patches-6.6/411-mtd-spinand-fix-support-for-FORESEE.patch
Labels: target/mediatek, release/24.10

#19341 tools/mkimage: update to v2025.07
  tools/mkimage/Makefile
  tools/mkimage/patches/030-allow-to-use-different-magic.patch
  tools/mkimage/patches/095-tools-disable-TOOLS_FIT_FULL_CHECK.patch
Labels: build/scripts/tools

#19334 [24.10] ath79: enable USB by default on hAP ac
  target/linux/ath79/dts/qca9558_mikrotik_routerboard-96x.dtsi
Labels: target/ath79, release/24.10

#19353 xcrypt: work-around broken use of VARIANT with BUILDONLY
  package/libs/xcrypt/Makefile
  package/libs/xcrypt/libcrypt-compat/Makefile
  package/libs/xcrypt/libxcrypt-common.mk
  package/libs/xcrypt/libxcrypt/Makefile
Labels: core packages

#19352 linux-firmware: update to 20250708
  package/firmware/linux-firmware/Makefile
Labels: core packages

#19220 realtek: enhance RTL930x SerDes/PLL/CMU interoperability
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#19360 tools/7z: update to 25.00
  tools/7z/Makefile
  tools/7z/patches/7-zip-musl.patch
Labels: build/scripts/tools

#19342 uboot-tools: update to v2025.07
  package/boot/uboot-tools/Makefile
  package/boot/uboot-tools/patches/003-tools-dumpimage-fix-tools-compile.patch
  package/boot/uboot-tools/patches/010-image-fit-sig-skip-in-tools-build-if-key-is-missing.patch
  package/boot/uboot-tools/patches/011-tools-fit_check_sign-make-key-optional.patch
  package/boot/uboot-tools/patches/012-tools-fit_check_sign-no-libcrypto.patch
  package/boot/uboot-tools/patches/013-tools-fit_check_sign-all-image-types.patch
  package/boot/uboot-tools/patches/014-tools-fit_check_sign-no-decompress.patch
Labels: core packages

#19203 mediatek: add support for TP-Link FR365 v1
  target/linux/mediatek/dts/mt7981b-tplink-fr365v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/preinit/10_fix_eth_mac.sh
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19347 [imx] uboot-envtools: add support for Gateworks venice
  package/boot/uboot-tools/uboot-envtools/files/imx_cortexa53
Labels: core packages

#19303 ath79: ubnt-amplifi-hd: Add 2nd USB bus (integrated ath3k bluetooth)
  target/linux/ath79/dts/qca9563_ubnt_amplifi-router-hd.dts
Labels: target/ath79

#18856 ramips: add support for Wavlink WL-WN570HA2
  target/linux/ramips/dts/mt7628an_wavlink_wl-wn570ha2.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
Labels: target/ramips

#19257 mediatek: add support for Zyxel NWA90AX PRO
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19136 loongarch64: add kernel 6.12 support
  target/linux/generic/config-6.12
  target/linux/loongarch64/Makefile
  target/linux/loongarch64/config-6.12
Labels: kernel, core packages, target/loongarch64

#19376 kernel: Fix boot of amrsr target in qemu
  target/linux/generic/pending-6.12/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
  target/linux/generic/pending-6.6/250-kernel-fork-Increase-minimum-number-of-allowed-threa.patch
Labels: kernel

#19269 uboot-tools: envtools: ipq95xx: use common function
  package/boot/uboot-tools/uboot-envtools/files/qualcommbe_ipq95xx
Labels: core packages

#18878 mediatek: filogic: D-Link M30/M60: include initramfs in recovery
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19379 x86: enable built-in driver for MMC/SDHCI
  target/linux/x86/config-6.12
Labels: kernel, target/x86

#19290 uhttpd: update to Git HEAD (2025-04-06)
  package/network/services/uhttpd/Makefile
Labels: core packages

#19387 kernel: package modules for I2C HID devices
  package/kernel/linux/modules/input.mk
Labels: kernel, core packages

#19426 perf: fix build on mips
  package/devel/perf/Makefile
Labels: core packages

#19381 generic: dsa: backport upstream realtek patches
  target/linux/generic/backport-6.6/911-v6.13-2-net-dsa-realtek-Use-for_each_child_of_node_scoped.patch
  target/linux/generic/backport-6.6/911-v6.13-3-net-dsa-realtek-rtl8365mb-Make-use-of-irq_get_trigge.patch
  target/linux/generic/backport-6.6/911-v6.13-4-net-dsa-realtek-rtl8366rb-Make-use-of-irq_get_trigge.patch
Labels: kernel

#19372 realtek: simplify RTL8218B/RTL8214Fx detection
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#19407 projectsmirrors: drop ftp.kddilabs.jp
  scripts/projectsmirrors.json
Labels: build/scripts/tools

#19358 mbedtls: Re-prepare when configuration changes
  package/libs/mbedtls/Makefile
Labels: core packages

#19437 [24.10] uboot-envtools: add support for Gateworks venice
  package/boot/uboot-envtools/files/imx_cortexa53
Labels: core packages, release/24.10

#19423 mvebu: Use common files folder
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-370-buffalo-ls220de.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-370-buffalo-ls421de.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-370-c200-v2.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-380-iij-sa-w2.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-30e.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-3xe.dtsi
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-50e.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-51e.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-52e.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-5xe.dtsi
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-xxe.dtsi
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fwf-50e-2r.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-fortinet-fwf-51e.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-linksys-venom.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-nas1dual.dts
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-wd_cloud-mirror-gen2.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-3720-eDPU.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-3720-espressobin-ultra.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-3720-gl-mv1000.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dtsi
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-7040-mochabin.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-7040-rb5009.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-7040-v-80.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/armada-8040-v-81.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/cn9130-clearfog-pro.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/cn9131-puzzle-m901.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/cn9132-puzzle-m902.dts
  target/linux/mvebu/files-6.6/arch/arm64/boot/dts/marvell/puzzle-thermal.dtsi
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-370-buffalo-ls220de.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-370-buffalo-ls421de.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-370-c200-v2.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-380-iij-sa-w2.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-30e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-3xe.dtsi
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-50e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-51e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-52e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-5xe.dtsi
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fg-xxe.dtsi
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fwf-50e-2r.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-fortinet-fwf-51e.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-linksys-venom.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-nas1dual.dts
  target/linux/mvebu/files/arch/arm/boot/dts/marvell/armada-385-wd_cloud-mirror-gen2.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-eDPU.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-espressobin-ultra.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-gl-mv1000.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-3720-uDPU.dtsi
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-7040-mochabin.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-7040-rb5009.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-7040-v-80.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/armada-8040-v-81.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/cn9130-clearfog-pro.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/cn9131-puzzle-m901.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/cn9132-puzzle-m902.dts
  target/linux/mvebu/files/arch/arm64/boot/dts/marvell/puzzle-thermal.dtsi
Labels: kernel, target/mvebu

#19410 [24.10] mediatek: add support for ipTIME AX3000SM
  target/linux/mediatek/dts/mt7981b-iptime-ax3000sm.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/24.10

#19383 libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages

#19454 [24.10] kernel: bump 6.6 to 6.6.99
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.6/950-1366-drm-Increase-plane_mask-to-64bit.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/mediatek/patches-6.6/806-v6.9-pwm-mediatek-add-support-for-MT7988.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mediatek, release/24.10

#19474 wireless-regdb: Update to version 2025.07.10
  package/firmware/wireless-regdb/Makefile
Labels: core packages

#19462 ca-certificates: Update to 20250419
  package/system/ca-certificates/Makefile
Labels: core packages

#19368 mediatek: filogic: add support for ipTIME AX3000Q
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19433 ramips: EAP615-Wall v1: fix bootloop by reducing LZMA dictionary
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#19391 [24.10] mediatek: add Huasifei WH3000 Pro support
  target/linux/mediatek/dts/mt7981b-huasifei-wh3000-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/24.10

#19495 mbedtls: restore previous configuration behavior
  package/libs/mbedtls/Makefile
Labels: core packages

#19513 [23.05] Cherry-pick python 3.12 checks in pereq-build.mk
  include/prereq-build.mk
Labels: build/scripts/tools, release/23.05

#19516 build: call ipkg-remove using xargs if #args>=512
  include/package-pack.mk
Labels: build/scripts/tools

#19524 realtek: dsa: enhance pcs_get_state() for RTL83xx
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

#19530 mediatek: add missing #address/size-cells for ELECOM WRC-X3000GS3
  target/linux/mediatek/dts/mt7981b-elecom-wrc-x3000gs3.dts
Labels: target/mediatek

#19486 [24.10] libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages, release/24.10

#19497 mediatek: add factory image for ipTIME AX3000SM
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19489 mbedtls: Expose MBEDTLS_KEY_EXCHANGE_ECJPAKE_ENABLED config option
  package/libs/mbedtls/Config.in
  package/libs/mbedtls/Makefile
Labels: core packages

#19545 tools: fakeroot: update to 1.37.1.2
  tools/fakeroot/Makefile
Labels: build/scripts/tools

#19492 base-files: find_mmc_part: Silence error when no MMC exists
  package/base-files/files/lib/functions.sh
Labels: core packages

#19475 kernel: mtdsplit_h3c_vfs: return 0 for non-fatal errors
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_h3c_vfs.c
Labels: kernel

#17137 realtek: add support for Hasivo S1100W-8XGT-SE switch
  target/linux/realtek/dts/rtl9303_hasivo_s1100w-8xgt-se.dts
  target/linux/realtek/image/rtl930x.mk
  target/linux/realtek/rtl930x/config-6.12
Labels: kernel, target/realtek

#19533 [24.10] kernel: bump 6.6 to 6.6.100
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0087-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0466-mmc-bcm2835-Use-phys-addresses-for-slave-DMA-config.patch
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/823-v6.12-0003-nvmem-layouts-add-U-Boot-env-layout.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/pending-6.6/630-packet_socket_type.patch
  target/linux/generic/pending-6.6/640-net-bridge-fix-switchdev-host-mdb-entry-updates.patch
  target/linux/generic/pending-6.6/641-net-bridge-switchdev-Don-t-drop-packets-between-port.patch
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
  target/linux/ramips/patches-6.6/825-i2c-MIPS-adds-ralink-I2C-driver.patch
  target/linux/realtek/patches-6.6/310-add-i2c-rtl9300-support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/realtek, release/24.10

#19542 [24.10] busybox: fix login applet on selinux
  package/utils/busybox/patches/600-loginutils-login.c-libselinux-get_default_context-ex.patch
Labels: core packages, release/24.10

#19538 [24.10]: wireless-regdb: Update to version 2025.07.10
  package/firmware/wireless-regdb/Makefile
Labels: core packages, release/24.10

#19551 [24.10]: toolchain: glibc: Update glibc 2.38 to recent HEAD
  toolchain/glibc/common.mk
  toolchain/glibc/patches/200-add-dl-search-paths.patch
Labels: toolchain, release/24.10

#19485 [23.05] libxml2: update to 2.14.5
  package/libs/libxml2/Makefile
Labels: core packages, release/23.05

#19552 [23.05]: toolchain: glibc: Update glibc 2.37 to recent HEAD
  toolchain/glibc/common.mk
  toolchain/glibc/patches/200-add-dl-search-paths.patch
Labels: toolchain, release/23.05

#19561 tools: mtools: update to 4.0.49
  tools/mtools/Makefile
Labels: build/scripts/tools

#19555 [24.10]: tegra: bring back workaround for spurious interrupts
  target/linux/tegra/patches-6.6/100-serial8250-on-tegra-hsuart-recover-from-spurious-interrupts-due-to-tegra2-silicon-bug.patch
Labels: target/tegra, release/24.10

#19563 [24.10]: uhttpd: update to Git HEAD (2025-07-06)
  package/network/services/uhttpd/Makefile
Labels: core packages, release/24.10

#19477 realtek: add support for Vimin VM-S100-0800MS
  target/linux/realtek/dts/rtl9303_vimin_vm-s100-0800ms.dts
  target/linux/realtek/image/Makefile
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

#19593 tools: automake: fix MAINTAINERCLEANFILES warnings
  tools/automake/patches/310-maintainer-clean-built_sources.patch
Labels: build/scripts/tools

#19597 tools/util-linux: fix libuuid linking
  tools/util-linux/patches/110-move-libpthread-to-libs.patch
Labels: build/scripts/tools

#19603 rtl931x: Fix SDS field modifications + Add SMI Polling on/off
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#19606 tools: bison: do not install or uninstall macros
  tools/bison/Makefile
Labels: build/scripts/tools

#19326 build: use --no-print-directory for dumping subtargets
  include/target.mk
Labels: build/scripts/tools

#19300 qualcommax: cleaning useless content
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-512m.dtsi
Labels: kernel, target/qualcommax

#19598 tools/util-linux: build with meson
  tools/util-linux/Makefile
  tools/util-linux/patches/010-meson-curses.patch
  tools/util-linux/patches/110-meson-fix-a-bug-in-posixipc_libs-configuration.patch
  tools/util-linux/patches/110-move-libpthread-to-libs.patch
Labels: build/scripts/tools

#19582 realtek: rtl930x: Fix bringup of SFP modules
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#19548 realtek: DSA: do not open-code PHY access
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
Labels: target/realtek

#19614 gettext-full: fix m4 path after gettextize update
  package/libs/gettext-full/Makefile
Labels: core packages
