Repository openwrt/openwrt, pull requests merged in 2025-10, with the labels that each got.

#20273 realtek: rtl93xx: replace pending I2C patches with upstreamed patches
  target/linux/realtek/patches-6.12/005-01-v6.17-i2c-rtl9300-Fix-out-of-bounds-bug-in-rtl9300_i2c_smb.patch
  target/linux/realtek/patches-6.12/005-02-v6.17-i2c-rtl9300-Fix-multi-byte-I2C-write.patch
  target/linux/realtek/patches-6.12/005-03-v6.17-i2c-rtl9300-Increase-timeout-for-transfer-polling.patch
  target/linux/realtek/patches-6.12/005-04-v6.17-i2c-rtl9300-Add-missing-count-byte-for-SMBus-Block-O.patch
  target/linux/realtek/patches-6.12/006-01-v6.17-i2c-rtl9300-fix-channel-number-bound-check.patch
  target/linux/realtek/patches-6.12/006-02-v6.17-i2c-rtl9300-ensure-data-length-is-within-supported-r.patch
  target/linux/realtek/patches-6.12/006-03-v6.17-i2c-rtl9300-remove-broken-SMBus-Quick-operation-supp.patch
  target/linux/realtek/patches-6.12/007-01-v6.17-i2c-rtl9300-Drop-unsupported-I2C_FUNC_SMBUS_I2C_BLOC.patch
  target/linux/realtek/patches-6.12/007-02-v6.18-i2c-rtl9300-Implement-I2C-block-read-and-write.patch
  target/linux/realtek/patches-6.12/008-01-v6.18-i2c-rtl9300-use-regmap-fields-and-API-for-registers.patch
  target/linux/realtek/patches-6.12/008-02-v6.18-dt-bindings-i2c-realtek-rtl9301-i2c-fix-wording-and-.patch
  target/linux/realtek/patches-6.12/008-03-v6.18-i2c-rtl9300-rename-internal-sda_pin-to-sda_num.patch
  target/linux/realtek/patches-6.12/008-04-v6.18-i2c-rtl9300-move-setting-SCL-frequency-to-config_io.patch
  target/linux/realtek/patches-6.12/008-05-v6.18-i2c-rtl9300-do-not-set-read-mode-on-every-transfer.patch
  target/linux/realtek/patches-6.12/008-06-v6.18-i2c-rtl9300-separate-xfer-configuration-and-executio.patch
  target/linux/realtek/patches-6.12/008-07-v6.18-i2c-rtl9300-use-scoped-guard-instead-of-explicit-loc.patch
  target/linux/realtek/patches-6.12/008-08-v6.18-dt-bindings-i2c-realtek-rtl9301-i2c-extend-for-RTL93.patch
  target/linux/realtek/patches-6.12/008-09-v6.18-i2c-rtl9300-add-support-for-RTL9310-I2C-controller.patch
  target/linux/realtek/patches-6.12/101-02-i2c-rtl9300-fix-channel-number-bound-check.patch
  target/linux/realtek/patches-6.12/101-05-i2c-rtl9300-check-if-xfer-length-is-valid.patch
Labels: target/realtek

#20274 kernel: modules: fix mlxreg dependency to avoid deferred probe
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

#20290 tools/ccache: same behaviour for local and CI builds
  tools/ccache/Makefile
Labels: build/scripts/tools

#20286 rockchip: make use of OpenWrt compiled dtbs
  target/linux/rockchip/image/Makefile
Labels: target/rockchip

#20280 kernel: bump 6.12 to 6.12.50
  target/linux/bcm27xx/patches-6.12/950-0073-ASoC-Add-support-for-all-the-downstream-rpi-sound-ca.patch
  target/linux/bcm27xx/patches-6.12/950-0322-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.12/950-0334-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.12/950-0502-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.12/950-0534-drivers-usb-xhci-set-HID-bit-in-streaming-endpoint-c.patch
  target/linux/generic/backport-6.12/787-v6.17-net-sfp-add-quirk-for-FLYPRO-copper-SFP-module.patch
  target/linux/generic/kernel-6.12
  target/linux/realtek/patches-6.12/714-net-phy-sfp-add-support-for-SMBus.patch
Labels: target/bcm27xx, kernel, target/realtek

#20277 kernel: bump 6.6 to 6.6.109
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/100-compiler.h-only-include-asm-rwonce.h-for-kernel-code.patch
Labels: kernel

#20256 ramips: Fix Hongdian H7920 v40 pinctrl default state and mac address
  target/linux/ramips/dts/mt7628an_hongdian_h7920-v40.dts
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#20192 ksmbd: revert upstream limit repeated connection
  target/linux/generic/hack-6.12/940-Revert-ksmbd-extend-the-connection-limiting-mechanism-to-ipv6.patch
  target/linux/generic/hack-6.12/941-Revert-ksmbd-limit-repeated-connections-from-clients.patch
  target/linux/generic/hack-6.6/940-Revert-ksmbd-extend-the-connection-limiting-mechanism-to-ipv6.patch
  target/linux/generic/hack-6.6/941-Revert-ksmbd-limit-repeated-connections-from-clients.patch
Labels: kernel

#20292 realtek: RTL931x: disable USXGMII SerDes setup
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

#20185 [24.10] download: improve rawgit tar reliability
  include/download.mk
Labels: build/scripts/tools, release/24.10

#20299 [24.10] kernel: bump 6.6 to 6.6.109
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0106-Add-support-for-all-the-downstream-rpi-sound-card-dr.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/generic/pending-6.6/100-compiler.h-only-include-asm-rwonce.h-for-kernel-code.patch
  target/linux/lantiq/patches-6.6/0732-v6.11-net-dsa-lantiq_gswip-Only-allow-phy-mode-internal-on-the-CPU-port.patch
  target/linux/lantiq/patches-6.6/0733-v6.11-net-dsa-lantiq_gswip-add-terminating-n-where-missing.patch
  target/linux/lantiq/patches-6.6/0734-v6.11-net-dsa-lantiq_gswip-Use-dev_err_probe-where-appropr.patch
  target/linux/lantiq/patches-6.6/0735-v6.11-net-dsa-lantiq_gswip-Don-t-manually-call-gswip_port_.patch
  target/linux/lantiq/patches-6.6/0736-v6.11-net-dsa-lantiq_gswip-do-also-enable-or-disable-cpu-p.patch
  target/linux/lantiq/patches-6.6/0737-v6.11-net-dsa-lantiq_gswip-Use-dsa_is_cpu_port-in-gswip_po.patch
  target/linux/lantiq/patches-6.6/0738-v6.11-net-dsa-lantiq_gswip-Change-literal-6-to-ETH_ALEN.patch
  target/linux/lantiq/patches-6.6/0739-v6.11-net-dsa-lantiq_gswip-Consistently-use-macros-for-the.patch
  target/linux/lantiq/patches-6.6/0741-v6.11-net-dsa-lantiq_gswip-Update-comments-in-gswip_port_vlan.patch
  target/linux/lantiq/patches-6.6/0742-v6.11-net-dsa-lantiq_gswip-Improve-error-message-in-gswip_.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/lantiq, release/24.10

#20257 [24.10] ramips: Fix Hongdian H7920 v40 pinctrl default state and mac address
  target/linux/ramips/dts/mt7628an_hongdian_h7920-v40.dts
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips, release/24.10

#20278 odhcpd: update to Git HEAD (2025-10-02)
  package/network/services/odhcpd/Makefile
  package/network/services/odhcpd/files/odhcpd.defaults
Labels: core packages

#20306 realtek: dts: rearrange mdio-bus for tplink_sg2xxx
  target/linux/realtek/dts/rtl8380_tplink_sg2xxx.dtsi
Labels: target/realtek

#20165 ramips: add support for Cudy C200P
  target/linux/ramips/dts/mt7621_cudy_c200p.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#20320 kernel: bump 6.6 to 6.6.110
  target/linux/generic/kernel-6.6
Labels: kernel

#20332 odhcpd: update to Git HEAD (2025-10-07)
  package/network/services/odhcpd/Makefile
Labels: core packages
