Repository openwrt/openwrt, pull requests merged in 2025-04, with the labels that each got.

#17751 mac80211: ath11k: Fix DMA buffer allocation to resolve SWIOTLB issues
  package/kernel/mac80211/patches/ath11k/001-wifi-ath11k-Fix-DMA-buffer-allocation-to-resolve-SWIOTLB-issues.patch
  package/kernel/mac80211/patches/ath11k/002-wifi-ath11k-use-dma-alloc-noncoherent-for-rx-tid-buffer-allocation.patch
Labels: core packages

#18268 realtek: refactor RTL930x MAC config to fix PHY ports
  target/linux/realtek/files-6.6/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.6/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

#18367 tools/xz: update to 5.8.0
  tools/xz/Makefile
Labels: build/scripts/tools

#18385 octeon: force pcs reset to fix qca833x traffic
  target/linux/octeon/patches-6.6/702-qca833x-force-pcs-reset.patch
Labels: target/octeon

#18413 at91: add USB kmods only for subtargets that support USB
  target/linux/at91/Makefile
  target/linux/at91/sam9x/target.mk
  target/linux/at91/sama5/target.mk
Labels: target/at91

#18377 qualcommax: ipq60xx: add support for Netgear WAX610 and WAX610Y
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq60xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-wax610-base.dtsi
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-wax610.dts
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-wax610y.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq60xx/base-files/etc/init.d/bootcount
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#18392 iproute2: update to v6.14.0
  package/network/utils/iproute2/Makefile
Labels: core packages

#18220 mediatek: filogic: add support for Huasifei WH3000
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-huasifei-wh3000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#18421 tools/expat: bump to 2.7.1 to fix several CVEs
  tools/expat/Makefile
Labels: build/scripts/tools

#18324 mediatek: add support for netis NX31
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/445-add-netis-nx31.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-netis-nx31.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#18319 wifi-scripts: mac80211.sh: add EHT and HE160 support to iw_htmode
  package/network/config/wifi-scripts/files/lib/netifd/wireless/mac80211.sh
Labels: core packages

#17796 busybox: use external libtirpc when using glibc
  package/utils/busybox/Makefile
Labels: core packages

#18378 realtek: add support for D-Link DGS-1210-26
  target/linux/realtek/dts/rtl8382_d-link_dgs-1210-26.dts
  target/linux/realtek/image/rtl838x.mk
Labels: target/realtek

#18361 an7581: fix phy2 led1 function
  target/linux/airoha/dts/an7581.dtsi
Labels: target/airoha

#18422 build: bpf: LLVM host toolchain lookup fixes
  include/bpf.mk
Labels: build/scripts/tools

#18449 bcm27xx: pull 6.6 patches from RPi repo
  target/linux/bcm27xx/patches-6.6/950-1558-media-i2c-imx477-Add-further-link-frequency-options.patch
  target/linux/bcm27xx/patches-6.6/950-1559-overlays-Fix-some-unusable-fragments.patch
  target/linux/bcm27xx/patches-6.6/950-1560-dts-rp1-Don-t-use-DMA-with-UARTs.patch
Labels: target/bcm27xx

#18443 kernel: bump 6.6 to 6.6.86
  include/kernel-6.6
  target/linux/generic/pending-6.6/155-usbnet-restore-usb%d-name-exception-for-local-mac-addresses.patch
Labels: build/scripts/tools, kernel

#18451 [24.10] kernel: bump 6.6 to 6.6.86
  include/kernel-6.6
  target/linux/generic/pending-6.6/155-usbnet-restore-usb%d-name-exception-for-local-mac-addresses.patch
Labels: build/scripts/tools, kernel, release/24.10

#18438 [24.10] mediatek: add support for netis NX31
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/445-add-netis-nx31.patch
  target/linux/mediatek/dts/mt7981b-netis-nx31.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/24.10

#18434 mediatek: filogic: add support for Huasifei WH3000
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-huasifei-wh3000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/24.10

#18431 [24.10] kernel: modules: ixgbe,ixgbevf,i40e: remove unused settings and depends
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages, release/24.10

#17264 [23.05] uboot-mediatek: fix image overlaps SPL issue
  package/boot/uboot-mediatek/patches/600-treewide-rework-linker-symbol-declarations-in-sectio.patch
Labels: core packages, target/mediatek, release/23.05

#17678 ramips: fix image recipe for ASUS RT-N56U
  target/linux/ramips/image/rt3883.mk
Labels: target/ramips, release/23.05

#18138 mediatek: filogic: add Netcore N60 Pro support
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/462-add-netcore-n60-pro.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-netcore-n60-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#18452 package: add kmod-r8127 ethernet driver
  package/kernel/r8127/Makefile
  package/kernel/r8127/patches/200-r8127-print-link-speed-and-duplex-mode.patch
Labels: core packages

#17819 Added support for MERCUSYS MB130-4G v1
  target/linux/ramips/dts/mt7628an_mercusys_mb130-4g-v1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: build/scripts/tools, target/ramips

#18450 qualcommax: eap623od-hd-v1: fix phy node and LED config
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-eap623od-hd-v1.dts
Labels: kernel, target/qualcommax

#18455 generic: fix trivial driver error
  target/linux/generic/files/drivers/net/phy/ar8327.c
  target/linux/generic/files/drivers/net/phy/rtl8366_smi.c
  target/linux/generic/files/drivers/net/phy/swconfig.c
Labels: kernel

#18354 lldpd: enable hardware inventory information (TLV) management
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#18181 mediatek: add support for Mercusys MR80X v3
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-mercusys-mr80x-v3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/firmware/11-mt76-caldata
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/preinit/09_mount_cfg_part
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#18463 bcm63xx-cfe: install into image staging dir
  package/kernel/bcm63xx-cfe/Makefile
  target/linux/bcm4908/image/Makefile
  target/linux/bmips/image/Makefile
Labels: core packages, target/bmips, target/bcm4908

#18476 ath79: fix initramfs execution for NEC Aterm devices
  target/linux/ath79/image/common-nec.mk
Labels: target/ath79

#18468 ca-certificates: Update to 20241223
  package/system/ca-certificates/Makefile
Labels: core packages

#18357 dnsmasq: bump release to 2.91
  package/network/services/dnsmasq/Makefile
  package/network/services/dnsmasq/patches/0001-Fix-spurious-resource-limit-exceeded-messages.patch
  package/network/services/dnsmasq/patches/0002-PATCH-Fix-error-introduced-in-51471cafa5a4fa44d6fe49.patch
  package/network/services/dnsmasq/patches/0003-Handle-DS-queries-to-auth-zones.patch
  package/network/services/dnsmasq/patches/200-ubus_dns.patch
Labels: core packages

#18480 kernel: add missing submenu for diag modules
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages

#18484 generic: drop redundant ATS SFP GT-T quirk patch
  target/linux/generic/backport-6.6/731-v6.10-net-sfp-add-quirk-for-ATS-SFP-GE-T-1000Base-TX-modul.patch
  target/linux/generic/backport-6.6/785-01-v6.8-net-sfp-rework-the-RollBall-PHY-waiting-code.patch
  target/linux/generic/backport-6.6/785-02-v6.8-net-sfp-fix-PHY-discovery-for-FS-SFP-10G-T-module.patch
  target/linux/realtek/patches-6.6/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
  target/linux/realtek/patches-6.6/714-net-phy-sfp-add-support-for-SMBus.patch
Labels: kernel, target/realtek

#18501 generic: fix broken TCP fraglist GRO patch
  target/linux/generic/backport-6.6/621-v6.10-03-net-add-code-for-TCP-fraglist-GRO.patch
  target/linux/generic/backport-6.6/621-v6.10-05-net-create-tcp_gro_header_pull-helper-function.patch
  target/linux/generic/backport-6.6/621-v6.10-06-net-add-heuristic-for-enabling-TCP-fraglist-GRO.patch
Labels: kernel

#18503 generic: fix broken ARM gc sections patch
  target/linux/generic/pending-6.6/200-ARM-9404-1-arm32-fix-boot-hang-with-HAVE_LD_DEAD_COD.patch
Labels: kernel

#18505 tools: m4: set -std=gnu17
  tools/m4/Makefile
Labels: build/scripts/tools

#18475 uboot-ath79: update to v2025.04
  package/boot/uboot-ath79/Makefile
  package/boot/uboot-ath79/patches/400-ath79-add-support-for-NEC-AR9344-Aterm-series.patch
  package/boot/uboot-ath79/patches/401-mips-ath79-add-support-for-NEC-QCA9558-Aterm-series.patch
Labels: core packages

#18460 comgt-ncm: fix modem manufacturer detection
  package/network/utils/comgt/files/ncm.sh
Labels: core packages

#18519 gdb: update to 16.2
  toolchain/gdb/Makefile
Labels: build/scripts/tools, toolchain

#18515 uboot-tools: remove uneeded syncconfig
  package/boot/uboot-tools/Makefile
Labels: core packages

#18525 jsonfilter: update to Git HEAD (2025-04-18)
  package/utils/jsonfilter/Makefile
Labels: core packages

#18530 x86: fix PATH_MAX macro redefined in exec-cmd.c on macOS 15.4
  target/linux/generic/hack-6.6/200-tools_portability.patch
Labels: kernel, target/x86

#18511 generic: move TCP fraglist GRO patch to separate file in pending
  target/linux/generic/backport-6.6/621-v6.10-03-net-add-code-for-TCP-fraglist-GRO.patch
  target/linux/generic/backport-6.6/621-v6.10-05-net-create-tcp_gro_header_pull-helper-function.patch
  target/linux/generic/backport-6.6/621-v6.10-06-net-add-heuristic-for-enabling-TCP-fraglist-GRO.patch
  target/linux/generic/pending-6.6/690-net-add-missing-check-for-TCP-fraglist-GRO.patch
Labels: kernel

#17903 qualcommax: ipq50xx: add support for GL.iNET GL-B3000
  include/image-commands.mk
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq50xx
  package/firmware/ipq-wifi/Makefile
  scripts/mkits-qsdk-ipq-image.sh
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-gl-b3000.dts
  target/linux/qualcommax/image/glinet_gl-b3000.bootscript
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/glinet-upgrade.sh
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
Labels: build/scripts/tools, kernel, target/octeon, core packages, target/ramips, target/imx, target/ipq40xx, target/mediatek, target/rockchip, target/realtek, GitHub/CI, target/sifiveu, target/qualcommax, target/d1, target/qualcommbe

#18539 util-linux: add include linux/unistd.h patch
  package/utils/util-linux/patches/0100-include-linux-unistd-h.patch
Labels: core packages

#18427 ramips: Add support for Xiaomi MiWiFi 3A
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7628an_xiaomi_miwifi-3a.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/etc/init.d/bootcount
Labels: core packages, target/ramips

#18547 qualcommax: ipq5018: gl-b3000: fix uboot support
  include/image-commands.mk
Labels: build/scripts/tools

#18548 arm64: dts: qcom: ipq5018: add #clock-cells to GE Phy
  target/linux/qualcommax/patches-6.6/0713-arm64-dts-qcom-ipq5018-add-ge_phy-node.patch
  target/linux/qualcommax/patches-6.6/0816-arm64-dts-qcom-ipq5018-add-wifi-support.patch
Labels: target/qualcommax

#18542 rockchip: explicitly specify pine64_rockpro64 supported devices
  target/linux/rockchip/image/armv8.mk
Labels: target/rockchip

#18549 apk: backport fix for GCC15 with LTO
  package/system/apk/patches/0003-io-fix-undefined-behaviour-in-apk_istream_get_delim.patch
Labels: core packages

#18479 tools/patch: bump version to v2.8
  tools/patch/Makefile
  tools/patch/patches/010-CVE-2018-6951.patch
  tools/patch/patches/020-CVE-2018-1000156.patch
  tools/patch/patches/030-CVE-2018-6952.patch
  tools/patch/patches/040-Fix-error-handling-with-git-style-patches.patch
  tools/patch/patches/050-CVE-2019-13636.patch
  tools/patch/patches/060-CVE-2019-13638.patch
  tools/patch/patches/070-don-t-fail-hard-on-EACCES-when-copying-xattrs.patch
Labels: build/scripts/tools

#18556 qualcommax: ipq5018: gl-b3000: fix rootfs_size in bootscript
  include/image-commands.mk
Labels: build/scripts/tools

#18553 rockchip: fix the SD card detection on NanoPi R6C/R6S
  target/linux/rockchip/patches-6.6/402-v6.13-arm64-dts-rockchip-Fix-the-SD-card-detection-on-Nano.patch
Labels: target/rockchip

#18558 tools: xz: update to 5.8.1
  tools/xz/Makefile
Labels: build/scripts/tools

#16329 Qualcommax: IPQ807x: Add support for TP-Link Deco X80-5G
  package/boot/uboot-tools/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8074-deco-x80-5g.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/preinit/09_mount_factory_data
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax

#18559 generic: backport pmdomain dummy release patch
  target/linux/generic/backport-6.6/910-v6.13-pmdomain-core-add-dummy-release-function-to-genpd-de.patch
Labels: kernel

#18552 [23.05] generic: kernel config: add missing symbol (BLOCK_LEGACY_AUTOLOAD)
  target/linux/generic/config-5.15
Labels: kernel, release/23.05

#18488 uboot-rockchip: bump to 2025.04
  package/boot/uboot-rockchip/Makefile
  package/boot/uboot-rockchip/patches/100-rockchip-add-FriendlyElec-NanoPi-R3S.patch
Labels: core packages, target/rockchip

#18534 kernel: modules: add HiNIC support
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#18537 kernel: move kernel version files to linux/generic directory
  include/kernel-version.mk
  include/target.mk
  target/linux/generic/kernel-6.6
Labels: build/scripts/tools, kernel

#18038 lantiq: Improve support for LED's fritz736x
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_avm_fritz736x.dtsi
Labels: kernel, target/lantiq

#16956 ramips: mt7620: add support for Devolo Repeater ac
  target/linux/ramips/dts/mt7620a_devolo_rac.dts
  target/linux/ramips/image/mt7620.mk
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

#18562 [24.10] generic: backport pmdomain dummy release patch
  target/linux/generic/backport-6.6/910-v6.13-pmdomain-core-add-dummy-release-function-to-genpd-de.patch
Labels: kernel, release/24.10

#18572 tools/squashfs3-lzma: fix compilation with GCC15
  tools/squashfs3-lzma/patches/160-gcc15.patch
Labels: build/scripts/tools

#18570 mac80211: ath9k: remove wrong devm for request_irq
  package/kernel/mac80211/patches/ath9k/509-ath9k-use-devm-for-irq-and-ioremap-resource.patch
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
Labels: core packages

#18567 toolchain: mold: add PKG_NAME to Makefile
  toolchain/mold/Makefile
Labels: toolchain

#18594 lantiq: fix syntax error for fritz736x
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_avm_fritz736x.dtsi
Labels: kernel, target/lantiq

#18611 qualcommax: ipq50xx: drop unused factory.ubi for ELECOM WRC-X3000GS2
  target/linux/qualcommax/image/ipq50xx.mk
Labels: target/qualcommax

#18616 ltq-adsl: use remove_new for platform_device
  package/kernel/lantiq/ltq-adsl/patches/120-platform.patch
  package/kernel/lantiq/ltq-adsl/patches/130-linux3.8.patch
Labels: target/lantiq, core packages

#18617 bcm47xx: old gpio wdt: use remove_new
  target/linux/bcm47xx/patches-6.6/831-old_gpio_wdt.patch
Labels: target/bcm47xx

#18633 ramips: correct wifi driver packages for TP-Link MR200 v6
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips

#18597 toolchain: gcc: switch default to 14
  toolchain/gcc/Config.in
  toolchain/gcc/Config.version
Labels: toolchain

#18624 qualcommax: ipq60xx: LED mapping update for Netgear WAX610 and WAX610Y
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6010-wax610-base.dtsi
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/01_leds
Labels: kernel, target/qualcommax

#18638 qualcommax: ipq50xx: fix GE_PHY and Uniphy resets
  target/linux/qualcommax/patches-6.6/0711-arm64-dts-qcom-ipq5018-add-mdio-node.patch
  target/linux/qualcommax/patches-6.6/0712-net-phy-qcom-Introduce-IPQ5018-internal-PHY-driver.patch
  target/linux/qualcommax/patches-6.6/0713-net-phy-qcom-ipq5018-enable-configuration-of-DAC-settings.patch
  target/linux/qualcommax/patches-6.6/0714-net-phy-qcom-add-ipq5018-initvals-and-CDT-feature.patch
  target/linux/qualcommax/patches-6.6/0715-clk-qcom-gcc-ipq5018-remove-the-unsupported-clk-combinati.patch
  target/linux/qualcommax/patches-6.6/0716-clk-qcom-gcc-ipq5018-refer-to-ge-phy-rx-and-tx-clk-providers-by-name.patch
  target/linux/qualcommax/patches-6.6/0717-clk-qcom-gcc-ipq5018-fix-ge_phy-and-uniphy-resets.patch
  target/linux/qualcommax/patches-6.6/0718-arm64-dts-qcom-ipq5018-add-ge_phy-node.patch
  target/linux/qualcommax/patches-6.6/0816-arm64-dts-qcom-ipq5018-add-wifi-support.patch
Labels: target/qualcommax

#18640 generic: refresh patches
  target/linux/generic/hack-6.6/660-fq_codel_defaults.patch
Labels: kernel

#18554 package: basefiles: new feature: add oem image dectection to fwtool.sh
  package/base-files/files/lib/upgrade/fwtool.sh
Labels: core packages

#18645 ead: fix compilation with GCC14
  package/network/services/ead/Makefile
Labels: core packages
