Repository openwrt/openwrt, pull requests merged in 2025-06, with the labels that each got.

#18978 [24.10] generic: backport brcm legacy dsa tag fix
  target/linux/generic/backport-6.6/725-01-v6.16-net-dsa-tag_brcm-legacy-fix-pskb_may_pull-length.patch
Labels: kernel, release/24.10

#12285 bmips: huawei,hg556a-b: enable external switch
  target/linux/bmips/bcm6318/config-6.12
  target/linux/bmips/bcm63268/config-6.12
  target/linux/bmips/bcm6328/config-6.12
  target/linux/bmips/bcm6358/base-files/etc/board.d/02_network
  target/linux/bmips/bcm6358/config-6.12
  target/linux/bmips/bcm6362/config-6.12
  target/linux/bmips/bcm6368/config-6.12
  target/linux/bmips/dts/bcm6358-huawei-hg556a-b.dts
  target/linux/bmips/patches-6.12/120-net-dsa-tag_brcm-legacy-reorganize-functions.patch
  target/linux/bmips/patches-6.12/121-net-dsa-tag_brcm-add-support-for-legacy-FCS-tags.patch
  target/linux/bmips/patches-6.12/122-net-dsa-b53-support-legacy-FCS-tags.patch
  target/linux/bmips/patches-6.12/130-net-dsa-b53-add-support-for-FDB-operations-on-5325-5.patch
  target/linux/bmips/patches-6.12/131-net-dsa-b53-prevent-FAST_AGE-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/132-net-dsa-b53-prevent-SWITCH_CTRL-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/133-net-dsa-b53-fix-IP_MULTICAST_CTRL-on-BCM5325.patch
  target/linux/bmips/patches-6.12/134-net-dsa-b53-prevent-DIS_LEARNING-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/135-net-dsa-b53-prevent-BRCM_HDR-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/136-net-dsa-b53-prevent-GMII_PORT_OVERRIDE_CTRL-access-o.patch
  target/linux/bmips/patches-6.12/137-net-dsa-b53-fix-unicast-multicast-flooding-on-BCM532.patch
  target/linux/bmips/patches-6.12/138-net-dsa-b53-fix-b53_imp_vlan_setup-for-BCM5325.patch
  target/linux/bmips/patches-6.12/139-net-dsa-b53-ensure-BCM5325-PHYs-are-enabled.patch
Labels: kernel, target/bmips

#18954 gemini: switch default NTFS driver package to kmod-fs-ntfs3
  target/linux/gemini/image/Makefile
Labels: target/gemini

#16967 ramips: mt7621: use regulators for USB GPIO
  target/linux/ramips/dts/mt7621_d-team_pbr-m1.dts
  target/linux/ramips/dts/mt7621_dual-q_h721.dts
  target/linux/ramips/dts/mt7621_lenovo_newifi-d1.dts
  target/linux/ramips/dts/mt7621_xzwifi_creativebox-v1.dts
Labels: target/ramips

#18825 [pre-6.12] realtek: extend simple thermal driver to support rtl839x
  target/linux/realtek/dts/rtl839x.dtsi
  target/linux/realtek/files-6.6/drivers/thermal/realtek-thermal.c
  target/linux/realtek/patches-6.6/330-add-realtek-thernal-driver.patch
  target/linux/realtek/rtl839x/config-6.6
Labels: kernel, target/realtek

#19016 kernel: mtdsplit_uimage: return 0 if not fatal
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_uimage.c
Labels: kernel

#19023 wireguard-tools: update to v1.0.20250521
  package/network/utils/wireguard-tools/Makefile
Labels: core packages

#19020 tools/7z: update to 24.09
  tools/7z/Makefile
Labels: build/scripts/tools

#18619 mediatek: Create common DTSI for WR3000H and WR3000S
  target/linux/mediatek/dts/mt7981b-cudy-wr3000-nand.dtsi
  target/linux/mediatek/dts/mt7981b-cudy-wr3000h-v1.dts
  target/linux/mediatek/dts/mt7981b-cudy-wr3000s-v1.dts
Labels: target/mediatek

#19039 starfive: fix 6.12 kernel patch conflict
  target/linux/starfive/patches-6.12/0031-phy-starfive-jh7110-usb-Fix-usb-2.0-host-detection-f.patch
Labels: target/starfive

#19037 bcm27xx-gpu-fw: update to v1.20250430
  package/kernel/bcm27xx-gpu-fw/Makefile
Labels: target/bcm27xx, core packages

#19015 generic: 6.12: backport b53 RGMII port patches
  target/linux/bmips/dts/bcm63167-sercomm-h500-s.dtsi
  target/linux/bmips/dts/bcm63168-actiontec-t1200h.dts
  target/linux/bmips/dts/bcm63168-sagem-fast-3864-op.dts
  target/linux/bmips/dts/bcm63168-sercomm-shg2500.dts
  target/linux/bmips/dts/bcm63169-comtrend-vg-8050.dts
  target/linux/bmips/dts/bcm6328-inteno-xg6846.dts
  target/linux/bmips/dts/bcm6362-huawei-hg253s-v2.dts
  target/linux/bmips/dts/bcm6362-netgear-dgnd3700-v2.dts
  target/linux/bmips/dts/bcm6368-actiontec-r1000h.dts
  target/linux/bmips/dts/bcm6368-netgear-dgnd3700.dtsi
  target/linux/bmips/dts/bcm6369-comtrend-wap-5813n.dts
  target/linux/bmips/dts/bcm6369-netgear-evg2000.dts
  target/linux/bmips/patches-6.12/110-net-dsa-b53-invert-bcm531x5-rgmii-delay-heuristic.patch
  target/linux/bmips/patches-6.12/122-net-dsa-b53-support-legacy-FCS-tags.patch
  target/linux/bmips/patches-6.12/130-net-dsa-b53-add-support-for-FDB-operations-on-5325-5.patch
  target/linux/bmips/patches-6.12/131-net-dsa-b53-prevent-FAST_AGE-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/132-net-dsa-b53-prevent-SWITCH_CTRL-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/133-net-dsa-b53-fix-IP_MULTICAST_CTRL-on-BCM5325.patch
  target/linux/bmips/patches-6.12/134-net-dsa-b53-prevent-DIS_LEARNING-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/135-net-dsa-b53-prevent-BRCM_HDR-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/136-net-dsa-b53-prevent-GMII_PORT_OVERRIDE_CTRL-access-o.patch
  target/linux/bmips/patches-6.12/137-net-dsa-b53-fix-unicast-multicast-flooding-on-BCM532.patch
  target/linux/bmips/patches-6.12/138-net-dsa-b53-fix-b53_imp_vlan_setup-for-BCM5325.patch
  target/linux/bmips/patches-6.12/139-net-dsa-b53-ensure-BCM5325-PHYs-are-enabled.patch
  target/linux/generic/backport-6.12/710-05-v6.16-net-dsa-b53-do-not-enable-EEE-on-bcm63xx.patch
  target/linux/generic/backport-6.12/710-06-v6.16-net-dsa-b53-do-not-enable-RGMII-delay-on-bcm63xx.patch
  target/linux/generic/backport-6.12/710-07-v6.16-net-dsa-b53-do-not-configure-bcm63xx-s-IMP-port-inte.patch
  target/linux/generic/backport-6.12/710-08-v6.16-net-dsa-b53-allow-RGMII-for-bcm63xx-RGMII-ports.patch
  target/linux/generic/backport-6.12/710-09-v6.16-net-dsa-b53-do-not-touch-DLL_IQQD-on-bcm53115.patch
Labels: kernel, target/bmips

#18998 wifi-scripts: fix calculation for eht_oper_centr_freq_seg0_idx
  package/network/config/wifi-scripts/files-ucode/usr/share/ucode/wifi/hostapd.uc
Labels: core packages

#19047 prereq-build: fix typo on the IPC::Cmd module message
  include/prereq-build.mk
Labels: build/scripts/tools

#19054 bmips: add RFC v2 bcm5325 patches
  target/linux/bmips/patches-6.12/130-net-dsa-b53-add-support-for-FDB-operations-on-5325-5365.patch
  target/linux/bmips/patches-6.12/131-net-dsa-b53-prevent-FAST_AGE-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/132-net-dsa-b53-prevent-SWITCH_CTRL-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/133-net-dsa-b53-fix-IP_MULTICAST_CTRL-on-BCM5325.patch
  target/linux/bmips/patches-6.12/134-net-dsa-b53-prevent-DIS_LEARNING-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/135-net-dsa-b53-prevent-BRCM_HDR-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/136-net-dsa-b53-prevent-GMII_PORT_OVERRIDE_CTRL-access-on-BCM5325.patch
  target/linux/bmips/patches-6.12/137-net-dsa-b53-fix-unicast-multicast-flooding-on-BCM5325.patch
  target/linux/bmips/patches-6.12/138-net-dsa-b53-fix-b53_imp_vlan_setup-for-BCM5325.patch
  target/linux/bmips/patches-6.12/139-net-dsa-b53-ensure-BCM5325-PHYs-are-enabled.patch
Labels: target/bmips

#18609 mediatek: filogic: add support for Cudy WR3000E v1
  target/linux/mediatek/dts/mt7981b-cudy-wr3000e-v1.dts
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#18963 uboot-mk: Enable specifying defconfig fragments
  include/u-boot.mk
Labels: build/scripts/tools

#18991 f2fs-tools: fix building with GCC 15.1
  package/utils/f2fs-tools/Makefile
  package/utils/f2fs-tools/patches/100-f2fs-tools-use-stdbool.h-instead-of-bool.patch
Labels: core packages

#18992 gmp: fix compilation with GCC 15.1
  package/libs/gmp/Makefile
  package/libs/gmp/patches/001-acinclude-m4-fix-std23.patch
  package/libs/gmp/patches/002-acinclude-m4-add-parameter-names.patch
Labels: core packages

#18921 [openwrt-24.10] rockchip: add missing symbol
  target/linux/rockchip/armv8/config-6.6
Labels: kernel, target/rockchip, release/24.10

#18986 kernel: remove duplicate PREEMPT settings
  target/linux/d1/config-6.12
  target/linux/pistachio/config-6.12
  target/linux/sifiveu/config-6.12
  target/linux/x86/config-6.12
Labels: kernel, target/x86, target/pistachio, target/sifiveu, target/d1

#18614 toolchain: binutils: add support for 2.44
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.44/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.44/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.44/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

#18965 [24.10] backport uqmi commits
  package/network/utils/uqmi/files/lib/netifd/proto/qmi.sh
Labels: core packages, release/24.10

#19068 [24.10] ramips: mt7621: add support for Arcadyan WE410443
  target/linux/ramips/dts/mt7621_arcadyan_we410443.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips, release/24.10

#18469 [24.10] lldpd: enable hardware inventory information (TLV) management
  package/network/services/lldpd/files/lldpd.init
Labels: core packages, release/24.10

#19048 kernel: add Microchip ENC28J60 SPI Ethernet controller module
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#19043 apk-tools: update to git HEAD (2025-06-06)
  package/system/apk/Makefile
  package/system/apk/patches/0002-io_url_wget-correctly-init-wget_out-on-apk_io_url_in.patch
  package/system/apk/patches/0003-io-fix-undefined-behaviour-in-apk_istream_get_delim.patch
  package/system/apk/patches/0010-app_list-add-full-print.patch
Labels: core packages

#19102 bcm27xx: select I2C/SPI packages by default
  target/linux/bcm27xx/bcm2712/config-6.12
  target/linux/bcm27xx/image/Makefile
Labels: target/bcm27xx, kernel

#19084 kernel: bump 6.12 to 6.12.33
  target/linux/bcm27xx/patches-6.12/950-0821-USB-serial-pl2303-account-for-deficits-of-clones.patch
  target/linux/generic/kernel-6.12
  target/linux/uml/patches-6.12/000-v6.13-asm-generic-io.h-rework-split-ioread64-iowrite64-hel.patch
Labels: target/bcm27xx, kernel, target/uml

#19118 wifi: ath11k: increase max ATH11K_QMI_CALDB_SIZE macro
  package/kernel/mac80211/patches/ath11k/920-wifi-ath11k-add-hw-params-for-QCN6122.patch
Labels: core packages

#18531 include/package-pack: add missing apk package lifecycle events
  include/package-pack.mk
Labels: build/scripts/tools

#19138 [24.10] rockchip: fix the SD card detection on NanoPi R6C/R6S
  target/linux/rockchip/patches-6.6/402-v6.13-arm64-dts-rockchip-Fix-the-SD-card-detection-on-Nano.patch
Labels: target/rockchip, release/24.10

#19122 [24.10] libxml2: update to 2.13.6
  package/libs/libxml2/Makefile
Labels: core packages, release/24.10

#19099 [24.10] strace: Update to version 6.12
  package/devel/strace/Makefile
Labels: core packages, release/24.10

#19091 ramips: mt76x8: add support for Keenetic Start (KN-1112)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1112.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#19123 perf: disable slang support
  package/devel/perf/Makefile
Labels: core packages

#17814 tools/cmake: update to 3.31.5
  tools/cmake/Makefile
Labels: build/scripts/tools

#19145 tools: libdeflate: update to 1.24
  tools/libdeflate/Makefile
Labels: build/scripts/tools

#19079 [24.10] tools/expat: bump to 2.7.1 to fix several CVEs
  tools/expat/Makefile
Labels: build/scripts/tools, release/24.10

#19174 generic: net: phy: psb6970: fix missing-prototypes warnings
  target/linux/generic/files/drivers/net/phy/psb6970.c
Labels: kernel

#19170 realtek: rtl931x: add missing function reference for l2_hash_seed
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

#19171 realtek: rtl931x: fix I2C sda pin
  target/linux/realtek/files-6.12/drivers/i2c/busses/i2c-rtl9300.c
  target/linux/realtek/files-6.12/drivers/i2c/muxes/i2c-mux-rtl9300.c
Labels: target/realtek

#18642 realtek: fix/add switchcore syscon nodes for RTL838x/RTL839x/RTL931x
  target/linux/realtek/dts/rtl838x.dtsi
  target/linux/realtek/dts/rtl839x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

#17409 ramips: mt7621: add support for JDCloud RE-SP-01B
  target/linux/ramips/dts/mt7621_jdcloud_re-sp-01b.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/apm821xx, target/bcm53xx, target/bcm47xx, target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/lantiq, target/mvebu, target/mxs, target/octeon, core packages, target/ramips, target/sunxi, toolchain, target/x86, target/imx, target/ipq40xx, target/ath79, target/mediatek, target/imagebuilder, target/gemini, target/rockchip, target/realtek, target/bmips, GitHub/CI, target/qoriq, target/airoha, target/armsr, target/sifiveu, target/qualcommax, target/d1, target/starfive, target/loongarch64, target/siflower, target/stm32, target/qualcommbe

#19149 ath79: enable USB by default on hAP ac
  target/linux/ath79/dts/qca9558_mikrotik_routerboard-96x.dtsi
Labels: target/ath79

#19163 kernel: mtdsplit_uimage: return 0 if not fatal
  target/linux/generic/files/drivers/mtd/mtdsplit/mtdsplit_uimage.c
Labels: kernel

#19110 realtek: activate MIPS power cluster controller for RTL931x
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

#18927 mt76: replace strlcpy with strscpy
  package/kernel/mt76/patches/002-wifi-mt76-replace-strlcpy-with-strscpy.patch
Labels: core packages

#19143 tools/bash: update to version 5.2.37
  tools/bash/Makefile
Labels: build/scripts/tools

#19184 kernel: bump 6.12 to 6.12.34
  target/linux/bcm27xx/patches-6.12/950-0087-hid-Reduce-default-mouse-polling-interval-to-60Hz.patch
  target/linux/bcm27xx/patches-6.12/950-0231-drm-panel-simple-Add-a-timing-for-the-Raspberry-Pi-7.patch
  target/linux/bcm27xx/patches-6.12/950-0277-mm-page_alloc-cma-introduce-a-customisable-threshold.patch
  target/linux/bcm27xx/patches-6.12/950-0322-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.12/950-0344-sdhci-Add-SD-Express-hook.patch
  target/linux/bcm27xx/patches-6.12/950-0358-mmc-sdhci-of-dwcmshc-define-sdio-timeout-clocks.patch
  target/linux/bcm27xx/patches-6.12/950-0379-drivers-iommu-Add-BCM2712-IOMMU.patch
  target/linux/bcm27xx/patches-6.12/950-0502-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.12/950-0539-firmware-Add-an-RP1-firmware-interface-over-mbox.patch
  target/linux/bcm27xx/patches-6.12/950-0665-drm-vc4-tests-Drop-drm-parameter-for-vc4_find_crtc_f.patch
  target/linux/bcm27xx/patches-6.12/950-0666-drm-vc4-tests-Return-the-allocated-output.patch
  target/linux/bcm27xx/patches-6.12/950-0947-fixup-mmc-sdhci-of-dwcmshc-define-sdio-timeout-clock.patch
  target/linux/generic/backport-6.12/421-01-v6.16-spi-bcm63xx-spi-fix-shared-reset.patch
  target/linux/generic/backport-6.12/421-02-v6.16-spi-bcm63xx-hsspi-fix-shared-reset.patch
  target/linux/generic/backport-6.12/610-02-v6.14-net-dsa-b53-bcm_sf2-implement-.support_eee-method.patch
  target/linux/generic/backport-6.12/610-03-v6.15-net-dsa-b53-mdio-add-support-for-BCM53101.patch
  target/linux/generic/backport-6.12/610-04-v6.16-net-dsa-b53-implement-setting-ageing-time.patch
  target/linux/generic/backport-6.12/610-05-v6.16-net-dsa-b53-do-not-enable-EEE-on-bcm63xx.patch
  target/linux/generic/backport-6.12/610-06-v6.16-net-dsa-b53-do-not-enable-RGMII-delay-on-bcm63xx.patch
  target/linux/generic/backport-6.12/610-07-v6.16-net-dsa-b53-do-not-configure-bcm63xx-s-IMP-port-inte.patch
  target/linux/generic/backport-6.12/610-08-v6.16-net-dsa-b53-allow-RGMII-for-bcm63xx-RGMII-ports.patch
  target/linux/generic/backport-6.12/610-09-v6.16-net-dsa-b53-do-not-touch-DLL_IQQD-on-bcm53115.patch
  target/linux/generic/backport-6.12/611-v6.16-net-dsa-tag_brcm-legacy-fix-pskb_may_pull-length.patch
  target/linux/generic/backport-6.12/612-03-v6.17-net-dsa-b53-support-legacy-FCS-tags.patch
  target/linux/generic/backport-6.12/612-04-v6.17-net-dsa-b53-detect-BCM5325-variants.patch
  target/linux/generic/backport-6.12/612-09-v6.17-net-dsa-b53-prevent-DIS_LEARNING-access-on-BCM5325.patch
  target/linux/generic/backport-6.12/730-03-v6.13-net-phy-support-active-high-property-for-PHY-LEDs.patch
  target/linux/generic/hack-6.12/610-net-page_pool-try-to-free-deferred-skbs-while-waitin.patch
  target/linux/generic/hack-6.12/904-debloat_dma_buf.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/703-phy-add-detach-callback-to-struct-phy_driver.patch
  target/linux/mediatek/patches-6.12/739-net-add-negotiation-of-in-band-capabilities.patch
  target/linux/realtek/patches-6.12/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/starfive/patches-6.12/1011-net-stmmac-use-GFP_DMA32.patch
Labels: target/bcm27xx, kernel, target/mediatek, target/realtek, target/starfive

#19183 kernel: bump 6.6 to 6.6.94
  target/linux/generic/backport-6.6/001-powerpc-kernel-Fix-pcc_save_regs-inclusion.patch
  target/linux/generic/backport-6.6/421-01-v6.16-spi-bcm63xx-spi-fix-shared-reset.patch
  target/linux/generic/backport-6.6/421-02-v6.16-spi-bcm63xx-hsspi-fix-shared-reset.patch
  target/linux/generic/backport-6.6/611-01-v6.11-udp-Allow-GSO-transmit-from-devices-with-no-checksum.patch
  target/linux/generic/backport-6.6/611-03-v6.11-udp-Fall-back-to-software-USO-if-IPv6-extension-head.patch
  target/linux/generic/backport-6.6/621-v6.10-01-net-move-skb_gro_receive_list-from-udp-to-core.patch
  target/linux/generic/backport-6.6/714-v6.8-02-net-phy-extend-PHY-package-API-to-support-multiple-g.patch
  target/linux/generic/backport-6.6/714-v6.8-04-net-phy-add-support-for-PHY-package-MMD-read-write.patch
  target/linux/generic/backport-6.6/716-v6.9-03-net-phy-add-devm-of_phy_package_join-helper.patch
  target/linux/generic/backport-6.6/716-v6.9-06-net-phy-provide-whether-link-has-changed-in-c37_read.patch
  target/linux/generic/backport-6.6/725-01-v6.16-net-dsa-tag_brcm-legacy-fix-pskb_may_pull-length.patch
  target/linux/generic/backport-6.6/771-v6.7-01-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/backport-6.6/835-v6.9-net-phy-add-support-for-PHY-LEDs-polarity-modes.patch
  target/linux/generic/backport-6.6/841-v6.13-net-phy-support-active-high-property-for-PHY-LEDs.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/703-phy-add-detach-callback-to-struct-phy_driver.patch
  target/linux/mediatek/patches-6.6/739-net-add-negotiation-of-in-band-capabilities.patch
  target/linux/mvebu/patches-6.6/0001-v6.16-pinctrl-armada-37xx-use-correct-OUTPUT_VAL-register-.patch
  target/linux/mvebu/patches-6.6/0002-v6.16-pinctrl-armada-37xx-set-GPIO-output-value-before-set.patch
  target/linux/realtek/patches-6.6/706-include-linux-add-phy-ops-for-rtl838x.patch
  target/linux/siflower/patches-6.6/001-net-phy-c45-add-genphy_c45_pma_read_ext_abilities-fu.patch
Labels: kernel, target/mvebu, target/mediatek, target/realtek, target/siflower

#19191 uboot-envtools: cns3xxx: remove config file
  package/boot/uboot-tools/uboot-envtools/files/cns3xxx
Labels: core packages

#19188 kernel: enable memory mapped TPM interface on armsr
  package/kernel/linux/modules/other.mk
Labels: kernel, core packages

#19197 kernel: remove expired i40evf drivers
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#19082 package: include abiversion tag in package metadata
  include/package-pack.mk
Labels: build/scripts/tools

#19199 kernel: Fix IPv6 UDP fragmentation regression
  target/linux/generic/pending-6.6/650-Revert-ipv6-save-dontfrag-in-cork.patch
Labels: kernel

#19201 [24.10]: kernel: Fix IPv6 UDP fragmentation regression
  target/linux/generic/pending-6.6/650-Revert-ipv6-save-dontfrag-in-cork.patch
Labels: kernel, release/24.10

#19105 omnia-eeprom: simplify Makefile
  package/utils/omnia-eeprom/Makefile
Labels: core packages

#19135 mediatek: Ruijie RG-X60 Pro: Fix LAN port status light
  target/linux/mediatek/dts/mt7986a-ruijie-rg-x60-pro.dts
Labels: target/mediatek

#18255 x86: config-6.12: enable RAPL interface
  target/linux/x86/config-6.12
Labels: kernel, target/x86

#18966 base-files: ignore initscript output in sysupgrade
  package/base-files/files/sbin/sysupgrade
Labels: core packages

#19185 mt76: Change CRLF to LF in patch 002
  package/kernel/mt76/patches/002-wifi-mt76-replace-strlcpy-with-strscpy.patch
Labels: core packages

#19157 ramips: mt76x8: add support for Keenetic 4G (KN-1212)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1212.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#19093 base-files: handle packages alternatives when apk removes packages
  package/base-files/files/lib/functions.sh
Labels: core packages

#19160 libcrypt-compat: introduce package
  package/libs/xcrypt/Makefile
Labels: core packages

#19192 toolchain/wrapper: add missing qstrip to info.mk export
  toolchain/wrapper/Makefile
Labels: toolchain

#19232 qualcommbe: v6.12: drop upstreamed patch
  target/linux/qualcommbe/patches-6.12/0008-v6.14-arm64-dts-qcom-ipq9574-Add-CMN-PLL-node.patch
  target/linux/qualcommbe/patches-6.12/0009-v6.14-arm64-dts-qcom-ipq9574-Update-xo_board_clk-to-.patch
  target/linux/qualcommbe/patches-6.12/0010-v6.14-net-phy-add-phy_inband_caps.patch
  target/linux/qualcommbe/patches-6.12/0102-arm64-dts-qcom-ipq9574-Fix-USB-vdd-info.patch
Labels: target/qualcommbe

#19180 uboot-envtools: set nonshared flag correctly
  package/boot/uboot-tools/Makefile
Labels: core packages

#17817 scripts: getver.sh: approximate version from date
  scripts/getver.sh
Labels: build/scripts/tools

#19216 mediatek: add support for Zbtlink ZBT-Z8102AX v2
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax-v2.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/board.d/03_gpio_switches
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/24.10

#19255 kernel: allow seamless migration from I40EVF
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages

#19243 download: improve rawgit tar reliability
  include/download.mk
Labels: build/scripts/tools
