Repository openwrt/openwrt, pull requests merged in 2025-01, with the labels that each got.

#17429 mediatek: Fix primary MAC of D-Link M60
  target/linux/mediatek/dts/mt7986a-dlink-aquila-pro-ai-m60-a1.dts
Labels: target/mediatek

#17412 bcm27xx/bcm2712: add RP1 camera front-end
  target/linux/bcm27xx/modules/video.mk
Labels: target/bcm27xx

#17389 ramips: mt7621: enable lzma-loader for Amped Wireless ALLY
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#17449 [24.10] mediatek: Fix primary MAC of D-Link M60
  target/linux/mediatek/dts/mt7986a-dlink-aquila-pro-ai-m60-a1.dts
Labels: target/mediatek, release/24.10

#17467 ipq40xx: fix label MAC address for FritzBox 7520/7530
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
Labels: target/ipq40xx

#17433 generic: 6.6: backport upstream Realtek PHY patches
  target/linux/generic/backport-6.6/781-18-v6.13-net-phy-realtek-merge-the-drivers-for-internal-NBase.patch
  target/linux/generic/backport-6.6/781-19-v6.13-net-phy-realtek-add-RTL8125D-internal-PHY.patch
  target/linux/generic/pending-6.6/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.6/720-02-net-phy-realtek-disable-SGMII-in-band-AN-for-2-5G-PHYs.patch
  target/linux/generic/pending-6.6/720-03-net-phy-realtek-make-sure-paged-read-is-protected-by.patch
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-introduce-rtl822x_probe.patch
  target/linux/generic/pending-6.6/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
Labels: kernel

#17434 generic: 6.6: backport upstream r8169 patches
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.6/780-24-v6.13-r8169-add-support-for-the-temperature-sensor-being-a.patch
  target/linux/generic/backport-6.6/780-25-v6.13-r8169-remove-original-workaround-for-RTL8125-broken-.patch
  target/linux/generic/backport-6.6/780-26-v6.13-r8169-enable-SG-TSO-on-selected-chip-versions-per-de.patch
  target/linux/generic/backport-6.6/780-27-v6.13-r8169-implement-additional-ethtool-stats-ops.patch
  target/linux/generic/backport-6.6/780-28-v6.13-r8169-don-t-take-RTNL-lock-in-rtl_task.patch
  target/linux/generic/backport-6.6/780-30-v6.13-r8169-avoid-duplicated-messages-if-loading-firmware-.patch
  target/linux/generic/backport-6.6/780-31-v6.13-r8169-remove-rtl_dash_loop_wait_high-low.patch
  target/linux/generic/backport-6.6/780-32-v6.13-r8169-enable-EEE-at-2.5G-per-default-on-RTL8125B.patch
  target/linux/generic/backport-6.6/780-33-v6.13-r8169-add-support-for-RTL8125D.patch
  target/linux/generic/backport-6.6/780-34-v6.13-r8169-fix-inconsistent-indenting-in-rtl8169_get_eth_.patch
  target/linux/generic/backport-6.6/780-35-v6.13-r8169-align-RTL8125-EEE-config-with-vendor-driver.patch
  target/linux/generic/backport-6.6/780-36-v6.13-r8169-align-RTL8125-RTL8126-PHY-config-with-vendor-d.patch
  target/linux/generic/backport-6.6/780-37-v6.13-r8169-align-RTL8126-EEE-config-with-vendor-driver.patch
  target/linux/generic/backport-6.6/780-38-v6.13-r8169-improve-initialization-of-RSS-registers-on-RTL.patch
  target/linux/generic/backport-6.6/780-39-v6.13-r8169-remove-leftover-locks-after-reverted-change.patch
  target/linux/generic/backport-6.6/780-40-v6.13-r8169-improve-__rtl8169_set_wol.patch
  target/linux/generic/backport-6.6/780-41-v6.13-r8169-improve-rtl_set_d3_pll_down.patch
  target/linux/generic/backport-6.6/780-42-v6.13-r8169-align-WAKE_PHY-handling-with-r8125-r8126-vendo.patch
  target/linux/generic/backport-6.6/780-43-v6.13-r8169-use-helper-r8169_mod_reg8_cond-to-simplify-rtl.patch
Labels: kernel, core packages

#17461 bcm27xx/bcm2712: Fix-up RP1 modules
  target/linux/bcm27xx/bcm2712/config-6.6
  target/linux/bcm27xx/modules/hwmon.mk
  target/linux/bcm27xx/modules/other.mk
  target/linux/bcm27xx/modules/video.mk
Labels: target/bcm27xx, kernel

#17473 lantiq: xrx200: add support for lan3 and lan4 on AVM 5490/5491
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_avm_fritz5490.dtsi
  target/linux/lantiq/image/vr9.mk
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
Labels: kernel, target/lantiq

#17262 base-files: enable get_mac_ascii() to handle redundant strings
  package/base-files/files/lib/functions/system.sh
Labels: core packages

#17465 include/trusted-firmware-a.mk: unset CC before compiling
  include/trusted-firmware-a.mk
Labels: build/scripts/tools

#17382 ramips: mt76x8: add support for Keenetic Extra (KN-1713)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1713.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#17479 bcm27xx: remove duplicated kmod-rp1-pio package
  target/linux/bcm27xx/modules/hwmon.mk
  target/linux/bcm27xx/modules/other.mk
Labels: target/bcm27xx

#17298 mediatek: Fix U-Boot variables handling for D-Link M30 A1
  target/linux/mediatek/filogic/base-files/etc/init.d/bootcount
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
Labels: target/mediatek

#17477 ppp: update to 2.5.2
  package/network/services/ppp/Makefile
  package/network/services/ppp/patches/101-pppd-crypto-fix-build-without-openssl.patch
  package/network/services/ppp/patches/102-pppd-make-pid-directory-before-create-the-pid-file.patch
  package/network/services/ppp/patches/103-pppd-crypto-fix-gcc-14-build.patch
  package/network/services/ppp/patches/105-debian_demand.patch
  package/network/services/ppp/patches/204-radius_config.patch
  package/network/services/ppp/patches/208-fix_status_code.patch
  package/network/services/ppp/patches/310-precompile_filter.patch
  package/network/services/ppp/patches/321-multilink_support_custom_iface_names.patch
  package/network/services/ppp/patches/340-populate_default_gateway.patch
  package/network/services/ppp/patches/400-simplify_kernel_checks.patch
  package/network/services/ppp/patches/401-no_record_file.patch
  package/network/services/ppp/patches/404-remove_obsolete_protocol_names.patch
  package/network/services/ppp/patches/500-add-pptp-plugin.patch
Labels: core packages

#17504 uboot-envtools: ipq60xx: remove number of blocks
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
Labels: core packages

#17486 ath79: remove dr_mode and vbus-supply
  target/linux/ath79/dts/ar9344_nec_aterm.dtsi
  target/linux/ath79/dts/ar9344_qihoo_c301.dts
  target/linux/ath79/dts/qca9531_8dev_carambola3.dts
  target/linux/ath79/dts/qca9531_8dev_lima.dts
  target/linux/ath79/dts/qca9531_alcatel_hh40v.dts
  target/linux/ath79/dts/qca9531_tplink_tl-wr810n-v1.dts
  target/linux/ath79/dts/qca953x.dtsi
  target/linux/ath79/dts/qca9558_aruba_ap-115.dts
  target/linux/ath79/dts/qca9558_nec_aterm.dtsi
  target/linux/ath79/dts/qca9558_sophos_ap.dtsi
  target/linux/ath79/dts/qca9558_sophos_ap100.dts
  target/linux/ath79/dts/qca9558_sophos_ap55.dts
  target/linux/ath79/dts/qca9558_tplink_archer-d7.dtsi
  target/linux/ath79/dts/qca955x_elecom_wab.dtsi
Labels: target/ath79

#17526 generic: move gpio-regmap request/free ops patch from realtek
  target/linux/bmips/patches-6.6/110-pinctrl-bcm63268-add-gpio-function.patch
  target/linux/generic/pending-6.6/821-gpio-regmap-Use-generic-request-free-ops.patch
  target/linux/realtek/patches-6.6/801-gpio-regmap-Use-generic-request-free-ops.patch
Labels: kernel, target/realtek, target/bmips

#17527 [24.10] generic: add gpio-regmap request/free ops patch
  target/linux/bmips/patches-6.6/110-pinctrl-bcm63268-add-gpio-function.patch
  target/linux/generic/pending-6.6/821-gpio-regmap-Use-generic-request-free-ops.patch
Labels: kernel, target/bmips, release/24.10

#17528 [23.05] generic: add gpio-regmap request/free ops patch
  target/linux/generic/pending-5.15/821-gpio-regmap-Use-generic-request-free-ops.patch
Labels: kernel, release/23.05

#17535 ipq40xx: fix label MAC address for Linksys WHW03 v2
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-whw03.dtsi
Labels: target/ipq40xx

#17440 include/package-pack: remove leading whitespace from install scripts
  include/package-pack.mk
Labels: build/scripts/tools

#17532 uboot-rockchip: Fix product name for Radxa ROCK Pi 4
  package/boot/uboot-rockchip/Makefile
Labels: core packages, target/rockchip

#17498 Revert "kernel: Fix alloc_node_mem_map with ARCH_PFN_OFFSET"
  target/linux/generic/pending-6.6/120-Fix-alloc_node_mem_map-with-ARCH_PFN_OFFSET-calcu.patch
Labels: kernel

#15610 ramips: Add support for TP-Link Archer MR200 v6
  target/linux/ramips/dts/mt7628an_tplink_archer-mr200-v6.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: build/scripts/tools, target/ramips

#17575 rockchip: disable kernel preemption
  target/linux/rockchip/armv8/config-6.6
Labels: kernel, target/rockchip

#17587 tools/cmake: update to 3.31.4
  tools/cmake/Makefile
Labels: build/scripts/tools

#17568 kernel: bump 6.6 to 6.6.71
  include/kernel-6.6
  target/linux/airoha/patches-6.6/110-01-clk-en7523-Rework-clock-handling-for-different-clock.patch
  target/linux/airoha/patches-6.6/111-mmc-mtk-sd-add-support-for-AN7581-MMC-Host.patch
Labels: build/scripts/tools, target/airoha

#14922 qualcommax: ipq60xx: add TP-Link EAP610-Outdoor support
  include/image-commands.mk
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
  package/firmware/ipq-wifi/Makefile
  scripts/tplink-mkimage-2022.py
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6018-eap610-outdoor.dts
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq60xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq60xx/base-files/lib/preinit/09_mount_factory_data
  target/linux/qualcommax/ipq60xx/base-files/lib/upgrade/platform.sh
Labels: build/scripts/tools, kernel, core packages, target/qualcommax, ci:target:qualcommax:ipq60xx

#17458 mediatek: filogic: Add support for cudy wr3000h
  target/linux/mediatek/dts/mt7981b-cudy-wr3000h-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17521 ramips: mt76x8: fixs for Keenetic Air (KN-1613) and Extra (KN-1713)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1613.dts
  target/linux/ramips/dts/mt7628an_keenetic_kn-1713.dts
  target/linux/ramips/mt76x8/base-files/etc/board.d/04_led_migration
Labels: target/ramips

#17581 lantiq: xrx200_legacy: disable unused phy drivers
  target/linux/lantiq/xrx200_legacy/config-6.6
Labels: kernel, target/lantiq

#17046 mvebu: Add support for WD My Cloud Mirror Gen2
  target/linux/mvebu/cortexa9/base-files/etc/board.d/02_network
  target/linux/mvebu/cortexa9/base-files/lib/upgrade/platform.sh
  target/linux/mvebu/files-6.6/arch/arm/boot/dts/marvell/armada-385-wd_cloud-mirror-gen2.dts
  target/linux/mvebu/image/cortexa9.mk
Labels: build/scripts/tools, kernel, target/mvebu, core packages, target/ramips, target/ath79, target/mediatek

#17519 ramips: mt76x8: add support for Keenetic Extra (KN-1711)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1711.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#17538 uboot-envtools: update to v2025.01
  package/boot/uboot-envtools/Makefile
Labels: core packages

#17539 mkimage: update to v2025.01
  tools/mkimage/Makefile
Labels: build/scripts/tools

#17430 mediatek: Fixed phy6 DTS settings
  target/linux/mediatek/dts/mt7986a-dlink-aquila-pro-ai-m60-a1.dts
Labels: target/mediatek

#17590 hostapd: backport upstream patch to fix setting BSS color
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/763-radius-wispr.patch
  package/network/services/hostapd/patches/803-hostapd-fix-80211be-build.patch
  package/network/services/hostapd/patches/804-hostapd-Fix-clearing-up-settings-for-color-switch.patch
Labels: core packages

#17556 tools/meson: update to 1.6.1
  tools/meson/Makefile
Labels: build/scripts/tools

#17576 d1: Use correct module for devices with wifi
  target/linux/d1/base-files/etc/board.d/02_network
  target/linux/d1/image/Makefile
Labels: target/d1

#17381 ramips: mt7621: add support for Keenetic Viva (KN-1910)
  target/linux/ramips/dts/mt7621_keenetic_kn-1910.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
Labels: target/ramips

#17570 lldpd: bump version to 1.0.18
  package/network/services/lldpd/Makefile
Labels: core packages

#17591 [24.10] hostapd: backport upstream patch to fix setting BSS color
  package/network/services/hostapd/Makefile
  package/network/services/hostapd/patches/803-hostapd-fix-80211be-build.patch
  package/network/services/hostapd/patches/804-hostapd-Fix-clearing-up-settings-for-color-switch.patch
Labels: fix, release/24.10

#17571 lldpd: fix config for build without LLDP-MED
  package/network/services/lldpd/Makefile
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#17534 ramips: mt7621: add support for Confiabits MT7621 v1
  target/linux/ramips/dts/mt7621_confiabits_mt7621-v1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#17656 qualcommax: dl-wrx36: fix 2.5G port LED-s
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-dl-wrx36.dts
Labels: kernel, target/qualcommax

#17622 ipq4019: add HACK patch for Lantiq DSL on FritzBox 7530
  target/linux/generic/backport-6.6/870-v6.7-01-PCI-dwc-Add-host_post_init-callback.patch
  target/linux/generic/backport-6.6/870-v6.7-02-PCI-qcom-Enable-ASPM-for-platforms-supporting-1.9.0-.patch
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-fritzbox-7530.dts
  target/linux/ipq40xx/patches-6.6/900-PCI-qcom-add-hack-compatible-for-ipq4019-Lantiq-DSL.patch
Labels: kernel, target/ipq40xx

#17652 mediatek: filogic: cudy wr3000h: Fix SUPPORTED_DEVICES
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17653 [24.10] ramips: mt7621: add support for Confiabits MT7621 v1
  target/linux/ramips/dts/mt7621_confiabits_mt7621-v1.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/01_leds
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips, release/24.10

#17627 mediatek-filogic: fix wax220 wifi leds
  target/linux/mediatek/dts/mt7986b-netgear-wax220.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#17543 generic: add leds_st1202 patch to fix NULL pointer access
  target/linux/generic/pending-6.6/893-leds_st1202-Fix-NULL-pointer-access-error.patch
Labels: kernel, core packages

#17456 mac80211: Fix tracing backport
  package/kernel/mac80211/patches/build/140-trace_backport.patch
Labels: core packages

#17607 ethtool: update to 6.11
  package/network/utils/ethtool/Makefile
Labels: core packages

#17615 mediatek: EX5601-T0 add Zyxel EX5601-T1 and T-56 alias
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17630 ramips: fixes for Keenetic KN-1711,1713,1910
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/image/mt76x8.mk
Labels: target/ramips

#15501 fritz-tools: implement fritz_cal_extract with reverse option for AVM 7430
  package/utils/fritz-tools/src/fritz_cal_extract.c
  target/linux/lantiq/xrx200/base-files/etc/hotplug.d/firmware/12-ath9k-eeprom
Labels: target/lantiq, core packages

#17550 ath79: add support for Ruckus R500
  target/linux/ath79/dts/qca9557_ruckus_r500.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#17553 kernel: add missing symbols for lxc
  package/kernel/linux/modules/netsupport.mk
Labels: kernel, core packages

#17618 lantiq-xrx200: fb7430 set correct label-mac
  target/linux/lantiq/xrx200/base-files/etc/board.d/02_network
Labels: target/lantiq

#17646 kernel: bump 6.6 to 6.6.72
  include/kernel-6.6
  target/linux/airoha/patches-6.6/101-01-thermal-of-Add-devm_thermal_of_zone_register_with_pa.patch
  target/linux/bcm27xx/patches-6.6/950-0087-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.6/950-0441-Bluetooth-hci_sync-Add-fallback-bd-address-prop.patch
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/bcm27xx/patches-6.6/950-1218-Bluetooth-hci_sync-Fix-crash-on-NULL-parent.patch
  target/linux/bcm27xx/patches-6.6/950-1359-usb-dwc3-core-add-support-for-setting-NAK-enhancemen.patch
  target/linux/generic/hack-6.6/661-kernel-ct-size-the-hashtable-more-adequately.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/mediatek/patches-6.6/870-drm-mediatek-only-touch-DISP_REG_OVL_PITCH_MSB-if-AF.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
  target/linux/starfive/patches-6.6/0066-uart-8250-Add-dw-auto-flow-ctrl-support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/mediatek, target/rockchip, target/airoha, target/starfive

#17687 kernel: bump 6.6 to 6.6.73
  include/kernel-6.6
Labels: build/scripts/tools

#17649 generic: net: phy: realtek: expose temperature sensors
  target/linux/generic/backport-6.6/781-26-v6.14-net-phy-realtek-HWMON-support-for-standalone-version.patch
  target/linux/generic/pending-6.6/720-01-net-phy-realtek-use-genphy_soft_reset-for-2.5G-PHYs.patch
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-introduce-rtl822x_aldps_probe.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
Labels: kernel

#17697 [23.05] generic: backport pending gpio-regmap ops patch
  target/linux/generic/backport-5.15/840-v6.14-gpio-regmap-Use-generic-request-free-ops.patch
  target/linux/generic/pending-5.15/821-gpio-regmap-Use-generic-request-free-ops.patch
Labels: kernel, release/23.05

#16709 mediatek: add Airoha AN8855 gigabit switch driver
  target/linux/mediatek/dts/mt7981b-xiaomi-mi-router-common.dtsi
  target/linux/mediatek/files-6.6/drivers/mfd/airoha-an8855.c
  target/linux/mediatek/files-6.6/drivers/net/dsa/an8855.c
  target/linux/mediatek/files-6.6/drivers/net/dsa/an8855.h
  target/linux/mediatek/files-6.6/drivers/net/mdio/mdio-an8855.c
  target/linux/mediatek/files-6.6/drivers/net/phy/air_an8855.c
  target/linux/mediatek/files-6.6/drivers/nvmem/an8855-efuse.c
  target/linux/mediatek/files-6.6/include/linux/mfd/airoha-an8855-mfd.h
  target/linux/mediatek/filogic/config-6.6
  target/linux/mediatek/mt7622/config-6.6
  target/linux/mediatek/mt7623/config-6.6
  target/linux/mediatek/mt7629/config-6.6
  target/linux/mediatek/patches-6.6/737-net-dsa-add-Airoha-AN8855.patch
  target/linux/mediatek/patches-6.6/738-net-phylink-move-phylink_pcs_neg_mode.patch
  target/linux/mediatek/patches-6.6/739-net-add-negotiation-of-in-band-capabilities.patch
Labels: kernel, core packages, target/mediatek

#17623 qualcommax: add missing WAN LED support to Spectrum SAX1V1K routers
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8072-sax1v1k.dts
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/01_leds
Labels: kernel, target/qualcommax

#17675 armsr: add Hyper-V on Arm64 support
  target/linux/armsr/armv8/config-6.6
Labels: kernel, target/armsr

#17694 mediatek-mt7622: netgear-wax206 fix wifi leds
  target/linux/mediatek/dts/mt7622-netgear-wax206.dts
Labels: target/mediatek

#17720 kernel: Make kmod-usb-chipidea depend on kmod-phy-ath79-usb
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

#17708 kernel: bump 6.6 to 6.6.74
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0183-drm-v3d-Suppress-all-but-the-first-MMU-error.patch
  target/linux/bcm27xx/patches-6.6/950-0464-drm-v3d-New-debugfs-end-points-to-query-GPU-usage-st.patch
  target/linux/bcm27xx/patches-6.6/950-0555-drm-v3d-fix-up-register-addresses-for-V3D-7.x.patch
Labels: target/bcm27xx, build/scripts/tools

#17701 generic: fix probe issues with RealTek RTL8221B PHYs
  target/linux/generic/pending-6.6/720-07-net-phy-realtek-mark-existing-MMDs-as-present.patch
Labels: kernel

#17705 tools/dwarves: update to v1.29
  tools/dwarves/Makefile
  tools/dwarves/patches/100-reproducible-builds.patch
Labels: build/scripts/tools

#17737 ramips: mt7620: fix patching mac address in caldata
  target/linux/ramips/mt7620/base-files/etc/hotplug.d/firmware/10-rt2x00-eeprom
Labels: target/ramips

#17736 octeon: ubnt-usg: add board name to supported devices
  target/linux/octeon/image/Makefile
Labels: target/octeon

#17745 stm32: enable CONFIG_SMSC_PHY
  target/linux/stm32/stm32mp1/config-6.6
Labels: kernel, target/stm32

#17742 wolfssl: Update to version 5.7.6
  package/libs/wolfssl/Makefile
  package/libs/wolfssl/patches/100-disable-hardening-check.patch
Labels: core packages

#17741 apm821xx: NETGEAR WNDR4700: Fix compat version
  target/linux/apm821xx/image/nand.mk
Labels: target/apm821xx

#17755 ipq60xx: fix uboot-envtools file syntax error in uci-defaults
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
Labels: core packages

#17752 kexec-tools: update URL
  package/boot/kexec-tools/Makefile
Labels: core packages

#17754 24.10 - Fix missing backport from #17446
  target/linux/ramips/patches-6.6/809-pinctrl-mtmips-allow-mux-SDXC-pins-for-mt76x8.patch
Labels: target/ramips, release/24.10

#17781 x86: Add kmod-drm-i915 as default package
  target/linux/x86/image/64.mk
  target/linux/x86/image/generic.mk
  target/linux/x86/image/legacy.mk
Labels: target/x86

#17785 mediatek: fix TUF-AX4200 WAN LED
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax4200.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#17780 config: add VERSION_FIRMWARE_URL
  include/version.mk
  package/base-files/files/usr/lib/os-release
  package/base-files/image-config.in
Labels: build/scripts/tools, core packages

#17784 generic: net: phy: realtek: work-around hang on SerDes setup
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-introduce-rtl822x_aldps_probe.patch
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-setup-aldps.patch
  target/linux/generic/pending-6.6/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-07-net-phy-realtek-mark-existing-MMDs-as-present.patch
  target/linux/generic/pending-6.6/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.6/720-09-net-phy-realtek-disable-MDIO-broadcast.patch
Labels: kernel

#17739 mediatek: filogic: fix 2.5G phy compatible for WR3000H
  target/linux/mediatek/dts/mt7981b-cudy-wr3000h-v1.dts
Labels: target/mediatek

#17797 generic: 6.6: backport upstream r8169 patches
  target/linux/generic/backport-6.6/780-44-v6.13-r8169-copy-vendor-driver-2.5G-5G-EEE-advertisement-c.patch
  target/linux/generic/backport-6.6/780-45-v6.14-r8169-remove-unused-flag-RTL_FLAG_TASK_RESET_NO_QUEU.patch
  target/linux/generic/backport-6.6/780-46-v6.14-r8169-remove-support-for-chip-version-11.patch
  target/linux/generic/backport-6.6/780-47-v6.14-r8169-adjust-version-numbering-for-RTL8126.patch
  target/linux/generic/backport-6.6/780-48-v6.14-r8169-add-support-for-RTL8125D-rev.b.patch
  target/linux/generic/backport-6.6/780-49-v6.14-r8169-add-support-for-RTL8125BP-rev.b.patch
Labels: kernel

#17792 [24.10]: x86: Add kmod-drm-i915 as default package
  target/linux/x86/image/64.mk
  target/linux/x86/image/generic.mk
  target/linux/x86/image/legacy.mk
Labels: target/x86, release/24.10

#17790 [24.10] generic: net: phy: realtek: work-around hang on SerDes setup
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-introduce-rtl822x_aldps_probe.patch
  target/linux/generic/pending-6.6/720-04-net-phy-realtek-setup-aldps.patch
  target/linux/generic/pending-6.6/720-05-net-phy-realtek-detect-early-version-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-06-net-phy-realtek-support-interrupt-of-RTL8221B.patch
  target/linux/generic/pending-6.6/720-07-net-phy-realtek-mark-existing-MMDs-as-present.patch
  target/linux/generic/pending-6.6/720-08-net-phy-realtek-work-around-broken-serdes.patch
  target/linux/generic/pending-6.6/720-09-net-phy-realtek-disable-MDIO-broadcast.patch
Labels: kernel, release/24.10

#17793 mvebu: fix kmod for switch on wrt32x / venom
  target/linux/mvebu/image/cortexa9.mk
Labels: target/mvebu
