Repository openwrt/openwrt, pull requests merged in 2025-02, with the labels that each got.

#17830 ramips: fix xtal clock registration issue on RT3883
  target/linux/ramips/dts/rt3883.dtsi
  target/linux/ramips/patches-6.6/003-v6.14-clk-ralink-mtmips-remove-duplicated-xtal-clock-for-Ralink.patch
  target/linux/ramips/patches-6.6/100-mips-ralink-update-CPU-clock-index.patch
Labels: target/ramips

#17801 [24.10] generic: 6.6: backport upstream r8169 patches
  target/linux/generic/backport-6.6/780-44-v6.13-r8169-copy-vendor-driver-2.5G-5G-EEE-advertisement-c.patch
  target/linux/generic/backport-6.6/780-45-v6.14-r8169-remove-unused-flag-RTL_FLAG_TASK_RESET_NO_QUEU.patch
  target/linux/generic/backport-6.6/780-46-v6.14-r8169-remove-support-for-chip-version-11.patch
  target/linux/generic/backport-6.6/780-47-v6.14-r8169-adjust-version-numbering-for-RTL8126.patch
  target/linux/generic/backport-6.6/780-48-v6.14-r8169-add-support-for-RTL8125D-rev.b.patch
  target/linux/generic/backport-6.6/780-49-v6.14-r8169-add-support-for-RTL8125BP-rev.b.patch
Labels: kernel, backport, release/24.10

#17823 build: lock versions for special APK packages
  include/version.mk
  package/Makefile
  package/base-files/Makefile
  package/kernel/linux/Makefile
  package/libs/toolchain/Makefile
  target/imagebuilder/Makefile
  target/imagebuilder/files/Makefile
Labels: build/scripts/tools, kernel, core packages, target/imagebuilder

#17707 [24.10] mt76: update to Git HEAD (2025-01-22)
  package/kernel/mt76/Makefile
Labels: core packages, release/24.10

#17845 generic: fix broken NVMEM ASCII patch for x86 target
  target/linux/generic/pending-6.6/809-01-nvmem-core-generalize-mac-base-cells-handling.patch
  target/linux/generic/pending-6.6/809-02-nvmem-layouts-add-support-for-ascii-env-driver.patch
Labels: kernel

#17857 kernel: r8168: update to v8.055.00
  package/kernel/r8168/Makefile
  package/kernel/r8168/patches/001-r8168_n-fix-proc_dump_rx_desc_2-on-32-bits.patch
  package/kernel/r8168/patches/200-r8168-print-link-speed-and-duplex-mode.patch
Labels: core packages

#17862 [24.10] kernel: r8168: update to v8.055.00
  package/kernel/r8168/Makefile
  package/kernel/r8168/patches/001-r8168_n-fix-proc_dump_rx_desc_2-on-32-bits.patch
  package/kernel/r8168/patches/200-r8168-print-link-speed-and-duplex-mode.patch
Labels: core packages, release/24.10

#17863 [23.05] kernel: r8168: update to v8.055.00
  package/kernel/r8168/Makefile
  package/kernel/r8168/patches/001-r8168_n-fix-proc_dump_rx_desc_2-on-32-bits.patch
  package/kernel/r8168/patches/200-r8168-print-link-speed-and-duplex-mode.patch
Labels: core packages, release/23.05

#17778 realtek: Drop old RTL8231 driver
  target/linux/realtek/files-6.6/drivers/gpio/gpio-rtl8231.c
  target/linux/realtek/patches-6.6/301-gpio-add-rtl8231-driver.patch
  target/linux/realtek/rtl838x/config-6.6
  target/linux/realtek/rtl839x/config-6.6
  target/linux/realtek/rtl930x/config-6.6
  target/linux/realtek/rtl931x/config-6.6
Labels: kernel, target/realtek

#17654 kernel: modules: netdevices: add realtek DSA modules
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/backport-6.6/894-v6.7-net-dsa-realtek-Convert-to-platform-remove-callback.patch
  target/linux/generic/backport-6.6/896-v6.9-0001-net-dsa-realtek-drop-cleanup-from-realtek_ops.patch
  target/linux/generic/backport-6.6/896-v6.9-0002-net-dsa-realtek-introduce-REALTEK_DSA-namespace.patch
  target/linux/generic/backport-6.6/896-v6.9-0003-net-dsa-realtek-convert-variants-into-real-drivers.patch
  target/linux/generic/backport-6.6/896-v6.9-0004-net-dsa-realtek-keep-variant-reference-in-realtek_pr.patch
  target/linux/generic/backport-6.6/896-v6.9-0005-net-dsa-realtek-common-rtl83xx-module.patch
  target/linux/generic/backport-6.6/896-v6.9-0006-net-dsa-realtek-merge-rtl83xx-and-interface-modules-.patch
  target/linux/generic/backport-6.6/896-v6.9-0007-net-dsa-realtek-get-internal-MDIO-node-by-name.patch
  target/linux/generic/backport-6.6/896-v6.9-0008-net-dsa-realtek-clean-user_mii_bus-setup.patch
  target/linux/generic/backport-6.6/896-v6.9-0009-net-dsa-realtek-migrate-user_mii_bus-setup-to-realte.patch
  target/linux/generic/backport-6.6/896-v6.9-0010-net-dsa-realtek-use-the-same-mii-bus-driver-for-both.patch
  target/linux/generic/backport-6.6/896-v6.9-0011-net-dsa-realtek-embed-dsa_switch-into-realtek_priv.patch
  target/linux/generic/backport-6.6/897-v6.9-net-dsa-realtek-fix-digital-interface-select-macro-f.patch
  target/linux/generic/backport-6.6/898-v6.9-0001-dt-bindings-net-dsa-realtek-reset-gpios-is-not-requi.patch
  target/linux/generic/backport-6.6/898-v6.9-0002-dt-bindings-net-dsa-realtek-add-reset-controller.patch
  target/linux/generic/backport-6.6/898-v6.9-0003-net-dsa-realtek-support-reset-controller.patch
  target/linux/generic/backport-6.6/899-v6.10-0002-net-dsa-realtek-do-not-assert-reset-on-remove.patch
  target/linux/generic/backport-6.6/899-v6.10-0003-net-dsa-realtek-add-LED-drivers-for-rtl8366rb.patch
Labels: kernel, core packages

#17877 ipq-wifi: update to Git HEAD (2025-02-06)
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#17878 libiwinfo: update to Git HEAD (2025-02-06)
  package/network/utils/iwinfo/Makefile
Labels: core packages

#17884 qualcommax: disable IPQ5018 specific symbols
  target/linux/qualcommax/config-6.6
Labels: kernel, target/qualcommax

#17900 generic: fix Qcom SNAND driver and move to backports directory
  target/linux/generic/backport-6.6/413-01-v6.14-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/generic/backport-6.6/413-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/generic/backport-6.6/413-03-v6.14-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/generic/backport-6.6/413-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
  target/linux/generic/backport-6.6/414-v6.14-mtd-rawnand-qcom-fix-broken-config-in-qcom_param_pag.patch
  target/linux/generic/backport-6.6/415-v6.14-mtd-rawnand-qcom-Fix-build-issue-on-x86-architecture.patch
  target/linux/generic/hack-6.6/430-mtk-bmt-support.patch
  target/linux/qualcommax/patches-6.6/0402-mtd-rawnand-qcom-cleanup-qcom_nandc-driver.patch
  target/linux/qualcommax/patches-6.6/0404-mtd-nand-Add-qpic_common-API-file.patch
  target/linux/qualcommax/patches-6.6/0406-spi-spi-qpic-add-driver-for-QCOM-SPI-NAND-flash-Interface.patch
  target/linux/qualcommax/patches-6.6/0408-spi-spi-qpic-fix-compilation-issues.patch
  target/linux/qualcommbe/patches-6.6/016-02-v6.14-mtd-rawnand-qcom-Add-qcom-prefix-to-common-api.patch
  target/linux/qualcommbe/patches-6.6/016-04-v6.14-mtd-rawnand-qcom-use-FIELD_PREP-and-GENMASK.patch
Labels: kernel, target/qualcommax

#17558 uboot-rockchip: bump to 2025.01
  package/boot/uboot-rockchip/Makefile
  package/boot/uboot-rockchip/patches/001-rockchip-board-Increase-rng-seed-size-to-make-it-sufficie.patch
  package/boot/uboot-rockchip/patches/002-scripts-dtc-pylibfdt-libfdt-i_shipped-Use-SWIG_AppendOutp.patch
Labels: core packages, target/rockchip

#17859 mediatek: filogic: fix mt7986a-zyxel-ex5601-t0-stock.dts model name and eth1 wan definition
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-stock.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

#17749 mediatek: filogic: increase spi flash memory speed on ZyXEL EX5601
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
Labels: target/mediatek

#17907 uboot-envtools: ipq60xx: code simplification
  package/boot/uboot-envtools/files/qualcommax_ipq60xx
Labels: core packages

#17922 CI: labeler: Add qualcommbe target
  .github/labeler.yml
Labels: GitHub/CI

#17920 uboot-envtools: add support for ZyXEL GS-1900-24EP
  package/boot/uboot-envtools/files/realtek
Labels: core packages

#17944 ath79: mikrotik: fix reference clock of Routerboard 911G
  target/linux/ath79/dts/ar9342_mikrotik_routerboard-911g-xhpnd.dts
  target/linux/ath79/dts/ar9342_mikrotik_routerboard-911g.dtsi
  target/linux/ath79/dts/ar9342_mikrotik_routerboard-912uag-2hpnd.dts
Labels: target/ath79

#17931 arm-trusted-firmware-tools: update to version 2.12
  package/boot/arm-trusted-firmware-tools/Makefile
  package/boot/arm-trusted-firmware-tools/patches/001-respect-LDFLAGS.patch
  package/boot/arm-trusted-firmware-tools/patches/002-darwin_compile.patch
Labels: core packages

#17966 nss-dp: switchdev: apply flag dependency directives
  package/kernel/qca-nss-dp/patches/0009-nss-dp-switchdev-fix-FDB-roaming.patch
Labels: core packages, target/qualcommax

#17947 openssl: update to 3.0.16
  package/libs/openssl/Makefile
Labels: core packages

#17758 octeon/generic: ubnt,erlite: define profile
  target/linux/octeon/base-files/etc/board.d/01_network
  target/linux/octeon/base-files/lib/preinit/01_sysinfo
  target/linux/octeon/base-files/lib/preinit/79_move_config
  target/linux/octeon/base-files/lib/upgrade/platform.sh
  target/linux/octeon/files/arch/mips/boot/dts/cavium-octeon/cn5020_ubnt_edgerouter-lite.dts
  target/linux/octeon/image/Makefile
Labels: kernel, target/octeon

#17952 mediatek: filogic: upstream LEDs control on 2.5G ports on EX5601
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#17728 ramips: Add alternate support for TP-Link FR205
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#17946 ramips: fixes for Keenetic KN-1613,1711,1713,1910
  target/linux/ramips/dts/mt7628an_keenetic_kn-1711.dts
  target/linux/ramips/dts/mt7628an_keenetic_kn-1713.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#17973 mediatek: filogic: fix sysupgrade for ex5601-t0-stock
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#17834 ramips: improve MT7621S core detection
  target/linux/ramips/patches-6.6/320-MIPS-add-support-for-buggy-MT7621S-core-detection.patch
Labels: target/ramips

#17999 tools: firmware-utils: update to Git HEAD (2024-02-16)
  tools/firmware-utils/Makefile
Labels: build/scripts/tools

#17965 ramips: Add support for Mercusys MR1800X as alt name of MR70X
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#18014 yafut: update to a version that builds on macOS
  package/utils/yafut/Makefile
  tools/yafut/Makefile
  tools/yafut/patches/100-portability.patch
Labels: build/scripts/tools, core packages

#17935 nvmem: layouts: ascii-env handle CRLF while parsing
  target/linux/generic/pending-6.6/809-03-nvmem-layouts-ascii-env-handle-CRLF-while-parsing.patch
Labels: kernel, target/qualcommax

#17828 tools/bc: update to 1.08.1
  tools/bc/Makefile
  tools/bc/patches/001-no_doc.patch
  tools/bc/patches/002-fix-libmath.patch
Labels: build/scripts/tools

#17827 tools/automake: bump to 1.17
  tools/automake/Makefile
  tools/automake/patches/000-relocatable.patch
  tools/automake/patches/100-aclocal-skip-not-existing-directories.patch
  tools/automake/patches/101-do-not-require-files.patch
  tools/automake/patches/200-other-V-values-for-verbosity.patch
Labels: build/scripts/tools

#17825 tools/autoconf: bump to 2.72
  tools/autoconf/Makefile
  tools/autoconf/patches/000-relocatable.patch
Labels: build/scripts/tools

#17826 tools/autoconf-archive: bump to 2024.10.16
  tools/autoconf-archive/Makefile
Labels: build/scripts/tools

#17997 mwlwifi: update to version 10.4.11-20250206
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/001-Simplify-coredump-memcpy-in-mwl_fwcmd_get_fw_core_dump.patch
  package/kernel/mwlwifi/patches/002-Correctly-use-PTR_ERR-in-pcie_bf_mimo_ctrl_decode.patch
  package/kernel/mwlwifi/patches/003-Use-zu-and-zd-for-ssize_t-and-size_t.patch
  package/kernel/mwlwifi/patches/010-mwlwifi-fix-PCIe-DT-node-null-pointer-dereference.patch
  package/kernel/mwlwifi/patches/020-mac80211_update.patch
Labels: core packages

#17949 arm-trusted-firmware-mediatek: update to upstream release 2025-02-12
  package/boot/arm-trusted-firmware-mediatek/Makefile
  package/boot/arm-trusted-firmware-mediatek/patches/0004-mediatek-snfi-fix-return-code-when-reading.patch
Labels: core packages, target/mediatek

#18000 kernel: bump 6.6 to 6.6.78
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0416-gpio-pca953x-Add-ti-tca9554-compatible-string.patch
  target/linux/bcm27xx/patches-6.6/950-0487-drivers-media-imx296-Add-standby-delay-during-probe.patch
  target/linux/bcm27xx/patches-6.6/950-0679-drm-fb-helper-Look-up-preferred-fbdev-node-number-fr.patch
  target/linux/bcm27xx/patches-6.6/950-0684-drm-fb_helper-Change-query-for-FB-designation-from-d.patch
  target/linux/bcm27xx/patches-6.6/950-0923-drm-Add-DRM_MODE_TV_MODE_MONOCHROME.patch
  target/linux/bcm27xx/patches-6.6/950-1051-drm-panel-Add-and-initialise-an-orientation-field-to.patch
  target/linux/bcm27xx/patches-6.6/950-1365-drm-Set-non-desktop-property-to-true-for-writeback-a.patch
  target/linux/bcm27xx/patches-6.6/950-1367-drm-vc4-Increase-number-of-overlay-planes-from-16-to.patch
  target/linux/bcm47xx/patches-6.6/791-tg3-no-pci-sleep.patch
  target/linux/generic/backport-6.6/819-v6.8-0005-nvmem-core-Rework-layouts-to-become-regular-devices.patch
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/hack-6.6/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.6/791-tg3-Fix-DMA-allocations-on-57766-devices.patch
  target/linux/ipq40xx/patches-6.6/400-mmc-sdhci-sdhci-msm-use-sdhci_set_clock-instead-of-s.patch
  target/linux/ipq40xx/patches-6.6/401-mmc-sdhci-msm-comment-unused-sdhci_msm_set_clock.patch
  target/linux/mediatek/patches-6.6/256-clk-mediatek-mt2701-vdec-fix-conversion-to-mtk_clk_s.patch
  target/linux/mediatek/patches-6.6/257-clk-mediatek-mt2701-aud-fix-conversion-to-mtk_clk_si.patch
  target/linux/mediatek/patches-6.6/258-clk-mediatek-mt2701-bdp-add-missing-dummy-clk.patch
  target/linux/mediatek/patches-6.6/259-clk-mediatek-mt2701-mm-add-missing-dummy-clk.patch
  target/linux/mediatek/patches-6.6/260-clk-mediatek-mt2701-img-add-missing-dummy-clk.patch
  target/linux/qualcommbe/patches-6.6/006-v6.11-clk-qcom-common-commonize-qcom_cc_really_probe.patch
  target/linux/ramips/patches-6.6/810-uvc-add-iPassion-iP2970-support.patch
Labels: target/bcm47xx, target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/ipq40xx, target/mediatek, target/qualcommbe

#17879 tools: fakeroot: update to 1.37
  tools/fakeroot/Makefile
Labels: build/scripts/tools

#18048 imagebuilder: fix addition of local packages
  target/imagebuilder/Makefile
  target/imagebuilder/files/Makefile
Labels: target/imagebuilder

#18067 iproute2: update to 6.13
  package/network/utils/iproute2/Makefile
  package/network/utils/iproute2/patches/013-endian.h.patch
  package/network/utils/iproute2/patches/014-basename.patch
  package/network/utils/iproute2/patches/015-limits.h.patch
  package/network/utils/iproute2/patches/016-limits.h.patch
  package/network/utils/iproute2/patches/017-linux-limits.patch
  package/network/utils/iproute2/patches/018-linux-limits.patch
  package/network/utils/iproute2/patches/170-ip_tiny.patch
Labels: core packages

#18064 tools: zstd: update to 1.5.7
  tools/zstd/Makefile
  tools/zstd/patches/001-Provide-variant-pkg-config-file-for-multi-threaded-s.patch
Labels: build/scripts/tools

#18066 kernel: bump 6.6 to 6.6.79
  include/kernel-6.6
  target/linux/airoha/patches-6.6/105-uart-add-en7523-support.patch
  target/linux/bcm27xx/patches-6.6/950-0065-cgroup-Disable-cgroup-memory-by-default.patch
  target/linux/bcm27xx/patches-6.6/950-0087-Add-dwc_otg-driver.patch
  target/linux/bcm27xx/patches-6.6/950-1349-cgroup-Use-kernel-command-line-to-disable-memory-cgr.patch
  target/linux/bcm27xx/patches-6.6/950-1445-fixup-cgroup-Use-kernel-command-line-to-disable-memo.patch
  target/linux/generic/backport-6.6/602-v6.10-net-Use-backlog-NAPI-to-clean-up-the-defer_list.patch
  target/linux/generic/backport-6.6/700-v6.10-net-create-a-dummy-net_device-allocator.patch
  target/linux/generic/hack-6.6/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/pending-6.6/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.6/811-pci_disable_usb_common_quirks.patch
  target/linux/mediatek/patches-6.6/410-bt-mtk-serial-fix.patch
  target/linux/ramips/patches-6.6/810-uvc-add-iPassion-iP2970-support.patch
  target/linux/ramips/patches-6.6/831-mmc-mtk-sd-initialize-pad-delay-and-drive-strength.patch
  target/linux/starfive/patches-6.6/0066-uart-8250-Add-dw-auto-flow-ctrl-support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/mediatek, target/airoha, target/starfive

#18063 tools: xz: update to 5.6.4
  tools/xz/Makefile
Labels: build/scripts/tools

#18071 realtek: ONTi ONT-S508CL-8S is a relabeled XikeStor SKS8300-8X
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

#18073 tools/autoconf: Fix 000-relocatable patch
  tools/autoconf/patches/000-relocatable.patch
Labels: build/scripts/tools

#18045 linux-firmware: update to 20250211
  package/firmware/linux-firmware/Makefile
Labels: core packages

#18090 qualcommax: fix upgrade function for Linksys MX dual boot devices
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: target/qualcommax

#17731 kernel: qca-nss-dp: update to 12.5.5
  package/kernel/qca-nss-dp/Makefile
  package/kernel/qca-nss-dp/patches/0006-nss_dp_main-Use-a-phy-handle-property-to-connect-to-.patch
  package/kernel/qca-nss-dp/patches/0008-nss-dp-allow-setting-netdev-name-from-DTS.patch
  package/kernel/qca-nss-dp/patches/0011-01-edma_v1-rework-hw_reset-logic-to-permit-rmmod-and-in.patch
  package/kernel/qca-nss-dp/patches/0011-02-nss_dp_switchdev-correctly-unregister-notifier-on-dp.patch
  package/kernel/qca-nss-dp/patches/0011-03-nss_dp_main-swap-dp_exit-function-call.patch
  package/kernel/qca-nss-dp/patches/0011-04-nss_dp_main-call-unregister_netdev-first-in-dp_remov.patch
  package/kernel/qca-nss-dp/patches/0011-05-nss_dp_main-use-phy_detach-instead-of-disconnect-in-.patch
  package/kernel/qca-nss-dp/patches/0011-06-edma_v1-skip-edma_disable_port-in-edma_cleanup-subse.patch
  package/kernel/qca-nss-dp/patches/0012-01-syn-gmac-use-standard-DMA-api.patch
  package/kernel/qca-nss-dp/patches/0012-02-ipq50xx-use-corrent-scm-function-to-write-tcsr.patch
  package/kernel/qca-nss-dp/patches/0013-nss_dp_main-support-fixed-link.patch
Labels: core packages, target/qualcommax

#18031 [24.10] ramips: Add support for Mercusys MR1800X as alt name of MR70X
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips, release/24.10

#18015 [24.10] ramips: improve MT7621S core detection
  target/linux/ramips/patches-6.6/320-MIPS-add-support-for-buggy-MT7621S-core-detection.patch
Labels: target/ramips, release/24.10

#18110 kernel: kmod-btmtk: Extract btmtk.ko into own package
  package/kernel/linux/modules/bluetooth.mk
  target/linux/mediatek/modules.mk
Labels: kernel, core packages, target/mediatek

#18130 omcproxy: update to latest version
  package/network/services/omcproxy/Makefile
Labels: core packages

#18128 kernel: r8125: update to v9.015.00
  package/kernel/r8125/Makefile
  package/kernel/r8125/patches/200-r8125-print-link-speed-and-duplex-mode.patch
Labels: core packages

#18129 kernel: r8126: update to v10.015.00
  package/kernel/r8126/Makefile
  package/kernel/r8126/patches/200-r8126-print-link-speed-and-duplex-mode.patch
Labels: core packages

#18134 libpcap: add missing PKG_CONFIG_DEPENDS entries
  package/libs/libpcap/Makefile
Labels: core packages

#18136 [24.10] omcproxy: update to latest version
  package/network/services/omcproxy/Makefile
Labels: core packages, release/24.10

#18096 [openwrt-24.10] ethtool: update to version 6.11 and fix ABI breakage
  package/network/utils/ethtool/Makefile
  package/network/utils/ethtool/patches/0001-ethtool-make-building-for-RSS-input-xfrm-optional.patch
Labels: core packages, release/24.10
