Repository openwrt/openwrt, pull requests merged in 2025-05, with the labels that each got.

#18653 generic: add more missing Kconfig symbols for 6.12 kernel
  target/linux/generic/config-6.12
Labels: kernel

#18648 toolchain: glibc: Update glibc 2.38 to recent HEAD
  toolchain/glibc/common.mk
  toolchain/glibc/patches/200-add-dl-search-paths.patch
Labels: toolchain

#18658 qualcommax: ipq50xx: glinet_gl b3000: fix kernel alignment
  target/linux/qualcommax/image/ipq50xx.mk
Labels: target/qualcommax

#18671 realtek: fix RTL8214FC probing on RTL839x
  target/linux/realtek/files-6.6/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#18679 mold: update to 2.38.1
  tools/mold/Makefile
Labels: build/scripts/tools

#18682 make_ext4fs: Update to version 2025-05-02
  tools/make-ext4fs/Makefile
Labels: build/scripts/tools

#18646 toolchain: gcc: adjust configuration
  toolchain/gcc/common.mk
  toolchain/gcc/final/Makefile
  toolchain/gcc/initial/Makefile
  toolchain/gcc/minimal/Makefile
Labels: toolchain

#18675 ramips: i2s: various cleanups
  target/linux/ramips/patches-6.6/835-asoc-add-mt7620-support.patch
Labels: target/ramips

#18655 tools: libtool: update to 2.5.4
  tools/libtool/Makefile
  tools/libtool/patches/000-relocatable.patch
  tools/libtool/patches/100-libdir-fixes.patch
  tools/libtool/patches/110-dont-use-target-dir-for-relinking.patch
  tools/libtool/patches/120-strip-unsafe-dirs-for-relinking.patch
  tools/libtool/patches/130-trailingslash.patch
  tools/libtool/patches/140-don-t-quote-SHELL-in-Makefile.am.patch
  tools/libtool/patches/200-openwrt-branding.patch
Labels: build/scripts/tools

#18698 libiconv-full: drop patch-libtool and update to 1.18
  package/libs/libiconv-full/Makefile
Labels: core packages

#18695 kernel: bump 6.12 to 6.12.26
  target/linux/generic/backport-6.12/753-v6.15-net-ethernet-mediatek-add-EEE-support.patch
  target/linux/generic/backport-6.12/901-v6.13-net-dsa-mv88e6xxx-Support-LED-control.patch
  target/linux/generic/hack-6.12/204-module_strip.patch
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.12/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.12/732-00-net-ethernet-mtk_eth_soc-compile-out-netsys-v2-code-.patch
  target/linux/generic/pending-6.12/732-01-net-ethernet-mtk_eth_soc-work-around-issue-with-send.patch
  target/linux/generic/pending-6.12/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
Labels: kernel

#18629 imx: coretexa53: add network config for single-port Gateworks Venice …
  target/linux/imx/cortexa53/base-files/etc/board.d/02_network
Labels: target/imx

#18582 [23.05] tools/ninja: fix build with python 3.13+
  tools/ninja/patches/010-fix-python-no-pipes.patch
Labels: build/scripts/tools, release/23.05

#18721 generic: fix MIPS -mno-long-calls patchset for 6.12 kernel
  target/linux/generic/hack-6.12/301-01-mm-permit-to-declare-custom-execmem-alloc-free-funct.patch
  target/linux/generic/hack-6.12/301-01-module-permit-to-declare-custom-module-alloc-free-fu.patch
  target/linux/generic/hack-6.12/301-02-mips-replace-mlong-calls-with-mno-long-calls-if-poss.patch
Labels: kernel

#18622 bcm27xx: add support for raspberry pi 5 cm
  target/linux/bcm27xx/base-files/etc/board.d/02_network
  target/linux/bcm27xx/base-files/lib/preinit/05_set_preinit_iface_brcm2708
  target/linux/bcm27xx/image/Makefile
Labels: target/bcm27xx

#18717 iw: fix WiFi 6 (HE) Scan on big endian platforms
  package/network/utils/iw/Makefile
  package/network/utils/iw/patches/101-iw-fix-HE-capabilities-on-Big-Endian-platforms.patch
  package/network/utils/iw/patches/102-iw-fix-HE-operation-on-Big-Endian-platforms.patch
Labels: core packages

#18719 mac80211: rt2x00: use remove_new
  package/kernel/mac80211/patches/rt2x00/997-rt2x00-change-remove-to-remove_new.patch
Labels: core packages

#18711 ramips: update drivers to be compatible with kernel 6.12
  target/linux/ramips/files/drivers/net/ethernet/ralink/esw_rt3050.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/ethtool.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/gsw_mt7620.c
  target/linux/ramips/files/drivers/net/ethernet/ralink/mt7530.c
Labels: kernel, target/ramips

#18656 qualcommax: ipq50xx: gl-b3000: add board.d script: 03_set_oem_name
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/03_set_oem_name
Labels: target/qualcommax

#18728 kernel: bump 6.12 to 6.12.27
  target/linux/generic/kernel-6.12
Labels: kernel

#18731 ath10k-ct: update to latest version 6.14 from 2025-04-30
  package/kernel/ath10k-ct/Makefile
  package/kernel/ath10k-ct/patches/001-patch-version.patch
  package/kernel/ath10k-ct/patches/002-ath10k-6.10-remove-unsupported-feature.patch
  package/kernel/ath10k-ct/patches/202-ath10k-use-tpt-trigger-by-default.patch
  package/kernel/ath10k-ct/patches/205-ath10k-ct-silence-warning-caused-by-unsupported-retr.patch
  package/kernel/ath10k-ct/patches/988-ath10k-always-use-mac80211-loss-detection.patch
Labels: core packages

#18733 realtek: rtl838x: fix broadcast flooding with many multicast entries
  target/linux/realtek/files-6.6/drivers/net/dsa/rtl83xx/rtl838x.c
Labels: target/realtek

#18571 [24.10] kernel: modules: add HiNIC support
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages, release/24.10

#18483 [24.10] kernel: netdevices: add driver for Broadcom NetXtreme-C/E
  package/kernel/linux/modules/netdevices.mk
Labels: kernel, core packages, release/24.10

#18550 [24.10] ramips: Add support for Xiaomi MiWiFi 3A
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7628an_xiaomi_miwifi-3a.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/etc/init.d/bootcount
Labels: core packages, target/ramips, release/24.10

#18710 [23.05]: kernel: Update to version 5.15.181
  include/kernel-5.15
  target/linux/bcm27xx/patches-5.15/950-0459-media-i2c-ov7251-Add-fwnode-properties-controls.patch
  target/linux/bcm27xx/patches-5.15/950-0605-xhci-refactor-out-TRBS_PER_SEGMENT-define-in-runtime.patch
  target/linux/bcm27xx/patches-5.15/950-0612-media-i2c-ov7251-Make-the-enable-GPIO-optional.patch
  target/linux/bcm27xx/patches-5.15/950-0688-drm-panel-Add-and-initialise-an-orientation-field-to.patch
  target/linux/bcm27xx/patches-5.15/950-0717-usb-xhci-add-a-quirk-for-Superspeed-bulk-OUT-transfe.patch
  target/linux/bcm27xx/patches-5.15/950-0719-media-i2c-Add-acpi-support-to-ov7251.patch
  target/linux/bcm27xx/patches-5.15/950-0720-media-i2c-Provide-ov7251_check_hwcfg.patch
  target/linux/bcm27xx/patches-5.15/950-0721-media-i2c-Add-ov7251_pll_configure.patch
  target/linux/bcm27xx/patches-5.15/950-0722-media-i2c-Add-support-for-19.2MHz-clock-to-ov7251.patch
  target/linux/bcm27xx/patches-5.15/950-0723-media-i2c-Add-ov7251_detect_chip.patch
  target/linux/bcm27xx/patches-5.15/950-0724-media-i2c-Add-pm_runtime-support-to-ov7251.patch
  target/linux/bcm27xx/patches-5.15/950-0725-media-i2c-Remove-.s_power-from-ov7251.patch
  target/linux/bcm27xx/patches-5.15/950-0726-media-i2c-ov7251-Reinstate-setting-ov7251_global_ini.patch
  target/linux/bcm27xx/patches-5.15/950-0727-media-i2c-ov7251-V4L2_CID_PIXEL_RATE-is-fixed.patch
  target/linux/bcm27xx/patches-5.15/950-0728-media-i2c-ov7251-V4L2_CID_LINK_FREQUENCY-is-fixed.patch
  target/linux/bcm27xx/patches-5.15/950-0729-media-i2c-ov7251-Initialise-current_mode-during-prob.patch
  target/linux/bcm27xx/patches-5.15/950-0730-media-i2c-ov7251-Add-V4L2_CID_HBLANK-control.patch
  target/linux/bcm27xx/patches-5.15/950-0731-media-i2c-ov7251-Do-not-reset-gain-on-mode-change.patch
  target/linux/bcm27xx/patches-5.15/950-0732-media-i2c-ov7251-Fix-link_freq-validation-loop.patch
  target/linux/bcm27xx/patches-5.15/950-0733-media-i2c-ov7251-Add-get_selection-for-NATIVE_SIZE-C.patch
  target/linux/bcm27xx/patches-5.15/950-0734-media-i2c-ov7251-Set-VTS-instead-of-having-full-tabl.patch
  target/linux/bcm27xx/patches-5.15/950-0735-media-i2c-ov7251-Limit-exposure-based-on-VTS.patch
  target/linux/bcm27xx/patches-5.15/950-0736-media-i2c-ov7251-Separate-modes-from-frame-intervals.patch
  target/linux/bcm27xx/patches-5.15/950-0737-media-i2c-ov7251-Add-V4L2_CID_VBLANK.patch
  target/linux/bcm27xx/patches-5.15/950-0738-media-i2c-ov7251-Switch-from-V4L2_CID_GAIN-to-V4L2_C.patch
  target/linux/bcm27xx/patches-5.15/950-0747-usb-xhci-rework-XHCI_VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/generic/backport-5.15/703-00-v5.16-net-convert-users-of-bitmap_foo-to-linkmode_foo.patch
  target/linux/generic/backport-5.15/743-v5.16-0001-net-dsa-b53-Include-all-ports-in-enabled_ports.patch
  target/linux/generic/backport-5.15/743-v5.16-0002-net-dsa-b53-Drop-BCM5301x-workaround-for-a-wrong-CPU.patch
  target/linux/generic/backport-5.15/743-v5.16-0003-net-dsa-b53-Improve-flow-control-setup-on-BCM5301x.patch
  target/linux/generic/backport-5.15/743-v5.16-0004-net-dsa-b53-Drop-unused-cpu_port-field.patch
  target/linux/generic/hack-5.15/204-module_strip.patch
  target/linux/generic/hack-5.15/253-ksmbd-config.patch
  target/linux/generic/hack-5.15/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-5.15/780-usb-net-MeigLink_modem_support.patch
  target/linux/generic/hack-5.15/901-debloat_sock_diag.patch
  target/linux/generic/hack-5.15/902-debloat_proc.patch
  target/linux/generic/pending-5.15/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-5.15/680-NET-skip-GRO-for-foreign-MAC-addresses.patch
  target/linux/generic/pending-5.15/760-net-core-add-optional-threading-for-backlog-processi.patch
  target/linux/generic/pending-5.15/768-net-dsa-mv88e6xxx-Request-assisted-learning-on-CPU-port.patch
  target/linux/generic/pending-5.15/772-net-dsa-b53-add-support-for-BCM63xx-RGMIIs.patch
  target/linux/generic/pending-5.15/774-net-dsa-b53-mmap-allow-passing-a-chip-ID.patch
  target/linux/generic/pending-5.15/775-net-dsa-b53-add-BCM63268-RGMII-configuration.patch
  target/linux/generic/pending-5.15/777-net-dsa-b53-mdio-add-support-for-BCM53134.patch
  target/linux/mediatek/patches-5.15/804-pwm-add-mt7986-support.patch
  target/linux/mediatek/patches-5.15/811-pwm-mediatek-Add-support-for-MT7981.patch
  target/linux/mediatek/patches-5.15/850-v6.0-i2c-move-drivers-from-strlcpy-to-strscpy.patch
  target/linux/ramips/patches-5.15/106-v5.17-PCI-Let-pcibios_root_bridge_prepare-access-bridge-wi.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/mediatek, release/23.05

#18705 mac80211: ath11k: fix broadcast failures during GTK rekeying
  package/kernel/mac80211/patches/ath11k/940-ath11k-Revert-clear-the-keys-properly-when-DISABLE_K.patch
Labels: core packages, target/qualcommax

#17617 ath79: support Mikrotik RouterBOARD 2011-UiAS-2HnD
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-2011uias-2hnd.dts
  target/linux/ath79/image/mikrotik.mk
  target/linux/ath79/mikrotik/base-files/etc/board.d/01_leds
  target/linux/ath79/mikrotik/base-files/etc/board.d/02_network
  target/linux/ath79/mikrotik/base-files/etc/board.d/03_gpio_switches
  target/linux/ath79/mikrotik/base-files/etc/board.d/05_compat-version
  target/linux/ath79/mikrotik/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/mikrotik/base-files/lib/upgrade/platform.sh
Labels: kernel, target/ath79

#18601 [24.10] mediatek: add support for Routerich AX3000 v1
  package/boot/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-routerich-ax3000-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/24.10

#18694 mediatek: filogic: increase spi flash memory speed on ZyXEL EX5601
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
Labels: target/mediatek

#18748 imagebuilder: exclude metadata for profiles that are not built by default
  scripts/target-metadata.pl
Labels: build/scripts/tools

#18765 [24.10] imagebuilder: exclude metadata for profiles that have no kernel
  scripts/target-metadata.pl
Labels: build/scripts/tools, release/24.10

#18767 tools/llvm-bpf: fix compilation with GCC15
  tools/llvm-bpf/patches/100-gcc15.patch
Labels: build/scripts/tools

#18709 cmake: use RelWithDebInfo, not Debug, with CONFIG_DEBUG
  include/cmake.mk
Labels: build/scripts/tools

#18763 linux: remove of_match_ptr from OF only drivers
  target/linux/ath79/files/drivers/mfd/rb4xx-cpld.c
  target/linux/ath79/patches-6.6/311-MIPS-pci-ar71xx-convert-to-OF.patch
  target/linux/ath79/patches-6.6/313-MIPS-pci-ar724x-convert-to-OF.patch
  target/linux/bmips/files/drivers/net/ethernet/broadcom/bcm6348-enet.c
  target/linux/bmips/files/drivers/net/ethernet/broadcom/bcm6368-enetsw.c
  target/linux/lantiq/patches-6.6/0035-owrt-lantiq-wifi-and-ethernet-eeprom-handling.patch
Labels: kernel, target/lantiq, target/ramips, target/ath79, target/bmips

#18741 iw: backport WiFi 7 (EHT) scan support
  package/network/utils/iw/Makefile
  package/network/utils/iw/patches/103-iw-scan-add-enum-for-element-IDs.patch
  package/network/utils/iw/patches/104-iw-scan-replace-passed-ie-buffer-with-ie-context.patch
  package/network/utils/iw/patches/105-iw-util-update-and-clean-up-eht-capa-printing.patch
  package/network/utils/iw/patches/106-iw-scan-add-eht-capability-parsing.patch
  package/network/utils/iw/patches/107-iw-fix-EHT-capabilities-on-Big-Endian-platforms.patch
  package/network/utils/iw/patches/108-iw-scan-Add-printing-of-EHT-Operation-Element.patch
  package/network/utils/iw/patches/200-reduce_size.patch
Labels: core packages

#18685 kernel: add missing Kconfig symbols
  target/linux/generic/config-6.12
  target/linux/rockchip/armv8/config-6.6
Labels: kernel, core packages, target/rockchip

#18647 toolchain: gcc: fix build error with glibc for aarch64 targets
  toolchain/gcc/patches-14.x/830-aarch64-libatomic.patch
Labels: toolchain

#18779 qualcommbe: ipq95xx: fix ipq-uniphy crash on IPQ9554
  target/linux/qualcommbe/patches-6.6/200-06-net-pcs-ipq-uniphy-fix-NULL-pointer-dereference-in-p.patch
Labels: target/qualcommbe

#18756 kernel: bump 6.12 to 6.12.28
  target/linux/generic/backport-6.12/753-v6.15-net-ethernet-mediatek-add-EEE-support.patch
  target/linux/generic/hack-6.12/204-module_strip.patch
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.12/781-usb-net-rndis-support-asr.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/691-net-ipv6-fix-UDPv6-GSO-segmentation-with-NAT.patch
  target/linux/generic/pending-6.12/732-01-net-ethernet-mtk_eth_soc-work-around-issue-with-send.patch
  target/linux/generic/pending-6.12/733-01-net-ethernet-mtk_eth_soc-use-napi_build_skb.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
Labels: kernel

#18775 kernel: bump 6.6 to 6.6.90
  target/linux/bcm27xx/patches-6.6/950-0161-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-6.6/950-0163-usb-xhci-drop-and-add-the-endpoint-context-in-xhci_f.patch
  target/linux/bcm27xx/patches-6.6/950-0481-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-1021-module-Avoid-ABI-changes-when-debug-info-is-disabled.patch
  target/linux/bcm27xx/patches-6.6/950-1377-drivers-usb-xhci-set-HID-bit-in-streaming-endpoint-c.patch
  target/linux/bcm53xx/patches-6.6/180-usb-xhci-add-support-for-performing-fake-doorbell.patch
  target/linux/generic/backport-6.6/611-01-v6.11-udp-Allow-GSO-transmit-from-devices-with-no-checksum.patch
  target/linux/generic/backport-6.6/611-03-v6.11-udp-Fall-back-to-software-USO-if-IPv6-extension-head.patch
  target/linux/generic/backport-6.6/621-v6.10-01-net-move-skb_gro_receive_list-from-udp-to-core.patch
  target/linux/generic/backport-6.6/751-01-v6.8-net-ethernet-mediatek-split-tx-and-rx-fields-in-mtk_.patch
  target/linux/generic/backport-6.6/751-02-v6.8-net-ethernet-mediatek-use-QDMA-instead-of-ADMAv2-on-.patch
  target/linux/generic/backport-6.6/752-25-v6.10-net-ethernet-mtk_eth_soc-handle-dma-buffer-size-soc-.patch
  target/linux/generic/backport-6.6/752-26-v6.10-net-ethernet-mtk_eth_soc-ppe-add-support-for-multipl.patch
  target/linux/generic/backport-6.6/752-28-v6.10-net-ethernet-mediatek-Allow-gaps-in-MAC-allocation.patch
  target/linux/generic/backport-6.6/752-30-v6.10-net-ethernet-mtk_eth_soc-implement-.-get-set-_pausep.patch
  target/linux/generic/backport-6.6/753-v6.15-net-ethernet-mediatek-add-EEE-support.patch
  target/linux/generic/hack-6.6/204-module_strip.patch
  target/linux/generic/hack-6.6/721-net-add-packet-mangeling.patch
  target/linux/generic/hack-6.6/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.6/781-usb-net-rndis-support-asr.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/655-increase_skb_pad.patch
  target/linux/generic/pending-6.6/691-net-ipv6-fix-UDPv6-GSO-segmentation-with-NAT.patch
  target/linux/generic/pending-6.6/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.6/730-net-ethernet-mtk_eth_soc-reset-all-TX-queues-on-DMA-.patch
  target/linux/generic/pending-6.6/734-net-ethernet-mediatek-enlarge-DMA-reserve-buffer.patch
  target/linux/generic/pending-6.6/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.6/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.6/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/imx/patches-6.6/600-PCI-imx6-Start-link-at-max-gen-first-for-IMX8MM-and-IMX8MP.patch
  target/linux/ipq40xx/patches-6.6/701-net-dsa-add-out-of-band-tagging-protocol.patch
  target/linux/mpc85xx/patches-6.6/010-powerpc-add-compressed-zImage-for-mpc85xx.patch
  target/linux/mpc85xx/patches-6.6/100-powerpc-85xx-tl-wdr4900-v1-support.patch
  target/linux/mpc85xx/patches-6.6/101-powerpc-85xx-hiveap-330-support.patch
  target/linux/mpc85xx/patches-6.6/106-powerpc-85xx-ws-ap3710i-support.patch
  target/linux/mpc85xx/patches-6.6/107-powerpc-85xx-add-ws-ap3825i-support.patch
  target/linux/mpc85xx/patches-6.6/110-powerpc-85xx-br200-wp-support.patch
  target/linux/ramips/patches-6.6/870-Input-sx951x-add-Semtech-SX9512-SX9513-driver.patch
  target/linux/starfive/patches-6.6/0109-usb-xhci-To-improve-performance-usb-using-lowmem-for.patch
  target/linux/starfive/patches-6.6/0110-usb-xhci-using-dma_alloc_noncoherent-to-alloc-low-me.patch
Labels: target/bcm53xx, target/bcm27xx, kernel, target/mpc85xx, target/ramips, target/imx, target/ipq40xx, target/starfive

#18782 realtek: phy: remove unneeded usage of genphy_loopback()
  target/linux/realtek/files-6.6/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#18781 ramips: mt7621: relocate kernel for ELECOM WRC-X1800GS
  target/linux/ramips/image/mt7621.mk
Labels: target/ramips

#18701 kernel: mtk_bmt: counteracting calloc-transposed-args compiler warning
  target/linux/generic/files/drivers/mtd/nand/mtk_bmt_v2.c
Labels: kernel

#18797 toolchain: gcc: backport patch to fix ICE with PowerPC targets
  toolchain/gcc/patches-14.x/021-Reuse-scratch-registers-generated-by-LRA.patch
Labels: toolchain

#18802 bmips: add missing NAND config symbol
  target/linux/bmips/bcm6328/config-6.6
  target/linux/bmips/bcm6362/config-6.6
  target/linux/bmips/bcm6368/config-6.6
Labels: kernel, target/bmips

#18764 mac80211: ath9k: remove platform data
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
  package/kernel/mac80211/patches/ath9k/552-ath9k-ahb_of.patch
  package/kernel/mac80211/patches/ath9k/553-ath9k_of_gpio_mask.patch
Labels: core packages

#18769 realtek: fix flooding of unsnoopable multicast addresses
  target/linux/realtek/files-6.6/drivers/net/dsa/rtl83xx/dsa.c
Labels: target/realtek

#18754 [24.10] mac80211: ath11k: fix broadcast failures during GTK rekeying
  package/kernel/mac80211/patches/ath11k/940-ath11k-Revert-clear-the-keys-properly-when-DISABLE_K.patch
Labels: core packages, release/24.10

#18793 [23.05] mbedtls: update to 2.28.10
  package/libs/mbedtls/Makefile
Labels: core packages, release/23.05

#18803 ethtool: update to 6.14
  package/network/utils/ethtool/Makefile
  package/network/utils/ethtool/patches/0001-ethtool-make-building-for-RSS-input-xfrm-optional.patch
Labels: core packages

#18814 image: respect DEFAULT:=n when Default profile is selected
  include/image.mk
Labels: build/scripts/tools

#18791 [23.05] generic: drop extra-old-deprecated pending fix patch for sch codel
  target/linux/generic/hack-5.15/660-fq_codel_defaults.patch
  target/linux/generic/pending-5.15/620-net_sched-codel-do-not-defer-queue-length-update.patch
Labels: kernel, release/23.05

#18821 tools: m4: update to 1.4.20
  tools/m4/Makefile
Labels: build/scripts/tools

#18637 kernel: various kernel module build fixes for the upcoming 6.12 kernel
  target/linux/generic/pending-6.12/811-pci_disable_usb_common_quirks.patch
Labels: kernel, core packages

#18822 [24.10] generic: crypto: fix jitterentropy initialization failed issue
  target/linux/generic/backport-6.6/906-01-v6.7-crypto-jitter-add-RCTAPT-support-for-different-OSRs.patch
  target/linux/generic/backport-6.6/906-02-v6.7-crypto-jitter-Allow-configuration-of-memory-size.patch
  target/linux/generic/backport-6.6/906-03-v6.7-crypto-jitter-Allow-configuration-of-oversampling-rate.patch
  target/linux/generic/backport-6.6/906-04-v6.7-crypto-jitter-reuse-allocated-entropy-collector.patch
  target/linux/generic/backport-6.6/906-05-v6.7-crypto-jitter-use-permanent-health-test-storage.patch
  target/linux/generic/backport-6.6/906-06-v6.7-crypto-jitterentropy-Hide-esoteric-Kconfig-options-under.patch
  target/linux/generic/backport-6.6/906-07-v6.10-crypto-jitter-Use-kvfree_sensitive-to-fix-Coccinelle.patch
  target/linux/generic/backport-6.6/906-08-v6.12-crypto-jitter-set-default-OSR-to-3.patch
Labels: kernel, release/24.10

#18832 generic: refresh patches
  target/linux/generic/backport-6.6/806-03-v6.12-xhci-pci-Make-xhci-pci-renesas-a-proper-modular-driver.patch
Labels: kernel

#15804 openssl: Update to 3.5
  package/libs/openssl/Makefile
  package/libs/openssl/patches/100-Configure-afalg-support.patch
  package/libs/openssl/patches/120-strip-cflags-from-binary.patch
  package/libs/openssl/patches/140-allow-prefer-chacha20.patch
  package/libs/openssl/patches/500-e_devcrypto-default-to-not-use-digests-in-engine.patch
  package/libs/openssl/patches/510-e_devcrypto-ignore-error-when-closing-session.patch
Labels: core packages

#18834 qualcommax: TP-Link EAP620HD fix factory data mount script
  target/linux/qualcommax/ipq807x/base-files/lib/preinit/09_mount_factory_data
Labels: target/qualcommax

#18771 kernel: modules: define fb-io-fops module
  package/kernel/linux/modules/video.mk
Labels: target/at91, target/bcm27xx, kernel, target/layerscape, core packages, target/x86, target/archs38, target/zynq, target/mediatek, target/gemini, target/tegra, target/loongarch64

#18850 toolchain: glibc: set min kernel version to 6.6
  toolchain/glibc/common.mk
Labels: toolchain

#18827 ramips: mt7621: fix broken hexdump expression in iodata.sh
  target/linux/ramips/mt7621/base-files/lib/upgrade/iodata.sh
Labels: target/ramips

#18863 toolchain: glibc: Update glibc 2.38 to recent HEAD [CVE-2025-4802]
  toolchain/glibc/common.mk
Labels: toolchain

#18837 kernel: bump 6.12 to 6.12.29
  target/linux/generic/backport-6.12/753-v6.15-net-ethernet-mediatek-add-EEE-support.patch
  target/linux/generic/hack-6.12/253-ksmbd-config.patch
  target/linux/generic/hack-6.12/730-net-ethernet-mtk_eth_soc-add-hw-dump-for-forced-rese.patch
  target/linux/generic/hack-6.12/902-debloat_proc.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/203-kallsyms_uncompressed.patch
  target/linux/generic/pending-6.12/702-net-ethernet-mtk_eth_soc-enable-threaded-NAPI.patch
  target/linux/generic/pending-6.12/730-net-ethernet-mtk_eth_soc-reset-all-TX-queues-on-DMA-.patch
  target/linux/generic/pending-6.12/737-net-ethernet-mtk_eth_soc-add-paths-and-SerDes-modes-.patch
  target/linux/generic/pending-6.12/738-01-net-ethernet-mtk_eth_soc-reduce-rx-ring-size-for-older.patch
  target/linux/generic/pending-6.12/738-02-net-ethernet-mtk_eth_soc-do-not-enable-page-pool-sta.patch
  target/linux/generic/pending-6.12/920-mangle_bootargs.patch
  target/linux/x86/config-6.12
Labels: kernel, target/x86

#18855 realtek: refactor interrupt handler rtl83xx_net_irq()
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

#18866 bcm27xx: switch to upstream SDHOST driver
  target/linux/bcm27xx/bcm2708/config-6.12
  target/linux/bcm27xx/bcm2708/config-6.6
  target/linux/bcm27xx/bcm2709/config-6.12
  target/linux/bcm27xx/bcm2709/config-6.6
  target/linux/bcm27xx/bcm2710/config-6.12
  target/linux/bcm27xx/bcm2710/config-6.6
  target/linux/bcm27xx/bcm2711/config-6.12
  target/linux/bcm27xx/bcm2711/config-6.6
  target/linux/bcm27xx/bcm2712/config-6.12
  target/linux/bcm27xx/bcm2712/config-6.6
Labels: target/bcm27xx, kernel

#18865 mold: update to 2.39.1
  tools/mold/Makefile
Labels: build/scripts/tools

#18867 [24.10] bcm27xx: switch to upstream SDHOST driver
  target/linux/bcm27xx/bcm2708/config-6.6
  target/linux/bcm27xx/bcm2709/config-6.6
  target/linux/bcm27xx/bcm2710/config-6.6
  target/linux/bcm27xx/bcm2711/config-6.6
  target/linux/bcm27xx/bcm2712/config-6.6
Labels: target/bcm27xx, kernel, release/24.10

#18707 realtek: harmonize power functions for RTL8214FC
  target/linux/realtek/files-6.6/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#18860 ath79: remove platform_device_id from drivers
  target/linux/ath79/files/drivers/gpio/gpio-rb4xx.c
  target/linux/ath79/files/drivers/mtd/nand/raw/nand_rb4xx.c
Labels: kernel, target/ath79

#18836 ramips: fix wrg-header image recipe
  target/linux/ramips/image/Makefile
Labels: target/ramips

#18862 boot: uboot-armsr: update to U-Boot 2025.04
  package/boot/uboot-armsr/Makefile
  package/boot/uboot-armsr/patches/001-v2023.07-bootstd-Use-blk-uclass-device-numbers-to-set-efi-bootdev.patch
Labels: core packages

#18858 tools/quilt: update to 0.69
  tools/quilt/Makefile
  tools/quilt/patches/001-fix_compile.patch
Labels: build/scripts/tools

#17813 uboot-mvebu: update to version 2025.04
  package/boot/uboot-mvebu/Makefile
  package/boot/uboot-mvebu/patches/102-arm-mvebu-add-support-for-MikroTik-RB5009UG-S-IN.patch
Labels: target/mvebu, core packages

#18877 kernel: bump 6.12 to 6.12.30
  target/linux/bcm27xx/patches-6.12/950-0073-ASoC-Add-support-for-all-the-downstream-rpi-sound-ca.patch
  target/linux/bcm27xx/patches-6.12/950-0308-gpio-pca953x-Add-ti-tca9554-compatible-string.patch
  target/linux/bcm27xx/patches-6.12/950-0347-net-macb-Also-set-DMA-coherent-mask.patch
  target/linux/bcm27xx/patches-6.12/950-0565-net-macb-Add-support-for-Raspberry-Pi-RP1-ethernet-c.patch
  target/linux/bcm27xx/patches-6.12/950-0685-nvme-pci-Disable-Host-Memory-Buffer-usage.patch
  target/linux/generic/kernel-6.12
Labels: target/bcm27xx, kernel

#18872 [23.05] ca-certificates: Update to 20241223
  package/system/ca-certificates/Makefile
Labels: core packages, release/23.05

#18833 uboot-bcm4908: fix build with GCC14
  include/u-boot.mk
  package/boot/uboot-bcm4908/Makefile
Labels: build/scripts/tools, core packages, target/bcm4908

#18859 tools/elftosb: fix compilation with C++17
  tools/elftosb/patches/010-no-register.patch
Labels: build/scripts/tools

#18880 tools: add cmake dependency to bzip2
  tools/Makefile
Labels: build/scripts/tools

#18864 realtek: fix MAC_FORCE_MODE_CTRL register for RTL931x
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

#18890 mac80211: brcm: update RPi brcmfmac patches
  package/kernel/mac80211/Makefile
  package/kernel/mac80211/patches/brcm/860-brcmfmac-workaround-bug-with-some-inconsistent-BSSes.patch
  package/kernel/mac80211/patches/brcm/861-brcmfmac-add-in-driver-tables-with-country-codes.patch
  package/kernel/mac80211/patches/brcm/862-brcmfmac-Disable-power-management.patch
  package/kernel/mac80211/patches/brcm/864-brcmfmac-do-not-use-internal-roaming-engine-by-default.patch
  package/kernel/mac80211/patches/brcm/870-01-rpi-6.12-brcmfmac-adds-support-for-BCM43341-wifi.patch
  package/kernel/mac80211/patches/brcm/870-02-rpi-6.12-brcmfmac-Prefer-a-ccode-from-OTP-over-nvram-file.patch
  package/kernel/mac80211/patches/brcm/870-03-rpi-6.12-brcmfmac-Increase-power-saving-delay-to-2s.patch
  package/kernel/mac80211/patches/brcm/870-04-rpi-6.12-brcmfmac-non-upstream-support-DS1-exit-firmware-re-download.patch
  package/kernel/mac80211/patches/brcm/870-05-rpi-6.12-brcmfmac-Fix-interoperating-DPP-and-other-encryption.patch
  package/kernel/mac80211/patches/brcm/870-06-rpi-6.12-brcmfmac-Include-modinfo-for-43456-CLM-blob.patch
  package/kernel/mac80211/patches/brcm/871-brcmfmac-disable-dump_survey-on-bcm2835.patch
Labels: core packages, release/24.10

#18881 tools/mold: remove static only dependencies
  tools/mold/Makefile
Labels: build/scripts/tools

#18885 [23.05] tools: add cmake dependency to bzip2
  tools/Makefile
Labels: build/scripts/tools, release/23.05

#18891 toolchain: gcc: update GCC14 to 14.3
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-14.x/010-documentation.patch
  toolchain/gcc/patches-14.x/020-MIPS-Include-missing-mips16.S-in-libgcc-lib1funcs.S.patch
  toolchain/gcc/patches-14.x/021-Reuse-scratch-registers-generated-by-LRA.patch
  toolchain/gcc/patches-14.x/230-musl_libssp.patch
  toolchain/gcc/patches-14.x/820-libgcc_pic.patch
  toolchain/gcc/patches-14.x/830-aarch64-libatomic.patch
  toolchain/gcc/patches-14.x/920-specs_nonfatal_getenv.patch
Labels: toolchain

#18853 [pre-6.12] realtek: take over boot command line patch into driver
  target/linux/realtek/files-6.6/arch/mips/rtl838x/prom.c
  target/linux/realtek/patches-6.6/320-harden-fw_init_cmdline.patch
Labels: target/realtek

#18819 adb: Switch to mbedtls
  package/utils/adb/Makefile
  package/utils/adb/patches/001-create_Makefile.patch
  package/utils/adb/patches/010-mbedtls.patch
  package/utils/adb/patches/010-openssl-1.1.patch
Labels: core packages

#18805 mac80211: ath9k: replace qca,led-sources
  package/kernel/mac80211/patches/ath9k/550-ath9k-of.patch
  target/linux/ath79/dts/ar9344_mikrotik_routerboard-951ui-2hnd.dts
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
Labels: kernel, target/mpc85xx, core packages, target/ath79

#18700 mediatek: filogic: add support for SNR-CPE-AX2
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/463-add-snr-snr-cpe-ax2.patch
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7981b-snr-snr-cpe-ax2.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#18847 [pre-6.12] realtek: refactor RTL838x mdio serdes read/write functions
  target/linux/realtek/files-6.6/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.6/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#18931 generic: 6.12: backport upstream v6.16 brcmnand patches
  target/linux/generic/backport-6.12/420-01-v6.16-mtd-rawnand-brcmnand-remove-unused-parameters.patch
  target/linux/generic/backport-6.12/420-02-v6.16-mtd-nand-brcmnand-fix-NAND-timeout-when-accessing-eM.patch
  target/linux/generic/backport-6.12/420-03-v6.16-mtd-rawnand-brcmnand-legacy-exec_op-implementation.patch
Labels: kernel

#18941 generic: backport secs_to_jiffies
  target/linux/generic/backport-6.12/330-v6.13-jiffies-Define-secs_to_jiffies.patch
  target/linux/generic/backport-6.12/331-v6.14-jiffies-Cast-to-unsigned-long-in-secs_to_jiffies-con.patch
  target/linux/generic/backport-6.6/330-v6.13-jiffies-Define-secs_to_jiffies.patch
  target/linux/generic/backport-6.6/331-v6.14-jiffies-Cast-to-unsigned-long-in-secs_to_jiffies-con.patch
Labels: kernel

#18732 sunxi: add support for Beelink X2
  package/boot/uboot-sunxi/Makefile
  target/linux/sunxi/image/cortexa7.mk
Labels: core packages, target/sunxi

#13780 base-files: use cidr for config_generate
  package/base-files/files/bin/config_generate
Labels: core packages

#18953 kernel: bump 6.12 to 6.12.31
  target/linux/ath79/patches-6.12/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.12/950-0016-drm-atomic-helpers-remove-legacy_cursor_update-hacks.patch
  target/linux/bcm27xx/patches-6.12/950-0057-MMC-added-alternative-MMC-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0103-media-adv7180-Default-to-the-first-valid-input.patch
  target/linux/bcm27xx/patches-6.12/950-0104-media-adv7180-Add-YPrPb-support-for-ADV7282M.patch
  target/linux/bcm27xx/patches-6.12/950-0130-drm-v3d-Clock-V3D-down-when-not-in-use.patch
  target/linux/bcm27xx/patches-6.12/950-0131-drm-v3d-Switch-clock-setting-to-new-api.patch
  target/linux/bcm27xx/patches-6.12/950-0154-staging-vchiq_arm-Register-vcsm-cma-as-a-platform-dr.patch
  target/linux/bcm27xx/patches-6.12/950-0155-staging-vchiq_arm-Register-bcm2835-codec-as-a-platfo.patch
  target/linux/bcm27xx/patches-6.12/950-0161-staging-vchiq_arm-Set-up-dma-ranges-on-child-devices.patch
  target/linux/bcm27xx/patches-6.12/950-0163-staging-vchiq-Load-bcm2835_isp-driver-from-vchiq.patch
  target/linux/bcm27xx/patches-6.12/950-0295-media-adv7180-Nasty-hack-to-allow-input-selection.patch
  target/linux/bcm27xx/patches-6.12/950-0315-media-i2c-imx219-Correct-the-minimum-vblanking-value.patch
  target/linux/bcm27xx/patches-6.12/950-0335-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.12/950-0344-sdhci-Add-SD-Express-hook.patch
  target/linux/bcm27xx/patches-6.12/950-0396-drivers-mmc-sdhci-add-SPURIOUS_INT_RESP-quirk.patch
  target/linux/bcm27xx/patches-6.12/950-0401-xhci-Use-more-event-ring-segment-table-entries.patch
  target/linux/bcm27xx/patches-6.12/950-0409-media-i2c-adv7180-Use-MEDIA_BUS_FMT_UYVY8_1X16-for-C.patch
  target/linux/bcm27xx/patches-6.12/950-0410-media-i2c-adv7180-Add-support-for-V4L2_CID_LINK_FREQ.patch
  target/linux/bcm27xx/patches-6.12/950-0437-mmc-sdhci-extend-maximum-ADMA-transfer-length-to-4Mi.patch
  target/linux/bcm27xx/patches-6.12/950-0534-drivers-usb-xhci-set-HID-bit-in-streaming-endpoint-c.patch
  target/linux/bcm27xx/patches-6.12/950-0765-drm-gem-Create-a-drm_gem_object_init_with_mnt-functi.patch
  target/linux/bcm27xx/patches-6.12/950-0857-drm-v3d-Add-clock-handling.patch
  target/linux/bcm27xx/patches-6.12/950-0874-PCI-brcmstb-Expand-inbound-window-size-up-to-64GB.patch
  target/linux/bcm27xx/patches-6.12/950-0877-PCI-brcmstb-Adding-a-softdep-to-MIP-MSI-X-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0959-media-imx335-Support-vertical-flip.patch
  target/linux/bcm27xx/patches-6.12/950-0960-media-imx335-Set-vblank-immediately.patch
  target/linux/bcm27xx/patches-6.12/950-1003-drivers-media-i2c-imx335-Fix-frame-size-enumeration.patch
  target/linux/d1/patches-6.12/0009-ASoC-sunxi-sun4i-codec-add-basic-support-for-D1-audi.patch
  target/linux/generic/backport-6.12/410-v6.13-01-block-add-support-for-defining-read-only-partitions.patch
  target/linux/generic/backport-6.12/728-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/backport-6.12/780-01-v6.13-r8169-remove-original-workaround-for-RTL8125-broken-.patch
  target/linux/generic/backport-6.12/780-02-v6.13-r8169-enable-SG-TSO-on-selected-chip-versions-per-de.patch
  target/linux/generic/backport-6.12/780-03-v6.13-r8169-implement-additional-ethtool-stats-ops.patch
  target/linux/generic/backport-6.12/780-04-v6.13-r8169-don-t-take-RTNL-lock-in-rtl_task.patch
  target/linux/generic/backport-6.12/780-05-v6.13-replace-custom-flag-with-disable_work-et-al.patch
  target/linux/generic/backport-6.12/780-09-v6.13-r8169-add-support-for-RTL8125D.patch
  target/linux/generic/backport-6.12/780-14-v6.13-r8169-improve-initialization-of-RSS-registers-on-RTL.patch
  target/linux/generic/backport-6.12/780-15-v6.13-r8169-remove-leftover-locks-after-reverted-change.patch
  target/linux/generic/backport-6.12/780-20-v6.13-r8169-copy-vendor-driver-2.5G-5G-EEE-advertisement-c.patch
  target/linux/generic/backport-6.12/780-21-v6.14-r8169-remove-unused-flag-RTL_FLAG_TASK_RESET_NO_QUEU.patch
  target/linux/generic/backport-6.12/780-22-v6.14-r8169-remove-support-for-chip-version-11.patch
  target/linux/generic/backport-6.12/780-23-v6.14-r8169-adjust-version-numbering-for-RTL8126.patch
  target/linux/generic/backport-6.12/780-24-v6.14-r8169-add-support-for-RTL8125D-rev.b.patch
  target/linux/generic/backport-6.12/780-25-v6.14-r8169-add-support-for-RTL8125BP-rev.b.patch
  target/linux/generic/backport-6.12/780-27-v6.15-r8169-don-t-scan-PHY-addresses-0.patch
  target/linux/generic/backport-6.12/780-29-v6.15-r8169-add-PHY-c45-ops-for-MDIO_MMD_VENDOR2-registers.patch
  target/linux/generic/backport-6.12/780-30-v6.15-r8169-increase-max-jumbo-packet-size-on-RTL8125-RTL8.patch
  target/linux/generic/backport-6.12/780-31-v6.15-r8169-switch-away-from-deprecated-pcim_iomap_table.patch
  target/linux/generic/backport-6.12/780-32-v6.15-r8169-enable-RTL8168H-RTL8168EP-RTL8168FP-ASPM-suppo.patch
  target/linux/generic/backport-6.12/780-33-v6.15-r8169-disable-RTL8126-ZRX-DC-timeout.patch
  target/linux/generic/hack-6.12/610-net-page_pool-try-to-free-deferred-skbs-while-waitin.patch
  target/linux/generic/hack-6.12/902-debloat_proc.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/666-Add-support-for-MAP-E-FMRs-mesh-mode.patch
  target/linux/generic/pending-6.12/670-ipv6-allow-rejecting-with-source-address-failed-policy.patch
  target/linux/generic/pending-6.12/804-nvmem-core-support-mac-base-fixed-layout-cells.patch
  target/linux/generic/pending-6.12/809-01-nvmem-core-generalize-mac-base-cells-handling.patch
  target/linux/mediatek/patches-6.12/432-drivers-spi-Add-support-for-dynamic-calibration.patch
Labels: target/bcm27xx, kernel, target/ath79, target/mediatek, target/d1

#16146 sysupgrade: create 10_disable_services w/ fixed modified time
  package/base-files/files/sbin/sysupgrade
Labels: core packages
