Repository openwrt/openwrt, pull requests merged in 2025-03, with the labels that each got.

#18007 mediatek: filogic: migrate Zyxel NWA50AX Pro to upstream PHY LED control
  target/linux/mediatek/dts/mt7981b-zyxel-nwa50ax-pro.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#18008 mediatek: filogic: migrate Acer W6/W6d to upstream PHY LED control
  target/linux/mediatek/dts/mt7986a-acer-predator-w6.dts
  target/linux/mediatek/dts/mt7986a-acer-predator-w6d.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#18009 mediatek: filogic: migrate ASUS TUF AX6000 to upstream PHY LED control
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax6000.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#18140 kernel: bump 6.6 to 6.6.80
  include/kernel-6.6
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0025-drm-atomic-helpers-remove-legacy_cursor_update-hacks.patch
  target/linux/generic/backport-6.6/600-v6.10-net-Remove-conditional-threaded-NAPI-wakeup-based-on.patch
  target/linux/generic/backport-6.6/601-v6.10-net-Allow-to-use-SMP-threads-for-backlog-NAPI.patch
  target/linux/generic/backport-6.6/602-v6.10-net-Use-backlog-NAPI-to-clean-up-the-defer_list.patch
  target/linux/generic/backport-6.6/603-v6.10-net-Rename-rps_lock-to-backlog_lock.patch
  target/linux/generic/backport-6.6/611-02-v6.11-net-Make-USO-depend-on-CSUM-offload.patch
  target/linux/generic/backport-6.6/612-v6.9-net-get-stats64-if-device-if-driver-is-configured.patch
  target/linux/generic/backport-6.6/700-v6.10-net-create-a-dummy-net_device-allocator.patch
  target/linux/generic/backport-6.6/770-net-introduce-napi_is_scheduled-helper.patch
  target/linux/generic/backport-6.6/816-v6.7-0004-Revert-nvmem-add-new-config-option.patch
  target/linux/generic/backport-6.6/819-v6.8-0001-nvmem-Move-of_nvmem_layout_get_container-in-another-.patch
  target/linux/generic/backport-6.6/819-v6.8-0002-nvmem-Create-a-header-for-internal-sharing.patch
  target/linux/generic/backport-6.6/819-v6.8-0003-nvmem-Simplify-the-add_cells-hook.patch
  target/linux/generic/backport-6.6/819-v6.8-0004-nvmem-Move-and-rename-fixup_cell_info.patch
  target/linux/generic/backport-6.6/823-v6.12-0001-nvmem-imx-ocotp-ele-support-i.MX95.patch
  target/linux/generic/backport-6.6/900-v6.11-net-free_netdev-exit-earlier-if-dummy.patch
  target/linux/generic/hack-6.6/721-net-add-packet-mangeling.patch
  target/linux/generic/pending-6.6/680-net-add-TCP-fraglist-GRO-support.patch
  target/linux/ipq40xx/patches-6.6/004-v6.7-firmware-qcom_scm-disable-SDI-if-required.patch
  target/linux/ipq40xx/patches-6.6/910-Revert-firmware-qcom_scm-Clear-download-bit-during-r.patch
  target/linux/qualcommax/patches-6.6/0067-v6.7-firmware-qcom-scm-disable-SDI-if-required.patch
  target/linux/ramips/patches-6.6/810-uvc-add-iPassion-iP2970-support.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ramips, target/ipq40xx, target/ath79, target/qualcommax

#17958 qualcommax: ipq50xx: Add support for Linksys MR5500
  package/boot/uboot-envtools/files/qualcommax_ipq50xx
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq5018-mr5500.dts
  target/linux/qualcommax/image/ipq50xx.mk
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/01_leds
  target/linux/qualcommax/ipq50xx/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq50xx/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq50xx/base-files/etc/init.d/bootcount
  target/linux/qualcommax/ipq50xx/base-files/lib/upgrade/platform.sh
  target/linux/qualcommax/ipq50xx/config-default
Labels: kernel, core packages, target/qualcommax

#18003 Extend use of shallow clone for feeds update
  scripts/feeds
Labels: build/scripts/tools

#18168 [23.05] scripts/feeds: backport shallow clone fixes
  scripts/feeds
Labels: build/scripts/tools, release/23.05

#18158 libpcap: backport support for various DSA tags
  package/libs/libpcap/Makefile
  package/libs/libpcap/patches/001-Add-support-for-Realtek-Ethertype-DSA-data.patch
  package/libs/libpcap/patches/002-Linux-handle-other-DSA-tags.patch
Labels: core packages

#18161 mvebu/image/cortexa53.mk: add kmod-dsa-mv88e6xxx
  target/linux/mvebu/image/cortexa53.mk
Labels: target/mvebu

#18174 generic: globally enable CONFIG_PCPU_DEV_REFCNT
  target/linux/d1/config-6.6
  target/linux/generic/config-6.6
  target/linux/loongarch64/config-6.6
  target/linux/stm32/stm32mp1/config-6.6
Labels: kernel, target/d1, target/loongarch64, target/stm32

#18121 mediatek: add support for CMCC A10
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/446-add-cmcc_a10.patch
  target/linux/mediatek/dts/mt7981b-cmcc-a10-stock.dts
  target/linux/mediatek/dts/mt7981b-cmcc-a10-ubootmod.dts
  target/linux/mediatek/dts/mt7981b-cmcc-a10.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#18146 ramips: mt7621: 02_network optimization
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#18150 ramips: fix reading mac address for hiwifi hc5962
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#18153 lantiq: xrx200_legacy: migrate ECI V-2FUb/R to upstream PHY LED control
  target/linux/lantiq/files/arch/mips/boot/dts/lantiq/vr9_arcadyan_vg3503j.dts
  target/linux/lantiq/patches-6.6/0023-NET-PHY-add-led-support-for-intel-xway.patch
  target/linux/lantiq/xrx200_legacy/base-files/etc/board.d/01_leds
Labels: kernel, target/lantiq

#18139 ramips: Add support for Cudy M1300 v2
  target/linux/ramips/dts/mt7621_cudy_m1300-v2.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips

#17672 kernel: Add KERNEL_DCB (Data Center Bridging)
  config/Config-kernel.in
  package/kernel/linux/modules/netdevices.mk
  target/linux/generic/config-6.6
  target/linux/loongarch64/config-6.6
  target/linux/x86/modules.mk
Labels: kernel, core packages, target/x86, target/loongarch64

#18149 dnsmasq: fix handlers for options `filter_rr` and `cache_rr`
  package/network/services/dnsmasq/files/dnsmasq.init
Labels: core packages

#18109 ath79: add support for Fortinet FAP-221-C
  target/linux/ath79/dts/qca9557_fortinet_fap-221-c.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/lib/upgrade/platform.sh
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#17357 ramips: use regulator for USB
  target/linux/ramips/dts/rt3052_accton_wr6202.dts
Labels: target/ramips

#18194 libxml2: update to 2.13.6
  package/libs/libxml2/Makefile
Labels: core packages

#18193 libnl: update to 3.11.0
  package/libs/libnl/Makefile
Labels: core packages

#18213 generic: net: phy: sfp: backport some FS copper SFP fixes
  target/linux/generic/backport-6.6/785-01-v6.8-net-sfp-rework-the-RollBall-PHY-waiting-code.patch
  target/linux/generic/backport-6.6/785-02-v6.8-net-sfp-fix-PHY-discovery-for-FS-SFP-10G-T-module.patch
  target/linux/generic/backport-6.6/785-03-v6.10-net-sfp-update-comment-for-FS-SFP-10G-T-quirk.patch
  target/linux/generic/backport-6.6/785-04-v6.10-net-sfp-enhance-quirk-for-Fibrestore-2.5G-copper-SFP-module.patch
  target/linux/generic/backport-6.6/785-05-v6.15-net-sfp-add-quirk-for-FS-SFP-10GM-T-copper-SFP-module.patch
  target/linux/generic/hack-6.6/790-SFP-GE-T-ignore-TX_FAULT.patch
  target/linux/realtek/patches-6.6/710-net-phy-sfp-re-probe-modules-on-DEV_UP-event.patch
  target/linux/realtek/patches-6.6/714-net-phy-sfp-add-support-for-SMBus.patch
Labels: kernel, target/realtek

#18172 mediatek: bpi-r4: create additional emmc gpt artifact
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#18089 hostapd/RADIUS server: configuration and logging enhancements
  package/network/services/hostapd/files/radius.config
  package/network/services/hostapd/files/radius.init
  package/network/services/hostapd/src/hostapd/radius.c
Labels: core packages

#18234 linux-firmware: update to 20250311
  package/firmware/linux-firmware/Makefile
Labels: core packages

#18205 [24.10] ramips: mt7621: 02_network optimization
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips, release/24.10

#18191 tools/coreutils: update to 9.6
  tools/coreutils/Makefile
Labels: build/scripts/tools

#18236 [24.10] backport libpcap support for various DSA tags
  package/libs/libpcap/Makefile
  package/libs/libpcap/patches/001-Add-support-for-Realtek-Ethertype-DSA-data.patch
  package/libs/libpcap/patches/002-Linux-handle-other-DSA-tags.patch
Labels: core packages, release/24.10

#18197 firmware: intel-microcode: update to 20250211
  package/firmware/intel-microcode/Makefile
Labels: core packages

#17806 ramips: Cleanup Genexis EX400 upgrade script
  target/linux/ramips/mt7621/base-files/lib/upgrade/inteno.sh
Labels: target/ramips

#18237 generic: rename backport patch 852
  target/linux/generic/backport-6.6/852-v6.9-stable-bus-mhi-host-pci_generic-constify-modem_telit_fn980.patch
Labels: kernel

#18239 kernel: bump 6.6 to 6.6.83
  include/kernel-6.6
  target/linux/airoha/patches-6.6/029-v6.12-net-dsa-mt7530-Add-EN7581-support.patch
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0483-usb-xhci-borrow-upstream-TRB_FETCH-quirk-on-VL805-ho.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/bcm27xx/patches-6.6/950-1359-usb-dwc3-core-add-support-for-setting-NAK-enhancemen.patch
  target/linux/generic/backport-6.6/611-01-v6.11-udp-Allow-GSO-transmit-from-devices-with-no-checksum.patch
  target/linux/generic/backport-6.6/790-02-v6.7-net-dsa-mt753x-remove-mt753x_phylink_pcs_link_up.patch
  target/linux/generic/backport-6.6/790-05-v6.9-net-dsa-mt7530-always-trap-frames-to-active-CPU-port.patch
  target/linux/generic/backport-6.6/790-07-v6.9-net-dsa-mt7530-store-port-5-SGMII-capability-of-MT75.patch
  target/linux/generic/backport-6.6/790-08-v6.9-net-dsa-mt7530-improve-comments-regarding-switch-por.patch
  target/linux/generic/backport-6.6/790-15-v6.9-net-dsa-mt7530-call-port-6-setup-from-mt7530_mac_con.patch
  target/linux/generic/backport-6.6/790-16-v6.9-net-dsa-mt7530-remove-pad_setup-function-pointer.patch
  target/linux/generic/backport-6.6/790-17-v6.9-net-dsa-mt7530-correct-port-capabilities-of-MT7988.patch
  target/linux/generic/backport-6.6/790-18-v6.9-net-dsa-mt7530-do-not-clear-config-supported_interfa.patch
  target/linux/generic/backport-6.6/790-19-v6.9-net-dsa-mt7530-remove-.mac_port_config-for-MT7988-an.patch
  target/linux/generic/backport-6.6/790-21-v6.9-net-dsa-mt7530-do-not-use-SW_PHY_RST-to-reset-MT7531.patch
  target/linux/generic/backport-6.6/790-22-v6.9-net-dsa-mt7530-get-rid-of-useless-error-returns-on-p.patch
  target/linux/generic/backport-6.6/790-23-v6.9-net-dsa-mt7530-get-rid-of-priv-info-cpu_port_config.patch
  target/linux/generic/backport-6.6/790-24-v6.9-net-dsa-mt7530-get-rid-of-mt753x_mac_config.patch
  target/linux/generic/backport-6.6/790-25-v6.9-net-dsa-mt7530-put-initialising-PCS-devices-code-bac.patch
  target/linux/generic/backport-6.6/790-27-v6.9-net-dsa-mt7530-simplify-link-operations.patch
  target/linux/generic/backport-6.6/790-33-v6.10-net-dsa-mt7530-provide-own-phylink-MAC-operations.patch
  target/linux/generic/backport-6.6/790-36-v6.10-net-dsa-mt7530-mdio-read-PHY-address-of-switch-from-.patch
  target/linux/generic/backport-6.6/790-39-v6.10-net-dsa-mt7530-refactor-MT7530_PMCR_P.patch
  target/linux/generic/backport-6.6/790-40-v6.10-net-dsa-mt7530-rename-p5_intf_sel-and-use-only-for-M.patch
  target/linux/generic/backport-6.6/790-42-v6.10-net-dsa-mt7530-refactor-MT7530_MFC-and-MT7531_CFC-ad.patch
  target/linux/generic/backport-6.6/790-43-v6.10-net-dsa-mt7530-refactor-MT7530_HWTRAP-and-MT7530_MHW.patch
  target/linux/generic/backport-6.6/790-45-v6.10-net-dsa-mt7530-return-mt7530_setup_mdio-mt7531_setup.patch
  target/linux/generic/backport-6.6/790-46-v6.10-net-dsa-mt7530-define-MAC-speed-capabilities-per-swi.patch
  target/linux/generic/backport-6.6/790-47-v6.10-net-dsa-mt7530-get-rid-of-function-sanity-check.patch
  target/linux/generic/backport-6.6/790-48-v6.10-net-dsa-mt7530-refactor-MT7530_PMEEECR_P.patch
  target/linux/generic/backport-6.6/790-50-v6.10-net-dsa-mt7530-use-priv-ds-num_ports-instead-of-MT75.patch
  target/linux/generic/backport-6.6/790-51-v6.10-net-dsa-mt7530-do-not-pass-port-variable-to-mt7531_r.patch
  target/linux/generic/backport-6.6/790-52-v6.10-net-dsa-mt7530-explain-exposing-MDIO-bus-of-MT7531AE.patch
  target/linux/generic/pending-6.6/680-net-add-TCP-fraglist-GRO-support.patch
  target/linux/generic/pending-6.6/685-net-gso-fix-tcp-fraglist-segmentation-after-pull-fro.patch
  target/linux/ipq40xx/patches-6.6/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
  target/linux/starfive/patches-6.6/0109-usb-xhci-To-improve-performance-usb-using-lowmem-for.patch
  target/linux/starfive/patches-6.6/0110-usb-xhci-using-dma_alloc_noncoherent-to-alloc-low-me.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ipq40xx, target/ath79, target/rockchip, target/airoha, target/starfive

#18241 stm32: modules: fix stm32-hash package build
  target/linux/stm32/modules.mk
Labels: target/stm32

#18233 ramips: Add support for Cudy M1200 v1
  target/linux/ramips/dts/mt7628an_cudy_m1200-v1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#18218 [openwrt-24.10] mediatek: add support for CMCC A10
  package/boot/uboot-envtools/files/mediatek_filogic
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/446-add-cmcc_a10.patch
  target/linux/mediatek/dts/mt7981b-cmcc-a10-stock.dts
  target/linux/mediatek/dts/mt7981b-cmcc-a10-ubootmod.dts
  target/linux/mediatek/dts/mt7981b-cmcc-a10.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek, release/24.10

#18145 [24.10] mwlwifi: update to version 10.4.11-20250206
  package/kernel/mwlwifi/Makefile
  package/kernel/mwlwifi/patches/001-Simplify-coredump-memcpy-in-mwl_fwcmd_get_fw_core_dump.patch
  package/kernel/mwlwifi/patches/002-Correctly-use-PTR_ERR-in-pcie_bf_mimo_ctrl_decode.patch
  package/kernel/mwlwifi/patches/003-Use-zu-and-zd-for-ssize_t-and-size_t.patch
  package/kernel/mwlwifi/patches/010-mwlwifi-fix-PCIe-DT-node-null-pointer-dereference.patch
  package/kernel/mwlwifi/patches/020-mac80211_update.patch
Labels: core packages, release/24.10

#18204 [24.10] ramips: Add support for Cudy M1300 v2
  target/linux/ramips/dts/mt7621_cudy_m1300-v2.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/ramips, release/24.10

#18043 uboot-mediatek: move custom uart config symbol to board defconfigs
  package/boot/uboot-mediatek/Makefile
  package/boot/uboot-mediatek/patches/105-configs-add-usefull-stuff-to-mt7988-rfb.patch
  package/boot/uboot-mediatek/patches/107-configs-add-useful-options-to-mt7981-rfb.patch
  package/boot/uboot-mediatek/patches/314-mt7981-select-rootdisk.patch
  package/boot/uboot-mediatek/patches/400-update-bpir2-defconfig.patch
  package/boot/uboot-mediatek/patches/401-update-u7623-defconfig.patch
  package/boot/uboot-mediatek/patches/404-add-bananapi_bpi-r64_defconfigs.patch
  package/boot/uboot-mediatek/patches/407-mtk-20-configs-mt7622-enable-environment-for-mt7622_rfb.patch
  package/boot/uboot-mediatek/patches/410-add-linksys-e8450.patch
  package/boot/uboot-mediatek/patches/412-add-ubnt-unifi-6-lr.patch
  package/boot/uboot-mediatek/patches/420-add-support-for-RAVPower-RP-WD009.patch
  package/boot/uboot-mediatek/patches/421-zbtlink_zbt-wg3526-16m.patch
  package/boot/uboot-mediatek/patches/429-add-netcore-n60.patch
  package/boot/uboot-mediatek/patches/430-add-bpi-r3.patch
  package/boot/uboot-mediatek/patches/431-add-xiaomi_redmi-ax6000.patch
  package/boot/uboot-mediatek/patches/432-add-tplink-xdr608x.patch
  package/boot/uboot-mediatek/patches/433-add-qihoo_360t7.patch
  package/boot/uboot-mediatek/patches/434-add-xiaomi_mi-router-wr30u.patch
  package/boot/uboot-mediatek/patches/435-add-h3c_magic-nx30-pro.patch
  package/boot/uboot-mediatek/patches/436-add-glinet-mt6000.patch
  package/boot/uboot-mediatek/patches/437-add-cmcc_rax3000m.patch
  package/boot/uboot-mediatek/patches/438-add-jcg_q30-pro.patch
  package/boot/uboot-mediatek/patches/439-add-zyxel_ex5601-t0.patch
  package/boot/uboot-mediatek/patches/440-add-xiaomi_mi-router-ax3000t.patch
  package/boot/uboot-mediatek/patches/441-add-jdcloud_re-cp-03.patch
  package/boot/uboot-mediatek/patches/442-add-bpi-r3-mini.patch
  package/boot/uboot-mediatek/patches/443-add-nokia_ea0326gmp.patch
  package/boot/uboot-mediatek/patches/444-add-abt_asr3000.patch
  package/boot/uboot-mediatek/patches/450-add-bpi-r4.patch
  package/boot/uboot-mediatek/patches/451-add-tplink-xtr8488.patch
  package/boot/uboot-mediatek/patches/452-add-xiaomi-redmi-ax6s.patch
  package/boot/uboot-mediatek/patches/453-add-openwrt-one.patch
  package/boot/uboot-mediatek/patches/454-add-glinet-x3000.patch
  package/boot/uboot-mediatek/patches/456-add-arcadyan-mozart.patch
  package/boot/uboot-mediatek/patches/458-add-GatoNetworks-GDSP.patch
  package/boot/uboot-mediatek/patches/459-add-mercusys-mr90x-v1.patch
  package/boot/uboot-mediatek/patches/460-add-routerich-ax3000.patch
Labels: core packages, target/mediatek

#17939 ath79: Add support for LONGDATA APS256
  target/linux/ath79/dts/ar9344_longdata_aps256.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic.mk
Labels: target/ath79

#17485 ramips: add support for Zyxel LTE7490-M904
  package/boot/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_zyxel_lte7490-m904.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
  target/linux/ramips/mt7621/base-files/etc/board.d/03_gpio_switches
  target/linux/ramips/mt7621/base-files/etc/init.d/bootcount
  target/linux/ramips/mt7621/base-files/lib/upgrade/platform.sh
Labels: core packages, target/ramips

#18102 optee-os.mk: override default PATH to not use hostpkg python
  include/optee-os.mk
Labels: build/scripts/tools

#18074 mediatek: Update mt7622-reyee-ax3200-e5.dts
  target/linux/mediatek/dts/mt7622-reyee-ax3200-e5.dts
Labels: target/mediatek

#17668 kernel: Activate CONFIG_NET_SWITCHDEV in generic config
  package/kernel/linux/modules/netdevices.mk
  target/linux/airoha/an7581/config-6.6
  target/linux/apm821xx/nand/config-default
  target/linux/at91/sama7/config-6.6
  target/linux/ath79/mikrotik/config-default
  target/linux/ath79/tiny/config-default
  target/linux/bcm47xx/config-6.6
  target/linux/bcm4908/config-6.6
  target/linux/bcm53xx/config-6.6
  target/linux/bmips/bcm6318/config-6.6
  target/linux/bmips/bcm63268/config-6.6
  target/linux/bmips/bcm6328/config-6.6
  target/linux/bmips/bcm6358/config-6.6
  target/linux/bmips/bcm6362/config-6.6
  target/linux/bmips/bcm6368/config-6.6
  target/linux/gemini/config-6.6
  target/linux/generic/config-6.6
  target/linux/imx/config-6.6
  target/linux/ipq40xx/config-6.6
  target/linux/ipq806x/config-6.6
  target/linux/ixp4xx/config-6.6
  target/linux/kirkwood/config-6.6
  target/linux/lantiq/ase/config-6.6
  target/linux/lantiq/falcon/config-6.6
  target/linux/lantiq/xrx200/config-6.6
  target/linux/lantiq/xrx200_legacy/config-6.6
  target/linux/lantiq/xway/config-6.6
  target/linux/lantiq/xway_legacy/config-6.6
  target/linux/layerscape/armv7/config-6.6
  target/linux/layerscape/armv8_64b/config-6.6
  target/linux/mediatek/filogic/config-6.6
  target/linux/mediatek/mt7622/config-6.6
  target/linux/mediatek/mt7623/config-6.6
  target/linux/mediatek/mt7629/config-6.6
  target/linux/mpc85xx/p1010/config-default
  target/linux/mpc85xx/p1020/config-default
  target/linux/mvebu/config-6.6
  target/linux/octeon/config-6.6
  target/linux/omap/config-6.6
  target/linux/qoriq/config-6.6
  target/linux/qualcommax/config-6.6
  target/linux/qualcommbe/config-6.6
  target/linux/ramips/mt7620/config-6.6
  target/linux/ramips/mt7621/config-6.6
  target/linux/ramips/mt76x8/config-6.6
  target/linux/ramips/rt288x/config-6.6
  target/linux/ramips/rt305x/config-6.6
  target/linux/ramips/rt3883/config-6.6
  target/linux/realtek/rtl838x/config-6.6
  target/linux/realtek/rtl839x/config-6.6
  target/linux/realtek/rtl930x/config-6.6
  target/linux/realtek/rtl931x/config-6.6
  target/linux/rockchip/armv8/config-6.6
  target/linux/siflower/sf19a2890/config-6.6
  target/linux/siflower/sf21/config-6.6
  target/linux/sunxi/cortexa7/config-6.6
Labels: target/apm821xx, target/at91, target/bcm53xx, target/bcm47xx, target/ipq806x, kernel, target/kirkwood, target/lantiq, target/layerscape, target/mpc85xx, target/mvebu, target/octeon, target/omap, core packages, target/ramips, target/sunxi, target/imx, target/ipq40xx, target/ath79, target/mediatek, target/gemini, target/rockchip, target/realtek, target/bmips, target/bcm4908, target/qoriq, target/airoha, target/qualcommax, target/siflower, target/ixp4xx, target/qualcommbe

#18257 bcm27xx-gpu-fw: update to v1.20250305
  package/kernel/bcm27xx-gpu-fw/Makefile
Labels: target/bcm27xx, core packages

#18256 bcm27xx-utils: update to latest version
  package/utils/bcm27xx-utils/Makefile
Labels: target/bcm27xx, core packages

#18260 [24.10] kernel: bump 6.6 to 6.6.83
  include/kernel-6.6
  target/linux/airoha/patches-6.6/029-v6.12-net-dsa-mt7530-Add-EN7581-support.patch
  target/linux/ath79/patches-6.6/900-unaligned_access_hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0061-Revert-Revert-xhci-add-quirk-for-host-controllers-th.patch
  target/linux/bcm27xx/patches-6.6/950-0482-xhci-quirks-add-link-TRB-quirk-for-VL805.patch
  target/linux/bcm27xx/patches-6.6/950-0483-usb-xhci-borrow-upstream-TRB_FETCH-quirk-on-VL805-ho.patch
  target/linux/bcm27xx/patches-6.6/950-0484-usb-xhci-add-VLI_SS_BULK_OUT_BUG-quirk.patch
  target/linux/bcm27xx/patches-6.6/950-0485-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.6/950-0519-usb-dwc3-Set-DMA-and-coherent-masks-early.patch
  target/linux/bcm27xx/patches-6.6/950-0853-drivers-usb-dwc3-add-FS-LS-bus-instance-parkmode-dis.patch
  target/linux/bcm27xx/patches-6.6/950-1359-usb-dwc3-core-add-support-for-setting-NAK-enhancemen.patch
  target/linux/generic/backport-6.6/611-01-v6.11-udp-Allow-GSO-transmit-from-devices-with-no-checksum.patch
  target/linux/generic/backport-6.6/790-02-v6.7-net-dsa-mt753x-remove-mt753x_phylink_pcs_link_up.patch
  target/linux/generic/backport-6.6/790-05-v6.9-net-dsa-mt7530-always-trap-frames-to-active-CPU-port.patch
  target/linux/generic/backport-6.6/790-07-v6.9-net-dsa-mt7530-store-port-5-SGMII-capability-of-MT75.patch
  target/linux/generic/backport-6.6/790-08-v6.9-net-dsa-mt7530-improve-comments-regarding-switch-por.patch
  target/linux/generic/backport-6.6/790-15-v6.9-net-dsa-mt7530-call-port-6-setup-from-mt7530_mac_con.patch
  target/linux/generic/backport-6.6/790-16-v6.9-net-dsa-mt7530-remove-pad_setup-function-pointer.patch
  target/linux/generic/backport-6.6/790-17-v6.9-net-dsa-mt7530-correct-port-capabilities-of-MT7988.patch
  target/linux/generic/backport-6.6/790-18-v6.9-net-dsa-mt7530-do-not-clear-config-supported_interfa.patch
  target/linux/generic/backport-6.6/790-19-v6.9-net-dsa-mt7530-remove-.mac_port_config-for-MT7988-an.patch
  target/linux/generic/backport-6.6/790-21-v6.9-net-dsa-mt7530-do-not-use-SW_PHY_RST-to-reset-MT7531.patch
  target/linux/generic/backport-6.6/790-22-v6.9-net-dsa-mt7530-get-rid-of-useless-error-returns-on-p.patch
  target/linux/generic/backport-6.6/790-23-v6.9-net-dsa-mt7530-get-rid-of-priv-info-cpu_port_config.patch
  target/linux/generic/backport-6.6/790-24-v6.9-net-dsa-mt7530-get-rid-of-mt753x_mac_config.patch
  target/linux/generic/backport-6.6/790-25-v6.9-net-dsa-mt7530-put-initialising-PCS-devices-code-bac.patch
  target/linux/generic/backport-6.6/790-27-v6.9-net-dsa-mt7530-simplify-link-operations.patch
  target/linux/generic/backport-6.6/790-33-v6.10-net-dsa-mt7530-provide-own-phylink-MAC-operations.patch
  target/linux/generic/backport-6.6/790-36-v6.10-net-dsa-mt7530-mdio-read-PHY-address-of-switch-from-.patch
  target/linux/generic/backport-6.6/790-39-v6.10-net-dsa-mt7530-refactor-MT7530_PMCR_P.patch
  target/linux/generic/backport-6.6/790-40-v6.10-net-dsa-mt7530-rename-p5_intf_sel-and-use-only-for-M.patch
  target/linux/generic/backport-6.6/790-42-v6.10-net-dsa-mt7530-refactor-MT7530_MFC-and-MT7531_CFC-ad.patch
  target/linux/generic/backport-6.6/790-43-v6.10-net-dsa-mt7530-refactor-MT7530_HWTRAP-and-MT7530_MHW.patch
  target/linux/generic/backport-6.6/790-45-v6.10-net-dsa-mt7530-return-mt7530_setup_mdio-mt7531_setup.patch
  target/linux/generic/backport-6.6/790-46-v6.10-net-dsa-mt7530-define-MAC-speed-capabilities-per-swi.patch
  target/linux/generic/backport-6.6/790-47-v6.10-net-dsa-mt7530-get-rid-of-function-sanity-check.patch
  target/linux/generic/backport-6.6/790-48-v6.10-net-dsa-mt7530-refactor-MT7530_PMEEECR_P.patch
  target/linux/generic/backport-6.6/790-50-v6.10-net-dsa-mt7530-use-priv-ds-num_ports-instead-of-MT75.patch
  target/linux/generic/backport-6.6/790-51-v6.10-net-dsa-mt7530-do-not-pass-port-variable-to-mt7531_r.patch
  target/linux/generic/backport-6.6/790-52-v6.10-net-dsa-mt7530-explain-exposing-MDIO-bus-of-MT7531AE.patch
  target/linux/generic/pending-6.6/680-net-add-TCP-fraglist-GRO-support.patch
  target/linux/generic/pending-6.6/685-net-gso-fix-tcp-fraglist-segmentation-after-pull-fro.patch
  target/linux/ipq40xx/patches-6.6/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/rockchip/patches-6.6/034-v6.7-usb-dwc3-add-optional-PHY-interface-clocks.patch
  target/linux/starfive/patches-6.6/0109-usb-xhci-To-improve-performance-usb-using-lowmem-for.patch
  target/linux/starfive/patches-6.6/0110-usb-xhci-using-dma_alloc_noncoherent-to-alloc-low-me.patch
Labels: target/bcm27xx, build/scripts/tools, kernel, target/ipq40xx, target/ath79, target/rockchip, target/airoha, target/starfive, release/24.10

#18261 selinux-policy: fix PKG_MIRROR_HASH after update to v2.6
  package/system/selinux-policy/Makefile
Labels: core packages

#17671 ramips: add support for Maginon MC-1200AC
  target/linux/ramips/dts/mt7621_maginon_mc-1200ac.dts
  target/linux/ramips/image/mt7621.mk
  target/linux/ramips/mt7621/base-files/etc/board.d/02_network
Labels: target/apm821xx, target/at91, target/bcm53xx, target/bcm47xx, target/bcm27xx, build/scripts/tools, target/ipq806x, kernel, target/kirkwood, target/lantiq, target/layerscape, target/mpc85xx, target/mvebu, target/mxs, target/octeon, target/omap, core packages, target/ramips, target/sunxi, target/x86, target/archs38, target/imx, target/ipq40xx, target/pistachio, target/ath79, target/zynq, target/mediatek, target/malta, target/imagebuilder, target/gemini, target/tegra, target/rockchip, target/realtek, target/bmips, target/bcm4908, GitHub/CI, target/qoriq, target/airoha, target/sifiveu, target/qualcommax, target/d1, target/starfive, target/loongarch64, target/siflower, target/ixp4xx, target/stm32

#18163 generic: import rtl8261n patches from mediatek
  target/linux/generic/config-6.6
  target/linux/generic/files/drivers/net/phy/rtl8261n/Kconfig
  target/linux/generic/files/drivers/net/phy/rtl8261n/Makefile
  target/linux/generic/files/drivers/net/phy/rtl8261n/construct/conf_rtl8261n_c.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/construct/conf_rtl8264b.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/error.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/phy_patch.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/phy_patch.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/phy_rtl826xb_patch.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/phy_rtl826xb_patch.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_osal.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_osal.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phy.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phylib.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phylib.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phylib_def.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phylib_rtl826xb.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phylib_rtl826xb.h
  target/linux/generic/files/drivers/net/phy/rtl8261n/type.h
  target/linux/generic/hack-6.6/735-net-phy-realtek-rtl8261n.patch
  target/linux/mediatek/mt7622/config-6.6
  target/linux/mediatek/mt7623/config-6.6
  target/linux/mediatek/mt7629/config-6.6
  target/linux/mediatek/patches-6.6/500-gsw-rtl8367s-mt7622-support.patch
  target/linux/realtek/patches-6.6/720-add-rtl-phy.patch
  target/linux/siflower/patches-6.6/019-net-phy-add-support-for-Siflower-SF23P1211-SF23P1240.patch
Labels: kernel, target/mediatek, target/realtek, target/siflower

#17976 mediatek: Xiaomi AX3000t: enable SPI calibration
  target/linux/mediatek/dts/mt7981b-xiaomi-mi-router-common.dtsi
Labels: target/mediatek

#18080 generic: silence led set_brightness error message
  target/linux/generic/backport-6.6/890-v6.11-leds-core-Omit-set_brightness-error-message-for-a.patch
Labels: kernel

#16229 ipq8064: Unifi AC-HD: use nvmem for wifi mac
  target/linux/ipq806x/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ipq806x/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-eax500.dtsi
  target/linux/ipq806x/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq8064-unifi-ac-hd.dts
Labels: target/ipq806x

#17824 nettle: update to 3.10.1
  package/libs/nettle/Makefile
  package/libs/nettle/patches/100-portability.patch
Labels: core packages

#18082 ramips: use openwrt,netdev-name to fix port name conflict on TP-Link Deco M4R v4
  target/linux/ramips/dts/mt7621_tplink_deco-m4r-v4.dts
Labels: target/ramips

#18230 ath79: fix chipidea usb controller detection
  target/linux/ath79/dts/ar9330.dtsi
Labels: target/ath79

#18278 ramips: Fix Hongdian H8922 v30 pinctrl default state
  target/linux/ramips/dts/mt7620a_hongdian_h8922-v30.dts
Labels: target/ramips

#18271 ath79: fix calibration size for AR9287
  target/linux/ath79/dts/ar7240_openmesh_om2p-v1.dts
Labels: target/ath79

#18281 rockchip: fix missing ".patch" file extension
  target/linux/rockchip/patches-6.6/401-1-nanopi-r6-show-boot-status-on-system-led.patch
  target/linux/rockchip/patches-6.6/401-2-nanopi-r6-reset-button.patch
Labels: target/rockchip

#18288 ipq-wifi: fix PKG_MIRROR_HASH after update to 2024-02-17
  package/firmware/ipq-wifi/Makefile
Labels: core packages

#18151 mediatek: filogic: migrate Zyxel EX5700 to upstream PHY LED control
  target/linux/mediatek/dts/mt7986a-zyxel-ex5700-telenor.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#18266 mediatek: filogic: migrate SmartRG Bonanza to upstream PHY LED control
  target/linux/mediatek/dts/mt7986a-smartrg-bonanza-peak.dtsi
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
Labels: target/mediatek

#18267 kernel: drop Maxlinear PHY LED control hack
  target/linux/generic/hack-6.6/765-mxl-gpy-control-LED-reg-from-DT.patch
  target/linux/mediatek/patches-6.6/732-net-phy-mxl-gpy-don-t-use-SGMII-AN-if-using-phylink.patch
Labels: kernel, target/mediatek

#18265 mediatek: rename PHY LEDs to match upstream bindings
  target/linux/mediatek/dts/mt7622-smartrg-SDG-841-t6.dts
  target/linux/mediatek/dts/mt7981b-openwrt-one.dts
  target/linux/mediatek/dts/mt7986a-asus-tuf-ax4200.dts
  target/linux/mediatek/dts/mt7986a-bananapi-bpi-r3-mini.dts
  target/linux/mediatek/dts/mt7986a-zyxel-ex5601-t0-common.dtsi
  target/linux/mediatek/dts/mt7988a-smartrg-mt-stuart.dtsi
Labels: target/mediatek

#18195 kernel: igc: enable HW vlan tag insertion/stripping by default
  target/linux/generic/pending-6.6/792-igc-enable-HW-vlan-tag-insertion-stripping-by-defaul.patch
Labels: kernel

#18023 ubox: fix logging to external filesystem
  package/system/ubox/files/log.init
Labels: core packages

#14872 lldpd: add custom-TLV handling
  package/network/services/lldpd/files/lldpd.init
Labels: core packages

#18329 uboot-tools: dont build tools unconditionally
  package/boot/uboot-tools/Makefile
Labels: core packages

#18346 mediatek: filogic: bpi-r3-mini: add kmod-eeprom-at24
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#18343 [24.10] (cherry pick) custom tlv for lldpd
  package/network/services/lldpd/files/lldpd.init
Labels: core packages, release/24.10

#18344 [23.05] (cherry pick) custom tlv for lldpd
  package/network/services/lldpd/files/lldpd.init
Labels: core packages, release/23.05

#18350 strace: update to 6.14
  package/devel/strace/Makefile
Labels: core packages

#18303 ramips: dts: remove redundant console bootargs
  target/linux/ramips/dts/mt7620a_bolt_bl100.dts
  target/linux/ramips/dts/mt7621_confiabits_mt7621-v1.dts
  target/linux/ramips/dts/mt7621_zyxel_lte3301-plus.dts
  target/linux/ramips/dts/mt7628an_yuncore_cpe200.dts
  target/linux/ramips/dts/mt7628an_yuncore_m300.dts
Labels: target/ramips

#18334 qualcommax: ipq807x: Create working factory tar for WAX620 and WAX630.
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/init.d/bootcount
Labels: target/qualcommax

#18331 mediatek: filogic: fix device sorting
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#18240 iw: backport he operation scan support
  package/network/utils/iw/Makefile
  package/network/utils/iw/patches/100-scan-Add-printing-of-HE-Operation-Element.patch
  package/network/utils/iw/patches/200-reduce_size.patch
Labels: core packages

#18186 qualcommax: mr7350: switch to ascii-eq-delim-env for reading mac addr…
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq6000-mr7350.dts
  target/linux/qualcommax/ipq60xx/base-files/etc/board.d/02_network
Labels: kernel, target/qualcommax

#18326 kernel: bump 6.6 to 6.6.84
  include/kernel-6.6
  target/linux/bcm27xx/patches-6.6/950-0025-drm-atomic-helpers-remove-legacy_cursor_update-hacks.patch
  target/linux/bcm27xx/patches-6.6/950-0169-hid-usb-Add-device-quirks-for-Freeway-Airmouse-T3-an.patch
  target/linux/bcm27xx/patches-6.6/950-0923-drm-Add-DRM_MODE_TV_MODE_MONOCHROME.patch
  target/linux/bcm27xx/patches-6.6/950-1051-drm-panel-Add-and-initialise-an-orientation-field-to.patch
  target/linux/generic/backport-6.6/896-01-v6.9-net-dsa-mv88e6xxx-rename-mv88e6xxx_g2_scratch_gpio_s.patch
  target/linux/generic/backport-6.6/896-02-v6.9-net-dsa-mv88e6xxx-add-Amethyst-specific-SMI-GPIO-fun.patch
  target/linux/generic/backport-6.6/901-v6.13-net-dsa-mv88e6xxx-Support-LED-control.patch
  target/linux/generic/hack-6.6/711-net-dsa-mv88e6xxx-disable-ATU-violation.patch
  target/linux/generic/hack-6.6/904-debloat_dma_buf.patch
  target/linux/generic/pending-6.6/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
Labels: target/bcm27xx, build/scripts/tools, kernel

#18298 ramips: fix tplink_mr200v1 wan interface
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

#18353 mbedtls: update to 3.6.3
  package/libs/mbedtls/Makefile
  package/libs/mbedtls/patches/101-remove-test.patch
Labels: core packages

#18345 lldpd: bump to 1.0.19
  package/network/services/lldpd/Makefile
Labels: core packages

#18340 qualcommax: ipq807x: Create working factory images for EAP620 HD v1 and EAP660 HD v1
  scripts/tplink-mkimage-2022.py
  target/linux/qualcommax/image/ipq60xx.mk
  target/linux/qualcommax/image/ipq807x.mk
Labels: build/scripts/tools, target/qualcommax

#18249 tools/isl: update to 0.27
  tools/isl/Makefile
Labels: build/scripts/tools

#16901 tools/libressl: update to 4.0.0
  tools/libressl/Makefile
  tools/libressl/patches/010-static.patch
Labels: build/scripts/tools, ci:target:armsr:armv8

#18373 mac80211: fix compilation error for old stable kernel version
  package/kernel/mac80211/patches/build/300-backports-handle-genlmsg_multicast_allns-upstream-ba.patch
Labels: core packages

#18283 firewall4: update to Git HEAD (2025-03-17)
  package/network/config/firewall4/Makefile
Labels: core packages

#18380 rampis: revert fix tplink_mr200v1 wan interface
  target/linux/ramips/mt7620/base-files/etc/board.d/02_network
Labels: target/ramips

#18280 [23.05] bump libxml2 to fix several CVE
  package/libs/libxml2/Makefile
Labels: core packages, security, release/23.05

#18069 ath10k-ct-firmware: remove QCA9888 board file symbolic link
  package/firmware/ath10k-ct-firmware/Makefile
Labels: core packages

#18164 ramips: mt76x8: add support for Keenetic Launcher (KN-1221)
  target/linux/ramips/dts/mt7628an_keenetic_kn-1221.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/01_leds
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#18126 ath79: move RE450 V1 & V2 to tiny, restore sysupgrade support
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/image/generic-tp-link.mk
  target/linux/ath79/image/tiny-tp-link.mk
  target/linux/ath79/tiny/base-files/etc/board.d/01_leds
  target/linux/ath79/tiny/base-files/etc/board.d/02_network
Labels: kernel, core packages, target/ath79, target/mediatek, target/realtek

#18279 [24.10] ramips: Fix Hongdian H8922 v30 pinctrl default state
  target/linux/ramips/dts/mt7620a_hongdian_h8922-v30.dts
Labels: target/ramips, release/24.10
