Repository openwrt/openwrt, pull requests merged in 2025-08, with the labels that each got.

#19617 tools: util-linux: allow building with 32-bit time
  tools/util-linux/Makefile
Labels: build/scripts/tools

#19586 util-linux: add last util
  package/utils/util-linux/Makefile
Labels: core packages

#17718 hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages

#19621 uboot-mvebu: update to version 2025.07
  package/boot/uboot-mvebu/Makefile
  package/boot/uboot-mvebu/patches/102-arm-mvebu-add-support-for-MikroTik-RB5009UG-S-IN.patch
Labels: target/mvebu, core packages

#19604 realtek: mdio: RTL838x: create new SerDes phy register layout
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

#19627 tools: gnulib: do not cache C standard option test results
  tools/gnulib/patches/190-stdc-m4-no-cache.patch
Labels: build/scripts/tools

#19634 realtek: RTL839x: reorganize mdio functions and SerDes register layout
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl839x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

#19624 realtek: rtl930x: enable SMP
  target/linux/realtek/rtl930x/config-6.12
Labels: kernel, target/realtek

#19560 tools: lz4: update to 1.10.0
  tools/lz4/Makefile
Labels: build/scripts/tools

#19681 ead: replace legacy RETSIGTYPE with void in signal handler
  package/network/services/ead/src/tinysrp/t_getpass.c
Labels: core packages

#19662 realtek: rtl930x: move serdes functions over to mdio bus
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

#19669 realtek: rtl930x: convert Hasivo S1100W to lzma only.
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

#19675 lantiq: replace patches with upstream version
  target/linux/lantiq/patches-6.12/102-01-v6.17-MIPS-lantiq-xway-mark-dma_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-02-v6.17-0002-MIPS-pci-lantiq-marks-pcibios_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-03-v6.17-MIPS-lantiq-xway-mark-dcdc_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-04-v6.17-MIPS-lantiq-irq-fix-misc-missing-prototypes-warnings.patch
  target/linux/lantiq/patches-6.12/102-05-v6.17-MIPS-lantiq-xway-mark-ltq_ar9_sys_hz-as-static.patch
  target/linux/lantiq/patches-6.12/102-06-v6.17-MIPS-lantiq-xway-gptu-mark-gptu_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-07-v6.17-MIPS-lantiq-xway-add-prototype-for-ltq_get_cp1_base.patch
  target/linux/lantiq/patches-6.12/102-08-v6.17-MIPS-lantiq-falcon-fix-misc-missing-prototypes-warni.patch
  target/linux/lantiq/patches-6.12/102-09-v6.17-MIPS-lantiq-falcon-sysctrl-remove-unused-falcon_trig.patch
  target/linux/lantiq/patches-6.12/102-10-v6.17-MIPS-lantiq-falcon-sysctrl-add-missing-header-prom.h.patch
  target/linux/lantiq/patches-6.12/102-11-v6.17-MIPS-lantiq-falcon-sysctrl-fix-request-memory-check-.patch
  target/linux/lantiq/patches-6.12/102-12-MIPS-vpe-mt-mark-vpe_free-and-vpe_stop-as-static.patch
  target/linux/lantiq/patches-6.12/102-12-v6.17-MIPS-vpe-mt-add-missing-prototypes-for-vpe_-alloc-st.patch
  target/linux/lantiq/patches-6.12/102-13-MIPS-vpe-mt-drop-unused-functions-vpe_alloc-and-vpe_.patch
  target/linux/lantiq/patches-6.12/102-14-pinctrl-xway-mark-xway_pinconf_group_set-as-static.patch
  target/linux/lantiq/patches-6.12/102-14-v6.17-pinctrl-xway-statify-xway_pinconf_group_set.patch
  target/linux/lantiq/patches-6.12/102-15-v6.17-pinctrl-falcon-mark-pinctrl_falcon_init-as-static.patch
  target/linux/lantiq/patches-6.12/102-16-v6.17-spi-falcon-mark-falcon_sflash_xfer-as-static.patch
  target/linux/lantiq/patches-6.12/152-lantiq-VPE.patch
Labels: target/lantiq

#19694 modules: Add kmod-w1-slave-ds2438
  package/kernel/linux/modules/w1.mk
Labels: kernel, core packages

#19570 realtek: dsa: rtl83xx: flush scheduled work on removal
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/dsa.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
Labels: target/realtek

#19665 ath79: fix LED GPIOs for COMFAST CF-EW71 v2
  target/linux/ath79/dts/qca9531_comfast_cf-ew71-v2.dts
Labels: target/ath79

#19512 mediatek: add support for OpenFi 6C
  target/linux/mediatek/dts/mt7981b-openfi-6c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19576 realtek: rtl931x: fix VLAN tagging and untagging handling
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

#19643 strace: update to 6.15
  package/devel/strace/Makefile
Labels: core packages

#19515 mediatek: filogic: Add support for Wavlink WL-WN551X3
  target/linux/mediatek/dts/mt7981b-wavlink-wl-3port-128nand-common.dtsi
  target/linux/mediatek/dts/mt7981b-wavlink-wl-wn551x3.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19581 realtek: rtl93xx: Add learning and flooding enable/disable
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

#19246 kernel: usb: fix dependencies for gadget drivers
  package/kernel/linux/modules/usb.mk
Labels: kernel, core packages

#19534 mediatek: add support for CreatLentem CLT-R30B1
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-112m.dts
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1-common.dtsi
  target/linux/mediatek/dts/mt7981b-creatlentem-clt-r30b1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19713 gcc: 15.x: update to 15.2
  toolchain/gcc/Config.version
  toolchain/gcc/common.mk
  toolchain/gcc/patches-15.x/910-mbsd_multi.patch
Labels: toolchain

#19692 realtek: RTL930x: reorganize mdio functions and SerDes register layout
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

#19689 x86: add Minisforum MS-A2 Mini PC
  target/linux/x86/base-files/etc/board.d/02_network
Labels: target/x86

#19698 siflower: sf21: fix usb_vbus for Bananapi BPI-RV2
  target/linux/siflower/dts/sf21h8898_bananapi_bpi-rv2.dtsi
Labels: target/siflower

#19658 hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages, release/23.05

#19660 hostapd: fix logging of configuration content
  package/network/services/hostapd/patches/701-reload_config_inline.patch
Labels: core packages, release/24.10

#19580 realtek: rtl931x: Fix l2 FDB entry handling
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
Labels: target/realtek

#19468 [WIP] realtek: fix stall after restart of otto timer
  target/linux/realtek/patches-6.12/304-timer-otto-fix-stall-after-restart.patch
Labels: target/realtek

#19547 toolchain: add binutils 2.45, set 2.44 as the default and drop 2.40
  toolchain/binutils/Config.in
  toolchain/binutils/Config.version
  toolchain/binutils/Makefile
  toolchain/binutils/patches/2.40/001-PR-30569-always-call-elf_backend_size_dynamic_sectio.patch
  toolchain/binutils/patches/2.40/002-PR-30569-delete-_bfd_mips_elf_early_size_sections.patch
  toolchain/binutils/patches/2.40/005-libctf-update-regexp-to-allow-makeinfo-to-build-docu.patch
  toolchain/binutils/patches/2.40/007-Fix-version-number-snafu-in-some-configuration-files.patch
  toolchain/binutils/patches/2.40/010-toplevel-Makefile.def-add-install-strip-dependency-o.patch
  toolchain/binutils/patches/2.40/018-gprofng-PR29521-docs-man-pages-are-not-in-the-releas.patch
  toolchain/binutils/patches/2.40/020-gprofng-PR30043-libgprofng.so.-are-installed-to-a-wr.patch
  toolchain/binutils/patches/2.40/026-RISC-V-make-C-extension-JAL-available-again-for-32-b.patch
  toolchain/binutils/patches/2.40/034-bpf-fix-error-conversion-from-long-unsigned-int-to-u.patch
  toolchain/binutils/patches/2.40/035-Pass-JANSSON_LIBS-and-ZSTD_LIBS-to-ld-bootstrap-boot.patch
  toolchain/binutils/patches/2.40/036-Regen-config-files.patch
  toolchain/binutils/patches/2.40/040-configure-remove-dependencies-on-gmp-and-mpfr-when-g.patch
  toolchain/binutils/patches/2.40/046-gas-correct-symbol-name-comparison-in-.startof.-.siz.patch
  toolchain/binutils/patches/2.40/050-PR-32372-opcodes-fix-std-gnu23-compatibility-wrt-static_asser.patch
  toolchain/binutils/patches/2.40/300-001_ld_makefile_patch.patch
  toolchain/binutils/patches/2.40/400-mips_no_dynamic_linking_sym.patch
  toolchain/binutils/patches/2.40/500-Change-default-emulation-for-mips64-linux.patch
Labels: toolchain

#19714 mediatek: remove loglevel in bootargs
  target/linux/mediatek/dts/mt7981b-unielec-u7981-01.dtsi
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8102ax.dts
  target/linux/mediatek/dts/mt7981b-zbtlink-zbt-z8103ax.dts
  target/linux/mediatek/dts/mt7988a-smartrg-mt-stuart.dtsi
  target/linux/mediatek/patches-6.12/188-arm64-dts-mediatek-add-MT7988A-reference-board-devic.patch
  target/linux/mediatek/patches-6.12/189-arm64-dts-mediatek-mt7988a-complete-bpi-r4.patch
Labels: target/mediatek

#19721 linux-firmware: update to 20250808
  package/firmware/linux-firmware/Makefile
Labels: core packages

#19747 [23.05]: kernel: Add additional net scheduler fix
  target/linux/generic/backport-5.15/895-v6.15-0005-sch_htb-make-htb_deactivate-idempotent.patch
Labels: kernel, release/23.05

#19758 mpc85xx: tl-wdr4900: add back 5ghz LED
  target/linux/mpc85xx/files/arch/powerpc/boot/dts/tl-wdr4900-v1.dts
Labels: kernel, target/mpc85xx

#19742 tools/7z: update to 25.01
  tools/7z/Makefile
Labels: build/scripts/tools

#19772 realtek: create central DTS macro include
  target/linux/realtek/dts/macros.dtsi
  target/linux/realtek/dts/rtl838x.dtsi
  target/linux/realtek/dts/rtl839x.dtsi
  target/linux/realtek/dts/rtl930x.dtsi
  target/linux/realtek/dts/rtl931x.dtsi
Labels: target/realtek

#19719 ipset: update to 7.24
  package/network/utils/ipset/Makefile
Labels: core packages

#19771 mt7621: zyxel nwa-ax: set mac address in dts
  target/linux/ramips/dts/mt7621_zyxel_nwa-ax.dtsi
  target/linux/ramips/mt7621/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ramips

#19744 ipq40xx: dts: reduce the maximum SPI clock frequency to 24MHz
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-cap-ac.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-ens620ext.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-ex61x0v2.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-hap-ac2.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-nbg6617.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-rt-ac58u.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-sxtsq-5-ac.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-wac510.dts
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-ac.dtsi
  target/linux/ipq40xx/files-6.12/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3.dts
Labels: target/ipq40xx

#19743 realtek: mdio: rtl931x: move functions over to bus
  target/linux/realtek/files-6.12/arch/mips/include/asm/mach-rtl838x/mach-rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl838x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl839x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl83xx.h
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl930x.c
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/rtl931x.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.h
Labels: target/realtek

#19813 tools: lzop: add patch bumping minimum CMake version to 3.5
  tools/lzop/patches/002-bump-minimum-cmake-version.patch
Labels: build/scripts/tools

#19716 [24.10] ramips: add support for Hongdian H7920 v40
  target/linux/ramips/dts/mt7628an_hongdian_h7920-v40.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
  target/linux/ramips/mt76x8/base-files/etc/board.d/03_gpio_switches
Labels: target/ramips, release/24.10

#19595 [24.10] mediatek: filogic: D-Link M30/M60: include initramfs in recovery
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/24.10

#19536 [24.10] mediatek: add support for OpenFi 6C
  target/linux/mediatek/dts/mt7981b-openfi-6c.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/24.10

#19796 [24.10] ipq40xx: dts: reduce the maximum SPI clock frequency to 24MHz
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-cap-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ens620ext.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-ex61x0v2.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-hap-ac2.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-nbg6617.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-rt-ac58u.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-sxtsq-5-ac.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wac510.dts
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4018-wap-ac.dtsi
  target/linux/ipq40xx/files-6.6/arch/arm/boot/dts/qcom/qcom-ipq4019-hap-ac3.dts
Labels: target/ipq40xx, release/24.10

#19833 toolchain/binutils: export ZSTD_CFLAGS/LIBS to fix non-Linux build
  toolchain/binutils/Makefile
Labels: toolchain

#16287 ath79: trendnet,tew-823dru: use nvmem
  target/linux/ath79/dts/qca9558_trendnet_tew-823dru.dts
  target/linux/ath79/generic/base-files/etc/board.d/02_network
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#18907 ath79: db120: use led-sources for ath9k
  target/linux/ath79/dts/ar9344_atheros_db120.dts
Labels: target/ath79

#18908 ath79: dir-825-c1: set LED pin properly
  target/linux/ath79/dts/ar9344_dlink_dir-825-c1.dts
  target/linux/ath79/dts/ar9344_dlink_dir-8x5.dtsi
Labels: target/ath79

#18906 ath79: wb2000: use led-sources for ath9k
  target/linux/ath79/dts/ar9344_winchannel_wb2000.dts
Labels: target/ath79

#19818 realtek: convert access to RTL931x analog serdes pages
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#19862 ath79: qcn5502: use led-sources for WMAC
  target/linux/ath79/dts/qcn5502_asus_rt-ac59u.dtsi
  target/linux/ath79/dts/qcn5502_tplink_archer-a9-v6.dts
Labels: target/ath79

#19904 pcre2: bump to 10.46
  package/libs/pcre2/Makefile
Labels: core packages

#19892 kernel: bump 6.12 to 6.12.44
  target/linux/bcm27xx/patches-6.12/950-0124-usb-add-plumbing-for-updating-interrupt-endpoint-int.patch
  target/linux/bcm27xx/patches-6.12/950-0125-xhci-implement-xhci_fixup_endpoint-for-interval-adju.patch
  target/linux/bcm27xx/patches-6.12/950-0335-usb-xhci-add-XHCI_VLI_HUB_TT_QUIRK.patch
  target/linux/bcm27xx/patches-6.12/950-0364-drm-Add-RP1-DSI-driver.patch
  target/linux/bcm27xx/patches-6.12/950-0480-media-pisp_be-Re-introduce-multi-context-support.patch
  target/linux/bcm27xx/patches-6.12/950-0950-usb-xhci-default-to-Intel-scheme-for-calculating-U1-.patch
  target/linux/generic/backport-6.12/220-v6.16-powerpc-boot-fix-build-with-gcc-15.patch
  target/linux/generic/backport-6.12/620-v6.15-ppp-use-IFF_NO_QUEUE-in-virtual-interfaces.patch
  target/linux/generic/backport-6.12/720-09-v6.14-net-phy-Constify-struct-mdio_device_id.patch
  target/linux/generic/hack-6.12/721-net-add-packet-mangeling.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/100-compiler.h-only-include-asm-rwonce.h-for-kernel-code.patch
  target/linux/generic/pending-6.12/487-mtd-spinand-Add-support-for-Etron-EM73D044VCx.patch
  target/linux/generic/pending-6.12/736-04-net-ethernet-mediatek-fix-ppe-flow-accounting-for-L2.patch
  target/linux/generic/pending-6.12/790-bus-mhi-core-add-SBL-state-callback.patch
  target/linux/imx/patches-6.12/506-6.16-PCI-imx6-Skip-link-up-workaround-for-newer-platforms.patch
  target/linux/imx/patches-6.12/506-pending-PCI-imx6-Remove-apps_reset-toggle-in-_core_reset-function.patch
  target/linux/ipq40xx/patches-6.12/999-atm-mpoa-intel-dsl-phy-support.patch
  target/linux/mediatek/patches-6.12/121-hack-spi-nand-1b-bbm.patch
  target/linux/mediatek/patches-6.12/330-snand-mtk-bmt-support.patch
  target/linux/mediatek/patches-6.12/340-mtd-spinand-Add-support-for-the-Fidelix-FM35X1GA.patch
  target/linux/mediatek/patches-6.12/410-bt-mtk-serial-fix.patch
  target/linux/mediatek/patches-6.12/435-drivers-mtd-spinand-Add-calibration-support-for-spin.patch
  target/linux/mediatek/patches-6.12/436-drivers-mtd-spi-nor-Add-calibration-support-for-spi-.patch
  target/linux/mediatek/patches-6.12/960-asus-hack-u-boot-ignore-mtdparts.patch
  target/linux/qualcommax/patches-6.12/0812-soc-qcom-mdt_loader-support-MPD.patch
  target/linux/starfive/patches-6.12/0009-uart-8250-Add-dw-auto-flow-ctrl-support.patch
Labels: target/bcm27xx, kernel, target/imx, target/ipq40xx, target/mediatek, target/qualcommax, target/starfive

#19887 realtek: correct whitespace in hp dts files
  target/linux/realtek/dts/rtl8393_hpe_1920-48g-poe.dts
  target/linux/realtek/dts/rtl8393_hpe_1920-48g.dts
Labels: target/realtek

#19914 mediatek: backport patches fixing thermal on MT7988
  target/linux/mediatek/patches-6.12/051-v6.17-thermal-drivers-mediatek-lvts_thermal-Change-lvts-co.patch
  target/linux/mediatek/patches-6.12/052-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-lvts-comma.patch
  target/linux/mediatek/patches-6.12/053-v6.17-thermal-drivers-mediatek-lvts_thermal-Add-mt7988-lvt.patch
Labels: target/mediatek
