Repository openwrt/openwrt, pull requests merged in 2025-09, with the labels that each got.

#19901 realtek: RTL838x: remove artifical mdio delays
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
Labels: target/realtek

#19919 [24.10]: rpcd: rpcd: update to git openwrtt-24.10 branch HEAD
  package/system/rpcd/Makefile
  package/system/rpcd/patches/100-ucode-adjust-for-new-ext-resource-type.patch
Labels: core packages, release/24.10

#19926 [openwrt-24.10] rockchip: fix eMMC corruption on NanoPC-T6 with A3A444 chips
  target/linux/rockchip/patches-6.6/121-arm64-dts-rockchip-lower-mmc-speed-for-nanopc-t6.patch
Labels: target/rockchip, release/24.10

#19873 realtek: RTL931x: SerDes digital page cleanup
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#19934 realtek: fix compatible for TP-Link TL-ST1008F v2.0
  target/linux/realtek/base-files/etc/board.d/02_network
  target/linux/realtek/base-files/etc/uci-defaults/99_fwenv-store-ethaddr
  target/linux/realtek/dts/rtl9303_tplink_tl-st1008f-v2.dts
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

#19908 realtek: Rename XGS1210-12 to XGS1210-12 A1
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12-a1.dts
  target/linux/realtek/dts/rtl9302_zyxel_xgs1210-12-common.dtsi
  target/linux/realtek/image/rtl930x.mk
Labels: target/realtek

#19946 [24.10]: mac80211: Fix build of rt2800soc
  package/kernel/mac80211/patches/rt2x00/997-rt2x00-use-remove_new.patch
Labels: core packages, release/24.10

#19875 kernel: update and move net bridge patch to backport folder
  target/linux/generic/backport-6.12/625-v6.16-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/backport-6.6/625-v6.16-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.12/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.12/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
  target/linux/generic/pending-6.6/150-bridge_allow_receiption_on_disabled_port.patch
  target/linux/generic/pending-6.6/642-net-bridge-locally-receive-all-multicast-packets-if-.patch
  target/linux/generic/pending-6.6/710-bridge-add-knob-for-filtering-rx-tx-BPDU-pack.patch
Labels: kernel

#19374 [24.10] octeon: ubnt-*: Add device specific DTS pruning
  target/linux/octeon/patches-6.6/400-ubnt_dts_pruning.patch
Labels: target/octeon, release/24.10

#19949 kernel: add quirk for two SFP+ transceivers
  target/linux/generic/backport-6.6/786-v6.10-net-sfp-add-quirk-for-another-multigig-RollBall-tran.patch
  target/linux/generic/pending-6.12/750-net-sfp-add-quirk-for-FlyPro-10Gbase-T-module.patch
  target/linux/generic/pending-6.6/750-net-sfp-add-quirk-for-FlyPro-10Gbase-T-module.patch
  target/linux/realtek/patches-6.12/714-net-phy-sfp-add-support-for-SMBus.patch
Labels: kernel, target/realtek

#19960 realtek: RTL93xx: fix network receive path
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.c
  target/linux/realtek/files-6.12/drivers/net/ethernet/rtl838x_eth.h
Labels: target/realtek

#19963 ramips: fix wrong CRLF line-ending
  target/linux/ramips/dts/mt7621_arcadyan_we410443.dts
  target/linux/ramips/patches-6.12/900-pci-rt2880-static-pcibios_init.patch
Labels: build/scripts/tools, target/ramips

#19955 kernel: bump 6.6 to 6.6.104
  target/linux/generic/backport-6.6/626-v6.17-net-ipv4-fix-regression-in-local-broadcast-routes.patch
  target/linux/generic/backport-6.6/771-v6.7-01-net-stmmac-improve-TX-timer-arm-logic.patch
  target/linux/generic/backport-6.6/771-v6.7-02-net-stmmac-move-TX-timer-arm-after-DMA-enable.patch
  target/linux/generic/kernel-6.6
Labels: kernel

#19825 mediatek: Huasifei WH3000 Pro wifi fix
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19636 mediatek: filogic: add support for Cudy WR3000P v1
  target/linux/mediatek/dts/mt7981b-cudy-wr3000p-v1.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19969 zynq: disable unused Vitesse PHY
  target/linux/zynq/config-6.6
Labels: kernel, target/zynq

#19939 [24.10] mediatek: filogic: add support for ipTIME AX3000Q
  target/linux/mediatek/dts/mt7981b-iptime-ax3000q.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek, release/24.10

#19941 package/libs/elfutils: fix license
  package/libs/elfutils/Makefile
Labels: core packages

#19983 libxml2: Add abi version
  package/libs/libxml2/Makefile
Labels: core packages

#19917 rockchip: increase the number of serial ports for rk35xx
  target/linux/rockchip/armv8/config-6.12
Labels: kernel, target/rockchip

#19988 [openwrt-24.10] rockchip: increase the number of serial ports for rk35xx
  target/linux/rockchip/armv8/config-6.6
Labels: kernel, target/rockchip, release/24.10

#18639 ramips: switch TP-Link RE305 v1 to new partition layout
  target/linux/ramips/dts/mt7628an_tplink_re305-v1.dts
  target/linux/ramips/image/mt76x8.mk
  target/linux/ramips/mt76x8/base-files/etc/board.d/05_compat-version
Labels: target/ramips

#20011 mediatek: add driver for HW-RNG v2
  target/linux/mediatek/filogic/config-6.12
  target/linux/mediatek/mt7622/config-6.12
  target/linux/mediatek/mt7623/config-6.12
  target/linux/mediatek/mt7629/config-6.12
  target/linux/mediatek/patches-6.12/320-hwrng-add-driver-for-MediaTek-TRNG-SMC.patch
Labels: kernel, target/mediatek

#20034 [WIP] realtek: rtl931x: rename SerDes read/write helpers
  target/linux/realtek/files-6.12/drivers/net/mdio/mdio-realtek-otto.c
  target/linux/realtek/files-6.12/drivers/net/phy/rtl83xx-phy.c
Labels: target/realtek

#20022 odhcpd: update to Git HEAD (2025-08-26)
  package/network/services/odhcpd/Makefile
Labels: core packages

#20000 uboot-mediatek: update Airoha EN8811H driver
  package/boot/uboot-mediatek/patches/160-net-phy-add-support-for-Airoha-ethernet-PHY-driver.patch
  package/boot/uboot-mediatek/patches/442-add-bpi-r3-mini.patch
Labels: core packages, target/mediatek

#19997 bcm27xx: Add padding after writing rootfs to image to fix possible device bricking after sysupgrade
  target/linux/bcm27xx/image/gen_rpi_sdcard_img.sh
Labels: target/bcm27xx

#20044 mediatek: add missing eeprom for ipTIME AX3000M
  target/linux/mediatek/dts/mt7981b-iptime-ax3000m.dts
Labels: target/mediatek

#20058 mediatek: add support for trng on mt7988a
  target/linux/mediatek/patches-6.12/965-dts-mt7988a-add-trng-support.patch
Labels: target/mediatek

#20029 realtek: Increase verbosity in rtldsa_fib4_add()
  target/linux/realtek/files-6.12/drivers/net/dsa/rtl83xx/common.c
Labels: target/realtek

#20024 ath79: tiny: tplink: add nvmem and fix
  target/linux/ath79/dts/ar7241_tplink.dtsi
  target/linux/ath79/dts/ar7241_tplink_tl-mr3220-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-mr3420-v1.dts
  target/linux/ath79/dts/ar7241_tplink_tl-wr841-v7.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
Labels: target/ath79

#20039 ath79: fix longdata-aps256 wan port to work in factory bootloader
  target/linux/ath79/dts/ar9344_longdata_aps256.dts
  target/linux/ath79/generic/base-files/etc/board.d/01_leds
  target/linux/ath79/generic/base-files/etc/board.d/02_network
Labels: target/ath79

#20078 realtek: mdio: minor cleanups for new SerDes driver
  target/linux/realtek/files-6.12/drivers/net/mdio/mdio-realtek-otto-serdes.c
Labels: target/realtek

#17985 [24.10] qualcommax: ipq807x: add support for Linksys HomeWRK
  package/boot/uboot-envtools/files/qualcommax_ipq807x
  package/firmware/ipq-wifi/Makefile
  target/linux/qualcommax/files/arch/arm64/boot/dts/qcom/ipq8174-homewrk.dts
  target/linux/qualcommax/image/ipq807x.mk
  target/linux/qualcommax/ipq807x/base-files/etc/board.d/02_network
  target/linux/qualcommax/ipq807x/base-files/etc/hotplug.d/firmware/11-ath11k-caldata
  target/linux/qualcommax/ipq807x/base-files/lib/upgrade/platform.sh
Labels: kernel, core packages, target/qualcommax, release/24.10

#20074 openssl: Backport fix for OpenSSL 3.5.2 and 3.0.17 regression
  package/libs/openssl/Makefile
  package/libs/openssl/patches/0001-Don-t-keep-the-store-open-in-by_store_ctrl_ex.patch
Labels: core packages

#20087 airoha: add missing Kconfig entry on 6.12
  target/linux/airoha/patches-6.12/105-uart-add-en7523-support.patch
Labels: target/airoha

#20050 econet: Add basic USB support with Mass Storage
  package/kernel/linux/modules/usb.mk
  target/linux/econet/Makefile
  target/linux/econet/dts/en751221.dtsi
  target/linux/econet/en751221/config-6.12
  target/linux/econet/image/en751221.mk
  target/linux/econet/patches-6.12/310-usb-enable-econet-usb.patch
Labels: kernel, core packages, target/econet

#19633 mediatek: filogic: add Keenetic Sprinter (KN-3711) support
  target/linux/mediatek/dts/mt7981b-keenetic-kn-3711.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#19962 mediatek: add support for AsiaRF AP7622-WH1
  package/boot/uboot-tools/uboot-envtools/files/mediatek_mt7622
  target/linux/mediatek/dts/mt7622-asiarf-ap7622-wh1.dts
  target/linux/mediatek/image/mt7622.mk
Labels: core packages, target/mediatek

#19944 ramips: add support for AsiaRF AP7621-004 Rev. 3
  package/boot/uboot-tools/uboot-envtools/files/ramips
  target/linux/ramips/dts/mt7621_asiarf_ap7621-004-v3.dts
  target/linux/ramips/image/mt7621.mk
Labels: core packages, target/ramips

#18905 ath79: tl-wdr4900-v2: set ath9k led-pin
  target/linux/ath79/dts/qca9558_tplink_tl-wdr4900-v2.dts
Labels: target/ath79

#20071 mediatek: filogic: add support for AsiaRF AP7986-003
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986a-asiarf-ap7986-003.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#20100 mediatek: Fix setting MAC address for some devices
  target/linux/mediatek/filogic/base-files/etc/hotplug.d/ieee80211/11_fix_wifi_mac
Labels: target/mediatek

#20096 kernel: bump 6.12 to 6.12.48
  target/linux/bcm27xx/patches-6.12/950-0331-serial-sc16is7xx-Read-modem-line-state-at-startup.patch
  target/linux/bcm27xx/patches-6.12/950-0685-nvme-pci-Disable-Host-Memory-Buffer-usage.patch
  target/linux/bcm27xx/patches-6.12/950-0702-serial-sc16is7xx-announce-support-for-SER_RS485_RTS_.patch
  target/linux/generic/backport-6.12/630-v6.17-bpf-Allow-fall-back-to-interpreter-for-programs-with.patch
  target/linux/generic/kernel-6.12
  target/linux/generic/pending-6.12/701-netfilter-nf_tables-ignore-EOPNOTSUPP-on-flowtable-d.patch
  target/linux/realtek/patches-6.12/700-dsa-mdio-increase-max-ports-for-rtl839x-rtl931x.patch
  target/linux/starfive/patches-6.12/0013-drivers-nvme-Add-precheck-and-delay-for-CQE-pending-.patch
Labels: target/bcm27xx, kernel, target/realtek, target/starfive

#20095 kernel: bump 6.6 to 6.6.107
  target/linux/generic/backport-6.6/716-v6.9-02-net-phy-add-support-for-scanning-PHY-in-PHY-packages.patch
  target/linux/generic/hack-6.6/901-debloat_sock_diag.patch
  target/linux/generic/hack-6.6/902-debloat_proc.patch
  target/linux/generic/kernel-6.6
  target/linux/generic/pending-6.6/681-net-remove-NETIF_F_GSO_FRAGLIST-from-NETIF_F_GSO_SOF.patch
Labels: kernel

#20035 mediatek: filogic: add support for Totolink X6000R
  target/linux/mediatek/dts/mt7981b-totolink-x6000r.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/01_leds
  target/linux/mediatek/image/filogic.mk
Labels: target/mediatek

#13107 mediatek: add support for Buffalo WSR-6000AX8 and AX8P
  package/boot/uboot-tools/uboot-envtools/files/mediatek_filogic
  target/linux/mediatek/dts/mt7986b-buffalo-wsr-6000ax8.dts
  target/linux/mediatek/filogic/base-files/etc/board.d/02_network
  target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh
  target/linux/mediatek/image/filogic.mk
Labels: core packages, target/mediatek

#19864 ath79: dlink,dir-615-e4: use nvmem
  target/linux/ath79/dts/ar7240_dlink_dir-615-e4.dts
  target/linux/ath79/tiny/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/tiny/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#17344 ath79: dir-842: use nvmem
  target/linux/ath79/dts/qca9563_dlink_dir-842-c.dtsi
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/10-ath9k-eeprom
  target/linux/ath79/generic/base-files/etc/hotplug.d/firmware/11-ath10k-caldata
  target/linux/ath79/generic/base-files/etc/hotplug.d/ieee80211/10_fix_wifi_mac
Labels: target/ath79

#19518 realtek: support configuring auto-negotiation on RTL93xx
  target/linux/realtek/files-6.12/drivers/net/pcs/pcs-rtl-otto.c
Labels: target/realtek

#20133 openssl: update to 3.5.3
  package/libs/openssl/Makefile
  package/libs/openssl/patches/0001-Don-t-keep-the-store-open-in-by_store_ctrl_ex.patch
Labels: core packages

#20211 build: remove iwinfo dependency
  include/image.mk
  include/target.mk
Labels: build/scripts/tools

#20195 ramips: mt76x8: fix 02_network typo
  target/linux/ramips/mt76x8/base-files/etc/board.d/02_network
Labels: target/ramips

#20227 kernel: rtl8261n: add support for Serdes TX swap
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phy.c
  target/linux/generic/files/drivers/net/phy/rtl8261n/rtk_phylib.h
Labels: kernel
